openapi: 3.0.0
info:
  title: Altera Licensing API
  description: All requests captured from https://licensing.altera.com — each entry
    is preserved as-is including duplicates.
  version: 1.0.0
servers:
- url: https://licensing.altera.com
  description: Altera Licensing Portal
paths:
  /sslc/s/sfsites/aura/entry-0:
    post:
      operationId: entry_0_sendData
      summary: Entry 0 - sendData
      description: 'Actual URL: https://licensing.altera.com/sslc/s/sfsites/aura?r=8&ui-instrumentation-components-beacon.InstrumentationBeacon.sendData=1

        Method: POST

        Actions: ui-instrumentation-components-beacon.InstrumentationBeacon.sendData'
      parameters:
      - name: r
        in: query
        required: true
        schema:
          type: string
          default: '8'
        example: '8'
      - name: ui-instrumentation-components-beacon.InstrumentationBeacon.sendData
        in: query
        required: true
        schema:
          type: string
          default: '1'
        example: '1'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '500':
          description: Server Error
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                message:
                  type: string
                aura.context:
                  type: string
                aura.pageURI:
                  type: string
                aura.token:
                  type: string
            example:
              message:
                actions:
                - id: 206;a
                  descriptor: serviceComponent://ui.instrumentation.components.beacon.InstrumentationBeaconController/ACTION$sendData
                  callingDescriptor: UNKNOWN
                  params:
                    batch:
                    - topic: ailtn
                      schemaType: LightningInteraction
                      payload: '{"id":"ltng:interaction","ts":21312.4,"pageStartTime":1778559872028,"owner":"siteforce:routerInitializer","unixTS":false,"rootId":"4592847af134e176","eventType":"user","eventSource":"synthetic-communitynavigation","attributes":{"pageViewCounter":1,"cdnEnabled":false,"cdnProviderFlags":4,"uriDefsEnabled":true,"oneRT":false,"gates":{}},"locator":{"target":"link","scope":"communitynavigation","context":{"unifiedEventType":"COMMUNITY_PAGE_NAVIGATION","referrer":"/sslc/s/","requestURI":"/sslc/s/","entityId":null}},"sequence":4,"page":{"context":"home","attributes":{"url":"/sslc/s/"}},"clientSessionId":"17aa34eb28b8c4c9"}'
                    - topic: ailtn
                      schemaType: LightningPerformance
                      payload: '{"id":"ltng:performance","ts":21313.09,"duration":17842,"pageStartTime":1778559872028,"marks":{},"owner":"siteforce:routerInitializer","unixTS":false,"rootId":"4592847af134e176","eventType":"performance","eventSource":"pageTracker","attributes":{"pageId":1,"phase":"END","defaultCmp":["selfService:userProfileMenu","c:Portal_Core_Footer","forceCommunity:richTextInline","c:sslc_Check_PSG"],"nonDefaultCmp":[],"backgroundTime":1822,"trxDeleted":{},"cdnEnabled":false,"cdnProviderFlags":4,"uriDefsEnabled":true,"oneRT":false,"gates":{}},"clientSessionId":"17aa34eb28b8c4c9"}'
                    - topic: ailtn
                      schemaType: LightningInteraction
                      payload: '{"id":"ltng:interaction","ts":21313.4,"pageStartTime":1778559872028,"owner":"siteforce:routerInitializer","unixTS":false,"rootId":"4592847af134e176","eventType":"system","eventSource":"defsUsage","attributes":{"defs":["DEPRECATED_SEE_W-12458083"],"lwcDefs":["runtime_feature_usage_sdk:featureUsageCollector","o11y_schema:sf_featureUsageAnalytics"],"auraDefs":[],"pageCounter":1,"phase":"navFromPage","pageViewCounter":1,"cdnEnabled":false,"cdnProviderFlags":4,"uriDefsEnabled":true,"oneRT":false,"gates":{}},"locator":{"target":"defsUsage","scope":"defsUsage"},"sequence":5,"page":{"context":"home","attributes":{"url":"/sslc/s/"}},"clientSessionId":"17aa34eb28b8c4c9"}'
                    - topic: ailtn
                      schemaType: LightningInteraction
                      payload: '{"id":"ltng:interaction","ts":21382.2,"pageStartTime":1778559872028,"owner":null,"unixTS":false,"eventType":"system","eventSource":"componentTracker","attributes":{"pageViewCounter":2,"cdnEnabled":false,"cdnProviderFlags":4,"uriDefsEnabled":true,"oneRT":false,"gates":{}},"locator":{"target":"default","scope":"component","context":{"devNameOrId":["forceCommunity:richTextInline","c:sslc_Check_PSG"]}},"sequence":6,"page":{"context":"home","attributes":{"url":"/sslc/s/"}},"clientSessionId":"17aa34eb28b8c4c9"}'
                    - topic: ailtn
                      schemaType: LightningPageView
                      payload: '{"id":"ltng:pageView","ts":21313.9,"duration":69,"pageStartTime":1778559872028,"marks":{"transport":[{"ts":3625.59,"context":{"auraXHRId":1,"requestLength":1326,"background":true,"actionDefs":["88;a"],"requestId":"36255000003dd8a26a","status":200,"statusText":"","responseLength":1857,"xhrDuration":335,"xhrStall":1,"startTime":3626,"fetchStart":3626,"requestStart":3627,"dns":0,"tcp":0,"ttfb":326,"transfer":8,"transferSize":1218,"nextHopProtocol":"h2","serverTime":102,"xhrDelay":1},"duration":336},{"ts":3623,"context":{"auraXHRId":0,"requestLength":2167,"background":false,"actionDefs":["30;a","41;a","77;a","81;a","95;a"],"requestId":"3623000000d0797bf5","status":200,"statusText":"","responseLength":17063,"xhrDuration":441,"xhrStall":1,"startTime":3624,"fetchStart":3624,"requestStart":3626,"dns":0,"tcp":0,"ttfb":434,"transfer":7,"transferSize":5803,"nextHopProtocol":"h2","serverTime":209,"xhrDelay":3},"duration":444},{"ts":3964.7,"context":{"auraXHRId":2,"requestLength":1204,"background":false,"actionDefs":["101;a"],"requestId":"396459000009d83454","status":200,"statusText":"","responseLength":3055,"xhrDuration":297,"xhrStall":1,"startTime":3965,"fetchStart":3965,"requestStart":3966,"dns":0,"tcp":0,"ttfb":290,"transfer":6,"transferSize":1670,"nextHopProtocol":"h2","serverTime":62,"xhrDelay":0},"duration":297},{"ts":3473.4,"context":{"defLoaderId":0,"initiatorType":"script","nextHopProtocol":"h2","duration":814,"startTime":3473,"fetchStart":3473,"serverTime":175,"redirect":0,"requestStart":3474,"incompleteTimings":false,"transferSize":93309,"encodedBodySize":93009,"decodedBodySize":462482,"dns":0,"tcp":0,"ttfb":606,"transfer":208,"defs":["sitelayout://siteforce-generatedpage-23d40bfb-a938-4d1d-9f8e-1845a1d06b7f.c10"],"xhrDelay":5},"duration":819},{"ts":4314.7,"context":{"auraXHRId":4,"requestLength":1502,"background":false,"actionDefs":["142;a"],"requestId":"4314700000c363dbc3","status":200,"statusText":"","responseLength":1855,"xhrDuration":249,"xhrStall":1,"startTime":4315,"fetchStart":4315,"requestStart":4316,"dns":0,"tcp":0,"ttfb":245,"transfer":4,"transferSize":1205,"nextHopProtocol":"h2","serverTime":28,"xhrDelay":2},"duration":251},{"ts":3646.5,"context":{"defLoaderId":2,"initiatorType":"script","nextHopProtocol":"h2","duration":935,"startTime":3646,"fetchStart":3646,"serverTime":26,"redirect":0,"requestStart":4326,"incompleteTimings":false,"transferSize":6004,"encodedBodySize":5704,"decodedBodySize":18707,"dns":0,"tcp":0,"ttfb":932,"transfer":2,"defs":["markup://lightning:f6Controller"],"xhrDelay":1},"duration":936},{"ts":3645.3,"context":{"defLoaderId":1,"initiatorType":"script","nextHopProtocol":"h2","duration":1112,"startTime":3646,"fetchStart":3646,"serverTime":27,"redirect":0,"requestStart":4293,"incompleteTimings":false,"transferSize":24056,"encodedBodySize":23756,"decodedBodySize":82085,"dns":0,"tcp":0,"ttfb":896,"transfer":215,"defs":["markup://instrumentation:o11ySecondaryLoader"],"xhrDelay":2},"duration":1114},{"ts":4271.59,"context":{"auraXHRId":3,"requestLength":1370,"background":false,"actionDefs":["134;a"],"requestId":"42715900005bdb6310","status":200,"statusText":"","responseLength":4847,"xhrDuration":607,"xhrStall":1,"startTime":4271,"fetchStart":4271,"requestStart":4272,"dns":0,"tcp":0,"ttfb":597,"transfer":9,"transferSize":1740,"nextHopProtocol":"h2","serverTime":374,"xhrDelay":16},"duration":623},{"ts":4099.09,"context":{"defLoaderId":3,"initiatorType":"script","nextHopProtocol":"h2","duration":1109,"startTime":4099,"fetchStart":4099,"serverTime":30,"redirect":0,"requestStart":4547,"incompleteTimings":false,"transferSize":179369,"encodedBodySize":179069,"decodedBodySize":737411,"dns":0,"tcp":0,"ttfb":703,"transfer":406,"defs":["markup://lightning:iconSvgTemplatesUtility"],"xhrDelay":4},"duration":1113},{"ts":5523.5,"context":{"auraXHRId":6,"requestLength":1370,"background":false,"actionDefs":["158;a","160;a"],"requestId":"5523500000bba46183","status":200,"statusText":"","responseLength":3140,"xhrDuration":291,"xhrStall":6,"startTime":5525,"fetchStart":5525,"requestStart":5531,"dns":0,"tcp":0,"ttfb":286,"transfer":4,"transferSize":2032,"nextHopProtocol":"h2","serverTime":60,"xhrDelay":2},"duration":293},{"ts":5511.9,"context":{"auraXHRId":5,"requestLength":59459,"background":true,"actionDefs":["157;a"],"requestId":"551190000046409247","status":200,"statusText":"","responseLength":2079,"xhrDuration":706,"xhrStall":4,"startTime":5513,"fetchStart":5513,"requestStart":5517,"dns":0,"tcp":0,"ttfb":703,"transfer":2,"transferSize":1252,"nextHopProtocol":"h2","serverTime":474,"xhrDelay":2},"duration":708},{"ts":6265.09,"context":{"auraXHRId":7,"requestLength":24214,"background":true,"actionDefs":["164;a"],"requestId":"6265090000b0f1f46d","status":200,"statusText":"","responseLength":2034,"xhrDuration":455,"xhrStall":1,"startTime":6265,"fetchStart":6265,"requestStart":6267,"dns":0,"tcp":0,"ttfb":454,"transfer":0,"transferSize":1237,"nextHopProtocol":"h2","serverTime":231,"xhrDelay":1},"duration":456},{"ts":6765.59,"context":{"defLoaderId":4,"initiatorType":"script","nextHopProtocol":"h2","duration":718,"startTime":6765,"fetchStart":7115,"serverTime":29,"redirect":349,"requestStart":7116,"incompleteTimings":false,"transferSize":2887,"encodedBodySize":2587,"decodedBodySize":6733,"dns":0,"tcp":0,"ttfb":717,"transfer":0,"defs":["markup://runtime_feature_usage_sdk:featureUsageCollector"],"xhrDelay":1},"duration":719}],"actions":[{"ts":3602.8,"context":{"id":"88;a","abortable":true,"storable":true,"background":true,"cmp":"siteforce:publiclyCacheableAttributeLoader","def":"serviceComponent://ui.comm.runtime.components.aura.components.siteforce.controller.PubliclyCacheableAttributeLoaderController/ACTION$getComponentAttributes","state":"SUCCESS","cache":false},"xhrWait":3,"enqueueWait":19,"serverTime":{"total":51,"db":7,"xhrServerTime":102,"boxCarCount":1},"callbackTime":0,"duration":360},{"ts":3526.9,"context":{"id":"30;a","abortable":true,"storable":true,"background":false,"cmp":"forceChatter:messagesManager","def":"serviceComponent://ui.chatter.components.messages.MessagesController/ACTION$getMessagingPermAndPref","state":"SUCCESS","cache":false},"xhrWait":1,"enqueueWait":95,"serverTime":{"total":13,"db":2,"xhrServerTime":208,"boxCarCount":5},"callbackTime":0,"duration":541},{"ts":3567,"context":{"id":"41;a","abortable":false,"storable":false,"background":false,"cmp":"selfService:profileMenuAPI","def":"serviceComponent://ui.self.service.components.profileMenu.ProfileMenuController/ACTION$getProfileMenuResponse","state":"SUCCESS","cache":false},"xhrWait":1,"enqueueWait":55,"serverTime":{"total":40,"db":14,"xhrServerTime":208,"boxCarCount":5},"callbackTime":11,"duration":512},{"ts":3599.4,"context":{"id":"77;a","abortable":true,"storable":true,"background":false,"cmp":"force:empApi","def":"serviceComponent://ui.force.components.controllers.empApi.EmpApiController/ACTION$getEmpConfig","state":"SUCCESS","cache":false},"xhrWait":1,"enqueueWait":23,"serverTime":{"total":0,"db":0,"xhrServerTime":208,"boxCarCount":5},"callbackTime":1,"duration":481},{"ts":3600.5,"context":{"id":"81;a","abortable":true,"storable":true,"background":false,"cmp":"uns:notifications","def":"serviceComponent://ui.notifications.components.notifications.controller.NotificationsController/ACTION$getInitializationValues","state":"SUCCESS","cache":false},"xhrWait":1,"enqueueWait":22,"serverTime":{"total":0,"db":0,"xhrServerTime":208,"boxCarCount":5},"callbackTime":5,"duration":485},{"ts":3605,"context":{"id":"95;a","abortable":true,"storable":true,"background":false,"cmp":"force:hostConfig","def":"serviceComponent://ui.force.components.controllers.hostConfig.HostConfigController/ACTION$getConfigData","state":"SUCCESS","cache":false},"xhrWait":1,"enqueueWait":17,"serverTime":{"total":77,"db":0,"xhrServerTime":208,"boxCarCount":5},"callbackTime":1,"duration":482},{"ts":3964.59,"context":{"id":"101;a","abortable":true,"storable":false,"background":false,"cmp":"none","def":"aura://ComponentController/ACTION$getComponent","state":"SUCCESS","cache":false},"params":{"name":"markup://forceCommunity:globalNavigation"},"xhrWait":0,"enqueueWait":0,"serverTime":{"total":19,"db":2,"xhrServerTime":62,"boxCarCount":1},"callbackTime":8,"duration":306},{"ts":4299.2,"context":{"id":"142;a","abortable":true,"storable":true,"background":false,"cmp":"forceCommunity:richText","def":"serviceComponent://ui.communities.components.aura.components.forceCommunity.richText.RichTextController/ACTION$getParsedRichTextValue","state":"SUCCESS","cache":false},"xhrWait":0,"enqueueWait":15,"serverTime":{"total":0,"db":0,"xhrServerTime":27,"boxCarCount":1},"callbackTime":0,"duration":267},{"ts":4270.59,"context":{"id":"134;a","abortable":true,"storable":true,"background":false,"cmp":"forceCommunity:navigationMenuBase","def":"serviceComponent://ui.communities.components.aura.components.forceCommunity.navigationMenu.NavigationMenuDataProviderController/ACTION$getNavigationMenu","state":"SUCCESS","cache":false},"params":{"navigationLinkSetIdOrName":"Sslc_External_Navigation_Menu","includeImageUrl":false,"addHomeMenuItem":true,"menuItemTypesToSkip":"[\"SystemLink\",\"Event\",\"Modal\"]","masterLabel":"Default
                        Navigation"},"xhrWait":0,"enqueueWait":1,"serverTime":{"total":339,"db":30,"xhrServerTime":374,"boxCarCount":1},"callbackTime":4,"duration":629},{"ts":5516.3,"context":{"id":"158;a","abortable":false,"storable":false,"background":false,"cmp":"salesforceIdentity:sessionTimeoutWarn","def":"serviceComponent://ui.identity.components.sessiontimeoutwarn.SessionTimeoutWarnController/ACTION$getSessionTimeoutConfig","state":"SUCCESS","cache":false},"xhrWait":0,"enqueueWait":7,"serverTime":{"total":10,"db":5,"xhrServerTime":60,"boxCarCount":2},"callbackTime":0,"duration":301},{"ts":5518.59,"context":{"id":"160;a","abortable":false,"storable":false,"background":false,"cmp":"uns:notifications","def":"serviceComponent://ui.notifications.components.notifications.controller.NotificationsController/ACTION$getNotifications","state":"SUCCESS","cache":false},"xhrWait":0,"enqueueWait":4,"serverTime":{"total":11,"db":1,"xhrServerTime":60,"boxCarCount":2},"callbackTime":0,"duration":299},{"ts":21317,"context":{"id":"194;a","abortable":true,"storable":true,"background":false,"cmp":"forceCommunity:richText","def":"serviceComponent://ui.communities.components.aura.components.forceCommunity.richText.RichTextController/ACTION$getParsedRichTextValue","state":"SUCCESS","cache":true},"callbackTime":0,"enqueueWait":4,"duration":4}],"component":[{"totalCreateTime":232.5,"slowestCreates":[{"name":"siteforce:communityApp","createCount":1,"createTimeTotal":154.59},{"name":"forceCommunity:richTextInline","createCount":2,"createTimeTotal":8.09},{"name":"siteforce-generatedpage-23d40bfb-a938-4d1d-9f8e-1845a1d06b7f.c10","createCount":2,"createTimeTotal":25.4},{"name":"ui:menu","createCount":1,"createTimeTotal":9},{"name":"forceCommunity:globalNavigation","createCount":1,"createTimeTotal":8.09}]}]},"owner":"siteforce:routerInitializer","unixTS":false,"rootId":"4592847af134e176","previousPage":{"context":"home","attributes":{"url":"/sslc/s/"}},"attributes":{"designTime":false,"domain":"https://licensing.altera.com","template":"Service
                        Community Template","priorityDuration":{},"ltngRttMedian":224.5,"ltngDownloadMedian":2.86,"ltngCacheHits":0,"cdnRttMedian":0,"cdnDownloadMedian":0,"cdnCacheHits":0,"longTaskTotal":0,"longestTask":0,"network":{"rtt":50,"downlink":5.9,"maxAllowedParallelXHRs":24},"cores":12,"eptDeviation":false,"expTime":73,"expTimeDeviation":false,"expTimePageExists":true,"inFlightXHRS":0,"systemOrUntrackedNav":false,"routerNavigations":1,"eptRedirectTime":0,"density":"UNKNOWN","totalEpt":68,"defaultCmp":["forceCommunity:richTextInline","c:sslc_Check_PSG"],"gates":{"ui.services.PageScopedCache.enabled":true,"updatedEpt.instrumentation.ltng":false,"arrayAtPolyfillEnabled.instrumentation.ltng":true,"browserIdleTime.instrumentation.ltng":false,"scenarioTrackerEnabled.instrumentation.ltng":true,"lds.useHttpUiapiOneApp":false,"lds.pdl.useRelatedListsPredictions":true,"lds.pdl.useRelatedListPlus":true,"lds.useNewTrackedFieldBehavior":true,"lds.usePredictiveLoading":true,"lds.pdl.canCombineRecordLayoutRequests":true,"lds.pdl.useLocalStorage":true,"lds.pdl.applyRequestLimit":false,"lds.pdl.useApexPredictions":true,"lds.oneStoreGraphqlEnabled.ltng":false,"clientTelemetry.instrumentation.ltng":true,"componentProfiler.instrumentation.ltng":false,"colorIconsMenuItem.bc.ltng":true,"bc.260.enableA11yMultiColSortModal":true,"bc.260.enableAssertContext260":true,"bc.260.enableAssertContext260Round2":true,"mpe.260.enableAssertContextForBarcodeScanner":true,"bc.260.enableBaseComboboxNullCheck":true,"bc.260.enableCalendarGridCellAriaFix":false,"bc.258.enableCalendarMinMaxNavigation":true,"bc.260.enableCheckboxGroupStaticErrDom":true,"bc.260.enableComboboxElementInternals":false,"bc.258.enableConsolidateTypeAttributes":true,"bc.260.enableDTHeightCalcForScrollbar":false,"bc.258.enableDatatableHoverStyling":true,"bc.258.enableDatatablePositionOverride":true,"bc.260.enableDatatableUseClientWidth":true,"bc.258.enableDatatableVoiceoverFix":true,"bc.258.enableDateInvalidYearHandling":true,"bc.258.enableDisabledRowsAttribute":true,"bc.258.enableDropdownCloseDelay":true,"bc.260.enableDualListboxA11yReqOptionErrFix":true,"bc.258.enableDualListboxSingleCharTypeahead":true,"bc.260.enableFontSizeThirteen":true,"bc.260.enableFormattedRichTextParts":true,"bc.260.enableGeolocationTimeout":true,"bc.258.enableInputModeOverride":true,"bc.258.enableInputSearchCommitEvent":true,"bc.258.enableLookupFieldObjApiName":true,"bc.260.enableManualImageUpload":false,"bc.258.enableMaxEditLimit":true,"bc.258.enableNoDescribedbyTooltip":true,"bc.258.enableOutputFieldReadOnlyClass":false,"bc.260.enablePftTelemetrySingleComp":true,"bc.260.enablePositionLibFlipCalcWithViewportRight":true,"bc.258.enablePositionLibraryFlipInOverlay":true,"bc.260.enablePositionLibraryTransformScaleFix":true,"bc.260.enableRadioGroupStaticErrDom":true,"bc.260.enableRelativeDateTimeLocale":true,"bc.260.enableSelectStaticErrDom":true,"bc.258.enableTextareaReadOnlyStatic":true,"bc.258.enableTimeIntervalApi":true,"bc.260.enableTooltipFlashingFix":true,"bc.260.enableTooltipHoverDismiss":true,"bc.260.enableTreeGridSecondArrKeyUpdate":true,"bc.260.enableformattedtextlinkrouting":false,"primitiveThemeProviderDisabled.bc.ltng":false,"o11yAuraActionsEnabled.instrumentation.ltng":false,"o11yEnabled.instrumentation.ltng":true,"webVitalsKillSwitch.instrumentation.ltng":true,"com.salesforce.aura.enableAuraO11yMetrics":true,"disableFlushIfIdle.instrumentation.ltng":true,"scenarioTrackerMarksEnabled.instrumentation.ltng":false,"limitPerfTrxMarks.instrumentation.ltng":true},"cdnEnabled":false,"cdnProviderFlags":4,"uriDefsEnabled":true,"oneRT":false},"cacheStats":{"AuraStorage_actions":{"hits":1,"misses":0},"total":{"hits":1,"misses":0}},"complexity":null,"ept":68,"sequence":2,"page":{"context":"home","attributes":{"url":"/sslc/s/"}},"clientSessionId":"17aa34eb28b8c4c9"}'
                    metrics: '[{"owner":"Instrumentation","name":"scenarioTime.ms","type":"PercentileHistogram","ts":1778559893410,"value":[68,124,73]},{"owner":"Instrumentation","name":"bwUsageReceived.afterEpt.bytes","type":"PercentileHistogram","ts":1778559893341,"value":[9037]},{"owner":"Instrumentation","name":"bwUsageSent.afterEpt.bytes","type":"PercentileHistogram","ts":1778559893341,"value":[85791]},{"owner":"Instrumentation","name":"bwUsage.instrSizePct","type":"PercentileHistogram","ts":1778559893341,"value":[1]},{"owner":"Instrumentation","name":"pageview.ept.ms","type":"PercentileHistogram","ts":1778559893411,"value":[68]},{"name":"acs.decode","owner":"AuraClientService","type":"Counter","ts":1778559893411,"value":3,"tags":{"status":"success"}},{"name":"acs.internalSend","owner":"AuraClientService","type":"Counter","ts":1778559893411,"value":3,"tags":{"status":"success"}},{"name":"acs.receive","owner":"AuraClientService","type":"Counter","ts":1778559893411,"value":3,"tags":{"status":"success"}},{"name":"ars.render","owner":"AuraClientService","type":"Counter","ts":1778559893411,"value":77,"tags":{"status":"success"}},{"name":"ars.rerender","owner":"AuraClientService","type":"Counter","ts":1778559893411,"value":11,"tags":{"status":"success"}},{"name":"ars.unrender","owner":"AuraClientService","type":"Counter","ts":1778559893411,"value":171,"tags":{"status":"success"}},{"name":"evt.executeHandlerIterator","owner":"AuraClientService","type":"Counter","ts":1778559893411,"value":62,"tags":{"status":"success"}},{"name":"startRootActivity","owner":"o11y","type":"Counter","ts":1778559893338,"value":3,"tags":{"status":"success"}},{"name":"startActivity","owner":"o11y","type":"Counter","ts":1778559893342,"value":1,"tags":{"status":"success"}},{"name":"incrementCounter","owner":"o11y","type":"Counter","ts":1778559893411,"value":7,"tags":{"status":"success"}},{"name":"activity.stop","owner":"o11y","type":"Counter","ts":1778559893411,"value":4,"tags":{"status":"success"}},{"name":"transactionStart","owner":"aurametricsservice","type":"Counter","ts":1778559893342,"value":4,"tags":{"status":"success"}},{"name":"transaction","owner":"aurametricsservice","type":"Counter","ts":1778559893411,"value":4,"tags":{"status":"success"}},{"name":"activity.discard","owner":"o11y","type":"Counter","ts":1778559893410,"value":2,"tags":{"status":"success"}},{"name":"transactionEnd","owner":"aurametricsservice","type":"Counter","ts":1778559893412,"value":2,"tags":{"status":"success"}},{"name":"log","owner":"o11y","type":"Counter","ts":1778559893342,"value":2,"tags":{"status":"success"}}]'
                    o11yLogs: CiAKBG8xMXkRzWT646bheUIYAyAAKAAyBzI2MC41LjA4ABL6Ggobc2YuaW5zdHJ1bWVudGF0aW9uLkFjdGl2aXR5EvACCQAgOuOm4XlCEroBChBhMzEwNDE0ODFlZTI2NjNmEg9MZXhSb290QWN0aXZpdHkZZmZmZmbGXkAigwEKFnNmLmxleC5TY2VuYXJpb1RyYWNrZXISaQgCGPallRAg5LScECgAMABSFWNvbW0tbmF2aWdhdGlvbl9faXRlbVo1c2xkcy1jb250YWluZXJfZmx1aWQgc2xkcy1idXR0b24tLXJlc2V0IHNsZHMtdHJ1bmNhdGVhAAAAAAAAAABoAEABUABYAGAAGQAAAMxs4dFAKAoyFnNpdGVmb3JjZTpjb21tdW5pdHlBcHA6PgoSc2YubGV4LlBhZ2VQYXlsb2FkEigIASIkaHR0cHM6Ly9saWNlbnNpbmcuYWx0ZXJhLmNvbS9zc2xjL3MvQhZzaXRlZm9yY2U6Y29tbXVuaXR5QXBwSgI0Z1IVChFzZi5sZXguQXBwUGF5bG9hZBIAWAJiEDE3YWEzNGViMjhiOGM0YzkS5xcJmuH146bheUISnxYKEDIwMjMyZmQ2NzZmOTQzMGESCHBhZ2V2aWV3GWZmZmZmJlFAIvEVCg9zZi5sZXguUGFnZXZpZXcS3RUIAhEAAAAAAABRQCkAAAAAAABRQDEAAAAAAAAAAEEAAAAAAAAAAEkAAAAAAAAAAFAAWQAAAAAAAElAYZqZmZmZmRdAcAGAARiKASN1aS5zZXJ2aWNlcy5QYWdlU2NvcGVkQ2FjaGUuZW5hYmxlZIoBK2FycmF5QXRQb2x5ZmlsbEVuYWJsZWQuaW5zdHJ1bWVudGF0aW9uLmx0bmeKAStzY2VuYXJpb1RyYWNrZXJFbmFibGVkLmluc3RydW1lbnRhdGlvbi5sdG5nigEibGRzLnBkbC51c2VSZWxhdGVkTGlzdHNQcmVkaWN0aW9uc4oBGmxkcy5wZGwudXNlUmVsYXRlZExpc3RQbHVzigEebGRzLnVzZU5ld1RyYWNrZWRGaWVsZEJlaGF2aW9yigEYbGRzLnVzZVByZWRpY3RpdmVMb2FkaW5nigEmbGRzLnBkbC5jYW5Db21iaW5lUmVjb3JkTGF5b3V0UmVxdWVzdHOKARdsZHMucGRsLnVzZUxvY2FsU3RvcmFnZYoBGmxkcy5wZGwudXNlQXBleFByZWRpY3Rpb25zigEkY2xpZW50VGVsZW1ldHJ5Lmluc3RydW1lbnRhdGlvbi5sdG5nigEaY29sb3JJY29uc01lbnVJdGVtLmJjLmx0bmeKASJiYy4yNjAuZW5hYmxlQTExeU11bHRpQ29sU29ydE1vZGFsigEdYmMuMjYwLmVuYWJsZUFzc2VydENvbnRleHQyNjCKASNiYy4yNjAuZW5hYmxlQXNzZXJ0Q29udGV4dDI2MFJvdW5kMooBLG1wZS4yNjAuZW5hYmxlQXNzZXJ0Q29udGV4dEZvckJhcmNvZGVTY2FubmVyigEiYmMuMjYwLmVuYWJsZUJhc2VDb21ib2JveE51bGxDaGVja4oBJWJjLjI1OC5lbmFibGVDYWxlbmRhck1pbk1heE5hdmlnYXRpb26KASZiYy4yNjAuZW5hYmxlQ2hlY2tib3hHcm91cFN0YXRpY0VyckRvbYoBJmJjLjI1OC5lbmFibGVDb25zb2xpZGF0ZVR5cGVBdHRyaWJ1dGVzigEiYmMuMjU4LmVuYWJsZURhdGF0YWJsZUhvdmVyU3R5bGluZ4oBJmJjLjI1OC5lbmFibGVEYXRhdGFibGVQb3NpdGlvbk92ZXJyaWRligEkYmMuMjYwLmVuYWJsZURhdGF0YWJsZVVzZUNsaWVudFdpZHRoigEiYmMuMjU4LmVuYWJsZURhdGF0YWJsZVZvaWNlb3ZlckZpeIoBJGJjLjI1OC5lbmFibGVEYXRlSW52YWxpZFllYXJIYW5kbGluZ4oBImJjLjI1OC5lbmFibGVEaXNhYmxlZFJvd3NBdHRyaWJ1dGWKAR9iYy4yNTguZW5hYmxlRHJvcGRvd25DbG9zZURlbGF5igErYmMuMjYwLmVuYWJsZUR1YWxMaXN0Ym94QTExeVJlcU9wdGlvbkVyckZpeIoBK2JjLjI1OC5lbmFibGVEdWFsTGlzdGJveFNpbmdsZUNoYXJUeXBlYWhlYWSKAR1iYy4yNjAuZW5hYmxlRm9udFNpemVUaGlydGVlbooBI2JjLjI2MC5lbmFibGVGb3JtYXR0ZWRSaWNoVGV4dFBhcnRzigEfYmMuMjYwLmVuYWJsZUdlb2xvY2F0aW9uVGltZW91dIoBHmJjLjI1OC5lbmFibGVJbnB1dE1vZGVPdmVycmlkZYoBI2JjLjI1OC5lbmFibGVJbnB1dFNlYXJjaENvbW1pdEV2ZW50igEiYmMuMjU4LmVuYWJsZUxvb2t1cEZpZWxkT2JqQXBpTmFtZYoBGWJjLjI1OC5lbmFibGVNYXhFZGl0TGltaXSKASFiYy4yNTguZW5hYmxlTm9EZXNjcmliZWRieVRvb2x0aXCKASNiYy4yNjAuZW5hYmxlUGZ0VGVsZW1ldHJ5U2luZ2xlQ29tcIoBMWJjLjI2MC5lbmFibGVQb3NpdGlvbkxpYkZsaXBDYWxjV2l0aFZpZXdwb3J0UmlnaHSKASliYy4yNTguZW5hYmxlUG9zaXRpb25MaWJyYXJ5RmxpcEluT3ZlcmxheYoBLWJjLjI2MC5lbmFibGVQb3NpdGlvbkxpYnJhcnlUcmFuc2Zvcm1TY2FsZUZpeIoBI2JjLjI2MC5lbmFibGVSYWRpb0dyb3VwU3RhdGljRXJyRG9tigEjYmMuMjYwLmVuYWJsZVJlbGF0aXZlRGF0ZVRpbWVMb2NhbGWKAR9iYy4yNjAuZW5hYmxlU2VsZWN0U3RhdGljRXJyRG9tigEjYmMuMjU4LmVuYWJsZVRleHRhcmVhUmVhZE9ubHlTdGF0aWOKARxiYy4yNTguZW5hYmxlVGltZUludGVydmFsQXBpigEfYmMuMjYwLmVuYWJsZVRvb2x0aXBGbGFzaGluZ0ZpeIoBIGJjLjI2MC5lbmFibGVUb29sdGlwSG92ZXJEaXNtaXNzigEnYmMuMjYwLmVuYWJsZVRyZWVHcmlkU2Vjb25kQXJyS2V5VXBkYXRligEgbzExeUVuYWJsZWQuaW5zdHJ1bWVudGF0aW9uLmx0bmeKASh3ZWJWaXRhbHNLaWxsU3dpdGNoLmluc3RydW1lbnRhdGlvbi5sdG5nigEpY29tLnNhbGVzZm9yY2UuYXVyYS5lbmFibGVBdXJhTzExeU1ldHJpY3OKASdkaXNhYmxlRmx1c2hJZklkbGUuaW5zdHJ1bWVudGF0aW9uLmx0bmeKASZsaW1pdFBlcmZUcnhNYXJrcy5pbnN0cnVtZW50YXRpb24ubHRuZ5IBH3VwZGF0ZWRFcHQuaW5zdHJ1bWVudGF0aW9uLmx0bmeSASRicm93c2VySWRsZVRpbWUuaW5zdHJ1bWVudGF0aW9uLmx0bmeSARZsZHMudXNlSHR0cFVpYXBpT25lQXBwkgEZbGRzLnBkbC5hcHBseVJlcXVlc3RMaW1pdJIBH2xkcy5vbmVTdG9yZUdyYXBocWxFbmFibGVkLmx0bmeSASZjb21wb25lbnRQcm9maWxlci5pbnN0cnVtZW50YXRpb24ubHRuZ5IBJGJjLjI2MC5lbmFibGVDYWxlbmRhckdyaWRDZWxsQXJpYUZpeJIBJWJjLjI2MC5lbmFibGVDb21ib2JveEVsZW1lbnRJbnRlcm5hbHOSASViYy4yNjAuZW5hYmxlRFRIZWlnaHRDYWxjRm9yU2Nyb2xsYmFykgEeYmMuMjYwLmVuYWJsZU1hbnVhbEltYWdlVXBsb2FkkgElYmMuMjU4LmVuYWJsZU91dHB1dEZpZWxkUmVhZE9ubHlDbGFzc5IBJWJjLjI2MC5lbmFibGVmb3JtYXR0ZWR0ZXh0bGlua3JvdXRpbmeSASZwcmltaXRpdmVUaGVtZVByb3ZpZGVyRGlzYWJsZWQuYmMubHRuZ5IBK28xMXlBdXJhQWN0aW9uc0VuYWJsZWQuaW5zdHJ1bWVudGF0aW9uLmx0bmeSATBzY2VuYXJpb1RyYWNrZXJNYXJrc0VuYWJsZWQuaW5zdHJ1bWVudGF0aW9uLmx0bmeyAR1mb3JjZUNvbW11bml0eTpyaWNoVGV4dElubGluZbIBEGM6c3NsY19DaGVja19QU0fIAQyCAg9QTEFDRUhPTERFUl9VUkyKAgRob21lkgIOUExBQ0VIT0xERVJfSURQAFgAYAAZAAAANHPQ1EAiEDQ1OTI4NDdhZjEzNGUxNzYoDDIWc2l0ZWZvcmNlOmNvbW11bml0eUFwcDo+ChJzZi5sZXguUGFnZVBheWxvYWQSKAgCIiRodHRwczovL2xpY2Vuc2luZy5hbHRlcmEuY29tL3NzbGMvcy9CFnNpdGVmb3JjZTpjb21tdW5pdHlBcHBKAjRnUhUKEXNmLmxleC5BcHBQYXlsb2FkEgBYAmIQMTdhYTM0ZWIyOGI4YzRjORLJAgolc2YuaW5zdHJ1bWVudGF0aW9uLklkbGVEZXRlY3RvclJlcG9ydBKfAgkAmGjgpuF5QhJ0CWZmZmZmWKlAEQAAAAAAwHJAGAEgACoQQXVyYUlkbGVEZXRlY3RvcioMbzExeSBuZXR3b3JrKgxvMTF5IG5ldHdvcmsqDG8xMXkgbmV0d29yazIgAMDMzMyCnkAAQDMzMzWUQADAmZmZHYZAAICZmZmJfEAZAAAAMDNtukAoCTIMSWRsZURldGVjdG9yOj4KEnNmLmxleC5QYWdlUGF5bG9hZBIoCAEiJGh0dHBzOi8vbGljZW5zaW5nLmFsdGVyYS5jb20vc3NsYy9zL0IWc2l0ZWZvcmNlOmNvbW11bml0eUFwcEoCNGdSFQoRc2YubGV4LkFwcFBheWxvYWQSAFgBYhAxN2FhMzRlYjI4YjhjNGM5EtICCg5zZi5sZXguUGFnZUVuZBK/AgkA4PXjpuF5QhJ4CAERAAAAAIBs0UAaG3NlbGZTZXJ2aWNlOnVzZXJQcm9maWxlTWVudRoUYzpQb3J0YWxfQ29yZV9Gb290ZXIaHWZvcmNlQ29tbXVuaXR5OnJpY2hUZXh0SW5saW5lGhBjOnNzbGNfQ2hlY2tfUFNHKQAAAAAAeJxAGQAAAMxs0NRAIhA0NTkyODQ3YWYxMzRlMTc2KAsyFnNpdGVmb3JjZTpjb21tdW5pdHlBcHA6PgoSc2YubGV4LlBhZ2VQYXlsb2FkEigIASIkaHR0cHM6Ly9saWNlbnNpbmcuYWx0ZXJhLmNvbS9zc2xjL3MvQhZzaXRlZm9yY2U6Y29tbXVuaXR5QXBwSgI0Z1IVChFzZi5sZXguQXBwUGF5bG9hZBIAWAFiEDE3YWEzNGViMjhiOGM0YzkaACIA
                    c:
                      batch: 17961
                      metrics: 2583
                      o11yLogs: 5552
              aura.context:
                mode: PROD
                fwuid: ZkJhOVpLN2NZQkJrd2NWd3pMcnFOdzJEa1N5enhOU3R5QWl2VzNveFZTbGcxMy4tMjE0NzQ4MzY0OC4xMzEwNzIwMA
                app: siteforce:communityApp
                loaded:
                  APPLICATION@markup://siteforce:communityApp: 1544_-QE8H35gPOQmfpGx0OKiMg
                dn: []
                globals: {}
                uad: true
              aura.pageURI: /sslc/s/
              aura.token: eyJub25jZSI6IjZ1UTA3TWlkcWVJdmV5Nkc0cWJGUklOVlVJQkFWZERBZlg0STRVVXFPaW9cdTAwM2QiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImtpZCI6IntcInRcIjpcIjAwRFVpMDAwMDAwMDAwMVwiLFwidlwiOlwiMDJHVWkwMDAwMDAwMDAxXCIsXCJhXCI6XCJjYWltYW5zaWduZXJcIn0iLCJjcml0IjpbImlhdCJdLCJpYXQiOjE3Nzg1NTk4NzQxNDUsImV4cCI6MH0=..uOtbjk5HzhPIsvbV_nQoFd2B4K_pp6AWj25bgLfKu2k=
  /sslc/s/sfsites/aura/entry-1:
    post:
      operationId: entry_1_execute
      summary: Entry 1 - execute
      description: 'Actual URL: https://licensing.altera.com/sslc/s/sfsites/aura?r=9&aura.ApexAction.execute=1

        Method: POST

        Actions: aura.ApexAction.execute'
      parameters:
      - name: r
        in: query
        required: true
        schema:
          type: string
          default: '9'
        example: '9'
      - name: aura.ApexAction.execute
        in: query
        required: true
        schema:
          type: string
          default: '1'
        example: '1'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '500':
          description: Server Error
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                message:
                  type: string
                aura.context:
                  type: string
                aura.pageURI:
                  type: string
                aura.token:
                  type: string
            example:
              message:
                actions:
                - id: 236;a
                  descriptor: aura://ApexActionController/ACTION$execute
                  callingDescriptor: UNKNOWN
                  params:
                    namespace: ''
                    classname: AddNewLicenseAdminController
                    method: isCommunity
                    cacheable: false
                    isContinuation: false
              aura.context:
                mode: PROD
                fwuid: ZkJhOVpLN2NZQkJrd2NWd3pMcnFOdzJEa1N5enhOU3R5QWl2VzNveFZTbGcxMy4tMjE0NzQ4MzY0OC4xMzEwNzIwMA
                app: siteforce:communityApp
                loaded:
                  APPLICATION@markup://siteforce:communityApp: 1544_-QE8H35gPOQmfpGx0OKiMg
                dn: []
                globals: {}
                uad: true
              aura.pageURI: /sslc/s/generate-license-by-activation-code
              aura.token: eyJub25jZSI6IjZ1UTA3TWlkcWVJdmV5Nkc0cWJGUklOVlVJQkFWZERBZlg0STRVVXFPaW9cdTAwM2QiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImtpZCI6IntcInRcIjpcIjAwRFVpMDAwMDAwMDAwMVwiLFwidlwiOlwiMDJHVWkwMDAwMDAwMDAxXCIsXCJhXCI6XCJjYWltYW5zaWduZXJcIn0iLCJjcml0IjpbImlhdCJdLCJpYXQiOjE3Nzg1NTk4NzQxNDUsImV4cCI6MH0=..uOtbjk5HzhPIsvbV_nQoFd2B4K_pp6AWj25bgLfKu2k=
  /sslc/s/sfsites/aura/entry-2:
    post:
      operationId: entry_2_getRecordCreateDefaults
      summary: Entry 2 - getRecordCreateDefaults
      description: 'Actual URL: https://licensing.altera.com/sslc/s/sfsites/aura?r=10&aura.RecordUi.getRecordCreateDefaults=1

        Method: POST

        Actions: aura.RecordUi.getRecordCreateDefaults'
      parameters:
      - name: r
        in: query
        required: true
        schema:
          type: string
          default: '10'
        example: '10'
      - name: aura.RecordUi.getRecordCreateDefaults
        in: query
        required: true
        schema:
          type: string
          default: '1'
        example: '1'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '500':
          description: Server Error
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                message:
                  type: string
                aura.context:
                  type: string
                aura.pageURI:
                  type: string
                aura.token:
                  type: string
            example:
              message:
                actions:
                - id: 244;a
                  descriptor: aura://RecordUiController/ACTION$getRecordCreateDefaults
                  callingDescriptor: UNKNOWN
                  params:
                    objectApiName: License__c
                    recordTypeId: 012000000000000AAA
                    optionalFields: []
              aura.context:
                mode: PROD
                fwuid: ZkJhOVpLN2NZQkJrd2NWd3pMcnFOdzJEa1N5enhOU3R5QWl2VzNveFZTbGcxMy4tMjE0NzQ4MzY0OC4xMzEwNzIwMA
                app: siteforce:communityApp
                loaded:
                  APPLICATION@markup://siteforce:communityApp: 1544_-QE8H35gPOQmfpGx0OKiMg
                dn: []
                globals: {}
                uad: true
              aura.pageURI: /sslc/s/generate-license-by-activation-code
              aura.token: eyJub25jZSI6IjZ1UTA3TWlkcWVJdmV5Nkc0cWJGUklOVlVJQkFWZERBZlg0STRVVXFPaW9cdTAwM2QiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImtpZCI6IntcInRcIjpcIjAwRFVpMDAwMDAwMDAwMVwiLFwidlwiOlwiMDJHVWkwMDAwMDAwMDAxXCIsXCJhXCI6XCJjYWltYW5zaWduZXJcIn0iLCJjcml0IjpbImlhdCJdLCJpYXQiOjE3Nzg1NTk4NzQxNDUsImV4cCI6MH0=..uOtbjk5HzhPIsvbV_nQoFd2B4K_pp6AWj25bgLfKu2k=
  /sslc/s/sfsites/aura/entry-3:
    post:
      operationId: entry_3_getPicklistValuesByRecordType
      summary: Entry 3 - getPicklistValuesByRecordType
      description: 'Actual URL: https://licensing.altera.com/sslc/s/sfsites/aura?r=11&aura.RecordUi.getPicklistValuesByRecordType=1

        Method: POST

        Actions: aura.RecordUi.getPicklistValuesByRecordType'
      parameters:
      - name: r
        in: query
        required: true
        schema:
          type: string
          default: '11'
        example: '11'
      - name: aura.RecordUi.getPicklistValuesByRecordType
        in: query
        required: true
        schema:
          type: string
          default: '1'
        example: '1'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '500':
          description: Server Error
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                message:
                  type: string
                aura.context:
                  type: string
                aura.pageURI:
                  type: string
                aura.token:
                  type: string
            example:
              message:
                actions:
                - id: 245;a
                  descriptor: aura://RecordUiController/ACTION$getPicklistValuesByRecordType
                  callingDescriptor: UNKNOWN
                  params:
                    objectApiName: License__c
                    recordTypeId: 012000000000000AAA
              aura.context:
                mode: PROD
                fwuid: ZkJhOVpLN2NZQkJrd2NWd3pMcnFOdzJEa1N5enhOU3R5QWl2VzNveFZTbGcxMy4tMjE0NzQ4MzY0OC4xMzEwNzIwMA
                app: siteforce:communityApp
                loaded:
                  APPLICATION@markup://siteforce:communityApp: 1544_-QE8H35gPOQmfpGx0OKiMg
                dn: []
                globals: {}
                uad: true
              aura.pageURI: /sslc/s/generate-license-by-activation-code
              aura.token: eyJub25jZSI6IjZ1UTA3TWlkcWVJdmV5Nkc0cWJGUklOVlVJQkFWZERBZlg0STRVVXFPaW9cdTAwM2QiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImtpZCI6IntcInRcIjpcIjAwRFVpMDAwMDAwMDAwMVwiLFwidlwiOlwiMDJHVWkwMDAwMDAwMDAxXCIsXCJhXCI6XCJjYWltYW5zaWduZXJcIn0iLCJjcml0IjpbImlhdCJdLCJpYXQiOjE3Nzg1NTk4NzQxNDUsImV4cCI6MH0=..uOtbjk5HzhPIsvbV_nQoFd2B4K_pp6AWj25bgLfKu2k=
  /sslc/s/sfsites/aura/entry-4:
    post:
      operationId: entry_4_sendData
      summary: Entry 4 - sendData
      description: 'Actual URL: https://licensing.altera.com/sslc/s/sfsites/aura?r=12&ui-instrumentation-components-beacon.InstrumentationBeacon.sendData=1

        Method: POST

        Actions: ui-instrumentation-components-beacon.InstrumentationBeacon.sendData'
      parameters:
      - name: r
        in: query
        required: true
        schema:
          type: string
          default: '12'
        example: '12'
      - name: ui-instrumentation-components-beacon.InstrumentationBeacon.sendData
        in: query
        required: true
        schema:
          type: string
          default: '1'
        example: '1'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '500':
          description: Server Error
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                message:
                  type: string
                aura.context:
                  type: string
                aura.pageURI:
                  type: string
                aura.token:
                  type: string
            example:
              message:
                actions:
                - id: 246;a
                  descriptor: serviceComponent://ui.instrumentation.components.beacon.InstrumentationBeaconController/ACTION$sendData
                  callingDescriptor: UNKNOWN
                  params:
                    batch:
                    - topic: ailtn
                      schemaType: LightningInteraction
                      payload: '{"id":"ltng:interaction","ts":42199.3,"pageStartTime":1778559872028,"owner":"siteforce:routerInitializer","unixTS":false,"rootId":"c3ae907fdfced115","eventType":"user","eventSource":"synthetic-communitynavigation","attributes":{"pageViewCounter":2,"cdnEnabled":false,"cdnProviderFlags":4,"uriDefsEnabled":true,"oneRT":false,"gates":{}},"locator":{"target":"link","scope":"communitynavigation","context":{"unifiedEventType":"COMMUNITY_PAGE_NAVIGATION","referrer":"/sslc/s/","requestURI":"/sslc/s/generate-license-by-activation-code","entityId":null}},"sequence":7,"page":{"context":"home","attributes":{"url":"/sslc/s/"}},"clientSessionId":"17aa34eb28b8c4c9"}'
                    - topic: ailtn
                      schemaType: LightningPerformance
                      payload: '{"id":"ltng:performance","ts":42199.8,"duration":20886,"pageStartTime":1778559872028,"marks":{},"owner":"siteforce:routerInitializer","unixTS":false,"rootId":"c3ae907fdfced115","eventType":"performance","eventSource":"pageTracker","attributes":{"pageId":2,"phase":"END","defaultCmp":["forceCommunity:richTextInline","c:sslc_Check_PSG"],"nonDefaultCmp":[],"backgroundTime":0,"trxDeleted":{},"cdnEnabled":false,"cdnProviderFlags":4,"uriDefsEnabled":true,"oneRT":false,"gates":{}},"clientSessionId":"17aa34eb28b8c4c9"}'
                    - topic: ailtn
                      schemaType: LightningPerformance
                      payload: '{"id":"ltng:performance","ts":42197.2,"duration":3182,"pageStartTime":1778559872028,"marks":{},"owner":null,"unixTS":false,"rootId":"c3ae907fdfced115","eventType":"performance","eventSource":"scenarioTime","attributes":{"startHeapMB":32,"endHeapMB":48,"uiThreadDelay":197,"target":"slds-container_fluid
                        slds-truncate","scope":"comm-navigation__item","notInstrumented":true,"pageContext":"custom-generate-license-by-activation-code","pageUrl":"/sslc/s/generate-license-by-activation-code","entityType":"unknown","pageViewCounter":3,"cdnEnabled":false,"cdnProviderFlags":4,"uriDefsEnabled":true,"oneRT":false,"gates":{"scenarioTrackerMarksEnabled":false}},"clientSessionId":"17aa34eb28b8c4c9"}'
                    - topic: ailtn
                      schemaType: LightningInteraction
                      payload: '{"id":"ltng:interaction","ts":45381.09,"pageStartTime":1778559872028,"owner":null,"unixTS":false,"eventType":"system","eventSource":"componentTracker","attributes":{"pageViewCounter":3,"cdnEnabled":false,"cdnProviderFlags":4,"uriDefsEnabled":true,"oneRT":false,"gates":{}},"locator":{"target":"default","scope":"component","context":{"devNameOrId":["c:sslc_GenerateLicenseByActivationCode"]}},"sequence":8,"page":{"context":"custom-generate-license-by-activation-code","attributes":{"url":"/sslc/s/generate-license-by-activation-code"}},"clientSessionId":"17aa34eb28b8c4c9"}'
                    - topic: ailtn
                      schemaType: LightningPageView
                      payload: '{"id":"ltng:pageView","ts":42200.7,"duration":3181,"pageStartTime":1778559872028,"marks":{"transport":[{"ts":42201.8,"context":{"defLoaderId":5,"initiatorType":"script","nextHopProtocol":"h2","duration":1557,"startTime":42202,"fetchStart":42202,"serverTime":273,"redirect":0,"requestStart":42206,"incompleteTimings":false,"transferSize":446849,"encodedBodySize":446549,"decodedBodySize":1968123,"dns":0,"tcp":0,"ttfb":719,"transfer":837,"defs":["sitelayout://siteforce-generatedpage-eac0e1cb-4fcf-44bd-8d93-091f14933ff0.c10"],"xhrDelay":29},"duration":1586},{"ts":43952,"context":{"auraXHRId":9,"requestLength":1180,"background":false,"actionDefs":["236;a"],"requestId":"439519000000856c24","status":200,"statusText":"","responseLength":1655,"xhrDuration":262,"xhrStall":1,"startTime":43952,"fetchStart":43952,"requestStart":43953,"dns":0,"tcp":0,"ttfb":257,"transfer":5,"transferSize":1094,"nextHopProtocol":"h2","serverTime":38,"xhrDelay":2},"duration":264},{"ts":43959.2,"context":{"auraXHRId":10,"requestLength":1141,"background":false,"actionDefs":["244;a"],"requestId":"439592000000885ec9","status":200,"statusText":"","responseLength":119572,"xhrDuration":679,"xhrStall":1,"startTime":43960,"fetchStart":43960,"requestStart":43961,"dns":0,"tcp":0,"ttfb":670,"transfer":9,"transferSize":8147,"nextHopProtocol":"h2","serverTime":446,"xhrDelay":2},"duration":681},{"ts":44657.2,"context":{"auraXHRId":11,"requestLength":1115,"background":false,"actionDefs":["245;a"],"requestId":"446572000002d7abc9","status":200,"statusText":"","responseLength":3665,"xhrDuration":279,"xhrStall":1,"startTime":44658,"fetchStart":44658,"requestStart":44659,"dns":0,"tcp":0,"ttfb":273,"transfer":5,"transferSize":1535,"nextHopProtocol":"h2","serverTime":51,"xhrDelay":2},"duration":281},{"ts":43936.8,"context":{"defLoaderId":6,"initiatorType":"script","nextHopProtocol":"h2","duration":1360,"startTime":43937,"fetchStart":44180,"serverTime":48,"redirect":241,"requestStart":44181,"incompleteTimings":false,"transferSize":182249,"encodedBodySize":181949,"decodedBodySize":708223,"dns":0,"tcp":0,"ttfb":732,"transfer":627,"defs":["markup://lightning:iconSvgTemplatesStandard"],"xhrDelay":10},"duration":1370}],"actions":[{"ts":43928.3,"context":{"id":"236;a","abortable":false,"storable":false,"background":false,"cmp":"c/sslc_GenerateLicenseByActivationCode","def":"aura://ApexActionController/ACTION$execute","state":"SUCCESS","cache":false},"params":{"namespace":"","classname":"AddNewLicenseAdminController","method":"isCommunity"},"xhrWait":1,"enqueueWait":23,"serverTime":{"total":18,"db":4,"xhrServerTime":38,"boxCarCount":1},"callbackTime":0,"duration":288},{"ts":43959.09,"context":{"id":"244;a","abortable":false,"storable":false,"background":false,"cmp":"lightning-record-edit-form-create","def":"aura://RecordUiController/ACTION$getRecordCreateDefaults","state":"SUCCESS","cache":false},"xhrWait":0,"enqueueWait":0,"serverTime":{"total":416,"db":11,"xhrServerTime":445,"boxCarCount":1},"callbackTime":0,"duration":682},{"ts":44657.2,"context":{"id":"245;a","abortable":false,"storable":false,"background":false,"cmp":"lightning-record-edit-form-create","def":"aura://RecordUiController/ACTION$getPicklistValuesByRecordType","state":"SUCCESS","cache":false},"xhrWait":0,"enqueueWait":0,"serverTime":{"total":23,"db":0,"xhrServerTime":50,"boxCarCount":1},"callbackTime":0,"duration":281}],"component":[{"totalCreateTime":158.89,"slowestCreates":[{"name":"siteforce-generatedpage-eac0e1cb-4fcf-44bd-8d93-091f14933ff0.c10","createCount":1,"createTimeTotal":133.7},{"name":"c:sslc_GenerateLicenseByActivationCode","createCount":1,"createTimeTotal":25.19}]}]},"owner":"siteforce:routerInitializer","unixTS":false,"rootId":"c3ae907fdfced115","previousPage":{"context":"home","attributes":{"url":"/sslc/s/"}},"attributes":{"designTime":false,"domain":"https://licensing.altera.com","template":"Service
                        Community Template","priorityDuration":{},"ltngRttMedian":223.3,"ltngDownloadMedian":2.32,"ltngCacheHits":0,"cdnRttMedian":0,"cdnDownloadMedian":0,"cdnCacheHits":0,"longTaskTotal":197,"longestTask":197,"network":{"rtt":50,"downlink":5.9,"maxAllowedParallelXHRs":24},"cores":12,"eptDeviation":false,"expTime":3184,"expTimeDeviation":false,"expTimePageExists":true,"inFlightXHRS":0,"systemOrUntrackedNav":false,"routerNavigations":1,"eptRedirectTime":0,"density":"UNKNOWN","totalEpt":3180,"defaultCmp":["c:sslc_GenerateLicenseByActivationCode"],"gates":{"ui.services.PageScopedCache.enabled":true,"updatedEpt.instrumentation.ltng":false,"arrayAtPolyfillEnabled.instrumentation.ltng":true,"browserIdleTime.instrumentation.ltng":false,"scenarioTrackerEnabled.instrumentation.ltng":true,"lds.useHttpUiapiOneApp":false,"lds.pdl.useRelatedListsPredictions":true,"lds.pdl.useRelatedListPlus":true,"lds.useNewTrackedFieldBehavior":true,"lds.usePredictiveLoading":true,"lds.pdl.canCombineRecordLayoutRequests":true,"lds.pdl.useLocalStorage":true,"lds.pdl.applyRequestLimit":false,"lds.pdl.useApexPredictions":true,"lds.oneStoreGraphqlEnabled.ltng":false,"clientTelemetry.instrumentation.ltng":true,"componentProfiler.instrumentation.ltng":false,"colorIconsMenuItem.bc.ltng":true,"bc.260.enableA11yMultiColSortModal":true,"bc.260.enableAssertContext260":true,"bc.260.enableAssertContext260Round2":true,"mpe.260.enableAssertContextForBarcodeScanner":true,"bc.260.enableBaseComboboxNullCheck":true,"bc.260.enableCalendarGridCellAriaFix":false,"bc.258.enableCalendarMinMaxNavigation":true,"bc.260.enableCheckboxGroupStaticErrDom":true,"bc.260.enableComboboxElementInternals":false,"bc.258.enableConsolidateTypeAttributes":true,"bc.260.enableDTHeightCalcForScrollbar":false,"bc.258.enableDatatableHoverStyling":true,"bc.258.enableDatatablePositionOverride":true,"bc.260.enableDatatableUseClientWidth":true,"bc.258.enableDatatableVoiceoverFix":true,"bc.258.enableDateInvalidYearHandling":true,"bc.258.enableDisabledRowsAttribute":true,"bc.258.enableDropdownCloseDelay":true,"bc.260.enableDualListboxA11yReqOptionErrFix":true,"bc.258.enableDualListboxSingleCharTypeahead":true,"bc.260.enableFontSizeThirteen":true,"bc.260.enableFormattedRichTextParts":true,"bc.260.enableGeolocationTimeout":true,"bc.258.enableInputModeOverride":true,"bc.258.enableInputSearchCommitEvent":true,"bc.258.enableLookupFieldObjApiName":true,"bc.260.enableManualImageUpload":false,"bc.258.enableMaxEditLimit":true,"bc.258.enableNoDescribedbyTooltip":true,"bc.258.enableOutputFieldReadOnlyClass":false,"bc.260.enablePftTelemetrySingleComp":true,"bc.260.enablePositionLibFlipCalcWithViewportRight":true,"bc.258.enablePositionLibraryFlipInOverlay":true,"bc.260.enablePositionLibraryTransformScaleFix":true,"bc.260.enableRadioGroupStaticErrDom":true,"bc.260.enableRelativeDateTimeLocale":true,"bc.260.enableSelectStaticErrDom":true,"bc.258.enableTextareaReadOnlyStatic":true,"bc.258.enableTimeIntervalApi":true,"bc.260.enableTooltipFlashingFix":true,"bc.260.enableTooltipHoverDismiss":true,"bc.260.enableTreeGridSecondArrKeyUpdate":true,"bc.260.enableformattedtextlinkrouting":false,"primitiveThemeProviderDisabled.bc.ltng":false,"o11yAuraActionsEnabled.instrumentation.ltng":false,"o11yEnabled.instrumentation.ltng":true,"webVitalsKillSwitch.instrumentation.ltng":true,"com.salesforce.aura.enableAuraO11yMetrics":true,"disableFlushIfIdle.instrumentation.ltng":true,"scenarioTrackerMarksEnabled.instrumentation.ltng":false,"limitPerfTrxMarks.instrumentation.ltng":true,"lds.pft.adapterInvocation.disabled":false},"cdnEnabled":false,"cdnProviderFlags":4,"uriDefsEnabled":true,"oneRT":false},"cacheStats":{"AuraStorage_actions":{"hits":4,"misses":0},"lds:UiApi.getPicklistValuesByRecordType":{"hits":0,"misses":1},"lds:UiApi.getRecordCreateDefaults":{"hits":0,"misses":2},"total":{"hits":4,"misses":3}},"complexity":null,"ept":3180,"sequence":3,"page":{"context":"custom-generate-license-by-activation-code","attributes":{"url":"/sslc/s/generate-license-by-activation-code"}},"clientSessionId":"17aa34eb28b8c4c9"}'
                    - topic: ailtn
                      schemaType: LightningInteraction
                      payload: '{"id":"ltng:interaction","ts":45383.8,"pageStartTime":1778559872028,"owner":null,"unixTS":false,"eventType":"system","eventSource":"defsUsage","attributes":{"defs":["DEPRECATED_SEE_W-12458083"],"lwcDefs":["lightning:sldsCommon","lightning:auraUtils","lightning:platformOverlayUtils","lightning:deprecatedOverlayUtils","lightning:auraDynamic","lightning:sldsUtilsThemes","lightning:formattedRichText","lightning:purifyLib","lightning:formattedRichTextRenderer","lightning:helptext","interop:card","lightning:multiColumnSortingModal","lightning:lookupActionsMetadataService","interop:primitiveFileDroppableZone","lightning:recordPickerBase","lightning:avatar","lightning:recordPickerObjectInfosService","interop:uiObjectInfoApi","lightning:menuDivider","lightning:lookupUtils","lightning:recordPickerAdvanced","lightning:formattedLocation","lightning:lookupDesktopV2","lightning:spinner","interop:inputRichText","lightning:inputLocation","lightning:primitiveInputCheckboxButton","lightning:primitiveIframe","lightning:primitiveInputFile","lightning:sldsUtilsHyphenation","lightning:recordUtils","lightning:primitiveCustomCell","lightning:i18nService","lightning:inputName","lightning:primitiveHeaderFactory","lightning:popup","lightning:baseCombobox","interop:select","lightning:primitiveDatatableCell","lightning:modalBody","lightning:baseComboboxFormattedText","lightning:primitiveCellButton","lightning:platformShowToastEvent","interop:uiLookupsApi","lightning:primitiveInputCheckbox","lightning:lookupMobileNoResult","interop:recordEditForm","lightning:layoutUtils","lightning:toast","lightning:recordEditFormEdit","lightning:overlay","lightning:colorPickerPanel","interop:uiActionsApi","lightning:internationalizationLibrary","lightning:primitiveDatatableTooltipBubble","lightning:recordPickerBaseDesktop","lightning:primitiveCellCheckbox","lightning:formDensityUtilsPrivate","interop:actions","lightning:datatable","lightning:combobox","lightning:groupedCombobox","lightning:primitiveHeaderActions","lightning:primitiveDatatableIeditPanel","lightning:primitiveInputSimple","lightning:touchScrollLibrary","lightning:recordPickerMobileModal","lightning:lookupModel","lightning:primitiveCellFactory","lightning:primitiveDatatableIeditTypeFactory","lightning:datetimepicker","laf:transformWire","lightning:formattedDateTime","o11y_schema:sf_lookup","lightning:input","lightning:primitiveCellActions","lightning:primitiveInputToggle","lightning:noticeContent","lightning:primitiveDatatableStatusBar","lightning:sldsGenAiUtils","lightning:inputAddress","lightning:recordPickerFauxInput","lightning:fieldUtils","lightning:lookupDesktop","interop:pill","c:createNewHost","interop:layout","interop:button","lightning:inputField","lightning:dualListbox","lightning:formattedEmail","lightning:quill","lightning:numberUtils","lightning:pillContainer","lightning:mapUtils","lightning:baseRecordForm","lightning:messages","lightning:formattedLookup","lightning:messageDispatcher","lightning:recordEditUtils","lightning:primitiveColorpickerButton","lightning:recordPickerCommon","lightning:sldsUtilsVisibility","lightning:lookupLabel","lightning:lookupMobileFauxInput","lightning:primitiveResizeHandler","lightning:overlayContainer","lightning:showToastEvent","lightning:lookupMobileSelectionPanel","lightning:calendar","lightning:focusTrap","lightning:datepicker","lightning:modal","lightning:lookupHelptext","lightning:quillLib","interop:layoutItem","lightning:i18nCldrOptions","interop:buttonGroup","lightning:recordEditFormCreate","lightning:primitiveInputColor","lightning:lookupMetadataService","lightning:primitiveDatatableIeditInputWrapper","lightning:dependencyUtils","lightning:primitiveInputRadio","lightning:picklist","force:actions","lightning:platformNotificationUtils","c:eventFeedback","interop:menuItem","lightning:colorPickerCustom","lightning:lookupAddress","lightning:primitiveColumnSorter","lightning:fieldDependencyManager","lightning:resizeObserver","lightning:lookupMobile","lightning:formattedPhone","lightning:formattedText","lightning:formattedUrl","lightning:modalFooter","lightning:timepicker","c:sslc_GenerateLicenseByActivationCode","lightning:recordPickerAdvancedDatatableTemplateProvider","lightning:primitiveTreegridCellToggle","lightning:lookupDataSource","c:confirmationDialog","lightning:primitiveDatatableTooltip","lightning:formattedNumber","lightning:toastContainer","lightning:noticeFooter","interop:uiLayoutUserStateApi","lightning:sldsUtilsPosition","interop:buttonMenu","lightning:lookup","lightning:primitiveDatatableLoadingIndicator","c:sslc_GenerateLicense_OnLicenseRecord","lightning:recordPickerAdvancedNoResults","interop:uiLayoutApi","lightning:modalHeader","lightning:baseFormattedText","lightning:modalUtils","lightning:textarea","lightning:recordPickerBaseMobile","lightning:overlayUtils","lightning:baseComboboxItem","o11y_schema:sf_recordPicker","lightning:modalBase","lightning:mobileGroupedCombobox","lightning:lookupAdvancedModal","lightning:iconSvgTemplatesStandard"],"auraDefs":[],"pageCounter":3,"phase":"EPT","pageViewCounter":3,"cdnEnabled":false,"cdnProviderFlags":4,"uriDefsEnabled":true,"oneRT":false,"gates":{}},"locator":{"target":"defsUsage","scope":"defsUsage"},"sequence":9,"page":{"context":"custom-generate-license-by-activation-code","attributes":{"url":"/sslc/s/generate-license-by-activation-code"}},"clientSessionId":"17aa34eb28b8c4c9"}'
                    metrics: '[{"owner":"Instrumentation","name":"scenarioTime.ms","type":"PercentileHistogram","ts":1778559917407,"value":[65,3183]},{"owner":"Instrumentation","name":"bwUsageReceived.beforeEpt.bytes","type":"PercentileHistogram","ts":1778559917409,"value":[126675]},{"owner":"Instrumentation","name":"bwUsageSent.beforeEpt.bytes","type":"PercentileHistogram","ts":1778559917409,"value":[4021]},{"owner":"Instrumentation","name":"bwUsageReceived.afterEpt.bytes","type":"PercentileHistogram","ts":1778559914228,"value":[2670]},{"owner":"Instrumentation","name":"bwUsageSent.afterEpt.bytes","type":"PercentileHistogram","ts":1778559914228,"value":[43923]},{"owner":"Instrumentation","name":"bwUsage.instrSizePct","type":"PercentileHistogram","ts":1778559914228,"value":[1]},{"owner":"LIGHTNING.lds.service","name":"request","type":"Counter","ts":1778559916684,"value":4},{"owner":"LIGHTNING.lds.service","name":"request.UiApi.getPicklistValuesByRecordType","type":"Counter","ts":1778559916684,"value":2},{"owner":"LIGHTNING.lds.service","name":"request.UiApi.getRecordCreateDefaults","type":"Counter","ts":1778559915989,"value":2},{"owner":"Instrumentation","name":"pageview.ept.ms","type":"PercentileHistogram","ts":1778559917411,"value":[3180]},{"owner":"LIGHTNING.lds.service","name":"network-response.200","type":"Counter","ts":1778559916967,"value":2},{"name":"cache-policy-undefined","owner":"lds","type":"Counter","ts":1778559916684,"value":4,"tags":{"status":"success"}},{"name":"cache-hit-count","owner":"lds","type":"Counter","ts":1778559916678,"value":2,"tags":{"status":"success"}},{"name":"cache-hit-count.UiApi.getRecordCreateDefaults","owner":"lds","type":"Counter","ts":1778559916678,"value":2,"tags":{"status":"success"}},{"name":"cache-miss-count","owner":"lds","type":"Counter","ts":1778559916968,"value":1,"tags":{"status":"success"}},{"name":"cache-miss-count.UiApi.getPicklistValuesByRecordType","owner":"lds","type":"Counter","ts":1778559916968,"value":1,"tags":{"status":"success"}},{"name":"request","owner":"LIGHTNING.lds.service","type":"Counter","ts":1778559916684,"value":4,"tags":{"status":"success"}},{"name":"request.UiApi.getRecordCreateDefaults","owner":"LIGHTNING.lds.service","type":"Counter","ts":1778559915989,"value":2,"tags":{"status":"success"}},{"name":"request.UiApi.getPicklistValuesByRecordType","owner":"LIGHTNING.lds.service","type":"Counter","ts":1778559916684,"value":2,"tags":{"status":"success"}},{"name":"acs.decode","owner":"AuraClientService","type":"Counter","ts":1778559917411,"value":4,"tags":{"status":"success"}},{"name":"acs.internalSend","owner":"AuraClientService","type":"Counter","ts":1778559917411,"value":4,"tags":{"status":"success"}},{"name":"acs.receive","owner":"AuraClientService","type":"Counter","ts":1778559917411,"value":4,"tags":{"status":"success"}},{"name":"ars.render","owner":"AuraClientService","type":"Counter","ts":1778559917411,"value":43,"tags":{"status":"success"}},{"name":"ars.rerender","owner":"AuraClientService","type":"Counter","ts":1778559917411,"value":9,"tags":{"status":"success"}},{"name":"ars.unrender","owner":"AuraClientService","type":"Counter","ts":1778559917411,"value":171,"tags":{"status":"success"}},{"name":"evt.executeHandlerIterator","owner":"AuraClientService","type":"Counter","ts":1778559917411,"value":53,"tags":{"status":"success"}},{"name":"lws.evaluate","owner":"LIGHTNING.locker.service","type":"Counter","ts":1778559915948,"value":5,"tags":{"status":"success"}},{"name":"startRootActivity","owner":"o11y","type":"Counter","ts":1778559914226,"value":4,"tags":{"status":"success"}},{"name":"startActivity","owner":"o11y","type":"Counter","ts":1778559916685,"value":10,"tags":{"status":"success"}},{"name":"incrementCounter","owner":"o11y","type":"Counter","ts":1778559917411,"value":30,"tags":{"status":"success"}},{"name":"activity.stop","owner":"o11y","type":"Counter","ts":1778559917411,"value":14,"tags":{"status":"success"}},{"name":"transactionStart","owner":"aurametricsservice","type":"Counter","ts":1778559914229,"value":5,"tags":{"status":"success"}},{"name":"transaction","owner":"aurametricsservice","type":"Counter","ts":1778559917412,"value":4,"tags":{"status":"success"}},{"name":"activity.discard","owner":"o11y","type":"Counter","ts":1778559916968,"value":7,"tags":{"status":"success"}},{"name":"transactionEnd","owner":"aurametricsservice","type":"Counter","ts":1778559917412,"value":3,"tags":{"status":"success"}},{"name":"log","owner":"o11y","type":"Counter","ts":1778559914229,"value":1,"tags":{"status":"success"}},{"name":"trackValue","owner":"o11y","type":"Counter","ts":1778559916968,"value":18,"tags":{"status":"success"}},{"name":"store-ingest-duration","owner":"lds","type":"PercentileHistogram","ts":1778559916967,"value":[1,0,0],"tags":{"status":"success"}},{"name":"store-lookup-duration","owner":"lds","type":"PercentileHistogram","ts":1778559916968,"value":[2,0,0],"tags":{"status":"success"}},{"name":"store-size-count","owner":"lds","type":"PercentileHistogram","ts":1778559916968,"value":[24,28],"tags":{"status":"success"}},{"name":"store-snapshot-subscriptions-count","owner":"lds","type":"PercentileHistogram","ts":1778559916968,"value":[0,0],"tags":{"status":"success"}},{"name":"store-watch-subscriptions-count","owner":"lds","type":"PercentileHistogram","ts":1778559916968,"value":[0,0],"tags":{"status":"success"}},{"name":"store-broadcast-duration","owner":"lds","type":"PercentileHistogram","ts":1778559916968,"value":[1,1,1],"tags":{"status":"success"}},{"name":"cache-hit-duration.UiApi.getRecordCreateDefaults","owner":"lds","type":"PercentileHistogram","ts":1778559916678,"value":[687,693],"tags":{"status":"success"}},{"name":"cache-miss-duration.UiApi.getPicklistValuesByRecordType","owner":"lds","type":"PercentileHistogram","ts":1778559916968,"value":[284],"tags":{"status":"success"}}]'
                    o11yLogs: CiAKBG8xMXkRmmHW6abheUIYAiAAKAAyBzI2MC41LjA4ABLdJgobc2YuaW5zdHJ1bWVudGF0aW9uLkFjdGl2aXR5EpsCCc0Meumm4XlCEi8KEDg2OWM4ZTdiZGI4ZTkyN2QSDGx3cy5ldmFsdWF0ZRmamZmZmZnZP1AAWABgABkAAAAAkHDlQCIQYzNhZTkwN2ZkZmNlZDExNSgOMhhMSUdIVE5JTkcubG9ja2VyLnNlcnZpY2U6YQoSc2YubGV4LlBhZ2VQYXlsb2FkEksIAiJHaHR0cHM6Ly9saWNlbnNpbmcuYWx0ZXJhLmNvbS9zc2xjL3MvZ2VuZXJhdGUtbGljZW5zZS1ieS1hY3RpdmF0aW9uLWNvZGVCFnNpdGVmb3JjZTpjb21tdW5pdHlBcHBKAjRnUhUKEXNmLmxleC5BcHBQYXlsb2FkEgBYBWIQMTdhYTM0ZWIyOGI4YzRjORKbAglnPnrppuF5QhIvChBkZDI4MjBlODQyMzBiYTg5Egxsd3MuZXZhbHVhdGUZmpmZmZmZ2T9QAFgAYAAZAAAANPNw5UAiEGMzYWU5MDdmZGZjZWQxMTUoDzIYTElHSFROSU5HLmxvY2tlci5zZXJ2aWNlOmEKEnNmLmxleC5QYWdlUGF5bG9hZBJLCAIiR2h0dHBzOi8vbGljZW5zaW5nLmFsdGVyYS5jb20vc3NsYy9zL2dlbmVyYXRlLWxpY2Vuc2UtYnktYWN0aXZhdGlvbi1jb2RlQhZzaXRlZm9yY2U6Y29tbXVuaXR5QXBwSgI0Z1IVChFzZi5sZXguQXBwUGF5bG9hZBIAWAZiEDE3YWEzNGViMjhiOGM0YzkSmwIJAGB66abheUISLwoQMzk1N2E4OWRmNmM2ZGRkNhIMbHdzLmV2YWx1YXRlGTMzMzMzM9M/UABYAGAAGQAAAGY2ceVAIhBjM2FlOTA3ZmRmY2VkMTE1KBAyGExJR0hUTklORy5sb2NrZXIuc2VydmljZTphChJzZi5sZXguUGFnZVBheWxvYWQSSwgCIkdodHRwczovL2xpY2Vuc2luZy5hbHRlcmEuY29tL3NzbGMvcy9nZW5lcmF0ZS1saWNlbnNlLWJ5LWFjdGl2YXRpb24tY29kZUIWc2l0ZWZvcmNlOmNvbW11bml0eUFwcEoCNGdSFQoRc2YubGV4LkFwcFBheWxvYWQSAFgHYhAxN2FhMzRlYjI4YjhjNGM5EpsCCTN7eumm4XlCEi8KEDNkNTg2MGQ1YmM3Y2JhYTcSDGx3cy5ldmFsdWF0ZRkzMzMzMzPTP1AAWABgABkAAADMbHHlQCIQYzNhZTkwN2ZkZmNlZDExNSgRMhhMSUdIVE5JTkcubG9ja2VyLnNlcnZpY2U6YQoSc2YubGV4LlBhZ2VQYXlsb2FkEksIAiJHaHR0cHM6Ly9saWNlbnNpbmcuYWx0ZXJhLmNvbS9zc2xjL3MvZ2VuZXJhdGUtbGljZW5zZS1ieS1hY3RpdmF0aW9uLWNvZGVCFnNpdGVmb3JjZTpjb21tdW5pdHlBcHBKAjRnUhUKEXNmLmxleC5BcHBQYXlsb2FkEgBYCGIQMTdhYTM0ZWIyOGI4YzRjORKbAgkzs3rppuF5QhIvChAyOGU2NzUyYWNhYWQzMmViEgxsd3MuZXZhbHVhdGUZAAAAAAAA4D9QAFgAYAAZAAAAzNxx5UAiEGMzYWU5MDdmZGZjZWQxMTUoEjIYTElHSFROSU5HLmxvY2tlci5zZXJ2aWNlOmEKEnNmLmxleC5QYWdlUGF5bG9hZBJLCAIiR2h0dHBzOi8vbGljZW5zaW5nLmFsdGVyYS5jb20vc3NsYy9zL2dlbmVyYXRlLWxpY2Vuc2UtYnktYWN0aXZhdGlvbi1jb2RlQhZzaXRlZm9yY2U6Y29tbXVuaXR5QXBwSgI0Z1IVChFzZi5sZXguQXBwUGF5bG9hZBIAWAliEDE3YWEzNGViMjhiOGM0YzkS/wIJABgP6abheUISpgEKEGMzYWU5MDdmZGZjZWQxMTUSD0xleFJvb3RBY3Rpdml0eRkzMzMzM96oQCJwChZzZi5sZXguU2NlbmFyaW9UcmFja2VyElYIAxjN2O0PINGslxgoADAAUhVjb21tLW5hdmlnYXRpb25fX2l0ZW1aInNsZHMtY29udGFpbmVyX2ZsdWlkIHNsZHMtdHJ1bmNhdGVhAAAAAACgaEBoAEABUABYAGAAGQAAAGammuRAKBMyFnNpdGVmb3JjZTpjb21tdW5pdHlBcHA6YQoSc2YubGV4LlBhZ2VQYXlsb2FkEksIAiJHaHR0cHM6Ly9saWNlbnNpbmcuYWx0ZXJhLmNvbS9zc2xjL3MvZ2VuZXJhdGUtbGljZW5zZS1ieS1hY3RpdmF0aW9uLWNvZGVCFnNpdGVmb3JjZTpjb21tdW5pdHlBcHBKAjRnUhUKEXNmLmxleC5BcHBQYXlsb2FkEgBYA2IQMTdhYTM0ZWIyOGI4YzRjORKlGAlnTg/ppuF5QhK6FgoQMDcxMTZhZjI2M2NjNGE3MBIIcGFnZXZpZXcZzczMzMzZqEAijBYKD3NmLmxleC5QYWdldmlldxL4FQgDEQAAAAAA2KhAKQAAAAAA2KhAMQAAAAAAAAAAQQAAAAAAoGhASQAAAAAAoGhAUABZAAAAAAAASUBhmpmZmZmZF0BwAYABGIoBI3VpLnNlcnZpY2VzLlBhZ2VTY29wZWRDYWNoZS5lbmFibGVkigErYXJyYXlBdFBvbHlmaWxsRW5hYmxlZC5pbnN0cnVtZW50YXRpb24ubHRuZ4oBK3NjZW5hcmlvVHJhY2tlckVuYWJsZWQuaW5zdHJ1bWVudGF0aW9uLmx0bmeKASJsZHMucGRsLnVzZVJlbGF0ZWRMaXN0c1ByZWRpY3Rpb25zigEabGRzLnBkbC51c2VSZWxhdGVkTGlzdFBsdXOKAR5sZHMudXNlTmV3VHJhY2tlZEZpZWxkQmVoYXZpb3KKARhsZHMudXNlUHJlZGljdGl2ZUxvYWRpbmeKASZsZHMucGRsLmNhbkNvbWJpbmVSZWNvcmRMYXlvdXRSZXF1ZXN0c4oBF2xkcy5wZGwudXNlTG9jYWxTdG9yYWdligEabGRzLnBkbC51c2VBcGV4UHJlZGljdGlvbnOKASRjbGllbnRUZWxlbWV0cnkuaW5zdHJ1bWVudGF0aW9uLmx0bmeKARpjb2xvckljb25zTWVudUl0ZW0uYmMubHRuZ4oBImJjLjI2MC5lbmFibGVBMTF5TXVsdGlDb2xTb3J0TW9kYWyKAR1iYy4yNjAuZW5hYmxlQXNzZXJ0Q29udGV4dDI2MIoBI2JjLjI2MC5lbmFibGVBc3NlcnRDb250ZXh0MjYwUm91bmQyigEsbXBlLjI2MC5lbmFibGVBc3NlcnRDb250ZXh0Rm9yQmFyY29kZVNjYW5uZXKKASJiYy4yNjAuZW5hYmxlQmFzZUNvbWJvYm94TnVsbENoZWNrigElYmMuMjU4LmVuYWJsZUNhbGVuZGFyTWluTWF4TmF2aWdhdGlvbooBJmJjLjI2MC5lbmFibGVDaGVja2JveEdyb3VwU3RhdGljRXJyRG9tigEmYmMuMjU4LmVuYWJsZUNvbnNvbGlkYXRlVHlwZUF0dHJpYnV0ZXOKASJiYy4yNTguZW5hYmxlRGF0YXRhYmxlSG92ZXJTdHlsaW5nigEmYmMuMjU4LmVuYWJsZURhdGF0YWJsZVBvc2l0aW9uT3ZlcnJpZGWKASRiYy4yNjAuZW5hYmxlRGF0YXRhYmxlVXNlQ2xpZW50V2lkdGiKASJiYy4yNTguZW5hYmxlRGF0YXRhYmxlVm9pY2VvdmVyRml4igEkYmMuMjU4LmVuYWJsZURhdGVJbnZhbGlkWWVhckhhbmRsaW5nigEiYmMuMjU4LmVuYWJsZURpc2FibGVkUm93c0F0dHJpYnV0ZYoBH2JjLjI1OC5lbmFibGVEcm9wZG93bkNsb3NlRGVsYXmKAStiYy4yNjAuZW5hYmxlRHVhbExpc3Rib3hBMTF5UmVxT3B0aW9uRXJyRml4igErYmMuMjU4LmVuYWJsZUR1YWxMaXN0Ym94U2luZ2xlQ2hhclR5cGVhaGVhZIoBHWJjLjI2MC5lbmFibGVGb250U2l6ZVRoaXJ0ZWVuigEjYmMuMjYwLmVuYWJsZUZvcm1hdHRlZFJpY2hUZXh0UGFydHOKAR9iYy4yNjAuZW5hYmxlR2VvbG9jYXRpb25UaW1lb3V0igEeYmMuMjU4LmVuYWJsZUlucHV0TW9kZU92ZXJyaWRligEjYmMuMjU4LmVuYWJsZUlucHV0U2VhcmNoQ29tbWl0RXZlbnSKASJiYy4yNTguZW5hYmxlTG9va3VwRmllbGRPYmpBcGlOYW1ligEZYmMuMjU4LmVuYWJsZU1heEVkaXRMaW1pdIoBIWJjLjI1OC5lbmFibGVOb0Rlc2NyaWJlZGJ5VG9vbHRpcIoBI2JjLjI2MC5lbmFibGVQZnRUZWxlbWV0cnlTaW5nbGVDb21wigExYmMuMjYwLmVuYWJsZVBvc2l0aW9uTGliRmxpcENhbGNXaXRoVmlld3BvcnRSaWdodIoBKWJjLjI1OC5lbmFibGVQb3NpdGlvbkxpYnJhcnlGbGlwSW5PdmVybGF5igEtYmMuMjYwLmVuYWJsZVBvc2l0aW9uTGlicmFyeVRyYW5zZm9ybVNjYWxlRml4igEjYmMuMjYwLmVuYWJsZVJhZGlvR3JvdXBTdGF0aWNFcnJEb22KASNiYy4yNjAuZW5hYmxlUmVsYXRpdmVEYXRlVGltZUxvY2FsZYoBH2JjLjI2MC5lbmFibGVTZWxlY3RTdGF0aWNFcnJEb22KASNiYy4yNTguZW5hYmxlVGV4dGFyZWFSZWFkT25seVN0YXRpY4oBHGJjLjI1OC5lbmFibGVUaW1lSW50ZXJ2YWxBcGmKAR9iYy4yNjAuZW5hYmxlVG9vbHRpcEZsYXNoaW5nRml4igEgYmMuMjYwLmVuYWJsZVRvb2x0aXBIb3ZlckRpc21pc3OKASdiYy4yNjAuZW5hYmxlVHJlZUdyaWRTZWNvbmRBcnJLZXlVcGRhdGWKASBvMTF5RW5hYmxlZC5pbnN0cnVtZW50YXRpb24ubHRuZ4oBKHdlYlZpdGFsc0tpbGxTd2l0Y2guaW5zdHJ1bWVudGF0aW9uLmx0bmeKASljb20uc2FsZXNmb3JjZS5hdXJhLmVuYWJsZUF1cmFPMTF5TWV0cmljc4oBJ2Rpc2FibGVGbHVzaElmSWRsZS5pbnN0cnVtZW50YXRpb24ubHRuZ4oBJmxpbWl0UGVyZlRyeE1hcmtzLmluc3RydW1lbnRhdGlvbi5sdG5nkgEfdXBkYXRlZEVwdC5pbnN0cnVtZW50YXRpb24ubHRuZ5IBJGJyb3dzZXJJZGxlVGltZS5pbnN0cnVtZW50YXRpb24ubHRuZ5IBFmxkcy51c2VIdHRwVWlhcGlPbmVBcHCSARlsZHMucGRsLmFwcGx5UmVxdWVzdExpbWl0kgEfbGRzLm9uZVN0b3JlR3JhcGhxbEVuYWJsZWQubHRuZ5IBJmNvbXBvbmVudFByb2ZpbGVyLmluc3RydW1lbnRhdGlvbi5sdG5nkgEkYmMuMjYwLmVuYWJsZUNhbGVuZGFyR3JpZENlbGxBcmlhRml4kgElYmMuMjYwLmVuYWJsZUNvbWJvYm94RWxlbWVudEludGVybmFsc5IBJWJjLjI2MC5lbmFibGVEVEhlaWdodENhbGNGb3JTY3JvbGxiYXKSAR5iYy4yNjAuZW5hYmxlTWFudWFsSW1hZ2VVcGxvYWSSASViYy4yNTguZW5hYmxlT3V0cHV0RmllbGRSZWFkT25seUNsYXNzkgElYmMuMjYwLmVuYWJsZWZvcm1hdHRlZHRleHRsaW5rcm91dGluZ5IBJnByaW1pdGl2ZVRoZW1lUHJvdmlkZXJEaXNhYmxlZC5iYy5sdG5nkgErbzExeUF1cmFBY3Rpb25zRW5hYmxlZC5pbnN0cnVtZW50YXRpb24ubHRuZ5IBMHNjZW5hcmlvVHJhY2tlck1hcmtzRW5hYmxlZC5pbnN0cnVtZW50YXRpb24ubHRuZ5IBImxkcy5wZnQuYWRhcHRlckludm9jYXRpb24uZGlzYWJsZWSyASZjOnNzbGNfR2VuZXJhdGVMaWNlbnNlQnlBY3RpdmF0aW9uQ29kZcgBDIICD1BMQUNFSE9MREVSX1VSTIoCBGhvbWWSAg5QTEFDRUhPTERFUl9JRFAAWABgABkAAAA0E5vkQCIQYzNhZTkwN2ZkZmNlZDExNSgUMhZzaXRlZm9yY2U6Y29tbXVuaXR5QXBwOmEKEnNmLmxleC5QYWdlUGF5bG9hZBJLCAMiR2h0dHBzOi8vbGljZW5zaW5nLmFsdGVyYS5jb20vc3NsYy9zL2dlbmVyYXRlLWxpY2Vuc2UtYnktYWN0aXZhdGlvbi1jb2RlQhZzaXRlZm9yY2U6Y29tbXVuaXR5QXBwSgI0Z1IVChFzZi5sZXguQXBwUGF5bG9hZBIAWANiEDE3YWEzNGViMjhiOGM0YzkSwgIKDnNmLmxleC5QYWdlRW5kEq8CCZpJD+mm4XlCEkUIAhEAAAAAgGXUQBodZm9yY2VDb21tdW5pdHk6cmljaFRleHRJbmxpbmUaEGM6c3NsY19DaGVja19QU0cpAAAAAAAAAAAZAAAAmgmb5EAiEGMzYWU5MDdmZGZjZWQxMTUoDTIWc2l0ZWZvcmNlOmNvbW11bml0eUFwcDphChJzZi5sZXguUGFnZVBheWxvYWQSSwgCIkdodHRwczovL2xpY2Vuc2luZy5hbHRlcmEuY29tL3NzbGMvcy9nZW5lcmF0ZS1saWNlbnNlLWJ5LWFjdGl2YXRpb24tY29kZUIWc2l0ZWZvcmNlOmNvbW11bml0eUFwcEoCNGdSFQoRc2YubGV4LkFwcFBheWxvYWQSAFgCYhAxN2FhMzRlYjI4YjhjNGM5GgAiAA==
                    c:
                      batch: 16311
                      metrics: 5840
                      o11yLogs: 7100
              aura.context:
                mode: PROD
                fwuid: ZkJhOVpLN2NZQkJrd2NWd3pMcnFOdzJEa1N5enhOU3R5QWl2VzNveFZTbGcxMy4tMjE0NzQ4MzY0OC4xMzEwNzIwMA
                app: siteforce:communityApp
                loaded:
                  APPLICATION@markup://siteforce:communityApp: 1544_-QE8H35gPOQmfpGx0OKiMg
                dn: []
                globals: {}
                uad: true
              aura.pageURI: /sslc/s/generate-license-by-activation-code
              aura.token: eyJub25jZSI6IjZ1UTA3TWlkcWVJdmV5Nkc0cWJGUklOVlVJQkFWZERBZlg0STRVVXFPaW9cdTAwM2QiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImtpZCI6IntcInRcIjpcIjAwRFVpMDAwMDAwMDAwMVwiLFwidlwiOlwiMDJHVWkwMDAwMDAwMDAxXCIsXCJhXCI6XCJjYWltYW5zaWduZXJcIn0iLCJjcml0IjpbImlhdCJdLCJpYXQiOjE3Nzg1NTk4NzQxNDUsImV4cCI6MH0=..uOtbjk5HzhPIsvbV_nQoFd2B4K_pp6AWj25bgLfKu2k=
  /sslc/s/sfsites/aura/entry-5:
    post:
      operationId: entry_5_execute
      summary: Entry 5 - execute
      description: 'Actual URL: https://licensing.altera.com/sslc/s/sfsites/aura?r=13&aura.ApexAction.execute=1

        Method: POST

        Actions: aura.ApexAction.execute'
      parameters:
      - name: r
        in: query
        required: true
        schema:
          type: string
          default: '13'
        example: '13'
      - name: aura.ApexAction.execute
        in: query
        required: true
        schema:
          type: string
          default: '1'
        example: '1'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '500':
          description: Server Error
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                message:
                  type: string
                aura.context:
                  type: string
                aura.pageURI:
                  type: string
                aura.token:
                  type: string
            example:
              message:
                actions:
                - id: 248;a
                  descriptor: aura://ApexActionController/ACTION$execute
                  callingDescriptor: UNKNOWN
                  params:
                    namespace: ''
                    classname: SSLC_GenLicByActivationCondeController
                    method: fetchLicenseDetails
                    params:
                      activationCode: '1256'
                    cacheable: false
                    isContinuation: false
              aura.context:
                mode: PROD
                fwuid: ZkJhOVpLN2NZQkJrd2NWd3pMcnFOdzJEa1N5enhOU3R5QWl2VzNveFZTbGcxMy4tMjE0NzQ4MzY0OC4xMzEwNzIwMA
                app: siteforce:communityApp
                loaded:
                  APPLICATION@markup://siteforce:communityApp: 1544_-QE8H35gPOQmfpGx0OKiMg
                dn: []
                globals: {}
                uad: true
              aura.pageURI: /sslc/s/generate-license-by-activation-code
              aura.token: eyJub25jZSI6IjZ1UTA3TWlkcWVJdmV5Nkc0cWJGUklOVlVJQkFWZERBZlg0STRVVXFPaW9cdTAwM2QiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImtpZCI6IntcInRcIjpcIjAwRFVpMDAwMDAwMDAwMVwiLFwidlwiOlwiMDJHVWkwMDAwMDAwMDAxXCIsXCJhXCI6XCJjYWltYW5zaWduZXJcIn0iLCJjcml0IjpbImlhdCJdLCJpYXQiOjE3Nzg1NTk4NzQxNDUsImV4cCI6MH0=..uOtbjk5HzhPIsvbV_nQoFd2B4K_pp6AWj25bgLfKu2k=
  /sslc/s/sfsites/aura/entry-6:
    post:
      operationId: entry_6_execute
      summary: Entry 6 - execute
      description: 'Actual URL: https://licensing.altera.com/sslc/s/sfsites/aura?r=14&aura.ApexAction.execute=1

        Method: POST

        Actions: aura.ApexAction.execute'
      parameters:
      - name: r
        in: query
        required: true
        schema:
          type: string
          default: '14'
        example: '14'
      - name: aura.ApexAction.execute
        in: query
        required: true
        schema:
          type: string
          default: '1'
        example: '1'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '500':
          description: Server Error
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                message:
                  type: string
                aura.context:
                  type: string
                aura.pageURI:
                  type: string
                aura.token:
                  type: string
            example:
              message:
                actions:
                - id: 249;a
                  descriptor: aura://ApexActionController/ACTION$execute
                  callingDescriptor: UNKNOWN
                  params:
                    namespace: ''
                    classname: SSLC_GenLicByActivationCondeController
                    method: validateLicenses
                    params:
                      licRecord:
                        sobjectType: License__c
                        Activation_Code__c: '1256'
                    cacheable: false
                    isContinuation: false
              aura.context:
                mode: PROD
                fwuid: ZkJhOVpLN2NZQkJrd2NWd3pMcnFOdzJEa1N5enhOU3R5QWl2VzNveFZTbGcxMy4tMjE0NzQ4MzY0OC4xMzEwNzIwMA
                app: siteforce:communityApp
                loaded:
                  APPLICATION@markup://siteforce:communityApp: 1544_-QE8H35gPOQmfpGx0OKiMg
                dn: []
                globals: {}
                uad: true
              aura.pageURI: /sslc/s/generate-license-by-activation-code
              aura.token: eyJub25jZSI6IjZ1UTA3TWlkcWVJdmV5Nkc0cWJGUklOVlVJQkFWZERBZlg0STRVVXFPaW9cdTAwM2QiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImtpZCI6IntcInRcIjpcIjAwRFVpMDAwMDAwMDAwMVwiLFwidlwiOlwiMDJHVWkwMDAwMDAwMDAxXCIsXCJhXCI6XCJjYWltYW5zaWduZXJcIn0iLCJjcml0IjpbImlhdCJdLCJpYXQiOjE3Nzg1NTk4NzQxNDUsImV4cCI6MH0=..uOtbjk5HzhPIsvbV_nQoFd2B4K_pp6AWj25bgLfKu2k=
  /sslc/s/sfsites/aura/entry-7:
    post:
      operationId: entry_7_getProfileMenuResponse
      summary: Entry 7 - getProfileMenuResponse
      description: 'Actual URL: https://licensing.altera.com/sslc/s/sfsites/aura?r=0&ui-self-service-components-profileMenu.ProfileMenu.getProfileMenuResponse=1

        Method: POST

        Actions: ui-self-service-components-profileMenu.ProfileMenu.getProfileMenuResponse'
      parameters:
      - name: r
        in: query
        required: true
        schema:
          type: string
          default: '0'
        example: '0'
      - name: ui-self-service-components-profileMenu.ProfileMenu.getProfileMenuResponse
        in: query
        required: true
        schema:
          type: string
          default: '1'
        example: '1'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '500':
          description: Server Error
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                message:
                  type: string
                aura.context:
                  type: string
                aura.pageURI:
                  type: string
                '1':
                  type: string
                '2':
                  type: string
                '3':
                  type: string
                '4':
                  type: string
                '5':
                  type: string
                aura.token:
                  type: string
            example:
              message:
                actions:
                - id: 41;a
                  descriptor: serviceComponent://ui.self.service.components.profileMenu.ProfileMenuController/ACTION$getProfileMenuResponse
                  callingDescriptor: markup://selfService:profileMenuAPI
                  params: {}
                  version: '66.0'
              aura.context:
                mode: PROD
                fwuid: ZkJhOVpLN2NZQkJrd2NWd3pMcnFOdzJEa1N5enhOU3R5QWl2VzNveFZTbGcxMy4tMjE0NzQ4MzY0OC4xMzEwNzIwMA
                app: siteforce:communityApp
                loaded:
                  APPLICATION@markup://siteforce:communityApp: 1544_-QE8H35gPOQmfpGx0OKiMg
                dn: []
                globals: {}
                uad: true
              aura.pageURI: /sslc/s/license/License__c/Default?0=r
              '1': e
              '2': c
              '3': e
              '4': n
              '5': t
              aura.token: eyJub25jZSI6IndoWmc1dWxYYUNoMWl6YmxWNlpJdi1SdVVtNENuamRLQlFSV2duVmozTWdcdTAwM2QiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImtpZCI6IntcInRcIjpcIjAwRFVpMDAwMDAwMDAwMVwiLFwidlwiOlwiMDJHVWkwMDAwMDAwMDAxXCIsXCJhXCI6XCJjYWltYW5zaWduZXJcIn0iLCJjcml0IjpbImlhdCJdLCJpYXQiOjE3Nzg1NTk5MzgwMjcsImV4cCI6MH0=..VjKX-P4lrJ-4eqh3aj-9X23Z4uSBdtbz19dFICGZMJ8=
  /sslc/s/sfsites/aura/entry-8:
    post:
      operationId: entry_8_getComponentAttributes
      summary: Entry 8 - getComponentAttributes
      description: 'Actual URL: https://licensing.altera.com/sslc/s/sfsites/aura?r=1&ui-comm-runtime-components-aura-components-siteforce-controller.PubliclyCacheableAttributeLoader.getComponentAttributes=1

        Method: POST

        Actions: ui-comm-runtime-components-aura-components-siteforce-controller.PubliclyCacheableAttributeLoader.getComponentAttributes'
      parameters:
      - name: r
        in: query
        required: true
        schema:
          type: string
          default: '1'
        example: '1'
      - name: ui-comm-runtime-components-aura-components-siteforce-controller.PubliclyCacheableAttributeLoader.getComponentAttributes
        in: query
        required: true
        schema:
          type: string
          default: '1'
        example: '1'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '500':
          description: Server Error
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                message:
                  type: string
                aura.context:
                  type: string
                aura.pageURI:
                  type: string
                '1':
                  type: string
                '2':
                  type: string
                '3':
                  type: string
                '4':
                  type: string
                '5':
                  type: string
                aura.token:
                  type: string
            example:
              message:
                actions:
                - id: 114;a
                  descriptor: serviceComponent://ui.comm.runtime.components.aura.components.siteforce.controller.PubliclyCacheableAttributeLoaderController/ACTION$getComponentAttributes
                  callingDescriptor: UNKNOWN
                  params:
                    viewOrThemeLayoutId: d194cf9d-1962-4a24-9b4b-367bc4727475
                    publishedChangelistNum: 10
                    audienceKey: liFB0jgxdRpvhJaPlU-90w
                  version: '66.0'
                  storable: true
              aura.context:
                mode: PROD
                fwuid: ZkJhOVpLN2NZQkJrd2NWd3pMcnFOdzJEa1N5enhOU3R5QWl2VzNveFZTbGcxMy4tMjE0NzQ4MzY0OC4xMzEwNzIwMA
                app: siteforce:communityApp
                loaded:
                  APPLICATION@markup://siteforce:communityApp: 1544_-QE8H35gPOQmfpGx0OKiMg
                dn: []
                globals: {}
                uad: true
              aura.pageURI: /sslc/s/license/License__c/Default?0=r
              '1': e
              '2': c
              '3': e
              '4': n
              '5': t
              aura.token: eyJub25jZSI6IndoWmc1dWxYYUNoMWl6YmxWNlpJdi1SdVVtNENuamRLQlFSV2duVmozTWdcdTAwM2QiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImtpZCI6IntcInRcIjpcIjAwRFVpMDAwMDAwMDAwMVwiLFwidlwiOlwiMDJHVWkwMDAwMDAwMDAxXCIsXCJhXCI6XCJjYWltYW5zaWduZXJcIn0iLCJjcml0IjpbImlhdCJdLCJpYXQiOjE3Nzg1NTk5MzgwMjcsImV4cCI6MH0=..VjKX-P4lrJ-4eqh3aj-9X23Z4uSBdtbz19dFICGZMJ8=
  /sslc/s/sfsites/aura/entry-9:
    post:
      operationId: entry_9_getMessagingPermAndPref
      summary: Entry 9 - getMessagingPermAndPref
      description: 'Actual URL: https://licensing.altera.com/sslc/s/sfsites/aura?r=2&ui-chatter-components-messages.Messages.getMessagingPermAndPref=1&ui-notifications-components-notifications-controller.Notifications.getInitializationValues=1

        Method: POST

        Actions: ui-chatter-components-messages.Messages.getMessagingPermAndPref,
        ui-notifications-components-notifications-controller.Notifications.getInitializationValues'
      parameters:
      - name: r
        in: query
        required: true
        schema:
          type: string
          default: '2'
        example: '2'
      - name: ui-chatter-components-messages.Messages.getMessagingPermAndPref
        in: query
        required: true
        schema:
          type: string
          default: '1'
        example: '1'
      - name: ui-notifications-components-notifications-controller.Notifications.getInitializationValues
        in: query
        required: true
        schema:
          type: string
          default: '1'
        example: '1'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '500':
          description: Server Error
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                message:
                  type: string
                aura.context:
                  type: string
                aura.pageURI:
                  type: string
                '1':
                  type: string
                '2':
                  type: string
                '3':
                  type: string
                '4':
                  type: string
                '5':
                  type: string
                aura.token:
                  type: string
            example:
              message:
                actions:
                - id: 100;a
                  descriptor: serviceComponent://ui.chatter.components.messages.MessagesController/ACTION$getMessagingPermAndPref
                  callingDescriptor: UNKNOWN
                  params: {}
                  storable: true
                - id: 113;a
                  descriptor: serviceComponent://ui.notifications.components.notifications.controller.NotificationsController/ACTION$getInitializationValues
                  callingDescriptor: UNKNOWN
                  params: {}
                  storable: true
              aura.context:
                mode: PROD
                fwuid: ZkJhOVpLN2NZQkJrd2NWd3pMcnFOdzJEa1N5enhOU3R5QWl2VzNveFZTbGcxMy4tMjE0NzQ4MzY0OC4xMzEwNzIwMA
                app: siteforce:communityApp
                loaded:
                  APPLICATION@markup://siteforce:communityApp: 1544_-QE8H35gPOQmfpGx0OKiMg
                dn: []
                globals: {}
                uad: true
              aura.pageURI: /sslc/s/license/License__c/Default?0=r
              '1': e
              '2': c
              '3': e
              '4': n
              '5': t
              aura.token: eyJub25jZSI6IndoWmc1dWxYYUNoMWl6YmxWNlpJdi1SdVVtNENuamRLQlFSV2duVmozTWdcdTAwM2QiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImtpZCI6IntcInRcIjpcIjAwRFVpMDAwMDAwMDAwMVwiLFwidlwiOlwiMDJHVWkwMDAwMDAwMDAxXCIsXCJhXCI6XCJjYWltYW5zaWduZXJcIn0iLCJjcml0IjpbImlhdCJdLCJpYXQiOjE3Nzg1NTk5MzgwMjcsImV4cCI6MH0=..VjKX-P4lrJ-4eqh3aj-9X23Z4uSBdtbz19dFICGZMJ8=
  /sslc/s/sfsites/aura/entry-10:
    post:
      operationId: entry_10_getComponent
      summary: Entry 10 - getComponent
      description: 'Actual URL: https://licensing.altera.com/sslc/s/sfsites/aura?r=3&aura.Component.getComponent=1

        Method: POST

        Actions: aura.Component.getComponent'
      parameters:
      - name: r
        in: query
        required: true
        schema:
          type: string
          default: '3'
        example: '3'
      - name: aura.Component.getComponent
        in: query
        required: true
        schema:
          type: string
          default: '1'
        example: '1'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '500':
          description: Server Error
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                message:
                  type: string
                aura.context:
                  type: string
                aura.pageURI:
                  type: string
                '1':
                  type: string
                '2':
                  type: string
                '3':
                  type: string
                '4':
                  type: string
                '5':
                  type: string
                aura.token:
                  type: string
            example:
              message:
                actions:
                - id: 119;a
                  descriptor: aura://ComponentController/ACTION$getComponent
                  callingDescriptor: UNKNOWN
                  params:
                    name: markup://forceCommunity:globalNavigation
                    attributes:
                      NavigationMenuEditorRefresh: Sslc_External_Navigation_Menu
                      hideHomeText: false
                      hideAppLauncher: true
              aura.context:
                mode: PROD
                fwuid: ZkJhOVpLN2NZQkJrd2NWd3pMcnFOdzJEa1N5enhOU3R5QWl2VzNveFZTbGcxMy4tMjE0NzQ4MzY0OC4xMzEwNzIwMA
                app: siteforce:communityApp
                loaded:
                  APPLICATION@markup://siteforce:communityApp: 1544_-QE8H35gPOQmfpGx0OKiMg
                dn: []
                globals: {}
                uad: true
              aura.pageURI: /sslc/s/license/License__c/Default?0=r
              '1': e
              '2': c
              '3': e
              '4': n
              '5': t
              aura.token: eyJub25jZSI6IndoWmc1dWxYYUNoMWl6YmxWNlpJdi1SdVVtNENuamRLQlFSV2duVmozTWdcdTAwM2QiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImtpZCI6IntcInRcIjpcIjAwRFVpMDAwMDAwMDAwMVwiLFwidlwiOlwiMDJHVWkwMDAwMDAwMDAxXCIsXCJhXCI6XCJjYWltYW5zaWduZXJcIn0iLCJjcml0IjpbImlhdCJdLCJpYXQiOjE3Nzg1NTk5MzgwMjcsImV4cCI6MH0=..VjKX-P4lrJ-4eqh3aj-9X23Z4uSBdtbz19dFICGZMJ8=
  /sslc/s/sfsites/aura/entry-11:
    post:
      operationId: entry_11_getNavigationMenu
      summary: Entry 11 - getNavigationMenu
      description: 'Actual URL: https://licensing.altera.com/sslc/s/sfsites/aura?r=4&ui-communities-components-aura-components-forceCommunity-navigationMenu.NavigationMenuDataProvider.getNavigationMenu=1

        Method: POST

        Actions: ui-communities-components-aura-components-forceCommunity-navigationMenu.NavigationMenuDataProvider.getNavigationMenu'
      parameters:
      - name: r
        in: query
        required: true
        schema:
          type: string
          default: '4'
        example: '4'
      - name: ui-communities-components-aura-components-forceCommunity-navigationMenu.NavigationMenuDataProvider.getNavigationMenu
        in: query
        required: true
        schema:
          type: string
          default: '1'
        example: '1'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '500':
          description: Server Error
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                message:
                  type: string
                aura.context:
                  type: string
                aura.pageURI:
                  type: string
                '1':
                  type: string
                '2':
                  type: string
                '3':
                  type: string
                '4':
                  type: string
                '5':
                  type: string
                aura.token:
                  type: string
            example:
              message:
                actions:
                - id: 142;a
                  descriptor: serviceComponent://ui.communities.components.aura.components.forceCommunity.navigationMenu.NavigationMenuDataProviderController/ACTION$getNavigationMenu
                  callingDescriptor: UNKNOWN
                  params:
                    navigationLinkSetIdOrName: Sslc_External_Navigation_Menu
                    includeImageUrl: false
                    addHomeMenuItem: true
                    menuItemTypesToSkip:
                    - SystemLink
                    - Event
                    - Modal
                    masterLabel: Default Navigation
                  storable: true
              aura.context:
                mode: PROD
                fwuid: ZkJhOVpLN2NZQkJrd2NWd3pMcnFOdzJEa1N5enhOU3R5QWl2VzNveFZTbGcxMy4tMjE0NzQ4MzY0OC4xMzEwNzIwMA
                app: siteforce:communityApp
                loaded:
                  APPLICATION@markup://siteforce:communityApp: 1544_-QE8H35gPOQmfpGx0OKiMg
                dn: []
                globals: {}
                uad: true
              aura.pageURI: /sslc/s/license/License__c/Default?0=r
              '1': e
              '2': c
              '3': e
              '4': n
              '5': t
              aura.token: eyJub25jZSI6IndoWmc1dWxYYUNoMWl6YmxWNlpJdi1SdVVtNENuamRLQlFSV2duVmozTWdcdTAwM2QiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImtpZCI6IntcInRcIjpcIjAwRFVpMDAwMDAwMDAwMVwiLFwidlwiOlwiMDJHVWkwMDAwMDAwMDAxXCIsXCJhXCI6XCJjYWltYW5zaWduZXJcIn0iLCJjcml0IjpbImlhdCJdLCJpYXQiOjE3Nzg1NTk5MzgwMjcsImV4cCI6MH0=..VjKX-P4lrJ-4eqh3aj-9X23Z4uSBdtbz19dFICGZMJ8=
  /sslc/s/sfsites/aura/entry-12:
    post:
      operationId: entry_12_validateRoute
      summary: Entry 12 - validateRoute
      description: 'Actual URL: https://licensing.altera.com/sslc/s/sfsites/aura?r=5&ui-comm-runtime-components-aura-components-siteforce-qb.Quarterback.validateRoute=1&ui-communities-components-aura-components-forceCommunity-objectHome.ObjectHomeCommunities.getBrowserTitle=1&ui-communities-components-aura-components-forceCommunity-objectHome.ObjectHomeCommunities.getEntityName=1&ui-communities-components-aura-components-forceCommunity-objectHome.ObjectHomeCommunities.getListViewIdObject=1

        Method: POST

        Actions: ui-comm-runtime-components-aura-components-siteforce-qb.Quarterback.validateRoute,
        ui-communities-components-aura-components-forceCommunity-objectHome.ObjectHomeCommunities.getBrowserTitle,
        ui-communities-components-aura-components-forceCommunity-objectHome.ObjectHomeCommunities.getEntityName,
        ui-communities-components-aura-components-forceCommunity-objectHome.ObjectHomeCommunities.getListViewIdObject'
      parameters:
      - name: r
        in: query
        required: true
        schema:
          type: string
          default: '5'
        example: '5'
      - name: ui-comm-runtime-components-aura-components-siteforce-qb.Quarterback.validateRoute
        in: query
        required: true
        schema:
          type: string
          default: '1'
        example: '1'
      - name: ui-communities-components-aura-components-forceCommunity-objectHome.ObjectHomeCommunities.getBrowserTitle
        in: query
        required: true
        schema:
          type: string
          default: '1'
        example: '1'
      - name: ui-communities-components-aura-components-forceCommunity-objectHome.ObjectHomeCommunities.getEntityName
        in: query
        required: true
        schema:
          type: string
          default: '1'
        example: '1'
      - name: ui-communities-components-aura-components-forceCommunity-objectHome.ObjectHomeCommunities.getListViewIdObject
        in: query
        required: true
        schema:
          type: string
          default: '1'
        example: '1'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '500':
          description: Server Error
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                message:
                  type: string
                aura.context:
                  type: string
                aura.pageURI:
                  type: string
                '1':
                  type: string
                '2':
                  type: string
                '3':
                  type: string
                '4':
                  type: string
                '5':
                  type: string
                aura.token:
                  type: string
            example:
              message:
                actions:
                - id: 149;a
                  descriptor: serviceComponent://ui.communities.components.aura.components.forceCommunity.objectHome.ObjectHomeCommunitiesController/ACTION$getListViewIdObject
                  callingDescriptor: markup://forceCommunity:objectHome
                  params:
                    filterName: Default
                    scope: License__c
                    layout: FULL
                    showPinnedList: true
                    useFilterNameFromRoute: true
                  version: '66.0'
                - id: 150;a
                  descriptor: serviceComponent://ui.communities.components.aura.components.forceCommunity.objectHome.ObjectHomeCommunitiesController/ACTION$getEntityName
                  callingDescriptor: markup://forceCommunity:objectHome
                  params:
                    scope: License__c
                  version: '66.0'
                - id: 151;a
                  descriptor: serviceComponent://ui.communities.components.aura.components.forceCommunity.objectHome.ObjectHomeCommunitiesController/ACTION$getBrowserTitle
                  callingDescriptor: markup://forceCommunity:objectHome
                  params:
                    scope: License__c
                  version: '66.0'
                - id: 158;a
                  descriptor: serviceComponent://ui.comm.runtime.components.aura.components.siteforce.qb.QuarterbackController/ACTION$validateRoute
                  callingDescriptor: UNKNOWN
                  params:
                    routeId: 5ff9b392-24cb-423e-96cd-1e76984b988e
                    viewParams:
                      '0': r
                      '1': e
                      '2': c
                      '3': e
                      '4': n
                      '5': t
                      viewid: a32977bf-0610-4dfb-a4d1-417a225ec911
                      view_uddid: 0I3Ui000000Ga7S
                      entity_name: License__c
                      audience_name: Default
                      objectApiName: License__c
                      filterName: Default
                      undefined: undefined
                      filterId: Default
                      objectName: License__c
                      picasso_id: 5ff9b392-24cb-423e-96cd-1e76984b988e
                      routeId: 5ff9b392-24cb-423e-96cd-1e76984b988e
              aura.context:
                mode: PROD
                fwuid: ZkJhOVpLN2NZQkJrd2NWd3pMcnFOdzJEa1N5enhOU3R5QWl2VzNveFZTbGcxMy4tMjE0NzQ4MzY0OC4xMzEwNzIwMA
                app: siteforce:communityApp
                loaded:
                  APPLICATION@markup://siteforce:communityApp: 1544_-QE8H35gPOQmfpGx0OKiMg
                  COMPONENT@markup://forceCommunity:objectHome: 2134_uTD4UBl5EM5h3PQ4zWXTUw
                dn: []
                globals: {}
                uad: true
              aura.pageURI: /sslc/s/license/License__c/Default?0=r
              '1': e
              '2': c
              '3': e
              '4': n
              '5': t
              aura.token: eyJub25jZSI6IndoWmc1dWxYYUNoMWl6YmxWNlpJdi1SdVVtNENuamRLQlFSV2duVmozTWdcdTAwM2QiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImtpZCI6IntcInRcIjpcIjAwRFVpMDAwMDAwMDAwMVwiLFwidlwiOlwiMDJHVWkwMDAwMDAwMDAxXCIsXCJhXCI6XCJjYWltYW5zaWduZXJcIn0iLCJjcml0IjpbImlhdCJdLCJpYXQiOjE3Nzg1NTk5MzgwMjcsImV4cCI6MH0=..VjKX-P4lrJ-4eqh3aj-9X23Z4uSBdtbz19dFICGZMJ8=
  /sslc/s/sfsites/aura/entry-13:
    post:
      operationId: entry_13_execute
      summary: Entry 13 - execute
      description: 'Actual URL: https://licensing.altera.com/sslc/s/sfsites/aura?r=6&aura.ApexAction.execute=1

        Method: POST

        Actions: aura.ApexAction.execute'
      parameters:
      - name: r
        in: query
        required: true
        schema:
          type: string
          default: '6'
        example: '6'
      - name: aura.ApexAction.execute
        in: query
        required: true
        schema:
          type: string
          default: '1'
        example: '1'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '500':
          description: Server Error
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                message:
                  type: string
                aura.context:
                  type: string
                aura.pageURI:
                  type: string
                '1':
                  type: string
                '2':
                  type: string
                '3':
                  type: string
                '4':
                  type: string
                '5':
                  type: string
                aura.token:
                  type: string
            example:
              message:
                actions:
                - id: 166;a
                  descriptor: aura://ApexActionController/ACTION$execute
                  callingDescriptor: UNKNOWN
                  params:
                    namespace: ''
                    classname: FeedbackController
                    method: checkCapability_NonEvent
                    params:
                      capability: license
                    cacheable: true
                    isContinuation: false
              aura.context:
                mode: PROD
                fwuid: ZkJhOVpLN2NZQkJrd2NWd3pMcnFOdzJEa1N5enhOU3R5QWl2VzNveFZTbGcxMy4tMjE0NzQ4MzY0OC4xMzEwNzIwMA
                app: siteforce:communityApp
                loaded:
                  APPLICATION@markup://siteforce:communityApp: 1544_-QE8H35gPOQmfpGx0OKiMg
                  COMPONENT@markup://forceCommunity:objectHome: 2134_uTD4UBl5EM5h3PQ4zWXTUw
                dn: []
                globals: {}
                uad: true
              aura.pageURI: /sslc/s/license/License__c/Default?0=r
              '1': e
              '2': c
              '3': e
              '4': n
              '5': t
              aura.token: eyJub25jZSI6IndoWmc1dWxYYUNoMWl6YmxWNlpJdi1SdVVtNENuamRLQlFSV2duVmozTWdcdTAwM2QiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImtpZCI6IntcInRcIjpcIjAwRFVpMDAwMDAwMDAwMVwiLFwidlwiOlwiMDJHVWkwMDAwMDAwMDAxXCIsXCJhXCI6XCJjYWltYW5zaWduZXJcIn0iLCJjcml0IjpbImlhdCJdLCJpYXQiOjE3Nzg1NTk5MzgwMjcsImV4cCI6MH0=..VjKX-P4lrJ-4eqh3aj-9X23Z4uSBdtbz19dFICGZMJ8=
  /sslc/s/sfsites/aura/entry-14:
    post:
      operationId: entry_14_getMetadataInitialLoad
      summary: Entry 14 - getMetadataInitialLoad
[...]
