openapi: 3.0.3
info:
  title: Anomali KSA ThreatStream API (derived from HAR capture)
  version: 1.0.0
  description: ''
servers:
- url: https://stg-ksa-api.threatstream.com
tags:
- name: actor
  description: 7 operation(s)
- name: alfred
  description: 3 operation(s)
- name: appstore
  description: 1 operation(s)
- name: attackflow
  description: 4 operation(s)
- name: attackpattern
  description: 9 operation(s)
- name: banner
  description: 3 operation(s)
- name: channel
  description: 4 operation(s)
- name: channelautoprovconfig
  description: 2 operation(s)
- name: channelnotificationconfig
  description: 1 operation(s)
- name: courseofaction
  description: 8 operation(s)
- name: custom_dashboard
  description: 5 operation(s)
- name: dashboard
  description: 1 operation(s)
- name: feed
  description: 9 operation(s)
- name: feedconfigs
  description: 2 operation(s)
- name: generic_async_result
  description: 2 operation(s)
- name: genericlock
  description: 1 operation(s)
- name: identity-provider
  description: 2 operation(s)
- name: impact
  description: 1 operation(s)
- name: importsession
  description: 2 operation(s)
- name: integration
  description: 1 operation(s)
- name: integration_package
  description: 3 operation(s)
- name: intelligence
  description: 8 operation(s)
- name: intelligence_initiative
  description: 25 operation(s)
- name: investigation
  description: 3 operation(s)
- name: investigationelement
  description: 1 operation(s)
- name: latestactivity
  description: 1 operation(s)
- name: lens
  description: 2 operation(s)
- name: malwareenum
  description: 1 operation(s)
- name: mitre_security_profile
  description: 3 operation(s)
- name: mitreattackpattern
  description: 3 operation(s)
- name: myattacks
  description: 1 operation(s)
- name: notification
  description: 4 operation(s)
- name: orgadmin
  description: 2 operation(s)
- name: orgtag
  description: 1 operation(s)
- name: orgwhitelist
  description: 2 operation(s)
- name: recipe
  description: 4 operation(s)
- name: releasenotes
  description: 1 operation(s)
- name: rule
  description: 1 operation(s)
- name: search_filter
  description: 1 operation(s)
- name: signature_type
  description: 1 operation(s)
- name: stix2_common_object
  description: 1 operation(s)
- name: stix2enum
  description: 1 operation(s)
- name: stix_import
  description: 2 operation(s)
- name: submit
  description: 2 operation(s)
- name: taxiisite
  description: 1 operation(s)
- name: texttemplate
  description: 2 operation(s)
- name: threat_model_search
  description: 1 operation(s)
- name: threatinbox
  description: 2 operation(s)
- name: tipreport
  description: 7 operation(s)
- name: trustedcircle
  description: 5 operation(s)
- name: trustedcircleinvite
  description: 1 operation(s)
- name: ttp
  description: 2 operation(s)
- name: user
  description: 8 operation(s)
- name: user_role
  description: 3 operation(s)
- name: useraction
  description: 1 operation(s)
- name: useractivity
  description: 1 operation(s)
- name: userorganization
  description: 3 operation(s)
- name: vulnerability
  description: 8 operation(s)
- name: widget_definition
  description: 1 operation(s)
- name: workgroup
  description: 1 operation(s)
- name: xdr
  description: 13 operation(s)
- name: xdr_logsource
  description: 2 operation(s)
- name: xdr_lookup_table
  description: 2 operation(s)
- name: xdr_plutonodashboard
  description: 7 operation(s)
- name: xdr_saved_search
  description: 1 operation(s)
- name: xdr_search_job
  description: 1 operation(s)
- name: xdr_view
  description: 2 operation(s)
security:
- sessionCookie: []
  csrfToken: []
paths:
  /api/v1/actor/{actor_id}/:
    get:
      operationId: get_api_v1_actor_actor_id
      summary: GET /api/v1/actor/{actor_id}/
      description: 'Captured 1 time(s) from: Analyze overview. Roles observed: admin.'
      tags:
      - actor
      parameters:
      - name: actor_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 526'
        schema:
          type: integer
          example: 526
        example: 526
      - name: skip_associations
        in: query
        required: true
        description: Observed 1/1 calls.
        schema:
          type: string
          example: 'true'
        example: 'true'
      - name: skip_intelligence
        in: query
        required: true
        description: Observed 1/1 calls.
        schema:
          type: string
          example: 'true'
        example: 'true'
      responses:
        '200':
          description: Observed 1 time(s).
  /api/v1/actor/{actor_id}/association_counts/:
    get:
      operationId: get_api_v1_actor_actor_id_association_counts
      summary: GET /api/v1/actor/{actor_id}/association_counts/
      description: 'Captured 1 time(s) from: Analyze overview. Roles observed: admin.'
      tags:
      - actor
      parameters:
      - name: actor_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 526'
        schema:
          type: integer
          example: 526
        example: 526
      responses:
        '200':
          description: Observed 1 time(s).
          content:
            application/json:
              example:
                actor: 0
                campaign: 0
                incident: 0
                ttp: 0
                signature: 0
                vulnerability: 0
                tipreport: 0
                malware: 0
                intrusionset: 0
                courseofaction: 0
                tool: 0
                attackpattern: 0
                identity: 0
                infrastructure: 0
                customtm: 0
                import_session: 0
                sandbox_report: 0
                observable: 0
  /api/v1/actor/{actor_id}/comment/:
    get:
      operationId: get_api_v1_actor_actor_id_comment
      summary: GET /api/v1/actor/{actor_id}/comment/
      description: 'Captured 1 time(s) from: Analyze overview. Roles observed: admin.'
      tags:
      - actor
      parameters:
      - name: actor_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 526'
        schema:
          type: integer
          example: 526
        example: 526
      - name: limit
        in: query
        required: true
        description: Observed 1/1 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: offset
        in: query
        required: true
        description: Observed 1/1 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      responses:
        '200':
          description: Observed 1 time(s).
          content:
            application/json:
              example:
                meta:
                  limit: 1000
                  next: null
                  offset: 0
                  previous: null
                  total_count: 0
                objects: []
  /api/v1/actor/{actor_id}/history/:
    get:
      operationId: get_api_v1_actor_actor_id_history
      summary: GET /api/v1/actor/{actor_id}/history/
      description: 'Captured 1 time(s) from: Analyze overview. Roles observed: admin.'
      tags:
      - actor
      parameters:
      - name: actor_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 526'
        schema:
          type: integer
          example: 526
        example: 526
      responses:
        '200':
          description: Observed 1 time(s).
  /api/v1/actor/{actor_id}/investigations/:
    get:
      operationId: get_api_v1_actor_actor_id_investigations
      summary: GET /api/v1/actor/{actor_id}/investigations/
      description: 'Captured 2 time(s) from: Analyze overview. Roles observed: admin.'
      tags:
      - actor
      parameters:
      - name: actor_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 526'
        schema:
          type: integer
          example: 526
        example: 526
      - name: limit
        in: query
        required: true
        description: Observed 2/2 calls.
        schema:
          type: string
          example: '10'
        example: '10'
      - name: offset
        in: query
        required: true
        description: Observed 2/2 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: order_by
        in: query
        required: true
        description: Observed 2/2 calls.
        schema:
          type: string
          example: investigation__name
        example: investigation__name
      responses:
        '200':
          description: Observed 2 time(s).
          content:
            application/json:
              example:
                objects: []
                meta:
                  offset: 0
                  limit: 10
                  total_count: 0
                  previous: null
                  next: null
  /api/v1/actor/{actor_id}/notes/:
    get:
      operationId: get_api_v1_actor_actor_id_notes
      summary: GET /api/v1/actor/{actor_id}/notes/
      description: 'Captured 1 time(s) from: Analyze overview. Roles observed: admin.'
      tags:
      - actor
      parameters:
      - name: actor_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 526'
        schema:
          type: integer
          example: 526
        example: 526
      - name: limit
        in: query
        required: true
        description: Observed 1/1 calls.
        schema:
          type: string
          example: '25'
        example: '25'
      - name: offset
        in: query
        required: true
        description: Observed 1/1 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: order_by
        in: query
        required: true
        description: Observed 1/1 calls.
        schema:
          type: string
          example: -source_modified_ts
        example: -source_modified_ts
      responses:
        '200':
          description: Observed 1 time(s).
          content:
            application/json:
              example:
                objects: []
                meta:
                  offset: 0
                  limit: 25
                  total_count: 0
                  previous: null
                  next: null
  /api/v1/actor/{actor_id}/ttp/:
    get:
      operationId: get_api_v1_actor_actor_id_ttp
      summary: GET /api/v1/actor/{actor_id}/ttp/
      description: 'Captured 1 time(s) from: Analyze overview. Roles observed: admin.'
      tags:
      - actor
      parameters:
      - name: actor_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 526'
        schema:
          type: integer
          example: 526
        example: 526
      - name: limit
        in: query
        required: true
        description: Observed 1/1 calls.
        schema:
          type: string
          example: '1000'
        example: '1000'
      - name: offset
        in: query
        required: true
        description: Observed 1/1 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      responses:
        '200':
          description: Observed 1 time(s).
          content:
            application/json:
              example:
                meta:
                  limit: 1000
                  next: null
                  offset: 0
                  previous: null
                  total_count: 0
                objects: []
  /api/v1/alfred/async/{async_id}/:
    get:
      operationId: get_api_v1_alfred_async_async_id
      summary: GET /api/v1/alfred/async/{async_id}/
      description: 'Captured 13 time(s) from: Threatstream_Dashboard_Dashboard, Threatstream_Intelligence Initiaves, useractivity.
        Roles observed: admin, user.'
      tags:
      - alfred
      parameters:
      - name: async_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 23, 24, 25'
        schema:
          type: integer
          example: 23
        example: 23
        x-observed-values:
        - 23
        - 24
        - 25
      responses:
        '200':
          description: Observed 13 time(s).
          content:
            application/json:
              example:
                created_ts: '2026-09-17T07:13:05.963193'
                id: 23
                modified_ts: '2026-09-17T07:13:05.977981'
                printable: https://stg-ksa-ui.threatstream.com/printable/dashboard
                r_id: null
                report_type: dashboard
                resource_uri: ''
                s3_url: null
                signed_s3_url: ''
                succeed: null
  /api/v1/alfred/dashboard/:
    get:
      operationId: get_api_v1_alfred_dashboard
      summary: GET /api/v1/alfred/dashboard/
      description: 'Captured 2 time(s) from: Threatstream_Dashboard_Dashboard, useractivity. Roles observed: admin, user.'
      tags:
      - alfred
      parameters:
      - name: sync
        in: query
        required: true
        description: Observed 2/2 calls.
        schema:
          type: string
          example: 'false'
        example: 'false'
      - name: type
        in: query
        required: true
        description: Observed 2/2 calls.
        schema:
          type: string
          example: reporting
        example: reporting
        x-observed-values:
        - reporting
        - intelligenceinitiatives
      responses:
        '200':
          description: Observed 2 time(s).
          content:
            application/json:
              example:
                id: 23
                dateRequested: '2026-09-17T07:13:06.312Z'
                params:
                  api_key: 17f3ed6a89cb17cfda473b593c30f5ca76cbfce9
                  days: 7
                  includeNotes: false
                  type: reporting
                  username: admin_user@perfai.threatstream.com
                sync: false
                printableUrl: https://stg-ksa-ui.threatstream.com/printable/dashboard
                callbackUrl: https://stg-ksa-api.threatstream.com/api/v1/alfred/async/23/
                updatedAt: '2026-09-17T07:13:06.333Z'
                createdAt: '2026-09-17T07:13:06.312Z'
                dateCompleted: null
                ClientAppId: 3
                async_report: 23
                success: true
  /api/v1/alfred/report/:
    get:
      operationId: get_api_v1_alfred_report
      summary: GET /api/v1/alfred/report/
      description: 'Captured 1 time(s) from: Threatstream_Intelligence Initiaves. Roles observed: user.'
      tags:
      - alfred
      parameters:
      - name: is_completed
        in: query
        required: true
        description: Observed 1/1 calls.
        schema:
          type: string
          example: 'false'
        example: 'false'
      - name: resource_id
        in: query
        required: true
        description: Observed 1/1 calls.
        schema:
          type: string
          example: '15'
        example: '15'
      - name: resource_name
        in: query
        required: true
        description: Observed 1/1 calls.
        schema:
          type: string
          example: intelligenceinitiative
        example: intelligenceinitiative
      - name: sync
        in: query
        required: true
        description: Observed 1/1 calls.
        schema:
          type: string
          example: 'false'
        example: 'false'
      responses:
        '200':
          description: Observed 1 time(s).
          content:
            application/json:
              example:
                id: 25
                dateRequested: '2026-09-17T12:21:41.991Z'
                params:
                  api_key: adaa22d39eec267050d6fbaa18a30f368f206a4a
                  is_completed: 'false'
                  username: nonadmin_user@ssperfai.threatstream.com
                sync: false
                printableUrl: https://stg-ksa-ui.threatstream.com/printable/intelligence-initiative/15
                callbackUrl: https://stg-ksa-api.threatstream.com/api/v1/alfred/async/25/
                updatedAt: '2026-09-17T12:21:42.018Z'
                createdAt: '2026-09-17T12:21:41.992Z'
                dateCompleted: null
                ClientAppId: 2
                async_report: 25
                success: true
  /api/v1/appstore/suggestedfeeds/:
    get:
      operationId: get_api_v1_appstore_suggestedfeeds
      summary: GET /api/v1/appstore/suggestedfeeds/
      description: 'Captured 9 time(s) from: Intelligence Initiatives, Threatstream_Intelligence Initiaves, manage Intelligence
        Initiatives. Roles observed: admin, user.'
      tags:
      - appstore
      parameters:
      - name: intel_inits
        in: query
        required: true
        description: Observed 9/9 calls.
        schema:
          type: string
          example: brand-monitoring
        example: brand-monitoring
        x-observed-values:
        - brand-monitoring
        - mobile
        - domain-monitoring
      - name: limit
        in: query
        required: true
        description: Observed 9/9 calls.
        schema:
          type: string
          example: '10'
        example: '10'
      responses:
        '200':
          description: Observed 9 time(s).
          content:
            application/json:
              example:
                objects:
                - name: Abusix Threat Intelligence
                  subscription_model: premium
                  description: Identifies compromised IPs via specialized mechanisms and monitors high volumes of malicious
                    email to determine responsible IPs.
                  intel_channel: false
                  vendor: Abusix
                  status: Trial Available
                success: true
  /api/v1/attackflow/:
    get:
      operationId: get_api_v1_attackflow
      summary: GET /api/v1/attackflow/
      description: 'Captured 3 time(s) from: Analyze Attack Flows, Threatstream_Anaylze attack flow. Roles observed: admin,
        user.'
      tags:
      - attackflow
      parameters:
      - name: limit
        in: query
        required: true
        description: Observed 3/3 calls.
        schema:
          type: string
          example: '10'
        example: '10'
      - name: modified_ts__gte
        in: query
        required: false
        description: Observed 1/3 calls.
        schema:
          type: string
          example: '2026-08-18T07:59:39Z'
        example: '2026-08-18T07:59:39Z'
      - name: order_by
        in: query
        required: true
        description: Observed 3/3 calls.
        schema:
          type: string
          example: -modified_ts
        example: -modified_ts
      responses:
        '200':
          description: Observed 3 time(s).
          content:
            application/json:
              example:
                meta:
                  limit: 10
                  next: null
                  offset: 0
                  previous: null
                  total_count: 0
                objects: []
    post:
      operationId: post_api_v1_attackflow
      summary: POST /api/v1/attackflow/
      description: 'Captured 4 time(s) from: Analyze Attack Flows, Threatstream_Anaylze attack flow. Roles observed: admin,
        user.'
      tags:
      - attackflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                attack_flow:
                  type: object
                  properties:
                    name:
                      type: string
                is_public:
                  type: boolean
            example:
              attack_flow:
                name: jon
              is_public: false
      responses:
        '400':
          description: Observed 4 time(s).
          content:
            application/json:
              example:
                message: Invalid attack flow. An Attack Flow document must contain a top-level STIX bundle.
  /api/v1/attackflow/actors/:
    get:
      operationId: get_api_v1_attackflow_actors
      summary: GET /api/v1/attackflow/actors/
      description: 'Captured 2 time(s) from: Analyze Attack Flows, Threatstream_Anaylze attack flow. Roles observed: admin,
        user.'
      tags:
      - attackflow
      responses:
        '200':
          description: Observed 2 time(s).
          content:
            application/json:
              example:
                actors: []
                success: true
  /api/v1/attackflow/mitre_attack_patterns/:
    get:
      operationId: get_api_v1_attackflow_mitre_attack_patterns
      summary: GET /api/v1/attackflow/mitre_attack_patterns/
      description: 'Captured 2 time(s) from: Analyze Attack Flows, Threatstream_Anaylze attack flow. Roles observed: admin,
        user.'
      tags:
      - attackflow
      responses:
        '200':
          description: Observed 2 time(s).
          content:
            application/json:
              example:
                mitre_attack_patterns: []
                success: true
  /api/v1/attackpattern/:
    post:
      operationId: post_api_v1_attackpattern
      summary: POST /api/v1/attackpattern/
      description: 'Captured 2 time(s) from: Threatstream_Anaylze attack flow, Threatstream_Anaylze threatmodels. Roles observed:
        user.'
      tags:
      - attackpattern
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                is_public:
                  type: boolean
                name:
                  type: string
                tags_v2:
                  type: array
                  items: {}
            example:
              is_public: false
              name: Attack z
              tags_v2: []
      responses:
        '201':
          description: Observed 2 time(s).
          content:
            application/json:
              example:
                aliases: []
                assignee_user: null
                body_content_type: markdown
                circles: []
                created_ts: '2026-09-17T12:50:28.398463'
                description: null
                embedded_content_type: null
                embedded_content_url: null
                external_references: []
                feed_id: 0
                id: 989
                is_anonymous: false
  /api/v1/attackpattern/{attackpattern_id}/:
    get:
      operationId: get_api_v1_attackpattern_attackpattern_id
      summary: GET /api/v1/attackpattern/{attackpattern_id}/
      description: 'Captured 4 time(s) from: Threatstream_Anaylze attack flow, Threatstream_Anaylze threatmodels. Roles observed:
        user.'
      tags:
      - attackpattern
      parameters:
      - name: attackpattern_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 989'
        schema:
          type: integer
          example: 989
        example: 989
      - name: skip_associations
        in: query
        required: false
        description: Observed 2/4 calls.
        schema:
          type: string
          example: 'true'
        example: 'true'
      - name: skip_intelligence
        in: query
        required: false
        description: Observed 2/4 calls.
        schema:
          type: string
          example: 'true'
        example: 'true'
      responses:
        '200':
          description: Observed 4 time(s).
          content:
            application/json:
              example:
                actors: []
                aliases: []
                assignee_user: null
                attackpatterns: []
                body_content_type: markdown
                campaigns: []
                can_add_public_tags: true
                circles: []
                courseofaction: []
                created_ts: '2026-09-17T12:50:28.398463'
                customtms: []
                description: null
    patch:
      operationId: patch_api_v1_attackpattern_attackpattern_id
      summary: PATCH /api/v1/attackpattern/{attackpattern_id}/
      description: 'Captured 2 time(s) from: Threatstream_Anaylze attack flow, Threatstream_Anaylze threatmodels. Roles observed:
        user.'
      tags:
      - attackpattern
      parameters:
      - name: attackpattern_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 989'
        schema:
          type: integer
          example: 989
        example: 989
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                aliases:
                  type: array
                  items: {}
                assignee_user:
                  nullable: true
                body_content_type:
                  type: string
                can_add_public_tags:
                  type: boolean
                description:
                  type: string
                embedded_content_type:
                  nullable: true
                embedded_content_url:
                  nullable: true
                external_references:
                  type: array
                  items: {}
                feed_id:
                  type: integer
                id:
                  type: integer
                intelligence_initiatives:
                  type: array
                  items: {}
                is_anonymous:
                  type: boolean
                is_cloneable:
                  type: string
                is_mitre:
                  type: boolean
                is_public:
                  type: boolean
                kill_chain_phases:
                  type: object
                  properties: {}
                killchainstages:
                  type: array
                  items: {}
                locations:
                  type: array
                  items: {}
                logo_s3_url:
                  nullable: true
                name:
                  type: string
                organization_id:
                  type: integer
                owner_user:
                  type: object
                  properties:
                    email:
                      type: string
                    id:
                      type: string
                    name:
                      type: string
                    resource_uri:
                      type: string
                owner_user_id:
                  type: integer
                parent:
                  nullable: true
                publication_status:
                  type: string
                published_ts:
                  nullable: true
                source_created:
                  nullable: true
                source_locations:
                  type: array
                  items: {}
                source_modified:
                  nullable: true
                tags_v2:
                  type: array
                  items: {}
                target_industry:
                  type: array
                  items: {}
                tlp:
                  nullable: true
                uuid:
                  type: string
                views_total_count:
                  type: integer
                workgroups:
                  type: array
                  items: {}
                custom_properties:
                  type: string
                richTextBody:
                  type: string
            example:
              aliases: []
              assignee_user: null
              body_content_type: richtext
              can_add_public_tags: true
              description: ''
              embedded_content_type: null
              embedded_content_url: null
              external_references: []
              feed_id: 0
              id: 989
              intelligence_initiatives: []
              is_anonymous: false
              is_cloneable: 'yes'
              is_mitre: false
              is_public: false
              kill_chain_phases: {}
              killchainstages: []
              locations: []
              logo_s3_url: null
              name: Attack z
              organization_id: 5
              owner_user:
                email: nonadmin_user@ssperfai.threatstream.com
                id: '41'
                name: ''
                resource_uri: /api/v1/user/41/
              owner_user_id: 41
              parent: null
              publication_status: new
              published_ts: null
              source_created: null
              source_locations: []
              source_modified: null
              tags_v2: []
              target_industry: []
              tlp: null
              uuid: e7e5ad8b-ea9d-481b-8afb-58715181c7a4
              views_total_count: 0
              workgroups: []
              custom_properties: '{}'
              richTextBody: ''
      responses:
        '202':
          description: Observed 2 time(s).
          content:
            application/json:
              example:
                aliases: []
                assignee_user: null
                body_content_type: richtext
                can_add_public_tags: true
                circles: []
                created_ts: '2026-09-17T12:50:28.398463'
                custom_properties: '{}'
                description: ''
                embedded_content_type: null
                embedded_content_url: null
                external_references: []
                feed_id: 0
  /api/v1/attackpattern/{attackpattern_id}/association_counts/:
    get:
      operationId: get_api_v1_attackpattern_attackpattern_id_association_counts
      summary: GET /api/v1/attackpattern/{attackpattern_id}/association_counts/
      description: 'Captured 2 time(s) from: Threatstream_Anaylze attack flow, Threatstream_Anaylze threatmodels. Roles observed:
        user.'
      tags:
      - attackpattern
      parameters:
      - name: attackpattern_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 989'
        schema:
          type: integer
          example: 989
        example: 989
      responses:
        '200':
          description: Observed 2 time(s).
          content:
            application/json:
              example:
                actor: 0
                campaign: 0
                incident: 0
                ttp: 0
                signature: 0
                vulnerability: 0
                tipreport: 0
                malware: 0
                intrusionset: 0
                courseofaction: 0
                tool: 0
                attackpattern: 0
                identity: 0
                infrastructure: 0
                customtm: 0
                import_session: 0
                sandbox_report: 0
                observable: 0
  /api/v1/attackpattern/{attackpattern_id}/comment/:
    get:
      operationId: get_api_v1_attackpattern_attackpattern_id_comment
      summary: GET /api/v1/attackpattern/{attackpattern_id}/comment/
      description: 'Captured 2 time(s) from: Threatstream_Anaylze attack flow, Threatstream_Anaylze threatmodels. Roles observed:
        user.'
      tags:
      - attackpattern
      parameters:
      - name: attackpattern_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 989'
        schema:
          type: integer
          example: 989
        example: 989
      - name: limit
        in: query
        required: true
        description: Observed 2/2 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: offset
        in: query
        required: true
        description: Observed 2/2 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      responses:
        '200':
          description: Observed 2 time(s).
          content:
            application/json:
              example:
                meta:
                  limit: 1000
                  next: null
                  offset: 0
                  previous: null
                  total_count: 0
                objects: []
  /api/v1/attackpattern/{attackpattern_id}/history/:
    get:
      operationId: get_api_v1_attackpattern_attackpattern_id_history
      summary: GET /api/v1/attackpattern/{attackpattern_id}/history/
      description: 'Captured 2 time(s) from: Threatstream_Anaylze attack flow, Threatstream_Anaylze threatmodels. Roles observed:
        user.'
      tags:
      - attackpattern
      parameters:
      - name: attackpattern_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 989'
        schema:
          type: integer
          example: 989
        example: 989
      responses:
        '200':
          description: Observed 2 time(s).
          content:
            application/json:
              example:
                objects:
                - timestamp: '2026-09-17T12:50:51.538Z'
                  action: updated
                  user:
                    name: ''
                    email: nonadmin_user@ssperfai.threatstream.com
                    organization:
                      name: perfai_s
                - timestamp: '2026-09-17T12:50:28.398Z'
                  action: created
                  user:
                    name: ''
                    email: nonadmin_user@ssperfai.threatstream.com
                    organization:
                      name: perfai_s
                success: true
  /api/v1/attackpattern/{attackpattern_id}/intelligence/:
    get:
      operationId: get_api_v1_attackpattern_attackpattern_id_intelligence
      summary: GET /api/v1/attackpattern/{attackpattern_id}/intelligence/
      description: 'Captured 2 time(s) from: Threatstream_Anaylze attack flow, Threatstream_Anaylze threatmodels. Roles observed:
        user.'
      tags:
      - attackpattern
      parameters:
      - name: attackpattern_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 989'
        schema:
          type: integer
          example: 989
        example: 989
      - name: limit
        in: query
        required: true
        description: Observed 2/2 calls.
        schema:
          type: string
          example: '50'
        example: '50'
      - name: offset
        in: query
        required: true
        description: Observed 2/2 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      responses:
        '200':
          description: Observed 2 time(s).
          content:
            application/json:
              example:
                objects: []
                meta:
                  total_count: 0
                  approximate_count: false
                  offset: 0
                  limit: 50
                  next: null
  /api/v1/attackpattern/{attackpattern_id}/investigations/:
    get:
      operationId: get_api_v1_attackpattern_attackpattern_id_investigations
      summary: GET /api/v1/attackpattern/{attackpattern_id}/investigations/
      description: 'Captured 2 time(s) from: Threatstream_Anaylze attack flow, Threatstream_Anaylze threatmodels. Roles observed:
        user.'
      tags:
      - attackpattern
      parameters:
      - name: attackpattern_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 989'
        schema:
          type: integer
          example: 989
        example: 989
      - name: limit
        in: query
        required: true
        description: Observed 2/2 calls.
        schema:
          type: string
          example: '10'
        example: '10'
      - name: offset
        in: query
        required: true
        description: Observed 2/2 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: order_by
        in: query
        required: true
        description: Observed 2/2 calls.
        schema:
          type: string
          example: investigation__name
        example: investigation__name
      responses:
        '200':
          description: Observed 2 time(s).
          content:
            application/json:
              example:
                objects: []
                meta:
                  offset: 0
                  limit: 10
                  total_count: 0
                  previous: null
                  next: null
  /api/v1/attackpattern/{attackpattern_id}/notes/:
    get:
      operationId: get_api_v1_attackpattern_attackpattern_id_notes
      summary: GET /api/v1/attackpattern/{attackpattern_id}/notes/
      description: 'Captured 2 time(s) from: Threatstream_Anaylze attack flow, Threatstream_Anaylze threatmodels. Roles observed:
        user.'
      tags:
      - attackpattern
      parameters:
      - name: attackpattern_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 989'
        schema:
          type: integer
          example: 989
        example: 989
      - name: limit
        in: query
        required: true
        description: Observed 2/2 calls.
        schema:
          type: string
          example: '25'
        example: '25'
      - name: offset
        in: query
        required: true
        description: Observed 2/2 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: order_by
        in: query
        required: true
        description: Observed 2/2 calls.
        schema:
          type: string
          example: -source_modified_ts
        example: -source_modified_ts
      responses:
        '200':
          description: Observed 2 time(s).
          content:
            application/json:
              example:
                objects: []
                meta:
                  offset: 0
                  limit: 25
                  total_count: 0
                  previous: null
                  next: null
  /api/v1/banner/:
    get:
      operationId: get_api_v1_banner
      summary: GET /api/v1/banner/
      description: 'Captured 4 time(s) from: Threatstream notificaiton, Threatstream_settings threatstream, settings threatstream.
        Roles observed: admin, user.'
      tags:
      - banner
      parameters:
      - name: _ts
        in: query
        required: false
        description: Observed 2/4 calls.
        schema:
          type: string
          example: '1789652347260'
        example: '1789652347260'
      - name: limit
        in: query
        required: true
        description: Observed 4/4 calls.
        schema:
          type: string
          example: '25'
        example: '25'
      - name: offset
        in: query
        required: true
        description: Observed 4/4 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      responses:
        '200':
          description: Observed 4 time(s).
          content:
            application/json:
              example:
                meta:
                  limit: 25
                  next: null
                  offset: 0
                  previous: null
                  total_count: 1
                objects:
                - enabled: false
                  id: 1
                  resource_uri: /api/v1/banner/1/
                  rich_text: ''
    post:
      operationId: post_api_v1_banner
      summary: POST /api/v1/banner/
      description: 'Captured 1 time(s) from: settings threatstream. Roles observed: admin.'
      tags:
      - banner
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                rich_text:
                  type: string
            example:
              enabled: false
              rich_text: ''
      responses:
        '201':
          description: Observed 1 time(s).
          content:
            application/json:
              example:
                enabled: false
                id: 1
                resource_uri: /api/v1/banner/1/
                rich_text: ''
  /api/v1/banner/latest/:
    get:
      operationId: get_api_v1_banner_latest
      summary: GET /api/v1/banner/latest/
      description: 'Captured 269 time(s) from: Add Dashboard, Analyze Attack Flows, Analyze Observables, Analyze Threat Model,
        Analyze overview, App Store. Roles observed: admin, user.'
      tags:
      - banner
      parameters:
      - name: _ts
        in: query
        required: false
        description: Observed 66/269 calls.
        schema:
          type: string
          example: '1789652223055'
        example: '1789652223055'
        x-observed-values:
        - '1789652223055'
        - '1789652223784'
        - '1789652347225'
        - '1789652347352'
        - '1789652500684'
        - '1789652684762'
        - '1789652763269'
        - '1789652772180'
      - name: limit
        in: query
        required: true
        description: Observed 269/269 calls.
        schema:
          type: string
          example: '25'
        example: '25'
      - name: offset
        in: query
        required: true
        description: Observed 269/269 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      responses:
        '200':
          description: Observed 269 time(s).
          content:
            application/json:
              example:
                banner:
                - id: 1
                  organization: 5
                  enabled: false
                  rich_text: ''
                  is_dismissed: false
                success: true
  /api/v1/channel/:
    get:
      operationId: get_api_v1_channel
      summary: GET /api/v1/channel/
      description: 'Captured 76 time(s) from: Add Dashboard, Analyze Attack Flows, Analyze Observables, Analyze Threat Model,
        Analyze overview, App Store. Roles observed: admin, user.'
      tags:
      - channel
      parameters:
      - name: _ts
        in: query
        required: false
        description: Observed 3/76 calls.
        schema:
          type: string
          example: '1789652223138'
        example: '1789652223138'
      - name: brevity
        in: query
        required: false
        description: Observed 42/76 calls.
        schema:
          type: string
          example: 'true'
        example: 'true'
      - name: can_publish
        in: query
        required: false
        description: Observed 52/76 calls.
        schema:
          type: string
          example: 'true'
        example: 'true'
      - name: exclude_service_accounts
        in: query
        required: false
        description: Observed 3/76 calls.
        schema:
          type: string
          example: 'true'
        example: 'true'
      - name: limit
        in: query
        required: true
        description: Observed 76/76 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: minimum_membership
        in: query
        required: false
        description: Observed 34/76 calls.
        schema:
          type: string
          example: 'true'
        example: 'true'
      - name: offset
        in: query
        required: true
        description: Observed 76/76 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: order_by
        in: query
        required: true
        description: Observed 76/76 calls.
        schema:
          type: string
          example: name
        example: name
      - name: org_members
        in: query
        required: false
        description: Observed 24/76 calls.
        schema:
          type: string
          example: '5'
        example: '5'
      responses:
        '200':
          description: Observed 76 time(s).
          content:
            application/json:
              example:
                meta:
                  limit: 1000
                  next: null
                  offset: 0
                  previous: null
                  total_count: 0
                objects: []
  /api/v1/channel/public/:
    get:
      operationId: get_api_v1_channel_public
      summary: GET /api/v1/channel/public/
      description: 'Captured 10 time(s) from: App Store, Threatstream notificaiton, Threatstream_App Store, Threatstream_Intelligence
        Initiaves, Threatstream_settings threatstream, settings threatstream. Roles observed: admin, user.'
      tags:
      - channel
      parameters:
      - name: _ts
        in: query
        required: false
        description: Observed 5/10 calls.
        schema:
          type: string
          example: '1789632434880'
        example: '1789632434880'
        x-observed-values:
        - '1789632434880'
        - '1789632535145'
        - '1789632645940'
        - '1789632655108'
        - '1789647460602'
      - name: limit
        in: query
        required: true
        description: Observed 10/10 calls.
        schema:
          type: string
          example: '200'
        example: '200'
      - name: minimum_membership
        in: query
        required: false
        description: Observed 6/10 calls.
        schema:
          type: string
          example: 'true'
        example: 'true'
      - name: offset
        in: query
        required: true
        description: Observed 10/10 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: order_by
        in: query
        required: false
        description: Observed 6/10 calls.
        schema:
          type: string
          example: name
        example: name
      responses:
        '200':
          description: Observed 10 time(s).
  /api/v1/channel/{channel_id}/:
    get:
      operationId: get_api_v1_channel_channel_id
      summary: GET /api/v1/channel/{channel_id}/
      description: 'Captured 6 time(s) from: App Store, Threatstream notificaiton, Threatstream_App Store, Threatstream_Intelligence
        Initiaves, Threatstream_settings threatstream. Roles observed: admin, user.'
      tags:
      - channel
      parameters:
      - name: channel_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 405, 407, 101, 165'
        schema:
          type: integer
          example: 405
        example: 405
        x-observed-values:
        - 405
        - 407
        - 101
        - 165
      - name: _ts
        in: query
        required: false
        description: Observed 5/6 calls.
        schema:
          type: string
          example: '1789652131370'
        example: '1789652131370'
        x-observed-values:
        - '1789652131370'
        - '1789647395822'
        - '1789647468791'
      responses:
        '200':
          description: Observed 6 time(s).
          content:
            application/json:
              example:
                anonymous_sharing: false
                can_edit: false
                can_invite: false
                can_override_confidence: false
                created_ts: '2026-08-26T19:37:34.538861'
                description: This channel relates to threats against the Energy, ONG (Oil and Natural Gas), Utilities, Critical
                  Infrastructure, ICS, OT, IT and SCADA, including malware that targets the Middle East. Feed includes Hashes,
                  IPs, Domains and URLs. Powered By PolySwarm.
                id: 405
                intel_channel: true
                intelligence_initiative_types:
                - geopolitical
                is_autolens: false
                is_eventsearch: false
                is_freemium: false
  /api/v1/channel/{channel_id}/inviterequest/:
    patch:
      operationId: patch_api_v1_channel_channel_id_inviterequest
      summary: PATCH /api/v1/channel/{channel_id}/inviterequest/
      description: 'Captured 6 time(s) from: App Store, Threatstream notificaiton, Threatstream_App Store, Threatstream_Intelligence
        Initiaves, Threatstream_settings threatstream. Roles observed: admin, user.'
      tags:
      - channel
      parameters:
      - name: channel_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 405, 407, 101, 165'
        schema:
          type: integer
          example: 405
        example: 405
        x-observed-values:
        - 405
        - 407
        - 101
        - 165
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
            example: {}
      responses:
        '202':
          description: Observed 1 time(s).
          content:
            application/json:
              example:
                message: An email has been sent to the Channel admin
                circle_name: Anomali Adversary Intelligence
                success: true
        '401':
          description: Observed 5 time(s).
          content:
            application/json:
              example:
                message: Only an organization admin can request invitations to Channels. Admins of your organization will
                  be notified of your intention to join this Channel
  /api/v1/channelautoprovconfig/configs/:
    get:
      operationId: get_api_v1_channelautoprovconfig_configs
      summary: GET /api/v1/channelautoprovconfig/configs/
      description: 'Captured 6 time(s) from: App Store, Threatstream notificaiton, Threatstream_App Store, Threatstream_Intelligence
        Initiaves, Threatstream_settings threatstream. Roles observed: admin, user.'
      tags:
      - channelautoprovconfig
      parameters:
      - name: _ts
        in: query
        required: false
        description: Observed 1/6 calls.
        schema:
          type: string
          example: '1789647460603'
        example: '1789647460603'
      - name: limit
        in: query
        required: true
        description: Observed 6/6 calls.
        schema:
          type: string
          example: '200'
        example: '200'
      - name: offset
        in: query
        required: true
        description: Observed 6/6 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: order_by
        in: query
        required: true
        description: Observed 6/6 calls.
        schema:
          type: string
          example: name
        example: name
      responses:
        '200':
          description: Observed 6 time(s).
  /api/v1/channelautoprovconfig/requests/:
    get:
      operationId: get_api_v1_channelautoprovconfig_requests
      summary: GET /api/v1/channelautoprovconfig/requests/
      description: 'Captured 34 time(s) from: Analyze Attack Flows, Analyze Observables, Analyze Threat Model, Analyze overview,
        App Store, Default Dashboard. Roles observed: admin, user.'
      tags:
      - channelautoprovconfig
      responses:
        '200':
          description: Observed 34 time(s).
          content:
            application/json:
              example:
                objects: []
                success: true
  /api/v1/channelnotificationconfig/:
    get:
      operationId: get_api_v1_channelnotificationconfig
      summary: GET /api/v1/channelnotificationconfig/
      description: 'Captured 1 time(s) from: App Store. Roles observed: admin.'
      tags:
      - channelnotificationconfig
      parameters:
      - name: channel
        in: query
        required: true
        description: Observed 1/1 calls.
        schema:
          type: string
          example: '407'
        example: '407'
      responses:
        '200':
          description: Observed 1 time(s).
          content:
            application/json:
              example:
                meta:
                  limit: 20
                  next: null
                  offset: 0
                  previous: null
                  total_count: 0
                objects: []
  /api/v1/courseofaction/{courseofaction_id}/:
    get:
      operationId: get_api_v1_courseofaction_courseofaction_id
      summary: GET /api/v1/courseofaction/{courseofaction_id}/
      description: 'Captured 3 time(s) from: Analyze Threat Model. Roles observed: admin.'
      tags:
      - courseofaction
      parameters:
      - name: courseofaction_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 121'
        schema:
          type: integer
          example: 121
        example: 121
      - name: skip_associations
        in: query
        required: false
        description: Observed 2/3 calls.
        schema:
          type: string
          example: 'true'
        example: 'true'
      - name: skip_intelligence
        in: query
        required: false
        description: Observed 2/3 calls.
        schema:
          type: string
          example: 'true'
        example: 'true'
      responses:
        '200':
          description: Observed 3 time(s).
          content:
            application/json:
              example:
                actors: []
                assignee_user: null
                attackpatterns: []
                body_content_type: markdown
                campaigns: []
                can_add_public_tags: true
                circles: []
                courseofaction: []
                created_ts: '2026-09-17T07:57:33.485499'
                customtms: []
                description: null
                embedded_content_type: null
    patch:
      operationId: patch_api_v1_courseofaction_courseofaction_id
      summary: PATCH /api/v1/courseofaction/{courseofaction_id}/
      description: 'Captured 1 time(s) from: Analyze Threat Model. Roles observed: admin.'
      tags:
      - courseofaction
      parameters:
      - name: courseofaction_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 121'
        schema:
          type: integer
          example: 121
        example: 121
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assignee_user:
                  nullable: true
                body_content_type:
                  type: string
                can_add_public_tags:
                  type: boolean
                description:
                  type: string
                embedded_content_type:
                  nullable: true
                embedded_content_url:
                  nullable: true
                external_references:
                  type: array
                  items: {}
                feed_id:
                  type: integer
                id:
                  type: integer
                intelligence_initiatives:
                  type: array
                  items: {}
                is_anonymous:
                  type: boolean
                is_cloneable:
                  type: string
                is_public:
                  type: boolean
                locations:
                  type: array
                  items: {}
                logo_s3_url:
                  nullable: true
                name:
                  type: string
                organization_id:
                  type: integer
                os_execution_envs:
                  type: array
                  items: {}
                owner_user:
                  type: object
                  properties:
                    email:
                      type: string
                    id:
                      type: string
                    name:
                      type: string
                    resource_uri:
                      type: string
                owner_user_id:
                  type: integer
                parent:
                  nullable: true
                publication_status:
                  type: string
                published_ts:
                  nullable: true
                source_created:
                  nullable: true
                source_locations:
                  type: array
                  items: {}
                source_modified:
                  nullable: true
                tags_v2:
                  type: array
                  items: {}
                target_industry:
                  type: array
                  items: {}
                tlp:
                  nullable: true
                uuid:
                  type: string
                views_total_count:
                  type: integer
                workgroups:
                  type: array
                  items: {}
                aliases:
                  type: array
                  items: {}
                custom_properties:
                  type: string
                richTextBody:
                  type: string
            example:
              assignee_user: null
              body_content_type: richtext
              can_add_public_tags: true
              description: ''
              embedded_content_type: null
              embedded_content_url: null
              external_references: []
              feed_id: 0
              id: 121
              intelligence_initiatives: []
              is_anonymous: false
              is_cloneable: 'yes'
              is_public: false
              locations: []
              logo_s3_url: null
              name: new threat
              organization_id: 5
              os_execution_envs: []
              owner_user:
                email: admin_user@perfai.threatstream.com
                id: '40'
                name: admin_user@perfai
                resource_uri: /api/v1/user/40/
              owner_user_id: 40
              parent: null
              publication_status: new
              published_ts: null
              source_created: null
              source_locations: []
              source_modified: null
              tags_v2: []
              target_industry: []
              tlp: null
              uuid: 958f5bbc-76ce-4d58-85bf-604fce563d69
              views_total_count: 0
              workgroups: []
              aliases: []
              custom_properties: '{}'
              richTextBody: ''
      responses:
        '202':
          description: Observed 1 time(s).
          content:
            application/json:
              example:
                aliases: []
                assignee_user: null
                body_content_type: richtext
                can_add_public_tags: true
                circles: []
                created_ts: '2026-09-17T07:57:33.485499'
                custom_properties: '{}'
                description: ''
                embedded_content_type: null
                embedded_content_url: null
                external_references: []
                feed_id: 0
  /api/v1/courseofaction/{courseofaction_id}/assign/:
    patch:
      operationId: patch_api_v1_courseofaction_courseofaction_id_assign
      summary: PATCH /api/v1/courseofaction/{courseofaction_id}/assign/
      description: 'Captured 1 time(s) from: Analyze Threat Model. Roles observed: admin.'
      tags:
      - courseofaction
      parameters:
      - name: courseofaction_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 121'
        schema:
          type: integer
          example: 121
        example: 121
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assignee_id:
                  type: string
            example:
              assignee_id: '40'
      responses:
        '202':
          description: Observed 1 time(s).
          content:
            application/json:
              example:
                success: true
  /api/v1/courseofaction/{courseofaction_id}/association_counts/:
    get:
      operationId: get_api_v1_courseofaction_courseofaction_id_association_counts
      summary: GET /api/v1/courseofaction/{courseofaction_id}/association_counts/
      description: 'Captured 1 time(s) from: Analyze Threat Model. Roles observed: admin.'
      tags:
      - courseofaction
      parameters:
      - name: courseofaction_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 121'
        schema:
          type: integer
          example: 121
        example: 121
      responses:
        '200':
          description: Observed 1 time(s).
          content:
            application/json:
              example:
                actor: 0
                campaign: 0
                incident: 0
                ttp: 0
                signature: 0
                vulnerability: 0
                tipreport: 0
                malware: 0
                intrusionset: 0
                courseofaction: 0
                tool: 0
                attackpattern: 0
                identity: 0
                infrastructure: 0
                customtm: 0
                import_session: 0
                sandbox_report: 0
                observable: 0
  /api/v1/courseofaction/{courseofaction_id}/comment/:
    get:
      operationId: get_api_v1_courseofaction_courseofaction_id_comment
      summary: GET /api/v1/courseofaction/{courseofaction_id}/comment/
      description: 'Captured 2 time(s) from: Analyze Threat Model. Roles observed: admin.'
      tags:
      - courseofaction
      parameters:
      - name: courseofaction_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 121'
        schema:
          type: integer
          example: 121
        example: 121
      - name: limit
        in: query
        required: true
        description: Observed 2/2 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: offset
        in: query
        required: true
        description: Observed 2/2 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      responses:
        '200':
          description: Observed 2 time(s).
          content:
            application/json:
              example:
                meta:
                  limit: 1000
                  next: null
                  offset: 0
                  previous: null
                  total_count: 0
                objects: []
  /api/v1/courseofaction/{courseofaction_id}/investigations/:
    get:
      operationId: get_api_v1_courseofaction_courseofaction_id_investigations
      summary: GET /api/v1/courseofaction/{courseofaction_id}/investigations/
      description: 'Captured 2 time(s) from: Analyze Threat Model. Roles observed: admin.'
      tags:
      - courseofaction
      parameters:
      - name: courseofaction_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 121'
        schema:
          type: integer
          example: 121
        example: 121
      - name: limit
        in: query
        required: true
        description: Observed 2/2 calls.
        schema:
          type: string
          example: '10'
        example: '10'
      - name: offset
        in: query
        required: true
        description: Observed 2/2 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: order_by
        in: query
        required: true
        description: Observed 2/2 calls.
        schema:
          type: string
          example: investigation__name
        example: investigation__name
      responses:
        '200':
          description: Observed 2 time(s).
          content:
            application/json:
              example:
                objects: []
                meta:
                  offset: 0
                  limit: 10
                  total_count: 0
                  previous: null
                  next: null
  /api/v1/courseofaction/{courseofaction_id}/notes/:
    get:
      operationId: get_api_v1_courseofaction_courseofaction_id_notes
      summary: GET /api/v1/courseofaction/{courseofaction_id}/notes/
      description: 'Captured 1 time(s) from: Analyze Threat Model. Roles observed: admin.'
      tags:
      - courseofaction
      parameters:
      - name: courseofaction_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 121'
        schema:
          type: integer
          example: 121
        example: 121
      - name: limit
        in: query
        required: true
        description: Observed 1/1 calls.
        schema:
          type: string
          example: '25'
        example: '25'
      - name: offset
        in: query
        required: true
        description: Observed 1/1 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: order_by
        in: query
        required: true
        description: Observed 1/1 calls.
        schema:
          type: string
          example: -source_modified_ts
        example: -source_modified_ts
      responses:
        '200':
          description: Observed 1 time(s).
          content:
            application/json:
              example:
                objects: []
                meta:
                  offset: 0
                  limit: 25
                  total_count: 0
                  previous: null
                  next: null
  /api/v1/courseofaction/{courseofaction_id}/ttp/:
    get:
      operationId: get_api_v1_courseofaction_courseofaction_id_ttp
      summary: GET /api/v1/courseofaction/{courseofaction_id}/ttp/
      description: 'Captured 1 time(s) from: Analyze Threat Model. Roles observed: admin.'
      tags:
      - courseofaction
      parameters:
      - name: courseofaction_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 121'
        schema:
          type: integer
          example: 121
        example: 121
      - name: limit
        in: query
        required: true
        description: Observed 1/1 calls.
        schema:
          type: string
          example: '1000'
        example: '1000'
      - name: offset
        in: query
        required: true
        description: Observed 1/1 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      responses:
        '200':
          description: Observed 1 time(s).
          content:
            application/json:
              example:
                meta:
                  limit: 1000
                  next: null
                  offset: 0
                  previous: null
                  total_count: 0
                objects: []
  /api/v1/custom_dashboard/:
    get:
      operationId: get_api_v1_custom_dashboard
      summary: GET /api/v1/custom_dashboard/
      description: 'Captured 33 time(s) from: Add Dashboard, Threatstream notificaiton, Threatstream_Anaylze overview, Threatstream_App
        Store, Threatstream_Dashboard_Dashboard, Threatstream_Feed Optimizer. Roles observed: admin, user.'
      tags:
      - custom_dashboard
      parameters:
      - name: _ts
        in: query
        required: false
        description: Observed 3/33 calls.
        schema:
          type: string
          example: '1789652223107'
        example: '1789652223107'
      - name: brevity
        in: query
        required: false
        description: Observed 8/33 calls.
        schema:
          type: string
          example: '1'
        example: '1'
      - name: creator_id__in
        in: query
        required: false
        description: Observed 1/33 calls.
        schema:
          type: string
          example: '40'
        example: '40'
      - name: is_active
        in: query
        required: false
        description: Observed 20/33 calls.
        schema:
          type: string
          example: 'true'
        example: 'true'
      - name: limit
        in: query
        required: true
        description: Observed 33/33 calls.
        schema:
          type: string
          example: '0'
        example: '0'
        x-observed-values:
        - '0'
        - '10'
        - '100'
      - name: offset
        in: query
        required: false
        description: Observed 10/33 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: order_by
        in: query
        required: false
        description: Observed 10/33 calls.
        schema:
          type: string
          example: -modified_ts
        example: -modified_ts
      - name: share_only
        in: query
        required: false
        description: Observed 3/33 calls.
        schema:
          type: string
          example: 'true'
        example: 'true'
      responses:
        '200':
          description: Observed 33 time(s).
          content:
            application/json:
              example:
                meta:
                  limit: 1000
                  next: null
                  offset: 0
                  previous: null
                  total_count: 1
                objects:
                - can_override_date_range: false
                  can_share: false
                  created_ts: '2026-09-17T10:58:27.858511'
                  creator:
                    email: nonadmin_user@ssperfai.threatstream.com
                    id: '41'
                    name: ''
                    resource_uri: /api/v1/user/41/
                  creator_id: 41
                  description: zubair view
                  id: 1002
                  is_active: true
                  is_enabled: true
                  is_public: false
                  modified_ts: '2026-09-17T10:58:57.726048'
                  name: zubair view
                  resource_uri: /api/v1/custom_dashboard/1002/
                  widget_count: 1
    post:
      operationId: post_api_v1_custom_dashboard
      summary: POST /api/v1/custom_dashboard/
      description: 'Captured 2 time(s) from: Add Dashboard, Threatstream_Dashboard_Dashboard. Roles observed: admin, user.'
      tags:
      - custom_dashboard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                can_share:
                  type: boolean
            example:
              name: zubair view
              description: zubair view
              can_share: false
      responses:
        '201':
          description: Observed 2 time(s).
          content:
            application/json:
              example:
                can_override_date_range: false
                can_share: false
                created_ts: '2026-09-17T07:15:29.870026'
                creator:
                  email: admin_user@perfai.threatstream.com
                  id: '40'
                  name: admin_user@perfai
                  resource_uri: /api/v1/user/40/
                creator_id: 40
                description: test
                id: 1001
                is_enabled: true
                is_public: false
                modified_ts: '2026-09-17T07:15:29.870039'
                name: test dashboard
                resource_uri: /api/v1/custom_dashboard/1001/
                widgets: []
  /api/v1/custom_dashboard/{custom_dashboard_id}/:
    get:
      operationId: get_api_v1_custom_dashboard_custom_dashboard_id
      summary: GET /api/v1/custom_dashboard/{custom_dashboard_id}/
      description: 'Captured 2 time(s) from: Add Dashboard, Threatstream_Dashboard_Dashboard. Roles observed: admin, user.'
      tags:
      - custom_dashboard
      parameters:
      - name: custom_dashboard_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 1001, 1002'
        schema:
          type: integer
          example: 1001
        example: 1001
        x-observed-values:
        - 1001
        - 1002
      responses:
        '200':
          description: Observed 2 time(s).
          content:
            application/json:
              example:
                can_override_date_range: false
                can_share: false
                created_ts: '2026-09-17T07:15:29.870652'
                creator:
                  email: admin_user@perfai.threatstream.com
                  id: '40'
                  name: admin_user@perfai
                  resource_uri: /api/v1/user/40/
                creator_id: 40
                description: test
                id: 1001
                is_enabled: true
                is_public: false
                modified_ts: '2026-09-17T07:15:29.870652'
                name: test dashboard
                resource_uri: /api/v1/custom_dashboard/1001/
                widgets: []
  /api/v1/custom_dashboard/{custom_dashboard_id}/widget/:
    post:
      operationId: post_api_v1_custom_dashboard_custom_dashboard_id_widget
      summary: POST /api/v1/custom_dashboard/{custom_dashboard_id}/widget/
      description: 'Captured 2 time(s) from: Add Dashboard, Threatstream_Dashboard_Dashboard. Roles observed: admin, user.'
      tags:
      - custom_dashboard
      parameters:
      - name: custom_dashboard_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 1001, 1002'
        schema:
          type: integer
          example: 1001
        example: 1001
        x-observed-values:
        - 1001
        - 1002
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chart_type:
                  type: string
                date_field:
                  type: string
                widget_definition:
                  type: integer
                layout:
                  type: object
                  properties:
                    sizeX:
                      type: integer
                    sizeY:
                      type: integer
                    minSizeX:
                      type: integer
                    minSizeY:
                      type: integer
                    row:
                      type: integer
                    col:
                      type: integer
                override_global_date_range:
                  type: boolean
                aggregate_field:
                  type: string
                days:
                  type: integer
            example:
              chart_type: sparkline
              date_field: modified_ts
              widget_definition: 13
              layout:
                sizeX: 6
                sizeY: 10
                minSizeX: 4
                minSizeY: 4
                row: 0
                col: 0
              override_global_date_range: true
              aggregate_field: cve
              days: 7
      responses:
        '201':
          description: Observed 2 time(s).
          content:
            application/json:
              example:
                aggregate_field: cve
                chart_type: sparkline
                created_ts: '2026-09-17T07:16:03.625044'
                date_field: modified_ts
                days: 7
                display_fields: []
                end_ts: null
                id: 1002
                is_enabled: true
                modified_ts: '2026-09-17T07:16:03.625054'
                name: Trending CVEs
                override_global_date_range: true
                pre_canned: false
                query: trending
                resource_uri: ''
                search_filter: null
                source_type: lens
                start_ts: null
                widget_definition: 13
                layout:
                  sizeX: 6
                  sizeY: 10
                  minSizeX: 4
                  minSizeY: 4
                  row: 0
                  col: 0
                success: true
  /api/v1/custom_dashboard/{custom_dashboard_id}/widget/{widget_id}/get_data/:
    get:
      operationId: get_api_v1_custom_dashboard_custom_dashboard_id_widget_widget_id_get_data
      summary: GET /api/v1/custom_dashboard/{custom_dashboard_id}/widget/{widget_id}/get_data/
      description: 'Captured 2 time(s) from: Add Dashboard, Threatstream_Dashboard_Dashboard. Roles observed: admin, user.'
      tags:
      - custom_dashboard
      parameters:
      - name: custom_dashboard_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 1001, 1002'
        schema:
          type: integer
          example: 1001
        example: 1001
        x-observed-values:
        - 1001
        - 1002
      - name: widget_id
        in: path
        required: true
        description: 'Real identifier observed in the HAR capture. Observed values: 1002, 1003'
        schema:
          type: integer
          example: 1002
        example: 1002
        x-observed-values:
        - 1002
        - 1003
      - name: timezone
        in: query
        required: true
        description: Observed 2/2 calls.
        schema:
          type: string
          example: America/Los_Angeles
        example: America/Los_Angeles
      responses:
        '200':
          description: Observed 2 time(s).
          content:
            application/json:
              example:
                error: The AWS Access Key Id you provided does not exist in our records.
                success: false
  /api/v1/dashboard/:
    get:
      operationId: get_api_v1_dashboard
      summary: GET /api/v1/dashboard/
      description: 'Captured 2 time(s) from: Threatstream_Dashboard_Dashboard, weekly summary. Roles observed: admin, user.'
      tags:
      - dashboard
      responses:
        '200':
          description: Observed 2 time(s).
          content:
            application/json:
              example:
                meta:
                  limit: 20
                  next: null
                  offset: 0
                  previous: null
                  total_count: 1
                objects:
                - created_ts: '2014-09-16T04:48:34.065000'
                  id: 1
                  is_active: true
                  modified_ts: '2014-10-08T22:25:05.957000'
                  num_cols: 3
                  num_rows: 4
                  org_id: null
                  panels:
                  - col: 0
                    created_ts: '2014-09-16T04:48:34.065000'
                    height: 0
                    id: 1
                    modified_ts: '2014-09-22T22:43:30.241000'
                    report_configuration:
                      created_ts: '2014-09-16T04:48:07.832000'
                      crosstabulate: true
                      current_report:
                        id: 517
                        org: 5
                        report_configuration: 1
                        result:
                          data:
                          - - '2026-09-10'
                          headers:
                          - Date
                        result_mime_type: null
                        result_s3_url: null
                        user: null
                      description: null
                      id: 1
                      interval_seconds: 604800
                      is_active: true
                      modified_ts: '2014-09-24T00:05:51.553000'
                      query_type: sql
                      report_type: line
                      resource_uri: /api/v1/report_configuration/1/
                      title: Threat Volume
                      x_label: Date
                      y_label: Number of Threats
                    resource_uri: /api/v1/dashboard_report_configuration/1/
                    row: 1
                    width: 0
                  resource_uri: /api/v1/dashboard/1/
                  title: Weekly Summary for Your Organization
  /api/v1/feed/:
    get:
      operationId: get_api_v1_feed
      summary: GET /api/v1/feed/
      description: 'Captured 8 time(s) from: Analyze overview, App Store, Threatstream notificaiton, Threatstream_App Store,
        Threatstream_Intelligence Initiaves, Threatstream_settings threatstream. Roles observed: admin, user.'
      tags:
      - feed
      parameters:
      - name: _ts
        in: query
        required: false
        description: Observed 1/8 calls.
        schema:
          type: string
          example: '1789647460602'
        example: '1789647460602'
      - name: active
        in: query
        required: false
        description: Observed 6/8 calls.
        schema:
          type: string
          example: 'true'
        example: 'true'
      - name: classification
        in: query
        required: false
        description: Observed 6/8 calls.
        schema:
          type: string
          example: public
        example: public
      - name: feed_category__in
        in: query
        required: false
        description: Observed 6/8 calls.
        schema:
          type: string
          example: opensource,threatstream
        example: opensource,threatstream
      - name: id
        in: query
        required: false
        description: Observed 2/8 calls.
        schema:
          type: string
          example: '60'
        example: '60'
        x-observed-values:
        - '60'
        - '61'
      - name: limit
        in: query
        required: false
        description: Observed 6/8 calls.
        schema:
          type: string
          example: '200'
        example: '200'
      - name: offset
        in: query
        required: false
        description: Observed 6/8 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: order_by
        in: query
        required: false
        description: Observed 6/8 calls.
        schema:
          type: string
          example: name
        example: name
      responses:
        '200':
          description: Observed 8 time(s).
          content:
            application/json:
              example:
                meta:
                  limit: 200
                  next: null
                  offset: 0
                  previous: null
                  total_count: 0
                objects: []
    post:
      operationId: post_api_v1_feed
      summary: POST /api/v1/feed/
      description: 'Captured 1 time(s) from: Threatstream_Manage Feeds. Roles observed: user.'
      tags:
      - feed
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                engine:
                  type: string
                name:
                  type: string
                url:
                  type: string
                confidence:
                  type: integer
                interval:
                  type: string
                classification:
                  type: string
                tags:
                  type: array
                  items: {}
                expiry_time_in_days:
                  type: integer
                source_confidence_weight:
                  type: integer
                allow_unresolved_domains:
                  type: boolean
                ip_mapping:
                  type: string
                ipv6_mapping:
                  type: string
                domain_mapping:
                  type: string
                url_mapping:
                  type: string
                email_mapping:
                  type: string
                md5_mapping:
                  type: string
            example:
              engine: extractor
              name: bola testing
              url: https://stg-ksa-ui.threatstream.com/feeds?status=active,success
              confidence: 50
              interval: 1h
              classification: private
              tags: []
              expiry_time_in_days: 90
              source_confidence_weight: 0
              allow_unresolved_domains: false
              ip_mapping: anon_proxy
              ipv6_mapping: mal_ipv6
              domain_mapping: mal_domain
              url_mapping: mal_url
              email_mapping: mal_email
              md5_mapping: mal_md5
      responses:
        '201':
          description: Observed 1 time(s).
          content:
            application/json:
              example:
                active: true
                allow_unresolved_domains: false
                allow_update: false
                child_page_url_template: ''
                circles: []
                classification: private
                client_certificate_data: null
                client_certificate_passphrase: null
                client_certificate_type: null
                confidence: '50'
                confidence_is_engine_defined: false
                config:
                  itype_mapping:
                    domain: mal_domain
                    email: mal_email
                    ipv4: anon_proxy
                    ipv6: mal_ipv6
                    md5: mal_md5
                    url: mal_url
  /api/v1/feed/appstore/:
    get:
      operationId: get_api_v1_feed_appstore
      summary: GET /api/v1/feed/appstore/
      description: 'Captured 1 time(s) from: manage Intelligence Initiatives. Roles observed: admin.'
      tags:
      - feed
      parameters:
      - name: limit
        in: query
        required: true
        description: Observed 1/1 calls.
        schema:
          type: string
          example: '10'
        example: '10'
      - name: offset
        in: query
        required: true
        description: Observed 1/1 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: timezone
        in: query
        required: true
        description: Observed 1/1 calls.
        schema:
          type: string
          example: America/Los_Angeles
        example: America/Los_Angeles
      responses:
        '200':
          description: Observed 1 time(s).
          content:
            application/json:
              example:
                objects:
                - id: 70
                  name: DShield Scanning IPs
                  vendor: Anomali Inc.
                  feed_type: premium
                  intelligence_initiative_types: []
                meta:
                  offset: 0
                  limit: 10
                  total_count: 16
                  previous: null
                  next: /api/v1/feed/appstore/?timezone=America%2FLos_Angeles&limit=10&offset=10
                success: true
  /api/v1/feed/names/:
    get:
      operationId: get_api_v1_feed_names
      summary: GET /api/v1/feed/names/
      description: 'Captured 22 time(s) from: Add Dashboard, Analyze Observables, Analyze Threat Model, Threatstream notificaiton,
        Threatstream_Anaylze attack flow, Threatstream_Anaylze observables. Roles observed: admin, user.'
      tags:
      - feed
      parameters:
      - name: _ts
        in: query
        required: false
        description: Observed 3/22 calls.
        schema:
          type: string
          example: '1789652223138'
        example: '1789652223138'
      - name: extra_fields
        in: query
        required: true
        description: Observed 22/22 calls.
        schema:
          type: string
          example: active
        example: active
      - name: limit
        in: query
        required: true
        description: Observed 22/22 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: offset
        in: query
        required: true
        description: Observed 22/22 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: order_by
        in: query
        required: true
        description: Observed 22/22 calls.
        schema:
          type: string
          example: name
        example: name
      responses:
        '200':
          description: Observed 22 time(s).
          content:
            application/json:
              example:
                objects:
                - id: 69
                  name: abuse.ch - SSL Blacklist
                  active: true
                success: true
  /api/v1/feed/overlap_stats/:
    get:
      operationId: get_api_v1_feed_overlap_stats
      summary: GET /api/v1/feed/overlap_stats/
      description: 'Captured 7 time(s) from: Threatstream_Feed Optimizer, manage Feed Optimizer, manage MITRE ATT&CK. Roles
        observed: admin, user.'
      tags:
      - feed
      parameters:
      - name: active
        in: query
        required: true
        description: Observed 7/7 calls.
        schema:
          type: string
          example: 'true'
        example: 'true'
      - name: feed_ids
        in: query
        required: true
        description: Observed 7/7 calls.
        schema:
          type: string
          example: '65'
        example: '65'
        x-observed-values:
        - '65'
        - 65,56,54
        - 65,56
        - 65,56,54,63
      - name: limit
        in: query
        required: true
        description: Observed 7/7 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: offset
        in: query
        required: true
        description: Observed 7/7 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      responses:
        '200':
          description: Observed 7 time(s).
          content:
            application/json:
              example:
                overlaps: []
                success: true
  /api/v1/feed/rss_mappings/:
    get:
      operationId: get_api_v1_feed_rss_mappings
      summary: GET /api/v1/feed/rss_mappings/
      description: 'Captured 1 time(s) from: Threatstream_Manage Feeds. Roles observed: user.'
      tags:
      - feed
      parameters:
      - name: url
        in: query
        required: true
        description: Observed 1/1 calls.
        schema:
          type: string
          example: https://stg-ksa-ui.threatstream.com/feeds?status=active,success
        example: https://stg-ksa-ui.threatstream.com/feeds?status=active,success
      responses:
        '200':
          description: Observed 1 time(s).
          content:
            application/json:
              example:
                success: false
                error_message: No results found in url "https://stg-ksa-ui.threatstream.com/feeds?status=active,success"
                json_mapping: null
                header_required: true
                header:
                  User-Agent: Mozilla/5.0 (Windows; Windows NT 5.1) AppleWebKit/534.24 (KHTML, like Gecko) Chrome/11.0.696.68
                    Safari/534.24
  /api/v1/feed/search/:
    get:
      operationId: get_api_v1_feed_search
      summary: GET /api/v1/feed/search/
      description: 'Captured 8 time(s) from: Threatstream notificaiton, Threatstream_Manage Feeds, Threatstream_settings threatstream,
        manage Feeds, settings threatstream. Roles observed: admin, user.'
      tags:
      - feed
      parameters:
      - name: _ts
        in: query
        required: false
        description: Observed 2/8 calls.
        schema:
          type: string
          example: '1789652348721'
        example: '1789652348721'
      - name: active
        in: query
        required: false
        description: Observed 2/8 calls.
        schema:
          type: string
          example: 'true'
        example: 'true'
      - name: engine
        in: query
        required: false
        description: Observed 1/8 calls.
        schema:
          type: string
          example: rss_stream
        example: rss_stream
      - name: feed_type
        in: query
        required: false
        description: Observed 1/8 calls.
        schema:
          type: string
          example: scraper
        example: scraper
      - name: feed_type__in
        in: query
        required: false
        description: Observed 7/8 calls.
        schema:
          type: string
          example: scraper
        example: scraper
        x-observed-values:
        - scraper
        - taxii
      - name: format
        in: query
        required: false
        description: Observed 1/8 calls.
        schema:
          type: string
          example: csv
        example: csv
      - name: hidden
        in: query
        required: true
        description: Observed 8/8 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: limit
        in: query
        required: true
        description: Observed 8/8 calls.
        schema:
          type: string
          example: '25'
        example: '25'
        x-observed-values:
        - '25'
        - '1000'
      - name: offset
        in: query
        required: true
        description: Observed 8/8 calls.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: order_by
        in: query
        required: false
        description: Observed 5/8 calls.
        schema:
          type: string
          example: -created_ts
        example: -created_ts
      - name: org_inactive
        in: query
        required: false
        description: Observed 5/8 calls.
        schema:
          type: string
          example: 'true'
        example: 'true'
      - name: organization
        in: query
        required: false
        description: Observed 3/8 calls.
        schema:
          type: string
          example: '5'
        example: '5'
      - name: q
        in: query
        required: true
        description: Observed 8/8 calls.
        schema:
          type: string
          example: ''
        example: ''
      - name: showNote
        in: query
        required: false
        description: Observed 1/8 calls.
        schema:
          type: string
          example: 'true'
        example: 'true'
      - name: state__in
        in: query
        required: false
        description: Observed 2/8 calls.
        schema:
          type: string
          example: '1'
        example: '1'
      responses:
        '200':
          description: Observed 8 time(s).
          content:
            application/json:
              example:
                meta:
                  limit: 1000
                  next: null
                  offset: 0
                  previous: null
                  total_count: 0
                objects: []
  /api/v1/feed/stats/:
    get:
      operationId: get_api_v1_feed_stats
      summary: GET /api/v1/feed/stats/
      description: 'Captured 3 time(s) from: Threatstream_Feed Optimizer, manage Feed Optimizer, manage MITRE ATT&CK. Roles
        observed: admin, user.'
      tags:
      - feed
      parameters:
      - name: active
        in: query
        required: true
        description: Observed 3/3 calls.
        schema:
          type: string
          example: 'true'
        example: 'true'
      - name: limit
        in: query
        required: true
        description: Observed 3/3 calls.
        schema:
[...]
