openapi: 3.0.3
info:
  title: Sogolytics App
  version: 1.0.0
servers:
  - url: https://www.sogolytics.com/apidmx
tags:
  - name: $rpc
  - name: "@dotlottie"
  - name: AjxkeepSessionInLive.aspx
  - name: SM
  - name: Tooltip
  - name: WebResource.axd
  - name: _
  - name: _s
  - name: _web-service
  - name: action
  - name: analytics
  - name: api
  - name: apidmx
  - name: apirmx
  - name: apismx
  - name: blank.html
  - name: ccm
  - name: collect
  - name: css
  - name: css2
  - name: default
  - name: elements
  - name: embed
  - name: error.aspx
  - name: g
  - name: generate_204
  - name: gtag
  - name: icon
  - name: iframe_api
  - name: includes
  - name: j
  - name: log
  - name: log-performance
  - name: pagead
  - name: pixel
  - name: poll
  - name: rum
  - name: s
  - name: sdk
  - name: signalr
  - name: static
  - name: t
  - name: tag
  - name: topics_api
  - name: trc
  - name: upgradepopup.aspx
  - name: v1
  - name: vi_webp
  - name: wa
  - name: wp-content
  - name: youtubei
  - name: zAM
  - name: zDM
  - name: zEM
  - name: zHome
  - name: zLMx
  - name: zRMX
  - name: zRMx
  - name: zSM
  - name: zUM
  - name: zdm
  - name: zsm
  - name: "{id}"
paths:
  /zRMx/FilterManager.aspx:
    get:
      tags:
        - zRMx
      summary: GET /zRMx/FilterManager.aspx
      operationId: get_zRMx_FilterManager_aspx
      parameters:
        - name: slink
          in: query
          required: false
          schema:
            type: string
          example: "6"
        - name: sid
          in: query
          required: false
          schema:
            type: string
          example: "5"
      responses:
        "200":
          description: Success
  /zRMx/Filter.aspx:
    post:
      tags:
        - zRMx
      summary: POST /zRMx/Filter.aspx
      operationId: post_zRMx_Filter_aspx
      parameters:
        - name: rptlink
          in: query
          required: false
          schema:
            type: string
          example: FilterManager.aspx
        - name: slink
          in: query
          required: false
          schema:
            type: string
          example: "6"
        - name: reqType
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: flid
          in: query
          required: false
          schema:
            type: string
          example: "1521770"
        - name: viewEdit
          in: query
          required: false
          schema:
            type: string
          example: "1"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties:
                type: string
            examples:
              fromHar:
                value:
                  __EVENTTARGET: ""
                  __EVENTARGUMENT: ""
                  __VIEWSTATE: OyL0%2FmoPCLzwvHlVueWll%2BhJCbBMPyE0gRAm6PA65PLJSZ9NDtAVQNEeIS3r98YHFmeM2Z8v1EQl%2FkmbhsWO4XhrC0l4U9L9vdB29CXKWSfMCUI%2F1O6AisXzavwJDvIQ8IhF82hhMCQlqKZ24HLJtDOQCrG110YWMMhcSRdUC6BctG6iGO1zHSJj5tfGDP83mka8Xq%2F6d2yiBYjoko6YqqQqrtRiP%2Bf5W05tjX97W2zZylmi3bWsReEooMS1ofYbfRLGSogpLUgw9ITE8WGkvZxkXXSWuM99UoohJuHon4L4RfAWfLWx0WubPXRhSNKO7wZUaOu3JordMqG8XrD3wmuGzABbgaPHYDj4%2FPUmgj%2FlVbcYlmma%2FvyqYkzhIXCCYzmI59IF%2B%2FRnmnqn028TlGAEiH%2Byba6OWNyvOQzMJQI8e0xo9yAhwdE8PQyegopIyzjscjRoka%2FpiQXVJIc3smSoSel%2FnaBDPyk4Zfo%2B5Fr%2B9QOwSzGlZtdo8PpbVJu10OfDHycSu1rRLKKjmofhykK%2FPO2vTHwoy3Cxh529BNDeZY%2F%2Fi1HdeXCpySmeBqXpLRYVYovbMytdLXLkihUB32csL7kFte4DDapSR6I0mEX0Tl1tw43H8UOm8b%2BXWUmeljaly8AV3wUYNe7w4pDBgT%2FzWp2ZvO3V23lKVnm%2FIoY7YGG3eu74pAC9I9yG8j%2BX4YNirAuXvS0fquqyhRmxl4n%2BckvSYwTOsSAakO%2BzcCSYbbIAoV%2BtWDqQUnw%2FsK4twsXvAmNZgQY9MoaQut45eedU4fVJrUBDO%2FMZnH6%2BCJtoDyXWUCBJ3njG%2F%2BqOJC9Df5uRT5IrVS8DCmwnVMddRRhs%2Bqg0GkJqog5hRqfjO%2BQd1%2FCgBXt5rD%2FpJLj5QtA7LKpbFlF8sya%2FyK4O1k0HqFdOA3v5pqQQKW2qVkBXdSrQz3g%2FfVMrPWj2rTbG0kesChKZO6mjmGKLmwJa1j5O%2FYhwHV0AI%2FYalWBLA8zcZYdkEcFUc%2Fj5pjSuzgi7lFn8WL2P2qfZQrw%2BKHOJBe2K%2FjBQdUOBCdYRxWyQsq0wiStlfRAndFKPafS1xpcuh32OmI%2BHxjPEXL921OW9IP8Jn1CaTCoLcknAFfmN6QEpMSI4do%2F3BOh6cYsU2o5JaqX79lzjrQ3smCCkG1o9NakOh2P2L0h3fB02A3fKYh2QzCNQiqDt2jP5r8Qu8%2FJH3qxezkCTytpJbriPdp1%2Fdwa2ElWk2AekALXdSy%2FyLxwU4BwJ%2FUKz1jl3CWq8WsMtMOx2ZzpZQaPNDG5a9pdyDomX%2F4jjfS2K3fC6F4HYV56nCSoOxjbFVMi6jiEurTkCSk0MoB%2BtLzBmpBDjvT5Jr0Kts%2FK7rWgvEYQ6Kes%2FBjWxLbn9eFLMD8rk8Mar1dMPJzQnJtrU0nTmzY%2BSOmtVaYQMRCF%2Be07yUv9NRL54W7kT77%2Fnvn6%2F4J0D4NMwQMcCQNfuoPxczvNun9Lwyjei15qim4l%2Fwx4tCtoyX0KrvakW5zUIiRzjLbcqFUtBMw4BrKNO6qm%2FbtYbAvtRYgYeBjDSnX%2Bmh%2BORjn9S8WDVrl4RkKIEaLfkBgLWnL3EyAVq1uA%2Bp0NUTGwgypO%2BVw9wSkzYss5YR2JqYTP66gyPc8ftSU9hZ4OK4e%2FkH1GNtcAi%2B0Y8Vlv2fqoXn5%2BcBhXQwQXZZ4lN3oiESwGcq%2FCAd6LNf9SVD%2B2Poj998HuOdoRa3ouj37NenLltrn5yqXvTyhL28AvJSAILz07b9xp4tg2qtvYOTIsJKaDV0f1ptcgud0frA7maAncTViYqY1zyeUkAUlqRcKlJtdycd7R1laPdcft%2Bj7ApleD%2BL5C3qzKXxGpvhIswac7YFBpwcqmQ1G%2Fu0i%2BfexACy177plDbpPyWvb0OIQpslRO4uNneeSPIR2O3pR6pnHPEHLGvPaWAUDgr2fSVZ0kLxj779gh%2Bf18kiY6ahCD7QaPjLj5A9kM9gTg187PKrahoqzyiHPIC2B6y2m3d%2FFT4DZUAYbNFcA4a93xhLkTnxOAG3JL3CNhyRl3rb1luwKLRNbXreuXC5LP1KT7RlBYib45hnvltvfr6HnwFNijhxFsUgA7TaL4p7yaqs4Azb%2BImFJuvB%2F5yXgqpQSL2blwgN0R4BqapwixZXfd9AJLh6XQ9Hep0J5QJ0PfdBwPSbs17cbtX%2FLJug1BYcPNnquF%2B5yodHUDHy8P1GYYmfSbp7Ka1D0CzTAccG8EzAZ7%2FkUvz%2Fmiw3McZhZQuB035HDJ4mFgiI13v9wY2vZB4oz6JC%2F4JIqirIYvXC58CmPn1LG2kl8gih%2BDDjY%2FLWSLsGJTDHRdHKEeMBjB18KOSGlA%2ByxgnONqj8DmLTnoe37ffjPdBujsbxaR9sAJnVek8d8X5WLFAw65flSyo5m468%2BFwpzlF6vBpwbhNr79hYS%2BYoTO%2Bnnr%2BTFX8ynbZiXnnPaq9PkDwB3NQOZlWq8iItNwu4ar%2BEHGjXYVSYuCiD%2BDd9HjfWeJpTrGsoyyKeIgO5oWk4W6BM14MQaMLJS9u3loBvo0jLjswAKoDWK4PDvr2M9HfPgIxSUj6H4O3RuXNqo44sLPLcByTF7n%2Fv9DXkEaN36MCh32f%2FYkC1%2BpuNCKxm9L2bKqq531NX%2FyJLbIPPUlKOzyjN%2BLwUUvt2y9RgvHFPmUAf9CeKlTL%2FL11P3PuGBgDW6SIdPS8Ys8%2FCI3lNxCHOw1aaVuyrTPCvE9G92%2FE7m5k7NCP2dwlElscycOLzADp4i4%2Fi78WgOVkBHond%2BaDywZHCvfIdUyvYTy%2B9CHgXzcDw9QTnWpQFTMWLaix4gEvMCj9YHq5s2y4pS5zOKJKnE%2BonzGEd%2By6ds3ty6%2FejuYDllQQx1EitSoms1inaLO2Ir4SVTqWPXZisxOVNR41Cc4NNx5qepg4XstHxwLzsZNaYGed%2BbomvONw3%2BukdLhm5Tg%2FQp8Tj%2BErx4qzeh6gRUF3nc7y6ztWv3AUoLzhhKg74UQJHlea1Hnz6bWR5T5jUhtSA0V9k%2BAm1eP%2FR9E9hTuxq3vI6rXXPQyxcnMlfEKZbRNwNX8TvGcGHOnewlA9F66YgOY51Kzvy9ufyfNPtxSxnnZoks1qDWzcw%2By3yTXjIVfuEn5WUL%2FZeJIjvwhV8yeufYvSOf3NJuzLwNQZZVSQ2V2zxC8gnewqaLt1OsVeoGnSOVFy19ao5ihyLLXmFjfJ1KgPmYgc0SoueZc2ppRo1iqqxKojS2Ne7FrtgtYwqgsqFIygfgfgoxe7Go3n2PgsEhfVj3wRNrKIbE2w44bIn1SAxjyPZERFHkszGmTatRRDdtgMhfJf%2BAZFQUuQqa4%2BbjdBGVq2mDzQ%2FoHEm8gzeaZE2LyrQj4NwouPQrLSRdadsbU25r6Zc7L6zIBsUwJ4u2qsLRE7QxS5fIiO5cx9lxAIx%2B3uS%2Bt3Bx5DZZ2JXx0tlVWuHijc00hbsSvEsmzpfVlIthfbuDxPsP47gJqelEXIlUOMaXcsnk4cnx8ikuzw6jhOTlK546j6fG8tG3x91BbtbDgQEi1%2BMrqrZBbhwmAQ5UbGBxkrPYhSp2eMAkNaY0kMxpqGvNIkVV%2B2CHKkKutCyAZE67q3PPX5JILIBLnbG0iDt1tcErXxQcil2TUWtIsNd6i9s0eLK4KXFh3NyLR0q3pXHr9MW6urOkvTFrpVgfPg9xHhSRAvvVkXGzQokc01nvIBReChSN%2Bgz93KrEm%2Ba%2FWEHrFS1DAy3Y1BV4kXjJ%2B3aPw7UYoGAsQEwBHeduIiHaeXyZOCKj0OE9NaPbKKO07eee2HnpUI%2Bd97lv7ygcKfVoyWn%2FTdSTnR62A%2Bcr1DachP4gTHepQLI9V0R0KkWHAYR185rMG97cdGxtXa48ntxgvdYrf4WWFZKurvUMG59Ep4VrDr8AElDTqEr5xU8EkX4m7eyJZraTlaBarTc4WK5Ow1By2OCU9aJ7gdNltt7Dn0DCvNsyJ8hyTep22h27hA6fBD7uetsKSFCeCnouyHOp9W7jExmWejWwLSq4shHqPotN1OhU%2FMO%2BYzGuVhutnGjSvr7leKJmnjzrJL3njDKcBUyNJ4zk14CvriLwaLbPNuCu0GgAdFpjusAFNnmlKM2cVMCMLKlCnZDHkil%2FXBOdS9tSkePVxGc%2FPqpagmnBniRA7m7fQ1X98Tb9BqOx0TqMAwR3Hqm5S3KeVVqn%2BSHsExc4Ys8ZVftZbGf6fxG2WfMjD7%2FeJR0yYTRe9C4NxhSBQWUACDxhtJFjZMivogzxxx0WhmUkKV1RJNGobi16%2BTO6cG2%2F5VJ8vuEeIETt1n8MbPl24RLExiE4x%2FRY8fWcaY%2BDVdgaFlV%2FwyU0ZZwSAsPWS6SUbfRxKPsehQd%2FgPPLFtIEvUhPQHRuEVba2ScItij7BOY5HvuyeP4xVrhCEe7%2B7X5K5uwnoy832UeM3rtEFOzlMhFhxkIirveKZoHsmFIS%2BvrDFWAy%2BKewpP5MzqKAqO7SAe9qjljqXNmWuWi6zQAIdkxFCW%2FGJbb8ec17PhFGVGyvKBQq4m5JWDZVpbH29JNmV2bz7%2BmibY6iw8pocUxYujKAi%2B0gp77AKThUKDY6dRwO7VmzALT3IF683rqXNeZp5WfGHCwfvuFIgY%2Bp48oEl%2BmDWGp1%2B%2FgaU9De0FaygmbRcfZqbh5kYyycmgvbe7FBuHOiy8gPcPb0X29Tgtj4SXPfC%2B%2FbdZDX1xwKkj5I6mOcnVt8gOXVRJjRaA2haCmGxQ7Oj2IMC3CsfxALOu%2FR3%2F7tqER72zpphV0s6zmDev3l6WdWoghCuRbyRppsuYGSSS8vsMyvR%2Bz30vXumkm1JKaY3SE6JcBJ1gz5KjR1NT%2BcCzYVh4%2BK%2B%2B24VSeVZwD4bdNyt8Osj84dRx5Dao%2FUKT8WS%2BuUINXm79GlnFpyysvAA9LcPujANAGTlx6j2QgAQ19DprzBns3cNZZSpHcfvnFIhG4271NaDvKgmoz17k%2FzqPfVeyUsexEkwfbsI%2BZeYazl0ocho0OCYyi9%2BVJbjSFfFI3RCN0lE9KipeSRPl8Kf%2BYabS8F%2FWmutu
                  __VIEWSTATEGENERATOR: 9FD0CD10
                  __EVENTVALIDATION: z9qFp0NcFCChkRpiSGWzM79KkRK7H8KgMDLMYB43KAJtZnA0yGKLMS6CaiyaVj43l1vfv9r6I0zWE%2BrEjSuqj6OUhNGgAE9od%2FCVPQ4fgkczishmNlczv6gH41ad%2FZJLgGQPimlC9LcrmGkGmb7Z2VarL5MLK0dcnRxZiP43Ev0ZgIagNXDvE1ihA6dqwGjUK7Rw6Hy%2F6Ng1YorJ8DTmCZszzwwBV21HQedZ3dxK2HGXVg1PuXsvRfPRZdMZ7t0vBjL5UCrsf8xyG7veUqhvd3ggSoTIaW4prJJuWtjo61IwTN6RTtwAh3AzQgYS%2FfDt%2BNfWD7mYLPQnZ%2FkwOtDESV3MTyB1kC%2B%2FUnkMFA3Aw69eDtNFmvFhtGjF4mfe9LTzVmL9JG8YkdiMmTp6fT5eVlznRniRY445725KckFBAHbb8mSHhKXCU6LeF0dJiXw326fEYXcPByW9R5AQ5OyI2WjmOI4OMBAsMFIcCgopOsCh5t0IHxySbS9CErcEiws8
                  txtDateFormat: M%2Fd%2Fyyyy
                  MyHeader%24hdnFPToken: ""
                  MyHeader%24ctl01%24ucHeaderSidebar%24hfTopProjectsJson: ""
                  MyHeader%24ctl01%24ucHeaderSidebar%24hfAllProjectsJson: ""
                  MyHeader%24ctl01%24hdnDashboard: survey
                  MyHeader%24hdnLoggedOut: ""
                  SaveFilter: Overwrite
                  txtFilterName: GTSS
                  txtCondName_999_1_0: C1
                  txtQType_999_1_0: T
                  txtZarcaQID_999_1_0: "23753479"
                  txtOptText_999_1_0: is+answered
                  txtoptrValue_999_1_0: ISANSWERED
                  txtvalueIDNA_23753479_999_1_0: "0"
                  txtvalueIDRK_23753479_999_1_0: "0"
                  txtvalueNPS_23753479_999_1_0: "False"
                  ddlText_23753479_999_1_0: ISANSWERED
                  txtText_23753479_999_1_0: ""
                  condtype: "1"
                  txtScript_999_1: ""
                  isAssessmentH: "False"
                  hdnSid: "0"
                  hdnFlid: "0"
                  hdnzQID: "0"
                  hdnQtype: "0"
                  btnAdvSaveGoToFM: Save+%26+go+to+Filter+Manager
      responses:
        "200":
          description: Success
    get:
      tags:
        - zRMx
      summary: GET /zRMx/Filter.aspx
      operationId: get_zRMx_Filter_aspx
      parameters:
        - name: rptlink
          in: query
          required: false
          schema:
            type: string
          example: FilterManager.aspx
        - name: slink
          in: query
          required: false
          schema:
            type: string
          example: "6"
        - name: reqType
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: flid
          in: query
          required: false
          schema:
            type: string
          example: "1521770"
        - name: viewEdit
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /zUM/FileManager.aspx:
    get:
      tags:
        - zUM
      summary: GET /zUM/FileManager.aspx
      operationId: get_zUM_FileManager_aspx
      parameters:
        - name: isResourceHub
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: type
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /zRMX/OmniReport.aspx:
    get:
      tags:
        - zRMX
      summary: GET /zRMX/OmniReport.aspx
      operationId: get_zRMX_OmniReport_aspx
      parameters:
        - name: sid
          in: query
          required: false
          schema:
            type: string
          example: "5"
      responses:
        "200":
          description: Success
  /zRMX/NoResponses.aspx:
    get:
      tags:
        - zRMX
      summary: GET /zRMX/NoResponses.aspx
      operationId: get_zRMX_NoResponses_aspx
      parameters:
        - name: checkNoresponse
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: reporType
          in: query
          required: false
          schema:
            type: string
          example: "15"
      responses:
        "200":
          description: Success
  /zRMX/savedreport.aspx:
    get:
      tags:
        - zRMX
      summary: GET /zRMX/savedreport.aspx
      operationId: get_zRMX_savedreport_aspx
      parameters:
        - name: "slink "
          in: query
          required: false
          schema:
            type: string
          example: " 3 "
        - name: " ft"
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: slink
          in: query
          required: false
          schema:
            type: string
          example: "3"
        - name: ft
          in: query
          required: false
          schema:
            type: string
          example: ""
      responses:
        "200":
          description: Success
  /zRMX/EMailManager.aspx:
    get:
      tags:
        - zRMX
      summary: GET /zRMX/EMailManager.aspx
      operationId: get_zRMX_EMailManager_aspx
      parameters:
        - name: slink
          in: query
          required: false
          schema:
            type: string
          example: "4"
        - name: isResourceHub
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /t/distribute:
    get:
      tags:
        - t
      summary: GET /t/distribute
      operationId: get_t_distribute
      parameters:
        - name: survey_no
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /t/all-projects:
    get:
      tags:
        - t
      summary: GET /t/all-projects
      operationId: get_t_all_projects
      parameters:
        - name: fno
          in: query
          required: false
          schema:
            type: string
          example: "0"
      responses:
        "200":
          description: Success
  /zSM/QuestionManager.aspx:
    get:
      tags:
        - zSM
      summary: GET /zSM/QuestionManager.aspx
      operationId: get_zSM_QuestionManager_aspx
      parameters:
        - name: Survey_No
          in: query
          required: false
          schema:
            type: string
          example: "5"
      responses:
        "200":
          description: Success
  /zHome/home.aspx:
    get:
      tags:
        - zHome
      summary: GET /zHome/home.aspx
      operationId: get_zHome_home_aspx
      parameters:
        - name: isTemplateBank
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /t/data:
    get:
      tags:
        - t
      summary: GET /t/data
      operationId: get_t_data
      parameters:
        - name: survey_no
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /t/data/import:
    get:
      tags:
        - t
      summary: GET /t/data/import
      operationId: get_t_data_import
      parameters:
        - name: survey_no
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /zEM/DataManager.aspx:
    get:
      tags:
        - zEM
      summary: GET /zEM/DataManager.aspx
      operationId: get_zEM_DataManager_aspx
      parameters:
        - name: sid
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /zRMx/OmniReport.aspx:
    get:
      tags:
        - zRMx
      summary: GET /zRMx/OmniReport.aspx
      operationId: get_zRMx_OmniReport_aspx
      parameters:
        - name: sid
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /zRMx/NoResponses.aspx:
    get:
      tags:
        - zRMx
      summary: GET /zRMx/NoResponses.aspx
      operationId: get_zRMx_NoResponses_aspx
      parameters:
        - name: checkNoresponse
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: reporType
          in: query
          required: false
          schema:
            type: string
          example: "15"
      responses:
        "200":
          description: Success
  /zRMx/savedreport.aspx:
    get:
      tags:
        - zRMx
      summary: GET /zRMx/savedreport.aspx
      operationId: get_zRMx_savedreport_aspx
      parameters:
        - name: slink
          in: query
          required: false
          schema:
            type: string
          example: "3"
        - name: ft
          in: query
          required: false
          schema:
            type: string
          example: ""
      responses:
        "200":
          description: Success
  /zRMx/BallotBox.aspx:
    get:
      tags:
        - zRMx
      summary: GET /zRMx/BallotBox.aspx
      operationId: get_zRMx_BallotBox_aspx
      parameters:
        - name: slink
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: sid
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /zRMx/individual_reports.aspx:
    get:
      tags:
        - zRMx
      summary: GET /zRMx/individual_reports.aspx
      operationId: get_zRMx_individual_reports_aspx
      parameters:
        - name: IsShowWizard
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: slink
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: sid
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: DNA
          in: query
          required: false
          schema:
            type: string
          example: "False"
      responses:
        "200":
          description: Success
  /zRMx/AdvBarGraph_Wizard.aspx:
    get:
      tags:
        - zRMx
      summary: GET /zRMx/AdvBarGraph_Wizard.aspx
      operationId: get_zRMx_AdvBarGraph_Wizard_aspx
      parameters:
        - name: sid
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /zLMx/ListManager.aspx:
    get:
      tags:
        - zLMx
      summary: GET /zLMx/ListManager.aspx
      operationId: get_zLMx_ListManager_aspx
      parameters:
        - name: lid
          in: query
          required: false
          schema:
            type: string
          example: "79524"
        - name: added
          in: query
          required: false
          schema:
            type: string
          example: "5"
        - name: edit
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: isResourceHub
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
    post:
      tags:
        - zLMx
      summary: POST /zLMx/ListManager.aspx
      operationId: post_zLMx_ListManager_aspx
      parameters:
        - name: lid
          in: query
          required: false
          schema:
            type: string
          example: "79524"
        - name: added
          in: query
          required: false
          schema:
            type: string
          example: "5"
        - name: edit
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: isResourceHub
          in: query
          required: false
          schema:
            type: string
          example: "1"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties:
                type: string
            examples:
              fromHar:
                value:
                  __EVENTTARGET: ctl00%24ctl00%24cphMain%24cphBody%24lnkNewListView
                  __EVENTARGUMENT: ""
                  __VIEWSTATE: zcm3dMTyk7tzLxGjD7LDsXWUdpe7oAD1CK8av8GsYdwHoLf2MeH7VJgFA52QWIDaSbnnZWUMSfdagBd7KGeASRRy8udSACp1jp3MQbtuoObZ9jWFZ0s0JlmrdeRW6R9dqRdn%2Fb6pqazGMPgjbrlc2LRSdELmJzkQ2tvoJ0ephgk41xYPe1YtrfmQHVHBXmoxTJnrOQ5Sk5qx6QcHAVwOeKLCAB07dIb1nMafJ88TLHqMrn1VXFkjVP2r7wFgPPNAfyW5HbqddfTlr2g1LSp5vqibbZBXIANeuVcyetD7zD7VYLxMshFL7w9Ja9x5fuFvKoOZCrlnBxQqY%2Bw%2Fu36jYwvczfAbHBA%2BAkazlX1v58nwgAFm9zAtjckrB7dSviJjZCnC9mnCP%2Fr9F5JP7cXvmsOHXvMGDCwx75gp09ytMChNraNqwiz9qk1PsAjHGuA7oMQUFHGSPeQ9Cmy8mgJGiSltzOAZ1b2NFWLrsUKYXW8ynC%2F4%2FHCwLENE3tNF54Q0PtypqIOghmozgE9qIhgrJI0XOmB3krdeaI7O9o2qeWBlK5aVpbiRJ0%2BbstZDTnIipcx8f9hN%2BayVm8Sl3%2FVvshIaL%2BXvTCHTbrRjop8o1oG6uRIE09OfIE9Fm4a8ZQQYR37MpiXrebEWbq7%2FWpB5Tm9ifiBQ6dj49kE0WnBUbFbUzb0uC24EdAgfLvEN3337eUcDxchPBqXTNkoyN4SRVdpGHJwkYoLxo%2FqsLBmMNOWz4IfAEeS7BFNXBHj34BApGMNQvLGiB%2FI69m0%2BwrxKoupW30CjkTYkRA2J5fv0p9XzbjKxIfCM6yswNAQRU%2BGAzslRqpa4mKTlVhDL50%2FfZGr0hw6e2sL3Py%2FfpD9Ba1SQQgyy0dmkI1x7Rc%2FcchI9IxBnFLoo8j1vHWyZ0TT5EDv9jKkchfi1SqSpgZms80uRMlLcdWvEDmqPYLMYNTT48c1zAC%2F%2FwXhKI4WqNMuLe4bJD1vpFbpGKxoCGR8aIMrLBylXgs%2FLtd14Jq30MCh%2F7wCIdGpc6R6ZoIBVZx9ejFiOa3hlnk%2FOxQZOMxUQl0C%2FKF0A%2B9KWhnnthQH0wtYcgDKeE%2BGOtOUJ96K0BCEM%2BH50ruKWIcRCldM8x2J18bfXGaUOxzIAGSE9evBGO6npjY43dGxnziKyNHorTAb8eFsfqqcdWQrPNC2sI60%2FQd83hXFOaIUGbEzy2JB8SaS3Fvfb68zMl%2B2rc4GRygWWX%2B00UDndhn0SjENR4a4rZhELxTzcCQgj5rXHY9qUJ9k5vRRnPiNtEIDQgWvX2nWwlt7pBiXvrrjTAvLoGi8EzvS%2Fbmi14dTNz8ovC7Lvwrejjnvhhj5mO3ucgfNq1I3TV0pO6UGBwxRGIv%2FTDZPvYGcqTrWtzN3jRlN92KUxojvFz4XvAYqcGcI9vS1AfN8KSS5nxbMliV7ySA65VUK9zPZdkcaWcud9oQ5B8I%2FKVxPHSBF2DgepZ2huGunBh0RrV6K2Uf%2Fuoy41oXumDHN%2B2%2BMGjlDQI9rqCFcgxiG1Dpk3JDCByDoFjmN9LOL55uN7JJLkiuUiPVUxLSzaMqS1Ge5g39AQ3aTUADEhINmxvfnx0c1E%2F1%2F7bJb6te9qd3HjGDOuPpc2OPZsyXHNrHUuueVmKe0ABYAEflFLVowHVrDGvEhXtBMIDQCawxmVzFgQl%2BcgS3EyGv%2BD2vq%2F0tk7X70YG1Sa8zdtAChE7FCDMPcFoJjVdJuKxuScSxCQhnIWbQZh1nGh946e4y86s7ZVgM4CJ5eZmm0ax%2FPpxobbk78jFQUyg3jIJVIJTu%2FNJ50oOuFT7KSbgeVzYmSbRWRklNACm4BpRmRHOfjCF8%2BBayKfmcgGQHbjBEKyh9YmdXYU4y6mDFk%2BZ9xdF6ZUXD%2BiyYWzF%2B%2FLCGU%2FshOMT7CdXuLwYfRxnBKclgnn7UAmsoHeWcDnrr%2BuCPXr0w0bBr3itSkhBds27EKVn7vq2tpq3qdoh1praCzFdd58uodLxxgbk02no2BtifcAcPQbPfBsDlvJEnVTgxgJfBMBcT0ZMdX4rGlAB9cIeyd5h8e3Ga6n%2FpGMMjkZTr810hIr5Sf9Ir1TFO0kvLxxczTJgpHMjItkNaHkzMfQLxAJpguRxzzmiKXubU0pgcFO43APbgDx0lwjvz68Gt6DOHfcFXfHbuxdh59cqkC7w9NsNa2z1r1%2FDfMYBCLq2%2FqwwNAPZfSn08cjRCKj9v7XMDcH%2FYj2z43BOz9u06sE%2BTj0AZ3BwwYQ2D7hkWUaN3cfBdpbPmByLr0ynpUtDZMiLpKnQdiKtFmYzvhaq61Lqcu1MNEJzKEutJcR0wejhFzJTMlJHzY0kZBjeYHwLFtTCC5v9nZJrmxRZrFhpfWSEZNXni17YeKfPNHZhGDRaL4rh1GgKjIHGN5gEqC7rtmCF5Bi3na%2FZFYEeKp7eyhCRhteSCjmUa5st5IJdgiw5C83CDVX8mBQTg0Y8q0AUi0vT4nJ8La1aG8oacQXe04aFldXxBDiBTgGppnYbubTgD98GQ29h1LuNfCFWkV1RfEOsXBb5qTDnBh%2BbbFYxr%2B2zlKjmchaCIBeI1Y1o5pExEcZvik6tfpOEqgmuf%2FJDSzGSCRCpOgESvtFTkrtsgUWwOJz8ptz1FMGag8ccNHiO%2B7DbfsAd0kvdPo0SoRR%2BmWrOZ8HLm1hajXPpVAqK8fMK1Ds3S%2BJ2ShivfSMUgC6TlFzEG2o8hiwcrQ2VesPI%2BolOuFT%2Br5hwBQVjB4RCtZou%2Bd7TRtkHoLcT1807i2p%2B%2BNAW6zG7pWmAw9Ew2ooQGHjZ7uV0zCIjT8o72ww2uL2JV5CPHX6SzCAzP%2F%2F4pi3aiiz2l%2FAoDT%2BuJou9bFJxfBpbC07WYm8UXF%2FaREe5%2Fea0DICXyGwIVqp1jK4dZd1fG2wmGNS4vJk4iIN6lB2cNp1N8%2BLwttFz%2BZz%2FTNfIdUvPkp%2BFE2%2Fh2F3%2FsZ1pkeD2I2HsxW7AzoR2bJkEpxAEhULRBTJDGLCKrt0BC%2F1j3FM69AQQyJoHiBJjFOt1k6vaiWQMIabbS15OnUeWtbBvBGBaF7Z02FNCc%2FjznikymvWF7MkDkWkc04kFC9JYmPMoOg9RA%2Bi%2FD8sojHMcbg7%2BNXGKoPVbCu59N3GZ000hkQuQeTV5xc9ndLGaiAo7Ev0p0LtNNVsbW8dHgzoYSIXc%2BB6kBbNW23Hfbai1HfWZyYVW9rjnbfPGIK5%2Fm14%2FJVXgRa1GI1vNeGBkpCQh9v369Nwmw4%2FMuDPkSIqY53WguXmcJiG2WYfJG5nVXbVl77k6zcFd5XSZGNjlWhPhxK5018nkZH%2FHRj0XjTLS0at%2F%2BthM%2BSEih5G6f4JI3eE%2FoOm47QlXqQhA7NhiPIpnFbNQuYoWEX1v%2B3ekhrhfIu%2F4IlSabqDcZZ3leio5arH8Gyel6HgEilQ9M1pWV0C0q6Xqnoxc7gtminvyvKjZnbbqibttEZPOW%2FWnLiixM0vKNc0w5jTZkZg41oT8gClvRQnGRaTfg9HN%2FKCTyMgetct7o%2FO6khloe68pKhe56K8eBQVYPeZCF5cFi6Qg1d6VtxJZjJZEJmudTBBVihfZUm8QsxLcuqB7HiLzhM193eNgLBbzIMaOXJuQhFhvLB%2Fd%2FlXh%2B%2FummYZ%2FmZu7s0jmCpoX3q97qdZFTCwQesDSyUMhLNSP%2F2v5MLP55%2FqEEZ21Xrc7kkzoTSeiqYSAWObl9sex8euzMa0N%2B%2BXeROWVkNMjpLw36hcXdq2PGsA%2Bdd%2Fz02BQPydazTqGSh2899nsRD4spL8IfiSfirOAqhSFYqZLLl0Jj2dKg8NVvsYlymAuVOdjl%2BIoBbY0OWWk5KHpdUGQvIvEST%2BUFkWy9HAmCK1R0KNKUsztj53PFDiC2hhMHmIP5LwWWVKw1shd5NyquugBajKuqYyDXzdICLND8migiKHGfXNg4uErf6lZSZYKJHHpgFIlw8puIUPlqGdAjA4pxbtUl7pDtYdSXepJHNVv5k7xfhN0Dto79gWbdMwSWC5j7M6ICpqoTsyhZcSw6YGHCZx8qLVIDcjb4sp20pzUjAvclSbRcj1PEvIWVbWHVruOASZm94rOMzCU3vbCCP5oCv%2BWk20pK1Cbc9fhlZGjWACYc1HO21ivVU%2FnQW1fMrhhoT682aJbfz7WkO4a%2Bg%2FsGgSiSjlrL5hiZsOcSm97U0sbF1niLo1g6MyR3jX0Fxznl7c9dvLG9Ew1wLcfq9wsTQh9W36gW2mJeQ8htX86QjVp9FHWZK%2BKORT4u0C7DRaWhF26Fr4bNfb%2FtuCNIwFRgJwh8TCTjPH7MY5c6%2FRRgIAblufp6NsOYiOcoX9B%2BJvkI58yy%2FAjRHSzH8j6OjhIlp7RfK5cvJ6Dpam3C9H7qiISfuzlvjYsOGxLmdFa3XR8H0rvmD28Xp%2B9DO8Ws7vqPDoY2jigy53DIRVAHXy3Ydu8DI7WsaLarKAs2O2%2BxX3R%2Btqj7YILqyTbEw8N7sRJZvRH%2FVSupFaqLI67Kp%2BzF%2F54pioUWmKdRMV7Pilzizl1iE4hjv0YSFpg8Lu1exVsJV7Bv%2FOP2%2FzBK%2Fy3fc%2FDAWEmtuqWoi3PPAVqUEd3tatSwlPPrmp2d7NGogTyfykTsTw8OHMjKjm7rh4aJCszJv5ha7R7eA19YeN3oYUEAoxiJzScgHJiI%2BtAKhSm%2FRqgIV6ZHShccUqbyCeGk1w401ypgt%2BAbnmWfTM17%2FPkJFVgd7o3pvpYe2nZxp3l63dmAMNFQb%2FeCPOEW0dymi%2FZR2X52gDxeMRqooMi89PbBUAltqBR8sVGMILa%2B9tmVpEXY4tLHsoGZ3VG%2BpJ2gkFGOi15Kcf1Zl9%2FcfMb2J%2B4gCKcC%2BZapHQ6PJ4eECIB4fNeypf1yp93%2FJIJ9w3Hrwe%2B9b5r9Ub6vkKWubTzf15UVHTp9pRChP5c7PgZTlPTpWNt%2FpTgJxF9Avd6TbODGenEhmxMlQcKlc4djpw22QkwHr3WZ5XIfwIgJSihJahyG4yTDndSD0%2FqzaVACah0ucp4Q9acvy1A1fIhCDEpjvcHvupgCgSxfUwcKrgQ9K7Ag47iqEst5E4y3YtIMz5ap5wij6ecIcgCgNd6zwsp%2BO%2FBUW%2Fuad3kHSC1%2FasDHx0XTtWkWXYYonL%2Fm86%2FXLrKcb5i4JA%2BKHvXESVJJ04nsgFPC2mZNxfwMLkkj8NH4AC575BWA8m%2B6b0eNSmh7Z%2BdxcUpg%2BoqP4s349ZpZH3ynHq%2FJOHNAYD8maOzQ7f9gYplrmpjpLMOG3NI6Mor9fwB1WunbZKiXlKR3tbE1GOcZpziOdrFnf%2Fv01DPWF5ym0AK7LjiokBqLxE%2F%2BjPwh1l67G8WZ%2Bme%2FQpw3K%2FE3Wv8cPFPrTmy9nW7u0fvVLHM2U53Tbm2zdQLq%2FXThE9tF4S5gCXBjMuo1%2BXyLnoQ6a6Whvvsa9z5Y%2Bi5oJn3Qm%2F8BaqAPsiUE3iozzZUyrLwnRfr0HTgDxrqnbeiAWU7sMeYrCtTigxR7wMvWGJnQsLOr1tv55YtFxXvlECYLzDiSL4QJRFl4edAt9F%2F%2ByiCGw0mPWsf78U87wL4qiKeIeKzdePhRs8Hb2Sz21eVYJ6rZtLaJAYrealZDVQBvcIKeKOS%2BM54mDBXQ4sxl89eh399fWlB5xtoR4FeoueO1Z2nippc2wVt6SFCLKymrA9qmxUyPeO3sNN7ozP%2BoPDKS0nWeJ8l6yrgHgaRLgeq1QCYRiNyx%2F51ebsz3uOXioNjRS4nfAAfrjVuaMKgB1G2BgupRB9FM%2Flk4%2BapfQqkdq0MnwkzF%2FpUFQb5LFKn1VGCExpR4vqR5K4Hja%2BnQ0XwKosMeqB%2B1YAVjOru94EfuxJNrV8T2Z6x8zfBlOw46TuHPG8l2QyWNjY71EFddo54WtB%2BuB85ihK4Hk7Ai%2Ft2n5LuNhBBmA9Zz%2FJ2mf%2BYXPglinLl7BX3XUC2TGOCjNGeNOtRhNWf%2B4KYe1v8ektILJokaghbobsJB1oaKf%2Fwtu8z9bxiNcEVbBWdkW8ldfGn1xpFBr33OTdHsQdmRldLHkROBb2yA66GF%2FTsxLybR66Jt7ZHToM5xQrfrXUdt55spZFRW9H%2FGi66XXPar99rlzXMI17l4SqgfbhNPGSgZSysxvWpiwUo4F4vJVXb627wR9UcmVMYb1pHSGH0zYf%2BpP9%2F%2BNf53X8XWLiVNhfkvOiRDkOUE4ZT%2BHEgxScm%2BA1zyldOiLxVJuSWI%2FxonXsc%2B4Bvz%2FdrSYKIg%2FAr2REUcvgYGCDO2KnJfe%2FSOM6GRIadSWz9HDyhvnebTplLM5WCWzcrfBjtrqaEuY3rnlrMerrY7cnX1rAHFH0OLPc6v%2BnOOR12IIcnBV0Pjp7eQ6q5GVaUAAWJW0L%2BNjwQ1Un1Cddf0PXIDOxySiqEuyXwv6Jo02luUDFr2JhwZvGPblR0twMY0gigsxNlgBMofpLRDCw8j%2BGcZDK98p7%2F%2B3cFLjvvzaWZQYD7lJ2ud5LKXprBpReMbWCNAF3Hmkw%2FPP%2Bxx4ExeeR4pL2SHW7uHrLYVOIwHdsVqIh13YYgzXk%2BKCwZavC%2FF8FdPYMBufInSOG8tI3uqOKlqLzY%2FIDoQtoGx4xUWzUv96lN6nQA2t1Puw0vSDb80uyK1IWnDV0LiNNosSocVApkFNeX%2FoQTpb19Bgrg6bHn9vssKZuocflIZVPfhbGAFOxg3vEVQEVqM7oC49NCTlWA%2ByZYJtSJ4kA7h2Du82Q7QKFiFLnWllSdnVFZ43PevESU2aF4qIDQFMt2qdjVNug0afmeAdYuc%2FgTvL8UA1cOnNx4HRI7eq9ALRbm0wWHvVCUK3%2FljOwT5KuRbbc%2B%2F4cKoKBxdNoHMOhmdrjZgBEIDL5gtuW4U%2BtmN0Yr8Ht5n7wWk66RiynAf56mq8C1KHoox%2F56AUZfs3AShkxECvb0qHDxYYn5tSCKxb228fzLMzDcJduMsl72SGAJmq%2BuUxY0EGkQNaGlActuvotGSVnZOZWtlGWBy1arg4jHyQ%2BLbAvaAfM3IJCOGZ8p%2B2ZD%2BEbGCrZzkhwr14GcljSQ%2FxqQs7E2LJLqwGIQYEP9nueMjalKRcxNduEF7Ptvk96dd8hPoDegYqqBKQaLWw0MoKUYB4TSSil5dFjzGempIXVwXWtxnqE96fA8FBsNeeigTyrBVpT4j8eKE7yqsU%2Bo0dPr3jvZ9RSI7GflaMD3d3DvW9ZXY%2Bg5irqueiD4ALLCFHjy0d71Zh8jvuFssR13I48un0j7q5QKcGDvfZQR%2FDHJMnQtLmXVWw6a0JJ9%2BC2gf0ah8AX3HPrMvbwLJhOABHMvDaiMTRmipLlgfXquyabAo5g%2Bb4mGNChuQK9yg7cZbq6seolw6fUqQdGU%2FZUnzt5VJaloJo5OvqmQqLhp7HcqI0QPnK0BOZCPctCbnTTkPl6T5bnd%2BJxHYzoTt%2Fmxfk6RntnBmrvSO3WCrugddd4zLNBopWylPTgZ%2BJXBQ3ChQ%2FIsWdBNWr8BN8bgnDIBHbVWCpK2bX%2BUbymevTFXC8SUR0Gj%2BRqrCbAcuc1wLtCCOmvj8ljgF6ByyHlkErVMGTRI%2FrrC3PaAH80%2FLGXb3odP6ApCCNSyv1fatNSGbWJaSyQM4Rbx198jMNufYUuX0IvsEQYjkc6blgFWKy%2Fj0tBCXk%2Bz6DtsssvKSj7McRKu3LmFgUPxTS%2Bdrs2W92deq%2BQKZtxqsa5Ls7R0SreSAOByIV%2BvTlog1IjzFRyJOqD2inJ3RdabQKJ0ONQoB33XzKg1EelxVP6axUhudLGFfNSD3Jb0XFLL0SsoXgQHOhTGhjJE4vd%2Bfp6iQktqUdfO3D%2Fa23%2FeH5Fm8h4MmF0UKEJ0dFmhIkyvRQ0YtCnbPmwMT5nrD1JBm7MxxiwC00PDy6ohrGCGgBLPBCidC24Ez9dHUj29QpVPLTTQFE4wSnQMJtfFJgUItyZrfvZ7U%2B2CXNbK8Ij8oDDjFreKKKdSQiMPBc3hR2awgABqRna41zz0LUb2GjQrjMKbyj5A7HObInvOzzbOkFG4X3d8VDN4WuYJpHPZWFeIVJUTstNuqFylCGmbuwU9XyQevFQ5vTHoFP3AoOGhtJvMFtLFROMNS6RSAagX5OVdsyCg1CPyleQ0mPbygf50WusAcmexjnoB1gBamUOCF9C0TIAGFnruQ%2FSrkkLXLjp4zQNil2DshN%2BdT2zfYGuF5LjtZBWrAHpMUFh2Zr8%2BvtEvW2daAIZwBYE1zPiS4i4yjjtqcP%2FfYh0THYshzxCO8ymKeeud2l6ON354%2Be4rSZdNgxTsegJXk0do4orJ%2FEbMo8YBdxmkEf%2BjXHtDNv9H7taFkWM8%2FehqFNS3RQ6j%2BVKV3XcKJjWGLL5WzoavdBFr57dxY7kGel6c9Xiu1mp30%2B5OcYWh6EdOuatBHDCzYEz%2Fp4MDhGwoWktYoBW1dLbl41rH6RMjeoz%2BA8QgtCuM8np6%2FZlf12OM1%2FE%2FAy48gwnnGPvK%2FUKm0KBt8hJa8Rh32CnKaVsUPpDg6pD8o3H5jtNiifCJq0EPgJwxEetRRJUFc8TincshphLzI6k4m1So9XuzAvwuVwMGvT0o19uKCftcIUsGplYcGWcg104dZ6yOMser3kmAXQiF6SUEGgG3t81XIQgpFJBGZMbXArAaVy2colLDbCqTII9W3kdGo%2FWXZx1%2F6S2jdHGzRQDcNZvYC4T45gM8viSYy5PXkrBGTRWrAP4bIIXpVrP%2B7mhY2EOOQLmEM3UklJY1p2%2FRpwECZCbuZxj9uVe4dl3JcIEv21ZrTyHjnCE4PUfRHK5OzqqwEH6GvcO0HXgogsnjxnwBAci1LyDbXjZYlioc54LjpHR%2BrnRKeq3Ncc45idwZokPLZqYKJU%2FbuV7NMHh56cZNvrNY7WlDXho8TSXB6oCWoiVZehyO9%2FzNMvb1HMwcA%2BYwY2LSDvnFTvaxNwvHDH%2FufDuhg4FBHLLWFfrnfgTFmHEwAyr%2FaCYccs7O3AuGXTUH6KgQbgW2TDR0VGeCG4oEighsbX2pBGBaDb7sW0va4D6SKYYxqEgjjH2p%2F1AtZZKLLQeZqDb8MWW3hwVcUpAlPhD6HShIFvq%2BuYBSdAcqEz6SRz%2F61AIszVtWZlwBrY%2BMgYLvynAnRPjIdJ%2Fk%2FBRPQoKqK0o8LCsxSpL5Zm6BctXUb07H%2FfJ8ffI8%2BmdZrU%2FTzJXlaIpgW6EG7I%2BTl7p1safqXfxLXbtVqfQR2IBJE8EoyY%2FFJzcA1bMzxFuvR78mZswB3b9%2FIpVt5Xoeq0C%2Biv6l7vR%2B8hxJ1QlFCxCYgy8m8IRHpFuYUHVdN2o7Hhz1EYThe9vDiaSynrDpH8Bk39OsqKVgAxjg84XjWDhx7WWvKv7rFFmzkSTd%2BCy5PRy2FrxRIgY27UrSAXbRLAI7hZXMJEuhmyF0TFnar%2FitrG%2FERfw2DwENml4mpulgQ1Akgn0B4laIGP8WoZJTOnAonzdOLLabbnQZpIj1bOR0%2FYK4xtM1p7%2F1q9zV2JU5yuPg10tP6D9g51S74EG4gc%2BsLGBLBNnsHmfz%2FJy4E%2BMkIubX9oHgYJYYEKNeru2TuAskMtm8Qyb6QRFXDQKMxSqE3lMt43u3Wl7j0JRRsiwj3eJgc4XVzNANYJK%2Bj1U5WAGuXF%2B8BWD8%2F6v6A8G0lYcPjTbbw5hN7yhV43NWpAVkTsSZ23xIaOSXkUl3WUKjGlk4W%2F9vO5IOtfpebSVs1Icls%2B%2F4dwa2lbFCUdBe1Qyz7jvjQVmsVdVzeUV1jIzg1%2FY9zE4qtsNuau267LiQVw2PWt3Bhp%2FPmZX2KqSA8ZrdMRD4iCQoKlXGEE7BFOdeyjwzdeEOd52SdN6BtVDEjirvMCGBqOQz5bn2S6B5aEc6pjC%2BszxhDJWHhq%2BCw1leQDiHFH7ACRSYWhI8MZgcxlIAj9oj4nZE%2Bxrn34zGBCVkef3kpo9%2F2iJr8C2wCEt0JJN9K9E97%2F9wY3K6Y3U0qPfQqUWippXvUYXYEq5j%2BSTLlIenyr7crukCl4bcp3P%2BY3n4SYqY6QkjtjhxfR1ucda80ewLLIxoXGlsxI5qzbT4JAhkI8b6YE1GJ3MOeE%2B5noOxcf5Ls3MU32ccbnklO2Wt%2FPvXFUY369m%2BxtWp9%2BYKhge%2F1Yn4i75pUG2K0pxrbFC8NNrfjPwmGKQYwsBFHPZ%2FdURr18IxhrpDmtQ0YDvv8UWFztFHNRK6xgkKztVPw33mZKiTozjDgRP0Ckwgfs67dSbU97fwjIhBLPxqDfDDTfHjDKp2YEb8ZAChOEpyp5z5vwxMLiOyewTZOHFLnNAm3grIf4PYabkcd%2BJ5Lilr5oHP1kLryw5vXd2PDvIQq611qna0mqdyX4C66oMRosTB2l3AK%2B5Yur7%2B4gm6TXr5XULK%2FkH9lNpvQeb9TVqLk83kJA6KOTmiBN4GMhFcWuZPW198gbylaTY46lcb%2FC%2BUR%2FNbEpCaRjqr4mGqCoR9cCSOaLMOmNyInd6skOupLolG6ZvW8VLE8x2W3BfeP1hOifE8bipkxt%2FjMzQqHN%2FcP%2FcYzy14cYXGIaAuGFaW0wlGA%2BPrc1u9Ku2BOjeRhxEQ0bWuGEa2Lw1Je8y6lW%2BD7RaBo9Jx0F9ibrcxXPSKCU8Yi8evFfYyaxwj4kd3NXGvgTcSXVnIAFddROGv69R01v1g%2Fb3PhqLg5sJxmq4LFg4HWwuF9XWyv6tZ3Oc%2Fz2cS0N97edNFaj7F%2B1UYwKQSqlFohvZzFX0s9sjBqxDaIT4NGaaWH80GKVl5i%2Bm44Iui%2Fge8XqorMIf9GhhFmxkYSLAEiElIFLCX2KcT49AE4EozW4FG8PhcSjhpMfGKp8SYT7P3UkzhJCtPmXVibA3xApqvENKmardSF5hbbTyRt0T9Hq60DfX4JnuU7B9M5Z5WO5gppSvRoTlZNO04mnF37NRz6Xobc9KmhfJMNfJ1j6aG0LnFccp%2BtpX0YCQSSkNSTnqKIPbV85O34AsoD5wX%2BdVlR7h3T6CGhvZyfhg1DVf6dPwcSYZShhcayuHRNXGeBKo%2BQveDMZ8t25x6U9V3LEbWQ4ZRycxmwg0CsDsMcFEF%2BzCoJTld61jVXDobRH40J6HZFqJur5e5xOmeIxumzFHq9StXaoUJZWLuK137JCtQt3Tfu%2Fs9PoE8vxwKSBiAWYBHr6BnqDDHC1goLDXTKdKvEnPddSXjuZnAE08nRaEV4U3%2FtuD%2F1mL0%2FKTU0%2F6ILxgQUe1NpoB48OUg%2FPNUCZ%2BsycSqaAY5o3MUSHQNw92qV628%2BDHSOIpG4ROoQXxnW4FR7jcK1mOLbB%2FdhSRS9TZ6ZtcJR19btyK7aTmEsjstEMcHJj567I7jdX6pgDHEFPS3hWtJRChvcNt%2FzBr4fg3Z0bhXBdYkY36qJG89UO1kpJgeQ0pKKRf5CwqUYM84XQlBSuVEuBbUIGKTX%2BpACcd86dsyM6JaEyncFQ6OSyUX3qys5L6vnuWMlFV3mf1OwiqR0FJTeaho%2FaVuxtxIwiM%2FWW7UV7IexjcG8p0Z1mWzZ%2FXwRARK%2FiADr6hXaK8f%2FHtCACWF50%2B9rM3aUy5LSZLsogW2pFgAc4TSSUECYFje6ZpIzrUj%2BESJoowSuS7KnClRInVAQXtKRJiRxschLAbP9GkW3tw%2FVPMUacgAvxPgiO1PZ2vE894V2ttZO7UrL69M%2BxLySHIciK8F%2BczzlRzO9PQgn84tSRR3njrliLWADaFAUkJuJ%2B9RFS90BDb8u73tvlvuQo25ZTRJKOtseqnrkELE1cjV5%2FMfw14prWHhTfOACZJvWVDcJEKAQhiep%2Bv2RfleZq9X%2FxvHDBsCe7pqlEMAH%2FEdqskUibi1ic35qywsmSwdfgvtK8UbMVLNCrjl%2FPghcXcClcXpLpdEAEsiyqgDA8TXqTlgPz5vai9XU%2FQJ%2BpXmFl2mY3msvpLKZlBNgZb0eoSaP9ftmRjOAC2ch27kzCC39ZszCb4EtbNY8RrcOkCRlZidneFeBqgI%2B2UF5Kc3HLfHFD2eNyJEv1A1GnowrwMAPAeKbNidn32rUFpe5AK7gHCLK%2BH4%2FOGR7en2pJSW3vXFlr1V2uXElsKeaRkMywYqZNW%2FHFcRNNO5tKp%2FfHW0isZj9GPQqKUKULvD1FaHNV0qTGV4Saj8YCjCX3ZHTH%2FLjG4cH%2BdghWsxEg1CBHZNcccNof1JTFo%2F4LXdoy4quq1hfoBE94fxjDOlxREZ4M3N6PeTGRxFmE7mZG9pJGS3tQrD0ZmSvz4xWSJpto8fj7jvWLKMGemE4caG%2BLpXov2n6w0puyDWL2VOw03b80lYEs%2BC%2Bbm87Zd7qNMkmJc8aSNZ6%2BanvNYzq8ZkWz6Bpc1KcwQeLAYv3%2FSb5%2F6KVUMKW7Qs2TNUi%2F3yvABHGpZcNS6kwoQOrkksqatwM74jWLXcwG2WpTfyi2fYWwh7NWNGnjQsPYSkYzfoYKBL7IHZZk9rw3KNF803HsYFweCv%2FZ5iIkJvapAS2FMpAfa5%2FBwWqmG8B58Wshbht7G3wlvc%2Byvga6wu1OWkg8FCk6P%2By%2BHwmEtMN3u4G%2BqnFP1B5UagNHiOGTYC5Xu1e5cMkG23tqpBSvn7N23ZLX01JLnexUdwHtJ7QXXlja1BWjX3812Q1rS0yTCoyHNFWI91Gm9aWkTmR7mdSxUa9V%2BLyIdqlmfagKegjUGzeyiWmMz7ZdMh3vdWt3XFEW4U%2BvhPeZHuq3g8Os%2B0cNMxeFg0MTisbwa%2FtmVS%2BSD%2FUoAbv8pTtX4X0mm%2Bh%2Fo4cJczxlmQPlrPSp0Nq2lH4fYQzUi9q1wAbPxVXae4K0gw%2BteCSRmelI7UpP63IqBIL7aZGNBC8oOT%2BE9LftiLh7P%2Bd9p4MPynocR4gkV6CgcsdI%2Bcv4RW%2F4EqZHOsaEF6tOn97bo2jyEEkk9DhCvLV2cTCi3cuX3sNAmg5mQz2BDo4c1toi%2FUq6SWWS67BaEbsBxC8sXdWUfGCxvlTfG6R%2F8%2FJp3erx14dRfPyV4oxnohRwWTwJ16l%2FS838jHGfLxdGWxlAinSk5ptr56d3PFKLtxs3k7Zt9CCCJy3le1e3gEbkneivrQW1q%2FnKG%2B4jD1VAL6anuUM%2FtNSQ04azbZOfZINGNPr2MYhntw0KNDLVPmt9E7kgc6gzdeegRF6Ik6ypTTWsjttKMmZPUZDMZ%2BUZoy9e%2Blog51C5%2BSZOI01SjnngJyb7FUbjI%2BmzrHeRGj%2FL%2Bn8q0S1a7U5rW%2BebLocPmpSWYgmQL0DtBUSWnjaiCy6qu%2BD5G1BUUgK8G0LBbIe4ZOfRUn56vuK6%2BVGmi3%2FzTb4pMrrAk3bzgC%2Fw76puDvgiuXk%2FHLYjNnw%2BfaCcVHuTkC%2Ftej17sxwWxwiF4l4qKHHmKodv%2Fvy9T9XZURxvz%2FHiw6CymAuzrrZDhBEFZ3qQ0wMMZ9q7CizhgyPN3HVehXWU2N4rrBo2wJ%2FATcsmlsOU5wWujkU4mldoX7Oqq5O9qq1sQkwO3hPFvSo5C5%2Fy5vnVWPw2bi%2BXB%2BXLhA9RDMdPa7T3gwFlLd96fTsNgkAFNCXm8asxwej4RmW0%2BdiG1W%2Fu3WRtXRySTojPjNYzEgUxjpeyBUV5emG9%2Fm3tRJyDQgR6xNCT76lxTTLRq%2FjTobaS8NV3MKdBX0ebZePiOoR8z%2B8sm7KTI4NO4xLXjwpMU64RBghFEFQGqm5JreDw6dbKHDLtBapbVWbE8UPJ%2FxYXmkDeP5sejimnjPKwhPMWG82YE0u9bFwcSAnUrCDL4nR8m3X5M%2FsTSJO2a3QSZ341KMh1Hb7kSD3tBGxzCBaawNfzdFnoYYVJ5NGaacSfivxCHmMjNLIMBcJw7%2BaWm1tYNanfFz6TRR%2BeAPywEhVa7g1DPjTeHzyEt6B90Mgev7gf9qIC4F5T4mBMyPDm4zn%2B5BCqggGVB78b0SrxOjMNjpIozinBb6b9lU6RfVhBPHnf5k4i4YHtB8bcFkEyhqrPBO2O74lOn%2B9qQXvjQx10EdhTaBSW9C7zKlobSL6Wip5tb2BfrnCkM%2Bxa3zCPxgLh0tsO6sbMMktSpR2CKYDFB%2BshZe6hVrcNceJgkH2b4PDDpSSk32HKFaLe2iLuOkvEU2p4lg%2BXcq%2FzufSVmzf3aJqb%2FJ5EnPtQ2o3MFPkOJ7euH0fP3Z%2B2VIijGGnldOvONo5VPoUhsSw%2FVD2ZTE5z3yk6%2FjRmStq%2FORO%2BAdGfI28bjYTAxst2YMISkTtv1fRDon0n5tIy%2FCzI8BePQ%2F0R0G57I0mEMH7M6jqEfeGt2bcIisEOq1i1TFW9kBpDjnkWQJx87IJX4itqY8vCvIJp6YkzOHRjAPfjQdmP%2B%2FpVWx84jYHqHpqiJ8OBV2Ubw%2FVzARTN6en%2FPm9UXq96p4gCzrzi4DgaZSmj0GG7YFL8rqvQk6SKbr2FeAKHaXOeZXR4z0YgNMvwChg7N155u%2F%2BdEowOToMJpg7dC3khdid0Fiz7sExBbczm8SothOLl7ABYKp0b9GMAnNdXc%2FUajYvcXzR46ntdp6gc%2FQ58m%2FnZYgj0VbGp897K5KlFgOZbHFGsnqKSHjy8LOFA4epexqGHgLf8fUhQ5dXtJRxounTFDlSUtKaB2J38qonY7qJwpfxcPCkuGsxVjI%2FOO64c9Xcb%2BnTkvoxo%2FSDRv41vbZR6nPM9ctH434PDizxXIyPwahJDCvKyyjlnhhBpawLVDP%2FO08Q2L%2FTAQ6lDNeh0PWx7OXX5iF3w2ImjMHYPldZaQ9Qf1L8W7R4xm4%2B%2BO7FkXR9wrevSGOAgZ8D9fAGWsp6tIIWzHZeEx9yPA1fgvD58xpJrTZ4FN2Egj1pJ5NfCYHLgK56MJ0f%2Fo8FOT2soh1rVPQvUIHwloByqRNXmugOhNTgSEtlsLzUNaCKWL6B13qtxmWySw7AkMDWFRpVCSl2pW2DsUCSRj70iRGL7aXPG%2BomNsUQ624gNbFLS3yu8FjX0Qahwtnu7%2BabY36WOPNOjdZ%2Fblwn2pn5jP%2B7fH7K19QwdGHOgjqnc3MZmHyH65TBIuCTvUyhcLMSuIwU3n13hibi4NaEr0pR34N6En9MvT3ynEcYVP9ah6tYypWDd7AFdGo6Q7EdYme4s4JefpGHrAAE1t08QQ6e5S61PAD82ISC8ncB5vmKUYR7i%2Bohq5WLqMWcWGRW76eJqzJC59JrSReL2SDLgiIo%2B6onMcAq%2FQ0wak3U13ftarXNd0CT66GIqXmHvSKg3kaIbirQGZjNlF7c0ZznkwqpbIWFViL3IzhShM6cd7au%2B4pHUCQnYlrNK%2B9CEojpMVcNljYAS4%2BQbwDQKY9q9Jxfp181TGB79RtuhSU0nT2Jx7gtiMLPH8oEXrlwZwZ3e6r5sMM0D3%2FhlwTM4xi%2BRwBeNWyLDN4Dh%2BLyf0%2FqjDc2NcvUGDDIlMnRxqWkB1a3zjG7DRW5YgVVRY9bwaIU%2Bp89tkdpR13YYCDznsRDrbKr0Pbt%2BbtweHi%2BQE%2B56NCYayXio1yEubJ%2Bf2gvZxlTfv8az%2B6JVGJ2eU%2BPYomLwWJTpvqSGb24NaH7922eyXmabvSO4b7QjXj0nWzhy%2Fs1WcWYwvpb3Vug%2FDHMxMkxWq4KH%2FUP5D3JQ%2FVEW1EDPV%2FLzPLzKPmxFvRdOnbg53oDo3jGD6kG%2FUZmVy34KomQVvF3a5djOTRig9LtEyRS%2BFttPjrj%2B1%2Bx2hxtH7hKDQdpudH%2Ffcjfom5OX%2BgyjrvbjRzWAG%2Bxx8F4vsf0BenmT0oIn9%2BCr2CknA3VnLAGUiFCbBF1e50IGwGfGGSGEKgl%2FgDDfgjRr%2Bceb%2FW1%2FuGAPJz1kHYj9t37Qg%2BsuOQnwkp%2FYMv%2FO4riQkEIaF7fJvo1HlN8w3fslqDeYXqr%2BO669UGXQbPjS50ZqzdHMTpPDePvP5VTuMKDMe8O8qHEPNVGkztqFHlM2fYcuUq6%2FDkslvVwEdDggVaWNHmN23Xzeo6Tm7URZhZI%2F3x78XkaJRAIWB6JW4mY4Cf%2BxKMT5wHBqkS3ZldA8W7OAPPmm%2Fctyp8G4Cx%2BNz6uRF%2BMnhWOkJWJfFZqmw%2FmRs8%2FqlOmDaHeA5BEUl2MvU4yClMAWIfmDldE94Qy46GxMIp98SYHLzu%2FCOt3rYZqxf1cZfL0JRjWk8y9iINe0AVgKxzq1j1oiE%2BSW%2FJ3BwExJqjpt0MCGcpjsrIuFqdJHVx58u3zE7IYq5jp50gPBYEWK5uOnRr8qDVEQmIFw%2BMXrnDDu5vyTLhbJ6IHQgMjPl9zkpF%2BQMeSSeRcm%2FbQT4Zg36F0U3396SnZnchNd5XVxm97Fg4uIBoQZEusMZOAi5Xl2JOjMFvtwdGn5elgW1j1rcAo2MivxLDOar%2BE2Hp61G2Ja9BB%2BLEsXdharld7tNKbD4BuUP3wzqeXhev6p0UiHsGt68TX7jCvpTnm5RAmaOXPLg4nzJSwptVMsccjfBuyu1WigajckNFW3GVo%2BOLO%2Ff237SEEsiMryEkBGvehy8e4xxgodUe%2BB10GY22MVJx6%2B2845%2F9nA6cH5hFymHQbzsJr2vDUCPXi4I%2F23loHQRJ1DQXRfcpOAyibpg8sd8fczZMi8CFCWYmgH6zl3hWnskaX7EBzzqXOMqJS7V1k4zlqeUxOc94MmRSIaUvg50Vgvn1q3eAfuT9B7Y6SjMCQ%2F2i3PZs5d7fHKrRZ6J1CvVv4eNS4c6B%2BTdkEWy2AUMyUyibJ%2F%2BBky6vjtQ65lY4m%2BwxAsdh9WA0Y9y8xeGs6ubcHh7fXi8TIgM7TEjmgxrlx3peLjSBYlAvPEhmwlIHMuifhc2kE4uWDcZeaGx9kg6O4fQfRAmK%2BN5nGwOghlt9gGzvPuFA%2BLwFDE0KJwiqT%2FEWc9X736QLTeu70zom1yZEwuVcRqrvN1iXewPNBNE9OvK%2F5QmvXh1%2BS4Tjt3ucDh%2BmfYdw0pmJhM61W5yDwlAD6xxM7gFAEVmfwkGrdNsCTsGenz8BBt9%2F3jVXgvM7LfnPGxAfaI1FaMebmpXiocKCMzj52mMPS0CDdZSRk9wi%2F2ek06aPL%2FfUpJSRhzpj7%2Bg6VeXxUqVOd5yuEGJOjzFyz2j8Ns55M2eyOMyP98fnINCKo2ZdAFZ2FHtw2ItgiLP8h7sb5qrSJdAHxJ4OjTyw4E74KP8Opqc85pMbbm8GKxjKzQiizRB9JyBVy%2Bw3qWRC6viIlXdimiA10sefKK263d%2FfhrDNPHhBgn9RJ4n3VnmYIjxg7gKrPCytwMxfqprlMn%2B5LpllhdAPvWhRuY3pTKrOCht2q72KsBHTSdhVQI4DnH5QFrlB0h%2B3wy6crcOFJbIhzmFbtWobZ1qMhK%2BR%2BsrJJPtYe8vSbS57gs4n3DbBm2xd8gOeMhQObi9MzVmKyw%2BpgIOb9%2B26M40pKwhi4bio9PeqfN0Inoo%2FNLBJKhri9rYy9AriefBdezkL12W7HkUccpREtJPhujBjBdL5CGAEVvejgSho0Jj0c36sWOT7t34J2wTTy6%2BdjZX35BJ2dx1w6mrZIdlg8G57wmY9QnsKifeXn0ClQpme2NetNHl5S20OC2rDW0Ps%2F7CYDCbiqdqyW9eiV9Q1Uh1oS75dyox8eBaLmWzkTadJw8OyzMrfJG9%2FDY0wtuOdE%2BEKH9kItjaJUSWT3ZezKl30DAW3%2FiMIWFR6zsa2ucqUEukE2w8g7%2FcC4dLJOpk9nW0digqOr5D6E%2FXkN2avupbMhafYVvIxbrcqjvDATtg2g%2F3iHiy4vnwzr%2BWwrDKayN1LdoJzhlatqIsL1E4872%2Fe2D0Yxyeg6YoF79cMxM8mue1Fm8969XWEELNDdCD5UWUgPz88Yvb6VSmSQVDGtDXvuMKLRu6XD0syyLZl7IxMBJhK2FVJtUBgxfAUjwvd8aVFpcPCeg4e4l%2F6E40SmZrEXlN7p87flnFNCEYSrJYs63WmK42HmHB0TlDLfC3QGlitwqyXIgqFD1IpkGq5C%2BHTrXeUMVb92sml5yBMso44qOv71pGSUS3wfZ7a6DDYc%2FOhPeZT%2FohDTtjomoFcvufJABVxUE%2FWfZhj0ynHqKiuS8LDu%2B4o7YoUm1UCU8nVxPuHmwtVTJzEI0%2BXZi79V68Kl51qNyYnmv4v5WSs7%2BADvJnIEogXCYshg3bx0TJfG49M59nWXAdtmIJ8P3RbKuhxdY7Xy64cTuQwMpWdABYOwoKWbC5N8Arcr1E1vXnCWyNM4Si7AWVLyufj6G3jTpeM6Arku0enKWlLlfdowsPNxYv%2BVNInYqq300Ig7h81lk0RUDTVwMYII0zPa%2BGHD6ddNIj8cYQfHEE166r5O%2BCwUZoWYQK9zlBO9wz78wv0I5HekMNdTyHgG81FCOKyKNEOynQvKYPfuYpiAoo31zonL21oFFR6Gs5zACSRVdQ7AtA6BIef7tahLDamjzgGCj1DL2dhMxVu6QocptRqQZwh5IlZBbty6GlXnCzJ0MTXbuXxs8fLdQztcmGc7gtFFQK6zz3CpLgQR9H9EcVxsVwzuYMtDaokVimTw%2B5yUAj24qWcMlli2g4%2FYViSWUoq%2Flx%2B63YfGuvVlRy5we62KlMcOzkKOT6lk74PFOPfVJVLqL89oicbsAz2hzVJP9v%2FzzUX5qZZfBirHurUohX6Y3kn%2BovqJ7srELwEwCe%2FESIEizo1VQPs06GeZjfGPKwbd8c%2F21bLzTufJYzSeqfnXYb2yfplU2sMh%2FG%2BMVeIJbIeoS1uQZa1z7oYC0wu4%2FnzrLN31w1QZDCH926YYLKhJoyn2uj0pufuMtx06hG04aP8z%2B0ydkSA4BQpC18jZKiGEC7b9b0%2FI93lfMoE7ITtId6EkPigatwe4O9LXlSu466cKcceGBsks5miT6NnMz4IwicDhTlBzqxrPyPbSxdOscPv8pe2nlPLvwbVTHRZZ6EYnzReFDDIYxhhfIrLi6yZpOk9oj9qKKJqC5mjSMGCEsqFrpQSDFWHP%2B%2FCARBoMST3%2FKnwcwZ2EHi59JqfjVyTSWOHuG%2Ft5YaojTnXwneB%2BnqutmrVPQ%2B%2BKnzZgsTh3fz01QYMXONAYeg2eNQCxCLRgUGQk5nYCrj77hJiaXmXWZrMYYlyLyoNG8fc1d7bQ8ugByKN3qtVRfpmvW14HK3SUvM6YwsDk4j7GnqP02X6S3c5ih31Nq5lOqveKz72A%2FsAfpIZckJBnIpMvy1D%2FnNICgp%2FuDSEbFdMpQi3OY2qixmsn2%2FhwjFLeQZ8BeG0mwv7hm63%2Fwc8llGw2vOSyQLiAW8dUaeesvYyatgZkjeJdxSqN%2BG9wN8hnwR%2F11VCdq6IA3gysWEwL8WQQTer1X0MPjJTK67qY4BNgEVZtFx%2BanNgvdHVolkE2TL9yd4FJh7Wzc7DVf0oL3SAcD1twn4BofkuWlfiSXkrVff8YErIGnvC%2F3mKdRDcBupPTjIutLC4JxR91RktfsXK%2FpSP2jKcsRga%2Fjg1Q6VojFwePk06va0jnbNLil1yvblGUA8FkQdvW2RsrmRCOP6Y4%2B9D84pY%2B51Oz8hEx9Yu1mT746LeXLMVY1wLun3zKQA%2B%2FNq9vsU3hGGoRnAr3ViZA5FS85pfQ6f%2FPXiD9j1ZCaGfhcZKjXIPy%2BYTCWIaZ1nkk2yb61NmYB21S0rAReAok4KNyPN6PCseoLU%2Fpd4Zrkri4H7Ime9tuJKuPGZ6DM%2FIa%2Fc15yHfbR%2Bhb%2BsDYf5aDr9KkNX8kdelZCioenUywB%2Fp7auEffORXjuut4q4vGKB7DKHJ6HR%2FdImuSX20%2BwSCEp47g1wDVhpsB%2FVmW%2F%2FFspjKaWSCV%2F%2FLxEoU%2F9%2BqhQ8y2EMpPkSPzNLw%2BiZtHCx6eY8w90rcOD6vabr5ekmsrwnwoEWiCSQRtxdywnSYykl8El%2FKE5wXHHss28CGXcgtp91GCYkle4lV803efflgNTYjxZ7jkxKflMycdj2rp5Fr%2FlU%2F%2F%2B%2FrcofPEppQtyDUKDPSPSdlj%2FB6MgssSxQjWKYl%2FQCpSz8Mnes%2F5cayADE1Ko4N0zNQoS5vYyvS8FYorkonrNcdO9AKmUB95FmtHsGlvDvm02YREpXW3CGXlQ3WzbsNmYT7YzYt3i8xxStPaIVjp52l6oUM%2FzRvt4dhphMg0l7DZVYR5vqfZrjOVmB4LlUCwye3RtqNgS2bQbq%2B1UXCGhPkZ8Q%2BSAl1MBHZ2KikSE1XT4%2FB1x2%2BlOzO%2BrdlYTRLr6QvnvgEhk5aiu%2Bz%2Fu1UL%2FlzSAbeHJxoLwgVw5oEZ06QGvKmNs9qzyjuexO%2FFOZ3Gzpv9s6pW%2FuLaDsO70eoC7XD9ErQR%2BzqO2RKVsIN1B0T6vfTnnbMJJ%2FR%2FJHzd1rC1HtGonirh6ur%2BDXcddkdGCumEfaPFoiae0opxlF04acm9N%2FfJfiSBRo0c%3D
                  __VIEWSTATEGENERATOR: F9999C64
                  __VIEWSTATEENCRYPTED: ""
                  __EVENTVALIDATION: Z42uA7aoN8ec4no0NUb1ngkHNFhNuvaLn6DERBOhhwVZolwvXNQX2eoWNUEF%2BwqRnRdONzVPRSrKK87uHxlzwjdLaPPnMI9rxZqA%2Bar%2BUX4N0iBXRRwVcWH2txLiqt4BcFRSuVNxYTZt93t3HkdJDA%2BuMMBDbWI8%2FKRjMQQeAOI5rAJ%2FdDiacGzV6cXtuZdUzg7yzS4wmJbPZDtnLWhB6LGbnumft2sOWKdeYs%2Ft%2F8ctrwIf8gyWu13%2FlOxRZUgzofs55PQB6TS%2B3Yb4crVgLI76SEvSlXrCZRh9VYWTZupRWinEd3gOOjfWdgjRzCcasdydPY2ckxocyBRKJBliCi6r8u0uBx0Auiiaj4Xa0DJvHSg3YSzAbJ%2Fu6fohhXONnn5UOxCNYpEMsFt96AUdfkfcav4B06OFCJxybj0uYYWHmKOYOM3SZlrzw%2BXzUYPKKDJ1k%2F68ATZ1l3m3Isy5kRb095WhQWnG65ixRqYRq8rRiSNJgDM8a7tJUkHmbG6n02%2BpZQPxizYGe23LQ5%2FLXAfoCQ8nHSCULTM2XpauSBN2ZSbsha3GQmnKri8Ct0%2F49kSqvvHffE%2FLb8LTxDN5fwB2MwFv7K3jpcOK9N1spuXxDCS%2BInCPM%2F5q%2FrgSpnPKOzkvOR48DQzx485c51OCmYVsndnbJxKLaq0hJygL%2Ff8JLyI2EAP6aspLsuX2LaFqZXI2LFfaOngFOb3sCGJwURHcouyDJgsqox96eNxboh73mn7qmiGte0mx8wgY%2Byqjly%2BWTVNwxOL1DpGgAhzi68%2BYIUqXzZklxujSgloKjuUulEkPBqtqXcifz4BGr6fASgRvWT8%2FauSJgPW4uaSxrCRzMQ%2F7vJOUaS3Wx9LZd8vSIj%2Fh%2FIZvIcdFxGlxqajyVSN%2BmKJiZHP5pHyWeNnAoy%2BS4jd%2FwDWh86pXhSQunuDrZ4BEgybGnucs39q7LatPpbka183jzdCdIqYlnr9pRNifsQK4cImglpj%2Bj%2Fzb4fv3giVHSaGO1o%2FVsQjj%2FkZAj4OtW0y435bcl%2Bj4i5Lz9jCOEB8GANMFRoiutQgKEum1rJj7ksHSru%2FE8WYGUppdraX6xycFzM4NkyaPHtL0PkBJzq51itIIxLKPTy7NeFGCMQk22nHuYmC1EWH62fTA02dCcXCPXFCKsOKyhpenXz%2FKHtupbIDhk7CvEOWHI%2FkOkwrUhBvQBiuRt5O1vbUEXRxfqTv5zons%2BK6ixEuh7Q%3D%3D
                  ctl00%24ctl00%24cphMain%24MyHeader%24hdnFPToken: ""
                  ctl00%24ctl00%24cphMain%24MyHeader%24ctl00%24ucHeaderSidebar%24hfTopProjectsJson: ""
                  ctl00%24ctl00%24cphMain%24MyHeader%24ctl00%24ucHeaderSidebar%24hfAllProjectsJson: ""
                  ctl00%24ctl00%24cphMain%24MyHeader%24ctl00%24hdnDashboard: assessment
                  ctl00%24ctl00%24cphMain%24MyHeader%24hdnLoggedOut: ""
                  ctl00%24ctl00%24cphMain%24DmTool%24hdnPreviousSurveyText: ""
                  ctl00%24ctl00%24cphMain%24DmTool%24hdnisSMSInvite: "false"
                  ctl00%24ctl00%24cphMain%24DmTool%24hid_GenUniqueKeys: "1"
                  ctl00%24ctl00%24cphMain%24DmTool%24hndKeyId: ""
                  ctl00%24ctl00%24cphMain%24cphBody%24hdnContactSearch: ""
                  ctl00%24ctl00%24cphMain%24cphBody%24GV_Lists%24ctl02%24txtLId: "79524"
                  ctl00%24ctl00%24cphMain%24cphBody%24GV_Lists%24ctl02%24txtListMax: "False"
                  ctl00%24ctl00%24cphMain%24cphBody%24txtSelectedLID: ""
                  ctl00%24ctl00%24cphMain%24cphBody%24txtSelectedisMax: "false"
      responses:
        "200":
          description: Success
  /zRMX/AdvBarGraph_Wizard.aspx:
    get:
      tags:
        - zRMX
      summary: GET /zRMX/AdvBarGraph_Wizard.aspx
      operationId: get_zRMX_AdvBarGraph_Wizard_aspx
      parameters:
        - name: sid
          in: query
          required: false
          schema:
            type: string
          example: "4"
      responses:
        "200":
          description: Success
  /poll/PollPublish.aspx:
    get:
      tags:
        - poll
      summary: GET /poll/PollPublish.aspx
      operationId: get_poll_PollPublish_aspx
      parameters:
        - name: survey_no
          in: query
          required: false
          schema:
            type: string
          example: "4"
      responses:
        "200":
          description: Success
  /zDM/distributionreport.aspx:
    post:
      tags:
        - zDM
      summary: POST /zDM/distributionreport.aspx
      operationId: post_zDM_distributionreport_aspx
      parameters:
        - name: p
          in: query
          required: false
          schema:
            type: string
          example: poll
        - name: survey_no
          in: query
          required: false
          schema:
            type: string
          example: "4"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties:
                type: string
            examples:
              fromHar:
                value:
                  __EVENTTARGET: ""
                  __EVENTARGUMENT: ""
                  __LASTFOCUS: ""
                  __VIEWSTATE: UM9LtqgPXrVPCi3LP0w8U7c2tZUpG9UTobRxe4qv1%2FBaEbl8zxZXARkhH0Wie5qxeBIJ4xHmmk%2F8hoSRqDNZX7g7dtBWH7aazO%2FkCR1sKtVRKyUKphgVshXCwNDzaueRdfRMGncgaE0YetYrhGwEazKLcRj%2B2Gqi3mcS1o4woHfkAqijsuDwrdf3LfjemfnXrMB7uoe2xjuS5Qz7NW07iXvjq61KNla7vE9vWsRGIh00d%2BzxrIRmpfpVSTCsSgKxf5eOd4T48sG8c%2Byl2U1lO%2FW7fnoBAOkLKexqTCOUB1id%2BJD8BVYjDAx%2BDr2kuW2cigpC3i6pDH%2Bp8cSpPduaq%2FfkwmdeJUZp4EYOT1pYtrB8EzO0rEBuJ%2FZHPH%2FZ2rvniqBfJY5WI6UuSocVY00uI%2BeE8DdkzJL0Z%2Fh3cL7vBE2Jjg6eqjV2EoPovZRzUnwP8rDTz3cPGOdPVip2KKa6wXQnL1OsnWgfpxCz8S0TJjxA0DSMl1cZlqHOrd3m56%2BzG99imh5A8IaGmwRMmwRnHTc7HSYkLPDq8RfZiPZehILyXkKNIlThUMQhgFYajYOg8zAGFxrfoRv0QG1xS3LEqn9uzFBPgHsJ6BA%2FS5rqOiiZtrV3Mqtbamwf7pLFQD62zs%2BB0mYAj%2BOVpIoi9u7epiPzDKQr%2FL1PePRJttbrTjJHNvudyeCa6JXCg0t%2B8SIRN7ZJhRXxP7T0Ld1YTkfbAp0CshtxvWu0xVVnF728FtNC5eLovli6KBtYxx3w973SgzSJsV20bOAZUVgpet79GIVVHG8TLocJ4wcm%2BL49s5GjktH2k0Qp3Z7wpUM%2Fbna2SNWeAY3Zu1ywOzGeLX396Ko3i9XT7OMS0sdRt4Q0LTwci7YuE3V%2Bh8Wf0y39ki9UBNoMLez2tehjIQffIM5TBIRD5xD3TbfZf1LiWrUPfuaI21d8Cn1nyCz7rrjMArR0ssfM%2FgRuEmXDvpDCxz69tCUtZR5%2FscHspGLPIe6dnwr6r3hwCUJ0IoyQgPs3pUi%2FmizFhHtWSR%2F5A1NJ0nKwL8W3Isi%2FoQEPe%2BlGkytMGo0PptXpWW8k5QjDo5%2BlxvIKHwqk%2FnJMkm4vEYWt7HczTiYzevEpANSbW3sGYiDA%2FUAiVJtuRNNLylmqXvarZMzxuQmZEF6XVRNugLB4G2oHidXGy%2BOkLGAYTGrX5ZoOiCXCuRpDCv2jCkvkhW6vMo3MfdbWYg%2BOpxpI8Lloys7ffaiHuiaK2m9JNd2uajyTLzx0tv9lpDJBq3KjFsgdHT%2FDqCD30LRSTJRVkSjTB%2BV2EkI1ltQT4iw%2FgkDjiVvQRPBUF%2Fj2WZPxCHyOjCZFlNwIl%2BnGowriJ0IivNqTOv0PLWKS1JPcLwV%2B2EU0W8qts5qPDnbsejcSKTkWnQa7%2BhWgLIj1e7rnYLWjtDNQaLrIWEtV1nj6IuCybAB5I%2BsVk%2Fl9w1vL2G1lP9qIxlcKkdvJPWGcBEEJkYd8KPTjF4%2FK03U%2FDaEdbvIln5pOFcpa2GT5IZesEGFpd4ePtKkNpdGDqtXIJnuApHwiN46nZkXxcgVaqpjOQoSEApWIwbUBLIcmjZ0xrC0yLCGeUChvVPqB97EjEkY93%2FLNyYGmwuZATtWWBSWULzGqLH4nTLA3scjzy7RI5C0D1FN2CrbwcJOGo%2BL67oOwLUuXnX532tlV85FSnXANuBTlKkXB3%2FgNMTBtzSXgHdlzNh6VV6NEJUhMC6UHbY%2Fgdqtkih6M17gEp3O34a7GdL%2BN90BXkbvoRJ9n4UPhxCNZXlokyBJmSLafVENnrB%2FqdhE412A4lHXrLGwNto0uXKMCFI2GbcxqH09agTqUWKZ3ZjZXv2pxQHdDQ%2F%2F0VIFUaSyi8PMEg7nEpgeOkFbJBJwXTNyczIPBg%2BLY9R42dfJxsVzNvbW8DD7mQknf7tQladCZL0%2Fkroe3TbSQBDXb4M0is7wUUrBcxDdvGkpc49ggADC%2FxIKQEey0vCTxWkSkkd9%2FeAYBlU%2Fe64DSaxR%2BU1wNa0quk4Pmg3N%2FQ8E%2BAcx%2Bx%2FPSM4%2BsyLzBdrMlDD59E1XR1Gk8ZchtDKoKTRyLDEi08tZ4IkaFypT7YXc7SJIShF9JY2JQeTRW%2BMer1j0H8fTCTkwmvLCeYIOUpXl2sD9SzE2OAGuTdEiuZRvvZyBV1LNtspBNvBJKi%2Fh%2F4TFK2VdasmiWss5ffyDycsaFwHDms3msW7NttQ4KORsna8cSm8ia0XFtrygM40MFdYnXBfEXzG7KVTiqBOLtut8Iiyo6ZwdPiDHtxQcVTILnd1RSOzbyQSY3GXMhL6VfkmF9th3sG%2B%2FccohX3wTaJWFel0JiNktcwNDW%2BhvhlzlBjPhwF2i2iWshdkv9zxY8C7yDYBDgVTpaxo5uiYoHrA6QeGF0T155rgGqCxdEwTLmVgMYsnbnc39G4KzNzf8w9ySFx8uvvAVriW2atOLX256p5o1dQDvXoRi4eTmGEWuyhlCcxCh1cVIw6Oix8VWVLMuvcSzTIt7y%2B5ZxJiaRTyc0wIbKytJUGODXaFnVqbij6I6LjK4lPxL9uHaoUN7l8oTJaFW4%2BXjxy4HpeFvzDCIEX33G%2B%2Bq%2FruRemfcokjfJCnxHy%2BCUTH8r3Ty6bwmLEiUXYIFSKRkrxXU6qS29omObLeXeSHHaX%2FRMy1UfFW1zvGWugLQhiAMFKqgeHq9n3MPOa6dGeLdIGdNunAB4vC455KuohLJ8ZiYdK5S24om7GxpSDE5xpdy1JLwQT8u8CfCM8FlYt6n6m7OTuzaqH4q1uPsjfX%2BWGxsezLzISi0%2FJJ8ZFDGgAoqQ3tS%2FXcC%2FCheRpNmoY5impBD8%2BSZSQsFEcoy%2BU2JnX7uLDsuxr7xCIONvRbN5nUsfGZEJglzAGO9naj7BmwqdZyr7uducLSEPQGG4%2FQPsA9uemqMl5PKDu4WLifY3Wr4NXiYi%2FcTr0uCIefBv347YTUt7eyCaChzk973rYPT3yNkL7XHdBTdA8spca0ZZeaUljtdiIAvnf1J9I%2BA3NwGFuJs%2F3lQXWvLyC5il%2BVvgNu3H15XuCCuuuSL%2FOUcFjYyrdZJ9EcDiQiJyF5%2FgIFRL6RXCPtf2YeCoZTZDprvET9VWofKs%2BSGUW06sBPegreCOI1ow5XnM9%2FlSlaj%2B4g7W6u95L0dELthb9EsolYPdzsXTD5F18ZDR9XYBlgbUMfv1scHt2%2Bjsz7WzpaSU8bUye1V4vDi5UN4cD5PY80bnNuSEuKE%2Byzh1vID88vRZbH5G5z9qht2MnbEAbf1mVGlGC6vNXo%2F3DTSRYDlc6dJAx5hx7kDpb3bOwampe6GF5%2FwfAvOud1WZo8o5v8pwEZ7DBudyZOqB4BAEsCizyrbYXFqdX21ia2uWnP93RzV1Le6sJV6E0hXQ1p4PlTzKyNEGrcbxPEM9wW%2F9TXS6q6Vwfq9NzOa%2B7hcu%2FED72A2H4%2BlbBYBwXCY9YC2aQJFp%2B4DRC50lPGXkX6dxgtP2yy0Q5EAu2awHgcaa5xe9OU%2B%2Fb5oxKvbFaJ6pf208hSx4BwYcal0lM8FAv98rP8j5V6zCwoL55080DePFl8Ukc8N3x8wQhQLcYxNpPkIcshEBU%2Ba5VjRYj2LCeVZMl8qjFYIWqIa5ob8mJqYU5rNrnjFmoSv3xysyH7DQk%2FQuOvi%2BO7oPGrrniwC585z5qYXzejic0fsJaInI%2BZnEG0tGI%2FFIWI7WuD%2FTbhQk1I0q7AbnkFBQHyYGOXF1TZheVaPy8xrCKQWOXE7xV2rGkaCG%2B%2BmWsnpbcEmbTJxsI3FN15QPoa%2FEkYUiIlxNz3XOiFUIQyP%2FfXa9QCRXpwXQWjmveGq8v1FNKJHF%2FZx0NNGnZjQtjmg4zAq7neiwBWAhN4g1SzBJSYy3LhhXhDOLoHqP0UrYOgRx5%2FGcZUgiMAdPhxBudxMwRlnhPAtAzSwyVDyFhQAuKMre7NULIk08QXDC%2Bjn2MBteest3HfUxZJ1Fcrs%2Fr6aOCXg0vTZzkIz1OeAjDew7pNmCJyaVh7asOENZs6h%2BM1zRGLA9Y0PDIpmJ7TvmAypgcCK5YjeyZHqV4eIl7NrZYjB%2F%2BLiWth%2FYLzPR%2Ffm1sWUa%2FX98mvx3bcq%2BANapT8gywhoxFL%2F2hCpL%2BYQK%2BrjImXpjSUbtVnyZ5pdHPpXVNacSm3kQ%2F0zI3VDrAWHQhG92%2BZszKG60PRNbnK4nCF3HnBttlqZiMAs5hX4hDShlR7C0ieC1Jyoc6KSTu%2B0GdX%2F9S5UJgLN6P%2FmdgZiRPXgbDwlzV6uVVnDOHaTcFdEDKzaQZzLgTEKV2fRXSqqStowcgXUmum9P54wZ8XOnonCoEDZz7wOBafZ%2FIxhdpu%2BKGp%2FFe7hE88cHle8JBKn%2BBj5KoqvYShieBc1K2BNdn5hWa69sQABo7UM%2FqiSgt6EwudVtdg6Zq3pcJO2J69b12y5OqWyizWj4HV%2BN3ImjaLG3FeCtUIL0%2B%2BPgCequWoPyLUT%2BCq73JOjt0yWRrOT4Br2djGXdCxPwdg9brepuFXRIS2q1WzvhiaPohzPxwaGFvqOVECIlXVwjPmPqUJoRfjaQPywWkTkyaStXf%2FDo0UI%2Brwx6JEXUxjEss27JwJFZXZNqcFV6IhHHEMs6pXhidWxxNCRYZflu6Z7ycXVK6EnucrK9beTWHD34m6Yim5d99sazX9zCXLyVnAX7frZ%2FoRoyODyB8ftGG3ld3ZW8MVMJmLQq4NSXQY9DIvzX7IgCDvAJgjdjvvl7AcZnMxI6ekbIY4JihrKeAbXQ6VT7TzGDblazY7EU5vGpHcgvkNjzdLyCKyw4i6%2BwMSbO4EN6EpUWN1eDm1EgXReY38Wb8ynACe8pR0NorqLHkZ1vx3hga3vS3xtRQoUr59pd%2Bj6SehUCzLRcJ6E49YT%2Fl0MgI5MdI95rpzp1hXaUi6KbH4uY2%2B9RxwIE%2BokWOlAMjc7MMNOEvOJJj8XbWb1ncruuv8pW1m0ZbqXZWkXzSJ1CSUWrQNZn8DZU3I1V1RK1jqrBQ4TRUfwxSb6WUE7D4WWAk34G73X8pOoU2gfJHRd5f02jvskxfEoePE2NipLFvM%2FkD9sbURglUdVYC5M9wEkAkC65m%2BdvUMz0zQ4pz54saC0Ek2T7lCIgIaDjTJx48NHbt6tfqr%2Bm8df6Rix8MHE25SN%2F9KRJoO%2BmBONafO8vqs4jFAeJccd3L6N%2FhOfzjmlu9VJrvS%2FoSlKvoQ7Z7RhD1dB2Qeh05wR0hGeI7EWG7kZnWbwdqDqaXA8MRKt3cylfZFnyLfClh7Urv%2FVvEqgkJXgMJInvNAqjyBj%2Bdp%2FZ3esuJeWDnU11nMLuGj6YP5KYLAn9OBfh3ZWlYQKjxLyA0EGpmzj%2FLPuelJJioHfcJxptQx7VYrJYq2XkKhq6d9dEWxbUC6LNATr43JcSGZfLOHj4zZTQoFGaWvhFhT0cJtAmO1eCP3zfMq9hHSvVI74TXusX3bN1oY5UyPJ%2BMu6a4Y1eKoCm0AAAT7eNp68iGtdkFc2qIfOBgz8svYocVU4olA00iWdLT%2B%2BX6cGpKUlFxIaL6RUM2ulC%2BYWyuHma%2FpUyGUTnUA%2FTVautw3Wnq%2FFGaQfxqpkTtOR5Chnx%2F3z%2BEgf0kjVMRfglYUMUKV1Edqf%2FZALtmPbPSdl2wZsWUpAaJTSyjj3Q%2FcYwFtTgCoikXxuyVfP9yflTMt0d0pqQJEGo%2B531e8VRP0a1XLHZV5XBe7serQyLNUGreZkBY1Zy3hezEBm5%2FcyDGmMCie1rfN5LXCvO18qU7DZVQ2nMnZkX%2Bm3YGlxgPEikAeALp%2FewaP8REEWqB4Wv9FPnQP3tkh%2BPvyfNdBwnhtokdix5ZdP%2FZKFbHN1sb1LoyderjKz1id3sVM9Vs0oE%2FEp4YUjNTRyDh6dBkcitelfoFvZ9c3dhk5kMDN9A82AhclxBZFgqHfh1ly5ban61rJOqlmP5ITw7atTSF%2Bv8e55HoJU2ERsskXfLMfWYB7KqyfQUESdAe6H0zuwYPbqc5q2DGUpyaNhUvExNHXo6hSEtAhYQY54TS5Ca6kSJP7gWkxtgCEw4198%2FPxiYIlSYhXipw79pXc3QVAAnVgI3o9SCgSoZcTZmVtBuWuNLO2DqJwnsVANNhaLFmkyF5BwhA1vf0SP90ZAY1Qdywvtb36wKGG6%2FavG3G1WbzMNfhgm6cF5J41prTHz0yuzccJfSU5pa8HkWN4MXpBB%2F6iOZoRnHmIEVI0u6N%2F1ow3ABgtcI5EsbRyIfK6U%2BW7FW76l5%2FW93hX6xlHc%2F0Ik67hHfT%2FYUNmBn7JwzCSO2kndp%2BptuXKtDdF3Ti8NV3IT1hhqWFE1Ce3ZaarkGtArcNbhkJJxwJQ1OzWwtnWGoQxMYrrqStnkpmnStreAzksYqgJ1zbzyehB1BOwkCdTlX9a1hlNph6EP639jBcJlaaIEwv02W%2FT1r1cXOaVO9%2FftX1WA8joRo%2B2oOKq38CtFcao%2FKzddRoPg4%2FCUV5cWUtdu4pRt7EkF3u29ACJL7mmW0Zc42JwumsTtqhCjHBYRiBQRX%2BoUgPL98BoOlJvAfF7tENKF9fr%2FjLtEArDKTtatQEQlYW4Uoq4qNM1JhZfm5e6BvhALbbF7OcjuUI49GimkrfoM%2Ffuk5hL5UOgCl6RK2W2ICn2n2pKbahBn%2BfKPAaPLcY6O2em82h0wFj%2BDw07Ig2ZOAYekIfmQJ6BF4AxRuiQCcjmoMd7XC%2FfbFJZh3X1W1F2qaZbutbsT6fgVVc5V07GpNMgkPZWW%2By6dd7mtMKqG7%2BZC4N5ZPeiqfqvkqKuf%2BImjm1y1NnyR%2BiGgqsrX%2FPvtszky7y7IZfw5pDJ6%2B486EEp3F59ImPiJ6qb4OBloU0Z8a%2BLHTCYcpcPnniJSTPH6XkGgSW9rlCPD28JMETbVkcUkqkn2rP3tjuQlhU8XESPffPLXJdqwt6ccBZfD%2BFZFGv5Lr7Ayov4u0qHL%2FbQjRGa%2BfsehOwgV7h4bXKHSRRN5Dyo4hOWw1ks6Y%2Bk68j0IYmQbwhbdlxLfNcwsFVw1AeZd4uafaTtQy3JfwnV%2FTRrAgzNovo4pFJSypVP4DLCEWdfzKGASGw%2BvwQdWBMD5rZ8BydOmB75%2FHwlDXWjD1hk7V4bLyCGSUgEo27v9KRlk80HLg8fm1FIO%2FR%2BMDnGN7Y0SbVjfKhfU1e6KwjJXvzWIqnyo3BgtYI0sojbFx%2BZKf4zRjU5xp7Yv7ReRTvzq4jcr7hzb8aJqV95p2r2%2FhkM%2FuS499au7yP3pXsJ4Ol1jbmLIC5iwRiR%2FUffiRWDINerfEKAeQt19%2BIvLhjWnG2p4C65jEiJxFDOQoi1vwEV6%2FOVoX2WyGxNA5twwvwcCKsLq%2BbcA9%2FQ%2Bk1znA5rw7hhNegu%2BjEyU31RJ1vWSMmvG3ZX3PI8IHtDJVY8GJGosCF0dhX%2BR6juMHJeLDi098fk3xIFA%2Fk%2Bc%2FvnzlgMWBSmn4d%2BpMdn0jscfZKmKjQnVDuGETL46e5hKXv98Tu96Twoq3N7jvugxXS3a2uy7j4XJqSOu6KX7UShJW5RPcv3WGOtrMjxJj1zcyTkLUcbDsBMMqNVqrNmrXyJ0n7EoWJh13RNv5wLs9pXTPJoDMIxpWtU9xWsMASwefkBjtZWW%2BOkGmbDHU62EvQ3Fj%2F6BE5elbD8cFn380NE%2Bjse9%2F15Ch9G85jLTvq%2BYNABAsaQBvPgRfv%2Bru5gIGFZ57jcRhpGj%2BgrmgU5rehLgFuR2eOuLtmIv91O6b71b0e5cBD1pjn8%2BEXv6MObM9qTmnkcLyfhzxxFeF8K%2BiQPtWPd37UhYnoTdrxAQSSeGF4HafAF4WMZs3CJAotWcomUZkfg0LT80pOxdDikiqzZdjIEYTPpp1imWVrADyxEGXhav%2BDoaVKeaScfNtOb344%2BER17pa8Fk2jvjJjdzIzmT6TE1jwjfjfCYV6mtIuCqH4f54T9p%2FGwtPmqLG1qZcArn5EpCsYfSABrfWz%2B1Z5MB5Sz%2F%2B9pQcdw3KFKApwRkti9Dgz0XfiGM%2F0JeoooYRrPZ3oC3o%2FkoW0%2BGazns4DZmtPn92AclCtvpuqHIOPNVzWmAgIAfh2XRZc37ourQOtdcKdfTSN3cu8kUKb%2FUI%2BK5Dk7IUo6ci1RPQJ2MU9AP2j9vB7vS7p%2BJjiThoHMWRKJpy%2FdChgZUFW%2Bn%2BIURCLkg8%2FTBU0oMQ5eOcsxoVUpl28c0%2FKgli5pZ5IvpEAq2HHu8APNGa1PyQi%2FT1kPuSz5SyUSfHX5r2yX7OBzhAI1Jlx%2FyqiG1o7mPXlPmKQNNuDdoTEzhN%2BOT5k0pdVJiMtFGyy47ZH2rj7tLDQ4YIkXZ0gGgzM54tnAgCPqKBmbUJkwEwFIJKaKPsp22HcqbYiHW3WGQp0lLBuyUd0Dxi9Z7ZFErFkxqVWYG6lGu77tUxNdoVGyfIVASLFSy4CK5ItDKu9en%2F7950sgpqYbE1Tn1jbE5E2UEpmmNi37so3uwIoVyhMVfZafplm%2F6BC2rqZEJ%2FEqG6iuQGcIYi9EuuXGNPtw%2BmtjqpQTyJl%2BCR7EjFVbg%2Fjdzg%2BskptvK3hD5%2BAsYVZ8Rukvcqkezs4wT4yhYTiwH62GPOA1mcrCJZPlRo3CdxCT1zIqya7CmzOViQHxIvSb8Zu1eypzL%2BZllCwjmvLsP43pBF1eXFf6aVvlxgU229euXFW7KNJChbqynEZJkJwQoTh3aCoJrMhRZObK7YP04rxGNha5z2SD0Ypz%2FFwl27oK8AmVc%2BK5upRlxPm82b2xETTKL8m8gkYUM6XtfS8q7h5F5JKeh4cVN90TWkFZUPyKPvYZQDSpKpWRkY6g%2Fah4JGVa%2FvQKVLda5ADVpdF6jNJHjsPzE7oyzkzdeZIEegzhubZrmq3VFm5ZCP%2BdW5EFY61NQvjyg4ScyfBx5%2FuT1eUcuL0XC47uK6Ds9hlQZJSPRZom1hWE1VKH8WnrGhyOjKxqz0D7lwmtG2dFaIIy%2FdQ38DtETrRnfsnk%2BaZyq2JY078P%2BepVTT%2BSp4cgaZqS%2Bkq1aNTOQnel0aqwl2RvZmsgDGQdaYC9PVdnHNQX9Nf7f%2Fd1guUuCkniWQPQwLNEhwAkEuL0ltfpW46YBhA%2BRREgQtWVAl%2B7xPZniL%2FeC7VvbLxwCONBJJBcwu4S0t1qQBErbVQdjB7nFST%2BSbUnQUijDyPEZYXwXrmm5K1IU01EwqDVxTRstuvjyS5QjAhoASc%2B8QJpJWkdsWA%2FYUb6%2FeC7eUN4Gui41uyS1dlUqYda4njzfCcuYk44toFbUkO7whOaG65WqvHr9MU%2FZNfD%2FNKOhJvwyjzEZIE8Xfwwj5WlZ3RP1alNqvOowG6K7Gmn8pru9puCKVBy0Z%2F2UW8RdmhZ%2Fn5G58W50Ep5QLoBuQ9j6FpM9%2BOAe%2F91BfRqPDWrf3hOkBvUJ0wyn2QzNOWGfn%2Bo3x7COHHcIfzq4Drc4hiqSM4kuWw2XQUAeZYlTieMdnE6VkaungYihxNw2I1LVt8hgLgsKDThUrsDQ6ZAHDla4OwgNbqxFKQsU6IMBvRvcqu996j0KT9yNUI8kM0nHO5JmrboIrEOHhsoZn%2F%2FNl1cVc%2BFmlWrJ6nrvYsa1YKaRFc0S56WX1qBws4AhN3CvV0%2Ba5V8%2FegKonzE%2Bn1JYwwvzbPLBBg3MCWurr8Oo%2FYXFI2dIXkj%2FzrOiOz4obB0RNbKoe6FVTpPty9kyo9XWs0kFCX4Tow2hdp0TQc7PUw9n4pA5zXtyJGxOlaAqXspklp2K5QeqqNdalB80fnd4K7bVEtiw5uprfqQWP53catunASkjc%2FJYhCmoEVP6q9c7ohL5HFNbmL3X3I8ksCVY4RnLq%2BIAmv2R5dJprSF%2FneEwzsJ9iRzwfchLkQqJDC0TB%2Fcz8yZcFIagX0M6EqEvD9Acm7D%2FXiLAZbQ3E5BIkUuXiqG%2FKf2FT1XzPndlfxQswNeFQofsNu1COvRl37NoRKsL1lfhhLhxnaEe4Q8bTGuRdIG052BdM8Gw%2BTNXCRHeSasHKxUb0NrFgxC4p1YKQ%2BFuj%2BUXqMBMcK2b%2FiArCmlIKp1QRQ9xuQnDOBgW4QiFDUwIA8ZTncBSo%2BEfgDxpTpx7IthX51UkHdEzVTLjtOjZ391bTcWqUw0Gsh88ycj3X3IzY8Pg7ss%2Bgjfppnj2BXs4xcbhazCMonkRwR95qCA7wPCp0HrfQ5UwZ%2BkCZpU67hsYmuLeSyXHhQeUWkcokARjLt0r4bqIIGcoI%2Bo1pFj9MU66S01TACmK5jb8y%2BWNr75wICx8PrQ18STAnSL11YR4mvIYhq1nKdhZE8zXQL2kUENyQFrfw72qdf%2FKy%2BCdnLFCaTuX1T1sW8JVzMnB7LAV85T67NLtXGRfTAVfHV0V4tQ7XklCEoFmrubElVuYp%2BAGHuF7KUOfCtYRBO7fq0xoGFCqpL2yOj7sBTQEaMei1GWV6m5OIJjp41ZmknC37L6geMAN79GZlG5nDY0jqozmLwcw44Xebf32yyNlb4k9iUUermkb5Q0q0yEy2SEhW%2B8rBV3kpFQwfg9c1cqM%2FBgvGGb9Ugkcj5tYdC7XhK2PIn3KJ2qxKHvmO5s3tWQe1UhOG1jwOmWjywRExf7MhRkv2kLk8VHU2s2RG0YDCZvxEGJNw5WLm9tELKgazN5SXzhzv9mqRaIUduWY%2BY%2BN9FhwYnCQp1CuasFuYqSv1P%2BNEzN5FVNYiHv6U2XaFL7PUcIWx3iYWkAaVMOorPWqAll6WapB0xn%2FPwjgI6ky3m9Zps%2FcuOLZAdicIVipLTXqPb8t%2FCg%2FPIx0eG3qsbL%2BsCEwt5zn%2B8hbY8x%2BQsvPdVsr4tsIS4%2BqQUkMr7NQGKxA1S2jSCM8hY52Rd4o29ripTU4QD5iwbYjH%2FN5LnVZPMtN7E9at9Q14L5TcLdeb0F76dtQrt8gRCUAhvsMK580CdNsKKR%2Fru4qavk4ibRSpxdgQdGDZ5lEz5TD1jTz7M6Fa8qMReYmIoV7sNvw4T6yyvlXq4PDHMXSiyqaH4UniG2ufjj4hfNBsf14YYq9Ecdl7X%2BFrmeoMmvHdqLXsPdUVuuz7QiowKfktM9H1%2FxpzTTOq29wtbDIiNa5bBkrWMdydQVYy0aVvp56kWidIvxd6Yo6D8zHhp%2FdBqKs0Ht70zGuu7Bf%2Bj2d2RLU%2BE4wtdTE5GnvquavkumlPBvbOaYmv1SgrRFlcrwE9YonLatjfcQXzV3LoUuBSVxkl%2B3NqBuAMWlgVkRd8GeuzGce63LCk%2BRZY0mPkkrM%2FUis00ZPWK29iWrjOpJlXqB77s59l0BfcDz%2FX%2BsICmWsmVgOjfSCTzKOJZlY%2FMuOX1stnZnJm5%2BwoYREtz018bOE55d6tLifBIP2ax%2BF22cLudCb%2BedmN5p98%2FvxvQ3wBkSH2LHXLDP8uG%2FwZm7Do24pTbanmm2t4jXC39mt2EXCd0LILTABQizL2Oy29inkYuJk8GO7EBHkin6BSdx7vjLANGRiUjsqnjUsfvFusKOrW7JJE8SpCwYtVyecrwXaIkT8o8k9rAAlx1LqLGx83m4ikctuRDLWcB8hvKIxEXoGKjCQdDsqQhxWIyi9oUH58BHv3qlGUjakn2%2BB0boHf0BYv%2FRDrjRBbSiioVHo1zuxdYFV9TTD31XAkbQb2F%2BFCGchO%2BgAASjHPYMHnAU%2FtzpLLcUKpvYtAvuRwFUNA%2BZLvY8pof1sXp3jxWL0T7S%2BP72bh2nB8CjtjaGs0GjcWCeiaL2JVjuu8ot2mKuC8FMj%2BK2h%2Bjc%2BV0MxuDOttJBaXU%2BtzxdHyAddqXVLyd4FvOlIg2qZl%2FfWRmFUDGa%2FlEIsEgEKvH%2BndEfRl8CzqUxv%2FAr1BEASdFwtvMQ3hy7CO%2BMvUMe%2F199PvchNi%2BFrsqYEkmKosqoWdNuyfSSyRMu4PtoRk6YGyqUGLDJ7HxQwa4LVrIhHtwzYQ3hUovCdItOQx7sSMxg%2Fz03JUF5rgXxinwUkEO3U7rjen5pikMjPyn2HJWBk5sU6VhwNWMW973uXb40u2OHI327PVfNXLzVxASQS0R7AltjNuy04KvnzfWo4XrS8nXyVNevzg3Icy3SREa7mvGuYTs4ag9emV8x2iMCGfcYA02YgTMdEfAIrRxY4uU87LbEpic5nUpFlSpmBQ5698wDFoP5wdE81lDYpL8jmByKY483%2BJU%2FWIwJP2NXY2%2FRdkAjFKRDYYtYTTMgijdvi1%2FKGuYzeVG2Irp92VEc%2FSdzKi3WIGb2pp6zE68dM1m5b6i75v2pZObTa%2Bo3bNwWob%2FIBS3Wc6K8Q2M8P8hW8DxIctpwQlcZogxqH0Ts3%2BoDBAJeZioRKbgPOG6AbvIRPK85dUXBtAbXLdYqrwBPVyhiFWJm4HDVEzybAUGHUydLmShp2UknYCxVvV4WA7R%2FSMfmpaiYJT2n3hAeecCCdGHJwkS7r1JDQGqKE5k9QyvvMorksYsGb5%2F6EcjdILQ08NHDQXP5DbkQ8RlWJnoPEF5pne3khYO2IEKItVk7b%2FdrS%2Bb9LlaTCCNiy7ISacQboRfuscRVSBjjz67lzPDVJtANaTaP2WzUzfmwXtqDS5Atswjt8tSna8UlnVUskfbvEkTEJlgSU9yE1z%2BsFDIvo83JUlZzySEY7AqYyIahj%2BW1ne3sT%2BIUDIwTEZ99cADgFt5wdS6ic0KGo734%2FGBKTz%2FhbdZ65f%2FOA4JBu%2By%2Few1RXRp9uCSe0wjSq2QKZq91XAp%2FmcoCOGHwcNlYbzLLLehjUYbLAYAULZP3QqOMUN4fDLZjMgm41zeukPm2hcq%2B07ynAsnT7Qau5LLyw0%2BZVcuuISOctK4I4bf1AyXVrwTLl4Pupk%2FelbMWAJZrKw5LkvnAD9oQluoOByKdFhJM7HK9Z%2FDd8hn9%2FAEqi9236fEwnzBklJFJedLlD20%2Fx5VZXenTP7v9pTugW6JVq3fWirJpYUjTwuY3kbJ%2FzMJ71Eyy%2Buc2DObJ5VfXo9%2FACSHPHNRjzWb%2BMgrD57psEo2IYL8esmCuyeMJ7%2BcTvY9ELSUdynz5oRT8prKRKVW76KA0jv%2Bq47mV2tCbWOqFnpzBuJEiz9iyvhZ%2B9quOXyMOn7XUiH3V%2BCFplw2n6GbGFFtZWzKczdso9KXiIaf0jnC%2Bp4G5C7%2Fy%2BBQM03M3kswoNoYoPReXm8TSVoN61RdlsU%2FbEkNFuMAvt4m%2B9X%2FnYYfTQWBFBI%2FugDlqpmuuScVMeQ7sc5wMn6pIhOnrWbgDtzJi4AIPUrdrzoGkAeDoYRnziHxhV2Ac0KG9VYKINsLKNqJzpl08lQuejFJCpRFDKRUYFYrOmCe4Npk5zxSSW5eM901FD7G8klFgnN93yANrEYtOQYvxLeu%2BEN8aR1NbVZ%2FMsFOdx41sa4tJltNBe51GzoqYSLQaZHg1aaPhYW4U%2BEGOPnGFA6wqFhampzqu0%2BfD5Fq8nM29QXtdAn5X%2FWc9CliZHu5eXcWWUSUhcU%2Fb6FnWUf%2FEnCumr0LfPY08He8uFhk%2BhpdxmXj42i6v3udL%2FtvdsJS5hS8hijXX%2FpOzqLCq4XFCn8h93LPveCHKLAbPvlK%2ByGwoaUBuvH1cO4lviQw9W3ShiBtXe2nPEjEnQ%2BgXMyE15xIYBKl54oST79TVxwBnpnLluBp2F8pa0Zktsj7Ynsfi%2BnVdap11KQiBYiKCDXvITMhDrOv3Nl4XZIZVVHKpPhH32ZWZA5SWu%2F3mkX5FOyZz2JHzCz5z%2Fp3L7WwtYOPUhHh%2Fi8yg5Ms13BF6LzCEhdkRvkWBIzLLFimoPKqEugoZITuua3BUvRkG9yj0CRfCN557JEk7EOCguWtfDc8TVYJxR559J%2BhpYAAyVgs91Q4%2FmD4DhzHIP6qPryufj2HZtoY7%2BgB8Dys29gdqZnT7nuTsQgO6%2BykfzHHtSAlHjTc9wN8fJoD64ZNb0fkSR0MQsDt4uYVBHkrTt4%2BjKHuOH%2B%2BAK5M6ceqt1UofErjfbUOJ8pVnSnA1UlahEMZkiGb28Q1zrF3gVEy0iHPqfJ9hTq%2FHfv%2BrCQ7Hw81pLnSKK%2FLlPRVSgtK293CQXAzFF%2FA%2B3NFEv5zio3oLR2VSLbxkjT%2F4Sm4tkbpcXpJJ98ype%2BpU%2FXL1JS1vJMhosr3Dcu9KLRegljzXxj%2FmqceCh7u6Vtm2gzknl0Hn1M2UWfja1TgE1xkB5bc%2BOTE7xYpBovNg7gAWbBgvk1ytpBycXGyGuXmGgElAc8vzgRdt812rPv6IHGChWiCfI6GS2FcKb0%2BtZPqCyrUzJ8HgwHd%2BIrsuhYdv5HesrXFgOTuG2W3iTtzcffa2re9Fd0quzdUXCYCCkDdAN6fEAVgsULKhjv7H1%2BjnqdSKc7kUolidd0zpRPluExIYE%2B1%2BjiXMztC67duvDS9rTGylYvSjXJzkWIqvXLmJSPPkVeUoEK%2Fby%2FFn0aiAsuhG%2FKuZMODflUGtKletE16Ici%2FysqbIBAy%2FYs4Z1XZnaoHsZ9ibB36Ac3KYDQC6Z4L%2FcDHIXW6iDPsFpn%2FnyyJ6n9SkwSI0nIR%2BQog%2Bk6UsZJa0hy1aaQkAay%2Fxm9zKwXSteS%2BL2Vu1x%2BLftVlU8wQydi0N7MMr70BzCNP8vdKLyWUxO2qN3BnOb2Dg3MyHpTcmJZFL6v0F%2BdsAJLt5qCEAegKsae0KpDGbBlMJq6KI8XXhuger2C5a%2BL9jd64vaiAykrutGbHU9jNfdHu6RNRqTUtPS31gSE9rihOG9SmFBW3m9PLXMvBS20RgB7lzAogp1qoEkKSBfrdkz%2BVssq6iWqQs2FelyB4aw5jayuDsSNoG8zOJKwvl%2B%2FV4EWj6ek06no0G5HMsze2MGKTWFgBpDrSVJKUXwXsxDVjNhDdxN%2F8h7GUIcxpq16qlKpfU2IP2EY7exczvRsNK9hhwCcd%2FTtugKRRCvPFaY0%2FiN1DhLsOoaZYEPXL276z2xGTmF5bdfF4XfPRQe8qpUUlOQsNnYWv3sThVEUOUw4HRkhHvhG41o7sPfHfoo%2BzGS0Zh5tYk4KZRLidY8YzdUazk%2FWBxiTqKkhiEWegJDdhVb0NCx%2Bh7AOT501h%2B5TkjkGEU3ScdVYYS%2FR4czehB8gyC7akQ%2BfLz0Ti7iAH9OVe5KN3zaBxgUBFdaKgAvYepZUqccZNtXxsjRKDGYZ6gkTOnM5uV%2FtesmKu1K98eOx4kkSN1Dbl38XNo7rVTrxAYK%2B0EQ%2FXuJ5F2rNbDwNOSPaipLVpcMhwOs1n1qNVHMPaD93K6RwDDZzlK%2FZ71bZaXOWh9UdfqKLKRnZ%2FMEj9s5osdp6SnhdA3prtClP9VGM%2FUEVqPxzwRNinjtgKMG%2FCBhuEAQhFU8P6JE97%2B%2FIch6sU8kv1JzWDi0AiKlJ43hN5slebIO6N54%2BzlbF5%2FwCTrrZbBiIv0vDw6oH%2B6LK6psedn9dwKq1dJMPy87wo9FiM9oheob9oYwaeJESHknM99%2BVyYfVm%2BPHggF8dDSc5wsZRF6DBDuf5eEkAEthrWLI7cH8CcSEJCHU8rMbrmTtYJSnubwIzyz56WretDDNu8ySrct84yAiLDFDeW5TQKU%2FtsSj2xFGFjCoC%2F0J8G1jP73g85%2ByRPurzg%2FA1Kwwg5XG2UTLyK1yi807QMu0acY%2FkKzeXCoTO18%2FAmmvweccFLEpY%2F6wuDrCBLxJKw39wiO%2FNLJ0Gm8KgpyZy%2BrUqKC0BapWNh2lL0qnLHqBqCp3haN8uY0WSt%2FIC7aPLotdaizjakGyDnyobMS17UXBojZznTFVul8fhYRz8P0ALesBpXVzwpxJXuEHfvm10%2BeEkv5Q6Jh2bwCu6rm6%2FnLEovgGajxIGsw0Vs3dm7G71cntHtAP4aXqX5UQ71shXV7a68u0cC8dgo9BUH9pc4OsoWUpDU%2FUvE6s2W2UICFvFm9i2HwyztihFMp2Pxg1V9v13AMt9%2Fqydgs1XYa1g3imYVsi4vn9FJVrwgFvouX9eghjSclk5GYP986ZS%2B%2Fug%2B17PunF2eT7ikp143ZeTA4lcS0mjY2qsFwgk%2BZPIa6VwvfgbKXg038IBfhUe8J2BvQdx7AO97brptZJYm7BSRK9gqHu%2FlvAOCTqewIiUbX404hwvw3RGUfGpt4ttAi0vzSLXYCqNZdBvY7h206qLgu2j2xMehjNjmYpS880qZZo%2FBDp9KloqLxoiTz9Iqwyz8i8IxtPYKZ9UnSh3nbODBtxilS5ldvmvxRSZIl5Qjw4Ij2SWHIaHBdRUG8AlbMo%2FjCEL27Xzphl7wo8NIXpAgHfY3XLI%2FP6Oj75wQ3gxAs5lRijh52emikWD7NZUOSxGmXq1jwl38s4QP92%2FuaKMLkPuWRbjzgS5haBs5mZ2bLBv7mwbnAjaX%2FTTlY8JHK20ES5F0JooLxeBk%2BuML4wMOrvUFbxwrEhEBwvaA2bB%2BAQr25B9fjUul3C2Lsa9QPEGWeDr1zzSIhMZaUORG%2Bs7xPf4JiO%2F4zmc4SFc%2BUdLcomy%2FZW6RD8qVR1%2Fh2DssIUl7nUAeNvpKxM2fC3fIqvAnf6gkdvUk8qvKt29t3mcjwiY8Dv9ycEK%2BLeItT8YKnLiTxbCFqxCYzV89OiaIdoBA9pa8Oi%2BSjDvzJiXXnz9OrbCEB4XD%2BylguLxCUB%2FW6pMtYzH2Rk7D3Rds4REtLJCsGIEDy9ASmf5ReknoZK08%2F2R0eIKNxHNaZk287l%2BoMG5dYeK0a8%2FD3tO6yuxvbxcRvhqANFqOAtlunN6UiHURjo8b4KWNG0t2rF1uVL2EPX6polwMtqVaOrzEOtCwbwVOvWhap6yIYkMqeVPKYGrHtb1pr65ymv5%2FsvLLpRztt%2FnN6FV%2ByWbEvovqGLRLnMT0AWkjiwzEqo14ASkY9r3VglsU%2BHsG%2F%2FiR7BqmoHhS8JGxdR4i5Tp9b69ySTsNCg7c6B%2B4Pf3V6O6RNrat4VoIwZ7Z%2BeShpJrpiaUwBNutTBOWY12J%2FN9ZFWeiyLcrrSn%2FcVNX5YQgJCPuyy%2BL2uA%2FRniNvG9RZhRLq1%2BQo6S6c%2FApSYZztVZ5PrELZS9Jz8J51b1hgiyEF65oWwPw0vcH9nbaoO1FP7nyCjt%2F89gNljYAroiF7VFEtyzLSSMuoR14KdXQqu6%2BKQjd166WUsoXZRCqJt%2F2fADWrXQTvaU0Ax%2FscNcvuLS%2Fo%2FPyN2CmF%2FfF1KjVeE9ARaYh1%2BEwBbRElTuW9yAg7YRbH%2BzHnGLyx60xAHbeleX5lnnPXS4SW%2BlLQX%2FhftWmthgH0vT296s8Pj0vQykb5O5Flc0%2FxVx1Dz5KvmO9alodr%2FGjkcKng4pO2pMDHP%2BZ%2FanxcTPm%2FTc4Ss7Ytl3eV4%2F6j1tDoHsuWyahjUEv6DSxAqjMredEqISrNodpG6ebECM%2F3HOgOKaSTCPXf2MPn3Pr9U7FHx0FLek%2F3TD4NWWc8j1Zaiy%2FoKusA%2By3hrg%2BGvc16xd9kb7AGQuiLOIXQO0sdw2ZHrDiOAtjrTgKDbVmK%2BVMSC3fsB%2B%2FpKtSKhUbic%2F33toWg6TAjWGeqY7Wx4NCN2NknYiM0FyMxuhcfPDbuLXhSFbBn4eoXkPnU%2F6wt6BNdChqX%2Fxc29h42zTnuf7jiUpLLBtiBd%2FKLKJfj6VQMUb6M0K2mN9NE1%2FzrK5PdNweC7mR7aeTRRA7QMlU%2BSRrjlKqpgJCvNZiQURVlnNcP3cDlgIhJqW7SZ422zpMizP5mzEW2SvqsU6FF0mEppXRefWN50n4dQtv7vupEvCNwcp1tTSxH6y%2FlId5l3EzuNjBQdlwiX9ARV1lhDuZ1s2bZY%2F10qVFw0tyctAyCKRd%2BN0yXDkqNDcq0yyDVFvkdgM%2FgPcdWvT5aYyDTma2zje%2B3WStktdz38R4FuoMJYo76PQpqgSjSVDL2QqnzrgiM0K5e%2BuWNFVoFSODSz8X77xC8M1LZzOpO%2BcPdFzBbbuA7uPdqG7N%2BvnbCfuf0eS1A7WMhxOXa7FkZ50ffOFaB4SiEBLFQWhKrKiGG%2FVwXGh%2FCv1GLQPE0xVduGFGJA6FlkngsDDvDodkVvgM4I7wAG5EPDHg6kUduGqLnffcOfIEz30m1DuqsqLgigt9Bu%2BNWQd8cgcluLCjaG71UyGSy4I2g%2Bu5VYw6gDEBs4HAqPy5YR50IOfB1Kecqtm4YWARfx1SqXIVDHDO9MdPcCwNvot%2FQmjdCGGu0bRHo0rbSvN9JdB9nGTnNPXZh7pJXSMErmvRkZWDr%2BzeoJjbZ7trY7bg5B7dXjtjUDFPpxrD%2BpmEgmr%2FVW11cNpi1irFlYgievC7qdBfL%2FH3tkdx%2FlP7%2Fucz1yrhi6aITZs4P3q1cCuOn4cS6kH1qPcXF6AAriutFpVZfr7hFGvgULjs31BpM%2Fx9JGH8FAdzZLY%2FpZirCFEOgN0Ff0dl%2FsfSlnOHX9RnMdYxnD4MJyKtoW2heHkijsxkRJjCgH8%2BVJcnWTlouDtByfo8tuQILRf7A2%2BvtUF48IQXmO9kHgs0%2B0sIypzBPePuci7aF7Cb%2FAJ8TQQc97tZ3Q%2Bo2yUlotvi65kmrTdv2ToVA9c3vXftZBEQ72Dltwgyl0ARU6esaEpUVI%2BXou1wXAW2aXTKGXxXQmHQZK36YQOEwSHbH%2BjcHZR2UZXSvcnHvu6rRF7ewA7Nwfj5to2jI%2F8xByHboBr4OYWwuK68S58%2Fo5p2FKsW5Fpq%2BUF0gNrNPFN0hw7qwAyUYi96Tf80Jhr%2BlwAc2yml0hfEWW2iUOFfysl2oBl8qmbGRpmkLu93kFiTV1G3BkgrvgTZj1e0tI0A9M2aB8SX7qSk4brOXhErb1EiWXRrAEKH0%2F2Icn4c4RsTNtDzLS0Q6mlnxkZxUXiA%2Fdz2PSN9E32QeNzlHitI3h35gqEwt0vxfXivTRDli8V%2F2C6UxHUTacwlsP29C0DtXt%2FG%2FA%2BAFzQatS1%2FwKdGbcy015wcS81UALwKkVWEQ1UnqYgSxwz77sZYXeLeK3eiIgXs7VkPL2K8ihJUQ7xMltkfZ6sA9BaUpzDYK0JOTWp1BPhmK5Xkj7BUrKcljSWx5VtNfonHNbwrZ%2FoY3WLhCXM8VOvhDzKONbBJvLtqRYBjy5JyA93txZC1DM0MBvoD94XYIFU%2BmhGH1O7yNSGtV1MlzHlcrxivCBoALeg%2FaUQAoKadpGFzFPQ4adpCATyuOMRza6x%2BJny13Tg4pSU2014UFTYAAh4ikBp%2FbQfLiF0mZ6hPdjB62cOAvI7%2FLd%2FXd9kuATLg3X17DzBV%2FhvH0lY9YGBkruFd28pCawxQQTM0ABpGpxUIzf8BPvS8o33OtfiWSp20bnbBCvAeNc5Eg29WZ1lsCkISSqDnfkj%2FsqP9ZlYJKQOyrCw59dPwIvFfCPPv40r4BQZUQxNat3ER64MFjbtC9CqvnZWuROKB9XqUxSeT177eZGOk5WLNVIwLaQEn8WI5v6ZulhizbfXmS1%2BRtUt9ulZmSPNnK6HOX3AyWP8tGeUfgsxZQSKNW139boWSn%2FDyzbM%2Fo8gMxCc%2Bpsubp7oataJdg8tLULmy31IoR5dVsSgq8ctD99ZObcQqbqbRyuS0PvPXfY67c%2BYZ%2FfFmmPHjmbvxNe0Z9HhZxZci7gLBw6UP3b5n4JCXygMp3itkOMMGxOOYOfxlx4NEWAhcCIBCmeypLtD6IMxrTyZ%2FYDnnnDV2uk8tT1pS8IamJiBU6ebcj7qY7rsfvKv9WfdujzRufMwM2IS6PNLhcB9xnw58N%2F3AEMoReGcgwufhBeMsn1TTmwtGbNyDuCRX6s8MOIPSqiHaNg7zac0X5DSJU%2FDCa9hIdXG6v3iFc%2FskiguMpDBqVR98sQad3I0B7AyOVRgo6x5wfAdb6EOK48lTOVMdkJM5r7TClXAQvPZYEIObHl8snYk%2F29NmYpuXy9FYCowMdINPtbKjdvbL56ZL8vu5NH9Q3EHZb2A98YQz1%2FYWKC6IUo1j90uGJ0npdWSEktT7gnf7i5zq0xGzMp3OmAU6HSyTZSJHuNY8Ecla4nDvuXJD5o0VQminP%2Ftf2JKl7YtdsR6Dow%2BKG%2BVGPF7BEm9P%2BlMJo5M1t3YcfRzWKiRalgXtReBqbHFxBjXxDlZe6Y41iHckn%2Fwm7CJvjPc0s9%2BPgwaTrBuuG6%2F9xvH55a2H1tz8PT0t7sD3rhp1o2vPo%2BRpiu6Ox%2FbnGvYn%2Fh9t%2F%2F8Ta0CGGh%2BNzfQig1fAq8B7hY4%2BoY%2B4J4LPh2prKGqnShbhiCV4pCdPISWbpxclBBbu5st%2FBzWVQcTwVccxyctQpyDCBhDF6b9UI2w6dT5RfMPJlW1MDqypVE2XO8LR0vwUBB7rpzrUrA6K3PYLRpia6%2FATq0iR2MMgjKYmLcrFQXmu93XrY4YIwP%2BxoHBoVDO0FS9cGytnVMph41mXatgm0KNz%2F4VrnjG8B7orDQW%2BR7L2T3%2BSUUbqbyEy6tl55WbdHtz2nOe3ZVUmyrud7kYDnfoaBjHxp3d2amZhbXPbeo16Ah9gDHZTUOy46Ql9ofxTHWQwopDPsXFiEKP1tg78MWxedyTtTNQMMM63D2kCCJEeCua0krNCcMEjxPmkoLVHSgko54pR9vwBJyhGil7mc5%2FUGQARbhxydFHQBko%2B7BvOU9Q6EYPM7soxx3UOj5oBmK9JBsq%2BsYfq%2BcfxgpsDJecIyWZsMQSitEQ3hyAfvvyE7jVMpuKy8Z22zvq8C9HeEqHp8qD4tiXf7QJpy4J3KAJv16clZfJ294tv0%2BT6HcS6D4Di6uXY%2FwB%2FzLBE%2FEBYPgkYIeP2YA2zv6AkjMOEbVLdfgJRsTSI%2BYxrOubS8Yy%2BCCYMXSyUlFjD7IWcWAbo40UTDTw7GQ9vDc9e7pvO89muXMVETwQyup0%2B0WXQVO%2F8BSLYX1NB3jGRW4FT48KzYe38GZiyPa%2Fbu%2BRxEwMYMP5atjMe%2B0uf9E8I%2B6u7B4lMFWvsNhfnMXx5VgANCfxrI6747bQEghpWK9i7aTp2Qx5E52gx9WNgjPFEQxpSod%2BfXfdmzLbHRiHHK3bK7VskfMrqS9rteL8B2EU9P1wqItbIrNQC1F925Z3EOrDKvVVlKoPZGYz9VCN22SgnYrVS5FYPhcoLGWij%2BnF7ehToi9tLuITXlw22cDsWsYCiJ0HHvV4aMYA8RrpXefMmpuLTsBlQdNZRiCykF8tUHkqazaVdEJ53461e6Jf8Vxo%2FOLxRhZkQAtxcyXTVBqztzV26YMmeP0C66wR1CnaVMh9IYUPthRTio3KGwdQfscHMPzheuKzxw2oGfM9RbuewBni57gvhAOKNaJASfoDl%2FNEGwie3cIhoPtIfIJLU6%2BxKxbDBU7sWZl3LtVm0nU9lC67rXIlXMs6b7hlPKX7587oZ%2BI9JiK2CqbFV9HDmn6MYblFlwVqg6xszrGS5cI8GQ0%2FNeZ5XG3PWYs0qOHFksWEjtYJ4KAI04qcYjYCUwiPxfCOuJdrx6k3ThGppFmgXITQIUJCk%2FhASsR2A3DosloruyY1c4W3cbV020Xhyq3EVhTzVxFiEET4YRyx997TGDQK3dj5mMIVAUQK6b7vBMqLYXEFxP%2FiXbYQ3A%2FhqO9NuvaqkFfwYKguo%2BiPFwgJhEgZhbSTnOTKGYTBnoNfdaghvGA1qQrDP%2BMOM9%2FlexzIHNi6%2BwyV2ZGhrRpzh7nduOIJFaBHasVChOy7ENoJrh51HyY9h4nTfUhDwVbH%2BTk5qB0VcDAJ2zqNMNOeQDJ090OKe7%2F%2FEJ9iLzwLyB6dQL640aq93Gi4iahY%2B2z%2FGqeM94XDyvkOjc3uPwmWR9zuNVilR3XgVKVeN6PBWBtH5GcGv7cjUEFtoVhWRsbW3KdEjmO008%2B8DiRbBDctP8JBR%2FmZi7vAbYjkbv0jJ%2FQuKNJA%2Fr1LpoM9c4a6svw7ULdQWUPeFXlwgKWz%2Bae5%2FLXOWSUU2aRzvwnegPFiIA2yaWfq0PPxQNOxMS1guNVFSTPMve%2BNUR7REfrgYv3%2FS9w9bPXpItalgmRqTjWdC%2FQMTcY%2BgmBpCjvMhU7OGAXbVxQqiQOJZqhFxOf8a6PvBrPt8aNRWuecWbJx6qgE%2BYCs9%2FXxECWpXa3ymjGvL%2BlxEx%2BdIHOCIDKidxrByZIx91hrBxEtt2XVOmJq6WaUEkCowdOJCFummjpd9uGqUYXRQGvLbEdQFTtmiNw265R5w7nFfYHsN6PJkw8HgAuvVInIYRpsR8JO0vk8xKRTCOptA%2BUgvdT3jG07CQh7%2FWW19P9sy0aZtuuKqQMBs8na8rOeA4xiWi373CUgJ9b3gtFpLfLoL%2FPOxs2eV0GtRgyB7xmPTyuiwfRZ3fis5tm3ny7PkDASAInlCkaMMaYZjN1BEmxJ8Cd5iEymuHMxHKAxfI2qUm80AbPRGc2yAruKtuW2ZttclYr%2FDXnaKhP4WveM1S5DTEsLlZXdb4V%2FMwi4a0N5stAZ4BgkXIJvxcVbKPW52KTKBJi4TQKIq4OiOp%2B8MsEZvWCgLjFj6C0Q%2F9HeTb%2FqAESE20%2BT23ba8JTEf%2B7whPEs0FnItXTFDyid46NppKKr1iTvYFevTO4VojUnwxhL3hpv77K4k%2BQXW8Z4pyx1xE6ZyVlbI16jUV4veIVpX%2FdH%2B7d%2F5ieIilcySgDg4sVP76elnQaxd9GLPBY8tYX2ZEPnkOJWXQu9modhNbUBXi1Xpu10MzkTkR19%2BVoW3DyYarCK%2BIT%2FoxNWPlykx0ZFUMOVgaV295%2F9c6BSryct%2BQHz%2BblbB22OxPllnKkfsIpY8IJrqvZ1OzeoZ1DVLxrK7Iw%2Fn4HpIk%2FEYl51gDEibWFQu8hfQB7og0Wb7RxlfQ%2FLqNAZ0qNxn7%2BlqJC%2BXK77XmMvN0eQLFSOdkNT17h%2B8bgDWZNo4OFsxgY7ufx8%2FCval2iUY7srO3q1qWITxcxTZGZEGhegMuIwepIif29upbZ0HDSfy3WieoVnpS7Tw7jQ%2BEz%2BEkoQf4b015Pt%2Bpjnlv0wWM%2FmzbPqVpSn7def%2BjkV6N%2BVGdfcMdJpHajSawZRyPb2I%2FaHLBQcqkRcttFmgWIM4rFdEtrX2BvIGroSzQXv9uJyJmP8XekDpZBGEyJDUljiAj3yNa8nnoIooLkyLh7zI5g0JQDuCCimam0TQRGgdblFz%2B0ZQCSkRn93vHTyJBA13EjZTC3xZ3t%2FVuBPowR4U0sRx9QMZgkW98AtGiHRxBP0iR%2F%2FhuSRD0ofesyqPbAWqtye4elGQH0dm%2BqfQTY53s%2BmlB006RXbthLn%2Ftzd%2FfetisqlMfmzKOHZ5DdrI6EtdWLlljzMJexQalKtlazx%2FdV85wDS8NFXziOvtEApu3FEOSKYAQWsDtu2wad%2BMu7fFMMFjhPVbFW41bKrLZi9u82tAVeqG2Yd0jEsyA4jFdBylyxtSKb6HDP%2B%2BiJUvtCBplGt66GDFEIe6Gr3rdZYfaMqO0d1GwXiR7l8bCF1KmDoXDyeF6FUeb%2BTczU3%2BwYI313Ry1jbcavPXkU5UBj6ptfPmHjXbXxQjs5fvvjshGo0aPiENI36fO%2BTU67Hu%2BivWVl6jpSK3R4z5NzisfUHO1ZdFqe8cZP%2B5UAvKfPIxSNL8mvCFB2SMHqjpWce8ZE7u3ZBHBTJdtMOhgix9qO6kr92zc39XPAxZLUnoXjVL8p8vkhd8SQXh2WB9llJW8K1Q%2B%2Be92C4WzZaKXyHZD3otLLEwOM9EQk9BHEtWSJXu6JRSTUNCpjXrWxniwSdeuKbe1oDWPVsSk%2F2BudeJA93kLd8IzGYZlMo26bdxBIJvBTbkepOZo7RxzM%2FSP%2BSjGfJBJSRfranrQUIquVZ77w1wBoSd8tZX25OHEJ543tajg9QABha3xpBDUrkG4DjLQVs4Jxbkk4u%2BG9emB8QwFKPQJq%2FL%2FDIz4xxPkmPyKdbBeXlSfbafSJPiF6kP0yK2MZRY6P32SGeCpIa6eqDL9Cz4FWT3pRLSTKx6eh1MNKW0hLDXYHANsR2ecX6l2lvzAip1om61VTN4jGIwouO3V0A2JVdgJu5anP%2BaIPBHbjmViNpcy%2B6iePDju2Mms9gAJWJt3CtJ5ywclP9obmsrDaxPr7YUEzTv5%2FN8WV0W%2BO9njcx9TiM8fC9Xyijmw2n4RQyCt7fQ4BtlnUt%2FqlBxxDBqtOXxHMjQcfvV9%2BBlsNC6Rl2PGucJbmxVrKktu4NmFPTE3lL%2B9kybos8ukI1%2B6xcAzZQ20joPyabQ6D%2FKFD4Ne4B15cymMxLEAbka6XNpnOX7X7k6cvG2Vs2haX7TL4OSnKrFVPZxeST6U5Ksn7LKSHLBVLFw%2FBj2K0bhca3Vvrjw%2BQ8cpeov8A7HnupGvdob2kMctaQ2PZ7VZsVmxLFglM9jASWPLuyA5XKfSO%2FIVsyTEe4%2FCwOC9thbbc0OKknk7cLxgzL20HZXPEBeT1Q%2FXKPprvM06pleIFlJKEacppdUfh9alzV8DAV9vuYZV%2BUt8BmeoeaKC%2F181H68hcqIq3%2FYHHxL39x3dD1rMwmtGX8%2FP2zus4lbuu13IXOUipPagHDqWvNWroH6WlVRCJbBBsMWp%2BtziySY41ln6ny%2F3ofFAEKhAeeBGtT3Dlx6tXq%2BZcVm9Wx8Q2dzo7dEIPKTNrn6%2FHPcCpBEFzPW62WbZXB71osLvappw0vFG3hxIXNO0KCdfEj%2BpWgWwyumyNBFgPhmOfWZ8SmeS7%2Bye2It7UdxxzgvjqoEhtWo2AkNQzw%2Fjf7qu4DGFjp6XiLfuPTy%2F07O6CWKIIZO4A%2BOxLuj6ls27kjDje8ED1rsR98HoShHvHpRucZqqfx5BhrkqY%2BrnxrgVwVKxc7qVoYTs6jJWkC%2BQidK85%2BlYFSzur%2BkuqFf%2FiZTtYNBRrt2e7OQVhIE41uwcGy%2FxsjbP1Oj4qHKVnxQx88YYGnFbZXP4nTo48i8sXSHbmvdwFC%2FLPdS2MAPRlydzr9XRonD4xaWeFWKgO4HUwnMkNxnrYsBSF3kNYmBqe04N0UV824rvHSNBGnUjcEp2ZMV3skGKmnP2uUdaU4AdpNoOH8HYAkxzrm3P73GUs9EekiEG26pbJCmSJ08F2Gk23HycmHiFE1VRJfS2Kb80FjYJllOKZwhPSdMyL3v7umJNGrtLNVSmnjfJXyFpSv0oxLwsiDbk5p2mL3gv223DIdYzfoYOUf2dub%2BrKeQyd46T91jHhd5fFbrKu1pcQ%2FscJzMd0KM%2B6ceV0X5O6ys48bP%2BFYwkRV9v2wiqElodjm0DU09%2B9K3ljgvsSG9MdFTHE2mhJ2jvR%2BiiDWvsiY4DqSTbSX7jTtBEbXTPUG8ruPO2PvtW0%2FJCTdJuylfMKjNPpgRfOALpXunQdjCVOnQEMxhhfWy3q%2FrJhICpVgwlTUXkWooUMnLIQIvtfnt7%2BZes7efrM9lHdp2BaSvIpq0Owplu5Dn3yEVkY6gVlpup8YH4fuMJYopvqPCJ8dmydSILmH9Y9ctqvmQrMLv9aF%2FCChe1NWXG2PNvUXt63w92aDk1odHMI0WwYbssnRq1r%2Ffh9hAu5WFzp2eUUAC53wdysQURZvt1Yyr8EaC%2BAgGGi8vAk7EbqKn1VOwKQDX1k9Ej4DkB4Sk7cqkZ6Y4OQl3US9ZJYsjqvk81g%2BIETrD0tLAkDjc6BB8MPLviK7db03dN9p091Qkli9N%2BoYGeakfUkv8EO5L0FuD39Q0%2BCIEHqBnMrVGNZiq%2BhOAd4iRz30DJQuynX0uRMueSGvq471S7Q84BMVqSaDb8XQYKPpb3d86zLX2mmTyvTItSvlmhIzmbl8AY5xOKGDHNpZgb0AzjVj9kAFoKRqHpPaF4C7tGjSIGHY2QPX%2BOrTI%2Ffj6Nev0humUMgGzxwYfmMf37CrVP4f4Q1OtuSXwfWTHayjJylHvzZ6fmTlEJN47nxDpAz9%2FHiqk9j7Ur%2FVxtXN3StFJqewo%2BNdX07Witecldcxooxyx4A%2BMuZnsZJHGWqbIlqxukk47yDaX%2B%2Ftgkx9ODwIms94JHpD5%2B1CfgPxILtI3OIGWMcoHXq6dMl6R3g%2BnC1EB0Hvs36yDRU3BvftoKM2VAAKyqk1htoW9x9J5CBtAAuCMHy7HEcgQ%2FKbTU%2F7rFsgfcHTO5ARGVWommlBDrnoIZJMDrGs2szhyyB9Lc%2BJRRT9U%2B%2F3VFkTj9UNr8YeRluhqWftHl%2F9qNHE9OqVAZXAH5e4HMsMbs6rpGyz89QT8AzdWJtlKmOLY1iHydg3ZYoeX4GN5PTj%2BkrLTdfNCYrIkDtNEBXKhdNUd9ZeNvT1t7vhaaoo3d2iyvBfS5LoJr6UMCAqwu7rmozJ1O3BKXLZRUrzo3l5EG5scR8VwnS2mcbuL3tS7j8yjbUPND%2BDQJIVWO6o052DVvP6GMPINdK7j5C2PNUXRl%2FUcdFFiiAchBj0r%2FngffGzFNyXq5%2FMAfJrzYe%2Bf87ijhL8iIzgcnGs%2BqsC%2Bg9N1ETmexyTYJy7YCNZU8UCWQqx%2Bui3l1yfcg9m3%2BxOZLVdIRmbLI6kky8hPDc%2BuAR4Pxto3NnsGEGFxEDnp18d5Fwnih4SD4HpMdA%2FL21gilPJ5av2loeBLAHY5yUxxhuy1oF2G6YSHLD88r%2B2trTeh%2FVgCS2ZWnWPw75yyaUxv1c1mQCCe2860miLS1xremTY1uqd7a%2F0dVF5Zcxgm9qVcEt4ANtkVpWck8W3FY9XApAacBWZ477COuBF7x%2FwApT2ztBnFYhZY9dRo7uHtRBz21wjQ2VRASfkYMRSo3db8ukIurmKKGWrzKPjCNB9g8qCNaYaLY1jCnRRGmRCijiCSsp5MsxwZBB2jaX0iNBYPoI5uCCH5FeJxbWJQ8ns3VmlBh2OgPCaGlY%2BUc%2F7pjV8HEV7KW0ZK%2BaBOz55gdZQJskNnQ7yIiFc%2FQ3Mc9pYeqQ7Ak1a3ypOA5R2K85QkJhDSO%2BfTSSZqOcpozz9vejkvfpHURnGLCufocJHlWplam7zwgE4hVLcY%2Ftr9DegfXuAhWGKJ%2FuultZo117LVcYt10OF4GfG5GXvYDA62%2F2Dz1XFshqLkSEq%2BsgWhFYXQGSFQMP%2FsGyhlBvaozDBXYSAH%2FL50doD5Sf5LkD1kC2weBJmQHWAh7h799Em6FqKM73AYGAxV3wlquekIpGOTugJGUN15Wwopv98z8JhGXiZ6zvXpAknzIQ%2BWVvnBNTn2tGLt29t7lrrHVMgAFawPnY9sEi%2BD6dFW9yDPmV2OwskhLPhtoL8RjhjoPx%2Fl8%2BunyXZN20%2Fy3cStkg%2BfCd1w3ruPtURyZdy1LwflojLdhQgHFrJxeITo7FWSSKsffPZWVcCc9b51QtxUucK63kbfVdWNKrQgv4jA%2FOj%2Fs1sv6MbKjEoxT%2Byf0FJf2Sc9FEHF%2FCk5NjrDW%2FJl4QcZRZhN5BNyb9hLz7%2FCyxYwjPzQhTswcTRJqdKk6JRxxKuLBCrCY68y5kaQjRpusI5%2FwdvKEuzI8fkyYtS7uS8eZDiHle7a4yNrcZUpsEeSzBmN4hKiBdZDzVqNJwQm0jeCbGy76XBVNkHeQrZVf%2Fyjjx1NtDuMxdSeKfkhiy3v%2B2%2BtyLQFxsK16H7OkRbLzN2ZXIBycR63wA3a8W7yc3l5eTeOoXV3lOEdmOJLmidqvg8WPOgN%2FtwAh%2BgRwso82jG%2F6sYJiy0FQlZdKEtOgv%2BwBZkIrjaoxk%2BaKviUFiF240KJmIMzXELPKZNQjBry7dNRLtg5zon9dpwRToPIJGsQnuDhHrhaVhimfM5I0jXH11cq8h5P0tFq8ldhWzaTGpzt5vfuF1ehkv6VQyTDsqdv3Oo0217u50ePKhciARMPN2u%2FuJu8GFGkbyBhCvq6eRJCokcguRE0yCdC8B%2FfggjuRpxiU2KbvqfhOzgbuz7qCFugMJ9ngqatedhtsHgIDPO3szKr23DZobZij5Ad8SitvA9lYzWTU3tih1JT5A8yNAYt8GBN4J8zY7HF7sY1W46TUqBacNo%2FHI6aQNjYTxzo5GVimLjazcYncg0m8tXbk5Gfv5hjbEYG04cKokO9u7Czt%2FmoxpCfhdXtQmvCsd27GluIQwzO1tjmm%2BVs74nC5w
                  __VIEWSTATEGENERATOR: 8D194CEC
                  Inner_header%24hdnFPToken: ""
                  Inner_header%24ctl00%24ucHeaderSidebar%24hfTopProjectsJson: ""
                  Inner_header%24ctl00%24ucHeaderSidebar%24hfAllProjectsJson: ""
                  Inner_header%24ctl00%24hdnDashboard: poll
                  Inner_header%24hdnLoggedOut: ""
                  tbDeleteAll: ""
                  tbDelete: ""
                  ddlHour: "0"
                  ddlRem1Date: between
                  txtdtReminder1date1: ""
                  txtdtReminder1date2: ""
                  ddlRem2Date: between
                  txtdtReminder2date1: ""
                  txtdtReminder2date2: ""
                  ddlRem3Date: between
                  txtdtReminder3date1: ""
                  txtdtReminder3date2: ""
                  ddlRem4Date: between
                  txtdtReminder4date1: ""
                  txtdtReminder4date2: ""
                  ddlRem5Date: between
                  txtdtReminder5date1: ""
                  txtdtReminder5date2: ""
                  ddlRem6Date: between
                  txtdtReminder6date1: ""
                  txtdtReminder6date2: ""
                  ddlRem7Date: between
                  txtdtReminder7date1: ""
                  txtdtReminder7date2: ""
                  ddlOrginalInviteDate: between
                  txtdtinvitationDate1: ""
                  txtdtinvitationDate2: ""
                  ddlPaticipationDate: between
                  txtdtParticipationDate1: 02%2F20%2F2026
                  txtdtParticipationDate2: 02%2F21%2F2026
                  btnDatePaticipation: Apply
                  ddlInvExpDate: between
                  txtInvExpDate1: ""
                  txtInvExpDate2: ""
                  jumpMenu: "1"
                  hdfIsSubscription: "0"
                  hdfIsFeature: "1"
                  hdnHideReminder: 0%2C0%2C0%2C0%2C0%2C0%2C0
                  hdnOptout: 0%2C0%2C0%2C0%2C0%2C0
                  hdnEmail: 0%2F%23%24%23%2F0%2F%23%24%23%2F0%2F%23%24%23%2F0
                  hdnattribute: 0%2F%23%24%23%2F0
                  hdnoverallstatus: 0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0
                  hdnOriginalInvite: 0%2C0
                  hdnOriginalDate: 0%23%24%230
                  hdnOriginalStatus: 0%2C0%2C0%2C0%2C0%2C0
                  hdnReminder1date: 0%23%24%230
                  hdnReminder1status: 0%2C0%2C0%2C0%2C0%2C0
                  hdnReminder2date: 0%23%24%230
                  hdnReminder2status: 0%2C0%2C0%2C0%2C0%2C0
                  hdnReminder3date: 0%23%24%230
                  hdnReminder3status: 0%2C0%2C0%2C0%2C0%2C0
                  hdnReminder4date: 0%23%24%230
                  hdnReminder4status: 0%2C0%2C0%2C0%2C0%2C0
                  hdnReminder5date: 0%23%24%230
                  hdnReminder5status: 0%2C0%2C0%2C0%2C0%2C0
                  hdnReminder6date: 0%23%24%230
                  hdnReminder6status: 0%2C0%2C0%2C0%2C0%2C0
                  hdnReminder7date: 0%23%24%230
                  hdnReminder7status: 0%2C0%2C0%2C0%2C0%2C0
                  hdnparticipationDate: 02%2F20%2F2026%23%24%2302%2F21%2F2026
                  hdnInvExpDate: 0%23%24%230
                  hdnPageno: "1"
                  txtmsid: "0"
                  txtLogmsid: ""
                  txtLogEmail: ""
                  txtLogStatus: ""
                  txtEmailAddress: ""
                  txtFlterLimit: 21%2C
                  txtsort: "0"
                  txtSortOn: ""
                  txtoriginaldateoperator: ""
                  txtRem1Operator: ""
                  txtRem2Operator: ""
                  txtRem3Operator: ""
                  txtRem4Operator: ""
                  txtRem5Operator: ""
                  txtRem6Operator: ""
                  txtRem7Operator: ""
                  txtParticipationOperator: ""
                  txtInvExpDateOperator: ""
                  hdnlang: ""
                  hdnlangText: ""
                  txtistest: ""
                  hdnView: ""
                  hdnInvitationDate: "0"
                  hdnReminderDropDownDate1: "0"
                  hdnReminderDropDownDate2: "0"
                  hdnReminderDropDownDate3: "0"
                  hdnReminderDropDownDate4: "0"
                  hdnReminderDropDownDate5: "0"
                  hdnReminderDropDownDate6: "0"
                  hdnReminderDropDownDate7: "0"
                  hdnParticipationDropDownvAlue: "0"
                  hdnInvExpDateDropDownValue: "0"
                  hdntotalcount: "0"
                  hidExportFormat: ""
                  hdnexporttype: ""
                  hdnexportall: "0"
                  hdnfilterexport: "0"
                  txtDateFormat: M%2Fd%2Fyyyy
                  hdnActualRec: "0"
                  hdnReminderCount: "0"
                  txtIsUniqueSurvey: ""
                  txtIsSMS: ""
                  txtMobileNoCount: "0"
                  txtEmailCount: "0"
                  txtisSMSInvite: "False"
                  txtViewStateInvites: ""
                  txtCount: "0"
                  hdnGraph: ""
                  hdnshowDelButton: "0"
                  hdnCoords: ""
                  hdnInitialLoad: ""
                  hdnInitialGraphValue: ""
                  hdnBracket: ""
                  hdnBtnEmailClicked: ""
                  hdnShowGraph: ""
                  hid_action: ""
                  hdnFolderNo: "4"
                  hdnisTest: ""
                  hdnChartVisible: "2"
                  hdnReminderCountForDel: ""
                  txtFilterLoginURL: ""
                  txtSocialMedia: ""
                  hndIsReopenResponse: "False"
      responses:
        "200":
          description: Success
    get:
      tags:
        - zDM
      summary: GET /zDM/distributionreport.aspx
      operationId: get_zDM_distributionreport_aspx
      parameters:
        - name: p
          in: query
          required: false
          schema:
            type: string
          example: poll
        - name: survey_no
          in: query
          required: false
          schema:
            type: string
          example: "4"
      responses:
        "200":
          description: Success
  /zsm/Poll_wizard.aspx:
    post:
      tags:
        - zsm
      summary: POST /zsm/Poll_wizard.aspx
      operationId: post_zsm_Poll_wizard_aspx
      parameters:
        - name: IsEdit
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: pollmode
          in: query
          required: false
          schema:
            type: string
          example: edit
        - name: Survey_No
          in: query
          required: false
          schema:
            type: string
          example: "4"
        - name: isNew
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: CreateNewTool
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: survey_no
          in: query
          required: false
          schema:
            type: string
          example: "4"
        - name: tool
          in: query
          required: false
          schema:
            type: string
          example: poll
        - name: folder_no
          in: query
          required: false
          schema:
            type: string
          example: "0"
      requestBody:
        required: true
        content:
          multipart/form-data; boundary=----WebKitFormBoundaryI5zduoReTtYBt7j2:
            schema:
              type: string
            examples:
              fromHar:
                value: "------WebKitFormBoundaryI5zduoReTtYBt7j2\r

                  Content-Disposition: form-data; name=\"__EVENTTARGET\"\r

                  \r

                  \r

                  ------WebKitFormBoundaryI5zduoReTtYBt7j2\r

                  Content-Disposition: form-data; name=\"__EVENTARGUMENT\"\r

                  \r

                  \r

                  ------WebKitFormBoundaryI5zduoReTtYBt7j2\r

                  Content-Disposition: form-data; name=\"__LASTFOCUS\"\r

                  \r

                  \r

                  ------WebKitFormBoundaryI5zduoReTtYBt7j2\r

                  Content-Disposition: form-data; name=\"__VIEWSTATE\"\r

                  \r

                  iuG5rXb/ozeXsGAsHg4Gg+BTk+YxnYz+W4KX56sKZvuU97CEv8qEacgbWPt5Fx/D342pokguqBpYHTI9n0qPcwhV1Ywd80SPhwor1\
                  z5LJEnPxvfxy1xJsJiEMxzo5YHlvlgEg8CAXMcjNL3bKFw4Kcl57WbSNysjrzPeYjFJBk5Ixbn68KamX3PzGAJe3iR2CQjcDfzH8x\
                  9SQamWfHDLiSH55NFap3PzS5LSGzgDrBNw+ei+0sbrFbNoxNjsjmEvlOoWQTHzrvWtEKQ+CUUwM64akVvtChUPHKeezV1XjsO/cEt\
                  JAJpDdcBen2t5VMpQxfvkVtX6t4/TgDpwPePv8h3zWjJn5qwu7aA6iPx9CriHNN370sSyAbd7Bn7LDhkM4TnEGd7DrzsAeZy2kMQY\
                  YdKMXzLx/Sgg4AkAjPTgrhz6Qo5zrFGk3qDnOH9C9tpZQnqiJWaU88ota9t34SuelYfbYrriuEZdHOIWWINEvy05X/gnCZqh0YRQv\
                  rkDUKPK+kudXwyzNDezECOVCWNVqK5MWeIf+ZlAuCbMGe84gg3Xh7zHBy8g9GlCxXxwBIPwzQ/XSAqbeDmUiOFsY+Kpd0jiPlr/zi\
                  TV22aRy5WAbbEKOLnIqqd8YF5QwzkkWFwve8N/NwojZlpF5IMloa2PcDE2KPuWYoQzV+xmKCLrVOYXx/ooqltn+hEpP7tNiwodM7M\
                  qvH4ojb4ZavbO7ttiLWi84ePIs40G/nF0QApK6j/24Lf56AHINXO91vnHYL4lbprBqR/eex+TtK94NZguyqZOo94ecvsbhN9EPcx8\
                  MRWI3X45+VgEBas467eiZfuwyousw2P9knx9QF2Hb8/qvSGu1lW9bfXyE06DND2HzAXV0cdoQqHR7IyNck8SrNXhtDEAjUwa++gkX\
                  Sg2EfCUT17izMh/ajkiQLgu6FLV6n/lw2r8gpzapv2rinrR7QdlO+rYY2XB1gIaqiyyF8uOH9/u5o/fR1yhb30jFJ86jCiuxTvafQ\
                  e6EyWXOcx71wejDKmbnZl1mBtChW5/jNzA55gwgE7Ec/wSMw4s2tIFVxGS5VqX1LZyRvflsRzD31t4tcJOVXUAyJROFaZ+8LrxO1s\
                  bCBK7y3tIPNocy58hceNxyxdPqjPwWgc4TpLdsJ5uMUprV7Ai0Oc1l6BbES0raQhO1QuL9OXKYFDfF64v1Azeojn2/E7yFMtG4o+O\
                  8H9nMCQKSYxg6CfFQOUzSzDlSKDWGb2YoZa+DRzTeQK9zjsdiYM6AXu+vhg5jle2AC3ArTNZ7RbgHFXW2jeGWVX48h/FEadqmcfU6\
                  2BV7GLpQgD4nWaSKeDIYbvhin1ugyz5r4pEm0m0kfDCicdWGJQ/vvgQf92WFP+I+uD+YyQV+VUFJvuoSDjMDYDxIVbpCuPr+oPGHm\
                  QkYPAuGPs9POdYMBHEuQbPyUv9jjUEJOdmLKKYfsi4L4k0974Iw9FsraSHaEaR7UDYwf7GWtUIiDu9aFiz8PjtTwGNwXl/6euEiO5\
                  8AwjnphMpDQI6Qw/e3oHSdmlSGeZvGP420Rbyn7+/D/LW1YS0W8MAa67U7G2rMd0BTJ7wI/8J9t301EVt8M0VeeuwTIiXM8iAiuTn\
                  Tzi8VyTzcfkuCPERF0zZQr0p4F3lx74WZo9wyqnqBpvp1ZnaWlaieoGR33aQviJcTWFwWpbL977t8K9yz3YfNu7ZxvejyH84vJS/7\
                  yBgz2p6wGgjxBUWM1uX8anXQH+dhJ4lnfHlCKE8sCPTlaZh4mxRDR2lvwzNl+4RrjLwPmTOsXnCQJcALS3lc+8PanZaFU/sYstvBd\
                  2x3d/Gz28VbkPWD5JYL+BDo21UfASq0qdbRb9JSQPRImiARF07oEV9Tb497Dy+FcCqFpCOsVjmRjgynJl/oewq054uvPbDBkkNr2y\
                  FUyFtlxmEy4csjqao34CgLpWheddW57ur0BDmj4n1ktG2YdhGnsH1yikvIwLO96TvNK1wWIcePhY8R5zD37qbkb3day5SUk4CWnwR\
                  P5nhf7H/fX3RrskR5kYZMHow9QdtNPvmpQqBFRn8cavT21qN7dU6Cz4td1/I/QVXxOgEK51ATFR/Jk1Jq5j74U74p2UWGBYsfNWJg\
                  l0M/J61uwpA/WNmM1w18saELu0IXPn+63nDpxwoZJgqMjYGbpaHwnNZbM5LiW2f4AAefUpax/gmDzSlzBsKXBJQs2VFiJSM0svQih\
                  9+NYrBX68O7HITfyH/2bDCIGqrrE1JMehAIWBxc9EtI5v134o1QeTCQkbFBh5CELKw9Bwl7iLRnYRPQsdFmN2ExUhKlwbEphU0U0W\
                  yu1NMieWoPoeftLJqZb3iBEVbOPXDCU/9IOXRl8ZlPsm2+a6JKK436zkuFISOF8Dg87+GIgQ79QNTZ4wsSH2mRU/Sw0agWgFlUVBW\
                  uVwPH+Q5zNjkkemzmM7gU0vi3/5Awy7qCBb3pztwdDjxGJcl65x+AwEHq2pQ/5UDlxbE1GTudxLNXNOu+HGPT5uaEqFXgsOYJEmZA\
                  0mYpM+UBLWxKZ/LV2BP6cW7Z5ci5zuizlVBMBvDoqYoAlIr/QyJ3e7FIVWmmT03laRBrQdnEmOCUVT0UK6cg2RoVdyNVJ3h99gZ3X\
                  QQUjwn2/xImAKhk5TnMq6ewrYyi+srC4eumNahF4yRvFe+PleTLCmT5gAvUMHiK21WGZUxDjX3wemkN5XNu0sS3sdLMppWPR7OCwy\
                  ulVpRX6WtasjCo1jdvpQ+Wgu2ZLSsaKIWsyaZDnTLqSzIlWW3hRS6LNDZer5/tV8Fltzvl79YvUx9s/cii+FC16N/wChIhFr+/CBj\
                  kk/4n1Ovuo+AEgBkdf+l8yu96ue+Jk1n47dAJLwWm6pt0Kga/WCq3erDHMPorJ46ZdDIpQW8HVzrL3dIOTgguvihP/WY1eYdg1tds\
                  12AGP+OZemPzS5YGMFPWAcF0DHnjSfuEM68jaZKfMqlOmeXOERp/UQRMcOCy83rj7f33BH4P059S+zw0sfi6G/LFEbhDl1l5be6XP\
                  g4uGWop3HMv3QhilmxsDK7u2BkQ2IrPITF5pA1J97gRT8p/TN+mdc4Wj7s/Go+EPxGdux7k/GsM5CAHk1dVFRi000+Ld5ci5AH2Is\
                  nK/YWmpz1G4V3Eh1yZtb3GWXsDToqffOCkfnueMxx4xcZGJalgKg+1xKptVT+yxKB2qb5xXOM3oYSiWiBsFzHcUvIKARHJ2esFhT8\
                  jBfz8IMlFWfUHRbu8ta5e1r1zmcZ9KOxex45bnLYeDSb8UWI11z/OyCax7tOS3z1lPo5/aRXy8/qyJPYq3hLbG4nYOBJybY5sI1UD\
                  l56YZyqaplr6mw57bfukKE2rqru7592/HqtlbpgI4f9NPJ3sng2z4yKWSTBMS4V4wzjLL54/lpr8ILo8ah9QhbdpSPq4afdYZXUvM\
                  fQ+rPfQf6wLyYXtORYyJznikaSpinRxLK8QCI0Tl77P4yQRBS+9LtC9IbbkY95FJN/KUz5IQ4/UDBxA7CcQsyyBte6/YvCCeg7ZS3\
                  HfCrINarol6yf4yAwXWLnrVr6qm95gY6OXPhb/0lcSWCqDqMToMBziaJZxk1qOvfUGvMOdwdoiIa7Y/qf/BQ5z3as+ycnlmQJM3Mc\
                  Y+gsrHYvNs6f5tvemaLkw4f5gvJgE6vi9bznOSpxRkzz9vJ5+BWrPgzBRbZIbPs3sGiUFDJWSqc8Vde7pzJ9awf79RQjvxQtVPov7\
                  +wF8eCDH6ypgjP+XZtYAIggEvH1N1Z/x9413XRofypyQoPX1zviRqy7vGqF3al9vUFZtCB3yOrHGTKbiWzHiQCXjIc6YbAt3eIy2c\
                  WTMIYpLXVmQqc4WNfnMYS4ls0sNSrGHYdYzwN/72KnS9ez51EQAfVZdlZuMqwijVsfK2NvfJjTJCry+QnbxTfSK/N/BZH/JVpL2Dy\
                  D4W9phlz4FNwyYoKsvlxppqvoxn881vc7AbCI386bcWr2Ai537NJl9vx5eiN/IjxR1lEwiDKXC/3J2qtfmPaogL9Y6VVG8SZf5QhZ\
                  94DIFgo03e0MgUJBN7+uUo1MajFnAb/AfgNNZ4g+4f+Zh49t9tK6tHnPmE/KXtGfkIZJC6nttIHmZ/1FfstQbSeRiaY7N3MQVENFc\
                  8KlLfBw/KBFOND+7UqEHFQqrHVIB2FAhrRWMryM6qhuvs6dIC5z7E+PfzZGXCDl8F90fnmxCQ/H8NzKoEkqGWJDHHdFHCz9oM8Y+t\
                  chXOL0mQkcxiki6iBHuSVlM2Cke48GGKUp1qfe+/29Q1mVdF6JUiBDmcMRupRHUTg2gm3yg7lCLsE+7L0fmex+ZhOb+tePAxR9OjI\
                  cbMLuGUvoHUMxPnOFBppt6W8SQ0Orj9zANXbgTe0H9Jm2IMEJMJ7ZcjwFRpjfM67f1l3DUD91coBLDl4CfeH6oZXt2y69jOA/w72k\
                  /ewu5gUWjxymZCUVLveYKbMhXknlccMKy1wM55cd5sUE+fojINQKcWklKHCzIJUrM5rrqXix/EErIJipW6z5HrRohwkIJIYYBufKS\
                  9gOoxzWkV/H8qV3z1wKgVgsRejqgOkFCU5g6zg0iKZgedVKH0miZkxS6EOC52RXrqrDptTzzyRt3bavLgOqxT8xhHlFWxtQyIIa3k\
                  mgPsCGQp0rWi5IyhNxfoToB4dYid8ngWkqkYbqxcpwEZLwyIPg4GayxB4L0R2nn3vBYkw2rh8D3uzJiNTD4x+b/SMKCDpHQZioO0O\
                  KEsy41aGdKokAENVnlX+ooAcD5N/mZXLDmOQhseuo/syvWeoqlouqX89eHEJ10AHui8MnQlDDkg1yRGGUZ5O8yPGF0kMkCytazTPO\
                  efjDIo3gLGl+TBIO2S4ZZtYlwdNQqdq9T396NT8CuqTg1aeRHLT6b65pc9qlEohEOuKbFEHuud4jXzDV6G4BaXMKojJCkNMpjOSFx\
                  B7S4PaEfkHYm0Yd+ewhvcuEJgCZjAYKpYZkvLWWDJZOc5VXNUzDm1YZJsVrAI6uXjiDLquaF6Bp3BvPghE55V9iqspi8KOTJDkcX4\
                  dNQn0YLsIxA9ITSR8pjmr6LvdKDEYnFem/RCIJ1b+UKmezMbsHOuB4DyyUbOXQy2YcIPB2pz6ptGWmQjl3TOY7av43rctSls8ughm\
                  Xc+lUo6cpY1XWp/g52S4xVT9N1aRGyR1SizaX3f4iqHznL83lanN19nQWHiczdOhH5qLi9tCf6OqRUlxBk8TWpUZy/UDEGgO3LOsb\
                  VFi+VuilEtg7x9ANBGAKPCGHw0VEVXrPgh9EKCDCV8QL2NRiQfuj03hzmlIlmBbyR9Mgokk2TJpT+K5B6AEPm7N0tvVABxGqOdIUk\
                  FD7PnotDJXkLp1rY/r0tzt2hDQmIA3S47yYQvFW5t/ha66ZAjiVQ9zc+PZTsBPiExu4pC3R9dy2OZkw7RLFrqbbmZIGVxN46FzRKw\
                  9ThWuAIixLWn4inwh/GbKp+iVEPu0CPUAb8sKbMTLIkq8wzcnFyW4tKP10OMuhNO3hQBitztBanm4JeKSABW5pFbC5W7gjsUxAgPd\
                  KG4hhwpFhCH7di6EiL2jReA3RyI182w+Y5ePT97nJFOjtwGhQpK6KrFZ6FAz2bKkj3CSi56JqXncBwbk/0kBYtKQoWfDPpaiTO+oK\
                  027PnUBE1IlYMGMnTG+uOvCCkseclBOU4bmafClgK+DVQXYsc//80p4HkPmqEIBP1juqJlBrZcDQ4Ghj6TE4Pr4Z/jlDYg2bgxtzQ\
                  LpsXkmjtFV3Sdk4XJ2i38DAnV0lh8yvsDnCFW8GAqnJBFO6NCILxtYzWjCtCtJMsPaXLyQQBCSJcgG2x0rtbo3xJbElX1A5g6jb7T\
                  ck6tTbcrLiDXcFPo1K+IhquhXaT8obKQUGum6SSwiSkgEolV89bxbXnJfdB0DDYve4htzK9hIwN0ale07USDYYYYou8oHbrCWL117\
                  7yUQAuLlxCp1sGv+Iq8DQvdKDmS+yVlin2csM9pnecpuvuWokDwtStqT/1fohPCTxxtMZvDfhSQIQhlONeElDD+cpHtKuTi6GmCI6\
                  9EpjZmAqpgAAuBpozBvhF5BTs0WPy3zXOWgLzbAnatERKc+Um/mn3NZQSZJGrkakZl7/K65fFVd7dPH0dWaDeqr7tCirS3z+4Zoah\
                  M2mwy0YT+BWAqNvtzd+3b11fBLJdh5grFgxxlgUdAqCIfUNqBjA3wx7Zc+sywA39vyNoSv0TsiahiZWOFZTeMt0QUX+qxF1l/vvqF\
                  TccB1vEuG4ano3RNeWz6Yc0Q+fQPnk1hyC6aCEbi3R2mkLov5mIw9MCwnrsGUvvxVCU4nr//7VYDbEe7r48MVfdRxJ9kHxFdysQfC\
                  aHr6PQFB8sP88x8b8fC9yXztOdUD/p4mprIebD76D3H0O9JkD/WssdfLlM36VHKXQVMOJoOtYQLxYzDmV2GZGqAV+oCKo+94JL+TO\
                  BwHHbLaQXRKpIa4z39eXm084UuDUJN98+Egw5HKsCf6iaPagd8SShLSm8HMxNIJcvOXU3MhWUj9pCuzmysLnyJZjteSGk/1yV/h2z\
                  yny42gyilzZ+FouddJseVUIKe5taTSEmdqtE3htErBVkLOCqP3Zi7N8Ujre175nYi8iu+SDkShn39xgFi8CDxYCBO1e9Uq9CJcwXf\
                  cte/lWwfcFgVFaiuxCJNld5pmRzWEwdG0XnOo5zyVkslFNz6f3zvnIxuzpzA6K76x9Pabhu+ANu7JbYRuOtbPjV8tpweTg/7169SO\
                  jlk1MaQk1w2JpMCKOLN5wctAqlxYkcF+WdNEmuybPLIxfpQByZfxY4FBi/PkYc2vWU7AGMPJfLQk/kAiOg1o9CjFh4aWKfgezclsK\
                  XZ7H1srPINB+3M/p87bP9psw830hCf0x7i6qbTh8c767FeHQhkKsSlrQT9gR+aIXq7rfzplYDvVXPUfnoJgRVZbYfrl2u0gRRt0Lo\
                  suUMF+9+dg+4S1iE805dodOhEh4+9CrAvViKsyNbhyZlG4Y3eREADNlHrDCdjIJj+TWAxfTPIZS0D3iuAp0uKBMoui9AiqIpTiVPy\
                  NTjhiIjdKXh9KuucEsBQjlEgmgJUHUJsN7GxE46yINgNlKuu6QByxwdhMybLW3IbKra01wm+lbiI0qjyOlt9mZYARXHF6oKZZ4t7x\
                  5OXiRtJ13CBkBVWY+NvteXQQy5iENBDyDndNSTEEUqijNIl0aq+Iyf2716YE2SuLV7PAD3PGt+HGxjJvhTmsHSVvVcDqeY9h2N9cQ\
                  W0nSXCmA/Of9pTGjWZKKNvxZvtl8Fv4x2XfgZWvQwi2Z4p7yQr8fG+uuVgXNm50RX+ktanZN85afxyi1n9XmqzVq5qHORHR4YSzho\
                  T3GzDm+OY3K/RIqOgBacpHMJdnpLzk1xhwLqU7NrGtKsCkxyWGC4Vel4GS5CctgyMDP5h7YyRRzAk1OF9FZH7hY1g6fywrTjLbQZy\
                  5ZgMpv6gVR6EYam8u05SXwgz2I6pNenY5vbeQ4WT97C6mTRT9L9VJGyik87DaHKs8Gx0dV3ycaqMaf4AREoMxbhCoZ37jdrIdr5J2\
                  AnhHX7Gs3i1OKneBSy4XEsrJOzy0tPvH1WMiRF5QnoIj0TTnjc9TnrNXob2LRSHvOihCCCLhSmyLh76KAM1Q2Dvus67FAmeQBb5+U\
                  W8m0E11cCGO65m1rEr5UyC38sdo0O2M3AP0NtRwfStdA+xI38Bl6+AhMQR6BT9gWsLTArnFoe5uTrwK1oD10M885cTc6Pk81FX9DO\
                  x4CNtwus5ACK0DPWWDWWClkm5UDlSS/8ckjYohdn3G9tw4Q3zI4dU4mpMiHXIsTNqsKYjHLFT9KzV+u8fiIp/zw7vll3z70229cZx\
                  /v0afBqK0JbKCHRzOqCvbOpldr9kLNwoAjEH+62ay2hvn4MMzrwulL1Cn7G7Ln9EnYi32nU6aKajri9cl9QtRBK+GDAuo97U89aNW\
                  uiSR/V/6u5fSzihkqxZtFJUjDgHEZeffvE8k8F4vbmIi8+3Kac8owiV15tb5c7LkUQaqreTdm0hdI9ltf5qYId0iOKcK+KNYkfN9g\
                  7IHqyiMfyyVNkwgUFCbxxDgATYV7a+P+beznTpdbH2T1/EreMMO7SLYdARF729WSkCvUx68wM0ta7Oe89c5cxLbj+Iy0OdOW3rtUc\
                  Jac5uEV/G+uVDP899Mw2yqG2yEp+6f0v4s+XeiEXKHVn8/NyNqgijWcy0FrLMo3bi1GiDRtfE20RKWEwmyqNeglxa0p27qIL4/EyU\
                  MzXyNOUnAfU/pencHSI/759/Q9gOfM195hJeIkELyt4FNt6SvNmxE567s1wYMFP963A4BcpIXsHJLWMCgR9BydTiwbRriNZm3qP4/\
                  nQLA8PP+pX6of2tU+LF5UkzGA6SS5c1YHBlC5JdB86IwpIeG6maiDnE1GFy22xh82xdqy8jqByC+ZgO/bxEuRQwgbmzbj2LlEZIYx\
                  WYf0bUvCOg92RC8XQlhAMvwcqBsMkaAljdr2e5yRZ+kXi2EzOgzgOL0kV4M/ZzFhIie2lWSXbzoWutaBM2DvP3vUybJXOpgwc3eWo\
                  JuKfWLfi2Y8E39cO8wsHiSa9cujHkqOPNs3NJLDPcEzTQTukKChra23kzn285gHWBZBx3KUA+61a06F7MlAJEFyV5m/ZZVQ63w4IJ\
                  0xFE5EC7jQw7n0EFEsRR46B2GwfAZpmEQQDmHzEs2HPQJGXxarvbRifxm+uRfn++Dh4qYHsYOxgVF/WAwH1PNIpwQaWpHvL8dDd5H\
                  /TlaeldIHk+AYsjro9efVsd2+bIaA2M4AC2ehiVrSi3eVV5uxJul08MeXVbUONu8+VtW/mjgrz/HivepQNXk1qzWTBLFe9u6s60nI\
                  pZVfvepACKi24aU3Zy2nPVoN6OUaM3s6lHLlgLFElt/RyYYIf0IYDbTqIhxFrq7bxcUMJZDPf17i9gnHrvX58O/fsvqMYnVvRxksF\
                  zTQO26RQFAEYz+pUGEXrZyos6tuFLtz5tHu96chaUysov1RB/nSdUaqAgBDGDJ4AUL32XpRR2WmdgDSJ4hZn/ZvKXa3vBY0eo61tr\
                  pjvkJvfJB1z6KgiM4Ntbcntcvi0PIB56Ll3zSEppXdQH3AKTL32HZ9a1RE7rngoMcaluyOL5ObZEo1xld3TlIgSe+3k/F04hXvlrh\
                  szVLpuD2lUnTDk9XQO9QZuHHW2tKOw3vG9aXKKvw5MJOV8kh0Cx4gcXsGfMCFQvwYQ1DizkRdkOFk5dZ0TGBwWfWKphF9Oz1Y5iBI\
                  P/qTZek41D45pLvfD9KcBJ3zosufGkS1dr0wV8N8MOwxY1WLP8Vgq8gY7XxXFUDHLRTAi8392FTaMwAK64qIzNoVnQ9QcyG6SU1Qo\
                  DIaiaXXbucYb5BsO3B8i7El0UqEqoqo4plJEG0kkFxNbTNQPAIIyEAke6q6qbOI4vsjNo6gxqw1mnH4cCJvpPf9Kd9qfHHeNZJ91u\
                  r7eh5BKg6Ecnx37RtMPD/lhx2vxAO1BTO6bodE8fR7mvFKdB2xmDTlNSGIF3m2f+6M8656XkwXlXWTBeUb4Un78zH0ApkgNSNRPbU\
                  hNPNDT9n/sg4DVVJNpkkU2e22NMhfWm41zM3tj8CmkrtDqmgWt3/UWi6qYT+NXzV10JedlQcJMrstzEqdrOc8JSFmBPJpswBC/Kgt\
                  CETocyshczhrA2tGXArGc0clV0vuStrF2KKAGSVd1ab4KKJVi0mMTdCEW9FHqdyouN9oeb8NOuBEj3oyW98uOelns1myQEyTYcvYe\
                  Uemhpa8SOzMsjC9CPXa5oW4vaY4WgkFObqgX92Bfvsby7YUV3V5VYYy1Jw5x4tpS5izExLbK3OGh6FX/9OhmP4T5yUrQ11/gVKmD4\
                  EAtwUthUeKMLXtxyAqjKvaPuxjbRR2sWMclH53nfHCfViv/nNj5rE8pnSPG3zil5D5KvnZXYPUlxsUfzIWcsDscgVrwP50W2WfdPN\
                  5OQlPzNllf/Gm07ShapSBOwqbXcJZGhM8uvxB33jDIqWWROA+SZkpYk3kvaiWPFi7khyeLAUddvFZkPG1HYPBv0EVJr8NYuBUSkrl\
                  2hXnPGk9pYFi1HJogJKMUSYNK/W3WNYPhS5lDGYEYxt7ptXbcX9/UQwrXSmjIocAqGCS9EqOYdTLYYvPorYI8ppZ/FeO4YECEXC5+\
                  TTtFJqsPG6HsEBOtGZcLmDxvHyi28hwSC3LHzCDRYekyumFUUeuQnwCNwWVd396ZNqTxTpziBzJc6BS+E7WB2H7DKyKIG8p1sXTpf\
                  QKACvaQMsb3p9DNCOrhHaK51UhLcQkB+f3dN2AJr4tj9Zm08o++WerfPaRoAx2PHNDv6g2AOq1+VX4sObgDAMAL5MB94RKk/8pxfD\
                  nMamkIo4e3D/8Wy+M+oy5Te0iVVcOnqaIbdi6X/31hNqdrhEqfZMTaEtLHzgDvp684XhRFitPF4WQdBswwztu4TwSG8zxuX6FDL7H\
                  j4GdmzSxwXJXQ3dumog0Vff9j1O9SKoX/TP044X6JxOja6UmqwEwSldGiDk+LHdFo53k6iBDmGGtLXhXAPFb99Xad5cDyhmSTW5TG\
                  BEW7o9I87GCVjC1ZKQPVmuiwnzewrKhzFuRyeUVqS/N7Ww7i2Kq6iGEIZ3VyJ0lSgiNCe5SyvrCied0Kw0+CWhRaVH2OqEN/wP9tk\
                  uNmvcx4AHT0s9IKH8LZcBReJlnJyvUNG7seLT4v887bYA7lw99rlGy+bl7O49+GtKYKfYIHF/RLJH1DjBOTaIn84NZprhmAzGqUN6\
                  BCRuweRlA/ohrv0LMMDngZO9mDi6KjF9V9FBBWV5JTpOyOsK7WdJy6/8YHyL8B9AHBwUTDjPFyHVDBihRW8oqeJGHJ0d8vb6vN7/Y\
                  gATdEV8uCSZHf2li7U6iCcMk8X1tIsjl/b9cmT8MnNwgWo7XuPUHVBgXT/cDofe44MBfI9Lf/sQnDffsLf9/GYE9+4pAgF1XogJG4\
                  cKzFWDBO0cGxzQsJ7J3ncSiodlWRYpVL4kUFfP1I1FcnuOo9qcxHWptGKrAFh4em2ZwAv4HCWK22fukc+WfRk15igM2CKMl2eMxvA\
                  H8oG1R+6kmZ2rdmkCWrXejyUA5JVOdzzWXMx/+OfoaBwEImVrjtViizyHo5VHpLPOshiiUL36gF74sgco+gzUYwGxlPmcgD0wc69O\
                  ZduWD97WO+SDdki0rnHEdfMMWc89Z4xtZe7upL+cdbWlNtxx/X5A7jIIE+/xx49CtgAE18PJDIeU2GpU+lUD11TyZ44H3HePAtjqk\
                  FAmJw9FSBTXHD6nq9H1OF9aXVTg586yO6z8iGg4YmRUFFRVOyRanol9wnbKh1OUj3SLi/gvE4a1+LcGa/blzot9eqQbBdRN6rh7Xy\
                  k2lTgwkmmGWBFCbdenX9T7K1szVurFLd4N7qzAQbt/WZmEqVcMnSFJvVPYnTb5yT8ZSlNndL8sDJskUu4vrtNidvhMep7J1/KEl1o\
                  8iYS7C46wybKlg5KjdFKPrqDYzhTFude4RSr0Z5tCiqFai9C4oxvCvvJV6aV1/vlJgWOQZ/o3t85T/usFZFfKgTJ4f7cwovlE+x/5\
                  QCVNwm6M7GlIsob2COc/9lOmJ9Z4nl5OJ5HCdkR3G7bdP/QoyuIbPeYhJVmS5wd636zLoEdYsoYVGCVPgJg7OSyTbYrZkyhCVnEBG\
                  6ver47Vwe6Awp4MTqfS/qDNHL3BAnX+xxFQdZ6dDF3u/zJRLvboiUvxLO1WwPG6bL/JBiaV9PAgJ+xY+ZhevRotRCuOTlfphrb6mR\
                  RIzCHJt+hKOyodco2Zl5608AaZ5GxoKrO99xR7mlGWdd+PGmz4raZ8c9BPdOHsj9Tj8yol2vtyFxj2Fy4Hhs4S7jO6bZ9Oqf92xc9\
                  34+qsFnCvW309pFzL8pDzhAzcKUGJXRk56T7VFN2h3Yjypo2Xo5LQrJFQDa3/jMNMaDv6Q3NUEjwqSjdOb3fObd3RoVQ7JlzREjm5\
                  ke9DpAlmvH7t5zFBVukkkSvkmhTO4pta87jpU/Ztk2pUuua8YkvgD4QAPCOj+6qTDD5ZXb//VhsSz45tOuZUVzzkwXTl6sulDe+Kx\
                  uD0xijIVRsuYo1uy4nbZ+YWGjVuVW8lSPRwI1fnQOi/MtZ6pPB+OmavDlXM07hH7dojpeSAp2Y64L+QYVEJznmiaqAag+0LkqXimb\
                  GhtOxU5KU3Urf/JIC82xKhRf33c/rZ+q4P7JhZQoiGbssapdJpRAube+Fu2UNq6gterxGUaWebK6zDPoggk5dVYJ34a5jKd5XbyBS\
[...]
