openapi: 3.0.3
info:
  title: Sogolytics App
  version: 1.0.0
servers:
  - url: https://www.sogolytics.com
tags:
  - name: CheckEmailLimit
  - name: DirectoryMaster
  - name: EmailManager
  - name: GetLabelDetail
  - name: GetPublishUrl
  - name: MultiLingual
  - name: PublishOffline
  - name: SmsManager
  - name: SurveyDetails
  - name: Tblcountrycodes
  - name: delete
  - name: detail
  - name: insertupdate
  - name: search
paths:
  /apidmx/Tblcountrycodes/search:
    get:
      tags:
        - Tblcountrycodes
      summary: GET /apidmx/Tblcountrycodes/search
      operationId: get_apidmx_Tblcountrycodes_search
      responses:
        "200":
          description: Success
  /apidmx/{id}/detail/search:
    post:
      tags:
        - detail
      summary: POST /apidmx/{id}/detail/search
      operationId: post_apidmx_id_detail_search
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: GetCancellationStateStatus
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
            examples:
              fromHar:
                value: uLIwo7IZ5WviLFdqOsZMmsHp2BqoR/LbzhC+D6oJyIc=
      responses:
        "200":
          description: Success
  /apidmx/{id}/search:
    get:
      tags:
        - search
      summary: GET /apidmx/{id}/search
      operationId: get_apidmx_id_search
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: Socialmedialookup
        - name: SurveyNo
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /apidmx/GetPublishUrl/detail/search:
    post:
      tags:
        - GetPublishUrl
      summary: POST /apidmx/GetPublishUrl/detail/search
      operationId: post_apidmx_GetPublishUrl_detail_search
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
            examples:
              fromHar:
                value: WaW2rxQwxOJTivH+YlfvgnEYNCgP+gj/HIIcF7AcOrwqJv7+PXikEPIukPg+zRRw+ZRNoTp8MuwI0Q61VSzPBgGodzs7NvLjh7PCFsH5oZc=
      responses:
        "200":
          description: Success
  /apidmx/DirectoryMaster/search:
    get:
      tags:
        - DirectoryMaster
      summary: GET /apidmx/DirectoryMaster/search
      operationId: get_apidmx_DirectoryMaster_search
      responses:
        "200":
          description: Success
  /apidmx/PublishOffline/{id}:
    post:
      tags:
        - PublishOffline
      summary: POST /apidmx/PublishOffline/{id}
      operationId: post_apidmx_PublishOffline_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: IsOfflineModeAllowed
        - name: surveyNo
          in: query
          required: false
          schema:
            type: string
          example: "1"
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
            examples:
              fromHar:
                value: /WjIfDyDq1mNV3nGDI9Csw==
      responses:
        "200":
          description: Success
  /apidmx/GetLabelDetail/detail/search:
    post:
      tags:
        - GetLabelDetail
      summary: POST /apidmx/GetLabelDetail/detail/search
      operationId: post_apidmx_GetLabelDetail_detail_search
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
            examples:
              fromHar:
                value: +V4GpBBYdfe2fnjBwQ+zB2on+qm8litB24RdZsViXUrOUD5yTf3ckZ4M7iWxKzOmUrFq9tS7N5XX81r7f0Bwrg==
      responses:
        "200":
          description: Success
  /apidmx/SurveyDetails/detail/search:
    post:
      tags:
        - SurveyDetails
      summary: POST /apidmx/SurveyDetails/detail/search
      operationId: post_apidmx_SurveyDetails_detail_search
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
            examples:
              fromHar:
                value: f0cGj2wLl22mCN/LdCh6MbF4QLgddjgilIn0HYGLyN4=
      responses:
        "200":
          description: Success
  /apidmx/SmsManager/GetAllLanguages:
    get:
      tags:
        - SmsManager
      summary: GET /apidmx/SmsManager/GetAllLanguages
      operationId: get_apidmx_SmsManager_GetAllLanguages
      responses:
        "200":
          description: Success
  /apidmx/EmailManager/search:
    get:
      tags:
        - EmailManager
      summary: GET /apidmx/EmailManager/search
      operationId: get_apidmx_EmailManager_search
      parameters:
        - name: EmailManagerID
          in: query
          required: false
          schema:
            type: string
          example: "0"
        - name: Page
          in: query
          required: false
          schema:
            type: string
          example: EMAILMANAGER
        - name: SurveyNo
          in: query
          required: false
          schema:
            type: string
          example: "0"
        - name: LangIds
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: FilterData
          in: query
          required: false
          schema:
            type: string
          example: "false"
        - name: IsDistributionData
          in: query
          required: false
          schema:
            type: string
          example: "false"
        - name: LastUsedEmailId
          in: query
          required: false
          schema:
            type: string
          example: "0"
        - name: IsTableView
          in: query
          required: false
          schema:
            type: string
          example: "false"
      responses:
        "200":
          description: Success
  /apidmx/CheckEmailLimit/detail/search:
    post:
      tags:
        - CheckEmailLimit
      summary: POST /apidmx/CheckEmailLimit/detail/search
      operationId: post_apidmx_CheckEmailLimit_detail_search
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
            examples:
              fromHar:
                value: /WjIfDyDq1mNV3nGDI9Csw==
      responses:
        "200":
          description: Success
  /apidmx/{id}/insertupdate:
    post:
      tags:
        - insertupdate
      summary: POST /apidmx/{id}/insertupdate
      operationId: post_apidmx_id_insertupdate
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: SaveEmailTemplate
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
            examples:
              fromHar:
                value: uPo0cbo+qXMZUA+TJkV9cg0UB1WhjlG0N3EsP7d5Sf/yrPrObVJEjYGRfzhP9dV1u/eJfoS9aZY+ehEbUCgRKpNdVPguWWBB30UbbnxZoJjsCefzYmhECCY52UvjteKuf288M8OYrM4w+ohNFJ/ulj3su0B6bhCjBeqndcXHxTuUSWEf7zj5f5p99GsBhbUUeC5sS9r+xPS+JigVcO3O+9FVcPaMpY02NcY3WW8jW29B8jBmMhpEqtB5num3q+yl/r1MhqZq7My3x6+HOQDiVyh6vCkexU2tRVgFsZ3aKul0ALDyxVelQ4pML3Q9fSe+BNDF+4i+7Hd42Cv/8XcxuCu6KFBuiCSWBJBb+CQv2LLurZE7Dl/3F5LUi6s2X3KcZ/hkuyNH/z2uE/UuJehD74ZKSKHRyxkp9u0ZhRgC8wBhPPjQwkVwrrjTJY1TNfYhrzEEYFVisza7sq5urWSF0a44ewAeIbQOWiCJWEVmQmGykMHMnKb6r3KnVqdlti8fLVYlt6z+2jaCSv667RLDq5EtYbgc+2NWkVEFTBTsxeR9LSe07wd9AXgo/Og8kJYBQAUkcxQWLSLpJ89RJSkXbKeP08oN2h07ox43Mr1v+FgEThyY52vlGOBjL2qqaKqSV3ntXjfieqQlCDaD/y3pqcm7ZQgXzi9NoIiZWAnVEWNiL9Iy+5sa44EOHNYKPkC0PzMz0sVsvQuWazB5V7eF6sIAyKmSbnrIaEIpxo2p6zoGsI6vES7wJDXOsDcIjrf134nXYjV2gZjkP4lOJc5w190QggJrY+84HFxp/EQ5sbmIBFu4m6x5tPWQa7ViGgDZaVEgdO4CYX1vHawe9/bOpPVeOanaPCExK3rTAQoMLvylcZZphFZ8cTCq+38qRFTYBamRdwKaLcMCInpRM172Pp6eVGHzTLszcdYh1vsBuiIJxQnhAZzGtSOw+oX7r6WPtIw3x/OZYBezMlvx+8TDgQldtV4AG8u8z7oeK7xRcFoDn2VzAyf+brIB8QhJFuTxrxIoJzC9ZBKtXNxsVooaZEo+ee3ZYcvzNTXJFUz2fsn8KiAVw2mozh4aP3OZ7r7Bf5/J6Sg1JA2W5+MnAiKCVdVi30QB2fSHD59Wp2fQ8XzTDHR3D3JfJJvJ42nPJVRqkhM0fIckqH48785FihryyIQ/dCqFDYWi2ZepWUQw7mlW6zQJDNz0PsZkVkiN/zgOUOjpZP7H9jB/sT5byRQmh7E/FV85SNyjv8BothkYI2k3ZIseRDPprrSVX9oz73ECmlJprEkxI7RI6fM0EEqlp7SpihujsuVLqq+vp5Y5nsyEksj82qJ2FqAFYwbEAG9PjmIv9KbTpf0dBMCRcpooxuH+Wz+9tOa9uvkuX6RMz//xAZP+tSJryIUauiVK0s0/FjkzFWgWLHuB3R15zGlB+8+2OvyCCudeWhE+Bc7F/IdTc/OtqhK47uEMBNH41caMDFdWPgh4jMR8E/eOEbEhHTAKWXyTD43IPPvF86LU2Z9+qOIyAd7MY6+BLUmqkXVfG0sq9Sji97MwRDjkfFPmIaElMG5S+FZZBH0R4gXZiN1Q8XoNsoC8pNeyemWxGQR7aBdjXw/HgoNzsSDJZoZOsEx5LSJsFH8nnyWATuCTDpcVuJWRIeczJDD33LEYTKTvcdv8HATnhbKI/7lVj/ihJyuEBUPVGI1psY6iAOR89rgT+Xg0F9kAcJl4q6bXJfCXJRa1VFyguGHc6xHD8eLpA0oDHGs+XeHouDAc6aNxDgdwb+ngz1FjSWtFTve5zD0dzBJJQSqTKd/v37GLt8aqYdiLCuW8o7Sb/zVATymGCg4MpWggw8f4XPXcKuBWvlYf9PYtkcwZeAb+w/Z5rKwXG2Gpl0+ueJy4/xmstcDdzTbgyKTqpruHYkv/ClMrZe0DWlKFIeub48YpXTuj9aBHSohp6hdRfk8NTgV73HfmmVePrg1nd95VmZwad7pfjG6HjVbiCJ0o0isMTeEddqGelu0x984cKeIjZgDUTEuPt80UWMSQUL3bg4/Jdl9oqNon0O57jl3W5wdCJHoaTJMi5GCGaZ8oZ2t/B4B7nTgb+v9dR+JRkAzkS3L3mg6J3gPSG3teiMbVpR1cVzhBx9zhghsCPPgTAxUYPwl8X/VrWX3ixfQiqELdByFWvjyhYqwzVYAJBNO7zoN5xCt7droJV71SJAvGlz1179TuCc+1BcKzTNxDarHdP/39bs0xWDFOsTAEx53AWckt7sEzwLABevJ06nDrMoaBOGlVpndscXtnxiZd/aiY92bJe454MzjQ5CgF3GzN6dMqjMno6rxF7XJx13GSvUe/XiN5mZYtEG4nFO8J+KNegvIqK6HPI1LPac22ZT4bHSpOI9mhJn6UPX802Fk2p/zPLVJaE+6TnLgiHmBfNKl02pLX1N/WZv6ENBt2QWERku0nJKmMaobKH/dpChd+K8E8xBokN6tupX7+g8U3XEo2/XvcBSEd1/WIwjg4BGug402Wz3942YnNf6GJXh33ATXABUH7+xMW6yjuulcd+tnEq6vczRc11ivpgY5/ULP/H/VFApVFnQY0KYkWgs+77kgaEFBXFAnPIsvuQE/9rofEdkux/AFQh6YZXQRT1Yqzgdz3aCSZEvwDQq3ZOjXRey8qEG5lpAKkf54eBkvd77Rp++j2+gUmN8Ps9S61HvIrVr7r5WKrGloUvLl/il6eO2CNIMVxFNqFbbMXDhdoGsMRzh8o3Ry4oUYaLy41/Hg+PBTGa8DV1+ks0Wg3KdaZWIxvbL3hVtfyJ2yuF96iJhyNDo5ItqB1JR8mHIDmaXoATFaALgZeyhvWzbg02qSXU39COph6Db4gYLHxbOJ877WKchnxgjnYEO6WWyjbcuR2B9bN5W8c30lf0YvU8A0Uh5UJKvb7SGq677Lo6rQxqdCeTa7zH90eGWORajExxw8+bwERoDkE0OS/8DTJAqSnqS5P6gtet6jzFYqsbGhk2Q+KwXlPAt0xBstFoq2vZYMzSL8P4VXOWLxfwo1fyR6+9EN3MKfDZvpqqiqRVbJY2eXZ4IRX/n0UdtDCfmKNmpng0+TTkh6Vs6JB8hMndLo44l8nyVyMiLSiGHFTvsDVv/lgY0d7qPhKEVGwGIhjPNdnfjI2AyQCj0bGBZcxWR529nSBOQCPD0ZvcrE2v3PAAVi4uWYs0ADk/WZDi794yLmOYdSETK+1KAHfGhMn4CiwgQvI8agFUGkLUuuye9BjaakJJEvDLcQo8nMSOxAvZpKDcBS18ePOLFoBP8BlHN4oJdvGsa20qqq2/qlyLkrh3ZfJ8BBuWtPKD+3pHdJNNy8alP1zZvPpEKT5Agz/yigmLEiC8nFYROi9Q1ay9CJX3pFx8S3mb1EQ+K9sHySkEuqQnQ/RaD9jT1icqZqRmMBHc4AHyDgR7h/taB17hHu5SFBqnMFrdewYSqV/vU2Ia5TogTuGUgP+iy0b0PBeYVC/2yDeDUa5UPP4b2EduEisu7HFxCorW/utkanjkQJFXGt0AHhPmkdepcBrkUfyz6g/0kh8+xnZrm3QAigG+1iz3JiLPbvJKlBWk3UZsaU+C54DcECVqaG4tk97gg5CH/E/LMiEjUzt7PLkFZARZ25/e25AIn8LNtezYR+gl07mSUlZe8+QOv65WehnaFq2G12qbaV4pOzkLccgFF8ZvJuyDd8lSFg1WWyu4xw5w+jD9fbl2F5PGow1YsUzNLcQ63HTgqTuosNM82ERadou7WO0ihuwSxkT1O5wV+URpex9Yj+ivgScWG9WqhuRvPQrvJ7JFa8MEruP58tDJVVgupx9bvOf7kk0AGOrFCb/Jk1tNXBjwcrP4HaRVQRHBucWwcIGa6LnvA6zt9u5FrylcOWaLaulSM6X73p1H61oGzEh07MINUUYzwzKlv9H6nAuJ8pVulMkE0GfcFEctqsPMu1vw8efPUltrFXlds8lCrMceKAMinyK/CR3hACxBzWl4uuIcPfgzmG55Puo7urYWcMNvRFPNZ3ziv8m8pFeXPNYQJAPIdw70bA89pWp7Nz1fEGBEjLjOa9htsNAo1TRXvNr29OcCaak9tBh/z3y/AyFDwkUTPnI1bYCK3cMXCIiTKPSX1KgSiCUw9qRQReS9UHoidIC1STzD5JcSXfQGA1jQpYTk0BnBOowg1aKT93k/7RZwX8rFRosX2eFbgvAPBrZlfov9EYgj+IQju+4kWtm009QODogfi69Hr1mEUP7bDIk62TbPkVYyOflrk+157LiepdvdueNEVtX3zsfzOp3yQ8XkgVtTu2a7dXzfTOSmO5xiOkUdLSNyua/16VBZ66d7BnnlopzptJVnTxnbOo50hsNabGg+4A1dL65k4So9XmJSsWe0f/ZXTCf40mnLtCz4UZ4jtcrrHk8urNDFkE5GLIH+ZBl9FaLu1nPDsWBwTU+5LY5qo3RxnnFI5kcaaOic2vVSU0odkTtpBqOkLcS6KYXEiEGQuhQgWxY2m8hurh6kO7mIKXG+sNagSQkvZ7UtT/IuqB1Y2pKou94Kr1hcPCNbpWAyBzkH8VU11eQcFAmjcuGfc600CLoN1ifH87jAQIoowgzOWtludHWgBOAEjGI+OHuqdUhxMrmCpQAtkT1QG798cx6UBg5Kjuv2x0r06Nmka/CNuZ2jFq+OdGB4AU1dj271rNleg0uwzW2iDZ2vl8sig1b6bU0TJTUhvRb+UaROKgIjTAQ3Z6LJMU+kpMtTEPF1QzTOzJXwFNhjfKY1PZKOZggg9qWMndtGHwcL3GVPsC82TouyXM979KSS0OVCr+d5myISAP2tDaul6MILpV6dyu2qQo2VGh5BUjJvL78ay+vdEHfYzk5jx0WfZYDpyGJ/YpinllC4dA8h0yiDjOQrOd8ZGppkfD0MxsbFamwMn+/4xwdNGdJsL2JTN/rWp7043dnOr9iDcXXcNCpCdEQVEcwS3mubZ1LxmlQFD9gQFLAvlQzR1zfG8hgN75cZeUxOnGHyFGkHAGm+jkrhT7a+0huqJJcoXHJqlge/41LDoW0MPiA2x2DiL8BIxncctPXiTy7T0ee4MGn65f6+WCaQJsDfQns3eiNUDguj/V/zG8IP7YGAxeoKOvS4XSI+ob+Jhsh/9hJ0exzSN6Y0Yu0qLJdbgOfa3+f5UWj5sQHMSdAALFIRRxBc9AVFH5G7qWXASTsK/i7TueuL3eyoGfK6fqPGJBX6iKOlwMPnjdS/o8RaodvD4fnPOxC6MKD+bFBpCwODq9WpaXXgUkOA6zc6bUNr8gEsD5nD9thU2DiREZDib4L07Vi/QmcFrO6M4r28YiHhgIy8plKu6SeFStQrrJ+RvGc36zNWoG7dBMNzz21jvASUSySGFyF5RFKj5x4HikpZlPpua4RPSg+r+XVgmh/IzRMfYNjTxo0FRFGlGHdNQZzURxhZbGChMaQ3RgyHFJTqBeaVPr/OzgZkaB6Etjwb7O660L0r+nQhu9yyl1GuktfTSK5zX+DaRy4UVtwkvRDNB3TVd4asBJN1pOBty9Bo3oB03ZQJ8cQ+wCftEAjRiIwFHRofeuoXioErhq5YG2lF7hmzVVgqmNQht3eEDxjQFmO+pnMwpFGOnX/35Li2ejFwVaVNHJI8lqvnwlokKjT5/T30J19UWX2ucwOKoGp5wo6ni+qWjCDD0OyQS67pGRv5mvchmsCakxvGreJHGQZXt9xpa+xAZf1Wzxz+0aPQSNIfWmsL/JxwCxbKw6VX0Hb56KeKtcpVTcR133a9tTSLWVu7r+gboUoTbWy5gxyhcDgSny+qqxtOCM9R9PbvGT1+4cVyV/Bihw04uzu5kN354uy9iv3yYTuvA/mr743gcMo1ZQ+//dpItJU9nnZcBo2I45IBoTCY76tLmTvo1e0Q6y48SW6WrNW1GfyRn3Zp5b3yOGNIbXzZkMCxYuggqjoPgqb/vUKE7aHq+UpO4XlY+HFq4qrXDLid3m5b4imlMMFyekk2iWE2NV39Rzv0ErJwKw3busZWmx0oeOsPzvshJ/xbrlqMFuFsz/JrskEx7rglOhK9EfJFKDB2MWBJbrevnH41gJXx+y8JBeGCYlv66shzEjOhbnD4MlfbsIypAUVpSw82CGc5CnUUHYiGDvPbrP3h5OVVdVoFNN89tcrco1gxDZfSO0nH9fTG1wIxz9BZvP3c7K69uYVqiOMidFkPGplJiK9YkofijpVkR9+rv3Cx48h4gOokSiN4NXzca/aEKQKGA3VZalXw3cAxBF/KkxJHYW3jKpAHG29N5O1pII3caPD/Q7umjmSQ43uhlic/omqJF6VPIjYOj+t+Y2pPHHv+B7IdZjYhsIRWpDzoxlzyscwgapq8+c0320zoK0iQxRLh84ax9+Lg5P1TAWYeAiAjaxu+5mu2DqoG/jNOdTFd9Y1S6byDcZ7pz9nRG4n5ikjAl+YdwLtY3elhK1YMZiCm3MUc2q977KHxXJwvphK20BnppJjYpqoVrCT02DPqhO+inMlMjkl1z6spSjaBb/EObMHmMNDoFwWsW/cOsM22fbZbnAet13cytL7OvVa38VtHqI3U3tdXffINFcPzwgYw6H4hy1rNeGqF/b5Lz0SPAFKwdR72dlOJbEpLgY0P3Q3gx5xkHzKzqJRggaaHUmuOatZAIP0+1JjmnxISvD6z5PTPBk0WHI1UOWaYTyyFpJPMzyeDIZ4JoP4+6IKBCQVbYvIXtHKZWgbmBiIWrONgDcUrP3T2ATN7/KD78QBsPANHoA4HKmuU+oXMwNrS8aT2IEz+Ky0tWkvpaNGY368H/lTEdUhplQgUyJz0aDdeDd2bcNo6wGWQ9Gy7ak7KB7+v0ZrvEa3qafex6kqIpEezmR1M7Hj6yp4fwcrvPhqgFuNXhO3wIxh9mMWIW5WRpdsik0IU0Gr6Bm/X3vfWwfWzejS5ADyXeywulptC9NUibP6pHBdZD3y/k6HEY4bGRzwagI2Jdrva7ZetrU6ejDMRRii+QLzW/USmMEF6op65j+CniBX6L4LhY5ZLIi3MYQFhvdCc3x9LVa4ZvMh6PlsjXOKZ4MsZf/tbmtwM8JPXnvLEoUlNhShnyZRNX+sB9vc18xlLTARMavt3/DXVb6Id0nl+goOSkXYoqqTegz96CVrfVQeyK0wvEv1mpIBCS90cYr93qta0dFMON3E1OlJpr1Ws9V6gOe3KNtSTjIJo+KVqHQY9nKbGmrIhqD6dAvzrKRP4zyl42pHtCQzxaeMCEya945RQZEihGLlOrAhI59H0P3bVqe24Dgc+WLhU9Ek0Xng4IJoSnc854gP71BFBKV3lYjgxKovDQQlsZSYtouAlOsSYGqdVhPTtpQHAJBrGIptxTTtRiNmSV9ZYOB3QujoPYRCRMQlbwyGDMQIZnBJI4Hu66p4P30GWoEzmoIMp2+UBE40I85nqEVhZ7ND+DBUJknFT0bIsT2/MfQtBgCNtWwDu4Xu2JTZLh0m/Pc4Cr12lOoo9AzTyLqVvZVWvKqxgzk80EVM/qmxIMSXiFxmb0zubjM0GAcwD4CPtudcJwqEVRAaQP6ERI/PSW7PYIz3RRzwYTl7KAXk7fswlYSlUgrP7K30XHBxmRcHMRyDs7F62rFqA3Sx6cUZHehPxI06enLf1GUcbL9+Y/zfp3/1ftskaxoN6Qm5nmi0vyP+MjK2aO7SPGCgjkxGgGxDfDXwz/vZHTdzf0PimzoSHdjH5wCSkz8pQLRZxqj1wRaFQ+aJy1Fk/gGdtOXXI15DsVKExsM/loK7CYW+JxBX/IMXXvPAiRTlP2szQDa5ySysGN2jimuSxMOfG3ymchfgxE//a0wm26ZHxq2Qz/UpeXt9FuUc2zqt920vuM6GBXYlvz/jzwuzLkKAQMyrsH2mvAQZSVGuZREEo6wybF9RLW6RNm91NKXupJN2tnYPr6h9bnqqwXmO80Ntb3NUvOOGU6V+kPVrzE7pqWZ2ZnRjJCl53fPyKqz8I0uBHPXPoBR6BjNvVZCZepRPpWTfNslKtWnwAIczIrWEvSHgcbFLNP2Q50TftYGstqOrAiDT3I3OlpWoPZLCfol8ifFWR4X1NoLnHvFAceu5WMDN3HDsW1EhFETmWxkOA8N0Q0UnBQ5XtXe8q70AMiQDbwI8wRuAY9e3c+zph931S4AeCQarcm50C9waAjMavS4t5v0lrRLVqA9Y7qqQDUEOZ5pW0k40a8UAtLJGtbpPUWYRVt285nQ/tOznPKnrGqta+1ZAWxycQ++1OHwBkH+BF/iBSOoCEjHLOUkkBwDnF0tpcll9uKICOnIQZzSL+bTW0fuqfC3Fn9L7BgM7OjcRnv+uVzDRmtbGwKvZu2KYgYpTSP+wsi/gvtJPGR9kN0/VI4vEBqKvamDi0SEmgpbjDL8jV5PUIwzYVOcSvYsUKTW4NwKyXJ9XN4//ZoEUooJhcSeMicXiYTXTY84QPIEKFlv3ghtofVNTwFlpj6+O6k/lGseAK4ThNkNP9DkPLmn06Bf1/DAsQEUg1dOYAaZtEwgqK2Lf77k/it0AasCK903odG0m546X/JkimHBthW77bcuNTDO9fKu/ks9fZBY5wpInSOjOEGY0SgDXlBK/Wklb9UHB+B6SVhzobr5czxOjyFAUjCyWoJkmuikNibHLfjg5tdsf060dFPIak39i0dWfHqKh29jfynyCae9wwGSGxS8g7KunKBAsXtLXo4bnYWwwAtVMoFxQl+AqA4ty3vZKFCzFR+32BDDwMFVwSM03j7tCsxqxyYH33sq6PnJ0avpu1pCVFoc2sSnWOVjRPOha+lo3a0L44hlJS9mRmofJ97xJGSsF+WWn8lMJCzwvuOLBGoKFPZz/FBHRecd8v4ixc0JI2GOZQaDM6GOYKgLch5UdkXlQk7XR9yLYTG06KTxrUM3UAnXdqwTBF7pKLFR686uJ/kZUNUWAm0cw1rIPNcOu7ZsRXjTHdTFD4pI3mJdUw4Zs7f51LPXn0Dd3yqhPfHNBjotuwlsmaulNrStOZAnlrtykgRbDmUikVYRzlSpvKdOx7UjlkPPw7/nx6YNgLcnQAc2W22feqzd4s4NqrKT8Q4yxNaxmHoyKmHsqZujU6zgGPwXWsQ66/RtiemJNOB9B0W5n3GOy4WRsqKUKAb7VYKIgUN4b1OGQNHElPdrMCrkJEyeuJwXNh9cr2CCpuxGdulqJtcbG0tDia7hOEvxsdeOZRzjI4VLGMeoikhOEtFKU+2hE4zT9d+Bl0Y8peCo5Nuq9vU9/EgywB+dCLpvhJdvyBPnAvL090Go5+yNRTq2TM9WfVd6yAKmOeD4X4d/Ky4/jOmObhrnQwDNvSU+SaTaSiMNzsn8JDTJadreRC68zmURQuM0EoZhp3+sDMYHzMiYsUq/+8VJmRHo+u1m/YIjKKP2s9ppvpwPCHNOjBOrZOHnO/XjECkY9Uj21rQaoj+s+MXFf4ZC/7e9osRkCkYWPcq5M5GAz52VjwsuFoAG9Gw+1v7lwDeeTiXIWb6QAHLfhujk5449T1c0dUEjotE2EpXYFmWJnMhcnF5Mw9Aw8y5LvktGBqNQI1tyx7tf7iHiggAk1t2ojBD1ap0UlldxP2kduv7+RGhYIox50cC9tr6f3WZfiQGsA2F88E6cROatBKjoQcTOH1SDvNguvZiL2H+FsXB6osSeyHSB3DTVs/zu/aFMkdOoOLnGw084A9U93jXhvHYLg5WZhcxcPl/Fj7X9EH9nOQJZCuCaHA2VglghdyQk60phN3RufN4fq9T9rWKGyrlCcpYjCdT0uDkHnG5PouAXwogI3qCs7+9nJ0P4AivclEMgIzrQWfRgUF218WXmP85ToG/4Yw/d/F1OUUCMYNhw3AclB74OXKjPaolCPLTheO45EkZ6/5nsWK1qTgGe4yYJMIeQFfy0aX4BTFd5jzb+lwdNSuPRAGZVMz0T99WHjOqq8R1AfSIkqdBELuYgRSUJWacXGBFqrVTsyAr29o8xLRgvuuTmHVINN8g6zeKbBK0TLgV7XJlNhIzDh7pJR7od93fs0IKmdN3I43mClk0oIzDTug59qspgIm9p4P8b+N/GZ0W7AU4k7oMloETrTOKe0e5ZUDzzhKJPiuHo76vQ+mIJJKoD17l7SafAO2wngIn0w6ikL55p8kGHkhbFKFrNc0LZp5L7Pr5Khi1d5WB0EsvucgXpXrC1ssoINrxABHX/T5xYFgVSrjpuMEec8YfaseriWBNJGa3Ey+vQuBcXIuYGX7w0Vx5l38JBKC8M/Y5dF016Xh2sj33pPVqDJtyEkSJ9OeHvnYhqMRSPpDqvahzXodbZYNxhrgNKdRYrX18OFcE43puH6OEAg3plqkk3EGPS+qhMk6TviK4URStwlaQE56a5qf23xvFnpC9O4yBFd3Ydn10K6GSUbp1RKDSzDDnlsLZbfFJgpEuhQ9TbvelnHpJiLvKUuWdos+tvvs5QjLZjIvbyeIpSffA6QFmgO7zf++Q6f1hjgKwtcQ2fG5Q4IudZ5Qq+dh2/7ANg2Ke6S7phapOxap8AdqVgLwWupOLOUtYscwUqHehdF/eq3hYGdrhRhqt4q64AfwVPoIOvy+09Sy95wLTTIFFJKzcgHpOwjw9vTV58WmQ7gEnkMcHLIEu0A5nRX4FcranbMLCANCYECYRikX4/3iMt/71kcoEBVczBA9wVihqF5ACNf4xZNIT6ZnuPQhf8y+fs+q7fUQEsjpEXM6T6NTxz5RMQ7foCYngNeONsXWmHqm3L4Urol4BadMZiczaBD0vvkYUG2oXIS+HApPTvr3vOSOIp0XOm4XopKZ+rhfwI/9ECnl+4AlraSH16nE90C77iuShrdOo/kC2Chxs8UX+/Z5mMENiOnuvH+uzHubrvTW1h++/vDPPGDo9u/tk4uR6cEIVxD8jpgUoZiBcdn7Fpj1WkL3D589PRjNrKCSyp7/S21dN8kmTI7Y88Y8Psrbm8wvxo4UHVSXbm9aolpM5BzCOgbUPmX2gOLbj/pogqfA1GKOuGhNwVMS8yK6gqn/6sbphH19Ksd5ucGSjfK8mS5Od3WXju42I0UrI76BSTueGooxziQgM5wOWL+CBBx3gDS72LkJl0/kjKUb/0ZWqolBxZP1zgQKS21EwOp3L5H8A6aKj1qw6FRsIytjU6u3T6454jQyZePv4+wqIrn8yTbZG+9/NDvLTTdszhe05McVE0F9fnQScgOj1g4YDOY+xeQlbPvZ08htHSH5zZ5V47DELWlor/XqGVWV9QYNlvOKP6geLxl9CFMMbi1FoDJnw60FlS5AAVjKcsVBGhOZ2Jt6EsRaJQfcA5HuMsnt2dvAbiezNFBP/VbHeuyYopeiIly1oZdN+QIdVmQtVqdQogJwI6BsGFjIiNhMeK8q7NMyLkWcxsK03ZF7aGxj8ByNNrCobFaciUHoTqci3ehVhGiOMKlAWGPAg9ZoyvHPJjgzUBLjLEYDSd/0fucynqz9a2N56ahgvzSqSzVTi+f9ZfPPUIwwt1xTMC6yFE4VOpNhDxRTfRjZupVgHuosrtuavdBT2oyhYffq3HriXy8oCQzeik4H4rpkWXTG+pk8MWl6YoAqnwsfi3xoQpdaBJ1QLdaIwbDOylfIP/rnrlsw/W+v4kQlSuNnSPpIepdEc+hCNXhoqiyBnr1+B5DTK6OR2USotZRiif663ENKC5k5/F5dQYkoH7riPUk5s0GrkkuuZhynUCTHpIdgjSyxxt+fhUXjV6+cgjUrhPAurl0qu7jsXSDGThEbgEnexrRaWYT/mJ0Fj4ASScRiL/foBPwFpZHa7LucqrK7AoAMkNdZFHuFbe4KXvlZiOcM7Qvl26QizsmBChS75jkDiQrJx/i4U3XEFUDFijGBEjLYlAmIAQoTXDTG/IWkQzaxbvNP482iZMRYStgVDcDAd21CziK9BqREh/gW5e7PSrU4clhyDglU3/4fYQxKAAy6zA8OoKo8An55OweAgQXr9WrxD0cGpvJCYgHjN6jQxkyP5W7BT/bv3OIm0kZFnux9po22IU+iRy+m/3tSAKRrW10V7oENc1BKcZ2Vqz08/hkAQ66+2WZYbhxOysyHnY9SeCTyOFfQ+IlJfpa+4S9V2hfE+ftbFqm7ChhymIKUXPemDx0lIQLLk3xNYnCL53HNQJuIUGIUM+YPXaR44omSJRIrgK8HGXTAseRtVlrPFGw0XJ6Nu2o2TSyMnMwO7ok8eQz9jJX9wL6dOvJni3o49diCVA3IhtvrO/ZPVhXOwxkjf0S6lgezXrVkK5YzDO9FmFDv2S0Z9ys3GGyDbEdo6jCTxmr79lSOQNuveEZ/0brlvBX69npDERoHOMj08fLPx8LgPp9YbsnYh6D35CUnxBJVt7st3vcC3vwtZHqhXxHhI4uprvdB2jL8fYDZ17vifcszv+tZenPsJelJPz8y7WgSf3rHdjodyP0s5JIaP2cjSdZ1c49hjMgqd//F8r5xGEbDIf0NAdWnqUuUSUdFGHXRMlcLOdhCRyQHDVxRQUC9h35rRsnjjpaqMpFG3CEq7PFpDn4j5GyqV9BINHm7ugEmNX3huZZqaFBhT2msTsHraF1fV8U5SYkXAt+W3teWEXfXZUUY+/2jQ/FkrrKmcrdPhZ3emu3S/ay3CduXnzWqs//5pqq89xLN24RL8LHMnSg2PNCAn0+CYoO1TCdeO8youFAcAxzXEm2Vfr7B7P0I9/sl1oK7ya65IBUvZ6J6ZtcMbQJT8K642Fcpvs8qYGlUwy0EKUvs8Icaj5tGN6WXKmDuDQen5z8kJn0CHKbXnxBheRTy+fEH5RBa/1ed37SlwWO0C0PBzKjwHc50adpl6gH5EfY+B61KtiTutyV/jfJBBr1VBmDaYzBbjv+Fa/9PBhobs4Bmf7vktLAJ2SfmwScITI+OCyjNlCJi3T0CUoTMn1P3t3Fx3aK1w4HF833xetNeltO0NPm7M9NEb45oBLagb2o1eSPrX7ghHWquntEgD/EkoQjeUOHsTXiend+7wjN86lzP3n4WsL44s7g1pTDehN31Bu8DMIOZrwUQOqcBdIDols6jI0InO4XQhCYMj1m8w6M3kItIi4ZQM2KxIdnBDSA9oXy4MctOsx463dY7DXmyXZEFl7kDA6RpofDrNpuqeRwz5eYBlxXeJSBgJP+v5NMj5MyxWHAwiHvbTx0oPJNf9bhggi/U95TOvsjoWebBrw+kdwT2JGDG7XEKMCMkINmxMpK9myf0JGK1m/diSvddt2FuAd+3/Rz733Wl4cfzhwcWlY0CLlbYUkAs7uoPYq8cruTyUalBj8VgdG8IiJ3QNCJt4I/vK8n3vBjqZAtyMvtfx7hqnKlAVWKQtTwb4RrUq8/HlSEd1et/9UtA3giIhQPPaFfBxu5bq+geB1BsXqWfPtlG6SHOgmFHD0jaY8dTg5v7Xv2up5gnd3Gr6uBhXmoi5fmowh8Z8f9NyaSabyJ2zN8TTnKc/P+YRL7BDNDjHPfz0reCndeYcOtAvJeHuuLl6/3f5fdx6SM5pp2bOFdlljO2rY3VNRIxCiqMMOHt85yLconGQW7ugU9208fyp/YjGpuk0wcCcnEMTaFQL4egqvsGT2Te72jootHHbao0TpyV80OmSJ2ifMs/3+CysY2RWsmmr/VkVxTGDshyk6tXfr6vVPOV2XeHxtX5b92MzjUNo2EZuJHh566uvnXMS0B27wrjahSsjewmQG0TjtvgGlEiJFD0DV7waz4X8ckDDXx8jTPr0Cvw7jx+/glB7rsmGW7irkLBL69nVTQGV5Z1tcFyCJVeRN/SpLont3OSwLUci9PIE8t9ZJ0fZNUHzI2qGC8Z6gbr1BS6/Njt0gRF+HfKG5MJa96wDWp6NQME2+eKv80m6KV/taB/JVZaKuGCtPFQntFDjIUrGa4CDwFv4ZEKt0HbCjRvNdFJOTVoXL/44Fa/W4aviIzen8n04R1jMp3ApcmRVNV/nBJDYsTv+z842X6IhPhdPk6+wW55BtQ0vaCeUcKH8bRWJPJu6mZ81AoNLShKTjo1NZuBOH2K5v/Rbw1LJppF44Ymdt0PZ2ZHSXa9BgN/8uC3JmoYjgUi/M0Lojr085m3NLDbht+iFCZWfzy664hsPRixi6JBU1DiCY8fGGBZwPILmKP1s9svpdW+BhOkeiHOdAlJa6b0K6IyaeA2IdMXVR0zRrR0txrtfbtHZj/7dl6mH929nMciHXSHDPz1siakT7iV61qaaSWShavPb3E+69MWi8/FJMCnxhaN04/viiKoP0lbbOkdtk5hN4JAXtJEn5c6q9+iqO10EDmdIYgfMn/GAZ/BM+rVLtFbXpRe71Vk+XBgh7upeJwW2C9lpi8jtCHnazBSZnz+mrtkrlowxx/wKY9AWsFPjjG+F8lE5MKzXcSTQUPAbtuONexG4fh3+dw2OiwIMeate/+i/JvszE1WebzXFpCOxMOS1+5RrKBu/mHXkzvkVCSoyhHXYk/s7lmEvzfwdBXwLuLrKusuryl/0WZS5yJiazdkjCzFblv/povjgNU0nD7zOzBOsxKp/CbShy+8qGzV6bDMFnSn8uJYE9dLISYUBmft295KuavNYg3d5n7WN09xZJkAE8wZjsNXdRQ8Jf+97B2+pEA8apGRBLkPLqyBozLD7U7nDEIHDyn88fwDgMAG2w1h3e7OivzC2zAgTIsXoziTnB+XoR5Ay6qa42vVXrsvYNj7hTQlhRZCRklrjIZi/EEByyyII7wcEDIFEBLsl0hmTT0ZOtilx30ifGnFMCIYSb5bScoCZrlP4L9DSQ6E0oGSP+b0I2+v3ci21qqq8BMqoTFba/SrLSMtSd2IHKmTcSSpAFhlUKaU+nk0XSHAbvR682ozgwQ8YAKYyeeFMXLQZNLiWIWaV4RL7TiN3+lcjP1OG6ATOSt2dGW4cyKw/LeUI1UznwTzI+J8gEuaEDtZ7ooSKrTtNfZave+BMz8oYd4a61jybC2sv9DE+SOQD56JoxtKeaK54cX5JQOAm6PJ2TzxtHpuOp0zl9mxrH8QyF9aOXMdWGQ1SFQtwUbpVrdRlGU2kdVR8HyEdnFbGLHn7OpdVB1YARZKxlnetrYZX7HmwjSY56vLiBflr+2eR3ACOVs34b8aiNqcih6YuFLdZArJAwLT9er9Q78lb6FfTEA7Y+YinFh4GRR8ph40vlTCwLSWoMlf4fFdgy2eF+SiLqTOP2WlEaJd3o3ZHZE0U2p3pbjoTpHukxDEG0VePkPNR/RRBojIhwzsVl//wnJc3af1fgsQjkPNmnVRbWKy1pw/SiPHgZC6VlxPbUZFt2xVJDusUKiDTu6UHVecUraP7ShhL6N1BvI7EGnBOpWh5Eh6O/UGXab/qNcoHWEDZENyrFwC7mhEBr8oKTLsRKTTWPOfqr1aRoqCkSBX4VjPLg+bkLpo9/EPG6pr+5K/yrJLeJGvKbzLdMnJFdeDIA3mV5LoVfre6YHWoR2oiLqCGKitrHnZwWr7UKkyRKBFY3P4Sm92NnK4V7cNFmt7yjVUtWzbmJQbhgLEPX+lvyk/i9YAYtDNfjQE06vytt5uecb70HbnIq7zMF9ycMv8VaN8pb0mLfb7HiVrv9pdsG9knpNDAAoum5AqCWVVlMc2Kj1y+8R7zLrQXbTZ/8L7HLUT6AzlyslKEBigEbHGxbrM2CsVn8nh0YOILEfQna+4c6JbyvwfvwIIKYgnSAK9ldiLVDJ0VZDaUJg+8Jz/lkhbP7K2R/LiOWoGU5PW4HNRntBkg7evNhvuytPstzNEtfUZar1ZgKqG0P8qVuxRyfDQvQz09cR17M5vN8aHj9fzIaspUvsbZNljV55xwsv1bENoS3fWptGteDhP1MmgUBfFGgmHnij+R6MbReBk7+T+BuNz7kFtxevJE8yqEKZG+UgSZC2sl6Ev2+X3rpW3YvSN6RKGkKFgBncOFT2GrGyU6xs+Lc9f1XY1pWcLU1+Rvk+6AnnbisLAyul8/yemfH54zRCz7dioJExrGmRxrOWJBTzA5Ulrvl6f8CoSkmWhNKiL/0Ir5MdBWBP+BQMgOFs2MO290tcCM/H1haGJsORo8MI4A/TMeSTv2U8mFgb7j2e+OCo1cpiW0BxJxTvgzqt+vOUN9F3M7NQu0o7qBuZ1g8d/uudcoIbUhywGZeTMZWIvlIgcdhF1Ws18ohyixrP3L6f5B9z9Segf83XEvn4sTFWHCduF0BusnNIojJb3LWoNkwsNYpLfyWeqD2g4nZZkZGTacN8mZg9aYGTWw7ZAnnDD8fol6yNfdQsfQRWlMbQrqzTrYFPiz2qiUtnQe5dLepEOnNP5MDYyYlZgKCzHUfpPSHmtvNmAYSwdfbWYP+UPwDhRJziEnPvHDzfrJmXdEYd1/djPSeI4eKSkLzTZKMZFBYqlXH1C7z3equtbxwV6XDQmeerB+nky8TCjjvQuUzmRAKdEG79wZQ+qkEQbboslDEfGW1xPVV1ie+XY8lOXzed6Ip2KrLQUojbcQ8JI8Z8LyEzpvF0jYGaXkoLuGM15Nib7UGthmLNA6gADZa+Z/cP2ReaAevICYD2N3ALn0NbX4/yiKf4dESRoemitA8aU0MLIYJt1dHfX7acHpUjWXEpY+f20/GI11J2+42Ux6yHpKuRkKnxjfk2rbUaTZc4bZktpAYAD0U4Nz6ecoyJibeX7kGUOXKUJJGrZlyWT8ZbFYWW35ET5QbpuAwh56HXlSiJ3n3xwK+tNjlDf4aPrrQj2367UujBjlsEO0Sh2UxgERkAYIzqUDgjvmlfTqUMMJrVZY5arsTcdtBhsMiRKJekG7uvbsvcf/SDWRtfJLdnJb+j3vX692wCA/7Z5u2x8W0v1ruCe4YVUkXO3f79h+Y1f35sZeTd0G5oqc2lczvbu9n9xAne1RfJByvZZrzP5nzguzcG11OGXKKauH5cdQ5DHnWaKVorrTOKjH1pF1RrI0hdiPgq5+VvHHcQ1S7Ehp+j7PzOJMDfawqiUdVbMSJYvYzELfjRvDPVE2o5MwSFBDn0gqS2nr3nkyfvezb646Oy4T58pZk0bvtJVvXBCZUBdOGC0wMw1Pq9c5zfpohZdCvpCpDbqydAI13115CpP6CyNHKEXwXpMxJEpJYnr+mUKLiZmvKMYaLreTt5H216RljZfQ+wbwaxbaFCKd2gnL0LYx5MkmrY/xd75Spyka+lVmIMUdLWCwB6ywYiH3MBO4lH/IhwDa1A7Bm6koIz9fYISCMQfWiTcBqz/epdLTtU0IUuTsA0q8ukmAVaadk/2qrK19pw3w041lrEZ6W1h6dIFgHC+t8bigcxYzxuvzx09RVkaj5fCKz01D+IEWUIeyD1AjruipbohixvKfU2Jr+6cweZuawbaMAojgztt6pUmHM+OQ34wuwo9LEvaxCpx2fG58MvqFTeUlLar1xNUbsc5fiAXVPCNzrO/k6d1gJUG/Fn1gNgCJ23t0icgOSOGP98tq4xKTD6iz2jZgRUCFQIz3atszYVEGmITayrwxrGpiS+z7bZ1Yh05+SsADlHJ1563wTUwHRr1ZHlq0d/0DVifVnzKREircKx4F/KwpppSm1IZNJVJe7A31d8qvICx6IeoZ9gVAu2EXUz04OQziryYmSxjlHAn5dti29mVaJvB1lORMYCk1TfbB12wrTNcdKByRQaDMDMQiGaSWZ97t+8kA+GKNVGpshY5we6CPZOpq80q6dyE9mrvrDXCpEJbP/i9fKb179/CsXOSVdcAA3QKj5dl/R0j8omF0YzSaNrMZhr1dRpbBC0njcNWHIB6rXzHOoC/XtwoBXue4907TZcRm7+RD7dBcviyDwYSmy9Hs0Goci0Cfrwaf6Q6NoVhfcc6F9WkrMKZ8Ibw6BKILyz+pmkAhmv1Au68hmk9FRGmsQx19211W8LF43YLEfGkXwbZH0yj21iHn9J3H5K00Yo6DhzKV540cx/x+OLXM0V2Ri8OWYCbpG/gPVAFx+V7GBW3y9cH/L6ImQ5FT7C//L0/3VcBWPLy5vLmkyW42GGz/LUdPgwShsA0Ipn4zz0uM6PsA9eQxk2/8Ws7D6qrEgJqnEdCNh+U0yR3G/j44GXcqdC+vuZTSSdHbGoAajJ2SSIvHPy6bYAZIg5GraXPdC2wxIkt3YeEbbK6CeFX3gWYuWcEjfltl3LN2vNECGq8cbIBb7CnfcmkNQ2xxQpD1NNkN7u2bILXcQTPRs7ZLbxSmmMtOfB7r25a2sCkbhrKGydMzhMhJENmabXeFlWkzsy3EgoXAAWNwEDCz+hyT+LSI3sKbvEsltkZ5VaygFmjGYbf2uHLnDxlalpqIIKfIMY5qSnuMDbyBrBOkqDuwvmccgW6fVYCThKsbZtScIwt21hoclxb7X4yipOrgs7I2pfIyi0sU3RjzmlEiJZV7lKfqRmg+zgDrP91B22bquCO3cDPPjwsvgBe6fQmERHDjhhp38FW2TR0dqEWB6Z4x8uECT/AwAFAKcaxYH5aGHNdnmBFjCVYAmUQfPyJHGlGmqOzBlP2tQ3tb01UjGq1/1eEE3u1AOFIdwmkLZlP5cc0XUPIQfywvTrttGTL8od5E3WHVul+bFWCweFu6iRIr4vIT9OQZSUy61AnshsA18u++xoMwUk7ioRqzbxkbqj7eDoWYIcFJUM+BJJyq8O8UrXHAkiUMYQxUHZhEtCVqm3nhuqPiW8g9mvbmmGKIdyTEwVQiNpy5n/KmawdB/cT+T/b8XiTkJuPW2cmQvYg+wT5TCRPgSPVBVGTyrYx4su9291S547qtianGnlG+X3VHw96Fv1+stfCaT8r8LOJOSfj+AlruUn3Mfji526XIbwYMWsmMbHxtxEB61FuiK9dSss/7aLKlkoGI3WLWDk5cUjuY8a5jd8S512vu+V6RMSdfAPg+mY9E0hD8CxVAzStq6Xh0ToABbQdKeJppSxuA+vKfg/K5UBtWk5DLGcQ5EKOc+x/CQASmq/IuKSL8Loo0fq/XpD7P/L5ZMvt3PBN1FDbCY6Ag5TBFzspW9EN+Ua+NZXTjARbkHuMI8REr5nCnMo+C5ZYMFd1n69QywZ1iETdhRN2q0FGQW0NEJQvAZv+xcjDxTJ0kLr78DVpr9204fGVZOQGJTg1POPIlkGhhZ/Aw1XzkGouIwaUu/ACUmb0XO9lcpV4qKXMOqv+Bs+8k1C0rdUHLkYnyVvtJ3guP7hYiCwQrZUj+9F2J7KrIXl6cK1pZPqu1dBg71eUhdTD9pXCl2ehoEXGjXwxu7wDB2ETYHF74tevfkRTrAUFJsLWETTBogyk02VZFzwx7d3ymUjzuRiVKagQUh1OYcUElL48MhsDDS1+u3BlYlD0iga6UFU84/pW3kCENP6OX6uVuf8MMuCIQDVsTTyyMnVaMOxSRPyMNK8lZ5oSFzCKa81Zg48aTRF+bx+mcvFV2qL1pMFmsmHnLTowPCstoncJP+pKXbFpxvIl9zvwOcLMhmB8Ursb0c+4gJ7lIxt45Ap5Cpojk2ALp7ha6DSvli/GX2VF4oVa7Mt1KBehqeUY7qI5D8lgUHP0plYmd3tuikeWPQzVgDjev8JQ/dUbgWDF/2eVqBZGACF3PqXlMHi84Bacc7LsTSw9UoBbM29VtZnf1A8D3Sph47dVxZpCzWmhQ3BCt/SaHUzIOW7hTqcjBNvHcCkpXjZtxjXnmmKzD/Kt2haiLH1qkv8fLG8NPrJ4CG5Ez4f5QjjQ6wcbddyEArShaxVJ3F9zjqJo7XPPi7ytgerdlDwkkCIEI0Ob598QbbVicg3OHW9ZwURODZNFRsGip7Z0pEz9WV3BX4vf64uSspify01t4Ys+Dx3NSaj3GcMtJfGAea4BiQwMSO7B6F712OfPGseEr+PrMMW9Q9k0OuaAyb7WuEStYtjdajNOIMdJNFYRITkZzMBbn8kfBxDAdbl/GXcj8RqNLmBX27PQ0vjXGpYoz6qJ7PeiKTWwbu/NGZmypYz2e5pm+xaDl7VzmJ4CVNuC4vTwrQoOaT3sQMbfv8wEnvsl3i5aTJFv5N1jww3PPst0dv2W2Nmwf6e2mVbJVsigaQKyF43Q1M6zo67tkPBTiviTPG7kby8oDwHNoOYExmcpa26xeCByCDWRhTWdcLFZRgijEJkBrW44L6Gi5GuFlfDJXXRB03qV6yyyZU2WQh1JL8YM0v6HRq6QQeV0sEhvP6HuGaKdLa1Zqy7M3O5+0ktB+rJdP7hrYVx2ZPndko2NsyGN1jVq9W2jbPDHE3ZEBDwNBY/3Y26tQ+q6dQ2mStxjYtGICcqkSsnvlNDBTWwnlK6d+B7DjP5bBl66Q5wHMjvT2ZUvmYvPS7WGDqV3sNXDfP9Tlbl97PJPHnhfBH+5K5H0X1ehrsUNMwdOfArzMUx90PFNkQBIQpyaT20oijtX0Q7iAgiG/yd9Grmj6CJzGXR3rkcuHJEb4w/sSxpNQXAGsM07Djm6UsPLCI4A+02QWqvzTtcn4GkWFsd0YeZDMQzW+7iwKnjYUW2sMHYxfLwZh0bwR1oal2YZ94YPTKdN0QfGLKxMawiBI9qK/Z7PyAJ4OT79E9f9TqdFEhxbY7ePBvWS9a8dq9GsCd0fZ0ODdszyjZ6HTYyfXIN2MtoCb6li1Q/Jc72uAcxv5IEQU6dplJize1uqdgnjmYVTcEqmfebc+9QKAhbTUr+iGnzhGM3KgdszCBhgqASOc/ri4ScX8kQBSASiRfgjoehlU7vwQjw4Zp/AAf43gf4oogt83xeMVapyCb5iNmWbVr0dBeo+6I/9suwP0bxSWBn8B2Tjhrrx47IpYMeFADzQt81IZ1BKOA0syARWDJpQemqxGMexP4tLQ8nD7EHPhpR/Tc+OBBQtc1ctg01CjYGren/UqSq9tsSIb27CboKyQ3enasq8FcKnqwCxC1uMXk9vX+iz22yrD05S3A1aozWoJcTFnp1fBv+ck7doGYRv5D4TQxDzYfTZXRVpnuYgFElRbFxelZSFtBPRI+MZGUpYSsrT5slEBIsiSkgES0a36zInrDRWX7BgBAtWQ8XW21/NkpCUyHpNmeoNbN7ml4H+hIi6XkZyFMGwSFJ70kzisbi0IqG3zV02hNKOYOgtEW5u8iMSI2KvvgKnHPfSnEeQDPdN0NNYpHahdxA1/TJeB/wl+ug3qApPkTiXvU4atiUZ3urEfnWz3rQQqyAQMoMOdcF8lpafw3kDi0+w3Ka8dAjY42irpTRe9FkEm4T+BYaSkT22eW5Vlfds4SmDbi8b2YRHfx/8Ov4uF2yMoQStHeBtA6jBXASYrOK40IOad5upDZDnRBz2e/tugMKgwDoAQn6Y4zS7j/Mhn7dBj8w8x8ZuBI5DYZpjAT1iA0eQqLSyMk20oFS2nVnhfsDT1R/p6c7UishF6iBKFVCSn+dQ4Tsl9UZ+vdCRcBp8aDHSJDnqY+6pyipkfppi40xvfgCPTRJuhkqh+raFQHikLFH0gukWhjKoqOuSKYDCPMvB8EyJTv+c2CXqNk5bWQvr+R9AXzkJNUUwrNBqhbmDn1FMt7k0u6JkNSWwFAcolbru3CbO59TC9cxRCY+yVRZX+iMIKwXHpKYt3vjy3IjZn935v4kANLVx+VIr3Qrn7lK40ZNwUkvQsOO26RVz74QNYu57c0JyIHpT2pw/Zdo4lIC2GVUBU+jUZ8X8rZybt9w4ioWl++PyB1D4mwctg0yrWU5i9DC67jn+g2A8kFy3TxHKOu1eorOnh42EXfcO1nJSjVXIrFRhwu6wNZWgdEp/iJq+poI9xuLd7/VD7sVsyKFIlvZqzVSoG1kTYbQ8DWcMlX4dyr3REVadHs36PX1MORbirEAyDacYXGtp7fPq0qHuRXRHj+MO0ofQlFG6yytivX1sMuCvBOsmeVQOkKQ7GZY9NEDxQbf+JZ4Hc/goymJ7xYAFcQKroNZI3jKPCeuP6E0wjsiJEMTWjiE2gAnLZkIgP66An2bu3hfm4gwwexD7ePztEtjG9OzTDu9AjTSpFEEMXPscASYMLE27VTn8E6oUBWo0VRM1GDRLDxuOiBmJJc7p/iwE+8asEyFLnLfLHf46yowYef2B0IIhprxg9OTH8XXJF2Bw5iDDHwSq6AxjN5Ori1LtSiGEgbmWHV632lkuhYklq99c0NK0lzQpv8sihIHR0G/YiC7H0aix/6ygfwo6CpHil5i95veM1mFRqbK/yK3+d5BEo94R4HGByHVGnw15+HjDRl+V0Wle/bxS5oefsQ22Zo8yuAgzRCG85xdrvUAZb0JZ2bmE6SD3548PFOH46hI6YgbnAG8GFGHWZckzGb3+kfFc36bgCHUVC5VDeRfXOk5Br7uAZAtqop9SekBT3Pq344kMvRVP4/eguzVTQz93tYMKHcng8oAql3vji1PD/4hQQwYggIp9+EcPbdSq0JQ4y2BIm9j/fKplV+hEFhHR9R01vx1Z9gSU1oGy0Jo4KZ0EUO8MAkNWEs8J7cLMFYfGdYqQDlPOcbMTkZ1C+Z8uRCTCYjVqZ8oV2t1oyo1tsJppng+dXWlGRVxL44STwYbomTVOHYTuGgrqPY3DQisCEk7bP0piX3kamSQY83nG4aj9oPFAoCnglaBe6BEblOj0dofjVYxb5VGPZC4Towtjkmt2ykqiCJIbdyz9zt4pUqf2pmDj3TOC2sswOUqCRE3etA6Fcc0Bc5+zp162Sypf/7WwZTXbBJJuKDrh5YIeImouRmS62rWYJR9WsOgnXBqEZWE7mL2hFv8Eo+w7ho91b4Djt/jubyzFoTZL3JTfT5lWlvih4uNYpTg1DAEaKL+MumrQiFFb52iRJIUYY0uiLWPJmdHLZpIhcdHiDasd1FHBTMZE+1geAhrY6IKMHZFWF3avpVRtTej+5ExSjpnMwj1QweJ90sqxnUamD/VvjHmMF4JAACG8sQmxe6m88VYz+Iz+oQIHB7HAkxKOSsn7oNzJeTn6GvqG1v7/P506uBIx6AWJt3Al7h5RolQc88illG4uzblt5nM/h9lGr9jRWEyuz4z04Q7Jw/hdkpfPnT1JHa+rqIuj+82kKQTnefRsk/AARk3KN/ztpNPMSFo+DEe1+A/xzOatiWEIUAtfaUc6XujaXG3ZyLqJuOF7/UBfXmDGfmpWQy7F2aGb0fqDg/ke28U5abcN90chJIrbrwt0Zuy6N3Hicnkrdz6GZK97xrd67zwkGKR59Lyxk4wtIjO8Ttjo6W7jzLc1ClOZ4LC9SV0surLB81bY4GhdXnXYsB+BGp6Lf4fUj3vs6wt0JvaHWx71uYzZ/oB74dLDAQBm1UplTEKIQHElnC9D33HeormG8s1ZGlxA1KK2ZKYELAC7edA3IAa8ulKMkQRVuTnIl6m0GjJi5gSoR4/2mesyAE2TsMRA1o8gXM28RIAK4XdAjsnwyH4w3XZK7+Xf/XW20lQmFjlozW1J+eSa/XM1i7ANvbRnFRKMOLanJRghF5k3ns0xkl6knJU68GKZ5BvwaJbxK/Kcy+PYJTtQXi7ccBiCqTu2/rRSHZml0LK/+NMjwxXUcHcL4IJw1kBVKftooylF/6YfmmlLiEzVHz1sX0mXE+USwbxQ8LdfUXdZaLRzU65SBs3BkynqPzH71+ITbBVEkv6JjhtfWLKyv3u50Cwp39UYmB/GWLE1t6IHVa8bUbjXiMYEw0VIy4IK7H6akfrpCpqHLD4dLIrMg10vjWu8OCommpBM97IQWhcddjJf35ksvouE3vHYtPGQ4TxChpEJ7klwscuXx6zdvDXVEuA314IRoQpauZR0NGY9LX8pjqGP+D856SIcMBgfQPt5AA13CpNLlLsKrDUl2YgP6fQ5vNNa/KM1DuHEFHV2pB90ajQCscYMdFEBcdZQToU+OihAXQdKGJ92IwrIFlQTBHHop5Cgot1m7vCZ/N5meVesqrhUbIiESf5Guz4/TTqOuuwYputP7bKKA2VQXgtEdyMlS/xX7sqfA8Sy8TX+H1xIyNTWCWuMjoZ9Pg6cV6mJsoped4psZ3LtL4oExp+lvbOkh+OYq/WImT8LORCQBkgwb4MVGEaoUlhUTPquT3UFx9sbR/epQBEZNyT2GwuTfnrK10AYJTbDa1HjCy+UDftkNh4buEVbFWGnwqJ20bSmCRzq2FSqsy/bpsQL/tqW/y2h1EOaiBsnlHVcnuItYmpdDM9O4eiL9VFwxdRz4BJZft68fCiJPScZUOv9R30fkI/a8LeD5obQMNRl5rayw1Nzai/dwmlsoKwjECJh37LMhhDoJIQ6+Ir7k2J8Eu1vjg1DxoCzOmRBawprLJQdfwJjUPS/J87Cchea0XG9ZJF6g7mtMquPItp0Sj91gb6JC/uUNicCr01MCDcMuTzvhEiTKGAQpEL5rcrMUg7RYug4n+YlstM9MI6TX5cb3MyHFQ4AmLD0pFGFBjf1GjbLcdedf7477TsVbQHaTkc8qpUDRU/IixauL/C9PiDkqjUhyVEIJta3I5Vz7auRGTk/mefvtv6V95mdcVxSOgAINs2cKZzAr4gEgybEVR+/DDGcQsrOrInI1BppfWJlbKNVAZr4ponsCtwKcMBU0keencgixQKvzgAj2MwkMA+mE6JrGYkvjd8a77i3t/+GAt6DjCr676022vSx+T37mKciGbYd+f+GuXkJPP4Qsu2GGsy+Y+Le70VQMHRLCTD3XDUUXDhKvFQ9LM17V80jWCXX9YeIeUgzhlIgZQoSspav1f/GN09muKD32Pp3g9XCR3x95Gptx9x0o8WntGWzyEgshOG9yPnNz1S8uMBdbokMfrgaMdONyfZu7g0N12AI6NbVe6inmVKtMqzTiXRsmvcyac9R4AvXHV90NDWedB7kh1fiWnPhceqe5j4pPHFthxbXDi2Mogqu3WU2DBtiIPTYqNEHHqNTi99uQjAq2u+5iKA4Ge1k4xXkqZS69xyAKVADvsjlgsBj8l/BCRGBZORbhjTT08mXNt4Np9uVfSI/xNvcsEe0lmxf/6nnvzi4lNXnUy5SylAZMPO5UYBOCLKnjfxWODTmYRM/Z9+dVmdp1jlvmYO6wBN5//jt2OdCsFL82Zilg8yXJm3Ex9+dPOCFlVxEguoZ+IqXRgLndmHZ+UDs9a3dlUY73GyLAFQSaddbt03l8q/SEL62imI0BlScrsAyDkv1ijDdUQ6LBKZrpYtXpoHnqaahoHFr/LBMbjD1KJg5Z4JSCOG9Nrxj9+i92JRTZE9YE2RqFhCqPhJs/3NJDPrwUaxqp8x+l+PKsh5xkS4v2buqJftsdqd+Mcf8xgpVmFvpRjqmaJ1ygru5TfOXtqxV+522x0v3IShy0PkM6T9CZNYCDgcBxydIbW+oHm33hTVuIpieISd+Hf/xGHsQewq7OsNNl0qmpzffh1YvgAUdxLoXyorbvJyxZwrzOskb5ta9TMewDUjpog26y8KBUzddoiFOj+GJSzU1rCoZaHMVPWMzX3pfqlG2TMaT9vvLn/ek8Jy8gxTh+Sak7nHj8kFHaUc1IPZJnXrhfWLyx/cM2rRctQdA/YeVYQPy4KQYHnIEbypjgRU9z8BvQD8X08AvJTZwZR6qnWFdswC87g6AJTEyn8rTtfPASJjr+p+rsePkgHsAy43dN3kqM00PH0cD9J9UjVAQoIoX+6UGWx13bVgLfS6siH9Tavclo6VPsnFDmUtGV1kLRBpk5HL2fUrPI8zPVCSYh3XKSvlyp2Bihz3RmRzsweJr7NCWLjLIq46PXCj8oj1S3nISyT7OYTb+yob+gxSxWpQLkiinUrmywQO3mK91C288KWUzm/OtHU3Fb5tJc5DFIVpXXWHCDy1+qmYiVgR4nG07xz4BBwlL71fO2+ybMV16YncXklGgm/0BwcElMWn7ikTjXqaYCP6Tt6y3C+uTNHwg4k6ygQX/tnkWHznC+tklE1PZR1TWYkYchOc1hZcnFPUAsTATGPzo5p39R85m6pCJE6XgxIl+y0Ae7oyzrr/PrXjfFwqcAF5OgFi262Chrp0R9SZkThRvqU1cjkqQ5fwPNBS1XUyGHxc5+X096KkKBh1tvP3NnkD6lSTmPhzTQdaIvUmnZRrQLkCLqDKwC+sVSwgnotCHrf6h8WfDEyfy0brZEW0lPVbzjHv6ZkpLwyLA1f84E572OY4ChF39LCv6qrbuM02JYxXfLqcm5lL/jdaaAXxMJ1sMYtxQE79EbUw8OCxS6WIp/85V65zIu+U56lWFNL3WDDyVm7Ubtt6x4O+2YOWwBSqapilnFavmi6mK6Iqv54Jdy8WNEU/AuOZpIAMvUr+ftvdOWFCKzAOl2JXG1EIH5+tpwosZxoyWQGPJh6zrCC2Pc4MZw5RSTc4jUtR3i394aE+Va6N97SjUHzdhB1MMLokCWpTruhWBgA+d1BDk7Bi/QN7A+H0bz2V/D+w3HPtOcOab9Pn0rFsU1Lz8DmZFYA32wsSmcx5yvSHt+p3ZtjLicIsVZQwO4ySZVvAI2t94ijVqSjxzMN6uoo1UaEBX7NQcQVdfkLAEdaIiEq8dGlWbfzmQz/InYdvlKLLoeDML7YLNyBX2GkSX7qi7Nfz/MCHsF9Rg4rVUyBhP+MgH4qbfNBmdGupqoiwQ9tnpmYhriAjH+Aup/gKnFQjJpXl9oOFaksnTFHer5dKGu4HT3AnnTjMN8mV1P+KS3IjGPHQGiuFnkJQ51lkMPknSynf02i5UHinIbY7GER0+LPvVQ60FI+wMWyo4o6U9Ha7fSUADtyl9P3e9n8zyog5UN5/JZ2o60Z33xL4HfqK9xN/R1OWFkV9zRC1cHWA7nIhORtTsv49zRkE+V7gIKKkwPSqA2UxE8EGJYPFLF66uINW8iaq/02BVvCmpPujZiTLMoJq/XtH14T/L4M+aZrD27RLrkTv9xG+wiz/HjnSL2lbmrcJxXo/NhbARXA5HciONLo+6bQSmRS+VcomuJG0Q52j9bmlvCmKMr4h5D5vhekPj8ozUr8WvrG6RtSvpec8jet02l32oHV3ZzQSzJLCE3gcGJ49iUJINInH93HHZif2ZEqcgEzBpO4Y0ZvPQFUqzDgz4i4+lBMZ8mWUCCVJ0Lvlhf+lSqqBXGco+RcbBcHiM4vAJNFyD0d+slbTMz0xJC0r8Rr3/rori7CeBBZJeZLmHl34LqWIHHjyI63YWFBYahn6CuGvk+9fSlV3U9N2e9LXCStv8i24uSc57J1LCsaMV85xc31tilTq9ZOjffejnk2DJ2BJEk58y3LJyteIrpFBA+V2w8kQoaq14/+wu9q2wyj0UBi8EKE63hYMTA1AV3a+PF/1NmxCW4+L3BScP4bXbTvicVRs+N3yp23FHtlkGH8g1vJrZSMqkUae2Muni2GA9OMx/6XRn5Ae7/ajna7ZPM/tpQycXx80DkRbofRUFc0+iu0xHJeBH4uWVjZ4p3BjegMVDVwsTB3nnarjbSi1+281rQMPukMKELDMMqUpYvBadaC9XG4xEvXLW6xMhqTysDP3SKnOAzsdCIeBzIUIFpLOHF1tetxXofufIbRNWfwLv0A6ODmw8Mdc4FXfjkiQ+r7UrOYgfA5ibsNWA+AcZJqdR3V4M3X6GTkfO7bxCvhaDFl2yKY3+ZsofOLIcvrOBaW1rDYrlpBFH5/k1KJDcvpduQjvSsECmPsmZRtRAXFCHkO7CUKHKb9SGm1g7TxC5gbqQfZmWF61c7UJw1TQvtcrz6gl7r0T5Qd2yZPbYJghQOqOi3MSHBWJQfB9brhbu8i/+XCnXrcpCzr0nO8KLz23gaCqlPnPuXnHZenlKHELuA6an5G9M2mh26+Gy7zBtGvMSnUa6a3GQg0mSYWgzM/jwqvpvsp8mtKawvbbdo/hgfHmlUuenG1mJ0xyCJOcLedHufZRYnYH3c4E9eHubvyPyB+O+QyDPE35izmmTDF67VJNKp3BnjksRnLQdxkpsItUUeVA+Au88rbuy7+IItO3FLyOtuUgrglRhC2GrvhHmxLdhBv5JGf7i0Wy66GTCekhIs8zuCJqyjLX+6+XZxA/ncFp7HUrCd7sD7Ok+jf51TVjb4u9flFKpsvrzUlMgEXTYVTVpUilveRYios6Kboh969NS1jYaO7j4JySPPUDu8jHJe4CXRMeSnb3YBIUhtZt4V91M0I6iNjLkpqSbHS0KIGJZLxFIlAW68b7SVk7bNqWpnleJyOPK5Im43Q7wWDjT32wKoWrpqOUDvR1tkzTha5BBTYMR/jvI0I9BUv0BgSe/++e/wqD8f0lsVc1fPcOdor8ooJLtyoOWkr6ZddcQUfscoJoNM12uthbHncWPeaSM3H6/zCqbJ6K1lsPow618XfmrlCfMtDkQDojkFXL4sZ28RSi5NhDy8Qv206zuMlDIMTpj1fZaG9Y9HTHGYeHbrEdIhuRL2AZwFoE5nbq5tv18WDUVyrwu755IRt7i8kpLFWVlZl+i8sAbwRYTldYk/cxlBDR2CFb3Pn79xOZrg5OVunscYrhiKR2LJCvbPIxYnGjkXms7KxqvyNkneIj6DllNdEsKvDfpZt2zrWsLvXyJmJdbRXdq4ijFHXg89O/6sJ08aLgR3Lg5y7tIem11wgVeQQioq0neGsTEoLKyGZm8nK5RnrvQVR8pDrUXsT/JQ4+oTEMWUdZu5J2+RIDSsIWsZyT9dh+cR71XZduGQkns2P9yJwb4igSMRjH8kBBtkOCq5OU/dQlrmCHWQgz6J3u5BUI0t1TG9p9LR7ivevPhDnFOG3gf4pQmO1NIldme2wpIJVNSz2Cp6YGxzeUgp31FFVAXKLxAgrcV80sP9+F6duELg21j/JSmgfS3dJRQuK9NjmY9ApjYCQgk1zrNctV0uOHepijcSa+vjcxLhLmItOqz+Ti4h917qOvujY/FUmKYT56zlySpGOlbKtKsQMFhL6Y16ya4sgP1t1QFUp+M1mRhh8YHPP7QWmjV7jniPoLfbWhDGDRWM32a+QGdBT3VMAhMSChaRITpj5IwymrJUl6Xh5TRJvzkVGXIM/1q8oVGai2X3pTkV9a7pGsABbMDcU7Sa4mETYoQa6UHrk0PFjh4/UgterFttrGyc6E6tAnUGUHDO9J4f1hZsjCqqnVHY3KtDKfX3k7nIh6COlvozloTa6/ch44q+EPVfN9JZnbXPbutuHNmo2dKcyeiW+sMGnwrrtFtP6UsL+swrc4swjyi8aDBXrq428PUWje40EqbKSafSVa8+V2ftpih3GjF1qoX72StDmz/SGVFoMNd2X42wECvvgTOY1n4fDQMbGi8cjm0gsyMtSNTg2fPuEGekFWyJbGZRT+Pv/TjgQWLg3O3gXlsO6QHglVppZiCTgHfBE96abkRo6i5dVwvkJayuVZBUBZmbJydIYfxd9UmvL7HVm/eGZMTfl7ZjNz23S7JSJDRue+IEoxR2z3rftr1l/UATQLE87o2rZSD9CKlPRd+y3vTXgE4PbVF/BA4KdHB4873lpRicjscjdM4qKPhyDrg/axhE/wYZ1NWqe6UANLqI4VF85DDFyTRt+j4iS6GmrlEN2OiH8Mj2eGt3a80/C4tCJyld2fgxfXDTbKY35NbrTxI7XUUyaVswmlcjgstUvvw9bO0GoPQ5+HcYUXgHaHRy7arg92JAu7jBMBf+6ejwV0kvfp+NISpp0ISnENMvhpuNdkAhE1kdr8MkQdplGUGffv7Oc3GijW/oSnEDgJkyXuMjafwi6ERV8kDqVPYqCCX5mhzQLYkMrQvW3BAVNKcAkDjwT8dRLxAoGzTLgjvlP5N0ijK08KFWYTK9BpPZpPp4NFYX0AWuWOZOmLhUpkON5WRHlp1fwzCwvB08y6pA6K5PtO6+xvWqGe0OOjji4PowZ+gkgdsmqR8V8OzWsiL+aU3WcoYqEy3kAyH7RMutlW5cUpkkVJOpAnhKLNmoMMG/dXXwOQPnvsNlLYJOe7jiw7P33y3hbRpYWr74PrRC6efF1FaE7e6P03cuqYeMOTLptgDy1Ey1IMxNB0zpfcYmcUVqkIQCMIVmHv1qcMmFJcbcTJOi6ZP+fl2iGt/FsDJ+akcrSUzR1X0oOsv/ou5wQbDX0brh3U6cDIipt9JPOxY81ivf7mEpeZeT1IszZOgtFqDdyCni6LDf0AfxjgSrS825gqu7jZWosPyLXARmLBFZlQCNcjUFH/l933WYQ8BGdoOXvfVxDTXdWUtlY+3i0kYK4Kq989uK1LPPyHyKJC4RZNnlhXUk21sJ91LSB+5WG3WBff7WsNDmmcHL68HsiMfXX8V0QDnnhXpZSGkaLOpgmMKnFiqqi/uE9MaCmCycsq7CNSb4+KuA5Ss0nTwxL4/RemUspVhCTyoznpsSXxFZWFwimIhak4vLarcGr2TahQrlZymOnt8ZNo8u9PvF+RNFjG5nWqxf3xSwAsvMCEkdHVsZ9vCXKh4X1f1yPIYMhCYYPDHuhFvcYNnFK7MP1bMbzWZE0PcpZ/ij3n0LkR6t6SLzvGlD2shIJ4PAq+aUUdLrt1LCMwD/bE+WSCuzEwXm1ovw4LoNXOovdTlQ3cOiN8m6ZGNU41UYi/9D7ykGm5Jbt2Dkj5IE/Wq7q6ihMu1fn7QmkIH9SiC4ob4mmUKux/JzA4+4+E5WQCb6+Kr07A7sN2/h6BCg19v+U8N2EgcRdR/PebJ3ZcMXfaZZwcbK9ueT7uucxkhOfZqMyXEaMekjXmuo8gHEZasnhpsLpAEi4MssXmEKU99Y5eeNRDCP36DBMW8tJo38NuoXTDQslweb1SUpjb2Qhty1vnclayGKNPsjXteCa8SmLR94qCeCCBg7N/PGEG/6AuKJu5nfkU1NYa3h5VnXzOFQT3WJ5jYKvrcI78yzA+Jiip8Q24svgaaQCdZIWuHFOhhc8rnHg131kLvLH0h4rkZukPINOh2v9dteorgVXtV8XUSI51mJt36SuKXN6eUWdVkvJRKXp0yV24Yy24khgQ8uvI6gyuSL/rdCjhB0qe1FQymSY8kBhzTJ9qBiG3HUlU2c/RVfoGmOWticHizPoKsqK6euP+A2IQPNt0rNrdEEV8aFX0DnrHBSmVgQn87gW5JmFec2iJ0t1Tc45JY+1pAHISswwCkNOg3OLCZKM92A8Z8K3FT4smafEkXSGCVuDn2D5yPohwWy5X3kUYvGSv/UMCGja8C354qDyks2nrKMwwJI9gnUYTXkrhWs1ELAAbFRIxmEckuGzXYorllIje64VeNRkbj35J/782Vb/OU7YARl2vYfOZRM6FWW5DN1t6FjjMp99L3o8XW9682k6isLcPriuXEURkDPEgX4vR58YZ5wW39FCRORCwKpJlxzjbgyQWlg18wz9J7/p77Qh1XPD+55OlddQRjFiklydLFN3CAW4WJtfoQOqC4f1YWQ0xNKhf6zng3mt4hJD8YJIfuvne8sSY3dklyYg6THTHlsqA0eH+ikyK4aVXt7nrxBPHuCdCcSosCuEX2R5GFxLTFXl0Eg6dO5bnrcrBrzfc3a/BVfT51Fuj70TtKacnSuEFPQKYT0hLigKn58AOyTQUtiqHYuyaZ9Hk8tplwGAXgJApU6uiFhiaLUnrH2u9Ch/azxr8aNeLusOO8yZG9xMOhpeDzqh7QZh8qeV5jKCD4fYjoKV9c6ijiXc4xMIG9+qGamI+vyw7Vo4ch2Du6cm/peVUIdtVzwRzvrZA4L8oY5j/eUi/ll04AQXGFNwgEHouQr89Cxc2NZwpzGNJah+exyQdboN/lzqj7ABnVI5j7MVcSR51CQTNigdKR2ByHW0kxQ2UYjdN5Aqc6Cvq67c7tg2LTyIxSxuFWNXAofkjCmuXRQpI4NJBieKJg2274PYx0S13Iyj1is6iaLoa6lry2x9noO2KjDTeSIUzmPIzvmlvvcOFkioDIHAhC735ftRWRs3bfeO4ZWkL9kaw6p183XteYT7Dr1/H/rrOg8jMYSKEL9ajejAFppWbo5J9ctLhqEeX5X8MxSuG0p0B2VeGaKuOn+39KAxHQDIRULvwN3tjQ7exiizNFQdlLu1qw40fIEXfvJPi2WzLcYALskRamp1Ws053Bo2DQWnXQgXUZyNgmeMHYqlbVSJdmDKjCxue73wkjlmdWXJqhkV4IWVh79ljxO9zI78LE1JIA5K5s/ewkxGLJC06R4IT9jMeZ4IUV7tnY7Hdbu2XaP2GtiNvD/iuFlCstO3w92rsHf95pOfkkscCiWLQYn9eEYz43h567dxI9180bQPzq5YmIwD+Bl+f+VvfFbOa/uBt9zBJU60+K5qpuiijSqw8cBy1nE0oDbwWNKGsx1SsKX0R4R8WBYRJlj/t/EzjPHmwBMCkTnAHjM5TCC5mJU5Vi8/TPlZpTRCyAjLBWdGttQUcGHsOkkuH1IHnTk+aLGbSl1WDUeHfQatHj3fg3tocU6vNv/y/eK8+9p/b1/GoBl5GoY0OgrhQm69zQebbqpJXCepPHz6Xjke4PC+iw+kcpPUWfV//1gJ6JaK7yKZAkZiCO/D68lo2hljUEnv6hbvrAkIDXalsBcEOP4Nx0G9xHIZcorTyNQoN/SHWyCNkCeU1kWbY6bgOLnrdKPfQAEaojq2KPYnBkNndiXQVWoMwdTlLvF/wVRiRJV1Sv+ltBN8B7GGlHvh4Dygo5MLcessmG21fOviDSafh7qGbn0xhLILdGfQOg6DoSqP9xacgnYJD6bIWUAMz7k+A8cZS23ErX9vcRciAnM9hZAIr22/SlXWeEqC2OLViCxAbdd1JnJorsxOSYLmrAb572odXWZDjzWJzwyrG4S58a0Nf9gL63eetUBWwoOPmh2Nx13u1EaNFbJ2HiREkNMnCslsI4dHBidr0GGaAOUSyEjQweqr4SnwH75bJnqdFOIHpEwgDMnjGdDYr9LgaaptHTHT8uCzXLKzUBsU7tYMGM3+1OYonh2qjusDzN00Ech85tA+4mC7taIoQ29J3LHSwgFsdvVDtkGjxN8We2A3ePV8gWsXkKO21jGX+lLO0g9tCrYWMsIzsA/nhPjijr0Sz845tKgKB2ChcLXc+bDvUIaqTDr76BiHsvklmRnzcScimD88JrIbXSgvFO5sEQgzLoAk7+DZoKc0wNmbYFFj2SnqS6xOkuO/bR2FOcdX0UyRGgZ2+gDmK9uAoksEjhiAAhGwYwlDD0IYTQ1iSH3fks7Drnc5tWo12EpvOLtU0bdaGZVXRWFfj3l6jMewI4wVS+b6yyaD/0w2ztmEkx3C6fjff8kgr7sJDynk0N4GMXVFT2EfyMyHVRoySsXPp5LR5vUtf4QVE3zLWpCA0Qt/WXvrH2PUhuvOMweFjgazr+734ELY1yNHbKOYjPfs400uoVOLJgh+9yg/m3qx0ckxBmQ6IHI+U6a/CLTifIpJuyxophegKXkUpcC2DOI1zquGSlNVkD4Pkp9fSoHF5raQiMM0Q5KGzA2FYlCXpzL1CiCiehu0kdaEf2pDGNZqIqGOn9z8iC9L+0wCKvp2sTO/FZNRwmZdEAopeOEdBtjzc/cEZZU1t0L8YPNGJoUy+gt7p3qc/NgWt6iRTf4IvDgfHxmvn05obe/M4m4Ab4UO5598X6yOH13K+PozA1grJHTDL2zd4Jb0m+RZUiyQBvHtAIWXKJoQtTvF++AyWUSzNDRDoF/ysnM0C//GY+H8ORkqtkDJV4mB7+8sjCX2tI/VWH8OFInF8aCjMKtxrhB77RnBBlq4WeN+5gj8Z1+1wG8dZAi6jx+XHWySvIgmcYfzQq8Rd97Xaf7leh15niZq2+a2Odd09eqDqcTEXBuCoaff+LhorZ9wuCFDW+/n842tTKc/OZNnVrOMuQs3hc8vRqtKTcNoTf312xpes9OmXfgP3pfgQ96154vz9sS4jS3skcSS4PUhu48GoMXE4mxMql82RBmcMAyOc9RcS7PaPUySIJlvhQUab0oT0rU/L4sXUPk7foUzlhh9n61g8Jk45oThVOdzhJx0/Of0S18e/hwTjWOlfRvw38f3YyTHCpns6aIjmJ/iUy1QWXNwNoVgUjxHBAveVEFyqkcy3eTJfzcgtF6km8PGdzEDY0KvMjhujixD/eJVGMQNxQEycXEt2Ubi4mRcIKc9/Z3RWNFnH6J5vda7GEXru9LG+KW2ZSIPz/w186n7CZyPTUew3uS3l6SdoN5xiQ5hPmZyzyNCkbauGgTBnq4vVk774kHFlVQcUyRzXDSa1y4ZpmidzYKpKwDlWCIFCQ3ZzoAUDjR763TBQAdi1vPJpf9u24iy0aYP14vKiVwMzRm6NJl/hmFyYmSg/kig7OiudfR+empODtKcBVXgFnrH4YVi0uZhDGGR6n6O42ZFfwKMBBPjxbMoVFHGPivK1qwLTuhuIsDcba7Y3xt3eJLJmPzwyyzOgB33OxnaWx/WTk4Kkxi0NMXVlhTdpEdX0IZikgvAU6VurrUhav8nNUo93YP+ADcvK5XS03jjtGcAt34EzUG/YIfK6BtKdIHozQfzAdh8RYk4Yg+K7ArCJ2fR04TgIN1od+cvVBJfmqtNjFtXBxsK52B9XwbQRKILkuXp9gR0j03jFk6lCdLqIXmKKchxMRV8b8UI5g0r8EIuhbBuuUzTeXyk6a+Ab+SdmNhvZyLN8yNexwmYxDlhS5PpDpc0TvPEXcGgK28HqEU6wM6ABNPTix5qqzfHLYujQh6TOMlfXTQmbQMPOA/Jy5CwOJaEu4+br00RYcgQMQEhfBIBBdQvpuBs1QYQk3r6uKabMVsFjV/IUcy6UVqPSFgv0NeoHctc0J5+MGv5suxf+j2Y5yF+Ff+0373nQJHEfW/ZbpzXACilPL+eCWMVqVC0OYYcGRsS5z3HrTZWFOr0enKIPi0hWVkVm6/hHKmpD6KvGmJ+0ZCgiIqgVoIBzW16j/fXwWb+tWfhiNG0kkBkEb872ATx4BUSphtLeQ71OL/qMklBAkO8REyy+a12c8Gn1WV9ZJLc6vXE3TvPFB0iztRdThpHoXP/2CNdFGlW4W5RJI1QxCa/Amw1xhDP/Fh9lOFB/CIQd7YQAk45MTR3DSIvg/un3DxP5MqEMD5irrOv1xaxHr9HGppXTPi1sV5KXgdB7ghOBBEOfG6OOJbX2vMn/bN/lqDqfouygQvzBGCXC9h5SWnkfvJHW0fMBu4iin96D95douhBQOQ+dsUDzgRKZRlm6417/5rqXRJe75zNyqp8GWumgWMCxVET9ZovmD2cw6sCvlZk3NeCM3f+luwFArYVqazBUBGy1bFr/tJQvJCFIT/qjM8P6Q4jlviUEnmbs9mqs+/0eukNZ58ynejYbNNZeVCMRJZtektXmGPiFtGam2ECIQJdHekiKZgrc7SgSNw351x95yrxlAGXeXGmEXCsWZ7SzufPcq8tqK5fZGuEVasTk1odocz2111kORvin0eN5kuIXw0QB94Hif9wtaYvk3qvn7PW5VFX5aePPYRekU9fQm1GHS8M+wAxFvnIdF0om4n+R5Cov+a7kYYdZipIcECudN4YvZ5GgPyHEo1GOZ5994f64gamZ9fC51z+bJ9isJ/lMM2RDBTkPv/yFwOGOpO3irh/X9VKhiR9hkXZKUxae8PgT5XOjHdo4le4kwuJKlJhREL22LYWKyW++P/rpGnUCdOX7W1NOVNs28i7qsFfmS7wMGZffcJTQxj5VjtciSaRoYRDYCiXJE9cbVNiZnv3wHVvxuwEyUqdsgzEm1GSgfdf7rwwDjkiWtOaQ+P+gwEbYqbcV4UoNJyuD/T/SrSsMpPHyKw3/ih3vAnt0DiOIYOGQZI/4Ezni/5NOs09vauZpaNoTW0Ml4w5oW/ot7skJ8vj4N386E2d7qIh/+XhEOblAxCVsBEXttQ8idAmwdVvPiaiOtW0+0J0PSn5Ge9mZQ0R+woXTpU/wmkkMk6U8E7VT0XQcpSSOV3VI1UQNGrWuXeZA3v43r4OmICOaYdLFhrt61pq3CAVkNDx6/C1iyjLa1kxEGq6wa+RjxP/mcJnohfjlNGytvqTJOKd3gxysygNJ6je9SbA6jow6WZS/K40CH4qxdhPf7/1zVyOPJ5tp1oGVfU3i0ov3bCFQAZAfEORli1TPidh35lAyPFSe1gv4kWUq562DcQ7AkB3+acAGDq+d5ja839y1A8uuyPHzQ2BQYtFWwvc+ffkGHOhkkOW2NGC7CYtp4L7ZwSEa35YlRyQseAPabkfWHpVKpSflVeK8ZBC53+INKyHrl7u0ukam8bOHuH4YoP4MM3dOgjAGCGKrCvTrFfRuTMWklh/0dxlhoCM4FwcSAIUXi6HEqJ+NY5g/RN2JKojDqf+jPMYZ1ET4tc4Ak5ID3rwuyRCdgCGWKdEjOHDXijQluF33npNIP1lomCdykRSl4leuCbeCsXjGD88XDzEZ1AzKW7uAwDlcYyWpNTo2VQgVzIdsfFxu6ILHqKk2W0gx36/m74n1a55s9eX+8FeKoiaiYrNdHl6hYsbY2/4Pm0arVWRJJ7y1ZnqwlFsuSrO8WePRufnlf72gBmtimJQn8JSroVi/AnXIFl5Rbi12S58zJtvK/w++rY1Aj9ddWp9L5BpqIiVpCPONazm4+ogE9no4kK8gyUVV2pTgIcxhLVrcISNLSogXnyRx6iUeuq79HVZV6D5K3+QxhMYfzZbp8LVEex/4Ohh81/TJ1hQVBbB1NEbG/KmeRq4i56KZBN+t5+lcsVqX36ce0fyUqEIpjkK9nTuRKF5j/TopQdzCboKUVDoQOXgJM3urrsWccRNAJtjXyF9wMRdAa5XgpVrZMYdtar2DrdePnKaDVCQ78x6Cux4KL5YwNqSflD6uWmefLu9CbEPdLkttMbbtwnhgZXT0JiQF7/qbAbLsMdkkOEU9mIXk3OSbv8A8hIrKC04gD1HZcLEgLIDty8ScgSrQNZoOOeNg+MHaaIfOcCiPzc2t+wA2w/875se4+gMuQlnySsOV3EFxdBvE1gNZMX7Y4RHl2yiRsy2H42uF1lkx53Rh3uzS5YTynd6o7mBhTNt1yMN4OxBrXuKFAYOdH/NPJqZS8p57v0nDlScXqLReOQm0fzC2mR5DPOagfe8rFgePowfhU0V+uvMZiZ2+adqtRuwjr57pXVFrksndzcw0RQAveyyX5YoE1gf0jWOI8PQLD3cEPnUvOB12GClmautvACmh/CGzzJ5dU6YXPZnZcqHqDGrTAHSQCznB8lcpU+32snbPqJGPHYuZ/U3IhJiAKyL5Je4gNUX5qTeUW59VCnOplDNMa6VjU88DMWkCNQTFoSHYyMs1szJ2Hmt181tKF6NJ+nqnLxg1tW+op9JMIUW93ndJELXZTmshXMCQVH9KQR2V+4yaRxzrDxutAKoJ2UdDHZeANZdsaUjLkICHKB0H3TJcvuZD0J2OGgHfuVBAkaOvfy2e44t7jJLsJh4KqULVt+lLqjsK0WM2Msd+YZcYUfmWI2L9qeq+IQTYMuPPrkrGQWpVveebhLWfDVtlLxDHbQGX1zECGy14Y0oOaXY/RHgxKXEkJC6+KL2OMrJEohbL/1N4TtY3oCtHZT3rKMAY14uLbh2l7R7ea2peORuCLK+fYu93JpoJFheQi3X1wOfoUCtRDjw+bZlGrYIpP9UU0RmPTW67LxUS8TD07zK7UD3v4XYXTYS/Qfu+W4GLEqjZRzXLxXNyf8AbdPoSwOLJxv/+OTdpHSSGkfnmgS8YK1wzP2FnsRqSfN4xUqStOJUi3lsEIDTP2DNa9f3jxSByFELhX8ikLedgkCllbFEmcrPw9aQaKeaDi7yZG4y44e9hbLWAEYHRTcOZfoF/VifQBm3Uz45C/03rVkri9TMAuepD1gQHHiGNhCr1Zxs7Q0rhC9UirC/EojJq1+3fko0giMUfyvGWXFCkYmi07fit0OxU/p5uHTLmp42qV1FDI4MAQhgZWbu1yInJiQfQ/MmDQVqaw7Kdp8zqJmv3WMnaTFOpwY39cgIoZBcE7Khx/BgO1Byqx5dBKeYp4GNsx5Yrb+W8sUyvEtEztQp1FJeRnUjCPCBFZVlEApg6WXSkR/cXt4TOezQF530dZod25GWp5DfTSz8UaKh9G3OPvKZvPVuVuTtt60xZ7LMoJ/lNAp/bTWphjj/Ro2x7AcULpIyV+0RRy2JtGRpnnArT2cOYu7Pn+BxiTTfD15KhiOZMSHT7ZPH8SmjH1xoY0Dm+P2Te0cyj9ESXSRyjTiTKlN+/TLQFP/v72BCEHOcFPcc3p+IYCAajmP5V0T03Yp+ZBPiGVUzmgoJvsENJtQEIfwZ/Ef+vJZecudIeal/DjUCLe4m9KVZcqKH7Pr1/vE/bAoFSKPJQyWDLXEGgAQqOWzV/gFHf43c9H+pHFQDkXFAmHXRS/a1M1Wra8hWX4I1tpSQ5AnY6JT7Hu/Xo7dmiBzuy7GKNquVLkg2hzctH8IKF9uy+YiFgP1qgVE6c4Gy4o5ZJ0tBZL6vNZvIY9veSLzHa5KOoixniDJxusqJ0wxhhHYprhQrquQnHsIvhLZuIccVlV1rB2SF9outF0Qo5D7LFoKtwtY+CONzvhm+Rq+ASX5xlvui2DQH95xgUdQWaGdGBC9Q9VW7SaE1kX0P4bG8wANvvO0oPybRKv7Lmezy3yiCN5uu8/74an7At65LFxbxMWw7uwuBkFYp25wbYNXeOAK7rZKVaVU6kGY16JvFgXBLfDbeiwDPO7LigCZE0KPZhkqPoJGZKrxXWuVlNYhJeCbvj9gDqqM+LmAGoOc1ptDcys949iH0hVnYrXNt9j8I5eCAM/XMJPlpVlVDhVAVLjme/uLkr/TbXLLqJ2voWGXHynDWpGa//DXVnGmmGxc+p7PoTHtV/udzG5aAlzy8RCbNKfqaXVz/Y1w2eDskbDGhDtHZrwKfaRNO7SE8vXcZ2ev6Upy0DeKw38nIrCMRogOIkXZkteQ+iORHJEm3US8nqq2Tu+4Yg2pO5Hk0Nj4HG/OpL/2wbGw1f/XyFb5ZIixSlTGInc+WSpQOITxjy/F33PJ4gijXsH7mHE3TTLHgNRiG/8fYoh40ojqg9aMdQ7cFvNqtfeZURCuQNNudF+DScmRSSDuih33nMpgbAtPPfxf7H7dRIWxIPWDcBaWmaxMwWVg0cz0nwV0QrN6D70+Uv7xoQ1Ic4eW0dkczKPFZ8e6LS/4nnetYH+g5kvDtacBtUWw6bgOANq5+8+sDwAu9cGR1GOiqtvbXfD00v0mHr7Guc4B3FWQkr1oZ7rEXqn6aFWXK9oXrXpw2HnTxDr6Wm5s2M/7YIUMkVvtGvSjVvR1uoO/HRUNao4zt4uLolZ0mdqWLPsdYtQtmINNp9SbDtyQ0ZW1Mp9V0FCX9gMg7DQ4DRjthno0/4lCupXijKKvnqBIShXfjCIWl5JUsxdqvq+30FujnPUo0ws2nm7aL2IfYqZA3lAZX1Vru+xuEJVSogCYBBdltOMv/Hkn6PH6LLxqDJf/njUTcrItKcJBixQoWDEGqU8ir+PBNkLkOBrOpMj2t3wcMcEgMRCSVndAdko/HtMZLykWKHAOU+eGWnQPakFvzd6M6u2JXOoaoBuiuQPvyg9GhcNmQ6FjUAhXiEP2p9fvTT4bNRx7xP1QybyK3y+Jpw3VfGob1uzAcGakgt7LQSVH1qJiPDLGQag+UOCELeGu6KMS+qdsE48/xdzvXRK9lzrpxH7Awyc2N28fYzN2nsY8rrByFnZ2r1BWlJLp8Bt8vj/9QgHzJvZAJ5YvmUD+1weVK1mTXnStwMNrR18JnlMSV924eRr42bMYpRF3lDK/Er37OJ960wcnpuS/FjqtyX3nFXWRKUFqwAx+SUnSul8GV/3BHcc68gtZFaMUAC42lS6VgV0xkiLELHRTG3eBPgoGUCrJVdiqjz5ICiwP6Mapar+aem+4ic9JfzftPiBqUwumyDq9ZOuo4IgbDbKXT7aQcGbgKNHfHsaSiXI4Dz4kmsHSfqzBBGmTdEO66GWu16nDKWMAHUbPhYBvtWDrmjwnIefVJuH9FeKkehYxto7A6ciEedf6wHH3Rxo0WbNoOt+Pc0Exvph+1tFW6fEW2UfosSsF6zlPQUPsZLFd2gGK2ZVq+SPgCriokMGfVFIZMLsxYzU7FYMsSXYuc0v+uOh7uJsaEKwIKMtE02h9/GN1CX0HEGxcKQfpcwLCtm51UcIEi3AxwFkqUCFstMoMNS7mYV9cvnJIpkVN7BLmI6Arm2eMYSQL6X2RUeifPKA8YxdZxSEtKvYdnip0nyt7+/gagq4q9WkCPj24chrA8tMX9mNRBw08i1m/5aAeGQtyS1YyRD3IrZpxOaZBIJHY+Ia9gfMza6xRee0WtcTjfYdmW80TYAZ3VKxRJBfv6aw+AdAv7/kjG6ZAy17Kj3YwxaZS7ZIbR1LUY5zZoItjrKAoGsSjau9d0ohOPbazIX2lrISz/iF0pUZeB9USH2gczcZrywSiaFhSiSJ8TN1WgJYSfP913xtowtcM5EX360Vh+oERCpyCOJ9zV8kBMXyl4Q4lPL7PZqwQ2xzp37vINVo3U+qJoer6W9TTvAw2wG932LFh9QjNsz3Jm5i3BzfO15EHhkIteghDdU1/rC+DE54qn1D14xh8QuqeZl2AQhDDUAh01yMMNN7bSxzDpZXg3tVHPAgr1BD4RXgiUMW0qNAvr0nqoSxSbYmzuSY8XPnEYwnwjSJkOOfWcJrFjiXmJ/M8u2v7ARKQvoc5IxzH7llxkAbms4EQsENhx5Dt94aKJFmneqNsbZzCyqvE5o2pqidOSjLRA5SHBNHL0bpbcMkN4zG5F4GKwaiEgL5Jh9lyVtzgzMUra39sGl/DEPEVSMr3NcnURJvSz/ass00kXZsuEuyveTFWaQfUKLntGwbivBRwiNhlW6NuulWFmhYO6afMLEhwK47LdWWplqKkKSlQWqA+Y1HYnZ4ydvzTCjUDmhfZ0T9FlLee6JIO6arR8n0R1Odr4RTfipiFErjuflA2SGji2afZyuivdos9jh4/Ak+YIgkC9gn+AQY2XyE8zIUFaiTvBmwY+xb6BZl21TJKFifkQ3X2jTQdXszY+bORR9vu8e/ds6/dmwGM5Ya49xYvCq5worhwsLhLGxFNg1+B4WtoYK11ItNkBTdY41RdcryV8ce7+qK1DCuu8cQejs/s0paavAzNcsQA/f70PXlePdBjUuD4VQnLgJTajW8Jx1SGoJ/QcngXnucLmy8tAODVy/V/jTHtl97NySkyEYOeiiCCGD1vuVcaPHxfk2gJCQEsPRex9NBILYiGuMhnsgG7d9QRu1xOsTlK9OaaPWGhGi2DjrVnD5OmUHdzpPDSZauzszznujJ+AjZnozVsRaF5A+cmUfdH2wSAhrwVxoxIuBqoQSI27vJPC4lfzaURvTO6gbC3m6qAQqOKJTiZ2bX7LDXaSrj92rOTt1dHjIeAMkvQjMLTAigJVbDaDUvcuQHv1KxY6x7T3vbbUMk5iCX7eOMdHZEZ+c7K5FpgYu539umw5nRadrwGxJ3tr5PO7Ji1wvw+6wi+WZB+4DgY/6sACPjx0ViK9zYn/KFXj8V7JKbRiUa4ams5VYDHrQcz96eTOsqJoIJta69HmBzu5k8dTpaLJ1/kmiGN+1gahgALZk0CSMkw+gZuQ+KbzVuLBFBuVOythNYAgHAlb+k6J12pQ35GPgt/gDeEsHGaAuCXLNJc1DMehOVUHdMBCBOm4cUh0fCLKpwrLNaXUHzf2epxrHJ0x0sckRunVTJPpYjN8fqSvsD4GT5kOTuAvliu1518H8vABPzLdgHdF8E423FhbTe/WfCeg1oUfVCSQrg0h6DAFiPaWQOX3feCIJrsB2gAcpzQfKXfxDXE4uWsHXmkVMK9X629ClKruAbgnFIut5nzKs6y+2mqIwAukBrMklYAqAPuHaPTdN1+YtagC+baoqJKFG64IWsTmh7OjHlHqpEpGAp8xuGbYtGcpClHQRigmnkHCwBGDyBJElVMIjGYOTMqu01Zj/CUIN0u19A6VGVv4nS47t4cbfeeOWNhEPrjoDBk0IeCQqx58hvvrNlF6B1VNxMqylbaSkbeVh52EwbJBN+SSgJbC5vx2DOVSYkyfNNVHAludMCIam+0qjDxCwWdDfnaXOayUEd6D/io+JK/cONgx858i3BDXZllRWP5cwwLO5d6tG3whWQF9WDULiiZdXPEPVwT9LQ1ZutLrmP+TVQe9BmP92hiStPz0/ZekrQ+WAxapWw9OxW58XaA4V6uoRp0xPrspWx2RchUjxQgFVt8VJ0gkRSMFgO5CysVsLYsSOfaLNkvX2BZfvxm6fJIF6tgBMPwzzUbMTpOGJDcUoVvzGO9u/f29EaWWPHll88Xhvq11EmiIxvMewGiwLRUUxf4/HO9NJ3b7R3pyRN6yglvqrrhfA/Avt9pJtXWfJPbPyDEoVuxj+8nFq9gnvWz3Zk2gVPEsvoGnjgPnqWdKFAg6UxgSzGmIrBp5OgqnUTtqA2ollDnaTJp5I07I7j78Z9Qvt9UYUIFEx5AX1WPV4YIUZkk/rZF4lvJgjisPDwEykO5aURW0JHeHJUd5UB9IZMAf1Jet1Oqki5s+4hVUsjTebV37rJgW/3tZfvoHIgmZc1BosD7GpRabj8yoEi7lrhnOug9FTm+xGmPDP5ONeyd+lHiKU+95ys2LDzmlCMV6nR1BgcCvN0P1rTaxPc96lhhLBKRx28rShuZ4AsjMyII1N1cBsY3j3C4uLplTcjlvcsfPT05t6ejiN+qFLslhKpO5lLBfbZhVl79W/2fo53aQROtLolJbRPjVs7PS45pTeCR/gFixvZMX9jzLdkY0mw/ZmpCWHwjifHvYLuC0/t0xL865AN4urQcXzZTdl7oFM1zuxOe8wm6IWWXo/PqLFINfb/v/4G17oIulSd1QOMNyiXeUZVKNDWKTP12UoWiDMJI9EK4Jh+RpNWjAUWlx+ApZTYBRO+6OuvGjk2NBjZPuTdOgWjeQBY//DtG8j2YdZx4b2m1sPJS8gnn6FYRJ/bjRY9fCMqUi8/tfJOwhERt3TuL2qdCaxOeKgDyBbaNEEW9NC5Vzx38W2gUIuT7+d5gQ7KSuDFsb4ISPwH8+F7CK4a7Qv2nUkAgajc9PjmdWGKTTWSNY5lxk/UmGt8XJ3vWSzZPIeNpEPZwyDVJOx7sMl03MTD2s6TeleyjXEayyYT/KrpcE4QEtiK7ZqqrFUnEqKJeibwnhrG6JN15i/VtOjmwKyMBkWqIcLG+yzSySxWd7xP8mp3uta8duIBEnp7j33BmY2hpKr50wKHSXfJ1oyrFJSja29OyvtnvqoBZCChTU6vGROB5mo5hHH+PWQvmQ03n8Nkw/cIV7F3Wy9qvKEttPRe6+7ExSOAlEkDvie0Lt7EgohV1BgFVmP4zSlrdZn6TO/9ntPcKGHP483898biNpJQjMH5hhZEhjEp1MBN+q42AzBP9ZTuck5k4miVaZPbw+YT8k/6+0qfE9pEYWhtxwCZF6LyXc0HJMmhl+MHu9Bnyqb4Xny7n5CxlQXZilAvxTMx2Q2qpO1xMA21ZYlalcMwf9HlEJHy129LkkAQnvbiLdgQGT1+rUwKB6THBhNgSvz2pkk6DsmdGojIlDIURQpbLB+CHU66N9dk8DcxDU19EUBa6yo8HoRfjcfC/X59rL3WTVVHqcu4X1PqVJg/d+TY5VJ8yuaWunnXLMurY4BxFvLdzK5lTS0nlVWURQYeKIPcRJRzzSHCXI0sxWFjz8Mp2YHqasu0eP66sSyfvuPaUIbva7XR1/QxkJhyGfab7am/DRmMjuPE2cYulI3nj5Db0lKn8OvudWhCydH7lyUs4CCs3xm/ZwDGWh/+br8n8Uz9csM+16oFpzAXScaIBLNsZrL3zk5QmNrl+nXtLLOgPwGNy/MwfyibpOCegnGLQ==
      responses:
        "200":
          description: Success
  /apidmx/MultiLingual/detail/search:
    post:
      tags:
        - MultiLingual
      summary: POST /apidmx/MultiLingual/detail/search
      operationId: post_apidmx_MultiLingual_detail_search
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
            examples:
              fromHar:
                value: rU83YNiHBMctXQhZKs2QudakuJ9gVGYgmei71T6fWFIk+5Q5C+KybiApoTFKx6SI9eHnTeaYQh7BEqgqEPkCcWhJNQ78q9D2nMDOzEjLLXU4k4+6uWlZ3oJb4j+wBjDKFzcZHNq7atQ0LoeVHq2jhcxkLAkSfFMbNpcftbh8x/fOI+co7E5IB2bey2nsFLE4saPkw+YWqrEJUiZpJcBCBhlo3JmX3AMFMM6QFInx80GxgEypYGuTBgyAqEavzmZNshbL416FIy4F2PpObGfvJSHhr/9fZ09AN+0MJUn4gcW8kWMNsAA3j46EZBZes+dwlTxMPUEmGom3qptZ4hvvnbk+yFCy/3Id1OwZpzxOFA0V0zHvxNqpl5pmYod+aybhG/GVLHW/7mK1jZ1u7Xa3xB6mUevsVtAuP7k/6c3A60CoCKz2a2VplkY4oQb70L1cBQKmEkC0kSBaCB51c+oWOjxZTnCB6uE0f2uTIJeM/slHgP9Q5mEtKLlbLywtYBRV5FNkHfB/T3ME8FciY4h+6so/6vP1ydnaGrfCGWVzQgw=
      responses:
        "200":
          description: Success
  /apidmx/EmailManager/insertupdate:
    post:
      tags:
        - EmailManager
      summary: POST /apidmx/EmailManager/insertupdate
      operationId: post_apidmx_EmailManager_insertupdate
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
            examples:
              fromHar:
                value: RCpPzr52hH/1O+7qXIkeQoBrsbdvShGQ5rEXB+55F0ZxUXdJol3xtpgM8U5axsbK6ftHXaUtR4MBteP3x5Jvig==
      responses:
        "200":
          description: Success
  /apidmx/{id}/delete:
    delete:
      tags:
        - delete
      summary: DELETE /apidmx/{id}/delete
      operationId: delete_apidmx_id_delete
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: BulkDeleteEmailTemplate
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
            examples:
              fromHar:
                value: jjAYt3UBv53sFL5u3bN5RYF4ht1Xr95EvgH6Ks0Ep4POUGJBDKXel5S+sH/cF0Ag
      responses:
        "200":
          description: Success
components:
  schemas: {}
