openapi: 3.0.3
info:
  title: Etoro App
  version: 1.0.0
servers:
  - url: https://www.etoro.com/api/
tags:
  - name: Validate
  - name: _next
  - name: _vercel
  - name: actionp
  - name: ads
  - name: api
  - name: bdd-insights
  - name: candles
  - name: cdn-cgi
  - name: default
  - name: discover
  - name: end-users
  - name: etoro
  - name: events
  - name: fin-reports-v2
  - name: g
  - name: i
  - name: kyc-prod
  - name: kycx
  - name: kycx-prod
  - name: lightstreamer
  - name: loaders
  - name: log
  - name: maps
  - name: measurement
  - name: messenger
  - name: privacy_sandbox
  - name: pubsub
  - name: refer
  - name: sapi
  - name: service
  - name: tr
  - name: track
  - name: v651.1239.3
paths:
  /api/kycx-staticdata/v1/PagesLayout/seychelles-flow/welcome:
    get:
      tags:
        - api
      summary: GET /api/kycx-staticdata/v1/PagesLayout/seychelles-flow/welcome
      operationId: get_api_kycx_staticdata_v1_PagesLayout_seychelles_flow_welcome
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: dfd12990-2cc3-44ef-b670-bd501d23e565
      responses:
        "200":
          description: Success
  /track:
    post:
      tags:
        - track
      summary: POST /track
      operationId: post_track
      parameters:
        - name: verbose
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: ip
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: _
          in: query
          required: false
          schema:
            type: string
          example: "1776243430085"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties:
                type: string
            examples:
              fromHar:
                value:
                  data: W3siZXZlbnQiOiJLWUMgTW9kYWwiLCJwcm9wZXJ0aWVzIjp7IiRvcyI6IldpbmRvd3MiLCIkYnJvd3NlciI6IkNocm9tZSIsIiRyZWZlcnJlciI6Imh0dHBzOi8vd3d3LmV0b3JvLmNvbS8iLCIkcmVmZXJyaW5nX2RvbWFpbiI6Ind3dy5ldG9yby5jb20iLCIkY3VycmVudF91cmwiOiJodHRwczovL3d3dy5ldG9yby5jb20vaG9tZSIsIiRicm93c2VyX3ZlcnNpb24iOjE0NywiJHNjcmVlbl9oZWlnaHQiOjg2NCwiJHNjcmVlbl93aWR0aCI6MTUzNiwibXBfbGliIjoid2ViIiwiJGxpYl92ZXJzaW9uIjoiMi43OC4wIiwiJGluc2VydF9pZCI6IjdqdzltanZ3N2VkdHdodW4iLCJ0aW1lIjoxNzc2MjQzNDI5Ljk0MiwiZGlzdGluY3RfaWQiOiIkZGV2aWNlOjI3NjcwYWY1LTc5OTItNDgyOS1iNmVkLTc4YWM3NTBiMmZmMiIsIiRkZXZpY2VfaWQiOiIyNzY3MGFmNS03OTkyLTQ4MjktYjZlZC03OGFjNzUwYjJmZjIiLCJYLVNUUy1EZXZpY2VJZCI6IjZmNTYzZDhmLWViZDUtNGYwZi04YTZlLThlNzY0ZDNlNjRiNSIsIiRpbml0aWFsX3JlZmVycmVyIjoiJGRpcmVjdCIsIiRpbml0aWFsX3JlZmVycmluZ19kb21haW4iOiIkZGlyZWN0IiwiJHVzZXJfaWQiOjQ3NTk4ODcwLCJQbGF5ZXIgU3RhdHVzIjoxLCJYLUV4cGVyaW1lbnQtSWQiOlsibmV3c19mZWVkX2FkZGluZ19mb3JfeW91IiwibG9jYWxpemF0aW9uX2NoYW5naW5nX2N1cnJlbmN5X2V4cGVyaW1lbnQiXSwiWC1WYXJpYXRpb24tSWQiOlsibmV3c19mZWVkX2FkZGluZ19mb3JfeW91X2NvbnRyb2wiLCJsb2NhbGl6YXRpb25fY2hhbmdpbmdfY3VycmVuY3lfZXhwZXJpbWVudF9jb250cm9sIl0sIlgtRXhwZXJpbWVudHMtRGF0YSI6Im5ld3NfZmVlZF9hZGRpbmdfZm9yX3lvdTpjb250cm9sOjkzMDAwMDMwODg1MDcsbG9jYWxpemF0aW9uX2NoYW5naW5nX2N1cnJlbmN5X2V4cGVyaW1lbnQ6Y29udHJvbDo5MzAwMDAzMDM4MzQ2LCIsIlgtVVNFUi1IQVMtSUJBTi1BQ0NPVU5UIjpmYWxzZSwiWC1VU0VSLVRSQURJTkctQ1VSUkVOQ1ktSUQiOjEsIlgtVVNFUi1UUkFESU5HLUFDQ09VTlQtSUQiOiI0NzU5NDQ1MCIsIlgtVVNFUi1UUkFESU5HLUNVUlJFTkNZIjoiVVNEIiwiWC1VU0VSLVRSQURJTkctSEFTLURFUE9TSVRFRCI6ZmFsc2UsIlgtVVNFUi1UUkFESU5HLVNUQVRVUyI6MSwiWC1VU0VSLVRSQURJTkctQUNDT1VOVC1UWVBFIjoxLCJQb3J0Zm9saW8iOiJSZWFsIiwiVXNlcm5hbWUiOiJqb2VsbWlsbGVyODkwMzUwIiwiQXBwbGljYXRpb24iOiJSZVRvcm8iLCJVc2VyVG9rZW4iOiI2NjQyMDUzNjMyMTkwMTQ2MzQ5NiIsIkFwcFZlcnNpb24iOiJ2NjUxLjEyMzkuMyIsIkxhbmd1YWdlIjoiZW4tZ2IiLCJ1c2VyQ291bnRyeSI6IkluZGlhIiwiQ291bnRyeSBOYW1lIjoiSW5kaWEiLCJQbGF5ZXIgTGV2ZWwgSUQiOjEsIlJlZ3VsYXRpb24gSUQiOjUsIkRlc2lnbmF0ZWQgUmVndWxhdGlvbiBJRCI6OSwiRGlzcGxheSBDdXJyZW5jeSI6IlVTRCIsIkF2YWlsYWJsZSI6MCwiUG5MIjowLCJFcXVpdHkiOjAsImhhc1NlZW5LWUNCZWZvcmUiOnRydWUsImZ1bm5lbEZyb21JRCI6IlVua25vd24iLCJWZXJpZmljYXRpb25MZXZlbCI6MCwiaGFzaGUiOiIxNDU3ZmM0ZTk1OGVhNjYwZjNjZWE4NGE3NGE4MjFhYTRhMTVjMWFmMjBjYmQ2YTI5NGFmMWE0Njk5MzBiZGZiIiwiaXNFeHByZXNzQ2hlY2tvdXQiOnRydWUsIkNhcmQgVmVyc2lvbiI6IiIsIkZ1bm5lbCBOYW1lIjoiUk9XIiwiRnVubmVsIFN0ZXAiOjIwLCJTZXJ2ZXIgVmVyc2lvbiI6IiIsIkV4cGVyaW1lbnQgTmFtZSI6IiIsIkV4cGVyaW1lbnQgVmFyaWFudCI6IiIsIkV4cGVyaW1lbnQgUGFydGljaXBhbnQiOmZhbHNlLCJLeWMgRmxvdyI6IlZCVCIsIkRldmljZSBDYXRlZ29yeSI6IkRlc2t0b3AiLCJTdGF0ZSI6IiIsIkNvdW50cnkgQnkgUmVzaWRlbmNlIjoiSW5kaWEiLCJDb3VudHJ5IEJ5IENpdGl6ZW5zaGlwIjoiIiwiQ291bnRyeSBCeSBJUCI6IkluZGlhIiwiRmxvdyI6InNleWNoZWxsZXMtZmxvdyIsIk9wZW4gS1lDIE1vZGFsIjoiVm9sdW50ZWVyIiwidG9rZW4iOiJkYmJkN2JkOTU2NmRhODVmMDEyZjdjYTVkOGM2Yzk0NCIsIm1wX3NlbnRfYnlfbGliX3ZlcnNpb24iOiIyLjc4LjAifX1d
      responses:
        "200":
          description: Success
  /api/v2/monitoring:
    post:
      tags:
        - api
      summary: POST /api/v2/monitoring
      operationId: post_api_v2_monitoring
      parameters:
        - name: applicationIdentifier
          in: query
          required: false
          schema:
            type: string
          example: ReToro
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiPostRequest"
            examples:
              fromHar:
                value:
                  LogEvents:
                    - Message: login success flow - on progress
                      Categories: loginSuccessFlow
                      Domain: Infra
                      ProgressData:
                        loginGuid: b8679065-c96a-4a47-959c-fa18709a64bd
                        loginFlow: registration
                        duration: 414
                        status: ActionEnd
                        actionName: complianceGapsLoginWorkflowService
                        currentStep: 14
                        stoppedFlow: false
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 179
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:06.441Z
                      SecondsFromStartUp: 67
                    - Message: login success flow - on progress
                      Categories: loginSuccessFlow
                      Domain: Infra
                      ProgressData:
                        loginGuid: b8679065-c96a-4a47-959c-fa18709a64bd
                        loginFlow: registration
                        status: ActionStart
                        actionName: complianceGapsKycCompleteService
                        currentStep: 15
                        stoppedFlow: false
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 180
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:06.442Z
                      SecondsFromStartUp: 67
                    - Categories: KYC_KycNotAsPopupExperiment
                      Message: Checking if need to show KYC complete popup
                      IsKycNotAsPopupExperimentEnabled: false
                      IsFirstVisit: true
                      StackTrace: ComplianceGapsKycCompleteService.needToShowKYCCompletePopup
                      Domain: Compliance
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 181
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:06.442Z
                      SecondsFromStartUp: 67
                    - Categories: KYCX_isNewKycCheck
                      Message: KYCX rollout check
                      Source: Volunteer
                      Domain: Compliance
                      IsMigrationRolloutEnabled: true
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 182
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:06.869Z
                      SecondsFromStartUp: 67
                    - Categories: KYCX_isNewKycCheck
                      Message: Should open KYCX - [rollout decision]
                      Source: Volunteer
                      AbTestMessage: Decision was taken by previous data
                      KycState: 0
                      Domain: Compliance
                      IsMigrationRolloutEnabled: true
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 183
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:06.869Z
                      SecondsFromStartUp: 67
                    - Categories: KYCX
                      Message: KYCX process start
                      Source: Volunteer
                      Domain: Compliance
                      IsMigrationRolloutEnabled: true
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 184
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:06.869Z
                      SecondsFromStartUp: 67
                    - Categories: KYCX
                      Message: KYCX process reaching KNS
                      Source: Volunteer
                      Domain: Compliance
                      IsMigrationRolloutEnabled: true
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 185
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:06.869Z
                      SecondsFromStartUp: 67
                    - Categories: KYCX
                      Message: KYCX process Initing KNS, for starting the KYCX process
                      Source: Volunteer
                      Domain: Compliance
                      IsMigrationRolloutEnabled: true
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 186
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:06.870Z
                      SecondsFromStartUp: 67
                    - Categories: KYCX
                      Message: Initing KNS
                      KnsActionName: load-funnel
                      Domain: Compliance
                      KnsPayload:
                        kycxStart:
                          isMobile: false
                          action: null
                          mode: Volunteer
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 187
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:06.870Z
                      SecondsFromStartUp: 67
                    - Action: null
                      Categories: networkLog
                      Message: networkLogResponsesOK
                      Domain: Compliance
                      Request:
                        id: 8fc274bb-da7e-47e3-b123-47ad2d7142dd
                        isIdSent: true
                        actionUrl: STATUS=200.MODE=Real.URL=kycx-flow.FRONT=wwwetorocom.APP=web
                        data:
                          userFlow: null
                          payload:
                            kycxStart:
                              isMobile: false
                              action: null
                              mode: Volunteer
                        params:
                          client_request_id: 8fc274bb-da7e-47e3-b123-47ad2d7142dd
                        headers:
                          X-Client-Name: AppKycx
                          AccountType: Real
                          X-Session-Id: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                          X-STS-DeviceId: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                          Authorization: "[Filtered{1725}]"
                          ApplicationIdentifier: ReToro
                          ApplicationVersion: v651.1239.3
                        url: /api/kycx-flow/kns/flow
                        method: POST
                        status: 200
                        requestStartTime: 2026-04-15T08:57:06.871Z
                      Performance:
                        isDetailed: false
                        RequestTime: 845
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 188
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:07.716Z
                      SecondsFromStartUp: 68
                    - Categories: KYCX
                      Message: KYCX process KNS success, updating user data
                      Source: Volunteer
                      Domain: Compliance
                      IsMigrationRolloutEnabled: true
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 189
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:07.717Z
                      SecondsFromStartUp: 68
                    - Categories: KYCX
                      Message: KYCX process KNS success, opening kycx dialog
                      Source: Volunteer
                      Domain: Compliance
                      IsMigrationRolloutEnabled: true
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 190
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:08.072Z
                      SecondsFromStartUp: 69
                    - Action: null
                      Categories: networkLog
                      Message: networkLogResponsesOK
                      Domain: Experience
                      Request:
                        id: fb64c18f-232b-47bf-99ee-6d5b1ac4f738
                        isIdSent: true
                        actionUrl: STATUS=200.MODE=Real.URL=kycx-prod.FRONT=etoro-cdnetorostaticcom.APP=web
                        data: {}
                        params:
                          client_request_id: fb64c18f-232b-47bf-99ee-6d5b1ac4f738
                        headers: {}
                        url: https://etoro-cdn.etorostatic.com/web-client-locales/kycx-prod/en-gb.json
                        method: GET
                        status: 200
                        requestStartTime: 2026-04-15T08:57:08.076Z
                      Performance:
                        isDetailed: false
                        RequestTime: 72
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 191
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:08.148Z
                      SecondsFromStartUp: 69
                    - Action: null
                      Categories: networkLog
                      Message: networkLogResponsesOK
                      Domain: Experience
                      Request:
                        id: 25a21db4-818e-492c-b692-df4b44171640
                        isIdSent: true
                        actionUrl: STATUS=200.MODE=Real.URL=abtesting.FRONT=wwwetorocom.APP=web
                        data:
                          "0":
                            projectName: KYC
                            experimentName: localization_changing_currency_experiment
                        params:
                          client_request_id: 25a21db4-818e-492c-b692-df4b44171640
                        headers:
                          X-Session-Id: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                          AccountType: Real
                          X-STS-DeviceId: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                          Authorization: "[Filtered{1725}]"
                          ApplicationIdentifier: ReToro
                          ApplicationVersion: v651.1239.3
                        url: /api/abtesting/variations?
                        method: POST
                        status: 200
                        requestStartTime: 2026-04-15T08:57:08.081Z
                      Performance:
                        isDetailed: false
                        RequestTime: 220
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 192
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:08.301Z
                      SecondsFromStartUp: 69
                    - Categories: GenericAbTest
                      Message: Experiment Started
                      Domain: Infra
                      ExperimentId: localization_changing_currency_experiment
                      VariationId: localization_changing_currency_experiment_control
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 193
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:08.302Z
                      SecondsFromStartUp: 69
                    - Action: null
                      Categories: networkLog
                      Message: networkLogResponsesOK
                      Domain: Experience
                      Request:
                        id: 8644fdd5-f98b-41f8-aa17-2d1cebf062de
                        isIdSent: true
                        actionUrl: STATUS=200.MODE=Real.URL=kycx-staticdata.FRONT=wwwetorocom.APP=web
                        data: {}
                        params:
                          client_request_id: 8644fdd5-f98b-41f8-aa17-2d1cebf062de
                        headers:
                          AccountType: Real
                          X-Session-Id: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                          X-STS-DeviceId: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                          Authorization: "[Filtered{1725}]"
                          ApplicationIdentifier: ReToro
                          ApplicationVersion: v651.1239.3
                        url: /api/kycx-staticdata/v1/Countries
                        method: GET
                        status: 200
                        requestStartTime: 2026-04-15T08:57:08.079Z
                      Performance:
                        isDetailed: false
                        RequestTime: 519
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 194
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:08.598Z
                      SecondsFromStartUp: 69
                    - Action: null
                      Categories: networkLog
                      Message: networkLogResponsesOK
                      Domain: Experience
                      Request:
                        id: 422cfb20-42ab-48ef-b284-4bfe64f5aed8
                        isIdSent: true
                        actionUrl: STATUS=200.MODE=Real.URL=kycx-staticdata.FRONT=wwwetorocom.APP=web
                        data: {}
                        params:
                          client_request_id: 422cfb20-42ab-48ef-b284-4bfe64f5aed8
                        headers:
                          AccountType: Real
                          X-Session-Id: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                          X-STS-DeviceId: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                          Authorization: "[Filtered{1725}]"
                          ApplicationIdentifier: ReToro
                          ApplicationVersion: v651.1239.3
                        url: /api/kycx-staticdata/v1/Countries/usVisaTypes
                        method: GET
                        status: 200
                        requestStartTime: 2026-04-15T08:57:08.079Z
                      Performance:
                        isDetailed: false
                        RequestTime: 1782
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 195
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:09.861Z
                      SecondsFromStartUp: 70
                    - Action: null
                      Categories: networkLog
                      Message: networkLogResponsesOK
                      Domain: Compliance
                      Request:
                        id: dfd12990-2cc3-44ef-b670-bd501d23e565
                        isIdSent: true
                        actionUrl: STATUS=200.MODE=Real.URL=kycx-staticdata.FRONT=wwwetorocom.APP=web
                        data: {}
                        params:
                          client_request_id: dfd12990-2cc3-44ef-b670-bd501d23e565
                        headers:
                          AccountType: Real
                          X-Session-Id: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                          X-STS-DeviceId: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                          Authorization: "[Filtered{1725}]"
                          ApplicationIdentifier: ReToro
                          ApplicationVersion: v651.1239.3
                        url: /api/kycx-staticdata/v1/PagesLayout/seychelles-flow/welcome
                        method: GET
                        status: 200
                        requestStartTime: 2026-04-15T08:57:09.874Z
                      Performance:
                        isDetailed: false
                        RequestTime: 316
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 196
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:10.190Z
                      SecondsFromStartUp: 71
                  MonitorEvents: []
      responses:
        "200":
          description: Success
    options:
      tags:
        - api
      summary: OPTIONS /api/v2/monitoring
      operationId: options_api_v2_monitoring
      responses:
        "200":
          description: Success
  /i/adsct:
    get:
      tags:
        - i
      summary: GET /i/adsct
      operationId: get_i_adsct
      parameters:
        - name: bci
          in: query
          required: false
          schema:
            type: string
          example: "4"
        - name: cv
          in: query
          required: false
          schema:
            type: string
          example: 51&1
        - name: dv
          in: query
          required: false
          schema:
            type: string
          example: Asia/Calcutta&en-GB,en-US,en,ur,te,ar&Google Inc.&Win32&255&1536&864&8&32&1536&816&0&na
        - name: eci
          in: query
          required: false
          schema:
            type: string
          example: "2"
        - name: event_id
          in: query
          required: false
          schema:
            type: string
          example: aeee5acd-5007-4e31-951a-8ee9f5630097
        - name: events
          in: query
          required: false
          schema:
            type: string
          example: '[["autobuttonclick",{"value":"Let’s Do It"}]]'
        - name: integration
          in: query
          required: false
          schema:
            type: string
          example: advertiser
        - name: p_id
          in: query
          required: false
          schema:
            type: string
          example: Twitter
        - name: p_user_id
          in: query
          required: false
          schema:
            type: string
          example: "0"
        - name: pl_id
          in: query
          required: false
          schema:
            type: string
          example: 7c974f3e-b526-40ca-8d93-a3e256e856ef
        - name: pt
          in: query
          required: false
          schema:
            type: string
          example: eToro
        - name: tw_document_href
          in: query
          required: false
          schema:
            type: string
          example: https://www.etoro.com/home
        - name: tw_iframe_status
          in: query
          required: false
          schema:
            type: string
          example: "0"
        - name: tw_order_quantity
          in: query
          required: false
          schema:
            type: string
          example: "0"
        - name: tw_pid_src
          in: query
          required: false
          schema:
            type: string
          example: "2"
        - name: tw_sale_amount
          in: query
          required: false
          schema:
            type: string
          example: "0"
        - name: twpid
          in: query
          required: false
          schema:
            type: string
          example: tw.1776243280774.128876348443486195
        - name: txn_id
          in: query
          required: false
          schema:
            type: string
          example: nyxtd
        - name: type
          in: query
          required: false
          schema:
            type: string
          example: javascript
        - name: version
          in: query
          required: false
          schema:
            type: string
          example: 2.3.52
      responses:
        "200":
          description: Success
  /api/kycx-flow/kns/flow/seychelles-flow/next-step/welcome:
    post:
      tags:
        - api
      summary: POST /api/kycx-flow/kns/flow/seychelles-flow/next-step/welcome
      operationId: post_api_kycx_flow_kns_flow_seychelles_flow_next_step_welcome
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 253b6db7-5d0d-4aaf-9987-9a9fc562144e
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiPostRequest"
            examples:
              fromHar:
                value:
                  userFlow: "1134544360088798208"
                  payload: null
      responses:
        "200":
          description: Success
  /{id}/log/{id2}/unip:
    get:
      tags:
        - log
      summary: GET /{id}/log/{id2}/unip
      operationId: get_id_log_id2_unip
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: "1005612"
        - name: id2
          in: path
          required: true
          schema:
            type: string
          example: "3"
        - name: en
          in: query
          required: false
          schema:
            type: string
          example: pre_d_eng_tb
        - name: tos
          in: query
          required: false
          schema:
            type: string
          example: "111899"
        - name: scd
          in: query
          required: false
          schema:
            type: string
          example: "0"
        - name: ssd
          in: query
          required: false
          schema:
            type: string
          example: "3"
        - name: est
          in: query
          required: false
          schema:
            type: string
          example: "1776243281302"
        - name: ver
          in: query
          required: false
          schema:
            type: string
          example: "36"
        - name: isls
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: src
          in: query
          required: false
          schema:
            type: string
          example: i
        - name: invt
          in: query
          required: false
          schema:
            type: string
          example: "10000"
        - name: msa
          in: query
          required: false
          schema:
            type: string
          example: "0"
        - name: rv
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: tim
          in: query
          required: false
          schema:
            type: string
          example: "1776243438961"
        - name: vi
          in: query
          required: false
          schema:
            type: string
          example: "1776243359444"
        - name: ri
          in: query
          required: false
          schema:
            type: string
          example: f4f94b29defafb66e74f400941bd3eb6
        - name: sd
          in: query
          required: false
          schema:
            type: string
          example: v2_3944c345cb578988ad9ba862c86f1480_333cb3b3-51e2-4145-b14a-c198d0bebf1e-tuct10d0c9fe_1776243281_1776243390_CIi3jgYQrLA9GNT96oLZMyACKAMwZziY0QpAhJeABEjlmIEEUKbdFVgAYABotKXIgvKM_dbCAXABgAEAiAEA
        - name: ui
          in: query
          required: false
          schema:
            type: string
          example: 333cb3b3-51e2-4145-b14a-c198d0bebf1e-tuct10d0c9fe
        - name: ref
          in: query
          required: false
          schema:
            type: string
          example: https://www.etoro.com/
        - name: cv
          in: query
          required: false
          schema:
            type: string
          example: 20260405-6-RELEASE
        - name: item-url
          in: query
          required: false
          schema:
            type: string
          example: https://www.etoro.com/home
        - name: cbp
          in: query
          required: false
          schema:
            type: string
          example: Gtm
        - name: cbpv
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: cbcd
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: it
          in: query
          required: false
          schema:
            type: string
          example: JS_PIXEL
      responses:
        "200":
          description: Success
    options:
      tags:
        - log
      summary: OPTIONS /{id}/log/{id2}/unip
      operationId: options_id_log_id2_unip
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: "1005612"
        - name: id2
          in: path
          required: true
          schema:
            type: string
          example: "3"
        - name: en
          in: query
          required: false
          schema:
            type: string
          example: pre_d_eng_tb
        - name: tos
          in: query
          required: false
          schema:
            type: string
          example: "111899"
        - name: scd
          in: query
          required: false
          schema:
            type: string
          example: "0"
        - name: ssd
          in: query
          required: false
          schema:
            type: string
          example: "3"
        - name: est
          in: query
          required: false
          schema:
            type: string
          example: "1776243281302"
        - name: ver
          in: query
          required: false
          schema:
            type: string
          example: "36"
        - name: isls
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: src
          in: query
          required: false
          schema:
            type: string
          example: i
        - name: invt
          in: query
          required: false
          schema:
            type: string
          example: "10000"
        - name: msa
          in: query
          required: false
          schema:
            type: string
          example: "0"
        - name: rv
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: tim
          in: query
          required: false
          schema:
            type: string
          example: "1776243438961"
        - name: vi
          in: query
          required: false
          schema:
            type: string
          example: "1776243359444"
        - name: ri
          in: query
          required: false
          schema:
            type: string
          example: f4f94b29defafb66e74f400941bd3eb6
        - name: sd
          in: query
          required: false
          schema:
            type: string
          example: v2_3944c345cb578988ad9ba862c86f1480_333cb3b3-51e2-4145-b14a-c198d0bebf1e-tuct10d0c9fe_1776243281_1776243390_CIi3jgYQrLA9GNT96oLZMyACKAMwZziY0QpAhJeABEjlmIEEUKbdFVgAYABotKXIgvKM_dbCAXABgAEAiAEA
        - name: ui
          in: query
          required: false
          schema:
            type: string
          example: 333cb3b3-51e2-4145-b14a-c198d0bebf1e-tuct10d0c9fe
        - name: ref
          in: query
          required: false
          schema:
            type: string
          example: https://www.etoro.com/
        - name: cv
          in: query
          required: false
          schema:
            type: string
          example: 20260405-6-RELEASE
        - name: item-url
          in: query
          required: false
          schema:
            type: string
          example: https://www.etoro.com/home
        - name: cbp
          in: query
          required: false
          schema:
            type: string
          example: Gtm
        - name: cbpv
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: cbcd
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: it
          in: query
          required: false
          schema:
            type: string
          example: JS_PIXEL
      responses:
        "200":
          description: Success
  /api/kycx-flow/kns/userflows/{id}/progress:
    get:
      tags:
        - api
      summary: GET /api/kycx-flow/kns/userflows/{id}/progress
      operationId: get_api_kycx_flow_kns_userflows_id_progress
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: "1134544360088798208"
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 24d874c8-8879-4af7-b9ca-2022527b574e
      responses:
        "200":
          description: Success
  /api/kycx-staticdata/v1/PagesLayout/seychelles-flow/{id}:
    get:
      tags:
        - api
      summary: GET /api/kycx-staticdata/v1/PagesLayout/seychelles-flow/{id}
      operationId: get_api_kycx_staticdata_v1_PagesLayout_seychelles_flow_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: personal-details
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 787032ac-11fd-4ee5-94d5-5b3d4a31e15c
      responses:
        "200":
          description: Success
  /kycx/schema-all-merged-in.json:
    get:
      tags:
        - kycx
      summary: GET /kycx/schema-all-merged-in.json
      operationId: get_kycx_schema_all_merged_in_json
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: c11f475c-7225-446f-bf89-ef0d9646cd63
      responses:
        "200":
          description: Success
  /api/kycx-flow/kns/flow/seychelles-flow/next-step/{id}:
    post:
      tags:
        - api
      summary: POST /api/kycx-flow/kns/flow/seychelles-flow/next-step/{id}
      operationId: post_api_kycx_flow_kns_flow_seychelles_flow_next_step_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: personal-details
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 48c8811a-8d55-4b13-844f-5fa156899325
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiPostRequest"
            examples:
              fromHar:
                value:
                  userFlow: "1134544360088798208"
                  payload:
                    basicUserInfo:
                      dateOfBirth:
                        dateOfBirth: 1995-01-15T00:00:00.000Z
                      gender:
                        gender: Male
                      fullName:
                        first: Joel
                        middle: ""
                        last: Miller
      responses:
        "200":
          description: Success
  /maps/api/js:
    get:
      tags:
        - maps
      summary: GET /maps/api/js
      operationId: get_maps_api_js
      parameters:
        - name: key
          in: query
          required: false
          schema:
            type: string
          example: AIzaSyBf7jOefmuWml4YngmmPvvBb8Mw1umh588
        - name: libraries
          in: query
          required: false
          schema:
            type: string
          example: places
        - name: callback
          in: query
          required: false
          schema:
            type: string
          example: onGoogleMapsLoad
      responses:
        "200":
          description: Success
  /maps/api/mapsjs/gen_204:
    get:
      tags:
        - maps
      summary: GET /maps/api/mapsjs/gen_204
      operationId: get_maps_api_mapsjs_gen_204
      parameters:
        - name: csp_test
          in: query
          required: false
          schema:
            type: string
          example: "true"
      responses:
        "200":
          description: Success
  /maps/api/js/AuthenticationService.Authenticate:
    get:
      tags:
        - maps
      summary: GET /maps/api/js/AuthenticationService.Authenticate
      operationId: get_maps_api_js_AuthenticationService_Authenticate
      parameters:
        - name: 1shttps://www.etoro.com/home
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: 4sAIzaSyBf7jOefmuWml4YngmmPvvBb8Mw1umh588
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: 8b0
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: callback
          in: query
          required: false
          schema:
            type: string
          example: _xdc_._xrs6yy
        - name: key
          in: query
          required: false
          schema:
            type: string
          example: AIzaSyBf7jOefmuWml4YngmmPvvBb8Mw1umh588
        - name: token
          in: query
          required: false
          schema:
            type: string
          example: "60736"
      responses:
        "200":
          description: Success
  /maps/api/place/js/AutocompletionService.GetPredictionsJson:
    get:
      tags:
        - maps
      summary: GET /maps/api/place/js/AutocompletionService.GetPredictionsJson
      operationId: get_maps_api_place_js_AutocompletionService_GetPredictionsJson
      parameters:
        - name: 1sPlot No. 78, Green Park Colony, Pune, Maharashtra, 411045
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: 4sen-GB
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: 7scountry:IN
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: 9sestablishment
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: 9sgeocode
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: "15e3"
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: 21m1
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: "2e1"
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: r_url
          in: query
          required: false
          schema:
            type: string
          example: https://www.etoro.com/home
        - name: callback
          in: query
          required: false
          schema:
            type: string
          example: _xdc_._mugxbe
        - name: key
          in: query
          required: false
          schema:
            type: string
          example: AIzaSyBf7jOefmuWml4YngmmPvvBb8Mw1umh588
        - name: token
          in: query
          required: false
          schema:
            type: string
          example: "60957"
        - name: 1sSai Residency, Banjara Hills, Hyderabad, Telangana, 500034
          in: query
          required: false
          schema:
            type: string
          example: ""
      responses:
        "200":
          description: Success
  /maps/api/place/js/PlaceService.GetPlaceDetails:
    get:
      tags:
        - maps
      summary: GET /maps/api/place/js/PlaceService.GetPlaceDetails
      operationId: get_maps_api_place_js_PlaceService_GetPlaceDetails
      parameters:
        - name: 2sen-GB
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: "10e3"
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: 14m1
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: 1sChIJZYEcgDGXyzsR-kU4AuqvdnY
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: 16m1
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: 1saddress_component
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: 17m1
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: "2e1"
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: r_url
          in: query
          required: false
          schema:
            type: string
          example: https://www.etoro.com/home
        - name: callback
          in: query
          required: false
          schema:
            type: string
          example: _xdc_._n8x7a4
        - name: key
          in: query
          required: false
          schema:
            type: string
          example: AIzaSyBf7jOefmuWml4YngmmPvvBb8Mw1umh588
        - name: token
          in: query
          required: false
          schema:
            type: string
          example: "26214"
      responses:
        "200":
          description: Success
  /api/appdata/v1/keydata/eToro/complianceKYCX:
    put:
      tags:
        - api
      summary: PUT /api/appdata/v1/keydata/eToro/complianceKYCX
      operationId: put_api_appdata_v1_keydata_eToro_complianceKYCX
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 6c6ed7ec-43b1-4c7f-a4a1-f0fb90d6507c
        - name: correlationId
          in: query
          required: false
          schema:
            type: string
          example: 6e67c037-3e21-4d09-bf2b-fa0a05c78042
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiPutRequest"
            examples:
              fromHar:
                value:
                  isAddressTwoLinerShown: 1
      responses:
        "200":
          description: Success
  /api/kycx-staticdata/v1/PagesLayout/seychelles-flow/address-details:
    get:
      tags:
        - api
      summary: GET /api/kycx-staticdata/v1/PagesLayout/seychelles-flow/address-details
      operationId: get_api_kycx_staticdata_v1_PagesLayout_seychelles_flow_address_details
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 2818b998-872f-49d1-bab2-58883dc51954
      responses:
        "200":
          description: Success
  /api/edm-streams/v1/feed/{id}:
    get:
      tags:
        - api
      summary: GET /api/edm-streams/v1/feed/{id}
      operationId: get_api_edm_streams_v1_feed_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: popularInvestors
        - name: take
          in: query
          required: false
          schema:
            type: string
          example: "10"
        - name: offset
          in: query
          required: false
          schema:
            type: string
          example: "0"
        - name: reactionsPageSize
          in: query
          required: false
          schema:
            type: string
          example: "20"
        - name: badgesExperimentIsEnabled
          in: query
          required: false
          schema:
            type: string
          example: "false"
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 7810f289-6776-4fab-a5bd-af27ddf9b62a
      responses:
        "200":
          description: Success
  /sapi/candles/closingprices.json:
    get:
      tags:
        - sapi
      summary: GET /sapi/candles/closingprices.json
      operationId: get_sapi_candles_closingprices_json
      parameters:
        - name: cv
          in: query
          required: false
          schema:
            type: string
          example: 8b67c23ad5749fd7b265e7a42e5a4c72_43cb376c160d8359996a80a0c655849a
      responses:
        "200":
          description: Success
  /api/kycx-flow/kns/flow/seychelles-flow/navigate/{id}:
    post:
      tags:
        - api
      summary: POST /api/kycx-flow/kns/flow/seychelles-flow/navigate/{id}
      operationId: post_api_kycx_flow_kns_flow_seychelles_flow_navigate_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: personal-details
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: b5a8d697-a5fd-45af-9586-3be030dd0d59
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiPostRequest"
            examples:
              fromHar:
                value:
                  userFlow: "1134544360088798208"
                  payload: null
                  step:
                    flow: seychelles-flow
                    name: personal-details
                    display: dob
                    conditions:
                      - name: name
                        isSatisfied: true
                      - name: gender
                        isSatisfied: true
                      - name: dob
                        isSatisfied: true
      responses:
        "200":
          description: Success
  /sapi/trade-real/v2/instruments/private/index:
    post:
      tags:
        - sapi
      summary: POST /sapi/trade-real/v2/instruments/private/index
      operationId: post_sapi_trade_real_v2_instruments_private_index
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 0345aedb-2f9a-4d28-90f8-902b8aab42fb
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SapiPostRequest"
            examples:
              fromHar:
                value:
                  instrumentIds:
                    - 1
                    - 5
                    - 17
                    - 18
                    - 19
                    - 21
                    - 22
                    - 27
                    - 28
                    - 29
                    - 30
                    - 32
                    - 36
                    - 40
                    - 341
                    - 559
                    - 1001
                    - 1002
                    - 1003
                    - 1004
                    - 1005
                    - 1021
                    - 1111
                    - 1127
                    - 1130
                    - 1135
                    - 1136
                    - 1137
                    - 1832
                    - 2587
                    - 3006
                    - 3025
                    - 3226
                    - 4238
                    - 4430
                    - 4481
                    - 6473
                    - 7991
                    - 8804
                    - 10736
                    - 10881
                    - 100000
                    - 100001
                    - 100003
                    - 100017
                    - 100026
                    - 100043
                    - 100057
                    - 100063
                    - 100452
                    - 9425
                  InstrumentDataFilters:
                    - PrivateTradingDataOnly
                  DelayIntervalMS: 1000
      responses:
        "200":
          description: Success
  /api/kycx-flow/kns/flow/seychelles-flow/next-step/address-details:
    post:
      tags:
        - api
      summary: POST /api/kycx-flow/kns/flow/seychelles-flow/next-step/address-details
      operationId: post_api_kycx_flow_kns_flow_seychelles_flow_next_step_address_details
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 99603e24-2bde-44f9-a941-62ccaa3c36ab
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiPostRequest"
            examples:
              fromHar:
                value:
                  userFlow: "1134544360088798208"
                  payload:
                    addressFull:
                      addressInfo:
                        buildingNumber: "1250"
                        address: Maple Avenue
                        city: California
                        provinceId: 3500
                        zip: "90028"
                        countryId: 219
                        disclaimers:
                          isResidencePobCitizenshipCountry: true
      responses:
        "200":
          description: Success
  /api/kycx-staticdata/v1/Countries/{id}/{id2}:
    get:
      tags:
        - api
      summary: GET /api/kycx-staticdata/v1/Countries/{id}/{id2}
      operationId: get_api_kycx_staticdata_v1_Countries_id_id2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: NationalIdentification
        - name: id2
          in: path
          required: true
          schema:
            type: string
          example: "219"
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 086b51cd-6e94-4070-bd6a-cf98e456e5af
      responses:
        "200":
          description: Success
  /api/kycx-staticdata/v1/pinValidations/{id}/json:
    get:
      tags:
        - api
      summary: GET /api/kycx-staticdata/v1/pinValidations/{id}/json
      operationId: get_api_kycx_staticdata_v1_pinValidations_id_json
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: "219"
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 78f565f6-9518-499b-80ea-04f13f606a66
      responses:
        "200":
          description: Success
  /api/kycx-staticdata/v1/PagesLayout/seychelles-flow/pin-info:
    get:
      tags:
        - api
      summary: GET /api/kycx-staticdata/v1/PagesLayout/seychelles-flow/pin-info
      operationId: get_api_kycx_staticdata_v1_PagesLayout_seychelles_flow_pin_info
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 70558df5-2a3d-4f70-b81f-ecb89f882099
      responses:
        "200":
          description: Success
  /api/kycx-flow/kns/flow/seychelles-flow/next-step/pin-info:
    post:
      tags:
        - api
      summary: POST /api/kycx-flow/kns/flow/seychelles-flow/next-step/pin-info
      operationId: post_api_kycx_flow_kns_flow_seychelles_flow_next_step_pin_info
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: fe8e1683-a9c4-4c75-964e-f7e89313d006
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiPostRequest"
            examples:
              fromHar:
                value:
                  userFlow: "1134544360088798208"
                  payload:
                    personalIdentificationInfo:
                      countryId: 219
                      identificationType: SocialSecurityNumberPIN
                      value: "223344556"
                      addAdditionalCitizenship: false
      responses:
        "200":
          description: Success
  /sapi/kyc/api/v1/users/{id}:
    get:
      tags:
        - sapi
      summary: GET /sapi/kyc/api/v1/users/{id}
      operationId: get_sapi_kyc_api_v1_users_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: "47598870"
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: d62d9ef5-4da6-45d5-ae56-e520c7983674
      responses:
        "200":
          description: Success
  /api/homepagefacade/v2/homepage/components:
    post:
      tags:
        - api
      summary: POST /api/homepagefacade/v2/homepage/components
      operationId: post_api_homepagefacade_v2_homepage_components
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 2e54bfb0-b720-49eb-a6c3-c8839bb5c316
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiPostRequest"
            examples:
              fromHar:
                value:
                  dataComponents:
                    - type: Onboarding
                    - type: Overview
                      params:
                        isBasicProgramEligibility: true
                    - type: OverviewRedesign
                      params:
                        isBasicProgramEligibility: true
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/aggregatedInfo:
    get:
      tags:
        - api
      summary: GET /api/logininfo/v1.1/aggregatedInfo
      operationId: get_api_logininfo_v1_1_aggregatedInfo
      parameters:
        - name: cidlist
          in: query
          required: false
          schema:
            type: string
          example: "[47594450]"
        - name: realCids
          in: query
          required: false
          schema:
            type: string
          example: "True"
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 91c528a8-6ab6-4741-9ae4-12211c2d782d
        - name: cidList
          in: query
          required: false
          schema:
            type: string
          example: "[39770102,36327519,32624347]"
        - name: avatar
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: realcid
          in: query
          required: false
          schema:
            type: string
          example: "true"
      responses:
        "200":
          description: Success
  /sapi/kyc/api/v1/users/{id}/{id2}:
    get:
      tags:
        - sapi
      summary: GET /sapi/kyc/api/v1/users/{id}/{id2}
      operationId: get_sapi_kyc_api_v1_users_id_id2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: "47598870"
        - name: id2
          in: path
          required: true
          schema:
            type: string
          example: verificationCompletionPercentage
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: a52d2164-c3a2-4410-8a48-c51d6724edb8
        - name: includeCounterInfo
          in: query
          required: false
          schema:
            type: string
          example: "true"
      responses:
        "200":
          description: Success
  /api/notifications/v1/{id}/WebPush:
    get:
      tags:
        - api
      summary: GET /api/notifications/v1/{id}/WebPush
      operationId: get_api_notifications_v1_id_WebPush
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: channelConfirmation
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 80542a80-e7e2-4b4b-a08a-81eb0b2491b7
        - name: correlationId
          in: query
          required: false
          schema:
            type: string
          example: ec8ceaeb-387f-433e-b4e6-112043e1d7c0
      responses:
        "200":
          description: Success
  /messenger/web/ping:
    post:
      tags:
        - messenger
      summary: POST /messenger/web/ping
      operationId: post_messenger_web_ping
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties:
                type: string
            examples:
              fromHar:
                value:
                  app_id: x8o64ufr
                  v: "3"
                  g: 7812e626493c809323fdf489be829787fcbfd8c8
                  s: 1d9edacc-6e30-47df-862f-73a7095bdfd0
                  r: https%3A%2F%2Fwww.etoro.com%2F
                  platform: web
                  installation_type: npm-package
                  installation_version: undefined
                  Idempotency-Key: 914e56c1436529be
                  internal: "%7B%7D"
                  is_intersection_booted: "false"
                  page_title: eToro
                  user_active_company_id: "-1"
                  user_data: "%7B%22user_id%22%3A%2247598870%22%2C%22user_hash%22%3A%226da344e30da897599969cf4b1c1cf691c48b31644c86e99cbb\
                    9a3c4dc1ea1080%22%2C%22anonymous_id%22%3A%223aa31466-4b08-4892-bab9-86caeda9d7a5%22%2C%22name%22%3A\
                    %22joelmiller890350%22%2C%22language_override%22%3A%22en%22%2C%22avatar%22%3A%7B%22type%22%3A%22ava\
                    tar%22%2C%22image_url%22%3A%22https%3A%2F%2Fetoro-cdn.etorostatic.com%2Fimages%2Favatoros%2F150x150\
                    %2Fin.png%22%7D%2C%22application%22%3A%22ReToro%22%2C%22country_by_kyc%22%3A%22India%22%2C%22first_\
                    name%22%3Anull%2C%22last_name%22%3Anull%2C%22full_name%22%3A%22joelmiller890350%22%2C%22user_name%2\
                    2%3A%22joelmiller890350%22%2C%22club_tier%22%3A1%2C%22verification_level%22%3A0%2C%22regulation_id%\
                    22%3A5%2C%22pi_level%22%3A0%2C%22depositor%22%3Afalse%7D"
                  source: apiUpdate
                  sampling: "false"
                  referer: https%3A%2F%2Fwww.etoro.com%2Fhome
                  device_identifier: 3016aaec-cac3-45a9-9a69-33d745ad83b5
      responses:
        "200":
          description: Success
  /events:
    post:
      tags:
        - events
      summary: POST /events
      operationId: post_events
      parameters:
        - name: cee
          in: query
          required: false
          schema:
            type: string
          example: no
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventsPostRequest"
            examples:
              fromHar:
                value:
                  event_name: PageView
                  fb.dynamic_product_ads: {}
                  custom_data: {}
                  event_id: ob3_plugin-set_a0d5e4a227273299e3393e187d315ecc544bbd7e04b62be68f196d5a1ac3bafe
                  fb.pixel_id: "432617183539790"
                  fb.advanced_matching:
                    external_id: 0b7c8e784c669c187be4c12c954be52b51f2bd2a09bd5e7709298fa0570a4f54
                    ph: 0b7c8e784c669c187be4c12c954be52b51f2bd2a09bd5e7709298fa0570a4f54
                  website_context:
                    location: https://www.etoro.com/watchlists
                    referrer: https://www.etoro.com/
                    isInIFrame: false
                  fb.fbp: fb.1.1776243281174.611914676274456325
                  event_meta_info:
                    experiment_detail:
                      name: cbsdk_pixel_userdata_unification
                      is_exposed: true
                      is_in_control: false
                      is_in_treatment: true
                    cc_info:
                      ccs: 1235142969830584,840545412745328,1151966781509894
                      cas: 1427246564062197,1048592795213064,24695353530161462,7384200444968919,7862028160508495,10018393254933885,6908669189254934,6114421181970663,2694772603952615,2187477224672730,3709555302404149,2546677512042719,2908546459159364,2045736035483498,1789205344469061,1708680282559548,1843327099062789
      responses:
        "200":
          description: Success
  /loaders/history-changes-r.html:
    get:
      tags:
        - loaders
      summary: GET /loaders/history-changes-r.html
      operationId: get_loaders_history_changes_r_html
      parameters:
        - name: target
          in: query
          required: false
          schema:
            type: string
          example: /common-events/user-added-to-watchlist
      responses:
        "200":
          description: Success
  /api/watchlist/v1/watchlists/{id}:
    post:
      tags:
        - api
      summary: POST /api/watchlist/v1/watchlists/{id}
      operationId: post_api_watchlist_v1_watchlists_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: newasdefault-watchlist
        - name: doNotReturnBadRequest
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: Name
          in: query
          required: false
          schema:
            type: string
          example: watchlistItem.emptyState.favouriteWatchlistName
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 57ece593-b03e-46e3-91fd-bf55a8e8cc85
      responses:
        "200":
          description: Success
    get:
      tags:
        - api
      summary: GET /api/watchlist/v1/watchlists/{id}
      operationId: get_api_watchlist_v1_watchlists_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: bcc97ba9-b3e1-4632-b168-1f8139aadf7e
        - name: doNotReturnBadRequest
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 36f50bae-1dab-4d48-af84-06d4f2066751
      responses:
        "200":
          description: Success
  /tr:
    get:
      tags:
        - tr
      summary: GET /tr
      operationId: get_tr
      parameters:
        - name: id
          in: query
          required: false
          schema:
            type: string
          example: "432617183539790"
        - name: ev
          in: query
          required: false
          schema:
            type: string
          example: PageView
        - name: dl
          in: query
          required: false
          schema:
            type: string
          example: https://www.etoro.com
        - name: rl
          in: query
          required: false
          schema:
            type: string
          example: https://www.etoro.com
        - name: if
          in: query
          required: false
          schema:
            type: string
          example: "false"
        - name: ts
          in: query
          required: false
          schema:
            type: string
          example: "1776243749270"
        - name: sw
          in: query
          required: false
          schema:
            type: string
          example: "1536"
        - name: sh
          in: query
          required: false
          schema:
            type: string
          example: "864"
        - name: cud[external_id]
          in: query
          required: false
          schema:
            type: string
          example: "########"
        - name: ncud[external_id]
          in: query
          required: false
          schema:
            type: string
          example: "########"
        - name: ud[external_id]
          in: query
          required: false
          schema:
            type: string
          example: 0b7c8e784c669c187be4c12c954be52b51f2bd2a09bd5e7709298fa0570a4f54
        - name: ncud[ph]
          in: query
          required: false
          schema:
            type: string
          example: "########"
        - name: ud[ph]
          in: query
          required: false
          schema:
            type: string
          example: 0b7c8e784c669c187be4c12c954be52b51f2bd2a09bd5e7709298fa0570a4f54
        - name: aud[external_id]
          in: query
          required: false
          schema:
            type: string
          example: 0b7c8e784c669c187be4c12c954be52b51f2bd2a09bd5e7709298fa0570a4f54
        - name: v
          in: query
          required: false
          schema:
            type: string
          example: 2.9.298
        - name: r
          in: query
          required: false
          schema:
            type: string
          example: stable
        - name: ec
          in: query
          required: false
          schema:
            type: string
          example: "5"
        - name: o
          in: query
          required: false
          schema:
            type: string
          example: "4124"
        - name: fbp
          in: query
          required: false
          schema:
            type: string
          example: fb.1.1776243281174.611914676274456325
        - name: eid
          in: query
          required: false
          schema:
            type: string
          example: ob3_plugin-set_a0d5e4a227273299e3393e187d315ecc544bbd7e04b62be68f196d5a1ac3bafe
        - name: pm
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: hrl
          in: query
          required: false
          schema:
            type: string
          example: "098367"
        - name: cdl
          in: query
          required: false
          schema:
            type: string
          example: API_unavailable
        - name: plt
          in: query
          required: false
          schema:
            type: string
          example: "1724.1000000238419"
        - name: ups[pv]
          in: query
          required: false
          schema:
            type: string
          example: "{}"
        - name: ups[rpv]
          in: query
          required: false
          schema:
            type: string
          example: "{}"
        - name: it
          in: query
          required: false
          schema:
            type: string
          example: "1776243749266"
        - name: coo
          in: query
          required: false
          schema:
            type: string
          example: "false"
        - name: cs_cc
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: ccs
          in: query
          required: false
          schema:
            type: string
          example: 1235142969830584,840545412745328,1151966781509894
        - name: cas
          in: query
          required: false
          schema:
            type: string
          example: 1427246564062197,1048592795213064,24695353530161462,7384200444968919,7862028160508495,10018393254933885,6908669189254934,6114421181970663,2694772603952615,2187477224672730,3709555302404149,2546677512042719,2908546459159364,2045736035483498,1789205344469061,1708680282559548,1843327099062789
        - name: dlc
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: rlc
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: cf
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: expv2[0]
          in: query
          required: false
          schema:
            type: string
          example: pl0
        - name: expv2[1]
          in: query
          required: false
          schema:
            type: string
          example: el2
        - name: expv2[2]
          in: query
          required: false
          schema:
            type: string
          example: bc1
        - name: expv2[3]
          in: query
          required: false
          schema:
            type: string
          example: ra0
        - name: expv2[4]
          in: query
          required: false
          schema:
            type: string
          example: rp0
        - name: expv2[5]
          in: query
          required: false
          schema:
            type: string
          example: ct3
        - name: expv2[6]
          in: query
          required: false
          schema:
            type: string
          example: hf0
        - name: rqm
          in: query
          required: false
          schema:
            type: string
          example: GET
      responses:
        "200":
          description: Success
  /privacy_sandbox/pixel/register/trigger:
    get:
      tags:
        - privacy_sandbox
      summary: GET /privacy_sandbox/pixel/register/trigger
      operationId: get_privacy_sandbox_pixel_register_trigger
      parameters:
        - name: id
          in: query
          required: false
          schema:
            type: string
          example: "432617183539790"
        - name: ev
          in: query
          required: false
          schema:
            type: string
          example: PageView
        - name: dl
          in: query
          required: false
          schema:
            type: string
          example: https://www.etoro.com
        - name: rl
          in: query
          required: false
          schema:
            type: string
          example: https://www.etoro.com
        - name: if
          in: query
          required: false
          schema:
            type: string
          example: "false"
        - name: ts
          in: query
          required: false
          schema:
            type: string
          example: "1776243749270"
        - name: sw
          in: query
          required: false
          schema:
            type: string
          example: "1536"
        - name: sh
          in: query
          required: false
          schema:
            type: string
          example: "864"
        - name: cud[external_id]
          in: query
          required: false
          schema:
            type: string
          example: "########"
        - name: ncud[external_id]
          in: query
          required: false
          schema:
            type: string
          example: "########"
        - name: ud[external_id]
          in: query
          required: false
          schema:
            type: string
          example: 0b7c8e784c669c187be4c12c954be52b51f2bd2a09bd5e7709298fa0570a4f54
        - name: ncud[ph]
          in: query
          required: false
          schema:
            type: string
          example: "########"
        - name: ud[ph]
          in: query
          required: false
          schema:
            type: string
          example: 0b7c8e784c669c187be4c12c954be52b51f2bd2a09bd5e7709298fa0570a4f54
        - name: aud[external_id]
          in: query
          required: false
          schema:
            type: string
          example: 0b7c8e784c669c187be4c12c954be52b51f2bd2a09bd5e7709298fa0570a4f54
        - name: v
          in: query
          required: false
          schema:
            type: string
          example: 2.9.298
        - name: r
          in: query
          required: false
          schema:
            type: string
          example: stable
        - name: ec
          in: query
          required: false
          schema:
            type: string
          example: "5"
        - name: o
          in: query
          required: false
          schema:
            type: string
          example: "4124"
        - name: fbp
          in: query
          required: false
          schema:
            type: string
          example: fb.1.1776243281174.611914676274456325
        - name: eid
          in: query
          required: false
          schema:
            type: string
          example: ob3_plugin-set_a0d5e4a227273299e3393e187d315ecc544bbd7e04b62be68f196d5a1ac3bafe
        - name: pm
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: hrl
          in: query
          required: false
          schema:
            type: string
          example: "098367"
        - name: cdl
          in: query
          required: false
          schema:
            type: string
          example: API_unavailable
        - name: plt
          in: query
          required: false
          schema:
            type: string
          example: "1724.1000000238419"
        - name: ups[pv]
          in: query
          required: false
          schema:
            type: string
          example: "{}"
        - name: ups[rpv]
          in: query
          required: false
          schema:
            type: string
          example: "{}"
        - name: it
          in: query
          required: false
          schema:
            type: string
          example: "1776243749266"
        - name: coo
          in: query
          required: false
          schema:
            type: string
          example: "false"
        - name: cs_cc
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: ccs
          in: query
          required: false
          schema:
            type: string
          example: 1235142969830584,840545412745328,1151966781509894
        - name: cas
          in: query
          required: false
          schema:
            type: string
          example: 1427246564062197,1048592795213064,24695353530161462,7384200444968919,7862028160508495,10018393254933885,6908669189254934,6114421181970663,2694772603952615,2187477224672730,3709555302404149,2546677512042719,2908546459159364,2045736035483498,1789205344469061,1708680282559548,1843327099062789
        - name: dlc
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: rlc
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: cf
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: expv2[0]
          in: query
          required: false
          schema:
            type: string
          example: pl0
        - name: expv2[1]
          in: query
          required: false
          schema:
            type: string
          example: el2
        - name: expv2[2]
          in: query
          required: false
          schema:
            type: string
          example: bc1
        - name: expv2[3]
          in: query
          required: false
          schema:
            type: string
          example: ra0
        - name: expv2[4]
          in: query
          required: false
          schema:
            type: string
          example: rp0
        - name: expv2[5]
          in: query
          required: false
          schema:
            type: string
          example: ct3
        - name: expv2[6]
          in: query
          required: false
          schema:
            type: string
          example: hf0
        - name: rqm
          in: query
          required: false
          schema:
            type: string
          example: FGET
      responses:
        "200":
          description: Success
  /sapi/instrumentsinfo/instruments/Filtered/popular:
    get:
      tags:
        - sapi
      summary: GET /sapi/instrumentsinfo/instruments/Filtered/popular
      operationId: get_sapi_instrumentsinfo_instruments_Filtered_popular
      parameters:
        - name: pageSize
          in: query
          required: false
          schema:
            type: string
          example: "50"
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: a50c2b02-f294-427d-98b4-705f1e2c8447
      responses:
        "200":
          description: Success
  /api/appdata/v1/keydata/eToro/firstTimeGuide:
    put:
      tags:
        - api
      summary: PUT /api/appdata/v1/keydata/eToro/firstTimeGuide
      operationId: put_api_appdata_v1_keydata_eToro_firstTimeGuide
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 92698011-c23e-4b75-9085-e7d1ef899525
        - name: correlationId
          in: query
          required: false
          schema:
            type: string
          example: 22ed84df-bb3b-4f78-94f3-ab7d038a5c20
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiPutRequest"
            examples:
              fromHar:
                value:
                  hasSeen: true
      responses:
        "200":
          description: Success
  /g/collect:
    post:
      tags:
        - g
      summary: POST /g/collect
      operationId: post_g_collect
      parameters:
        - name: v
          in: query
          required: false
          schema:
            type: string
          example: "2"
        - name: tid
          in: query
          required: false
          schema:
            type: string
          example: G-B0NS054E7V
        - name: gtm
          in: query
          required: false
          schema:
            type: string
          example: 45je64d1v881758534z879078798za20gzb79078798zd79078798
        - name: _p
          in: query
          required: false
          schema:
            type: string
          example: "1776243358980"
        - name: _gaz
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: gcs
          in: query
          required: false
          schema:
            type: string
          example: G111
        - name: gcd
          in: query
          required: false
          schema:
            type: string
          example: 13v3v3v3v5l1
        - name: npa
          in: query
          required: false
          schema:
            type: string
          example: "0"
        - name: dma
          in: query
          required: false
          schema:
            type: string
          example: "0"
        - name: _eu
          in: query
          required: false
          schema:
            type: string
          example: AAAAAGQ
        - name: are
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: cid
          in: query
          required: false
          schema:
            type: string
          example: "1158714914.1776243282"
        - name: frm
          in: query
          required: false
          schema:
            type: string
          example: "0"
        - name: pscdl
          in: query
          required: false
          schema:
            type: string
          example: noapi
        - name: rcb
          in: query
          required: false
          schema:
            type: string
          example: "12"
        - name: sr
          in: query
          required: false
          schema:
            type: string
          example: 1536x864
        - name: uaa
          in: query
          required: false
          schema:
            type: string
          example: x86
        - name: uab
          in: query
          required: false
          schema:
            type: string
          example: "64"
        - name: uafvl
          in: query
          required: false
          schema:
            type: string
          example: Google%20Chrome;147.0.7727.56|Not.A%2FBrand;8.0.0.0|Chromium;147.0.7727.56
        - name: uam
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: uamb
          in: query
          required: false
          schema:
            type: string
          example: "0"
        - name: uap
          in: query
          required: false
          schema:
            type: string
          example: Windows
        - name: uapv
          in: query
          required: false
          schema:
            type: string
          example: 19.0.0
        - name: uaw
          in: query
          required: false
          schema:
            type: string
          example: "0"
        - name: ul
          in: query
          required: false
          schema:
            type: string
          example: en-gb
        - name: gaf
          in: query
          required: false
          schema:
            type: string
          example: "2"
        - name: _s
          in: query
          required: false
          schema:
            type: string
          example: "6"
        - name: tag_exp
          in: query
          required: false
          schema:
            type: string
          example: 0~115616986~115938465~115938468~116363097~117266400~117512543~117884344~117971173~118128923
        - name: uid
          in: query
          required: false
          schema:
            type: string
          example: "47594450"
        - name: sid
          in: query
          required: false
          schema:
            type: string
          example: "1776243282"
        - name: sct
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: seg
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: dl
          in: query
          required: false
          schema:
            type: string
          example: https://www.etoro.com/watchlists
        - name: dr
          in: query
          required: false
          schema:
            type: string
          example: https://www.etoro.com/
        - name: dt
          in: query
          required: false
          schema:
            type: string
          example: eToro
        - name: _tu
          in: query
          required: false
          schema:
            type: string
          example: CA
        - name: en
          in: query
          required: false
          schema:
            type: string
          example: page_view
        - name: ep.funnel_page_category
          in: query
          required: false
          schema:
            type: string
          example: Clients
        - name: ep.real_URL
          in: query
          required: false
          schema:
            type: string
          example: https://www.etoro.com/watchlists
        - name: ep.setting_status
          in: query
          required: false
          schema:
            type: string
          example: Real
        - name: ep.is_logged_in
          in: query
          required: false
          schema:
            type: string
          example: Yes
        - name: ep.event_trigger
          in: query
          required: false
          schema:
            type: string
          example: GTM page to GA
        - name: ep.hit_referrer
          in: query
          required: false
          schema:
            type: string
          example: https://www.etoro.com/
        - name: ep.platform
          in: query
          required: false
          schema:
            type: string
          example: Web
        - name: ep.full_URL_dl
          in: query
          required: false
          schema:
            type: string
          example: https://www.etoro.com/watchlists
        - name: ep.ec_hashed
          in: query
          required: false
          schema:
            type: string
          example: 1457fc4e958ea660f3cea84a74a821aa4a15c1af20cbd6a294af1a469930bdfb
        - name: ep.ga_client_event
          in: query
          required: false
          schema:
            type: string
          example: GA1.2.1158714914.1776243282
        - name: ep.logged_in_cookie
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: ep.environment
          in: query
          required: false
          schema:
            type: string
          example: production
        - name: _et
          in: query
          required: false
          schema:
            type: string
          example: "211160"
        - name: up.user_country
          in: query
          required: false
          schema:
            type: string
          example: United States
        - name: tfd
          in: query
          required: false
          schema:
            type: string
          example: "393520"
        - name: _prs
          in: query
          required: false
          schema:
            type: string
          example: ok
        - name: _c
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: epn.amount_original
          in: query
          required: false
          schema:
            type: string
          example: "100"
        - name: epn.amount_usd
          in: query
          required: false
          schema:
            type: string
          example: "100"
        - name: epn.amount_usd_metric
          in: query
          required: false
          schema:
            type: string
          example: "100"
        - name: epn.amount_original_metric
          in: query
          required: false
          schema:
            type: string
          example: "100"
        - name: ep.event_name_for_audience
          in: query
          required: false
          schema:
            type: string
          example: Deposit - Attempt - FTD
        - name: ep.undefined
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: ep.event_category
          in: query
          required: false
          schema:
            type: string
          example: Deposit
        - name: ep.event_action
          in: query
          required: false
          schema:
            type: string
          example: Deposit - Attempt
        - name: ep.event_label
          in: query
          required: false
          schema:
            type: string
          example: FTD
        - name: ep.currency_original
          in: query
          required: false
          schema:
            type: string
          example: USD
        - name: ep.fundingType
          in: query
          required: false
          schema:
            type: string
          example: CREDIT_CARD
        - name: epn.undefined
          in: query
          required: false
          schema:
            type: string
          example: "100"
        - name: upn.deposit_count
          in: query
          required: false
          schema:
            type: string
          example: "0"
        - name: up.verification_level
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: up.is_logged_in_user
          in: query
          required: false
          schema:
            type: string
          example: No
      requestBody:
        required: true
        content:
          text/plain;charset=UTF-8:
            schema:
              type: string
            examples:
              fromHar:
                value: "en=Watchlist%20-%20Item%20Added&ep.funnel_page_category=Clients&ep.real_URL=https%3A%2F%2Fwww.etoro.com%2Fwatch\
                  lists&ep.setting_status=Real&ep.is_logged_in=Yes&ep.event_trigger=GTM%20event%20to%20GA&ep.hit_referr\
                  er=https%3A%2F%2Fwww.etoro.com%2F&ep.platform=Web&ep.full_URL_dl=https%3A%2F%2Fwww.etoro.com%2Fwatchl\
                  ists&ep.ec_hashed=1457fc4e958ea660f3cea84a74a821aa4a15c1af20cbd6a294af1a469930bdfb&ep.ga_client_event\
                  =GA1.2.1158714914.1776243282&ep.logged_in_cookie=1&ep.environment=production&ep.event_name_for_audien\
                  ce=Watchlist%20-%20Item%20Added&ep.event_category=Watchlist&ep.event_action=Watchlist%20-%20Item%20Ad\
                  ded&ep.event_label=Add&_et=4998\r

                  en=Watchlist%20-%20Item%20Added&ep.funnel_page_category=Clients&ep.real_URL=https%3A%2F%2Fwww.etoro.c\
                  om%2Fwatchlists&ep.setting_status=Real&ep.is_logged_in=Yes&ep.event_trigger=GTM%20event%20to%20GA&ep.\
[...]
