openapi: 3.0.3
info:
  title: Etoro App
  version: 1.0.0
servers:
  - url: https://www.etoro.com
tags:
  - name: abtesting
  - name: account
  - name: appdata
  - name: billing
  - name: discoveryfacade
  - name: edm-streams
  - name: etwallet
  - name: funnel
  - name: homepagefacade
  - name: kycx-flow
  - name: kycx-staticdata
  - name: logindata
  - name: logininfo
  - name: marketpage
  - name: money
  - name: moneybus
  - name: notifications
  - name: onboarding
  - name: payments
  - name: ping
  - name: status
  - name: sts
  - name: subscriptions
  - name: torii
  - name: userpage
  - name: userpagestats
  - name: v1
  - name: v2
  - name: wallet
  - name: watchlist
  - name: withdraw-facade
paths:
  /api/kycx-staticdata/v1/PagesLayout/seychelles-flow/welcome:
    get:
      tags:
        - kycx-staticdata
      summary: GET /api/kycx-staticdata/v1/PagesLayout/seychelles-flow/welcome
      operationId: get_api_kycx_staticdata_v1_PagesLayout_seychelles_flow_welcome
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: dfd12990-2cc3-44ef-b670-bd501d23e565
      responses:
        "200":
          description: Success
  /api/v2/monitoring:
    post:
      tags:
        - v2
      summary: POST /api/v2/monitoring
      operationId: post_api_v2_monitoring
      parameters:
        - name: applicationIdentifier
          in: query
          required: false
          schema:
            type: string
          example: ReToro
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V2PostRequest"
            examples:
              fromHar:
                value:
                  LogEvents:
                    - Message: login success flow - on progress
                      Categories: loginSuccessFlow
                      Domain: Infra
                      ProgressData:
                        loginGuid: b8679065-c96a-4a47-959c-fa18709a64bd
                        loginFlow: registration
                        duration: 414
                        status: ActionEnd
                        actionName: complianceGapsLoginWorkflowService
                        currentStep: 14
                        stoppedFlow: false
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 179
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:06.441Z
                      SecondsFromStartUp: 67
                    - Message: login success flow - on progress
                      Categories: loginSuccessFlow
                      Domain: Infra
                      ProgressData:
                        loginGuid: b8679065-c96a-4a47-959c-fa18709a64bd
                        loginFlow: registration
                        status: ActionStart
                        actionName: complianceGapsKycCompleteService
                        currentStep: 15
                        stoppedFlow: false
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 180
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:06.442Z
                      SecondsFromStartUp: 67
                    - Categories: KYC_KycNotAsPopupExperiment
                      Message: Checking if need to show KYC complete popup
                      IsKycNotAsPopupExperimentEnabled: false
                      IsFirstVisit: true
                      StackTrace: ComplianceGapsKycCompleteService.needToShowKYCCompletePopup
                      Domain: Compliance
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 181
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:06.442Z
                      SecondsFromStartUp: 67
                    - Categories: KYCX_isNewKycCheck
                      Message: KYCX rollout check
                      Source: Volunteer
                      Domain: Compliance
                      IsMigrationRolloutEnabled: true
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 182
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:06.869Z
                      SecondsFromStartUp: 67
                    - Categories: KYCX_isNewKycCheck
                      Message: Should open KYCX - [rollout decision]
                      Source: Volunteer
                      AbTestMessage: Decision was taken by previous data
                      KycState: 0
                      Domain: Compliance
                      IsMigrationRolloutEnabled: true
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 183
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:06.869Z
                      SecondsFromStartUp: 67
                    - Categories: KYCX
                      Message: KYCX process start
                      Source: Volunteer
                      Domain: Compliance
                      IsMigrationRolloutEnabled: true
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 184
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:06.869Z
                      SecondsFromStartUp: 67
                    - Categories: KYCX
                      Message: KYCX process reaching KNS
                      Source: Volunteer
                      Domain: Compliance
                      IsMigrationRolloutEnabled: true
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 185
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:06.869Z
                      SecondsFromStartUp: 67
                    - Categories: KYCX
                      Message: KYCX process Initing KNS, for starting the KYCX process
                      Source: Volunteer
                      Domain: Compliance
                      IsMigrationRolloutEnabled: true
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 186
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:06.870Z
                      SecondsFromStartUp: 67
                    - Categories: KYCX
                      Message: Initing KNS
                      KnsActionName: load-funnel
                      Domain: Compliance
                      KnsPayload:
                        kycxStart:
                          isMobile: false
                          action: null
                          mode: Volunteer
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 187
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:06.870Z
                      SecondsFromStartUp: 67
                    - Action: null
                      Categories: networkLog
                      Message: networkLogResponsesOK
                      Domain: Compliance
                      Request:
                        id: 8fc274bb-da7e-47e3-b123-47ad2d7142dd
                        isIdSent: true
                        actionUrl: STATUS=200.MODE=Real.URL=kycx-flow.FRONT=wwwetorocom.APP=web
                        data:
                          userFlow: null
                          payload:
                            kycxStart:
                              isMobile: false
                              action: null
                              mode: Volunteer
                        params:
                          client_request_id: 8fc274bb-da7e-47e3-b123-47ad2d7142dd
                        headers:
                          X-Client-Name: AppKycx
                          AccountType: Real
                          X-Session-Id: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                          X-STS-DeviceId: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                          Authorization: "[Filtered{1725}]"
                          ApplicationIdentifier: ReToro
                          ApplicationVersion: v651.1239.3
                        url: /api/kycx-flow/kns/flow
                        method: POST
                        status: 200
                        requestStartTime: 2026-04-15T08:57:06.871Z
                      Performance:
                        isDetailed: false
                        RequestTime: 845
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 188
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:07.716Z
                      SecondsFromStartUp: 68
                    - Categories: KYCX
                      Message: KYCX process KNS success, updating user data
                      Source: Volunteer
                      Domain: Compliance
                      IsMigrationRolloutEnabled: true
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 189
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:07.717Z
                      SecondsFromStartUp: 68
                    - Categories: KYCX
                      Message: KYCX process KNS success, opening kycx dialog
                      Source: Volunteer
                      Domain: Compliance
                      IsMigrationRolloutEnabled: true
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 190
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:08.072Z
                      SecondsFromStartUp: 69
                    - Action: null
                      Categories: networkLog
                      Message: networkLogResponsesOK
                      Domain: Experience
                      Request:
                        id: fb64c18f-232b-47bf-99ee-6d5b1ac4f738
                        isIdSent: true
                        actionUrl: STATUS=200.MODE=Real.URL=kycx-prod.FRONT=etoro-cdnetorostaticcom.APP=web
                        data: {}
                        params:
                          client_request_id: fb64c18f-232b-47bf-99ee-6d5b1ac4f738
                        headers: {}
                        url: https://etoro-cdn.etorostatic.com/web-client-locales/kycx-prod/en-gb.json
                        method: GET
                        status: 200
                        requestStartTime: 2026-04-15T08:57:08.076Z
                      Performance:
                        isDetailed: false
                        RequestTime: 72
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 191
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:08.148Z
                      SecondsFromStartUp: 69
                    - Action: null
                      Categories: networkLog
                      Message: networkLogResponsesOK
                      Domain: Experience
                      Request:
                        id: 25a21db4-818e-492c-b692-df4b44171640
                        isIdSent: true
                        actionUrl: STATUS=200.MODE=Real.URL=abtesting.FRONT=wwwetorocom.APP=web
                        data:
                          "0":
                            projectName: KYC
                            experimentName: localization_changing_currency_experiment
                        params:
                          client_request_id: 25a21db4-818e-492c-b692-df4b44171640
                        headers:
                          X-Session-Id: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                          AccountType: Real
                          X-STS-DeviceId: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                          Authorization: "[Filtered{1725}]"
                          ApplicationIdentifier: ReToro
                          ApplicationVersion: v651.1239.3
                        url: /api/abtesting/variations?
                        method: POST
                        status: 200
                        requestStartTime: 2026-04-15T08:57:08.081Z
                      Performance:
                        isDetailed: false
                        RequestTime: 220
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 192
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:08.301Z
                      SecondsFromStartUp: 69
                    - Categories: GenericAbTest
                      Message: Experiment Started
                      Domain: Infra
                      ExperimentId: localization_changing_currency_experiment
                      VariationId: localization_changing_currency_experiment_control
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 193
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:08.302Z
                      SecondsFromStartUp: 69
                    - Action: null
                      Categories: networkLog
                      Message: networkLogResponsesOK
                      Domain: Experience
                      Request:
                        id: 8644fdd5-f98b-41f8-aa17-2d1cebf062de
                        isIdSent: true
                        actionUrl: STATUS=200.MODE=Real.URL=kycx-staticdata.FRONT=wwwetorocom.APP=web
                        data: {}
                        params:
                          client_request_id: 8644fdd5-f98b-41f8-aa17-2d1cebf062de
                        headers:
                          AccountType: Real
                          X-Session-Id: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                          X-STS-DeviceId: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                          Authorization: "[Filtered{1725}]"
                          ApplicationIdentifier: ReToro
                          ApplicationVersion: v651.1239.3
                        url: /api/kycx-staticdata/v1/Countries
                        method: GET
                        status: 200
                        requestStartTime: 2026-04-15T08:57:08.079Z
                      Performance:
                        isDetailed: false
                        RequestTime: 519
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 194
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:08.598Z
                      SecondsFromStartUp: 69
                    - Action: null
                      Categories: networkLog
                      Message: networkLogResponsesOK
                      Domain: Experience
                      Request:
                        id: 422cfb20-42ab-48ef-b284-4bfe64f5aed8
                        isIdSent: true
                        actionUrl: STATUS=200.MODE=Real.URL=kycx-staticdata.FRONT=wwwetorocom.APP=web
                        data: {}
                        params:
                          client_request_id: 422cfb20-42ab-48ef-b284-4bfe64f5aed8
                        headers:
                          AccountType: Real
                          X-Session-Id: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                          X-STS-DeviceId: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                          Authorization: "[Filtered{1725}]"
                          ApplicationIdentifier: ReToro
                          ApplicationVersion: v651.1239.3
                        url: /api/kycx-staticdata/v1/Countries/usVisaTypes
                        method: GET
                        status: 200
                        requestStartTime: 2026-04-15T08:57:08.079Z
                      Performance:
                        isDetailed: false
                        RequestTime: 1782
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 195
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:09.861Z
                      SecondsFromStartUp: 70
                    - Action: null
                      Categories: networkLog
                      Message: networkLogResponsesOK
                      Domain: Compliance
                      Request:
                        id: dfd12990-2cc3-44ef-b670-bd501d23e565
                        isIdSent: true
                        actionUrl: STATUS=200.MODE=Real.URL=kycx-staticdata.FRONT=wwwetorocom.APP=web
                        data: {}
                        params:
                          client_request_id: dfd12990-2cc3-44ef-b670-bd501d23e565
                        headers:
                          AccountType: Real
                          X-Session-Id: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                          X-STS-DeviceId: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                          Authorization: "[Filtered{1725}]"
                          ApplicationIdentifier: ReToro
                          ApplicationVersion: v651.1239.3
                        url: /api/kycx-staticdata/v1/PagesLayout/seychelles-flow/welcome
                        method: GET
                        status: 200
                        requestStartTime: 2026-04-15T08:57:09.874Z
                      Performance:
                        isDetailed: false
                        RequestTime: 316
                      Level: info
                      PushStatus: true
                      Mode: Real
                      PageUrl: /home
                      IsLoggedIn: true
                      CID: 47594450
                      Username: joelmiller890350
                      BatchIndex: 196
                      ApplicationIdentifier: ReToro
                      ApplicationVersion: v651.1239.3
                      SessionGuid: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
                      UserSessionGuid: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
                      LSSessionId: Sca16e88f1fc6a107M5b9T5632813
                      ClientDateTime: 2026-04-15T08:57:10.190Z
                      SecondsFromStartUp: 71
                  MonitorEvents: []
      responses:
        "200":
          description: Success
    options:
      tags:
        - v2
      summary: OPTIONS /api/v2/monitoring
      operationId: options_api_v2_monitoring
      responses:
        "200":
          description: Success
  /api/kycx-flow/kns/flow/seychelles-flow/next-step/welcome:
    post:
      tags:
        - kycx-flow
      summary: POST /api/kycx-flow/kns/flow/seychelles-flow/next-step/welcome
      operationId: post_api_kycx_flow_kns_flow_seychelles_flow_next_step_welcome
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 253b6db7-5d0d-4aaf-9987-9a9fc562144e
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Kycx-flowPostRequest"
            examples:
              fromHar:
                value:
                  userFlow: "1134544360088798208"
                  payload: null
      responses:
        "200":
          description: Success
  /api/kycx-flow/kns/userflows/{id}/progress:
    get:
      tags:
        - kycx-flow
      summary: GET /api/kycx-flow/kns/userflows/{id}/progress
      operationId: get_api_kycx_flow_kns_userflows_id_progress
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: "1134544360088798208"
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 24d874c8-8879-4af7-b9ca-2022527b574e
      responses:
        "200":
          description: Success
  /api/kycx-staticdata/v1/PagesLayout/seychelles-flow/{id}:
    get:
      tags:
        - kycx-staticdata
      summary: GET /api/kycx-staticdata/v1/PagesLayout/seychelles-flow/{id}
      operationId: get_api_kycx_staticdata_v1_PagesLayout_seychelles_flow_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: personal-details
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 787032ac-11fd-4ee5-94d5-5b3d4a31e15c
      responses:
        "200":
          description: Success
  /api/kycx-flow/kns/flow/seychelles-flow/next-step/{id}:
    post:
      tags:
        - kycx-flow
      summary: POST /api/kycx-flow/kns/flow/seychelles-flow/next-step/{id}
      operationId: post_api_kycx_flow_kns_flow_seychelles_flow_next_step_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: personal-details
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 48c8811a-8d55-4b13-844f-5fa156899325
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Kycx-flowPostRequest"
            examples:
              fromHar:
                value:
                  userFlow: "1134544360088798208"
                  payload:
                    basicUserInfo:
                      dateOfBirth:
                        dateOfBirth: 1995-01-15T00:00:00.000Z
                      gender:
                        gender: Male
                      fullName:
                        first: Joel
                        middle: ""
                        last: Miller
      responses:
        "200":
          description: Success
  /api/appdata/v1/keydata/eToro/complianceKYCX:
    put:
      tags:
        - appdata
      summary: PUT /api/appdata/v1/keydata/eToro/complianceKYCX
      operationId: put_api_appdata_v1_keydata_eToro_complianceKYCX
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 6c6ed7ec-43b1-4c7f-a4a1-f0fb90d6507c
        - name: correlationId
          in: query
          required: false
          schema:
            type: string
          example: 6e67c037-3e21-4d09-bf2b-fa0a05c78042
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppdataPutRequest"
            examples:
              fromHar:
                value:
                  isAddressTwoLinerShown: 1
      responses:
        "200":
          description: Success
  /api/kycx-staticdata/v1/PagesLayout/seychelles-flow/address-details:
    get:
      tags:
        - kycx-staticdata
      summary: GET /api/kycx-staticdata/v1/PagesLayout/seychelles-flow/address-details
      operationId: get_api_kycx_staticdata_v1_PagesLayout_seychelles_flow_address_details
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 2818b998-872f-49d1-bab2-58883dc51954
      responses:
        "200":
          description: Success
  /api/edm-streams/v1/feed/{id}:
    get:
      tags:
        - edm-streams
      summary: GET /api/edm-streams/v1/feed/{id}
      operationId: get_api_edm_streams_v1_feed_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: popularInvestors
        - name: take
          in: query
          required: false
          schema:
            type: string
          example: "10"
        - name: offset
          in: query
          required: false
          schema:
            type: string
          example: "0"
        - name: reactionsPageSize
          in: query
          required: false
          schema:
            type: string
          example: "20"
        - name: badgesExperimentIsEnabled
          in: query
          required: false
          schema:
            type: string
          example: "false"
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 7810f289-6776-4fab-a5bd-af27ddf9b62a
      responses:
        "200":
          description: Success
  /api/kycx-flow/kns/flow/seychelles-flow/navigate/{id}:
    post:
      tags:
        - kycx-flow
      summary: POST /api/kycx-flow/kns/flow/seychelles-flow/navigate/{id}
      operationId: post_api_kycx_flow_kns_flow_seychelles_flow_navigate_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: personal-details
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: b5a8d697-a5fd-45af-9586-3be030dd0d59
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Kycx-flowPostRequest"
            examples:
              fromHar:
                value:
                  userFlow: "1134544360088798208"
                  payload: null
                  step:
                    flow: seychelles-flow
                    name: personal-details
                    display: dob
                    conditions:
                      - name: name
                        isSatisfied: true
                      - name: gender
                        isSatisfied: true
                      - name: dob
                        isSatisfied: true
      responses:
        "200":
          description: Success
  /api/kycx-flow/kns/flow/seychelles-flow/next-step/address-details:
    post:
      tags:
        - kycx-flow
      summary: POST /api/kycx-flow/kns/flow/seychelles-flow/next-step/address-details
      operationId: post_api_kycx_flow_kns_flow_seychelles_flow_next_step_address_details
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 99603e24-2bde-44f9-a941-62ccaa3c36ab
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Kycx-flowPostRequest"
            examples:
              fromHar:
                value:
                  userFlow: "1134544360088798208"
                  payload:
                    addressFull:
                      addressInfo:
                        buildingNumber: "1250"
                        address: Maple Avenue
                        city: California
                        provinceId: 3500
                        zip: "90028"
                        countryId: 219
                        disclaimers:
                          isResidencePobCitizenshipCountry: true
      responses:
        "200":
          description: Success
  /api/kycx-staticdata/v1/Countries/{id}/{id2}:
    get:
      tags:
        - kycx-staticdata
      summary: GET /api/kycx-staticdata/v1/Countries/{id}/{id2}
      operationId: get_api_kycx_staticdata_v1_Countries_id_id2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: NationalIdentification
        - name: id2
          in: path
          required: true
          schema:
            type: string
          example: "219"
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 086b51cd-6e94-4070-bd6a-cf98e456e5af
      responses:
        "200":
          description: Success
  /api/kycx-staticdata/v1/pinValidations/{id}/json:
    get:
      tags:
        - kycx-staticdata
      summary: GET /api/kycx-staticdata/v1/pinValidations/{id}/json
      operationId: get_api_kycx_staticdata_v1_pinValidations_id_json
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: "219"
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 78f565f6-9518-499b-80ea-04f13f606a66
      responses:
        "200":
          description: Success
  /api/kycx-staticdata/v1/PagesLayout/seychelles-flow/pin-info:
    get:
      tags:
        - kycx-staticdata
      summary: GET /api/kycx-staticdata/v1/PagesLayout/seychelles-flow/pin-info
      operationId: get_api_kycx_staticdata_v1_PagesLayout_seychelles_flow_pin_info
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 70558df5-2a3d-4f70-b81f-ecb89f882099
      responses:
        "200":
          description: Success
  /api/kycx-flow/kns/flow/seychelles-flow/next-step/pin-info:
    post:
      tags:
        - kycx-flow
      summary: POST /api/kycx-flow/kns/flow/seychelles-flow/next-step/pin-info
      operationId: post_api_kycx_flow_kns_flow_seychelles_flow_next_step_pin_info
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: fe8e1683-a9c4-4c75-964e-f7e89313d006
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Kycx-flowPostRequest"
            examples:
              fromHar:
                value:
                  userFlow: "1134544360088798208"
                  payload:
                    personalIdentificationInfo:
                      countryId: 219
                      identificationType: SocialSecurityNumberPIN
                      value: "223344556"
                      addAdditionalCitizenship: false
      responses:
        "200":
          description: Success
  /api/homepagefacade/v2/homepage/components:
    post:
      tags:
        - homepagefacade
      summary: POST /api/homepagefacade/v2/homepage/components
      operationId: post_api_homepagefacade_v2_homepage_components
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 2e54bfb0-b720-49eb-a6c3-c8839bb5c316
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HomepagefacadePostRequest"
            examples:
              fromHar:
                value:
                  dataComponents:
                    - type: Onboarding
                    - type: Overview
                      params:
                        isBasicProgramEligibility: true
                    - type: OverviewRedesign
                      params:
                        isBasicProgramEligibility: true
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/aggregatedInfo:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/aggregatedInfo
      operationId: get_api_logininfo_v1_1_aggregatedInfo
      parameters:
        - name: cidlist
          in: query
          required: false
          schema:
            type: string
          example: "[47594450]"
        - name: realCids
          in: query
          required: false
          schema:
            type: string
          example: "True"
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 91c528a8-6ab6-4741-9ae4-12211c2d782d
        - name: cidList
          in: query
          required: false
          schema:
            type: string
          example: "[39770102,36327519,32624347]"
        - name: avatar
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: realcid
          in: query
          required: false
          schema:
            type: string
          example: "true"
      responses:
        "200":
          description: Success
  /api/notifications/v1/{id}/WebPush:
    get:
      tags:
        - notifications
      summary: GET /api/notifications/v1/{id}/WebPush
      operationId: get_api_notifications_v1_id_WebPush
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: channelConfirmation
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 80542a80-e7e2-4b4b-a08a-81eb0b2491b7
        - name: correlationId
          in: query
          required: false
          schema:
            type: string
          example: ec8ceaeb-387f-433e-b4e6-112043e1d7c0
      responses:
        "200":
          description: Success
  /api/watchlist/v1/watchlists/{id}:
    post:
      tags:
        - watchlist
      summary: POST /api/watchlist/v1/watchlists/{id}
      operationId: post_api_watchlist_v1_watchlists_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: newasdefault-watchlist
        - name: doNotReturnBadRequest
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: Name
          in: query
          required: false
          schema:
            type: string
          example: watchlistItem.emptyState.favouriteWatchlistName
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 57ece593-b03e-46e3-91fd-bf55a8e8cc85
      responses:
        "200":
          description: Success
    get:
      tags:
        - watchlist
      summary: GET /api/watchlist/v1/watchlists/{id}
      operationId: get_api_watchlist_v1_watchlists_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: bcc97ba9-b3e1-4632-b168-1f8139aadf7e
        - name: doNotReturnBadRequest
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 36f50bae-1dab-4d48-af84-06d4f2066751
      responses:
        "200":
          description: Success
  /api/appdata/v1/keydata/eToro/firstTimeGuide:
    put:
      tags:
        - appdata
      summary: PUT /api/appdata/v1/keydata/eToro/firstTimeGuide
      operationId: put_api_appdata_v1_keydata_eToro_firstTimeGuide
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 92698011-c23e-4b75-9085-e7d1ef899525
        - name: correlationId
          in: query
          required: false
          schema:
            type: string
          example: 22ed84df-bb3b-4f78-94f3-ab7d038a5c20
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppdataPutRequest"
            examples:
              fromHar:
                value:
                  hasSeen: true
      responses:
        "200":
          description: Success
  /api/watchlist/v1/watchlists/{id}/items:
    post:
      tags:
        - watchlist
      summary: POST /api/watchlist/v1/watchlists/{id}/items
      operationId: post_api_watchlist_v1_watchlists_id_items
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: bcc97ba9-b3e1-4632-b168-1f8139aadf7e
        - name: doNotReturnBadRequest
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: adc5c548-ec97-4176-9eec-be3df9c1362d
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WatchlistPostRequest"
            examples:
              fromHar:
                value:
                  - ItemType: instrument
                    ItemId: 100000
      responses:
        "200":
          description: Success
    delete:
      tags:
        - watchlist
      summary: DELETE /api/watchlist/v1/watchlists/{id}/items
      operationId: delete_api_watchlist_v1_watchlists_id_items
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: 2417dc4d-6194-4e21-8b1f-b9d1c86c0740
        - name: doNotReturnBadRequest
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: ce80944e-7390-47f6-b933-8a414e9b04c3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WatchlistDeleteRequest"
            examples:
              fromHar:
                value:
                  - ItemType: instrument
                    ItemId: 100000
                  - ItemType: user
                    ItemId: 4107041
                  - ItemType: instrument
                    ItemId: 1137
                  - ItemType: user
                    ItemId: 29117867
                  - ItemType: user
                    ItemId: 6240001
                  - ItemType: instrument
                    ItemId: 100001
                  - ItemType: user
                    ItemId: 16899419
                  - ItemType: instrument
                    ItemId: 1111
                  - ItemType: user
                    ItemId: 35416382
                  - ItemType: user
                    ItemId: 43952515
                  - ItemType: instrument
                    ItemId: 100017
                  - ItemType: user
                    ItemId: 20658172
                  - ItemType: instrument
                    ItemId: 1003
                  - ItemType: user
                    ItemId: 10477286
                  - ItemType: user
                    ItemId: 42153668
                  - ItemType: instrument
                    ItemId: 100063
                  - ItemType: instrument
                    ItemId: 1832
                  - ItemType: instrument
                    ItemId: 7991
      responses:
        "200":
          description: Success
  /api/appdata/v1/keydata/eToro/{id}:
    put:
      tags:
        - appdata
      summary: PUT /api/appdata/v1/keydata/eToro/{id}
      operationId: put_api_appdata_v1_keydata_eToro_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: watchlistEmptyStateDefaultCleanupHandled
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 3dbce42d-4f55-4592-bf8d-905c92e63288
        - name: correlationId
          in: query
          required: false
          schema:
            type: string
          example: f452bb30-605a-49cf-a0ef-f8d17abfad94
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppdataPutRequest"
            examples:
              fromHar:
                value:
                  handled: 1
      responses:
        "200":
          description: Success
  /api/{id}/v1/impressions/publish:
    post:
      tags:
        - v1
      summary: POST /api/{id}/v1/impressions/publish
      operationId: post_api_id_v1_impressions_publish
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: impressions-proxy
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 2b0bd643-ada1-46c2-85e0-ab53f7db8599
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V1PostRequest"
            examples:
              fromHar:
                value:
                  events:
                    - eventName: Watchlist - Item Added
                      properties:
                        Item Name: BTC
                        Item ID: 100000
                        Item Type: Market
                        Instrument Type: Cryptocurrencies
                        Instrument Symbol: BTC
                        Watchlist Name: watchlistItem.emptyState.favouriteWatchlistName
                        Watchlist Type: Default
                        Number of Markets: 0
                        Number of People: 0
                        Number of Smart portfolios: 0
                        View Type: List
                        category: Watchlist
                        label: Add
                        Search ObjectID: "100000"
                        Search Item Type: instrument
                      timestamp: 2026-04-15T09:02:35.674Z
                    - eventName: Watchlist - Item Added
                      properties:
                        Item Name: ETH
                        Item ID: 100001
                        Item Type: Market
                        Instrument Type: Cryptocurrencies
                        Instrument Symbol: ETH
                        Watchlist Name: watchlistItem.emptyState.favouriteWatchlistName
                        Watchlist Type: Default
                        Number of Markets: 0
                        Number of People: 0
                        Number of Smart portfolios: 0
                        View Type: List
                        category: Watchlist
                        label: Add
                        Search ObjectID: "100001"
                        Search Item Type: instrument
                      timestamp: 2026-04-15T09:02:38.215Z
      responses:
        "200":
          description: Success
  /api/abtesting/variations:
    post:
      tags:
        - abtesting
      summary: POST /api/abtesting/variations
      operationId: post_api_abtesting_variations
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 64217bc0-4289-4ecf-88ee-8036407b2a24
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AbtestingPostRequest"
            examples:
              fromHar:
                value:
                  - projectName: Trading
                    experimentName: portfolio_real_time_market_filter
      responses:
        "200":
          description: Success
  /api/discoveryfacade/v1/components/crypto:
    post:
      tags:
        - discoveryfacade
      summary: POST /api/discoveryfacade/v1/components/crypto
      operationId: post_api_discoveryfacade_v1_components_crypto
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 9e1a3097-46ff-4c7d-9d62-83e6fb35af81
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscoveryfacadePostRequest"
            examples:
              fromHar:
                value:
                  groups:
                    - dataComponents:
                        - type: Breadcrumbs
                          params:
                            type: Crypto
                        - type: FeaturedMarkets
                          params:
                            type: Crypto
                            instrumentsCount: 50
                        - type: CryptoSubCategories
                        - type: CryptoMarketCap
                          params:
                            instrumentsCount: 50
                        - type: TopMovers
                          params:
                            instrumentsCount: 50
                            type: Crypto
                        - type: SmartPortfolios
                          params:
                            type: Crypto
                        - type: MostPopularInstruments
                          params:
                            instrumentsCount: 50
                            type: Crypto
                        - type: RankedCopiers
                          params:
                            type: Crypto
                        - type: Nasdaq
                        - type: Nyse
                        - type: AssetTypes
                      minRequiredItems: 11
      responses:
        "200":
          description: Success
  /api/discoveryfacade/v1/components/discovery:
    post:
      tags:
        - discoveryfacade
      summary: POST /api/discoveryfacade/v1/components/discovery
      operationId: post_api_discoveryfacade_v1_components_discovery
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: b84f92b4-d155-4727-94dc-187d5398e51e
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscoveryfacadePostRequest"
            examples:
              fromHar:
                value:
                  groups:
                    - dataComponents:
                        - type: PersonalizedOnboardingQuestions
                          visible: true
                        - type: DiscoveryTicker
                        - type: Placeholder
                        - type: FeaturedMarkets
                          params:
                            instrumentsCount: 50
                        - type: AssetTypes
                        - type: TopMovers
                          params:
                            instrumentsCount: 50
                        - type: LiveTrades
                          params:
                            itemsCount: 0
                        - type: DiscoveryLiveTrades
                          params:
                            itemsCount: 0
                        - type: SmartPortfolios
                        - type: MostPopularInstruments
                          params:
                            instrumentsCount: 100
                        - type: NewlyListedInstruments
                          params:
                            instrumentsCount: 50
                        - type: TimingIsEverything
                          params:
                            instrumentsCount: 100
                        - type: TrendingChatter
                        - type: RankedCopiers
                        - type: FilteredInstruments
                          params:
                            instrumentsCount: 50
                        - type: CfdInstruments
                          params:
                            itemsCount: 4
                            instrumentType: Commodities
                            period: ThreeMonth
                            minPriceChange: 1
                        - type: UsStocksDisclaimer
                        - type: BeatTheMarket
                          params:
                            itemsCount: 4
                            period: ThreeMonths
                        - type: UsDisclosure
                        - type: AlphaPortfoliosPreset
                        - type: DiscoveryBlackRock
                      minRequiredItems: 17
      responses:
        "200":
          description: Success
  /api/discoveryfacade/v1/components/data:
    post:
      tags:
        - discoveryfacade
      summary: POST /api/discoveryfacade/v1/components/data
      operationId: post_api_discoveryfacade_v1_components_data
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 36ff4d90-3310-40b3-98ed-ff28934c8edc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscoveryfacadePostRequest"
            examples:
              fromHar:
                value:
                  dataComponents:
                    - type: CategoryResults
                      params:
                        instrumentType: indices
                        instrumentsCount: 400
                    - type: AssetTypes
                      params: {}
      responses:
        "200":
          description: Success
  /api/abtesting/Retention/{id}/variation:
    get:
      tags:
        - abtesting
      summary: GET /api/abtesting/Retention/{id}/variation
      operationId: get_api_abtesting_Retention_id_variation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: sharable_results_page
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: d5e47442-e3c0-4610-b0a7-e7cbfd75a64e
      responses:
        "200":
          description: Success
  /api/discoveryfacade/v1/components/CopyPeople:
    post:
      tags:
        - discoveryfacade
      summary: POST /api/discoveryfacade/v1/components/CopyPeople
      operationId: post_api_discoveryfacade_v1_components_CopyPeople
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 718434e2-eaef-4d5e-8425-3bb9743f906e
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscoveryfacadePostRequest"
            examples:
              fromHar:
                value:
                  groups:
                    - dataComponents:
                        - type: PersonalizedOnboardingQuestions
                          params:
                            instrumentType: CopyTrading
                          visible: true
                        - type: CopyTradingInfo
                        - type: CopyTradingInfo2
                        - type: FirstTimeExperience
                        - type: FirstTimeExperience2
                        - type: Breadcrumbs
                        - type: FeaturedMarkets
                          params:
                            type: CopyPeople
                        - type: CopyPeoplePreset1V2
                          params:
                            filteredProfessionals: true
                        - type: CopyPeoplePreset2V2
                          params:
                            filteredProfessionals: true
                        - type: CopyPeoplePreset3V2
                          params:
                            filteredProfessionals: true
                        - type: CopyPeoplePreset4V2
                          params:
                            filteredProfessionals: true
                        - type: RankedCopiersPreset1
                        - type: RankedCopiersPreset2
                        - type: RankedCopiersPreset3
                        - type: RankedCopiersPreset4
                        - type: RankedCopiersPreset5
                        - type: AssetTypes
                        - type: InvestorsBySectorsV2
                          params:
                            period: lastTwoYears
                            sectorIds:
                              - 137
                              - 138
                              - 139
                              - 140
                              - 141
                              - 142
                              - 144
                              - 145
                              - 146
                              - 147
                              - 148
                              - 149
                              - 150
                              - 151
                              - 152
                              - 153
                              - 154
                              - 155
                              - 156
                              - 157
                              - 158
                              - 159
                              - 160
                              - 161
                              - 162
                              - 163
                            pisCount: 10
                            minCount: 3
                            filteredProfessionals: true
                          isMandatory: true
                      minRequiredItems: 17
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/rambod59:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/rambod59
      operationId: get_api_logininfo_v1_1_users_rambod59
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: b5c0c882-c23d-4ebb-a703-c57a91cd508c
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/clefsphere:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/clefsphere
      operationId: get_api_logininfo_v1_1_users_clefsphere
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: deea0bbd-39e2-4cf6-8fcf-feae8c02dbfb
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/esdrasvasquez:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/esdrasvasquez
      operationId: get_api_logininfo_v1_1_users_esdrasvasquez
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 4fc14621-a2ae-4216-b3a1-4774ba444e75
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/evelynvilorio11:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/evelynvilorio11
      operationId: get_api_logininfo_v1_1_users_evelynvilorio11
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: ddbd6b3a-8f0f-4923-8c40-110c5464494b
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/{id}:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/{id}
      operationId: get_api_logininfo_v1_1_users_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: frxnco_xdrixn456
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 5d96ad07-6f62-413b-b70c-d1fc7aac6a86
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/ronrwolf13:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/ronrwolf13
      operationId: get_api_logininfo_v1_1_users_ronrwolf13
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 1dd9ea6b-f9ef-4a4e-bf9b-4293a0e8e71f
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/rnjeds:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/rnjeds
      operationId: get_api_logininfo_v1_1_users_rnjeds
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 84841036-8519-4711-a497-1250271eba27
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/kastlefrog:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/kastlefrog
      operationId: get_api_logininfo_v1_1_users_kastlefrog
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: c30144b8-6f72-4081-ab9b-4b422a437957
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/alicio1:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/alicio1
      operationId: get_api_logininfo_v1_1_users_alicio1
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: b3897bc0-dee7-4b68-a064-9284057d2a97
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/jonathandm25:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/jonathandm25
      operationId: get_api_logininfo_v1_1_users_jonathandm25
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 9373a45f-9613-4369-93bf-22172da2145c
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/wilescobar:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/wilescobar
      operationId: get_api_logininfo_v1_1_users_wilescobar
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 3f52eaad-37be-4895-95ca-7ad358eb3d09
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/kelixpitts:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/kelixpitts
      operationId: get_api_logininfo_v1_1_users_kelixpitts
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: af222efe-38af-4db6-a1a1-d3546722cb93
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/estebanpazg2:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/estebanpazg2
      operationId: get_api_logininfo_v1_1_users_estebanpazg2
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 048301ec-50e4-489f-bea2-00a6a00bcada
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/linareswillian:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/linareswillian
      operationId: get_api_logininfo_v1_1_users_linareswillian
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 728e6726-d408-49b1-bdc6-72d5256e2dff
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/lobo1985:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/lobo1985
      operationId: get_api_logininfo_v1_1_users_lobo1985
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 38ae508a-391d-4849-9a5d-9c6b9b518bd6
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/juanmedina10:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/juanmedina10
      operationId: get_api_logininfo_v1_1_users_juanmedina10
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: d5897a46-04ba-4ef3-85aa-78335e7bcd9a
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/andy260243:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/andy260243
      operationId: get_api_logininfo_v1_1_users_andy260243
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 6e12a76f-2713-4094-88ec-20ce1da8d9e2
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/ramiro35:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/ramiro35
      operationId: get_api_logininfo_v1_1_users_ramiro35
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 031bdff8-95a1-44d6-b0ba-834631d68e8f
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/serranoalberto:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/serranoalberto
      operationId: get_api_logininfo_v1_1_users_serranoalberto
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: dfa904ab-1614-4185-a341-f67ba00c8329
      responses:
        "200":
          description: Success
  /api/appdata/v1/keydata/eToro/promocarousel:
    put:
      tags:
        - appdata
      summary: PUT /api/appdata/v1/keydata/eToro/promocarousel
      operationId: put_api_appdata_v1_keydata_eToro_promocarousel
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 76fb9507-dc57-459d-9473-d30dbf9e7707
        - name: correlationId
          in: query
          required: false
          schema:
            type: string
          example: d4197dab-00d7-405f-a34d-44e9287dfb25
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppdataPutRequest"
            examples:
              fromHar:
                value:
                  items:
                    - id: copytrader_promo_etoro_professionals
                      viewCount: 1
      responses:
        "200":
          description: Success
  /api/etwallet/v1/balances:
    post:
      tags:
        - etwallet
      summary: POST /api/etwallet/v1/balances
      operationId: post_api_etwallet_v1_balances
      parameters:
        - name: correlationId
          in: query
          required: false
          schema:
            type: string
          example: 690c24cb-7839-42a9-aad2-e661d820357a
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: f06d626b-6650-4a37-8228-7ff1f661753e
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EtwalletPostRequest"
            examples:
              fromHar:
                value:
                  isPotentialOptionsUser: false
                  currencyISO: USD
                  components:
                    - money
                    - trading
                    - crypto
                    - options
                    - moneyfarm
                    - spaceship
                  availableCash: 0
                  portfolioValue: 0
      responses:
        "200":
          description: Success
  /api/etwallet/v1/banners:
    get:
      tags:
        - etwallet
      summary: GET /api/etwallet/v1/banners
      operationId: get_api_etwallet_v1_banners
      parameters:
        - name: correlationId
          in: query
          required: false
          schema:
            type: string
          example: c3259749-635c-451b-925d-70afa09f10f9
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 71ae95d5-14a0-4143-96ed-0ddc11964aa3
      responses:
        "200":
          description: Success
  /api/wallet/v2/Notifications:
    get:
      tags:
        - wallet
      summary: GET /api/wallet/v2/Notifications
      operationId: get_api_wallet_v2_Notifications
      parameters:
        - name: session_guid
          in: query
          required: false
          schema:
            type: string
          example: 39305b1a-8ef4-4329-ad48-ad82fae65a2f
        - name: user_session
          in: query
          required: false
          schema:
            type: string
          example: 6f563d8f-ebd5-4f0f-8a6e-8e764d3e64b5
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 6d48c606-8c63-466c-a6c3-abe683c3e749
      responses:
        "200":
          description: Success
  /api/money/v2/money/users:
    get:
      tags:
        - money
      summary: GET /api/money/v2/money/users
      operationId: get_api_money_v2_money_users
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 5dbe9586-935b-40bc-bf22-c706d895dc78
      responses:
        "200":
          description: Success
  /api/wallet/v1/cryptos/metadata:
    get:
      tags:
        - wallet
      summary: GET /api/wallet/v1/cryptos/metadata
      operationId: get_api_wallet_v1_cryptos_metadata
      parameters:
        - name: includeErc20
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 9635bcac-62ce-4182-98fb-d14419b20058
      responses:
        "200":
          description: Success
  /api/money/v2/money/crypto/cryptosList:
    get:
      tags:
        - money
      summary: GET /api/money/v2/money/crypto/cryptosList
      operationId: get_api_money_v2_money_crypto_cryptosList
      parameters:
        - name: includeErc20
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 02bbc748-ca7f-4ba0-b671-8da058c51a2a
      responses:
        "200":
          description: Success
  /api/money/v2/money/crypto/fiatsList:
    get:
      tags:
        - money
      summary: GET /api/money/v2/money/crypto/fiatsList
      operationId: get_api_money_v2_money_crypto_fiatsList
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: bc4ee36d-3a49-4d1b-a6e5-fa5fa2e5e5df
      responses:
        "200":
          description: Success
  /api/wallet/v1/fees:
    get:
      tags:
        - wallet
      summary: GET /api/wallet/v1/fees
      operationId: get_api_wallet_v1_fees
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: ff40152c-d71d-4925-860a-78a72515a492
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/danielhagberry:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/danielhagberry
      operationId: get_api_logininfo_v1_1_users_danielhagberry
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 6e58e9c0-ce97-40e4-b66a-964999eabbcf
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/toroinvest9:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/toroinvest9
      operationId: get_api_logininfo_v1_1_users_toroinvest9
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 242c2f40-f0a7-4833-bcad-277e5d268ade
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/jpardo1987:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/jpardo1987
      operationId: get_api_logininfo_v1_1_users_jpardo1987
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 1d62529c-232b-4246-9197-3fb69c58596f
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/nsulli7229:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/nsulli7229
      operationId: get_api_logininfo_v1_1_users_nsulli7229
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: b3639ea7-d4f4-45a7-b07f-2ee81a99032a
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/ry0nj8yd:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/ry0nj8yd
      operationId: get_api_logininfo_v1_1_users_ry0nj8yd
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: ac7be5d4-7442-4baf-83fa-c12d85e7b5fc
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/charlie_13:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/charlie_13
      operationId: get_api_logininfo_v1_1_users_charlie_13
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 257a24eb-27d1-4f04-b464-64a4d92b7973
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/gtcircus:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/gtcircus
      operationId: get_api_logininfo_v1_1_users_gtcircus
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 9bb35773-ae1e-4fec-a6e2-7cd0fc57ebbe
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/gpfalco76:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/gpfalco76
      operationId: get_api_logininfo_v1_1_users_gpfalco76
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: a7f6cbd3-a155-4562-bb37-872bd3cb74e7
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/adrianblanco31:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/adrianblanco31
      operationId: get_api_logininfo_v1_1_users_adrianblanco31
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: afcde62c-25e4-4ac7-ad2d-ace7fce0c271
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/edgarblanco72:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/edgarblanco72
      operationId: get_api_logininfo_v1_1_users_edgarblanco72
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: bf6f1e6f-cf33-46f4-a87c-8cec731e08cf
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/aungaungkyikyi:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/aungaungkyikyi
      operationId: get_api_logininfo_v1_1_users_aungaungkyikyi
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: fe815855-3d38-490c-be5f-e3ad035e5435
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/investmente4:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/investmente4
      operationId: get_api_logininfo_v1_1_users_investmente4
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 4061bb91-e6f0-467d-aba2-1a0838b890a7
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/barbaraaceytuno:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/barbaraaceytuno
      operationId: get_api_logininfo_v1_1_users_barbaraaceytuno
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 4dd1e3af-4551-4064-a6d4-2a7af9e46b7b
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/users/javillanueva67:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/users/javillanueva67
      operationId: get_api_logininfo_v1_1_users_javillanueva67
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 873f1bf9-4201-4755-8172-d30840188955
      responses:
        "200":
          description: Success
  /api/kycx-flow/kns/flow:
    post:
      tags:
        - kycx-flow
      summary: POST /api/kycx-flow/kns/flow
      operationId: post_api_kycx_flow_kns_flow
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 6ded654e-94a5-4838-855b-3262256f01ab
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Kycx-flowPostRequest"
            examples:
              fromHar:
                value:
                  userFlow: null
                  payload:
                    kycxStart:
                      isMobile: false
                      action: null
                      mode: Volunteer
      responses:
        "200":
          description: Success
  /api/kycx-flow/kns/flow/seychelles-flow/navigate/address-details:
    post:
      tags:
        - kycx-flow
      summary: POST /api/kycx-flow/kns/flow/seychelles-flow/navigate/address-details
      operationId: post_api_kycx_flow_kns_flow_seychelles_flow_navigate_address_details
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: bcd6121c-bfe4-4d83-b93c-1ab53a1438ee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Kycx-flowPostRequest"
            examples:
              fromHar:
                value:
                  userFlow: "1134544360088798208"
                  payload: null
                  step:
                    flow: seychelles-flow
                    name: address-details
                    display: info
                    conditions:
                      - name: info
                        isSatisfied: true
                      - name: pob
                        isSatisfied: false
                      - name: citizenship
                        isSatisfied: false
                      - name: bank
                        isSatisfied: false
      responses:
        "200":
          description: Success
  /api/abtesting/Payments/{id}/variation:
    get:
      tags:
        - abtesting
      summary: GET /api/abtesting/Payments/{id}/variation
      operationId: get_api_abtesting_Payments_id_variation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: withdrawal_balances_local_vs_usd
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: dec49991-492d-4275-b852-27a8e59658e7
      responses:
        "200":
          description: Success
  /api/moneybus/v1/balances:
    get:
      tags:
        - moneybus
      summary: GET /api/moneybus/v1/balances
      operationId: get_api_moneybus_v1_balances
      parameters:
        - name: accountTypeIds
          in: query
          required: false
          schema:
            type: string
          example: "3"
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: bb0ba33e-43af-433e-b8f2-6f5cf8a500e2
      responses:
        "200":
          description: Success
  /api/withdraw-facade/v1/withdraw/info:
    get:
      tags:
        - withdraw-facade
      summary: GET /api/withdraw-facade/v1/withdraw/info
      operationId: get_api_withdraw_facade_v1_withdraw_info
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 7c464173-979f-47e0-a931-5a51ed45969e
      responses:
        "200":
          description: Success
  /api/logininfo/v1.1/usersettings:
    get:
      tags:
        - logininfo
      summary: GET /api/logininfo/v1.1/usersettings
      operationId: get_api_logininfo_v1_1_usersettings
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 40624556-09de-4260-9d09-50086b4cdfbf
      responses:
        "200":
          description: Success
  /api/subscriptions/v1/{id}:
    get:
      tags:
        - subscriptions
      summary: GET /api/subscriptions/v1/{id}
      operationId: get_api_subscriptions_v1_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: subscription-enabled
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 46738d57-6446-4da2-b301-da959581bba9
      responses:
        "200":
          description: Success
  /api/account/v1/clubs:
    get:
      tags:
        - account
      summary: GET /api/account/v1/clubs
      operationId: get_api_account_v1_clubs
      parameters:
        - name: primaryLocale
          in: query
          required: false
          schema:
            type: string
          example: en-gb
        - name: secondaryLocale
          in: query
          required: false
          schema:
            type: string
          example: "null"
        - name: country
          in: query
          required: false
          schema:
            type: string
          example: USA
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 5cb6bd94-e528-417a-9cd3-805d2cb41aa9
      responses:
        "200":
          description: Success
  /api/sts/devices/v2/devices:
    get:
      tags:
        - sts
      summary: GET /api/sts/devices/v2/devices
      operationId: get_api_sts_devices_v2_devices
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 757e1345-bd7e-4bcf-806b-b5bf931d2a98
      responses:
        "200":
          description: Success
  /api/payments/v1/Accounts:
    get:
      tags:
        - payments
      summary: GET /api/payments/v1/Accounts
      operationId: get_api_payments_v1_Accounts
      parameters:
        - name: accountTypeIds
          in: query
          required: false
          schema:
            type: string
          example: "3"
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: e3397ca1-1aba-4f7b-8610-a5944a70a1e4
      responses:
        "200":
          description: Success
  /api/sts/v2/oauth/applications:
    get:
      tags:
        - sts
      summary: GET /api/sts/v2/oauth/applications
      operationId: get_api_sts_v2_oauth_applications
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: c580962b-626c-4ea6-b9b3-a016c5925b17
      responses:
        "200":
          description: Success
  /api/kycx-flow/kns/users/{id}/{id2}:
    get:
      tags:
        - kycx-flow
      summary: GET /api/kycx-flow/kns/users/{id}/{id2}
      operationId: get_api_kycx_flow_kns_users_id_id2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: "47598870"
        - name: id2
          in: path
          required: true
          schema:
            type: string
          example: userflow-history
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: d63633b2-95d5-45d2-b74f-c47fc23ca7b0
      responses:
        "200":
          description: Success
  /api/payments/v1/customers/deposit-info:
    get:
      tags:
        - payments
      summary: GET /api/payments/v1/customers/deposit-info
      operationId: get_api_payments_v1_customers_deposit_info
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 0e4bed46-8fca-446d-a186-ae9e99e330d1
      responses:
        "200":
          description: Success
  /api/abtesting/Onboarding/{id}/variation/sticky:
    get:
      tags:
        - abtesting
      summary: GET /api/abtesting/Onboarding/{id}/variation/sticky
      operationId: get_api_abtesting_Onboarding_id_variation_sticky
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: product_tour_in_deposit_card_experiment
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 0c52701b-bed5-4341-9cbd-069b2578f309
      responses:
        "200":
          description: Success
  /api/billing/nameConflict/check:
    get:
      tags:
        - billing
      summary: GET /api/billing/nameConflict/check
      operationId: get_api_billing_nameConflict_check
      parameters:
        - name: declaredFirstName
          in: query
          required: false
          schema:
            type: string
          example: Joel
        - name: declaredMiddleName
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: declaredLastName
          in: query
          required: false
          schema:
            type: string
          example: Miller
        - name: fundingId
          in: query
          required: false
          schema:
            type: string
          example: "0"
        - name: paymentType
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 5ad671a6-32f5-4cc2-b247-3b354c7b6323
      responses:
        "200":
          description: Success
  /api/onboarding/v1/phone:
    get:
      tags:
        - onboarding
      summary: GET /api/onboarding/v1/phone
      operationId: get_api_onboarding_v1_phone
      responses:
        "200":
          description: Success
  /api/logindata/v2/logindata:
    get:
      tags:
        - logindata
      summary: GET /api/logindata/v2/logindata
      operationId: get_api_logindata_v2_logindata
      parameters:
        - name: conditionIncludeMetadata
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: conditionIncludeMarkets
          in: query
          required: false
          schema:
            type: string
          example: "false"
        - name: conditionIncludeDisplayableInstruments
          in: query
          required: false
          schema:
            type: string
          example: "false"
        - name: conditionIncludeMirrorValidation
          in: query
          required: false
          schema:
            type: string
          example: "false"
        - name: conditionIncludeRates
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: conditionIncludeCurrentUserData
          in: query
          required: false
          schema:
            type: string
          example: "false"
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 896c3645-1f3d-4b28-805b-aad2d330fce5
        - name: conditionIncludeCustomerRestrictions
          in: query
          required: false
          schema:
            type: string
          example: "false"
        - name: conditionIncludeMirrorsUserData
          in: query
          required: false
          schema:
            type: string
          example: "false"
      responses:
        "200":
          description: Success
  /api/notifications/v2/messages:
    get:
      tags:
        - notifications
      summary: GET /api/notifications/v2/messages
      operationId: get_api_notifications_v2_messages
      parameters:
        - name: correlationId
          in: query
          required: false
          schema:
            type: string
          example: 8d2e6e05-2bf4-40a9-9668-0fdbeb67b562
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 06fe6d4c-f67a-4915-8ae4-99c03d67abbe
      responses:
        "200":
          description: Success
  /api/homepagefacade/v3/homepage:
    post:
      tags:
        - homepagefacade
      summary: POST /api/homepagefacade/v3/homepage
      operationId: post_api_homepagefacade_v3_homepage
      parameters:
        - name: client_request_id
          in: query
          required: false
          schema:
            type: string
          example: 2b8469db-b89e-4923-875a-5fc4c1601b4b
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HomepagefacadePostRequest"
            examples:
              fromHar:
                value:
                  groups:
                    - groupId: 0
                      minRequiredItems: 1
                      isMandatory: true
                      dataComponents:
                        - type: LocalTickers
                    - groupId: 1
                      minRequiredItems: 4
                      isMandatory: true
                      dataComponents:
                        - type: Overview
                          params:
                            isBasicProgramEligibility: true
                        - type: OverviewRedesign
                          params:
                            isBasicProgramEligibility: true
                        - type: MyMoney
                    - groupId: 2
                      minRequiredItems: 10
                      isMandatory: true
                      dataComponents:
                        - type: TopMovers
                          params:
                            portfolioInstrumentIds: []
                            gainersCount: 20
                            losersCount: 20
                        - type: StocksLending
                        - type: MoneyFarm
                        - type: ClubUpgrade
                          params:
                            realizedEquityWithoutCfd: null
                        - type: BeatTheMarket
                          params:
                            withCharts: true
                            withFollowers: false
                        - type: PIDiversification
                          params:
                            performanceDeltaMin: -5
                        - type: UsDisclosure
                        - type: WealthFrance
                        - type: OnboardingSupport
                    - groupId: 3
                      minRequiredItems: 4
                      isMandatory: false
                      dataComponents:
                        - type: FirstAsset
                        - type: MarketingCards
                        - type: OnboardingEducation
                    - groupId: 4
                      minRequiredItems: 3
                      isMandatory: false
                      dataComponents:
                        - type: TotalCash
                        - type: TotalInvested
                          params:
                            currencyISO: USD
                        - type: CryptoWallet
                          params:
                            currencyISO: USD
                  userCid: 47594450
      responses:
        "200":
          description: Success
  /api/edm-streams/v1/feed/news:
    get:
      tags:
        - edm-streams
      summary: GET /api/edm-streams/v1/feed/news
      operationId: get_api_edm_streams_v1_feed_news
      parameters:
        - name: take
          in: query
          required: false
          schema:
            type: string
          example: "10"
        - name: offset
          in: query
          required: false
          schema:
            type: string
          example: "0"
        - name: reactionsPageSize
[...]
