openapi: 3.0.3
info:
  title: Fastn API
  description: REST API for the Fastn platform (live.gcp.fastn.ai). Generated from
    HAR network capture.
  version: v1
  contact:
    url: https://fastn.ai
servers:
- url: https://live.gcp.fastn.ai
  description: Production (GCP)
tags:
- name: activity
- name: agent/onboarding
- name: agent/orchestrator
- name: alerts
- name: api-keys
- name: app-triggers
- name: audit-log
- name: auth-providers
- name: connections
- name: connectors
- name: environments
- name: events
- name: hub-settings
- name: me
- name: onboarding
- name: orgs
- name: plan-change-requests
- name: plans
- name: platform-providers
- name: profile
- name: quotas
- name: roles
- name: schedulers
- name: secrets
- name: sync
- name: traces
- name: usage
- name: users
- name: webhooks
- name: widgets
- name: workflows
paths:
  /api/v1/activity/page:
    post:
      tags:
      - activity
      operationId: postActivityPage
      summary: POST /api/v1/activity/page
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: string
                  example: /profile
              required:
              - page
            example:
              page: /profile
  /api/v1/agent/onboarding/research-report:
    get:
      tags:
      - agent/onboarding
      operationId: getAgentOnboardingResearchReport
      summary: GET /api/v1/agent/onboarding/research-report
      parameters:
      - name: domain
        in: query
        required: false
        schema:
          type: string
        example: joelsapp.com
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/agent/onboarding/start:
    post:
      tags:
      - agent/onboarding
      operationId: postAgentOnboardingStart
      summary: POST /api/v1/agent/onboarding/start
      responses:
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  example: joelsapp.com
              required:
              - domain
            example:
              domain: joelsapp.com
  /api/v1/agent/onboarding/status:
    get:
      tags:
      - agent/onboarding
      operationId: getAgentOnboardingStatus
      summary: GET /api/v1/agent/onboarding/status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/agent/orchestrator/sessions:
    get:
      tags:
      - agent/orchestrator
      operationId: getAgentOrchestratorSessions
      summary: GET /api/v1/agent/orchestrator/sessions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/agent/orchestrator/state:
    get:
      tags:
      - agent/orchestrator
      operationId: getAgentOrchestratorState
      summary: GET /api/v1/agent/orchestrator/state
      parameters:
      - name: threadId
        in: query
        required: false
        schema:
          type: string
        example: orch_mq90nukv_yrbp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/agent/orchestrator/stream:
    post:
      tags:
      - agent/orchestrator
      operationId: postAgentOrchestratorStream
      summary: POST /api/v1/agent/orchestrator/stream
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  example: integration with github
              required:
              - message
            example:
              message: integration with github
    get:
      tags:
      - agent/orchestrator
      operationId: getAgentOrchestratorStream
      summary: GET /api/v1/agent/orchestrator/stream
      parameters:
      - name: threadId
        in: query
        required: false
        schema:
          type: string
        example: orch_mq90nukv_yrbp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/alerts:
    get:
      tags:
      - alerts
      operationId: getAlerts
      summary: GET /api/v1/alerts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
    post:
      tags:
      - alerts
      operationId: postAlerts
      summary: POST /api/v1/alerts
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Alert01
                condition:
                  type: string
                  example: latency_p99
                threshold:
                  type: integer
                  example: 5
              required:
              - name
              - condition
              - threshold
            example:
              name: Alert01
              condition: latency_p99
              threshold: 5
  /api/v1/alerts/{alert_c092d50dc0f2}:
    put:
      tags:
      - alerts
      operationId: putAlertsAlertC092D50Dc0F2
      summary: PUT /api/v1/alerts/{alert_c092d50dc0f2}
      parameters:
      - name: alert_c092d50dc0f2
        in: path
        required: true
        schema:
          type: string
        example: alert_c092d50dc0f2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Alert01
                condition:
                  type: string
                  example: latency_p99
                threshold:
                  type: integer
                  example: 6
              required:
              - name
              - condition
              - threshold
            example:
              name: Alert01
              condition: latency_p99
              threshold: 6
  /api/v1/api-keys:
    get:
      tags:
      - api-keys
      operationId: getApiKeys
      summary: GET /api/v1/api-keys
      parameters:
      - name: mode
        in: query
        required: false
        schema:
          type: string
        example: live
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
    post:
      tags:
      - api-keys
      operationId: postApiKeys
      summary: POST /api/v1/api-keys
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Create API Key
                mode:
                  type: string
                  example: live
                permissions:
                  type: array
                  items:
                    type: string
                  example: []
                environment:
                  type: string
                  example: production
              required:
              - name
              - mode
              - permissions
              - environment
            example:
              name: Create API Key
              mode: live
              permissions: []
              environment: production
  /api/v1/app-triggers:
    get:
      tags:
      - app-triggers
      operationId: getAppTriggers
      summary: GET /api/v1/app-triggers
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
        example: '8'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/audit-log:
    get:
      tags:
      - audit-log
      operationId: getAuditLog
      summary: GET /api/v1/audit-log
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/audit-log/actions:
    get:
      tags:
      - audit-log
      operationId: getAuditLogActions
      summary: GET /api/v1/audit-log/actions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/auth-providers:
    get:
      tags:
      - auth-providers
      operationId: getAuthProviders
      summary: GET /api/v1/auth-providers
      parameters:
      - name: connectorId
        in: query
        required: false
        schema:
          type: string
        example: 403d3efe-f8c9-4e35-acc7-2100b3b86c14
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/connections:
    get:
      tags:
      - connections
      operationId: getConnections
      summary: GET /api/v1/connections
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
        example: ACTIVE
      - name: orgId
        in: query
        required: false
        schema:
          type: string
        example: bb5a70d2-5163-4d50-8d07-8ece6735f5f3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/connectors:
    get:
      tags:
      - connectors
      operationId: getConnectors
      summary: GET /api/v1/connectors
      parameters:
      - name: deleted
        in: query
        required: false
        schema:
          type: string
        example: 'true'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/environments:
    get:
      tags:
      - environments
      operationId: getEnvironments
      summary: GET /api/v1/environments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
    post:
      tags:
      - environments
      operationId: postEnvironments
      summary: POST /api/v1/environments
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: MyEnvironment
                slug:
                  type: string
                  example: myenvironment01
              required:
              - name
              - slug
            example:
              name: MyEnvironment
              slug: myenvironment01
  /api/v1/events:
    get:
      tags:
      - events
      operationId: getEvents
      summary: GET /api/v1/events
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/hub-settings:
    get:
      tags:
      - hub-settings
      operationId: getHubSettings
      summary: GET /api/v1/hub-settings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
    put:
      tags:
      - hub-settings
      operationId: putHubSettings
      summary: PUT /api/v1/hub-settings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                config:
                  type: object
                  example:
                    sections:
                    - id: header
                      type: header
                      label: Header & Branding
                      enabled: true
                      order: 0
                    - id: ai_chat
                      type: ai_chat
                      label: AI Assistant
                      enabled: true
                      order: 1
                    - id: search
                      type: search
                      label: Search Bar
                      enabled: true
                      order: 2
                    - id: integrations
                      type: integrations
                      label: Apps
                      enabled: true
                      order: 3
                    - id: workflows
                      type: workflows
                      label: Workflows
                      enabled: true
                      order: 4
                    - id: insights
                      type: connections
                      label: Insights
                      enabled: true
                      order: 5
                    tokens:
                      primary: '#8f85e8'
                      primaryForeground: '#fff'
                      background: '#1a1918'
                      foreground: '#e3e1da'
                      card: '#222120'
                      muted: '#2b2a27'
                      mutedForeground: '#8a8780'
                      border: '#2b2a27'
                      fontFamily: Inter, sans-serif
                      fontSize: 14
                      fontWeight: '400'
                      letterSpacing: normal
                      radius: 8
                      buttonRadius: 8
                      inputRadius: 6
                      shadowStrength: md
                    headerTitle: Integrations
                    headerSubtitle: Connect your favorite tools
                    templates:
                    - id: t1
                      name: Generate discovery deck in Gamma when HubSpot deal enters
                        Discovery stage
                      category: Sales
                    - id: t2
                      name: Create Gamma competitor analysis deck and write link back
                        to HubSpot deal
                      category: Sales
                    showCommunityConnectors: false
                    featuredConnectorIds: []
              required:
              - config
            example:
              config:
                sections:
                - id: header
                  type: header
                  label: Header & Branding
                  enabled: true
                  order: 0
                - id: ai_chat
                  type: ai_chat
                  label: AI Assistant
                  enabled: true
                  order: 1
                - id: search
                  type: search
                  label: Search Bar
                  enabled: true
                  order: 2
                - id: integrations
                  type: integrations
                  label: Apps
                  enabled: true
                  order: 3
                - id: workflows
                  type: workflows
                  label: Workflows
                  enabled: true
                  order: 4
                - id: insights
                  type: connections
                  label: Insights
                  enabled: true
                  order: 5
                tokens:
                  primary: '#8f85e8'
                  primaryForeground: '#fff'
                  background: '#1a1918'
                  foreground: '#e3e1da'
                  card: '#222120'
                  muted: '#2b2a27'
                  mutedForeground: '#8a8780'
                  border: '#2b2a27'
                  fontFamily: Inter, sans-serif
                  fontSize: 14
                  fontWeight: '400'
                  letterSpacing: normal
                  radius: 8
                  buttonRadius: 8
                  inputRadius: 6
                  shadowStrength: md
                headerTitle: Integrations
                headerSubtitle: Connect your favorite tools
                templates:
                - id: t1
                  name: Generate discovery deck in Gamma when HubSpot deal enters
                    Discovery stage
                  category: Sales
                - id: t2
                  name: Create Gamma competitor analysis deck and write link back
                    to HubSpot deal
                  category: Sales
                showCommunityConnectors: false
                featuredConnectorIds: []
  /api/v1/me/entitlements:
    get:
      tags:
      - me
      operationId: getMeEntitlements
      summary: GET /api/v1/me/entitlements
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/onboarding:
    get:
      tags:
      - onboarding
      operationId: getOnboarding
      summary: GET /api/v1/onboarding
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/onboarding/agent-domain:
    post:
      tags:
      - onboarding
      operationId: postOnboardingAgentDomain
      summary: POST /api/v1/onboarding/agent-domain
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  example: joelsapp.com
              required:
              - domain
            example:
              domain: joelsapp.com
  /api/v1/onboarding/status:
    get:
      tags:
      - onboarding
      operationId: getOnboardingStatus
      summary: GET /api/v1/onboarding/status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/orgs:
    get:
      tags:
      - orgs
      operationId: getOrgs
      summary: GET /api/v1/orgs
      parameters:
      - name: tier
        in: query
        required: false
        schema:
          type: string
        example: tenant
      - name: parent_id
        in: query
        required: false
        schema:
          type: string
        example: personal_joelmiller890321-gmail
      - name: parent
        in: query
        required: false
        schema:
          type: string
        example: personal_joelmiller890321-gmail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
    post:
      tags:
      - orgs
      operationId: postOrgs
      summary: POST /api/v1/orgs
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: backup
                slug:
                  type: string
                  example: backup
                plan:
                  type: string
                  example: free
                tier:
                  type: string
                  example: tenant
                parentId:
                  type: string
                  example: personal_joelmiller890321-gmail
                external_ref:
                  type: string
                  example: '123456'
              required:
              - name
              - slug
              - plan
              - tier
              - parentId
              - external_ref
            example:
              name: backup
              slug: backup
              plan: free
              tier: tenant
              parentId: personal_joelmiller890321-gmail
              external_ref: '123456'
  /api/v1/orgs/{id}:
    put:
      tags:
      - orgs
      operationId: putOrgsId
      summary: PUT /api/v1/orgs/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: bb5a70d2-5163-4d50-8d07-8ece6735f5f3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                adminEmail:
                  type: string
                  example: backupemail.seyada1@gmail.com
                adminUserId:
                  type: string
                  example: 43dde5fa-19d7-41b9-a4ce-f267b19611fc
              required:
              - adminEmail
              - adminUserId
            example:
              adminEmail: backupemail.seyada1@gmail.com
              adminUserId: 43dde5fa-19d7-41b9-a4ce-f267b19611fc
  /api/v1/orgs/{orgId}:
    get:
      tags:
      - orgs
      operationId: getOrgsOrgid
      summary: GET /api/v1/orgs/{orgId}
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
        example: personal_joelmiller890321-gmail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/orgs/{orgId}/config:
    get:
      tags:
      - orgs
      operationId: getOrgsOrgidConfig
      summary: GET /api/v1/orgs/{orgId}/config
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
        example: personal_joelmiller890321-gmail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/orgs/{orgId}/settings:
    get:
      tags:
      - orgs
      operationId: getOrgsOrgidSettings
      summary: GET /api/v1/orgs/{orgId}/settings
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
        example: personal_joelmiller890321-gmail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
    put:
      tags:
      - orgs
      operationId: putOrgsOrgidSettings
      summary: PUT /api/v1/orgs/{orgId}/settings
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
        example: personal_joelmiller890321-gmail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  nullable: true
                  example: null
                autoApproveDomain:
                  type: boolean
                  example: false
                defaultMemberRole:
                  type: string
                  example: developer
              required:
              - domain
              - autoApproveDomain
              - defaultMemberRole
            example:
              domain: null
              autoApproveDomain: false
              defaultMemberRole: developer
  /api/v1/plan-change-requests/me:
    get:
      tags:
      - plan-change-requests
      operationId: getPlanChangeRequestsMe
      summary: GET /api/v1/plan-change-requests/me
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/plans:
    get:
      tags:
      - plans
      operationId: getPlans
      summary: GET /api/v1/plans
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/platform-providers:
    get:
      tags:
      - platform-providers
      operationId: getPlatformProviders
      summary: GET /api/v1/platform-providers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/profile:
    get:
      tags:
      - profile
      operationId: getProfile
      summary: GET /api/v1/profile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
    put:
      tags:
      - profile
      operationId: putProfile
      summary: PUT /api/v1/profile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                  example: Joell
                lastName:
                  type: string
                  example: Miller
                jobTitle:
                  type: string
                  example: ''
                timezone:
                  type: string
                  example: Asia/Calcutta
              required:
              - firstName
              - lastName
              - jobTitle
              - timezone
            example:
              firstName: Joell
              lastName: Miller
              jobTitle: ''
              timezone: Asia/Calcutta
  /api/v1/profile/security:
    get:
      tags:
      - profile
      operationId: getProfileSecurity
      summary: GET /api/v1/profile/security
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/quotas:
    get:
      tags:
      - quotas
      operationId: getQuotas
      summary: GET /api/v1/quotas
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/roles:
    get:
      tags:
      - roles
      operationId: getRoles
      summary: GET /api/v1/roles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/schedulers:
    get:
      tags:
      - schedulers
      operationId: getSchedulers
      summary: GET /api/v1/schedulers
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
        example: '8'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/secrets:
    get:
      tags:
      - secrets
      operationId: getSecrets
      summary: GET /api/v1/secrets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
    post:
      tags:
      - secrets
      operationId: postSecrets
      summary: POST /api/v1/secrets
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: CREATESECRET
                value:
                  type: string
                  example: '123456789'
              required:
              - name
              - value
            example:
              name: CREATESECRET
              value: '123456789'
  /api/v1/sync/jobs:
    get:
      tags:
      - sync
      operationId: getSyncJobs
      summary: GET /api/v1/sync/jobs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/traces:
    get:
      tags:
      - traces
      operationId: getTraces
      summary: GET /api/v1/traces
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/usage:
    get:
      tags:
      - usage
      operationId: getUsage
      summary: GET /api/v1/usage
      parameters:
      - name: end_org_id
        in: query
        required: false
        schema:
          type: string
        example: current
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/usage/ai:
    get:
      tags:
      - usage
      operationId: getUsageAi
      summary: GET /api/v1/usage/ai
      parameters:
      - name: scope
        in: query
        required: false
        schema:
          type: string
        example: org
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/users:
    get:
      tags:
      - users
      operationId: getUsers
      summary: GET /api/v1/users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/users/invite:
    post:
      tags:
      - users
      operationId: postUsersInvite
      summary: POST /api/v1/users/invite
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: backupemail.seyada1@gmail.com
                role:
                  type: string
                  example: admin
                orgId:
                  type: string
                  example: personal_joelmiller890321-gmail
                endOrgId:
                  type: string
                  example: bb5a70d2-5163-4d50-8d07-8ece6735f5f3
              required:
              - email
              - role
              - orgId
              - endOrgId
            example:
              email: backupemail.seyada1@gmail.com
              role: admin
              orgId: personal_joelmiller890321-gmail
              endOrgId: bb5a70d2-5163-4d50-8d07-8ece6735f5f3
  /api/v1/users/pending:
    get:
      tags:
      - users
      operationId: getUsersPending
      summary: GET /api/v1/users/pending
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/users/{id}:
    get:
      tags:
      - users
      operationId: getUsersId
      summary: GET /api/v1/users/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: 43dde5fa-19d7-41b9-a4ce-f267b19611fc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/webhooks:
    get:
      tags:
      - webhooks
      operationId: getWebhooks
      summary: GET /api/v1/webhooks
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
        example: '8'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/widgets:
    get:
      tags:
      - widgets
      operationId: getWidgets
      summary: GET /api/v1/widgets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/widgets/insights:
    get:
      tags:
      - widgets
      operationId: getWidgetsInsights
      summary: GET /api/v1/widgets/insights
      parameters:
      - name: range
        in: query
        required: false
        schema:
          type: string
        example: 7d
      - name: tz
        in: query
        required: false
        schema:
          type: string
        example: Asia/Calcutta
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/workflows:
    get:
      tags:
      - workflows
      operationId: getWorkflows
      summary: GET /api/v1/workflows
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /api/v1/workflows/executions:
    get:
      tags:
      - workflows
      operationId: getWorkflowsExecutions
      summary: GET /api/v1/workflows/executions
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
        example: failed
      - name: limit
        in: query
        required: false
        schema:
          type: integer
        example: '10'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token obtained from authentication
security:
- BearerAuth: []
