openapi: 3.0.3
info:
  title: GLX Studio API (AJAX action path workaround)
  version: 1.0.0
  description: AJAX endpoints rewritten as /ajax.<action>?action=<action> so Swagger
    can expose each action as a separate executable endpoint.
servers:
- url: https://glxstudio.com
tags:
- name: Account
- name: Admin
- name: Ajax
- name: Create-workspace
- name: Home
- name: Media-library
- name: Project
- name: Projects
- name: Tasks
paths:
  /projects:
    get:
      summary: Projects
      operationId: get_projects
      tags:
      - Projects
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /account/edit/details:
    get:
      summary: /account/edit/details
      operationId: get_account_edit_details
      tags:
      - Account
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /project/19003:
    get:
      summary: /projects/{projectId}
      operationId: get_project_19003
      tags:
      - Project
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /home/workspaces:
    get:
      summary: Workspaces
      operationId: get_home_workspaces
      tags:
      - Home
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /create-workspace:
    post:
      summary: create-workspace
      operationId: post_create_workspace
      tags:
      - Create-workspace
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: string
            example: ''
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /tasks:
    get:
      summary: Task
      operationId: get_tasks
      tags:
      - Tasks
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /media-library:
    get:
      summary: media-library
      operationId: get_media_library
      tags:
      - Media-library
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /admin/company/22986:
    get:
      summary: /admin/company/{id}
      operationId: get_admin_company_22986
      tags:
      - Admin
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.addCompanyUser:
    post:
      summary: /ajax addCompanyUser
      operationId: post_ajax_addCompanyUser
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: addCompanyUser
      - name: companyid
        in: query
        required: true
        schema:
          type: string
        example: '22986'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: string
            example: firstName=Jack&lastName=Doe&email=jack%40tester.com&role=8
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.removeUserFromCompany:
    get:
      summary: /ajax removeUserFromCompany
      operationId: get_ajax_removeUserFromCompany
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: removeUserFromCompany
      - name: userid
        in: query
        required: true
        schema:
          type: string
        example: '1200361962548578'
      - name: companyid
        in: query
        required: true
        schema:
          type: string
        example: '22986'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.getWorkspaceCollaboratorsJSON:
    get:
      summary: /ajax getWorkspaceCollaborators
      operationId: get_ajax_getWorkspaceCollaboratorsJSON
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: getWorkspaceCollaboratorsJSON
      - name: workspaceid
        in: query
        required: true
        schema:
          type: string
        example: '55403'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.getWorkspaceMessageJSON:
    get:
      summary: /ajax getWorkspaceMessageJSON
      operationId: get_ajax_getWorkspaceMessageJSON
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: getWorkspaceMessageJSON
      - name: workspaceid
        in: query
        required: true
        schema:
          type: string
        example: '55403'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.accessedWorkspace:
    get:
      summary: /ajax accessedWorkspace
      operationId: get_ajax_accessedWorkspace
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: accessedWorkspace
      - name: workspaceid
        in: query
        required: true
        schema:
          type: string
        example: '55403'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.getWorkspaceAssetsJSON:
    get:
      summary: /ajax getWorkspaceAssetsJSON
      operationId: get_ajax_getWorkspaceAssetsJSON
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: getWorkspaceAssetsJSON
      - name: workspaceid
        in: query
        required: true
        schema:
          type: string
        example: '55403'
      - name: parentid
        in: query
        required: true
        schema:
          type: string
        example: '0'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax/getProjectAssets:
    get:
      summary: /ajax getProjectAssets
      operationId: get_ajax_getProjectAssets
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: getProjectAssets
      - name: projectid
        in: query
        required: true
        schema:
          type: string
        example: '19003'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.getProjectComments:
    get:
      summary: /ajax getProjectComments
      operationId: get_ajax_getProjectComments
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: getProjectComments
      - name: projectid
        in: query
        required: true
        schema:
          type: string
        example: '19003'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.projectTimelineLoad:
    get:
      summary: /ajax projectTimelineLoad
      operationId: get_ajax_projectTimelineLoad
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: projectTimelineLoad
      - name: projectid
        in: query
        required: true
        schema:
          type: string
        example: '19003'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.getProjectRenders:
    get:
      summary: /ajax getProjectRenders
      operationId: get_ajax_getProjectRenders
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: getProjectRenders
      - name: projectid
        in: query
        required: true
        schema:
          type: string
        example: '19003'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.storyAI:
    get:
      summary: /ajax storyAI projectStatus
      operationId: get_ajax_storyAI
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: storyAI
      - name: storyid
        in: query
        required: true
        schema:
          type: string
        example: '2501'
      - name: projectStatus
        in: query
        required: true
        schema:
          type: string
        example: checking
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.checkBackgroundMusic:
    get:
      summary: /ajax checkBackgroundMusic
      operationId: get_ajax_checkBackgroundMusic
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: checkBackgroundMusic
      - name: projectid
        in: query
        required: true
        schema:
          type: string
        example: '19003'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.getMediaLibraryAssetsJSON:
    get:
      summary: /ajax getMediaLibraryAssetsJSON
      operationId: get_ajax_getMediaLibraryAssetsJSON
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: getMediaLibraryAssetsJSON
      - name: folderid
        in: query
        required: true
        schema:
          type: string
        example: '0'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.getProjectRendersProgress:
    get:
      summary: /ajax getProjectRendersProgress
      operationId: get_ajax_getProjectRendersProgress
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: getProjectRendersProgress
      - name: projectid
        in: query
        required: true
        schema:
          type: string
        example: '19003'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.DeleteProjectAsset:
    get:
      summary: /ajax DeleteProjectAsset
      operationId: get_ajax_DeleteProjectAsset
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: DeleteProjectAsset
      - name: assetid
        in: query
        required: true
        schema:
          type: string
        example: '63737'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.projectRenderDelete:
    get:
      summary: /ajax projectRenderDelete
      operationId: get_ajax_projectRenderDelete
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: projectRenderDelete
      - name: renderid
        in: query
        required: true
        schema:
          type: string
        example: '2705'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.projectAssetUploadRequest:
    post:
      summary: /ajax projectAssetUploadRequest
      operationId: post_ajax_projectAssetUploadRequest
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: projectAssetUploadRequest
      - name: projectid
        in: query
        required: true
        schema:
          type: string
        example: '19003'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: string
            example: "{\r\n  \"expiration\": \"2025-12-13T01:57:10.137Z\",\r\n  \"\
              conditions\": [\r\n    { \"acl\": \"private\" },\r\n    { \"bucket\"\
              : \"mm-test-accelerated-bucket\" },\r\n    { \"Content-Type\": \"video/mp4\"\
              \ },\r\n    { \"success_action_status\": \"200\" },\r\n    { \"key\"\
              : \"8c6d3323-652e-43f2-aadf-4fba2527dac9.mp4\" },\r\n    { \"Content-Disposition\"\
              : \"attachment; filename*=utf-8''videoplayback.mp4\" },\r\n    { \"\
              x-amz-meta-parentid\": \"0\" },\r\n    { \"x-amz-meta-qqfilename\":\
              \ \"videoplayback.mp4\" }\r\n  ]\r\n}\r\n"
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.GetWorkspacePreferences:
    post:
      summary: /ajax GetWorkspacePreferences
      operationId: post_ajax_GetWorkspacePreferences
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: GetWorkspacePreferences
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: string
            example: workspaceid=55416
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.accountUpdateDetails:
    post:
      summary: /ajax accountUpdateDetails
      operationId: post_ajax_accountUpdateDetails
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: accountUpdateDetails
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: string
            example: username=ghouse+mohammed&firstname=ghouse+6767&lastname=mohammed&city=&state=-1&zip=&country=-1&phone=&email=mohammedghouse86.backup%40gmail.com&news=on
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.accountUpdateSocial:
    post:
      summary: /ajax accountUpdateSocial
      operationId: post_ajax_accountUpdateSocial
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: accountUpdateSocial
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: string
            example: linkedInURL=yahoo.com&twitterURL=twitter.com&facebookURL=
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.createProject:
    post:
      summary: /ajax createProject
      operationId: post_ajax_createProject
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: createProject
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: string
            example: title=org1+Project
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.projectAssetUploadSuccess:
    post:
      summary: /ajax projectAssetUploadSuccess
      operationId: post_ajax_projectAssetUploadSuccess
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: projectAssetUploadSuccess
      - name: projectid
        in: query
        required: true
        schema:
          type: string
        example: '18820'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: string
            example: key=8c6d3323-652e-43f2-aadf-4fba2527dac9.mp4&uuid=8c6d3323-652e-43f2-aadf-4fba2527dac9&name=videoplayback.mp4&bucket=mm-test-accelerated-bucket&etag=%22c85b05bf94c2113aba7919bb6a47ddfd%22&Content-Disposition=attachment%3B+filename*%3Dutf-8''videoplayback.mp4&parentid=0
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.storybuilder-create:
    post:
      summary: /ajax storybuilder-create
      operationId: post_ajax_storybuilder_create
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: storybuilder-create
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: string
            example: userObjective=&projectid=19008&knowledgeFilesJSON=[{"key":"post_17655908472111515184612924139250161.tmp","filename":"glx
              prompt.txt"}]&voiceid=ZF6FPAbjXT4488VcRRnw&language=en
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.updateCompanyRole:
    post:
      summary: /ajax updateCompanyRole
      operationId: post_ajax_updateCompanyRole
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: updateCompanyRole
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: string
            example: companyid=22986&roleid=126043&newRole=8
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.projectTimelineRender:
    post:
      summary: /ajax projectTimelineRender
      operationId: post_ajax_projectTimelineRender
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: projectTimelineRender
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: string
            example: 'projectid=19009&title=Introducing The Line: Vision of Neom City
              (Global Audience, English, Inspirational)'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.addProjectAssets:
    post:
      summary: /ajax addProjectAssets
      operationId: post_ajax_addProjectAssets
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: addProjectAssets
      - name: projectid
        in: query
        required: true
        schema:
          type: string
        example: '19003'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: string
            example: 'projectid=19009&title=Introducing The Line: Vision of Neom City
              (Global Audience, English, Inspirational)'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.projectTimelineSave:
    post:
      summary: /ajax projectTimelineSave
      operationId: post_ajax_projectTimelineSave
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: projectTimelineSave
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: string
            example: project={"projectid":19003,"version":1,"timelineVisual":[{"clipid":"38224d25-370b-4f28-b0d3-d469266d0677","assetid":"63730","startTime":0,"query":"futuristic+skyline+dawn+light+cityscape+impossible+becomes+reality+future+vision+","duration":3.32625,"position":0,"transition":{"duration":0}},{"clipid":"ccb3eebe-2941-49af-9e17-41ea0b824bdc","assetid":"63731","startTime":3.32625,"query":"desert+landscape+technology+integration+seamless+architecture+nature+and+technology+intertwined+","duration":3.32625,"position":1,"transition":{"duration":0}},{"clipid":"7ea1181d-0826-4cdf-a117-b8c2cdd426a4","assetid":"63733","startTime":6.6525,"query":"urban+boundaries+expansive+city+city+meets+nature+boundaries+of+urban+life+redefined+","duration":3.32625,"position":2,"transition":{"duration":0}},{"clipid":"853d246d-c4b2-4df3-9ad7-647f45459832","assetid":"63736","startTime":9.97875,"query":"dramatic+pan+The+Line+reflective+glass+architecture+dawning+of+a+new+era+window+to+the+future+","duration":4.508696546052632,"position":3,"transition":{"duration":0}},{"clipid":"95a27ae0-5575-4756-9b26-7cfa345b5327","assetid":"63740","startTime":20.499041940789475,"query":"bustling+activity+innovation+people+hive+of+progress+pulse+of+tomorrow+","duration":2.2042516447368423,"position":4,"transition":{"duration":0}},{"clipid":"67a98752-17b5-43c2-80ed-0ed1b9a8708e","assetid":"63741","startTime":22.703293585526318,"query":"vision+for+tomorrow+built+for+humanity+pathway+to+future+canvas+of+innovation+","duration":2.5048314144736845,"position":5,"transition":{"duration":0}},{"clipid":"62127b96-eea5-4688-9fd7-9e11d88766bd","assetid":"63732","startTime":25.208125000000003,"query":"diverse+people+close-up+hopeful+expression+beginning+a+journey+window+to+the+future+","duration":2.499208653846154,"position":6,"transition":{"duration":0}},{"clipid":"8b01a681-c0a7-4761-bf4c-c5d0b1f558e5","assetid":"63734","startTime":27.707333653846156,"query":"digital+overlays+future+city+technology+glimpse+into+tomorrow+digital+horizon+","duration":2.7991136923076927,"position":7,"transition":{"duration":0}},{"clipid":"2329cae4-cd1a-4e4c-b8e4-c437ed573830","assetid":"63735","startTime":30.50644734615385,"query":"sunlight+hope+new+day+dawn+of+a+new+era+light+breaking+through+","duration":2.299271961538462,"position":8,"transition":{"duration":0}},{"clipid":"008dd89b-d7da-428d-b3c0-00e81c8a37f1","assetid":"63737","startTime":32.80571930769231,"query":"call-to-action+invitation+transition+stepping+into+the+future+open+doorway+","duration":2.7991136923076927,"position":9,"transition":{"duration":0}}],"timelineAudio":[{"clipid":"6ec596fa-95c1-4d29-bf70-fe10a2bfff3d","assetid":"63728","startTime":0,"position":0},{"clipid":"3e2bfb6e-5c21-43b8-8b9f-72614c385f8b","assetid":"63727","startTime":25.208125,"position":1}]}
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.addProjectCollaborators:
    post:
      summary: /ajax addProjectCollaborators
      operationId: post_ajax_addProjectCollaborators
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: addProjectCollaborators
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: string
            example: projectid=19003&collaborators=[]
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.addMediaLibraryFolder:
    post:
      summary: /ajax addMediaLibraryFolder
      operationId: post_ajax_addMediaLibraryFolder
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: addMediaLibraryFolder
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: string
            example: name=GMAN1&position=0&parent_id=0
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.updateMediaLibraryFolderSettings:
    post:
      summary: /ajax updateMediaLibraryFolderSettings
      operationId: post_ajax_updateMediaLibraryFolderSettings
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: updateMediaLibraryFolderSettings
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: string
            example: pk=2732&name=privateFolder&value=false
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /ajax.getMediaLibraryFolderContents:
    post:
      summary: /ajax getMediaLibraryFolderContents
      operationId: post_ajax_getMediaLibraryFolderContents
      tags:
      - Ajax
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        example: getMediaLibraryFolderContents
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: string
            example: folderid=0
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
