{
  "openapi": "3.0.1",
  "info": {
    "title": "Telephony Dashboard Api",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://beta.onflo.us/Lets-talk/Reportsapi"
    }
  ],
  "paths": {
    "/api/AccountTimeZone/GetAccountTimeZone": {
      "get": {
        "tags": [
          "AccountTimeZone"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTimeZone"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTimeZone"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTimeZone"
                }
              }
            }
          }
        }
      }
    },
    "/api/AgentDetails/UpdateAgentStatusForCallRoute": {
      "post": {
        "tags": [
          "AgentDetails"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentStatusParams"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentStatusParams"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentStatusParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/AgentFilters/search": {
      "post": {
        "tags": [
          "AgentFilters"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentStatusFilterModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentStatusFilterModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AgentStatusFilterModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStatusFiltersMainViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStatusFiltersMainViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStatusFiltersMainViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/AgentFilters/list": {
      "get": {
        "tags": [
          "AgentFilters"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "statusChangedBy",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "lstAgents",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "RptID",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "RptName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NewRptName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RptType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ReportType"
            }
          },
          {
            "name": "IsDeleted",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsEmail",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsPDF",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsSaved",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsNogin",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CType",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Cx",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "DType",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "EntPnt",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Age",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Stat",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Prty",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Tags",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "ActTkn",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "IAOwner",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "DptInt",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "DptExt",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "DeptCnt",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "OwnerCnt",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TagCnt",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "IsCustm",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "TourMode",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PhoneNo",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "IsFilterChecked",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CsatType",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SubadminTopics",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Topics"
              }
            }
          },
          {
            "name": "CallDetailsColumn",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeZoneModel.CaseIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "timeZoneModel.SubAdminTopics",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "timeZoneModel.TimeZoneDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZoneModel.StartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZoneModel.EndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZoneModel.TimeZoneDateTime.Item1",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZoneModel.TimeZoneDateTime.Item2",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "PerType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/CalenderFilter"
            }
          },
          {
            "name": "SDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DateRange.CurrentStartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateRange.CurrentEndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateRange.PreviousStartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateRange.PreviousEndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "LstQueue",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "LstDistrictNumber",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "LstTopics",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStatusFiltersListMainViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStatusFiltersListMainViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStatusFiltersListMainViewModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AgentFilters"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentStatusFilterModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentStatusFilterModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AgentStatusFilterModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStatusFiltersListMainViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStatusFiltersListMainViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStatusFiltersListMainViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/AgentInQueue/search": {
      "post": {
        "tags": [
          "AgentInQueue"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TelephoneDashboardfilterModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TelephoneDashboardfilterModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TelephoneDashboardfilterModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AgentQueueMainViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentQueueMainViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentQueueMainViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/AgentInQueue/list": {
      "get": {
        "tags": [
          "AgentInQueue"
        ],
        "parameters": [
          {
            "name": "RptID",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "RptName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NewRptName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RptType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ReportType"
            }
          },
          {
            "name": "IsDeleted",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsEmail",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsPDF",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsSaved",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsNogin",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CType",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Cx",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "DType",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "EntPnt",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Age",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Stat",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Prty",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Tags",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "ActTkn",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "IAOwner",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "DptInt",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "DptExt",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "DeptCnt",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "OwnerCnt",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TagCnt",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "IsCustm",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "TourMode",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PhoneNo",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "IsFilterChecked",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CsatType",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SubadminTopics",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Topics"
              }
            }
          },
          {
            "name": "CallDetailsColumn",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeZoneModel.CaseIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "timeZoneModel.SubAdminTopics",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "timeZoneModel.TimeZoneDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZoneModel.StartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZoneModel.EndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZoneModel.TimeZoneDateTime.Item1",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZoneModel.TimeZoneDateTime.Item2",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "PerType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/CalenderFilter"
            }
          },
          {
            "name": "SDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DateRange.CurrentStartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateRange.CurrentEndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateRange.PreviousStartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateRange.PreviousEndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "LstQueue",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "LstDistrictNumber",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "LstTopics",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AgentQueueListMainViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentQueueListMainViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentQueueListMainViewModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AgentInQueue"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TelephoneDashboardfilterModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TelephoneDashboardfilterModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TelephoneDashboardfilterModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AgentQueueListMainViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentQueueListMainViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentQueueListMainViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/AgentStatus/search": {
      "post": {
        "tags": [
          "AgentStatus"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentStatusFilterModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentStatusFilterModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AgentStatusFilterModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStatusMainViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStatusMainViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStatusMainViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/AgentStatus/list": {
      "get": {
        "tags": [
          "AgentStatus"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "statusChangedBy",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "lstAgents",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "RptID",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "RptName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NewRptName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RptType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ReportType"
            }
          },
          {
            "name": "IsDeleted",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsEmail",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsPDF",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsSaved",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsNogin",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CType",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Cx",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "DType",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "EntPnt",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Age",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Stat",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Prty",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Tags",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "ActTkn",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "IAOwner",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "DptInt",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "DptExt",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "DeptCnt",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "OwnerCnt",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TagCnt",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "IsCustm",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "TourMode",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PhoneNo",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "IsFilterChecked",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CsatType",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SubadminTopics",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Topics"
              }
            }
          },
          {
            "name": "CallDetailsColumn",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeZoneModel.CaseIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "timeZoneModel.SubAdminTopics",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "timeZoneModel.TimeZoneDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZoneModel.StartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZoneModel.EndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZoneModel.TimeZoneDateTime.Item1",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZoneModel.TimeZoneDateTime.Item2",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "PerType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/CalenderFilter"
            }
          },
          {
            "name": "SDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DateRange.CurrentStartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateRange.CurrentEndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateRange.PreviousStartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateRange.PreviousEndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "LstQueue",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "LstDistrictNumber",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "LstTopics",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStatusListMainViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStatusListMainViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStatusListMainViewModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AgentStatus"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentStatusFilterModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentStatusFilterModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AgentStatusFilterModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStatusListMainViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStatusListMainViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStatusListMainViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/nogf/AgentStatusDashboard/GetAgentStatusList": {
      "post": {
        "tags": [
          "AgentStatusDashboard"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallCenterDashboardFilterModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CallCenterDashboardFilterModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CallCenterDashboardFilterModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStatusDashboardListModelMainViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStatusDashboardListModelMainViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStatusDashboardListModelMainViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/AIAgentCall/AIAgentCallStatus": {
      "post": {
        "tags": [
          "AIAgentCall"
        ],
        "parameters": [
          {
            "name": "mainCorpNo",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "callSid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queueId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "CallSid": {
                    "type": "string"
                  },
                  "CallStatus": {
                    "type": "string"
                  },
                  "ApiVersion": {
                    "type": "string"
                  },
                  "Direction": {
                    "type": "string"
                  },
                  "ForwardedFrom": {
                    "type": "string"
                  },
                  "CallerName": {
                    "type": "string"
                  },
                  "ParentCallSid": {
                    "type": "string"
                  },
                  "CallToken": {
                    "type": "string"
                  },
                  "Digits": {
                    "type": "string"
                  },
                  "SpeechResult": {
                    "type": "string"
                  },
                  "Confidence": {
                    "type": "number",
                    "format": "float"
                  },
                  "RecordingUrl": {
                    "type": "string"
                  },
                  "RecordingStatus": {
                    "type": "string"
                  },
                  "RecordingDuration": {
                    "type": "string"
                  },
                  "RecordingChannels": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "RecordingSource": {
                    "type": "string"
                  },
                  "FinishedOnKey": {
                    "type": "string"
                  },
                  "TranscriptionSid": {
                    "type": "string"
                  },
                  "TranscriptionText": {
                    "type": "string"
                  },
                  "TranscriptionStatus": {
                    "type": "string"
                  },
                  "TranscriptionUrl": {
                    "type": "string"
                  },
                  "RecordingSid": {
                    "type": "string"
                  },
                  "DialCallStatus": {
                    "type": "string"
                  },
                  "DialCallSid": {
                    "type": "string"
                  },
                  "DialCallDuration": {
                    "type": "string"
                  },
                  "SipDomain": {
                    "type": "string"
                  },
                  "SipUsername": {
                    "type": "string"
                  },
                  "SipCallId": {
                    "type": "string"
                  },
                  "SipSourceIp": {
                    "type": "string"
                  },
                  "AccountSid": {
                    "type": "string"
                  },
                  "From": {
                    "type": "string"
                  },
                  "To": {
                    "type": "string"
                  },
                  "FromCity": {
                    "type": "string"
                  },
                  "FromState": {
                    "type": "string"
                  },
                  "FromZip": {
                    "type": "string"
                  },
                  "FromCountry": {
                    "type": "string"
                  },
                  "ToCity": {
                    "type": "string"
                  },
                  "ToState": {
                    "type": "string"
                  },
                  "ToZip": {
                    "type": "string"
                  },
                  "ToCountry": {
                    "type": "string"
                  }
                }
              },
              "encoding": {
                "CallSid": {
                  "style": "form"
                },
                "CallStatus": {
                  "style": "form"
                },
                "ApiVersion": {
                  "style": "form"
                },
                "Direction": {
                  "style": "form"
                },
                "ForwardedFrom": {
                  "style": "form"
                },
                "CallerName": {
                  "style": "form"
                },
                "ParentCallSid": {
                  "style": "form"
                },
                "CallToken": {
                  "style": "form"
                },
                "Digits": {
                  "style": "form"
                },
                "SpeechResult": {
                  "style": "form"
                },
                "Confidence": {
                  "style": "form"
                },
                "RecordingUrl": {
                  "style": "form"
                },
                "RecordingStatus": {
                  "style": "form"
                },
                "RecordingDuration": {
                  "style": "form"
                },
                "RecordingChannels": {
                  "style": "form"
                },
                "RecordingSource": {
                  "style": "form"
                },
                "FinishedOnKey": {
                  "style": "form"
                },
                "TranscriptionSid": {
                  "style": "form"
                },
                "TranscriptionText": {
                  "style": "form"
                },
                "TranscriptionStatus": {
                  "style": "form"
                },
                "TranscriptionUrl": {
                  "style": "form"
                },
                "RecordingSid": {
                  "style": "form"
                },
                "DialCallStatus": {
                  "style": "form"
                },
                "DialCallSid": {
                  "style": "form"
                },
                "DialCallDuration": {
                  "style": "form"
                },
                "SipDomain": {
                  "style": "form"
                },
                "SipUsername": {
                  "style": "form"
                },
                "SipCallId": {
                  "style": "form"
                },
                "SipSourceIp": {
                  "style": "form"
                },
                "AccountSid": {
                  "style": "form"
                },
                "From": {
                  "style": "form"
                },
                "To": {
                  "style": "form"
                },
                "FromCity": {
                  "style": "form"
                },
                "FromState": {
                  "style": "form"
                },
                "FromZip": {
                  "style": "form"
                },
                "FromCountry": {
                  "style": "form"
                },
                "ToCity": {
                  "style": "form"
                },
                "ToState": {
                  "style": "form"
                },
                "ToZip": {
                  "style": "form"
                },
                "ToCountry": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/AIAgentCall/AIAgentConnectionStatus": {
      "post": {
        "tags": [
          "AIAgentCall"
        ],
        "parameters": [
          {
            "name": "mainCorpNo",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "CallSid": {
                    "type": "string"
                  },
                  "CallStatus": {
                    "type": "string"
                  },
                  "ApiVersion": {
                    "type": "string"
                  },
                  "Direction": {
                    "type": "string"
                  },
                  "ForwardedFrom": {
                    "type": "string"
                  },
                  "CallerName": {
                    "type": "string"
                  },
                  "ParentCallSid": {
                    "type": "string"
                  },
                  "CallToken": {
                    "type": "string"
                  },
                  "Digits": {
                    "type": "string"
                  },
                  "SpeechResult": {
                    "type": "string"
                  },
                  "Confidence": {
                    "type": "number",
                    "format": "float"
                  },
                  "RecordingUrl": {
                    "type": "string"
                  },
                  "RecordingStatus": {
                    "type": "string"
                  },
                  "RecordingDuration": {
                    "type": "string"
                  },
                  "RecordingChannels": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "RecordingSource": {
                    "type": "string"
                  },
                  "FinishedOnKey": {
                    "type": "string"
                  },
                  "TranscriptionSid": {
                    "type": "string"
                  },
                  "TranscriptionText": {
                    "type": "string"
                  },
                  "TranscriptionStatus": {
                    "type": "string"
                  },
                  "TranscriptionUrl": {
                    "type": "string"
                  },
                  "RecordingSid": {
                    "type": "string"
                  },
                  "DialCallStatus": {
                    "type": "string"
                  },
                  "DialCallSid": {
                    "type": "string"
                  },
                  "DialCallDuration": {
                    "type": "string"
                  },
                  "SipDomain": {
                    "type": "string"
                  },
                  "SipUsername": {
                    "type": "string"
                  },
                  "SipCallId": {
                    "type": "string"
                  },
                  "SipSourceIp": {
                    "type": "string"
                  },
                  "AccountSid": {
                    "type": "string"
                  },
                  "From": {
                    "type": "string"
                  },
                  "To": {
                    "type": "string"
                  },
                  "FromCity": {
                    "type": "string"
                  },
                  "FromState": {
                    "type": "string"
                  },
                  "FromZip": {
                    "type": "string"
                  },
                  "FromCountry": {
                    "type": "string"
                  },
                  "ToCity": {
                    "type": "string"
                  },
                  "ToState": {
                    "type": "string"
                  },
                  "ToZip": {
                    "type": "string"
                  },
                  "ToCountry": {
                    "type": "string"
                  }
                }
              },
              "encoding": {
                "CallSid": {
                  "style": "form"
                },
                "CallStatus": {
                  "style": "form"
                },
                "ApiVersion": {
                  "style": "form"
                },
                "Direction": {
                  "style": "form"
                },
                "ForwardedFrom": {
                  "style": "form"
                },
                "CallerName": {
                  "style": "form"
                },
                "ParentCallSid": {
                  "style": "form"
                },
                "CallToken": {
                  "style": "form"
                },
                "Digits": {
                  "style": "form"
                },
                "SpeechResult": {
                  "style": "form"
                },
                "Confidence": {
                  "style": "form"
                },
                "RecordingUrl": {
                  "style": "form"
                },
                "RecordingStatus": {
                  "style": "form"
                },
                "RecordingDuration": {
                  "style": "form"
                },
                "RecordingChannels": {
                  "style": "form"
                },
                "RecordingSource": {
                  "style": "form"
                },
                "FinishedOnKey": {
                  "style": "form"
                },
                "TranscriptionSid": {
                  "style": "form"
                },
                "TranscriptionText": {
                  "style": "form"
                },
                "TranscriptionStatus": {
                  "style": "form"
                },
                "TranscriptionUrl": {
                  "style": "form"
                },
                "RecordingSid": {
                  "style": "form"
                },
                "DialCallStatus": {
                  "style": "form"
                },
                "DialCallSid": {
                  "style": "form"
                },
                "DialCallDuration": {
                  "style": "form"
                },
                "SipDomain": {
                  "style": "form"
                },
                "SipUsername": {
                  "style": "form"
                },
                "SipCallId": {
                  "style": "form"
                },
                "SipSourceIp": {
                  "style": "form"
                },
                "AccountSid": {
                  "style": "form"
                },
                "From": {
                  "style": "form"
                },
                "To": {
                  "style": "form"
                },
                "FromCity": {
                  "style": "form"
                },
                "FromState": {
                  "style": "form"
                },
                "FromZip": {
                  "style": "form"
                },
                "FromCountry": {
                  "style": "form"
                },
                "ToCity": {
                  "style": "form"
                },
                "ToState": {
                  "style": "form"
                },
                "ToZip": {
                  "style": "form"
                },
                "ToCountry": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/AIAgentCallBack/CallToHumanAgent": {
      "post": {
        "tags": [
          "AIAgentCallBack"
        ],
        "parameters": [
          {
            "name": "callSid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mainCorpNo",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "isAIException",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": { }
              },
              "application/json": {
                "schema": { }
              },
              "text/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/AIAgentCallBack/AIAgentCallAnswered": {
      "post": {
        "tags": [
          "AIAgentCallBack"
        ],
        "parameters": [
          {
            "name": "callSid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mainCorpNo",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/AIAgentCallBack/PullCall": {
      "post": {
        "tags": [
          "AIAgentCallBack"
        ],
        "parameters": [
          {
            "name": "mainCorpNo",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/AIAgentCallBack/RouteToVoicemail": {
      "post": {
        "tags": [
          "AIAgentCallBack"
        ],
        "parameters": [
          {
            "name": "callSid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mainCorpNo",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": { }
              },
              "application/json": {
                "schema": { }
              },
              "text/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/BHQueues/insertupdate": {
      "post": {
        "tags": [
          "BHQueues"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BHQueue"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BHQueue"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BHQueue"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BHQueueMainViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BHQueueMainViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BHQueueMainViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/BHQueues/delete": {
      "post": {
        "tags": [
          "BHQueues"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BHQueue"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BHQueue"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BHQueue"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BHQueueMainViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BHQueueMainViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BHQueueMainViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/BHQueues/search": {
      "post": {
        "tags": [
          "BHQueues"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseSearchEntity"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseSearchEntity"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BaseSearchEntity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BHQueueMainViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BHQueueMainViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BHQueueMainViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/BHQueues/list": {
      "get": {
        "tags": [
          "BHQueues"
        ],
        "parameters": [
          {
            "name": "timeZoneModel.CaseIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "timeZoneModel.SubAdminTopics",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "timeZoneModel.TimeZoneDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZoneModel.StartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZoneModel.EndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZoneModel.TimeZoneDateTime.Item1",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZoneModel.TimeZoneDateTime.Item2",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "PerType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/CalenderFilter"
            }
          },
          {
            "name": "SDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DateRange.CurrentStartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateRange.CurrentEndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateRange.PreviousStartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateRange.PreviousEndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "LstQueue",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "LstDistrictNumber",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "LstTopics",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BHQueueListMainViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BHQueueListMainViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BHQueueListMainViewModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "BHQueues"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseSearchEntity"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseSearchEntity"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BaseSearchEntity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BHQueueListMainViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BHQueueListMainViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BHQueueListMainViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/BusinessHours/GetTimeInterval": {
      "get": {
        "tags": [
          "BusinessHours"
        ],
        "parameters": [
          {
            "name": "screenId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeInterval"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeInterval"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeInterval"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/BusinessHours/insertupdate": {
      "post": {
        "tags": [
          "BusinessHours"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessHour"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessHour"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessHour"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessHourMainViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessHourMainViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessHourMainViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/BusinessHours/delete": {
      "post": {
        "tags": [
          "BusinessHours"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessHour"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessHour"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessHour"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessHourMainViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessHourMainViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessHourMainViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/BusinessHours/search": {
      "post": {
        "tags": [
          "BusinessHours"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessHourSearchEntity"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessHourSearchEntity"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessHourSearchEntity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessHourMainViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessHourMainViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessHourMainViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/BusinessHours/list": {
      "get": {
        "tags": [
          "BusinessHours"
        ],
        "parameters": [
          {
            "name": "BusinessId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "timeZoneModel.CaseIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "timeZoneModel.SubAdminTopics",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "timeZoneModel.TimeZoneDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZoneModel.StartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZoneModel.EndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZoneModel.TimeZoneDateTime.Item1",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZoneModel.TimeZoneDateTime.Item2",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "PerType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/CalenderFilter"
            }
          },
          {
            "name": "SDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DateRange.CurrentStartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateRange.CurrentEndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateRange.PreviousStartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateRange.PreviousEndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "LstQueue",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "LstDistrictNumber",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "LstTopics",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessHourListMainViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessHourListMainViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessHourListMainViewModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "BusinessHours"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessHourSearchEntity"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessHourSearchEntity"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessHourSearchEntity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessHourListMainViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessHourListMainViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessHourListMainViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/CallDetailDashboard/GetCallDetails": {
      "post": {
        "tags": [
          "CallDetailDashboard"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallCenterDashboardFilterModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CallCenterDashboardFilterModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CallCenterDashboardFilterModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CallsListDashboardListModelMainViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallsListDashboardListModelMainViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallsListDashboardListModelMainViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/CallDetailDashboard/GetRecordingData": {
      "post": {
        "tags": [
          "CallDetailDashboard"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordingRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordingRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RecordingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentRecordingData"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentRecordingData"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentRecordingData"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/CallDetailFilters/search": {
      "post": {
        "tags": [
          "CallDetailFilters"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallDetailsFilterModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CallDetailsFilterModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CallDetailsFilterModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CallDetailFiltersMainViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallDetailFiltersMainViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallDetailFiltersMainViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/CallDetailFilters/list": {
      "get": {
        "tags": [
          "CallDetailFilters"
        ],
        "parameters": [
          {
            "name": "LstResult",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "LstDirections",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "LstAgents",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "RptID",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "RptName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NewRptName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RptType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ReportType"
            }
          },
          {
            "name": "IsDeleted",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsEmail",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsPDF",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsSaved",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsNogin",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CType",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Cx",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "DType",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "EntPnt",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Age",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Stat",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Prty",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Tags",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "ActTkn",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "IAOwner",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "DptInt",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "DptExt",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "DeptCnt",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "OwnerCnt",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TagCnt",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "IsCustm",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "TourMode",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PhoneNo",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "IsFilterChecked",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CsatType",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SubadminTopics",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Topics"
              }
            }
          },
          {
            "name": "CallDetailsColumn",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeZoneModel.CaseIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "timeZoneModel.SubAdminTopics",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          {
            "name": "timeZoneModel.TimeZoneDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZoneModel.StartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZoneModel.EndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZoneModel.TimeZoneDateTime.Item1",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZoneModel.TimeZoneDateTime.Item2",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "PerType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/CalenderFilter"
            }
          },
          {
            "name": "SDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DateRange.CurrentStartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateRange.CurrentEndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateRange.PreviousStartDate",
            "in": "query",
            "schema": {
              "type": "string",
[...]
