openapi: 3.0.3
info:
  title: SitePro App
  version: 1.0.0
servers:
  - url: https://site.pro
tags:
  - name: FAQ
  - name: My-Accounting
  - name: My-Licenses
  - name: My-Websites
  - name: Profile
  - name: Support
  - name: api
  - name: mailbox
  - name: mp
  - name: ul
paths:
  /api/billing-details/store:
    post:
      tags:
        - api
      summary: POST /api/billing-details/store
      operationId: post_api_billing_details_store
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiPostRequest"
            examples:
              fromHar:
                value:
                  user:
                    name: joel millerm
                    address: 3667 Sydney Ct
                    countryCode: IN
                    companyCode: "123"
                    vatCode: "321"
                    ruKppVatPayer:
                      kpp: ""
                      isVatPayer: false
                    email: joelmiller890321@gmail.com
                    badEmail: false
                    contactPhone: ""
                    moreVisible: true
                  csrfToken: c01d3722ee2a70de0b6cbf6931427342
      responses:
        "200":
          description: Success
  /My-Websites/load-init:
    get:
      tags:
        - My-Websites
      summary: GET /My-Websites/load-init
      operationId: get_My_Websites_load_init
      responses:
        "200":
          description: Success
  /api/billing-details/load:
    post:
      tags:
        - api
      summary: POST /api/billing-details/load
      operationId: post_api_billing_details_load
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiPostRequest"
            examples:
              fromHar:
                value:
                  fromPaymentDialog: true
      responses:
        "200":
          description: Success
  /My-Websites/load-tld-list:
    get:
      tags:
        - My-Websites
      summary: GET /My-Websites/load-tld-list
      operationId: get_My_Websites_load_tld_list
      responses:
        "200":
          description: Success
  /My-Websites/{id}:
    get:
      tags:
        - My-Websites
      summary: GET /My-Websites/{id}
      operationId: get_My_Websites_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: get-published-websites
      responses:
        "200":
          description: Success
  /My-Websites/update-websites:
    post:
      tags:
        - My-Websites
      summary: POST /My-Websites/update-websites
      operationId: post_My_Websites_update_websites
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-WebsitesPostRequest"
            examples:
              fromHar:
                value: {}
      responses:
        "200":
          description: Success
  /api/get-domain-info/check-many:
    post:
      tags:
        - api
      summary: POST /api/get-domain-info/check-many
      operationId: post_api_get_domain_info_check_many
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiPostRequest"
            examples:
              fromHar:
                value:
                  domains:
                    - joelmillerm1.free.site.pro
                  token: 69ddb471bdafe8.79818043
                  query: joelmillerm1.free.site.pro
                  source: DomainRowDirective
      responses:
        "200":
          description: Success
  /api/get-domain-info/rename-domain:
    post:
      tags:
        - api
      summary: POST /api/get-domain-info/rename-domain
      operationId: post_api_get_domain_info_rename_domain
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiPostRequest"
            examples:
              fromHar:
                value:
                  domainName: joelmillerm1.free.site.pro
                  domainId: 6669420
                  csrfToken: c01d3722ee2a70de0b6cbf6931427342
      responses:
        "200":
          description: Success
  /mp:
    post:
      tags:
        - mp
      summary: POST /mp
      operationId: post_mp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MpPostRequest"
            examples:
              fromHar:
                value:
                  list:
                    - id: kDw8sYdXb1hYPzGf
                      type: b2c-websites-add-mailbox-btn-click
                      ts: 1776141112919
                  ts: 1776141112990
      responses:
        "200":
          description: Success
  /mailbox/add-mailbox:
    post:
      tags:
        - mailbox
      summary: POST /mailbox/add-mailbox
      operationId: post_mailbox_add_mailbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MailboxPostRequest"
            examples:
              fromHar:
                value:
                  domainId: 3
                  emailUser: aa
                  emailPassword: Tester@786123
                  token: c01d3722ee2a70de0b6cbf6931427342
      responses:
        "200":
          description: Success
  /Profile/social-list:
    get:
      tags:
        - Profile
      summary: GET /Profile/social-list
      operationId: get_Profile_social_list
      responses:
        "200":
          description: Success
  /Profile/{id}:
    get:
      tags:
        - Profile
      summary: GET /Profile/{id}
      operationId: get_Profile_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: twofactor-status
      responses:
        "200":
          description: Success
  /Profile/webauthn-list:
    get:
      tags:
        - Profile
      summary: GET /Profile/webauthn-list
      operationId: get_Profile_webauthn_list
      responses:
        "200":
          description: Success
  /Support:
    post:
      tags:
        - Support
      summary: POST /Support
      operationId: post_Support
      parameters:
        - name: log-new-ticket-open
          in: query
          required: false
          schema:
            type: string
          example: "1"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SupportPostRequest"
            examples:
              fromHar:
                value:
                  sourcePageId: 190
      responses:
        "200":
          description: Success
  /FAQ/list:
    post:
      tags:
        - FAQ
      summary: POST /FAQ/list
      operationId: post_FAQ_list
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties:
                type: string
            examples:
              fromHar:
                value:
                  q: Please+activate+%22Developer%22+profile+type
                  t: websites
                  c: ""
                  parentCategory: ""
                  cat: ""
                  tickets: "true"
      responses:
        "200":
          description: Success
  /FAQ/listAi:
    post:
      tags:
        - FAQ
      summary: POST /FAQ/listAi
      operationId: post_FAQ_listAi
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties:
                type: string
            examples:
              fromHar:
                value:
                  q: Please+activate+%22Developer%22+profile+type
                  t: websites
                  c: ""
                  parentCategory: ""
                  cat: ""
                  tickets: "true"
      responses:
        "200":
          description: Success
  /ul/{id}:
    post:
      tags:
        - ul
      summary: POST /ul/{id}
      operationId: post_ul_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: one-time-2fa-required
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UlPostRequest"
            examples:
              fromHar:
                value:
                  action: add-biometric-key
      responses:
        "200":
          description: Success
  /Profile/webauthn-add:
    post:
      tags:
        - Profile
      summary: POST /Profile/webauthn-add
      operationId: post_Profile_webauthn_add
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProfilePostRequest"
            examples:
              fromHar:
                value:
                  oneTime2FAToken: AgUw3g7DE5v8CYIPj3yadYiWAHjmygduJriNF_WH
      responses:
        "200":
          description: Success
  /My-Accounting/assets/i18n/lt/main/en.json:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/assets/i18n/lt/main/en.json
      operationId: get_My_Accounting_assets_i18n_lt_main_en_json
      responses:
        "200":
          description: Success
  /My-Accounting/account/dashboard/{id}:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/account/dashboard/{id}
      operationId: get_My_Accounting_account_dashboard_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: complete-register-wizard
        - name: url
          in: query
          required: false
          schema:
            type: string
          example: https://site.pro/My-Accounting/account/dashboard
      responses:
        "200":
          description: Success
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/account/dashboard/{id}
      operationId: post_My_Accounting_account_dashboard_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: fetch-chart-data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  dateFrom: 2026-01-13
                  dateUntil: 2026-04-14
      responses:
        "200":
          description: Success
  /My-Accounting/custom-page/help/{id}:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/custom-page/help/{id}
      operationId: get_My_Accounting_custom_page_help_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: get-popular-faq-count
        - name: value
          in: query
          required: false
          schema:
            type: string
          example: https://site.pro/My-Accounting/account/complete-register
      responses:
        "200":
          description: Success
  /My-Accounting/resource/data/sidebar:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/resource/data/sidebar
      operationId: get_My_Accounting_resource_data_sidebar
      parameters:
        - name: module
          in: query
          required: false
          schema:
            type: string
          example: account
      responses:
        "200":
          description: Success
  /My-Accounting/account/profiles/fetch:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/account/profiles/fetch
      operationId: get_My_Accounting_account_profiles_fetch
      responses:
        "200":
          description: Success
  /My-Accounting/user/sign-up:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/user/sign-up
      operationId: post_My_Accounting_user_sign_up
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  acceptRules: true
                  name: joel
                  lastName: millerm
                  fullName: joel millerm
                  email: joelmiller890321@gmail.com
                  phone: null
                  avatars: []
                  errors: []
                  verificationToken: 0cAFcWeA5Yg0vqseonzIn_FwHmyAQQOeKn-vALuLZ1QMzcP7rgdwNY36YrEYGmTHqqipGKW6Uug8GslPQiB4WorT22yQwqQVuIl-nISPYdl7HNLUEpSo6jlBuvLnH86GhF8kRnchJfEa0yQDD0cv-2kGEbSnH-VderIBNhhI-WEUXLCgsSByK5i78i28kjKCDnczWUkIQydmGdb2Eh4wxpsGKjxvcHHAQzZzKd8_DoFAkhRgFND0fpmSLJEUjfniIbn530CkjzFK4y67cnBzmbF6bS_0cuNKePlImoOKj7SJiU_A_KNrrvXOp4bVKJirf9N1udEIspU9u2YhQq06RE5pM3YrkAl6uNeYQC1mFKdfNVeizYN4m5Y_oVcS4Hg8NtrTC0FgXc-P8w8Gd-4ZHxx7U-_eLSdXo9nBVSWNc39PHJ6-Do8euiRiF_X7yWod6ytdatYnDlOLGv9Bj_6S1_nYGVkUV6_dV3qXEiOt3Jism8sPmgSk5zgkgTj_K-jQ_hi2ZeQlobDmQN552UuounasmRVRXrbHWDy5M-63u3pTzwF6dXjpTZBmz3lxDB2GDu9uUmLkzrtLCQs6NBaUA076l1ZsEHIPLFZif27hv_gwXX-o1-zNyysrqGqG3ZYBz-DV8nANqHgVebZc4a19z6K4kG9blIgWPrp2CBFZQ2Cr3D3uZrds4CnUFpqs9aztXTMQYjTScclnZCkDLrSGiWOIwndfEX1d5T-R_XrW4g_dCdbFWSfWVnUYxuCcufwXd5nzUfM0t3r-i4pCpdaDDTKDOcWJ9PORudf4YnsogHNZ0DbDVmyMxjKXyav7PSb2NQOQ9E3flfpHhRDDfpDhwMw0Wddq1kxyTOzSvKQb7F37Ymi_C-zFWYTbFW1FH2dJYZnrFnnGvqkXxSH1-fW_6EPXc0ofvVsUl1d6sdiuRK_9BE2u8yRm709Xyx8oEZ4iylhzyvX_QWMRkLIJtX0HRu0ajiz7DxwO8TbpwjXC8y1HiEBgQ-uqM5ndR6eJrdzFDKFPo3eWpTl_e_xsfpsT1gicpEGWHcPO4rttjYPt4r78Ojj7jlOe5psLDlc7jN1G0cfHjt6YYxI00DCZWK_bz_lndyBBE7OFXLzE4ZHNqWAocrWYhUakqqIyAh59tUSjdFAvkj2QTAbnhbouZsvWdjgSmgPGfzxT31ZLtJBICMdT9tBwgzRlwjDFzY-BrjISu-AHrz7MpjfdRFrviz5DhwltwocPEQsogG-n0E2mKyMDvrVTcRUaMOU8Q9ex0VfgbgYtulLKiEoeXInTUUUEbQM3BPKOZOCQykZ9RqX5U8KPg__v5W-X_2eAyUxaj82gUOcx93M3nA9JLALkkbQRQmDkwqp-py-v4IFkP8j44xY_jmrstovTycgT_JnzdNhBwm8M500-10YF7xNeRtoxAuDEVqsoF-2qBAEgA_9Qkr-WEZOk0-TteWhjWJxFzpld012xHywEsebrkEQnurMnt0eL3hwAWK26RQph63k9s1FwL_sceptI44MWC9zEWLLWf3DtKBzjVLE1M9qVIrHi5IV8tZ0yHFQHQrSlmbeUDT8mVdoXljDYcGkkOYa6Uac8bXcnlcmZk9-xZdA8s6-MsfekNUqs3IJJrMFTctPCY3bFceA0ZlVNt0Ge9IHcsLvXtEwKGb59zAK7_ZZU1Bi6vwAsKpUKmYmM3Et5UyyMRCBKs0iT-svR_PFdn0K-jAHeGLhi7lzfxU-mzwbOOttVmIO1ndVe6BYCYWtxEhOoVKCQkMygYkNb-bT8-9ckmAUEnMTV9qdKnEcBo-Swz95xX56z70Z6a7cXuXAjuEjpLnKJF0gDtZXOKxsrBzy9yfsF8gxAoa7h2NSBWvDV5ZHl_EO_hQAro_M7m05wCSLBa4qCkEMKVSkbeBTQDu5bUYHLjWCMbyxlwpwSvZs2Qda9XOnvdeoAaMkWTzgw4S7wSZ0ZOpamwJs3lQZqkP5pEqenzFAkNruJsQl1n45ASAZ7IoznUJ2RgaRIm3_hxcUb65pv28SyP5a75_O4tSSR0OEC2jK6tQabopgGIQAozxfBblIFxv_5Zg5iRl0McNkRnADzo-UoqBROv5N9f5AVk3Ajo6NK4Ausj4R6vU8oddCCYZmXZ0lMpeehJqJNv6-ngcATqbigiQS0TfEU3Wk8z47IhG2vGQPqojB8B8J9UeNsrGp2U8QnpzmcDGYoxcY6AMjQuwIbHxYM_7zQE
      responses:
        "200":
          description: Success
  /My-Accounting/account/profiles/wizard:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/account/profiles/wizard
      operationId: get_My_Accounting_account_profiles_wizard
      responses:
        "200":
          description: Success
  /My-Accounting/account/dashboard:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/account/dashboard
      operationId: get_My_Accounting_account_dashboard
      responses:
        "200":
          description: Success
  /My-Accounting/resource/data/user-token:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/resource/data/user-token
      operationId: get_My_Accounting_resource_data_user_token
      responses:
        "200":
          description: Success
  /My-Accounting/resource/partials/webinars:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/resource/partials/webinars
      operationId: get_My_Accounting_resource_partials_webinars
      responses:
        "200":
          description: Success
  /My-Accounting/assets/i18n/lt/account/en.json:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/assets/i18n/lt/account/en.json
      operationId: get_My_Accounting_assets_i18n_lt_account_en_json
      responses:
        "200":
          description: Success
  /My-Accounting/resource/data/companies:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/resource/data/companies
      operationId: get_My_Accounting_resource_data_companies
      parameters:
        - name: userId
          in: query
          required: false
          schema:
            type: string
          example: "96929"
      responses:
        "200":
          description: Success
  /My-Accounting/resource/data/offer:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/resource/data/offer
      operationId: get_My_Accounting_resource_data_offer
      responses:
        "200":
          description: Success
  /My-Accounting/account/messages/fetch-unread:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/account/messages/fetch-unread
      operationId: get_My_Accounting_account_messages_fetch_unread
      responses:
        "200":
          description: Success
  /My-Accounting/resource/data/{id}:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/resource/data/{id}
      operationId: get_My_Accounting_resource_data_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: accounting-modes
      responses:
        "200":
          description: Success
  /My-Accounting/resource/data/user-types:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/resource/data/user-types
      operationId: get_My_Accounting_resource_data_user_types
      responses:
        "200":
          description: Success
  /My-Accounting/account/companies/{id}:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/account/companies/{id}
      operationId: get_My_Accounting_account_companies_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: get-accounting-currencies
      responses:
        "200":
          description: Success
  /My-Accounting/resource/data/tax-countries:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/resource/data/tax-countries
      operationId: get_My_Accounting_resource_data_tax_countries
      responses:
        "200":
          description: Success
  /My-Accounting/resource/data/db-templates:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/resource/data/db-templates
      operationId: get_My_Accounting_resource_data_db_templates
      responses:
        "200":
          description: Success
  /My-Accounting/webinars/feed:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/webinars/feed
      operationId: post_My_Accounting_webinars_feed
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  limit: "3"
      responses:
        "200":
          description: Success
  /My-Accounting/account/profiles/complete:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/account/profiles/complete
      operationId: post_My_Accounting_account_profiles_complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  templateDb: uae_other
                  isVatPayer: true
                  isFromWizard: true
                  taxCountry: AE
                  companyBaseCurrencyCode: AED
                  currenciesByCountries:
                    PG:
                      - PGK
                    BT:
                      - BTN
                    SC:
                      - SCR
                    CG:
                      - CDF
                    JP:
                      - JPY
                    SD:
                      - SDG
                    XK:
                      - EUR
                    SS:
                      - SSP
                    IT:
                      - EUR
                    ET:
                      - ETB
                    YE:
                      - YER
                    NL:
                      - EUR
                    FI:
                      - EUR
                    CI:
                      - XOF
                    VE:
                      - VES
                    IE:
                      - EUR
                    KG:
                      - KGS
                    LY:
                      - LYD
                    ME:
                      - EUR
                    LS:
                      - LSL
                    MM:
                      - MMK
                    SM:
                      - EUR
                    VA:
                      - EUR
                    SE:
                      - SEK
                    GB:
                      - GBP
                    DK:
                      - DKK
                    DZ:
                      - DZD
                    IL:
                      - ILS
                    MR:
                      - MRU
                    MW:
                      - MWK
                    KR:
                      - KRW
                    TM:
                      - TMT
                    UZ:
                      - UZS
                    IS:
                      - ISK
                    DE:
                      - EUR
                    LR:
                      - LRD
                    MA:
                      - MAD
                    MD:
                      - MDL
                    MN:
                      - MNT
                    FR:
                      - EUR
                    GE:
                      - GEL
                    BE:
                      - EUR
                    RS:
                      - RSD
                    SA:
                      - SAR
                    ES:
                      - EUR
                    AT:
                      - EUR
                    RW:
                      - RWF
                    GD:
                      - XCD
                    TJ:
                      - TJS
                    ML:
                      - XOF
                    CY:
                      - EUR
                    GH:
                      - GHS
                    LU:
                      - EUR
                    LI:
                      - CHF
                    SN:
                      - XOF
                    MT:
                      - EUR
                    MC:
                      - EUR
                    KZ:
                      - KZT
                    RU:
                      - RUB
                    AO:
                      - AOA
                    AM:
                      - AMD
                    AZ:
                      - AZN
                    BH:
                      - BHD
                    BY:
                      - BYN
                    BA:
                      - BAM
                    BN:
                      - BND
                    BS:
                      - BSD
                    CL:
                      - CLP
                    EG:
                      - EGP
                    HK:
                      - HKD
                    PR:
                      - USD
                    QA:
                      - QAR
                    SK:
                      - EUR
                    EE:
                      - EUR
                    SL:
                      - EUR
                    CN:
                      - CNY
                    KE:
                      - KES
                    KW:
                      - KWD
                    KY:
                      - KYD
                    LB:
                      - LBP
                    PT:
                      - EUR
                    AD:
                      - EUR
                    NZ:
                      - NZD
                    CH:
                      - CHF
                    PE:
                      - PEN
                    SG:
                      - SGD
                    HR:
                      - EUR
                    OM:
                      - OMR
                    LV:
                      - EUR
                    GR:
                      - EUR
                    UA:
                      - UAH
                    PL:
                      - PLN
                    HU:
                      - HUF
                    CZ:
                      - CZK
                    BG:
                      - BGN
                    NO:
                      - NOK
                    AR:
                      - ARS
                    MX:
                      - MXN
                    PH:
                      - PHP
                    BR:
                      - BRL
                    AE:
                      - AED
                    TH:
                      - THB
                    IQ:
                      - IQD
                    CO:
                      - COP
                    GT:
                      - GTQ
                    LT:
                      - EUR
                    HN:
                      - HNL
                    JO:
                      - JOD
                    AI:
                      - XCD
                    ZA:
                      - ZAR
                    EC:
                      - USD
                    PY:
                      - PYG
                    RO:
                      - RON
                    BF:
                      - XAF
                    AF:
                      - AFN
                    BD:
                      - BDT
                    AW:
                      - AWG
                    IN:
                      - INR
                    ID:
                      - IDR
                    TR:
                      - TRY
                    PA:
                      - USD
                    KH:
                      - KHR
                    JM:
                      - JMD
                    KP:
                      - KPW
                    MY:
                      - MYR
                    MZ:
                      - MZN
                    MU:
                      - MUR
                    PK:
                      - PKR
                    SY:
                      - SYP
                    TN:
                      - TND
                    TW:
                      - TWD
                    UY:
                      - UYU
                    VN:
                      - VND
                    NG:
                      - NGN
                    CR:
                      - CRC
                    GY:
                      - GYD
                    BZ:
                      - BZD
                    US:
                      - USD
                    HT:
                      - HTG
                    AL:
                      - ALL
                    AN:
                      - ANG
                    AU:
                      - AUD
                    BB:
                      - BBD
                    AG:
                      - XCD
                    BI:
                      - BIF
                    BM:
                      - BMD
                    ZW:
                      - ZWL
                    BO:
                      - BOB
                    BW:
                      - BWP
                    CA:
                      - CAD
                    LA:
                      - LAK
                    MG:
                      - MGA
                    MK:
                      - MKD
                    MO:
                      - MOP
                    IR:
                      - IRR
                    LK:
                      - LKR
                    TZ:
                      - TZS
                    UG:
                      - UGX
                    ZM:
                      - ZMW
                    BJ:
                      - XOF
                    BL:
                      - EUR
                    GF:
                      - EUR
                    GL:
                      - DKK
                    GP:
                      - EUR
                    GU:
                      - USD
                    GI:
                      - GIP
                    GG:
                      - GBP
                    NP:
                      - NPR
                    AX:
                      - EUR
                    MV:
                      - MVR
                    NI:
                      - NIO
                    NA:
                      - NAD
                    DO:
                      - DOP
                    CU:
                      - CUP
                    TT:
                      - TTD
                    PM:
                      - XCD
                    BQ:
                      - USD
                    LC:
                      - XCD
                    JE:
                      - GBP
                    TC:
                      - USD
                    SV:
                      - USD
                  accountingModeId: 1
                  typeId: 1
                  accountingResponsibleId: 3
                  step: 3
                  finishWizard: false
      responses:
        "200":
          description: Success
  /My-Accounting/account/companies/initialize:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/account/companies/initialize
      operationId: post_My_Accounting_account_companies_initialize
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  templateDb: uae_other
                  isVatPayer: true
                  isFromWizard: true
                  taxCountry: AE
                  companyBaseCurrencyCode: AED
                  currenciesByCountries:
                    PG:
                      - PGK
                    BT:
                      - BTN
                    SC:
                      - SCR
                    CG:
                      - CDF
                    JP:
                      - JPY
                    SD:
                      - SDG
                    XK:
                      - EUR
                    SS:
                      - SSP
                    IT:
                      - EUR
                    ET:
                      - ETB
                    YE:
                      - YER
                    NL:
                      - EUR
                    FI:
                      - EUR
                    CI:
                      - XOF
                    VE:
                      - VES
                    IE:
                      - EUR
                    KG:
                      - KGS
                    LY:
                      - LYD
                    ME:
                      - EUR
                    LS:
                      - LSL
                    MM:
                      - MMK
                    SM:
                      - EUR
                    VA:
                      - EUR
                    SE:
                      - SEK
                    GB:
                      - GBP
                    DK:
                      - DKK
                    DZ:
                      - DZD
                    IL:
                      - ILS
                    MR:
                      - MRU
                    MW:
                      - MWK
                    KR:
                      - KRW
                    TM:
                      - TMT
                    UZ:
                      - UZS
                    IS:
                      - ISK
                    DE:
                      - EUR
                    LR:
                      - LRD
                    MA:
                      - MAD
                    MD:
                      - MDL
                    MN:
                      - MNT
                    FR:
                      - EUR
                    GE:
                      - GEL
                    BE:
                      - EUR
                    RS:
                      - RSD
                    SA:
                      - SAR
                    ES:
                      - EUR
                    AT:
                      - EUR
                    RW:
                      - RWF
                    GD:
                      - XCD
                    TJ:
                      - TJS
                    ML:
                      - XOF
                    CY:
                      - EUR
                    GH:
                      - GHS
                    LU:
                      - EUR
                    LI:
                      - CHF
                    SN:
                      - XOF
                    MT:
                      - EUR
                    MC:
                      - EUR
                    KZ:
                      - KZT
                    RU:
                      - RUB
                    AO:
                      - AOA
                    AM:
                      - AMD
                    AZ:
                      - AZN
                    BH:
                      - BHD
                    BY:
                      - BYN
                    BA:
                      - BAM
                    BN:
                      - BND
                    BS:
                      - BSD
                    CL:
                      - CLP
                    EG:
                      - EGP
                    HK:
                      - HKD
                    PR:
                      - USD
                    QA:
                      - QAR
                    SK:
                      - EUR
                    EE:
                      - EUR
                    SL:
                      - EUR
                    CN:
                      - CNY
                    KE:
                      - KES
                    KW:
                      - KWD
                    KY:
                      - KYD
                    LB:
                      - LBP
                    PT:
                      - EUR
                    AD:
                      - EUR
                    NZ:
                      - NZD
                    CH:
                      - CHF
                    PE:
                      - PEN
                    SG:
                      - SGD
                    HR:
                      - EUR
                    OM:
                      - OMR
                    LV:
                      - EUR
                    GR:
                      - EUR
                    UA:
                      - UAH
                    PL:
                      - PLN
                    HU:
                      - HUF
                    CZ:
                      - CZK
                    BG:
                      - BGN
                    NO:
                      - NOK
                    AR:
                      - ARS
                    MX:
                      - MXN
                    PH:
                      - PHP
                    BR:
                      - BRL
                    AE:
                      - AED
                    TH:
                      - THB
                    IQ:
                      - IQD
                    CO:
                      - COP
                    GT:
                      - GTQ
                    LT:
                      - EUR
                    HN:
                      - HNL
                    JO:
                      - JOD
                    AI:
                      - XCD
                    ZA:
                      - ZAR
                    EC:
                      - USD
                    PY:
                      - PYG
                    RO:
                      - RON
                    BF:
                      - XAF
                    AF:
                      - AFN
                    BD:
                      - BDT
                    AW:
                      - AWG
                    IN:
                      - INR
                    ID:
                      - IDR
                    TR:
                      - TRY
                    PA:
                      - USD
                    KH:
                      - KHR
                    JM:
                      - JMD
                    KP:
                      - KPW
                    MY:
                      - MYR
                    MZ:
                      - MZN
                    MU:
                      - MUR
                    PK:
                      - PKR
                    SY:
                      - SYP
                    TN:
                      - TND
                    TW:
                      - TWD
                    UY:
                      - UYU
                    VN:
                      - VND
                    NG:
                      - NGN
                    CR:
                      - CRC
                    GY:
                      - GYD
                    BZ:
                      - BZD
                    US:
                      - USD
                    HT:
                      - HTG
                    AL:
                      - ALL
                    AN:
                      - ANG
                    AU:
                      - AUD
                    BB:
                      - BBD
                    AG:
                      - XCD
                    BI:
                      - BIF
                    BM:
                      - BMD
                    ZW:
                      - ZWL
                    BO:
                      - BOB
                    BW:
                      - BWP
                    CA:
                      - CAD
                    LA:
                      - LAK
                    MG:
                      - MGA
                    MK:
                      - MKD
                    MO:
                      - MOP
                    IR:
                      - IRR
                    LK:
                      - LKR
                    TZ:
                      - TZS
                    UG:
                      - UGX
                    ZM:
                      - ZMW
                    BJ:
                      - XOF
                    BL:
                      - EUR
                    GF:
                      - EUR
                    GL:
                      - DKK
                    GP:
                      - EUR
                    GU:
                      - USD
                    GI:
                      - GIP
                    GG:
                      - GBP
                    NP:
                      - NPR
                    AX:
                      - EUR
                    MV:
                      - MVR
                    NI:
                      - NIO
                    NA:
                      - NAD
                    DO:
                      - DOP
                    CU:
                      - CUP
                    TT:
                      - TTD
                    PM:
                      - XCD
                    BQ:
                      - USD
                    LC:
                      - XCD
                    JE:
                      - GBP
                    TC:
                      - USD
                    SV:
                      - USD
                  accountingModeId: 1
                  typeId: 1
                  accountingResponsibleId: 3
                  name: Jack Doe
                  code: "123456789"
      responses:
        "200":
          description: Success
  /My-Accounting/account/companies/select:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/account/companies/select
      operationId: get_My_Accounting_account_companies_select
      parameters:
        - name: id
          in: query
          required: false
          schema:
            type: string
          example: "124497"
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/account/companies/fetch:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/account/companies/fetch
      operationId: get_My_Accounting_account_companies_fetch
      parameters:
        - name: id
          in: query
          required: false
          schema:
            type: string
          example: "124497"
      responses:
        "200":
          description: Success
  /My-Accounting/account/companies/go-to:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/account/companies/go-to
      operationId: get_My_Accounting_account_companies_go_to
      parameters:
        - name: id
          in: query
          required: false
          schema:
            type: string
          example: "124497"
      responses:
        "200":
          description: Success
  /My-Accounting/assets/i18n/ae/main/en.json:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/assets/i18n/ae/main/en.json
      operationId: get_My_Accounting_assets_i18n_ae_main_en_json
      responses:
        "200":
          description: Success
  /My-Accounting/resource/{id}/{id2}:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/resource/{id}/{id2}
      operationId: get_My_Accounting_resource_id_id2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: current-company-user
        - name: id2
          in: path
          required: true
          schema:
            type: string
          example: introduction-template
      responses:
        "200":
          description: Success
  /My-Accounting:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting
      operationId: get_My_Accounting
      parameters:
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/account/shortcuts/fetch-all:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/account/shortcuts/fetch-all
      operationId: get_My_Accounting_account_shortcuts_fetch_all
      responses:
        "200":
          description: Success
  /My-Accounting/account/user-params/fetch:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/account/user-params/fetch
      operationId: get_My_Accounting_account_user_params_fetch
      parameters:
        - name: key
          in: query
          required: false
          schema:
            type: string
          example: dashboardGrid
      responses:
        "200":
          description: Success
  /My-Accounting/widgets/manager/view:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/widgets/manager/view
      operationId: get_My_Accounting_widgets_manager_view
      parameters:
        - name: widget
          in: query
          required: false
          schema:
            type: string
          example: OverduePurchaseInvoicesWidget
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/temp-files/list-manager:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/warehouse/temp-files/list-manager
      operationId: get_My_Accounting_warehouse_temp_files_list_manager
      responses:
        "200":
          description: Success
  /My-Accounting/widgets/manager/fetch:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/widgets/manager/fetch
      operationId: get_My_Accounting_widgets_manager_fetch
      parameters:
        - name: widgetClass
          in: query
          required: false
          schema:
            type: string
          example: OverduePurchaseInvoicesWidget
      responses:
        "200":
          description: Success
  /My-Accounting/assets/i18n/ae/account/en.json:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/assets/i18n/ae/account/en.json
      operationId: get_My_Accounting_assets_i18n_ae_account_en_json
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/temp-files/get-types:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/warehouse/temp-files/get-types
      operationId: get_My_Accounting_warehouse_temp_files_get_types
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/temp-files/fetch-all:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/warehouse/temp-files/fetch-all
      operationId: get_My_Accounting_warehouse_temp_files_fetch_all
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/temp-files/{id}:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/warehouse/temp-files/{id}
      operationId: get_My_Accounting_warehouse_temp_files_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: is-show-warning-message
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/sales:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/warehouse/sales
      operationId: get_My_Accounting_warehouse_sales
      parameters:
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/resource/partials/extd-grid:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/resource/partials/extd-grid
      operationId: get_My_Accounting_resource_partials_extd_grid
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/sale-double/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/warehouse/sale-double/fetch-config
      operationId: post_My_Accounting_warehouse_sale_double_fetch_config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.warehouse-sale-double
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/sales/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/warehouse/sales/fetch-config
      operationId: post_My_Accounting_warehouse_sales_fetch_config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.warehouse-sales-grid
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/temp-files/fetch-all-sales:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/warehouse/temp-files/fetch-all-sales
      operationId: get_My_Accounting_warehouse_temp_files_fetch_all_sales
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/sales/search:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/warehouse/sales/search
      operationId: post_My_Accounting_warehouse_sales_search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  sort:
                    saleDate: desc
                    series: asc
                    number: desc
                  pageSize: 20
                  filters:
                    groupOp: AND
                    rules: {}
                  allSelected: false
                  asString: ""
                  page: 1
                  pages: 1
      responses:
        "200":
          description: Success
  /My-Accounting/client/item-prices:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/client/item-prices
      operationId: get_My_Accounting_client_item_prices
      parameters:
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/client/clients/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/client/clients/fetch-config
      operationId: post_My_Accounting_client_clients_fetch_config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.client-grid
      responses:
        "200":
          description: Success
  /My-Accounting/client/clients/search:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/client/clients/search
      operationId: post_My_Accounting_client_clients_search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  sort:
                    modifiedAt: desc
                  page: 1
                  pageSize: 20
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/auto-invoice:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/warehouse/auto-invoice
      operationId: get_My_Accounting_warehouse_auto_invoice
      parameters:
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/auto-invoice/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/warehouse/auto-invoice/fetch-config
      operationId: post_My_Accounting_warehouse_auto_invoice_fetch_config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.warehouse-auto-invoice-grid
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/auto-invoice/search:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/warehouse/auto-invoice/search
      operationId: post_My_Accounting_warehouse_auto_invoice_search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  sort:
                    id: asc
                  pageSize: 20
                  filters:
                    groupOp: AND
                    rules:
                      gridFilter:
                        data: 2026-04-14
                        field: gridFilter
                        op: eq
                  allSelected: false
                  asString: ""
                  page: 1
                  pages: 1
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/purchases:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/warehouse/purchases
      operationId: get_My_Accounting_warehouse_purchases
      parameters:
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/purchase-double/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/warehouse/purchase-double/fetch-config
      operationId: post_My_Accounting_warehouse_purchase_double_fetch_config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.warehouse-purchase-double
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/purchases/{id}:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/warehouse/purchases/{id}
      operationId: get_My_Accounting_warehouse_purchases_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: show-light-purchases
      responses:
        "200":
          description: Success
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/warehouse/purchases/{id}
      operationId: post_My_Accounting_warehouse_purchases_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: fetch-invoices-overhead-cost-not-in-prime-cost
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/purchases/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/warehouse/purchases/fetch-config
      operationId: post_My_Accounting_warehouse_purchases_fetch_config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.warehouse-purchase-grid
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/purchases/search:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/warehouse/purchases/search
      operationId: post_My_Accounting_warehouse_purchases_search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  sort:
                    purchaseDate: desc
                    series: asc
                    number: desc
                  page: 1
                  pageSize: 20
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/sales-returns:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/warehouse/sales-returns
      operationId: get_My_Accounting_warehouse_sales_returns
      parameters:
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/{id}/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/warehouse/{id}/fetch-config
      operationId: post_My_Accounting_warehouse_id_fetch_config
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: sales-returns-double
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.warehouse-sales-returns-double
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/sales-returns/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/warehouse/sales-returns/fetch-config
      operationId: post_My_Accounting_warehouse_sales_returns_fetch_config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.warehouse-sales-returns-grid
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/sales-returns/search:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/warehouse/sales-returns/search
      operationId: post_My_Accounting_warehouse_sales_returns_search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  sort:
                    purchaseDate: desc
                    series: asc
                    number: desc
                  page: 1
                  pageSize: 20
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/items-stock:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/warehouse/items-stock
      operationId: get_My_Accounting_warehouse_items_stock
      parameters:
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/items-stock/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/warehouse/items-stock/fetch-config
      operationId: post_My_Accounting_warehouse_items_stock_fetch_config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.warehouse-items-stock
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/items-stock/search:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/warehouse/items-stock/search
      operationId: post_My_Accounting_warehouse_items_stock_search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  sort: {}
                  pageSize: 20
                  filters:
                    groupOp: AND
                    rules: {}
                  allSelected: false
                  asString: ""
                  page: 1
                  pages: 1
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/item-movement:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/warehouse/item-movement
      operationId: get_My_Accounting_warehouse_item_movement
      parameters:
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/item-movement/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/warehouse/item-movement/fetch-config
      operationId: post_My_Accounting_warehouse_item_movement_fetch_config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.warehouse-item-movement
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/{id}:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/warehouse/{id}
      operationId: get_My_Accounting_warehouse_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: consignment-balances
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/settings/{id}/fetch:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/settings/{id}/fetch
      operationId: get_My_Accounting_settings_id_fetch
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: user-default-values
        - name: moduleId
          in: query
          required: false
          schema:
            type: string
          example: consignmentBalance
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/{id}/fetch:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/warehouse/{id}/fetch
      operationId: get_My_Accounting_warehouse_id_fetch
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: consignment-balances
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/{id}/search:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/warehouse/{id}/search
      operationId: post_My_Accounting_warehouse_id_search
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: consignment-balances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  sort: {}
                  pageSize: 20
                  filters:
                    groupOp: AND
                    rules: {}
                  allSelected: false
                  asString: ""
                  page: 1
                  pages: 1
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/stock-taking:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/warehouse/stock-taking
      operationId: get_My_Accounting_warehouse_stock_taking
      parameters:
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/stock-taking/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/warehouse/stock-taking/fetch-config
      operationId: post_My_Accounting_warehouse_stock_taking_fetch_config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.warehouse-stock-taking-grid
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/stock-taking/search:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/warehouse/stock-taking/search
      operationId: post_My_Accounting_warehouse_stock_taking_search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  sort:
                    stockTakingDate: asc
                    lockDate: desc
                  page: 1
                  pageSize: 20
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/revalue:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/warehouse/revalue
      operationId: get_My_Accounting_warehouse_revalue
      parameters:
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/revalue/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/warehouse/revalue/fetch-config
      operationId: post_My_Accounting_warehouse_revalue_fetch_config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.warehouse-revalue-grid
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/revalue-items/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/warehouse/revalue-items/fetch-config
      operationId: post_My_Accounting_warehouse_revalue_items_fetch_config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.warehouse-revalue-items-grid
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/revalue/search:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/warehouse/revalue/search
      operationId: post_My_Accounting_warehouse_revalue_search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  sort:
                    revaluationDate: asc
                  pageSize: 20
                  filters:
                    groupOp: AND
                    rules: {}
                  allSelected: false
                  asString: ""
                  page: 1
                  pages: 1
      responses:
        "200":
          description: Success
  /My-Accounting/warehouse/revalue-items/search:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/warehouse/revalue-items/search
      operationId: post_My_Accounting_warehouse_revalue_items_search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  sort: {}
                  pageSize: 20
                  filters:
                    groupOp: AND
                    rules:
                      id:
                        data: []
                        field: id
                        op: ni
                  allSelected: false
                  asString: ""
                  page: 1
                  pages: 1
      responses:
        "200":
          description: Success
  /My-Accounting/e-commerce/orders:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/e-commerce/orders
      operationId: get_My_Accounting_e_commerce_orders
      parameters:
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/e-commerce/orders/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/e-commerce/orders/fetch-config
      operationId: post_My_Accounting_e_commerce_orders_fetch_config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.e-commerce-order-grid
      responses:
        "200":
          description: Success
  /My-Accounting/e-commerce/order-items/{id}:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/e-commerce/order-items/{id}
      operationId: get_My_Accounting_e_commerce_order_items_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: fetch-not-written-off-count
      responses:
        "200":
          description: Success
  /My-Accounting/e-commerce/orders/{id}:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/e-commerce/orders/{id}
      operationId: get_My_Accounting_e_commerce_orders_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: fetch-amazon-bad-orders-count
      responses:
        "200":
          description: Success
  /My-Accounting/e-commerce/orders/search:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/e-commerce/orders/search
      operationId: post_My_Accounting_e_commerce_orders_search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  sort:
                    id: desc
                  pageSize: 20
                  filters:
                    groupOp: AND
                    rules: {}
                  allSelected: false
                  asString: ""
                  page: 1
                  pages: 1
      responses:
        "200":
          description: Success
  /My-Accounting/cash-register/sales:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/cash-register/sales
      operationId: get_My_Accounting_cash_register_sales
      parameters:
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/cash-register/sales/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/cash-register/sales/fetch-config
      operationId: post_My_Accounting_cash_register_sales_fetch_config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.cash-register-sale-grid
      responses:
        "200":
          description: Success
  /My-Accounting/cash-register/sales/search:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/cash-register/sales/search
      operationId: post_My_Accounting_cash_register_sales_search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  sort:
                    receiptDate: desc
                  pageSize: 20
                  filters:
                    groupOp: AND
                    rules: {}
                  allSelected: false
                  asString: ""
                  page: 1
                  pages: 1
      responses:
        "200":
          description: Success
  /My-Accounting/general-ledger/journal:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/general-ledger/journal
      operationId: get_My_Accounting_general_ledger_journal
      parameters:
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/general-ledger/journal/{id}:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/general-ledger/journal/{id}
      operationId: get_My_Accounting_general_ledger_journal_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: fetch-pivot-config
      responses:
        "200":
          description: Success
  /My-Accounting/general-ledger/journal/search:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/general-ledger/journal/search
      operationId: post_My_Accounting_general_ledger_journal_search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  sort: {}
                  pageSize: 20
                  filters:
                    groupOp: AND
                    rules:
                      dateFrom:
                        data: 2026-04-01
                        field: dateFrom
                        op: ge
                      dateUntil:
                        data: 2026-04-30
                        field: dateUntil
                        op: le
                  allSelected: false
                  asString: ""
                  page: 1
                  pages: 1
      responses:
        "200":
          description: Success
  /My-Accounting/general-ledger/cover:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/general-ledger/cover
      operationId: get_My_Accounting_general_ledger_cover
      parameters:
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/general-ledger/debit-cover/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/general-ledger/debit-cover/fetch-config
      operationId: post_My_Accounting_general_ledger_debit_cover_fetch_config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.general-ledger-debit-cover-grid
      responses:
        "200":
          description: Success
  /My-Accounting/general-ledger/credit-cover/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/general-ledger/credit-cover/fetch-config
      operationId: post_My_Accounting_general_ledger_credit_cover_fetch_config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.general-ledger-credit-cover-grid
      responses:
        "200":
          description: Success
  /My-Accounting/general-ledger/done-cover/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/general-ledger/done-cover/fetch-config
      operationId: post_My_Accounting_general_ledger_done_cover_fetch_config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.general-ledger-done-cover-grid
      responses:
        "200":
          description: Success
  /My-Accounting/general-ledger/credit-cover/search:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/general-ledger/credit-cover/search
      operationId: post_My_Accounting_general_ledger_credit_cover_search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  sort:
                    documentDate: desc
                  page: 1
                  pageSize: 20
      responses:
        "200":
          description: Success
  /My-Accounting/general-ledger/done-cover/search:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/general-ledger/done-cover/search
      operationId: post_My_Accounting_general_ledger_done_cover_search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  sort:
                    coverDate: desc
                  page: 1
                  pageSize: 20
      responses:
        "200":
          description: Success
  /My-Accounting/general-ledger/debit-cover/search:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/general-ledger/debit-cover/search
      operationId: post_My_Accounting_general_ledger_debit_cover_search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  sort:
                    documentDate: desc
                  page: 1
                  pageSize: 20
      responses:
        "200":
          description: Success
  /My-Accounting/general-ledger/period-closures:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/general-ledger/period-closures
      operationId: get_My_Accounting_general_ledger_period_closures
      parameters:
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/general-ledger/period-closures/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/general-ledger/period-closures/fetch-config
      operationId: post_My_Accounting_general_ledger_period_closures_fetch_config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.general-ledger-period-closures-grid
      responses:
        "200":
          description: Success
  /My-Accounting/general-ledger/period-closures/search:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/general-ledger/period-closures/search
      operationId: post_My_Accounting_general_ledger_period_closures_search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  sort:
                    correspondenceAccountCode: asc
                  pageSize: 20
                  filters:
                    groupOp: AND
                    rules: {}
                  allSelected: false
                  asString: ""
                  page: 1
                  pages: 1
      responses:
        "200":
          description: Success
  /My-Accounting/general-ledger/{id}:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/general-ledger/{id}
      operationId: get_My_Accounting_general_ledger_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: exchange-rate-fluctuations
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/general-ledger/{id}/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/general-ledger/{id}/fetch-config
      operationId: post_My_Accounting_general_ledger_id_fetch_config
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: exchange-rate-fluctuations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.general-ledger-exchange-rate-fluctuations-grid
      responses:
        "200":
          description: Success
  /My-Accounting/general-ledger/{id}/search:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/general-ledger/{id}/search
      operationId: post_My_Accounting_general_ledger_id_search
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: exchange-rate-fluctuations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  sort:
                    date: desc
                  pageSize: 20
                  filters:
                    groupOp: AND
                    rules: {}
                  allSelected: false
                  asString: ""
                  page: 1
                  pages: 1
      responses:
        "200":
          description: Success
  /My-Accounting/general-ledger/{id}/{id2}:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/general-ledger/{id}/{id2}
      operationId: get_My_Accounting_general_ledger_id_id2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: exchange-rate-conversion
        - name: id2
          in: path
          required: true
          schema:
            type: string
          example: get-correspondence-accounts-list
      responses:
        "200":
          description: Success
  /My-Accounting/reference-book/cost-centers:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/reference-book/cost-centers
      operationId: get_My_Accounting_reference_book_cost_centers
      parameters:
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/reference-book/cost-centers/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/reference-book/cost-centers/fetch-config
      operationId: post_My_Accounting_reference_book_cost_centers_fetch_config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.reference-book-cost-center-grid
      responses:
        "200":
          description: Success
  /My-Accounting/reference-book/cost-centers/search:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/reference-book/cost-centers/search
      operationId: post_My_Accounting_reference_book_cost_centers_search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  sort:
                    position: asc
                  pageSize: 20
                  filters:
                    groupOp: AND
                    rules: {}
                  allSelected: false
                  asString: ""
                  page: 1
                  pages: 1
      responses:
        "200":
          description: Success
  /My-Accounting/reference-book/{id}:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/reference-book/{id}
      operationId: get_My_Accounting_reference_book_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: cost-center-groups
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/reference-book/{id}/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/reference-book/{id}/fetch-config
      operationId: post_My_Accounting_reference_book_id_fetch_config
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: cost-center-groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.reference-book-cost-center-group-grid
      responses:
        "200":
          description: Success
  /My-Accounting/reference-book/{id}/search:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/reference-book/{id}/search
      operationId: post_My_Accounting_reference_book_id_search
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: cost-center-groups
        - name: includeSum
          in: query
          required: false
          schema:
            type: string
          example: "true"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  sort:
                    position: asc
                  pageSize: 20
                  filters:
                    groupOp: AND
                    rules: {}
                  allSelected: false
                  asString: ""
                  page: 1
                  pages: 1
      responses:
        "200":
          description: Success
  /My-Accounting/bank/transactions:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/bank/transactions
      operationId: get_My_Accounting_bank_transactions
      parameters:
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/bank/{id}/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/bank/{id}/fetch-config
      operationId: post_My_Accounting_bank_id_fetch_config
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: transactions-double
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.bank-transactions-double
      responses:
        "200":
          description: Success
  /My-Accounting/bank/transactions/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/bank/transactions/fetch-config
      operationId: post_My_Accounting_bank_transactions_fetch_config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.bank-transaction-grid
      responses:
        "200":
          description: Success
  /My-Accounting/bank/transactions/search:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/bank/transactions/search
      operationId: post_My_Accounting_bank_transactions_search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  sort:
                    date: desc
                  page: 1
                  pageSize: 20
      responses:
        "200":
          description: Success
  /My-Accounting/bank/{id}:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/bank/{id}
      operationId: get_My_Accounting_bank_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: accounting-banks
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/bank/{id}/search:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/bank/{id}/search
      operationId: post_My_Accounting_bank_id_search
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: accounting-banks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  sort:
                    internalName: asc
                  pageSize: 20
                  filters:
                    groupOp: AND
                    rules: {}
                  allSelected: false
                  asString: ""
                  page: 1
                  pages: 1
      responses:
        "200":
          description: Success
  /My-Accounting/bank/{id}/edit:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/bank/{id}/edit
      operationId: get_My_Accounting_bank_id_edit
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: accounting-banks
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/bank/{id}/fetch:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/bank/{id}/fetch
      operationId: get_My_Accounting_bank_id_fetch
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: accounting-banks
      responses:
        "200":
          description: Success
  /My-Accounting/reference-book/{id}/lookup:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/reference-book/{id}/lookup
      operationId: get_My_Accounting_reference_book_id_lookup
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: correspondence-accounts
        - name: value
          in: query
          required: false
          schema:
            type: string
          example: tt55
      responses:
        "200":
          description: Success
  /My-Accounting/reference-book/currencies/lookup:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/reference-book/currencies/lookup
      operationId: get_My_Accounting_reference_book_currencies_lookup
      parameters:
        - name: value
          in: query
          required: false
          schema:
            type: string
          example: u
      responses:
        "200":
          description: Success
  /My-Accounting/bank/{id}/create:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/bank/{id}/create
      operationId: post_My_Accounting_bank_id_create
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: accounting-banks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  correspondenceAccountId: null
                  correspondenceAccountCode: null
                  internalName: tt
                  currencyId: null
                  currencyCode: null
                  currencyIsChanging: false
                  accountId: null
                  accountNumber: 5678uj
                  name: null
                  code: null
                  id: null
      responses:
        "200":
          description: Success
  /My-Accounting/bank/temp-statements:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/bank/temp-statements
      operationId: get_My_Accounting_bank_temp_statements
      parameters:
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/assets/i18n/ae/bank/en.json:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/assets/i18n/ae/bank/en.json
      operationId: get_My_Accounting_assets_i18n_ae_bank_en_json
      responses:
        "200":
          description: Success
  /My-Accounting/bank/temp-statements/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/bank/temp-statements/fetch-config
      operationId: post_My_Accounting_bank_temp_statements_fetch_config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.bank-temp-statement-grid
      responses:
        "200":
          description: Success
  /My-Accounting/bank/temp-statements/search:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/bank/temp-statements/search
      operationId: post_My_Accounting_bank_temp_statements_search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  sort:
                    period: desc
                  pageSize: 20
                  filters:
                    groupOp: AND
                    rules: {}
                  allSelected: false
                  asString: ""
                  page: 1
                  pages: 1
      responses:
        "200":
          description: Success
  /My-Accounting/cash-flow/transactions:
    get:
      tags:
        - My-Accounting
      summary: GET /My-Accounting/cash-flow/transactions
      operationId: get_My_Accounting_cash_flow_transactions
      parameters:
        - name: _template
          in: query
          required: false
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Success
  /My-Accounting/cash-flow/transactions/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/cash-flow/transactions/fetch-config
      operationId: post_My_Accounting_cash_flow_transactions_fetch_config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.cash-flow-transactions-grid
      responses:
        "200":
          description: Success
  /My-Accounting/cash-flow/{id}/fetch-config:
    post:
      tags:
        - My-Accounting
      summary: POST /My-Accounting/cash-flow/{id}/fetch-config
      operationId: post_My_Accounting_cash_flow_id_fetch_config
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: transactions-double
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/My-AccountingPostRequest"
            examples:
              fromHar:
                value:
                  key: l0.cash-flow-transactions-double
      responses:
        "200":
          description: Success
  /My-Accounting/cash-flow/transactions/search:
    post:
      tags:
[...]
