{
  "openapi": "3.0.3",
  "info": {
    "title": "Captured API Documentation",
    "version": "1.0.0",
    "description": "Auto-generated OpenAPI specification from captured network requests."
  },
  "servers": [
    {
      "url": "https://app-backend.acceleratelearning.com"
    }
  ],
  "paths": {
    "/comments": {
      "get": {
        "summary": "GET /comments",
        "description": "Auto-generated from observed network traffic.",
        "tags": [
          "app-backend.acceleratelearning.com"
        ],
        "parameters": [
          {
            "name": "filter[0][field]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "scopeId"
            }
          },
          {
            "name": "filter[0][value]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "23268"
            }
          },
          {
            "name": "filter[1][field]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "elementId"
            }
          },
          {
            "name": "filter[1][value]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "1101947"
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "1"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "10000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "headers": {
              "date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 25 Nov 2025 13:20:57 GMT"
              },
              "content-type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/vnd.api+json; charset=utf-8"
              },
              "content-length": {
                "schema": {
                  "type": "string"
                },
                "example": "235"
              },
              "server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.18.0 (Ubuntu)"
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string"
                },
                "example": "GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD"
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string"
                },
                "example": "Content-Disposition"
              },
              "access-control-max-age": {
                "schema": {
                  "type": "string"
                },
                "example": "7200"
              },
              "x-frame-options": {
                "schema": {
                  "type": "string"
                },
                "example": "SAMEORIGIN"
              },
              "x-xss-protection": {
                "schema": {
                  "type": "string"
                },
                "example": "0"
              },
              "x-content-type-options": {
                "schema": {
                  "type": "string"
                },
                "example": "nosniff"
              },
              "x-download-options": {
                "schema": {
                  "type": "string"
                },
                "example": "noopen"
              },
              "x-permitted-cross-domain-policies": {
                "schema": {
                  "type": "string"
                },
                "example": "none"
              },
              "referrer-policy": {
                "schema": {
                  "type": "string"
                },
                "example": "strict-origin-when-cross-origin"
              },
              "etag": {
                "schema": {
                  "type": "string"
                },
                "example": "W/\"3b84aede78db10a810f2671b8d390d4b\""
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=0, private, must-revalidate"
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                },
                "example": "6c7d97a1-1c4a-4910-9134-17b48b2a6ae9"
              },
              "x-runtime": {
                "schema": {
                  "type": "string"
                },
                "example": "0.014817"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Origin"
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "example": {}
                }
              }
            }
          }
        }
      }
    },
    "/elements/{elementId}": {
      "get": {
        "summary": "GET /elements/{elementId}",
        "description": "Auto-generated from observed network traffic.",
        "tags": [
          "app-backend.acceleratelearning.com"
        ],
        "parameters": [
          {
            "name": "elementId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the element resource.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "languageParent.connectedElement,connectedElement"
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "1"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "10000"
            }
          },
          {
            "name": "scopeId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "23268"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "headers": {
              "date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 25 Nov 2025 13:18:24 GMT"
              },
              "content-type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/vnd.api+json; charset=utf-8"
              },
              "content-length": {
                "schema": {
                  "type": "string"
                },
                "example": "2304"
              },
              "server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.18.0 (Ubuntu)"
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string"
                },
                "example": "GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD"
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string"
                },
                "example": "Content-Disposition"
              },
              "access-control-max-age": {
                "schema": {
                  "type": "string"
                },
                "example": "7200"
              },
              "x-frame-options": {
                "schema": {
                  "type": "string"
                },
                "example": "SAMEORIGIN"
              },
              "x-xss-protection": {
                "schema": {
                  "type": "string"
                },
                "example": "0"
              },
              "x-content-type-options": {
                "schema": {
                  "type": "string"
                },
                "example": "nosniff"
              },
              "x-download-options": {
                "schema": {
                  "type": "string"
                },
                "example": "noopen"
              },
              "x-permitted-cross-domain-policies": {
                "schema": {
                  "type": "string"
                },
                "example": "none"
              },
              "referrer-policy": {
                "schema": {
                  "type": "string"
                },
                "example": "strict-origin-when-cross-origin"
              },
              "etag": {
                "schema": {
                  "type": "string"
                },
                "example": "W/\"4f0d1e36ac0be3c495cbe9b544013520\""
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=0, private, must-revalidate"
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                },
                "example": "4ef11e8e-326e-413e-a26c-a9c5c9c1f2c2"
              },
              "x-runtime": {
                "schema": {
                  "type": "string"
                },
                "example": "0.058786"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Origin"
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "example": {}
                }
              }
            }
          }
        }
      }
    },
    "/elements/{elementId}/{1101946Id}": {
      "get": {
        "summary": "GET /elements/{elementId}/{1101946Id}",
        "description": "Auto-generated from observed network traffic.",
        "tags": [
          "app-backend.acceleratelearning.com"
        ],
        "parameters": [
          {
            "name": "1101946Id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the 1101946 resource.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "elementId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the element resource.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[standard]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "id,name,ancestryPath,description"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "partType"
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "1"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "10000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "headers": {
              "date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 25 Nov 2025 13:18:11 GMT"
              },
              "content-type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/vnd.api+json; charset=utf-8"
              },
              "content-length": {
                "schema": {
                  "type": "string"
                },
                "example": "29827"
              },
              "server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.18.0 (Ubuntu)"
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string"
                },
                "example": "GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD"
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string"
                },
                "example": "Content-Disposition"
              },
              "access-control-max-age": {
                "schema": {
                  "type": "string"
                },
                "example": "7200"
              },
              "x-frame-options": {
                "schema": {
                  "type": "string"
                },
                "example": "SAMEORIGIN"
              },
              "x-xss-protection": {
                "schema": {
                  "type": "string"
                },
                "example": "0"
              },
              "x-content-type-options": {
                "schema": {
                  "type": "string"
                },
                "example": "nosniff"
              },
              "x-download-options": {
                "schema": {
                  "type": "string"
                },
                "example": "noopen"
              },
              "x-permitted-cross-domain-policies": {
                "schema": {
                  "type": "string"
                },
                "example": "none"
              },
              "referrer-policy": {
                "schema": {
                  "type": "string"
                },
                "example": "strict-origin-when-cross-origin"
              },
              "etag": {
                "schema": {
                  "type": "string"
                },
                "example": "W/\"e578ee43904162fb05ddc2ffb72ebe55\""
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=0, private, must-revalidate"
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                },
                "example": "87c3e398-b4aa-4141-9ef3-5b4550a1a79f"
              },
              "x-runtime": {
                "schema": {
                  "type": "string"
                },
                "example": "0.087939"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Origin"
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "example": {}
                }
              }
            }
          }
        }
      }
    },
    "/elements/{elementId}/{1101947Id}": {
      "get": {
        "summary": "GET /elements/{elementId}/{1101947Id}",
        "description": "Auto-generated from observed network traffic.",
        "tags": [
          "app-backend.acceleratelearning.com"
        ],
        "parameters": [
          {
            "name": "1101947Id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the 1101947 resource.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "elementId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the element resource.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[standard]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "id,name,ancestryPath,description"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "partType"
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "1"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "10000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "headers": {
              "date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 25 Nov 2025 13:17:50 GMT"
              },
              "content-type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/vnd.api+json; charset=utf-8"
              },
              "content-length": {
                "schema": {
                  "type": "string"
                },
                "example": "15725"
              },
              "server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.18.0 (Ubuntu)"
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string"
                },
                "example": "GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD"
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string"
                },
                "example": "Content-Disposition"
              },
              "access-control-max-age": {
                "schema": {
                  "type": "string"
                },
                "example": "7200"
              },
              "x-frame-options": {
                "schema": {
                  "type": "string"
                },
                "example": "SAMEORIGIN"
              },
              "x-xss-protection": {
                "schema": {
                  "type": "string"
                },
                "example": "0"
              },
              "x-content-type-options": {
                "schema": {
                  "type": "string"
                },
                "example": "nosniff"
              },
              "x-download-options": {
                "schema": {
                  "type": "string"
                },
                "example": "noopen"
              },
              "x-permitted-cross-domain-policies": {
                "schema": {
                  "type": "string"
                },
                "example": "none"
              },
              "referrer-policy": {
                "schema": {
                  "type": "string"
                },
                "example": "strict-origin-when-cross-origin"
              },
              "etag": {
                "schema": {
                  "type": "string"
                },
                "example": "W/\"aadb3e954d8a08ae97ddb9e18d58725a\""
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=0, private, must-revalidate"
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                },
                "example": "64eec2e4-3e8b-4b63-9389-5484c4fb1169"
              },
              "x-runtime": {
                "schema": {
                  "type": "string"
                },
                "example": "0.079272"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Origin"
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "example": {}
                }
              }
            }
          }
        }
      }
    },
    "/elements/{elementId}/{1102090Id}": {
      "get": {
        "summary": "GET /elements/{elementId}/{1102090Id}",
        "description": "Auto-generated from observed network traffic.",
        "tags": [
          "app-backend.acceleratelearning.com"
        ],
        "parameters": [
          {
            "name": "1102090Id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the 1102090 resource.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "elementId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the element resource.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[standard]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "id,name,ancestryPath,description"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "partType"
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "1"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "10000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "headers": {
              "date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 25 Nov 2025 13:18:25 GMT"
              },
              "content-type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/vnd.api+json; charset=utf-8"
              },
              "content-length": {
                "schema": {
                  "type": "string"
                },
                "example": "7589"
              },
              "server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.18.0 (Ubuntu)"
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string"
                },
                "example": "GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD"
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string"
                },
                "example": "Content-Disposition"
              },
              "access-control-max-age": {
                "schema": {
                  "type": "string"
                },
                "example": "7200"
              },
              "x-frame-options": {
                "schema": {
                  "type": "string"
                },
                "example": "SAMEORIGIN"
              },
              "x-xss-protection": {
                "schema": {
                  "type": "string"
                },
                "example": "0"
              },
              "x-content-type-options": {
                "schema": {
                  "type": "string"
                },
                "example": "nosniff"
              },
              "x-download-options": {
                "schema": {
                  "type": "string"
                },
                "example": "noopen"
              },
              "x-permitted-cross-domain-policies": {
                "schema": {
                  "type": "string"
                },
                "example": "none"
              },
              "referrer-policy": {
                "schema": {
                  "type": "string"
                },
                "example": "strict-origin-when-cross-origin"
              },
              "etag": {
                "schema": {
                  "type": "string"
                },
                "example": "W/\"a400185b930aaa00e15799eebb489c27\""
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=0, private, must-revalidate"
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                },
                "example": "b7bcaee4-61cc-423d-a645-f865b85cbdd6"
              },
              "x-runtime": {
                "schema": {
                  "type": "string"
                },
                "example": "0.034488"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Origin"
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "example": {}
                }
              }
            }
          }
        }
      }
    },
    "/languages": {
      "get": {
        "summary": "GET /languages",
        "description": "Auto-generated from observed network traffic.",
        "tags": [
          "app-backend.acceleratelearning.com"
        ],
        "parameters": [
          {
            "name": "fields[language]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "id,fullName"
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "1"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "10000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "headers": {
              "date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 25 Nov 2025 13:20:20 GMT"
              },
              "content-type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/vnd.api+json; charset=utf-8"
              },
              "content-length": {
                "schema": {
                  "type": "string"
                },
                "example": "378"
              },
              "server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.18.0 (Ubuntu)"
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string"
                },
                "example": "GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD"
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string"
                },
                "example": "Content-Disposition"
              },
              "access-control-max-age": {
                "schema": {
                  "type": "string"
                },
                "example": "7200"
              },
              "x-frame-options": {
                "schema": {
                  "type": "string"
                },
                "example": "SAMEORIGIN"
              },
              "x-xss-protection": {
                "schema": {
                  "type": "string"
                },
                "example": "0"
              },
              "x-content-type-options": {
                "schema": {
                  "type": "string"
                },
                "example": "nosniff"
              },
              "x-download-options": {
                "schema": {
                  "type": "string"
                },
                "example": "noopen"
              },
              "x-permitted-cross-domain-policies": {
                "schema": {
                  "type": "string"
                },
                "example": "none"
              },
              "referrer-policy": {
                "schema": {
                  "type": "string"
                },
                "example": "strict-origin-when-cross-origin"
              },
              "etag": {
                "schema": {
                  "type": "string"
                },
                "example": "W/\"4a7094ba0015008012a5c6c1df389873\""
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=0, private, must-revalidate"
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                },
                "example": "cf02c493-51d1-479f-b50b-f3a28d7eec5b"
              },
              "x-runtime": {
                "schema": {
                  "type": "string"
                },
                "example": "0.016378"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Origin"
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "example": {}
                }
              }
            }
          }
        }
      }
    },
    "/scopes": {
      "get": {
        "summary": "GET /scopes",
        "description": "Auto-generated from observed network traffic.",
        "tags": [
          "app-backend.acceleratelearning.com"
        ],
        "parameters": [
          {
            "name": "fields[grade]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "name"
            }
          },
          {
            "name": "fields[scope]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "id,name,image,starred,topics,scopeGroups,grade,standards,displayStandards"
            }
          },
          {
            "name": "fields[scopeGroup]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "banner"
            }
          },
          {
            "name": "fields[standard]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "name"
            }
          },
          {
            "name": "fields[topic]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "id,name"
            }
          },
          {
            "name": "filter[0][field]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "disabled"
            }
          },
          {
            "name": "filter[0][value]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "false"
            }
          },
          {
            "name": "filter[1][field]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "deleted"
            }
          },
          {
            "name": "filter[1][value]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "false"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "grade,topics,scopeGroups,standards"
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "1"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "30"
            }
          },
          {
            "name": "topicIds[0]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "678"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "headers": {
              "date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 25 Nov 2025 13:18:56 GMT"
              },
              "content-type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/vnd.api+json; charset=utf-8"
              },
              "content-length": {
                "schema": {
                  "type": "string"
                },
                "example": "37792"
              },
              "server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.18.0 (Ubuntu)"
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string"
                },
                "example": "GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD"
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string"
                },
                "example": "Content-Disposition"
              },
              "access-control-max-age": {
                "schema": {
                  "type": "string"
                },
                "example": "7200"
              },
              "x-frame-options": {
                "schema": {
                  "type": "string"
                },
                "example": "SAMEORIGIN"
              },
              "x-xss-protection": {
                "schema": {
                  "type": "string"
                },
                "example": "0"
              },
              "x-content-type-options": {
                "schema": {
                  "type": "string"
                },
                "example": "nosniff"
              },
              "x-download-options": {
                "schema": {
                  "type": "string"
                },
                "example": "noopen"
              },
              "x-permitted-cross-domain-policies": {
                "schema": {
                  "type": "string"
                },
                "example": "none"
              },
              "referrer-policy": {
                "schema": {
                  "type": "string"
                },
                "example": "strict-origin-when-cross-origin"
              },
              "etag": {
                "schema": {
                  "type": "string"
                },
                "example": "W/\"7d28b4e8f5d97dcfc18ee37e5cf672e6\""
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=0, private, must-revalidate"
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                },
                "example": "c40f2b8c-3b32-4bef-a058-9e318852d5fb"
              },
              "x-runtime": {
                "schema": {
                  "type": "string"
                },
                "example": "0.145022"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Origin"
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "example": {}
                }
              }
            }
          },
          "default": {
            "description": "HTTP default response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "example": {}
                }
              }
            }
          }
        }
      }
    },
    "/scopes/{scopeId}": {
      "get": {
        "summary": "GET /scopes/{scopeId}",
        "description": "Auto-generated from observed network traffic.",
        "tags": [
          "app-backend.acceleratelearning.com"
        ],
        "parameters": [
          {
            "name": "fields[curriculumArea]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "id,name"
            }
          },
          {
            "name": "fields[grade]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "name"
            }
          },
          {
            "name": "fields[scopeGroup]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "banner"
            }
          },
          {
            "name": "fields[topic]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "id,name"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "grade,topics,scopeGroups,curriculumAreas,keyConcepts,fundamentalQuestions"
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "1"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "10000"
            }
          },
          {
            "name": "scopeId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the scope resource.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": ""
            }
          },
          {
            "name": "topicIds[0]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "678"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "headers": {
              "date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 25 Nov 2025 13:21:02 GMT"
              },
              "content-type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/vnd.api+json; charset=utf-8"
              },
              "content-length": {
                "schema": {
                  "type": "string"
                },
                "example": "10333"
              },
              "server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.18.0 (Ubuntu)"
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string"
                },
                "example": "GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD"
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string"
                },
                "example": "Content-Disposition"
              },
              "access-control-max-age": {
                "schema": {
                  "type": "string"
                },
                "example": "7200"
              },
              "x-frame-options": {
                "schema": {
                  "type": "string"
                },
                "example": "SAMEORIGIN"
              },
              "x-xss-protection": {
                "schema": {
                  "type": "string"
                },
                "example": "0"
              },
              "x-content-type-options": {
                "schema": {
                  "type": "string"
                },
                "example": "nosniff"
              },
              "x-download-options": {
                "schema": {
                  "type": "string"
                },
                "example": "noopen"
              },
              "x-permitted-cross-domain-policies": {
                "schema": {
                  "type": "string"
                },
                "example": "none"
              },
              "referrer-policy": {
                "schema": {
                  "type": "string"
                },
                "example": "strict-origin-when-cross-origin"
              },
              "etag": {
                "schema": {
                  "type": "string"
                },
                "example": "W/\"be9879b895782b19f7a09201f4b543bf\""
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=0, private, must-revalidate"
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                },
                "example": "e0590193-db37-4ea3-b16c-ce17181157ea"
              },
              "x-runtime": {
                "schema": {
                  "type": "string"
                },
                "example": "0.019045"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Origin"
              },
              "content-encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "gzip"
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "example": {}
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "example": {}
                }
              }
            }
          }
        }
      }
    },
    "/scopes/{scopeId}/{21175Id}": {
      "get": {
        "summary": "GET /scopes/{scopeId}/{21175Id}",
        "description": "Auto-generated from observed network traffic.",
        "tags": [
          "app-backend.acceleratelearning.com"
        ],
        "parameters": [
          {
            "name": "21175Id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the 21175 resource.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[standard]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "id,name,ancestryPath,description"
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "1"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "10000"
            }
          },
          {
            "name": "scopeId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the scope resource.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "headers": {
              "date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 25 Nov 2025 13:18:58 GMT"
              },
              "content-type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/vnd.api+json; charset=utf-8"
              },
              "content-length": {
                "schema": {
                  "type": "string"
                },
                "example": "127"
              },
              "server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.18.0 (Ubuntu)"
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string"
                },
                "example": "GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD"
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string"
                },
                "example": "Content-Disposition"
              },
              "access-control-max-age": {
                "schema": {
                  "type": "string"
                },
                "example": "7200"
              },
              "x-frame-options": {
                "schema": {
                  "type": "string"
                },
                "example": "SAMEORIGIN"
              },
              "x-xss-protection": {
                "schema": {
                  "type": "string"
                },
                "example": "0"
              },
              "x-content-type-options": {
                "schema": {
                  "type": "string"
                },
                "example": "nosniff"
              },
              "x-download-options": {
                "schema": {
                  "type": "string"
                },
                "example": "noopen"
              },
              "x-permitted-cross-domain-policies": {
                "schema": {
                  "type": "string"
                },
                "example": "none"
              },
              "referrer-policy": {
                "schema": {
                  "type": "string"
                },
                "example": "strict-origin-when-cross-origin"
              },
              "etag": {
                "schema": {
                  "type": "string"
                },
                "example": "W/\"aaa6cf9e18437939ead0fba6f7937d69\""
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=0, private, must-revalidate"
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                },
                "example": "0bd538e3-b9a6-4ad9-8272-84c30d8ddcfb"
              },
              "x-runtime": {
                "schema": {
                  "type": "string"
                },
                "example": "0.053563"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Origin"
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "example": {}
                }
              }
            }
          }
        }
      }
    },
    "/scopes/{scopeId}/{23268Id}": {
      "get": {
        "summary": "GET /scopes/{scopeId}/{23268Id}",
        "description": "Auto-generated from observed network traffic.",
        "tags": [
          "app-backend.acceleratelearning.com"
        ],
        "parameters": [
          {
            "name": "23268Id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the 23268 resource.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[standard]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "id,name,ancestryPath,description"
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "1"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "10000"
            }
          },
          {
            "name": "scopeId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the scope resource.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "headers": {
              "date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 25 Nov 2025 13:17:49 GMT"
              },
              "content-type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/vnd.api+json; charset=utf-8"
              },
              "content-length": {
                "schema": {
                  "type": "string"
                },
                "example": "127"
              },
              "server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.18.0 (Ubuntu)"
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string"
                },
                "example": "GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD"
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string"
                },
                "example": "Content-Disposition"
              },
              "access-control-max-age": {
                "schema": {
                  "type": "string"
                },
                "example": "7200"
              },
              "x-frame-options": {
                "schema": {
                  "type": "string"
                },
                "example": "SAMEORIGIN"
              },
              "x-xss-protection": {
                "schema": {
                  "type": "string"
                },
                "example": "0"
              },
              "x-content-type-options": {
                "schema": {
                  "type": "string"
                },
                "example": "nosniff"
              },
              "x-download-options": {
                "schema": {
                  "type": "string"
                },
                "example": "noopen"
              },
              "x-permitted-cross-domain-policies": {
                "schema": {
                  "type": "string"
                },
                "example": "none"
              },
              "referrer-policy": {
                "schema": {
                  "type": "string"
                },
                "example": "strict-origin-when-cross-origin"
              },
              "etag": {
                "schema": {
                  "type": "string"
                },
                "example": "W/\"aaa6cf9e18437939ead0fba6f7937d69\""
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=0, private, must-revalidate"
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                },
                "example": "964bfdbf-b787-4c86-8ad6-3db9cb801188"
              },
              "x-runtime": {
                "schema": {
                  "type": "string"
                },
                "example": "0.053380"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Origin"
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "example": {}
                }
              }
            }
          }
        }
      }
    },
    "/scopes/{scopeId}/{23272Id}": {
      "get": {
        "summary": "GET /scopes/{scopeId}/{23272Id}",
        "description": "Auto-generated from observed network traffic.",
        "tags": [
          "app-backend.acceleratelearning.com"
        ],
        "parameters": [
          {
            "name": "23272Id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the 23272 resource.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[standard]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "id,name,ancestryPath,description"
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "1"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "10000"
            }
          },
          {
            "name": "scopeId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the scope resource.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "headers": {
              "date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 25 Nov 2025 13:18:21 GMT"
              },
              "content-type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/vnd.api+json; charset=utf-8"
              },
              "content-length": {
                "schema": {
                  "type": "string"
                },
                "example": "127"
              },
              "server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.18.0 (Ubuntu)"
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string"
                },
                "example": "GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD"
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string"
                },
                "example": "Content-Disposition"
              },
              "access-control-max-age": {
                "schema": {
                  "type": "string"
                },
                "example": "7200"
              },
              "x-frame-options": {
                "schema": {
                  "type": "string"
                },
                "example": "SAMEORIGIN"
              },
              "x-xss-protection": {
                "schema": {
                  "type": "string"
                },
                "example": "0"
              },
              "x-content-type-options": {
                "schema": {
                  "type": "string"
                },
                "example": "nosniff"
              },
              "x-download-options": {
                "schema": {
                  "type": "string"
                },
                "example": "noopen"
              },
              "x-permitted-cross-domain-policies": {
                "schema": {
                  "type": "string"
                },
                "example": "none"
              },
              "referrer-policy": {
                "schema": {
                  "type": "string"
                },
                "example": "strict-origin-when-cross-origin"
              },
              "etag": {
                "schema": {
                  "type": "string"
                },
                "example": "W/\"aaa6cf9e18437939ead0fba6f7937d69\""
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=0, private, must-revalidate"
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                },
                "example": "7130d4f3-b89d-4bf5-8782-000d78d80507"
              },
              "x-runtime": {
                "schema": {
                  "type": "string"
                },
                "example": "0.054386"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Origin"
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "example": {}
                }
              }
            }
          }
        }
      }
    },
    "/scopes/{scopeId}/{713Id}": {
      "get": {
        "summary": "GET /scopes/{scopeId}/{713Id}",
        "description": "Auto-generated from observed network traffic.",
        "tags": [
          "app-backend.acceleratelearning.com"
        ],
        "parameters": [
          {
            "name": "713Id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the 713 resource.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[standard]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "id,name,ancestryPath,description"
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "1"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "10000"
            }
          },
          {
            "name": "scopeId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the scope resource.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "headers": {
              "date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 25 Nov 2025 13:21:02 GMT"
              },
              "content-type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/vnd.api+json; charset=utf-8"
              },
              "content-length": {
                "schema": {
                  "type": "string"
                },
                "example": "127"
              },
              "server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.18.0 (Ubuntu)"
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string"
                },
                "example": "GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD"
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string"
                },
                "example": "Content-Disposition"
              },
              "access-control-max-age": {
                "schema": {
                  "type": "string"
                },
                "example": "7200"
              },
              "x-frame-options": {
                "schema": {
                  "type": "string"
                },
                "example": "SAMEORIGIN"
              },
              "x-xss-protection": {
                "schema": {
                  "type": "string"
                },
                "example": "0"
              },
              "x-content-type-options": {
                "schema": {
                  "type": "string"
                },
                "example": "nosniff"
              },
              "x-download-options": {
                "schema": {
                  "type": "string"
                },
                "example": "noopen"
              },
              "x-permitted-cross-domain-policies": {
                "schema": {
                  "type": "string"
                },
                "example": "none"
              },
              "referrer-policy": {
                "schema": {
                  "type": "string"
                },
                "example": "strict-origin-when-cross-origin"
              },
              "etag": {
                "schema": {
                  "type": "string"
                },
                "example": "W/\"aaa6cf9e18437939ead0fba6f7937d69\""
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=0, private, must-revalidate"
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                },
                "example": "6b434714-106a-455c-99cf-3bf172b569b3"
              },
              "x-runtime": {
                "schema": {
                  "type": "string"
                },
                "example": "0.046539"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Origin"
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "example": {}
                }
              }
            }
          }
        }
      }
    },
    "/sections": {
      "get": {
        "summary": "GET /sections",
        "description": "Auto-generated from observed network traffic.",
        "tags": [
          "app-backend.acceleratelearning.com"
        ],
        "parameters": [
          {
            "name": "fields[element]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "id,title,name,disabled,deleted,language,elementTypeImageUrl,elementTypeDescription,connectedElementId,languageParentId,audienceName,sectionOverview,position,connectedLanguageId"
            }
          },
          {
            "name": "fields[section]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "id,name,elements,position"
            }
          },
          {
            "name": "filter[0][field]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "scopeId"
            }
          },
          {
            "name": "filter[0][value]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "23268"
            }
          },
          {
            "name": "filter[1][field]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "deleted"
            }
          },
          {
            "name": "filter[1][value]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "false"
            }
          },
          {
            "name": "filter[2][field]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "disabled"
            }
          },
          {
            "name": "filter[2][value]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "false"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "elements"
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "1"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "10000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "headers": {
              "date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 25 Nov 2025 13:21:02 GMT"
              },
              "content-type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/vnd.api+json; charset=utf-8"
              },
              "content-length": {
                "schema": {
                  "type": "string"
                },
                "example": "52089"
              },
              "server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.18.0 (Ubuntu)"
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string"
                },
                "example": "GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD"
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string"
                },
                "example": "Content-Disposition"
              },
              "access-control-max-age": {
                "schema": {
                  "type": "string"
                },
                "example": "7200"
              },
              "x-frame-options": {
                "schema": {
                  "type": "string"
                },
                "example": "SAMEORIGIN"
              },
              "x-xss-protection": {
                "schema": {
                  "type": "string"
                },
                "example": "0"
              },
              "x-content-type-options": {
                "schema": {
                  "type": "string"
                },
                "example": "nosniff"
              },
              "x-download-options": {
                "schema": {
                  "type": "string"
                },
                "example": "noopen"
              },
              "x-permitted-cross-domain-policies": {
                "schema": {
                  "type": "string"
                },
                "example": "none"
              },
              "referrer-policy": {
                "schema": {
                  "type": "string"
                },
                "example": "strict-origin-when-cross-origin"
              },
              "etag": {
                "schema": {
                  "type": "string"
                },
                "example": "W/\"9793839c002f1a956b6e41f2072d5e0f\""
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=0, private, must-revalidate"
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                },
                "example": "511bb6e5-11a7-45ff-8d0e-b9b03aae2733"
              },
              "x-runtime": {
                "schema": {
                  "type": "string"
                },
                "example": "0.027617"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Origin"
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "example": {}
                }
              }
            }
          }
        }
      }
    },
    "/standards/roots": {
      "get": {
        "summary": "GET /standards/roots",
        "description": "Auto-generated from observed network traffic.",
        "tags": [
          "app-backend.acceleratelearning.com"
        ],
        "parameters": [
          {
            "name": "fields[standard]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "id,name,description,standardTypeName,displayTheme,standardBreadcrumbs,position,disabled,deleted"
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "1"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "10000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "headers": {
              "date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 25 Nov 2025 13:20:10 GMT"
              },
              "content-type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/vnd.api+json; charset=utf-8"
              },
              "content-length": {
                "schema": {
                  "type": "string"
                },
                "example": "3084"
              },
              "server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.18.0 (Ubuntu)"
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string"
                },
                "example": "GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD"
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string"
                },
                "example": "Content-Disposition"
              },
              "access-control-max-age": {
                "schema": {
                  "type": "string"
                },
                "example": "7200"
              },
              "x-frame-options": {
                "schema": {
                  "type": "string"
                },
                "example": "SAMEORIGIN"
              },
              "x-xss-protection": {
                "schema": {
                  "type": "string"
                },
                "example": "0"
              },
              "x-content-type-options": {
                "schema": {
                  "type": "string"
                },
                "example": "nosniff"
              },
              "x-download-options": {
                "schema": {
                  "type": "string"
                },
                "example": "noopen"
              },
              "x-permitted-cross-domain-policies": {
                "schema": {
                  "type": "string"
                },
                "example": "none"
              },
              "referrer-policy": {
                "schema": {
                  "type": "string"
                },
                "example": "strict-origin-when-cross-origin"
              },
              "etag": {
                "schema": {
                  "type": "string"
                },
                "example": "W/\"c0596c96355e67be1a2e133572f16bab\""
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=0, private, must-revalidate"
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                },
                "example": "8dafb99f-ed23-44c6-802b-1f32fad9d706"
              },
              "x-runtime": {
                "schema": {
                  "type": "string"
                },
                "example": "0.051911"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Origin"
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "example": {}
                }
              }
            }
          }
        }
      }
    },
    "/standards/{standardId}": {
      "get": {
        "summary": "GET /standards/{standardId}",
        "description": "Auto-generated from observed network traffic.",
        "tags": [
          "app-backend.acceleratelearning.com"
        ],
        "parameters": [
          {
            "name": "fields[standard]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "id,name,description,standardTypeName,displayTheme,standardBreadcrumbs,position,disabled,deleted,standards"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "standards"
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "1"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "50"
            }
          },
          {
            "name": "standardId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the standard resource.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "headers": {
              "date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 25 Nov 2025 13:20:17 GMT"
              },
              "content-type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/vnd.api+json; charset=utf-8"
              },
              "content-length": {
                "schema": {
                  "type": "string"
                },
                "example": "4426"
              },
              "server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.18.0 (Ubuntu)"
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string"
                },
                "example": "GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD"
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string"
                },
                "example": "Content-Disposition"
              },
              "access-control-max-age": {
                "schema": {
                  "type": "string"
                },
                "example": "7200"
              },
              "x-frame-options": {
                "schema": {
                  "type": "string"
                },
                "example": "SAMEORIGIN"
              },
              "x-xss-protection": {
                "schema": {
                  "type": "string"
                },
                "example": "0"
              },
              "x-content-type-options": {
                "schema": {
                  "type": "string"
                },
                "example": "nosniff"
              },
              "x-download-options": {
                "schema": {
                  "type": "string"
                },
                "example": "noopen"
              },
              "x-permitted-cross-domain-policies": {
                "schema": {
                  "type": "string"
                },
                "example": "none"
              },
              "referrer-policy": {
                "schema": {
                  "type": "string"
                },
                "example": "strict-origin-when-cross-origin"
              },
              "etag": {
                "schema": {
                  "type": "string"
                },
                "example": "W/\"ae4210889cffccab90644245742123cd\""
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=0, private, must-revalidate"
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                },
                "example": "cebb8810-9476-4c09-afa1-2b2b0dd97076"
              },
              "x-runtime": {
                "schema": {
                  "type": "string"
                },
                "example": "0.030625"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Origin"
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "example": {}
                }
              }
            }
          }
        }
      }
    },
    "/standards/{standardId}/{93414Id}": {
      "get": {
        "summary": "GET /standards/{standardId}/{93414Id}",
        "description": "Auto-generated from observed network traffic.",
        "tags": [
          "app-backend.acceleratelearning.com"
        ],
        "parameters": [
          {
            "name": "93414Id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the 93414 resource.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[element]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "id,name,title,audienceName,section,scope,scopeId,sectionId"
            }
          },
          {
            "name": "fields[scope]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "id,name"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "scope,section"
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "1"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "10000"
            }
          },
          {
            "name": "standardId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the standard resource.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "headers": {
              "date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 25 Nov 2025 13:20:17 GMT"
              },
              "content-type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/vnd.api+json; charset=utf-8"
              },
              "content-length": {
                "schema": {
                  "type": "string"
                },
                "example": "141"
              },
              "server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.18.0 (Ubuntu)"
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string"
                },
                "example": "GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD"
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string"
                },
                "example": "Content-Disposition"
              },
              "access-control-max-age": {
                "schema": {
                  "type": "string"
                },
                "example": "7200"
              },
              "x-frame-options": {
                "schema": {
                  "type": "string"
                },
                "example": "SAMEORIGIN"
              },
              "x-xss-protection": {
                "schema": {
                  "type": "string"
                },
                "example": "0"
              },
              "x-content-type-options": {
                "schema": {
                  "type": "string"
                },
                "example": "nosniff"
              },
              "x-download-options": {
                "schema": {
                  "type": "string"
                },
                "example": "noopen"
              },
              "x-permitted-cross-domain-policies": {
                "schema": {
                  "type": "string"
                },
                "example": "none"
              },
              "referrer-policy": {
                "schema": {
                  "type": "string"
                },
                "example": "strict-origin-when-cross-origin"
              },
              "etag": {
                "schema": {
                  "type": "string"
                },
                "example": "W/\"1b392946cdfdb8dc02635b2f8df35fb1\""
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=0, private, must-revalidate"
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                },
                "example": "58db5a16-8258-4d4c-be1b-a630f0a99ac0"
              },
              "x-runtime": {
                "schema": {
                  "type": "string"
                },
                "example": "0.033272"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Origin"
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "example": {}
                }
              }
            }
          }
        }
      }
    },
    "/standards/{standardId}/{94565Id}": {
      "get": {
        "summary": "GET /standards/{standardId}/{94565Id}",
        "description": "Auto-generated from observed network traffic.",
        "tags": [
          "app-backend.acceleratelearning.com"
        ],
        "parameters": [
          {
            "name": "94565Id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the 94565 resource.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[element]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "id,name,title,audienceName,section,scope,scopeId,sectionId"
            }
          },
          {
            "name": "fields[scope]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "id,name"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "scope,section"
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "1"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "10000"
            }
          },
          {
            "name": "standardId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the standard resource.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "headers": {
              "date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 25 Nov 2025 13:20:15 GMT"
              },
              "content-type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/vnd.api+json; charset=utf-8"
              },
              "content-length": {
                "schema": {
                  "type": "string"
                },
                "example": "141"
              },
              "server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.18.0 (Ubuntu)"
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string"
                },
                "example": "GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD"
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string"
                },
                "example": "Content-Disposition"
              },
              "access-control-max-age": {
                "schema": {
                  "type": "string"
                },
                "example": "7200"
              },
              "x-frame-options": {
                "schema": {
                  "type": "string"
                },
                "example": "SAMEORIGIN"
              },
              "x-xss-protection": {
                "schema": {
                  "type": "string"
                },
                "example": "0"
              },
              "x-content-type-options": {
                "schema": {
                  "type": "string"
                },
                "example": "nosniff"
              },
              "x-download-options": {
                "schema": {
                  "type": "string"
                },
                "example": "noopen"
              },
              "x-permitted-cross-domain-policies": {
                "schema": {
                  "type": "string"
                },
                "example": "none"
              },
              "referrer-policy": {
                "schema": {
                  "type": "string"
                },
                "example": "strict-origin-when-cross-origin"
              },
              "etag": {
                "schema": {
                  "type": "string"
                },
                "example": "W/\"1b392946cdfdb8dc02635b2f8df35fb1\""
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=0, private, must-revalidate"
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                },
                "example": "888f33f0-3143-41ef-9ffb-4cb10767b38d"
              },
              "x-runtime": {
                "schema": {
                  "type": "string"
                },
                "example": "0.030668"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Origin"
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "example": {}
                }
              }
            }
          }
        }
      }
    },
    "/students": {
      "get": {
        "summary": "GET /students",
        "description": "Auto-generated from observed network traffic.",
        "tags": [
          "app-backend.acceleratelearning.com"
        ],
        "parameters": [
          {
            "name": "fields[student]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "user,teacherSections,id,firstName,middleName,lastName,sisId,state,externalId,studentNumber"
            }
          },
          {
            "name": "fields[teacherSection]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "googleSection"
            }
          },
          {
            "name": "fields[user]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "username,readableExternalPassword"
            }
          },
          {
            "name": "filter[0][field]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "teacherSections.id"
            }
          },
          {
            "name": "filter[0][operator]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "is"
            }
          },
          {
            "name": "filter[0][value]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "120"
            }
          },
          {
            "name": "filter[1][field]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "disabled"
            }
          },
          {
            "name": "filter[1][value]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "false"
            }
          },
          {
            "name": "filter[2][field]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "deleted"
            }
          },
          {
            "name": "filter[2][value]",
[...]
