openapi: 3.0.0
info:
  title: TMS Shipper APIs
  description: |
    APIs for TMS shippers to manage shipments and obtain cost estimates.

    Environment specific base urls -

    **UAT** - **uatapi.uberfreight.com**

    **PROD** - **api.uberfreight.com**
  version: v1
servers:
  - url: https://uatapi.uberfreight.com/tp-api/customer
security:
  - OAuth2: []
tags:
  - name: health
  - name: customer
paths:
  /v2/healthCheck:
    get:
      tags:
        - health
      summary: Health Check API
      description: |
        This API is used to validate connectivity with Transplace Customer APIs.

        \"Try this API\" feature in this portal supports only JSON requests to UAT environment.

        Environment specific base urls -

        **UAT** - **uatapi.uberfreight.com**

        **PROD** - **api.uberfreight.com**
      operationId: inbound-uat-REST-GET-healthCheck-DIRECT-healthCheck.uat
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
        406:
          description: Not Acceptable
          content: {}
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
  /v2/shipment:
    post:
      tags:
        - customer
      summary: Inbound Shipment API for Add/Update/Cancel
      description: |
        This API is used to create, update or cancel shipments.

        \"Try this API\" feature in this portal supports only JSON requests to UAT environment.

        Environment specific base urls -

        **UAT** - **uatapi.uberfreight.com**

        **PROD** - **api.uberfreight.com**
      operationId: inbound-uat-REST-POST-customer-shipment-KAFKA-tms.inboundDocument.uat
      requestBody:
        description: Shipment to be created, updated, and cancelled
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Shipment'
          application/xml:
            schema:
              $ref: '#/components/schemas/Shipment'
        required: true
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AckMessageResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AckMessageResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
        406:
          description: Not Acceptable
          content: {}
        415:
          description: Unsupported media type
          content: {}
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
      x-codegen-request-body-name: body
  /v2/shipment-status:
    get:
      tags:
        - customer
      summary: API to get the latest shipment status
      description: |
        This API is used to get the latest shipment status information for a load that matches the given loadId or referenceName/Value.

        \"Try this API\" feature in this portal supports only JSON requests to UAT environment.

        Environment specific base urls -

        **UAT** - **uatapi.uberfreight.com**

        **PROD** - **api.uberfreight.com**
      operationId: inbound-uat-REST-POST-customer-shipment-status-KAFKA-tms.inboundDocument.uat
      parameters:
        - name: loadId
          in: query
          description: The Transplace load id. Optional if looking up by referenceName/Value.
          schema:
            type: integer
            format: int64
        - name: referenceName
          in: query
          description: The lookup reference name, such as PRIMARY REFERENCE. Optional if looking up by loadId.
          schema:
            type: string
        - name: referenceValue
          in: query
          description: The lookup reference value corresponding to the referenceName. Optional if looking up by loadId.
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentStatusResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ShipmentStatusResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
        406:
          description: Not Acceptable
          content: {}
        415:
          description: Unsupported media type
          content: {}
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
  /v2/post-goods-issued:
    post:
      tags:
        - customer
      summary: Goods Issued API
      description: |
        This API is used to submit a POST GOODS ISSUED (PGI) document.

        \"Try this API\" feature in this portal supports only JSON requests to UAT environment.

        Environment specific base urls -

        **UAT** - **uatapi.uberfreight.com**

        **PROD** - **api.uberfreight.com**
      operationId: inbound-uat-REST-POST-customer-post-goods-issued-KAFKA-tms.inboundDocument.uat
      requestBody:
        description: Goods issued posted by customer
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoodsIssued'
          application/xml:
            schema:
              $ref: '#/components/schemas/GoodsIssued'
        required: true
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AckMessageResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AckMessageResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
        406:
          description: Not Acceptable
          content: {}
        415:
          description: Unsupported media type
          content: {}
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
      x-codegen-request-body-name: body
  /v2/quickQuotes/search:
    post:
      tags:
        - "customer"
      summary: "QuickQuotes Rate Search"
      description: |
        This API is used by Transplace customers to get one or more quick shipment quotes based upon contract or benchmark rates. These quick quotes are intended to be for informational purposes only and actual carrier cost and assignment will occur during shipment execution.

        \"Try this API\" feature in this portal supports only JSON requests to UAT environment.

        Environment specific base urls -

        **UAT** - **uatapi.uberfreight.com**

        **PROD** - **api.uberfreight.com**
      operationId: "inbound-uat-REST-POST-customer-v2-quickQuotes-search-RESThttp:--tmsuat-int.transplace.com-ratingsearch-quickQuotes-v2-search"
      requestBody:
        description: Quote request to search for rates.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateQuoteRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/RateQuoteRequest'
        required: true
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateQuoteResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/RateQuoteResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/RestResponse'
        406:
          description: Not Acceptable
          content: {}
        415:
          description: Unsupported media type
          content: {}
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/RestResponse'
  /v2/location/import:
    post:
      tags:
        - "customer"
      summary: "Location Import API"
      description: |
        Shipment API for location import.

        \"Try this API\" feature in this portal supports only JSON requests to UAT environment.

        Environment specific base urls -

        **UAT** - **uatapi.uberfreight.com**

        **PROD** - **api.uberfreight.com**
      operationId: "inbound-uat-REST-POST-customer-v2-location-import-RESThttp:--tmsuat-int.transplace.com-tms-api-v1-location-import"
      requestBody:
        description: Quote request to search for rates.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationImportData'
          application/xml:
            schema:
              $ref: '#/components/schemas/LocationImportData'
        required: true
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationImportReposne'
            application/xml:
              schema:
                $ref: '#/components/schemas/LocationImportReposne'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/RestResponse'
        406:
          description: Not Acceptable
          content: {}
        415:
          description: Unsupported media type
          content: {}
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'

  /v2/products/add-update:
    post:
      tags:
        - "customer"
      summary: "Products Add/Update"
      description: |
        This API is used by Transplace customers to pass the Product Add, Update detail information.

        \"Try this API\" feature in this portal supports only JSON requests to UAT environment.

        Environment specific base urls -

        **UAT** - **uatapi.uberfreight.com**

        **PROD** - **api.uberfreight.com**
      operationId: "inbound-uat-REST-POST-customer-v2-products-add-update-RESThttp:--tmsuat-int.transplace.com-tms-api-v1-products-add_update"
      requestBody:
        description: Quote request to search for rates.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
          application/xml:
            schema:
              $ref: '#/components/schemas/Product'
        required: true
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProductResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/RestResponse'
        406:
          description: Not Acceptable
          content: {}
        415:
          description: Unsupported media type
          content: {}
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
  /v3/quickQuotes/search:
    post:
      tags:
        - "customer"
      summary: "QuickQuotes V3 Rate Search"
      description: |
        This API is used by Uber Freight customers to get one or more quick shipment quotes based upon contract or benchmark rates. It features two versions of endpoints, namely v2 and v3. While both versions cater to quick quote searches, v3 introduces enhancements primarily focused on improving error handling, aiming to provide more informative responses rather than defaulting to generic internal server errors.

        \"Try this API\" feature in this portal supports only JSON requests to UAT environment.

        Environment specific base urls -

        **UAT** - **uatapi.uberfreight.com**

        **PROD** - **api.uberfreight.com**
      operationId: "inbound-uat-REST-POST-customer-v3-quickQuotes-search-RESThttp:--tmsuat-int.transplace.com-ratingsearch-quickQuotes-v3-search"
      requestBody:
        description: Quote request to search for rates.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateQuoteRequestV3'
          application/xml:
            schema:
              $ref: '#/components/schemas/RateQuoteRequestV3'
        required: true
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateQuoteResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/RateQuoteResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestResponse'
              examples:
                QQ-0001:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Empty Quote Request. one or more quotes requests are required. (QQ-0001)
                QQ-0002:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Date is missing in one of the rate quotes. (QQ-0002)
                QQ-0003:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Empty Line Items in one of the rate quotes. one or more line items are required. (QQ-0003)
                QQ-0004:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Empty Locations in one of the rate quotes. one or more locations are required. (QQ-0004)
                QQ-0005:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Weight is missing in one of the line items. (QQ-0005)
                QQ-0006:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Weight UOM is missing in one of the line items. (QQ-0006)
                QQ-0007:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Invalid Weight UOM in one of the line items. Accepted values are KG, LBS, TONS, HW, OZ, GR, TONE, TONL, LB. (QQ-0007)
                QQ-0008:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Invalid Mode Type in one of the quote requests. Accepted values are TRUCK, LTL, INTERMODAL, PARCEL, AIR, OCEAN, RAIL. (QQ-0008)
                QQ-0009:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Invalid Shipping Length UOM in one of the quote requests. Accepted values are LF, KM, MI, LC, LI, LM, M, FT, IN, YD, CM. (QQ-0009)
                QQ-0010:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Invalid Service Level in one of the quote requests. Accepted values are STANDARD, PREMIUM, EXPEDITED, EXPEDITED2, DEFERRED35, STANDARD_TL, STANDARD_LTL, OVERNIGHT, EXPEDITED3, PARCEL_GROUND, GUARANTEE, TIME_DEFINITE, DAY_DEFINITE, EXPEDITED_35DAY, KOSHER, KOSHER_EXPEDITED, SHUTTLE, MILK_RUN, ECONOMY. (QQ-0010)
                QQ-0011:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Shipping Length UOM is missing in one of the quote requests. (QQ-0011)
                QQ-0013:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Insufficient location information provided in request. (QQ-0013)
                QQ-0015:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Length UOM is missing in one of the line items. (QQ-0015)
                QQ-0016:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Invalid Length UOM in one of the line items. Accepted values are LF, KM, MI, LC, LI, LM, M, FT, IN, YD, CM. (QQ-0016)
                QQ-0017:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Area UOM is missing in one of the line items. (QQ-0017)
                QQ-0018:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Invalid Area UOM in one of the line items. Accepted values are FSU, MSF, MSM, SF, SI, SC, SM, LM. (QQ-0018)
                QQ-0019:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Quantity UOM is missing in one of the line items. (QQ-0019)
                QQ-0020:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Invalid Quantity UOM in one of the line items. Accepted values are CTN, CA, EA, PCS, PLT, SS, UN, BX, DZ, PKG, PRT, RL, RM, KEG, BD, BG, BO, CN, DR, GA, JR, KT, OZ, PD, PH, PT, QT, ST, TB, TK, TY, VI, BR, PR, TL, CG, LT, MG, OP, P3, P4, P5, P6, P8, TP, CS, SV, HU, MX, BL, CF, COI, REL, CRT, PAL, GAYLORD, LOOSE, SQYD, YD, LB, KG, TE, K, BGW, BK, HF, HSF, CY, FT, IM, IN, MT, SF, SI, SK, STE, LF, TU, LM, YT, MF2, CYL, BS, MSC, AY, CC, CQ, CW, GR, GY, HG, LY, TH, TI, ML, SH, SM, SO, TW, KM, CTO, FSU, CI, CU, HR, IW, MF, MK, MS, MY, PB, RC, BLK, LOT, TUB, C, PL, SSK, RA, ECF, MLG, UL, HO, HUL, RAK, JO, CNT, CNB, CND, DBK, CBC, PAF, PAT, PLN, UNP, WRP, BBD, BBR, TON, TONL, TONNE, CM, BLOCK, CG, DW, BEAM, OCT, LINE, QP, GOH, BIN, CUBITAINER, CARBOY, DELCAN, PLTTK, SLGBG, TONNER, SLB, HSL, LAF, HAF, ME, IPLT, CCG1, DPLT, MSF, JG. (QQ-0020)
                QQ-0021:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Volume UOM is missing in one of the line items. (QQ-0021)
                QQ-0022:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Invalid Volume UOM in one of the line items. Accepted values are CF, GAL, SI, CM, C, CCM, LT, CI, PCT, BR, MCF, KL, DM3, H4, SY. (QQ-0022)
                QQ-0023:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Error occurred while parsing the date. Please provide the date in the format yyyy-MM-dd. (QQ-0023)
                QQ-0024:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Invalid Carrier Specified in one of the rate quotes. (QQ-0024)
                QQ-0026:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: The field is empty or in an incorrect format. (QQ-0026)
                QQ-0027:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Invalid Charge Type in one of the line items. (QQ-0027)
                QQ-0028:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Invalid LTL Class in one of the line items. (QQ-0028)
                QQ-0030:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Invalid Weight in one of the line items. Weight should be greater than 0.0. (QQ-0030)
                QQ-0031:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Equipment Type is required for TRUCK mode. (QQ-0031)
                QQ-0032:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Invalid Parcel Service Level. (QQ-0032)
                QQ-0033:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Missing Carrier SCAC. (QQ-0033)
                QQ-0034:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Feature Not Supported for Parcel. (QQ-0034)
                QQ-0035:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Missing Service Level or Parcel Service Level. (QQ-0035)
                QQ-0036:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: Invalid Service Level for Parcel. (QQ-0036)
                QQ-0037:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: unClass or unClass is missing in one of the line items.These are required when Hazmat is set to 'true' (QQ-0037)
                QQ-0038:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: All Area UOM types should be same in all the line items. (QQ-0038)
                QQ-0039:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: BAD_REQUEST
                        message: All Quantity UOM types should be same in all the line items. (QQ-0039)

            application/xml:
              schema:
                $ref: '#/components/schemas/RestResponse'
        406:
          description: Not Acceptable
          content: {}
        415:
          description: Unsupported media type
          content: {}
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestResponse'
              examples:
                QQ-0012:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: INTERNAL_SERVER_ERROR
                        message: 'Quick Quote Error: Distance Engine Exception. Error occurred while calculating the distance. Please provide the correct location details. (QQ-0012)'
                QQ-0014:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: INTERNAL_SERVER_ERROR
                        message: Rating Engine Exception. Error occurred while getting the rates from the rating engine. (QQ-0014)
                QQ-0025:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: INTERNAL_SERVER_ERROR
                        message: Empty Response from Distance Engine. Error occurred while calculating the distance. (QQ-0025)
                QQ-0029:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                      - type: INTERNAL_SERVER_ERROR
                        message: No Rates found from Rating Engine. (QQ-0029)
            application/xml:
              schema:
                $ref: '#/components/schemas/RestResponse'
  /v4/quickQuotes/search:
    post:
      tags:
      - "customer"
      summary: "QuickQuotes V4 Rate Search"
      description: |
        This API is used by Uber Freight customers to get one or more quick shipment quotes based upon contract or benchmark rates.  Handles Quick Quote Rate Searches. It includes three versions of endpoints: v2, v3, and v4. All versions support quick quote searches, with v4 introducing enhancements primarily focused on improving the request structure to provide more informative requests, including support for parcel hazmat shipment fields.

        \"Try this API\" feature in this portal supports only JSON requests to UAT environment.

        Environment specific base urls -

        **UAT** - **uatapi.uberfreight.com**

        **PROD** - **api.uberfreight.com**
      operationId: "inbound-uat-REST-POST-customer-v4-quickQuotes-search-RESThttp:--tmsuat-int.transplace.com-ratingsearch-quickQuotes-v4-search"
      requestBody:
        description: Quote request to search for rates.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateQuoteRequestV4'
          application/xml:
            schema:
              $ref: '#/components/schemas/RateQuoteRequestV4'
        required: true
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateQuoteResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/RateQuoteResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestResponse'
              examples:
                QQ-0001:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Empty Quote Request. one or more quotes requests are required. (QQ-0001)
                QQ-0002:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Date is missing in one of the rate quotes. (QQ-0002)
                QQ-0003:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Empty Line Items in one of the rate quotes. one or more line items are required. (QQ-0003)
                QQ-0004:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Empty Locations in one of the rate quotes. one or more locations are required. (QQ-0004)
                QQ-0005:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Weight is missing in one of the line items. (QQ-0005)
                QQ-0006:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Weight UOM is missing in one of the line items. (QQ-0006)
                QQ-0007:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Weight UOM in one of the line items. Accepted values are KG, LBS, TONS, HW, OZ, GR, TONE, TONL, LB. (QQ-0007)
                QQ-0008:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Mode Type in one of the quote requests. Accepted values are TRUCK, LTL, INTERMODAL, PARCEL, AIR, OCEAN, RAIL. (QQ-0008)
                QQ-0009:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Shipping Length UOM in one of the quote requests. Accepted values are LF, KM, MI, LC, LI, LM, M, FT, IN, YD, CM. (QQ-0009)
                QQ-0010:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Service Level in one of the quote requests. Accepted values are STANDARD, PREMIUM, EXPEDITED, EXPEDITED2, DEFERRED35, STANDARD_TL, STANDARD_LTL, OVERNIGHT, EXPEDITED3, PARCEL_GROUND, GUARANTEE, TIME_DEFINITE, DAY_DEFINITE, EXPEDITED_35DAY, KOSHER, KOSHER_EXPEDITED, SHUTTLE, MILK_RUN, ECONOMY. (QQ-0010)
                QQ-0011:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Shipping Length UOM is missing in one of the quote requests. (QQ-0011)
                QQ-0013:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Insufficient location information provided in request. (QQ-0013)
                QQ-0015:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Length UOM is missing in one of the line items. (QQ-0015)
                QQ-0016:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Length UOM in one of the line items. Accepted values are LF, KM, MI, LC, LI, LM, M, FT, IN, YD, CM. (QQ-0016)
                QQ-0017:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Area UOM is missing in one of the line items. (QQ-0017)
                QQ-0018:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Area UOM in one of the line items. Accepted values are FSU, MSF, MSM, SF, SI, SC, SM, LM. (QQ-0018)
                QQ-0019:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Quantity UOM is missing in one of the line items. (QQ-0019)
                QQ-0020:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Quantity UOM in one of the line items. Accepted values are CTN, CA, EA, PCS, PLT, SS, UN, BX, DZ, PKG, PRT, RL, RM, KEG, BD, BG, BO, CN, DR, GA, JR, KT, OZ, PD, PH, PT, QT, ST, TB, TK, TY, VI, BR, PR, TL, CG, LT, MG, OP, P3, P4, P5, P6, P8, TP, CS, SV, HU, MX, BL, CF, COI, REL, CRT, PAL, GAYLORD, LOOSE, SQYD, YD, LB, KG, TE, K, BGW, BK, HF, HSF, CY, FT, IM, IN, MT, SF, SI, SK, STE, LF, TU, LM, YT, MF2, CYL, BS, MSC, AY, CC, CQ, CW, GR, GY, HG, LY, TH, TI, ML, SH, SM, SO, TW, KM, CTO, FSU, CI, CU, HR, IW, MF, MK, MS, MY, PB, RC, BLK, LOT, TUB, C, PL, SSK, RA, ECF, MLG, UL, HO, HUL, RAK, JO, CNT, CNB, CND, DBK, CBC, PAF, PAT, PLN, UNP, WRP, BBD, BBR, TON, TONL, TONNE, CM, BLOCK, CG, DW, BEAM, OCT, LINE, QP, GOH, BIN, CUBITAINER, CARBOY, DELCAN, PLTTK, SLGBG, TONNER, SLB, HSL, LAF, HAF, ME, IPLT, CCG1, DPLT, MSF, JG. (QQ-0020)
                QQ-0021:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Volume UOM is missing in one of the line items. (QQ-0021)
                QQ-0022:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Volume UOM in one of the line items. Accepted values are CF, GAL, SI, CM, C, CCM, LT, CI, PCT, BR, MCF, KL, DM3, H4, SY. (QQ-0022)
                QQ-0023:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Error occurred while parsing the date. Please provide the date in the format yyyy-MM-dd. (QQ-0023)
                QQ-0024:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Carrier Specified in one of the rate quotes. (QQ-0024)
                QQ-0026:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: The field is empty or in an incorrect format. (QQ-0026)
                QQ-0027:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Charge Type in one of the line items. (QQ-0027)
                QQ-0028:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid LTL Class in one of the line items. (QQ-0028)
                QQ-0030:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Weight in one of the line items. Weight should be greater than 0.0. (QQ-0030)
                QQ-0031:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Equipment Type is required for TRUCK mode. (QQ-0031)
                QQ-0032:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Parcel Service Level. (QQ-0032)
                QQ-0033:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Missing Carrier SCAC. (QQ-0033)
                QQ-0034:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Feature Not Supported for Parcel. (QQ-0034)
                QQ-0035:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Missing Service Level or Parcel Service Level. (QQ-0035)
                QQ-0036:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Service Level for Parcel. (QQ-0036)
                QQ-0037:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: unClass or unClass is missing in one of the line items.These are required when Hazmat is set to 'true' (QQ-0037)
                QQ-0038:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: All Area UOM types should be same in all the line items. (QQ-0038)
                QQ-0039:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: All Quantity UOM types should be same in all the line items. (QQ-0039)
                QQ-0040:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: two or more stops are required for round trip. (QQ-0040)
                QQ-0041:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Empty Freights in one of the rate quotes. one or more freights are required. (QQ-0041)
                QQ-0042:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Date is missing in the first location. Date is required in the first location which is pick up date. (QQ-0042)
                QQ-0043:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Shipping Width UOM is missing in one of the freights. (QQ-0043)
                QQ-0044:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Shipping Width UOM in one of the freights. Accepted values are LF, KM, MI, LC, LI, LM, M, FT, IN, YD, CM. (QQ-0044)
                QQ-0045:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Shipping Height UOM is missing in one of the freights. (QQ-0045)
                QQ-0046:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Shipping Height UOM in one of the freights. Accepted values are LF, KM, MI, LC, LI, LM, M, FT, IN, YD, CM. (QQ-0046)
                QQ-0047:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Shipping Length UOM is missing in one of the freights. (QQ-0047)
                QQ-0048:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Shipping Length UOM in one of the freights. Accepted values are LF, KM, MI, LC, LI, LM, M, FT, IN, YD, CM. (QQ-0048)
                QQ-0049:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Package Count UOM is missing in one of the line items. (QQ-0049)
                QQ-0050:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Package Count UOM in one of the line items. Accepted values are CTN, CA, EA, PCS, PLT, SS, UN, BX, DZ, PKG, PRT, RL, RM, KEG, BD, BG, BO, CN, DR, GA, JR, KT, OZ, PD, PH, PT, QT, ST, TB, TK, TY, VI, BR, PR, TL, CG, LT, MG, OP, P3, P4, P5, P6, P8, TP, CS, SV, HU, MX, BL, CF, COI, REL, CRT, PAL, GAYLORD, LOOSE, SQYD, YD, LB, KG, TE, K, BGW, BK, HF, HSF, CY, FT, IM, IN, MT, SF, SI, SK, STE, LF, TU, LM, YT, MF2, CYL, BS, MSC, AY, CC, CQ, CW, GR, GY, HG, LY, TH, TI, ML, SH, SM, SO, TW, KM, CTO, FSU, CI, CU, HR, IW, MF, MK, MS, MY, PB, RC, BLK, LOT, TUB, C, PL, SSK, RA, ECF, MLG, UL, HO, HUL, RAK, JO, CNT, CNB, CND, DBK, CBC, PAF, PAT, PLN, UNP, WRP, BBD, BBR, TON, TONL, TONNE, CM, BLOCK, CG, DW, BEAM, OCT, LINE, QP, GOH, BIN, CUBITAINER, CARBOY, DELCAN, PLTTK, SLGBG, TONNER, SLB, HSL, LAF, HAF, ME, IPLT, CCG1, DPLT, MSF, JG. (QQ-0050)
                QQ-0051:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Hazmat Transport Mode Type in one of the quote requests. Accepted values are GROUND, PASSENGER_AIRCRAFT, CARGO_AIRCRAFT, HIGHWAY. (QQ-0051)
                QQ-0052:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Commodity Regulation Code in one of the line items. Accepted values are FULLY_REGULATED, LIMITED_QUANTITY, EXCEPTED_QUANTITY, LIGHTLY_REGULATED. (QQ-0052)
                QQ-0053:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Regulation Set in one of the line items. Accepted values are ADR, CFR, IATA, TDG. (QQ-0053)
                QQ-0054:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Dangerous Goods Class in one of the line items. Accepted values are FULLY_REGULATED, UN3373, UN1845, LESS_THAN_500kg_EXEMPT, LIMITED_QUANTITIES. (QQ-0054)
                QQ-0055:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Weight is missing in one of the freights. (QQ-0055)
                QQ-0056:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Weight UOM is missing in one of the freights. (QQ-0056)
                QQ-0057:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Weight UOM in one of the freights. Accepted values are KG, LBS, TONS, HW, OZ, GR, TONE, TONL, LB. (QQ-0057)
                QQ-0058:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Weight in one of the freights. Weight should be greater than 0.0. (QQ-0058)

                QQ-0059:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Area UOM is missing in one of the freights. (QQ-0059)
                QQ-0060:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Area UOM in one of the freights. Accepted values are FSU, MSF, MSM, SF, SI, SC, SM, LM. (QQ-0060)
                QQ-0061:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Length UOM is missing in one of the freights. (QQ-0061)
                QQ-0062:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Length UOM in one of the freights. Accepted values are LF, KM, MI, LC, LI, LM, M, FT, IN, YD, CM. (QQ-0062)
                QQ-0063:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Quantity UOM is missing in one of the freights. (QQ-0063)
                QQ-0064:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Quantity UOM in one of the freights. Accepted values are CTN, CA, EA, PCS, PLT, SS, UN, BX, DZ, PKG, PRT, RL, RM, KEG, BD, BG, BO, CN, DR, GA, JR, KT, OZ, PD, PH, PT, QT, ST, TB, TK, TY, VI, BR, PR, TL, CG, LT, MG, OP, P3, P4, P5, P6, P8, TP, CS, SV, HU, MX, BL, CF, COI, REL, CRT, PAL, GAYLORD, LOOSE, SQYD, YD, LB, KG, TE, K, BGW, BK, HF, HSF, CY, FT, IM, IN, MT, SF, SI, SK, STE, LF, TU, LM, YT, MF2, CYL, BS, MSC, AY, CC, CQ, CW, GR, GY, HG, LY, TH, TI, ML, SH, SM, SO, TW, KM, CTO, FSU, CI, CU, HR, IW, MF, MK, MS, MY, PB, RC, BLK, LOT, TUB, C, PL, SSK, RA, ECF, MLG, UL, HO, HUL, RAK, JO, CNT, CNB, CND, DBK, CBC, PAF, PAT, PLN, UNP, WRP, BBD, BBR, TON, TONL, TONNE, CM, BLOCK, CG, DW, BEAM, OCT, LINE, QP, GOH, BIN, CUBITAINER, CARBOY, DELCAN, PLTTK, SLGBG, TONNER, SLB, HSL, LAF, HAF, ME, IPLT, CCG1, DPLT, MSF, JG. (QQ-0064)
                QQ-0065:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Volume UOM is missing in one of the freights. (QQ-0065)

                QQ-0066:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid Volume UOM in one of the freights. Accepted values are CF, GAL, SI, CM, C, CCM, LT, CI, PCT, BR, MCF, KL, DM3, H4, SY. (QQ-0066)
                QQ-0067:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: Invalid LTL Class in one of the freights. (QQ-0067)
                QQ-0068:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: All Area UOM types should be same in all the freights. (QQ-0068)
                QQ-0069:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: BAD_REQUEST
                      message: All Quantity UOM types should be same in all the freights. (QQ-0069)

            application/xml:
              schema:
                $ref: '#/components/schemas/RestResponse'
        406:
          description: Not Acceptable
          content: {}
        415:
          description: Unsupported media type
          content: {}
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestResponse'
              examples:
                QQ-0012:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: INTERNAL_SERVER_ERROR
                      message: 'Quick Quote Error: Distance Engine Exception. Error occurred while calculating the distance. Please provide the correct location details. (QQ-0012)'
                QQ-0014:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: INTERNAL_SERVER_ERROR
                      message: Rating Engine Exception. Error occurred while getting the rates from the rating engine. (QQ-0014)
                QQ-0025:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: INTERNAL_SERVER_ERROR
                      message: Empty Response from Distance Engine. Error occurred while calculating the distance. (QQ-0025)
                QQ-0029:
                  value:
                    success: false
                    traceId: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
                    total: 0
                    errors:
                    - type: INTERNAL_SERVER_ERROR
                      message: No Rates found from Rating Engine. (QQ-0029)
            application/xml:
              schema:
                $ref: '#/components/schemas/RestResponse'
components:
  schemas:
    HealthCheckResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
          description: Success status of request received with either true or false
        traceId:
          type: string
          example: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
          description: Trace id for this request. Can be used for tracking and debugging purposes. Max. Field Length - 100 characters
        total:
          type: integer
          format: int32
          example: 1
          description: Total specifies number of items if response data is a list
        data:
          description: HealthCheck response returned by the service.
          $ref: "#/components/schemas/HealthCheckMessage"
      description: HealthCheck Response returned
      xml:
        name: healthCheckResponse
    HealthCheckMessage:
      type: object
      properties:
        environment:
          type: string
          example: prod
          description: Hosted environment
      description: Health Check Message
    RestResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Success status of request received with either true or false
          example: true
        errors:
          type: array
          description: Error list
          items:
            $ref: '#/components/schemas/Error'
        traceId:
          type: string
          example: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
          description: Trace id for this request. Can be used for tracking and debugging purposes. Max. Field Length - 100 characters
        total:
          type: integer
          description: Total specifies number of items if response data is a list
          format: int32
          example: 1
      description: Response returned
    ErrorApiResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
          description: Success status of request received with either true or false
        traceId:
          type: string
          example: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
          description: Trace id for this request. Can be used for tracking and debugging purposes. Max. Field Length - 100 characters
        total:
          type: integer
          format: int32
          example: 1
          description: Total specifies number of items if response data is a list
        errors:
          type: array
          description: Error list
          items:
            $ref: "#/components/schemas/ApiError"
      xml:
        name: errorResponse
      description: Error response returned
    ApiError:
      type: object
      properties:
        type:
          type: string
          example: INTERNAL_SERVER_ERROR
          description: Error Type
        message:
          type: string
          example: Internal error occurred. Trace id provided for reference. Please try again later.
          description: Error message
      description: API Error Info
    Shipment:
      required:
        - accountId
        - action
        - domainId
        - freights
        - stops
      type: object
      properties:
        domainId:
          type: integer
          description: Customer Domain Id provided by Transplace
          format: int64
          example: 123456789
        accountId:
          type: integer
          description: Customer Account Id provided by Transplace
          format: int64
          example: 123456789
        customerTransactionId:
          type: string
          description: Used to uniquely identify the Shipment. When sending an update or cancel, it must match the original Shipment. If not set, TMS will set it to the first Primary Reference found.
        action:
          type: string
          description: 'The action to be taken. Possible values: ADD=new shipment,
            UPDATE=update existing shipment, CANCEL=cancel existing shipment'
          enum:
            - ADD
            - UPDATE
            - CANCEL
        timestamp:
          type: string
          description: Customer timestamp in yyyy-MM-dd HH:mm format
          example: 2020-12-31 23:59
        billToId:
          type: string
          description: Customer Bill To Id provided by Transplace
        transitSpeed:
          type: string
          description: 'Transit Speed. Possible values: DAY_DEFINITE=Day Definite,
            DEFERRED_3_TO_5_DAY=Deferred 3-5 Day, ECONOMY=Economy, EXPEDITED=Expedited,
            EXPEDITED_2ND_DAY=Expedited 2nd Day, EXPEDITED_3_DAY=Expedited 3rd Day,
            EXPEDITED_3_TO_5_DAY=Expedited 3-5 Day, GUARANTEE=Guarantee, KOSHER=Kosher,
            KOSHER_EXPEDITED=Kosher Expedited, MILK_RUN=Milk Run, OVERNIGHT=Overnight,
            PARCEL_GROUND=Parcel Ground, SHUTTLE=Shuttle, SHUTTLE_HALF_DAY=Shuttle
            Half Day, SHUTTLE_X2=Shuttle X2, SHUTTLE_X3=Shuttle X3, SOLO=Standard,
            STANDARD_LTL=Standard LTL, STANDARD_TL=Standard TL, TEAM=Premium, TIME_DEFINITE=Time
            Definite'
          enum:
            - DAY_DEFINITE
            - DEFERRED_3_TO_5_DAY
            - ECONOMY
            - EXPEDITED
            - EXPEDITED_2ND_DAY
            - EXPEDITED_3_DAY
            - EXPEDITED_3_TO_5_DAY
            - GUARANTEE
            - KOSHER
            - KOSHER_EXPEDITED
            - MILK_RUN
            - OVERNIGHT
            - PARCEL_GROUND
            - SHUTTLE
            - SHUTTLE_HALF_DAY
            - SHUTTLE_X2
            - SHUTTLE_X3
            - SOLO
            - STANDARD_LTL
            - STANDARD_TL
            - TEAM
            - TIME_DEFINITE
        highValue:
          type: string
          description: Indicate if this is a high value shipment. Values are case-sensitive. Refer to allowed values below.
          enum:
            - "TRUE"
            - "FALSE"
        modeType:
          type: string
          description: 'Mode Type. Possible values: AIR=Air, INTERMODAL=Intermodal,
            LTL=LTL, OCEAN=Ocean, PARCEL=Parcel, RAIL=Rail, TRUCK=TL'
          enum:
            - TRUCK
            - RAIL
            - INTERMODAL
            - LTL
            - AIR
            - OCEAN
            - PARCEL
        scac:
          maxLength: 10
          minLength: 0
          type: string
          description: Standard Carrier Alpha Code. Max length 10.
        carrierVendorCode:
          type: string
          description: Standard Carrier Alpha Code. Max length 10.
        equipmentTypeCode:
          type: string
          description: Transplace equipment type code, such as DRYVAN, REEFER, TANKER.
            Max length 30.
        containerId:
          type: string
          description: The Container/Trailer Id. Max length 32.
        powerId:
          type: string
          description: The Power Unit or Tractor Id. Max length 30.
        priorityMessage:
          type: string
          description: Priority message. Max length 256.
        paymentMethodType:
          type: string
          description: 'Payment Method Type. Possible values: CC=Collect, PP=Prepaid,
            TP=Third Party, BP=Buyer Paid, CA=Advance Collect, PA=Prepaid Add'
          enum:
            - CC
            - PP
            - TP
            - BP
            - CA
            - PA
        parcelServiceLevel:
          type: string
          description: 'Parcel service level. Possible values: ALTM Ground, ATS Ground
            Expedited, ATS Ground by 10:00, ATS Next Day by 3:00, ATS Next Day by
            Noon, ATS Second Day, CANPAR Express, CANPAR Ground, CANPAR International,
            CANPAR Select, CANPAR USA, CANPAR USA Select, DHL Express Worldwide, Expedited
            Parcel, Express, FedEx 1Day Freight, FedEx 2 Day, FedEx 2Day Freight,
            FedEx 2nd Day AM, FedEx 3Day Freight, FedEx Custom Critical, FedEx Economy,
            FedEx Express Saver, FedEx First Overnight, FedEx First Overnight Freight,
            FedEx Ground, FedEx Ground US to Canada, FedEx Home Delivery, FedEx Intl
            Economy, FedEx Intl Economy Freight, FedEx Intl First, FedEx Intl Priority,
            FedEx Intl Priority Freight, FedEx Priority Overnight, FedEx SmartPost,
            FedEx Smartpost, FedEx Standard Overnight, Loomis Can Ground, Loomis Can
            Xpress 6pm, Loomis Can Xpress 9am, Loomis Can Xpress Noon, Misc Service,
            Pur Express Overnight, Pur Ground, Regular Parcel, UPS 2nd Day Air, UPS
            2nd Day Air A.M., UPS 3 Day Select, UPS Expedited, UPS Express, UPS Express
            Early A.M., UPS Ground, UPS Hundredweight Service, UPS Next Day Air, UPS
            Next Day Air Early AM, UPS Next Day Air Saver, UPS Saver, UPS Standard,
            UPS Standard (Canada), UPS Worldwide Expedited, UPS Worldwide Express,
            UPS Worldwide Express Plus, UPS Worldwide Saver'
        invoiceOnly:
          type: string
          description: Indicates if shipment is customer routed. Values are case-sensitive. Refer to allowed values below.
          enum:
            - "TRUE"
            - "FALSE"
        customerRouted:
          type: string
          description: Indicates if shipment is customer routed. Values are case-sensitive. Refer to allowed values below.
          enum:
            - "TRUE"
            - "FALSE"
        tankerEndorsementRequired:
          type: string
          description: Indicates if tanker endorsement is required. Values are case-sensitive. Refer to allowed values below.
          enum:
            - "TRUE"
            - "FALSE"
        tenderBillTo:
          $ref: '#/components/schemas/TenderBillTo'
        customsClearingCustomerId:
          type: string
          description: Transplace provided customs clearing customer Id
        uuidExport:
          type: string
          description: Similar to the invoice number Invoice Number for CFDI
        notificationPartyTaxId:
          type: string
          description: Tax id of the company in Mexico that needs to be notified when
            the shipment has arrived at destination
        notificationPartyCountry:
          type: string
          description: Country of the company out of Mexico that needs to be notified
            when the shipment has arrived at destination
        pedimento:
          type: string
          description: import/export declaration number (customs entry order)
        shipmentType:
          type: string
          description: Indicates this is a Shipment or Purchase Order. Default is SHIPMENT if not set.
          enum:
            - SHIPMENT
            - PURCHASE_ORDER
        reasonForExport:
          type: string
          description: Important item on the commercial invoice responsible for clearing
            your shipment and tax imposed on your shipment
        ftrExemptionNumber:
          type: string
          description: This value is added when an item do not require an export license
            or that. are exported as tools of the trade under a license exception
            of a particular kind
        skipSP:
          type: string
          description: This value is added when you want to skip Shipment Planning
            and shipment will directly fo to Mode Execution
          enum:
            - TRUE
            - FALSE
        stops:
          maxItems: 99
          minItems: 2
          type: array
          description: At least one PICKUP and one DROPOFF stop is required
          items:
            $ref: '#/components/schemas/Stop'
        freights:
          type: array
          description: At least one Freight is required
          items:
            $ref: '#/components/schemas/Freight'
        rates:
          type: array
          items:
            $ref: '#/components/schemas/Rate'
        comments:
          type: array
          description: Customer Comments, Max single comment length is 256
          items:
            type: string
        carrierComments:
          type: array
          description: Carrier Comments, Max single comment length is 256
          items:
            type: string
        operationalComments:
          type: array
          description: Operational Comments, Max single comment length is 256
          items:
            type: string
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
        references:
          type: array
          description: Shipment level references
          items:
            $ref: '#/components/schemas/Reference'
        supportInfos:
          type: array
          description: Shipment level support info (additional) fields
          items:
            $ref: '#/components/schemas/SupportInfo'
        cancelLoadId:
          type: integer
          description: The Transplace Id of the load to cancel
          format: int64
        cancelReferences:
          type: array
          description: One or more references used to lookup the load to cancel
          items:
            $ref: '#/components/schemas/Reference'
        roundTrip:
          type: string
          description: Indicates if a stop 99 can be created systematically to mirror
            stop 1
          enum:
            - TRUE
            - FALSE
      description: Shipment Add/Update/Cancel
    AckMessage:
      type: object
      properties:
        message:
          type: string
          description: Response message with success acknowledgment
      description: Ack Message
    AckMessageResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
          description: Success status of request received with either true or false
        traceId:
          type: string
          example: ID-TPPRODAPI-1621542663189-UwxRtgodixHH
          description: Trace id for this request. Can be used for tracking and debugging purposes. Max. Field Length - 100 characters
        total:
          type: integer
          format: int32
          example: 1
          description: Total specifies number of items if response data is a list
        data:
          description: Ack response returned by the service.
          $ref: "#/components/schemas/AckMessage"
      description: Acknowledgement Response returned
      xml:
        name: ackMessageResponse
    GoodsIssued:
      required:
        - accountId
        - domainId
        - modeType
        - scac
        - shipmentLookupReferenceName
        - shipmentLookupReferenceValue
      type: object
      properties:
        domainId:
          type: integer
          description: Customer Domain Id provided by Transplace
          format: int64
          example: 123456789
        accountId:
          type: integer
          description: Customer Account Id provided by Transplace
          format: int64
          example: 123456789
        loadId:
          type: integer
          description: The Transplace load Id. If not provided, the load will be looked
            up using primaryReferenceName/Value
          format: int64
          example: 123456789
        shipmentLookupReferenceName:
          type: string
          description: Name of the reference to use for looking up the load.
          example: SHIP ID
        shipmentLookupReferenceValue:
          type: string
          description: Reference value used to lookup the load.
          example: ABC123456789
        scac:
          type: string
          description: Standard Carrier Alpha Code. Max length 10.
        modeType:
          type: string
          description: 'Mode Type. Possible values: AIR=Air, INTERMODAL=Intermodal,
            LTL=LTL, OCEAN=Ocean, PARCEL=Parcel, RAIL=Rail, TRUCK=TL'
          enum:
            - TRUCK
            - RAIL
            - INTERMODAL
            - LTL
            - AIR
            - OCEAN
            - PARCEL
        transitSpeed:
          type: string
          description: 'Transit Speed. Possible values: DAY_DEFINITE=Day Definite,
            DEFERRED_3_TO_5_DAY=Deferred 3-5 Day, ECONOMY=Economy, EXPEDITED=Expedited,
            EXPEDITED_2ND_DAY=Expedited 2nd Day, EXPEDITED_3_DAY=Expedited 3rd Day,
            EXPEDITED_3_TO_5_DAY=Expedited 3-5 Day, GUARANTEE=Guarantee, KOSHER=Kosher,
            KOSHER_EXPEDITED=Kosher Expedited, MILK_RUN=Milk Run, OVERNIGHT=Overnight,
            PARCEL_GROUND=Parcel Ground, SHUTTLE=Shuttle, SHUTTLE_HALF_DAY=Shuttle
            Half Day, SHUTTLE_X2=Shuttle X2, SHUTTLE_X3=Shuttle X3, SOLO=Standard,
            STANDARD_LTL=Standard LTL, STANDARD_TL=Standard TL, TEAM=Premium, TIME_DEFINITE=Time
            Definite'
          enum:
            - DAY_DEFINITE
            - DEFERRED_3_TO_5_DAY
            - ECONOMY
            - EXPEDITED
            - EXPEDITED_2ND_DAY
            - EXPEDITED_3_DAY
            - EXPEDITED_3_TO_5_DAY
            - GUARANTEE
            - KOSHER
            - KOSHER_EXPEDITED
            - MILK_RUN
            - OVERNIGHT
            - PARCEL_GROUND
            - SHUTTLE
            - SHUTTLE_HALF_DAY
            - SHUTTLE_X2
            - SHUTTLE_X3
            - SOLO
            - STANDARD_LTL
            - STANDARD_TL
            - TEAM
            - TIME_DEFINITE
        powerId:
          type: string
          description: The Power Unit or Tractor Id. Max length 30.
        containerId:
          type: string
          description: The Container/Trailer Id. Max length 32.
        equipmentType:
          type: string
          description: Transplace equipment type code, such as DRYVAN, REEFER, TANKER.
            Max length 30.
        parcelServiceLevel:
          type: string
          description: Parcel service level.
        goodsIssuedStops:
          type: array
          items:
            $ref: '#/components/schemas/GoodsIssuedStop'
        checkCalls:
          type: array
          items:
            $ref: '#/components/schemas/CheckCall'
        goodsIssuedFreights:
          type: array
          items:
            $ref: '#/components/schemas/GoodsIssuedFreight'
        comments:
          type: array
          description: Max single comment length is 2000
          items:
            type: string
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
        shipmentReferences:
          type: array
          description: Shipment references to update.
          items:
            $ref: '#/components/schemas/Reference'
        supportInfos:
          type: array
          description: Shipment support infos to update.
          items:
            $ref: '#/components/schemas/SupportInfo'
        typedComments:
          type: array
          items:
            $ref: '#/components/schemas/TypedComment'
        soft:
          type: boolean
          description: tag for soft pgi
      description: Goods Issued
    Error:
      type: object
      properties:
        type:
          type: string
          description: Error Type
          example: BAD_REQUEST
        message:
          type: string
          description: Error message
          example: 'Validation failed: Found 5 constraint violations.'
      description: Error Info
    TenderBillTo:
      required:
        - id
      type: object
      properties:
        id:
          type: string
          description: Transplace provided Tender Bill To Id
        name:
          type: string
        contactName:
          type: string
        contactPhone:
          type: string
        address:
          $ref: '#/components/schemas/Address'
      description: Tender Bill To
    Stop:
      required:
        - location
        - sequenceNumber
        - type
      type: object
      properties:
        action:
          type: string
          description: 'The action to perform: ADD, UPDATE, CANCEL (remove). Defaults
            to ADD is Shipment action is ADD.'
          enum:
            - ADD
            - UPDATE
            - CANCEL
        sequenceNumber:
          type: integer
          description: The stop sequence number. First pickup must be 1. Last dropoff
            must be 99.
          format: int64
        type:
          type: string
          description: 'Stop Type. Possible values: PICKUP, DROPOFF, INTERLINE'
          enum:
            - PICKUP
            - DROPOFF
            - INTERLINE
        location:
          $ref: '#/components/schemas/Location'
        earliestDateTime:
          type: string
          description: The appointment earliest date and time in yyyy-MM-dd HH:mm
            format
          example: 2020-12-31 23:59
        latestDateTime:
          type: string
          description: The appointment latest date and time in yyyy-MM-dd HH:mm format
          example: 2020-12-31 23:59
        loadingUnloadingDescription:
          type: string
          description: 'Load/Unload description type. Possible values: PALLETS, SLIP_SHEETS,
            RACKS, FLOOR, ROLLING, BILGE, MIX, BULK, DRUMS'
          enum:
            - PALLETS
            - SLIP_SHEETS
            - RACKS
            - FLOOR
            - ROLLING
            - BILGE
            - MIX
            - BULK
            - DRUMS
        loadingUnloadingType:
          type: string
          description: 'Load/Unload activity type. Possible values: LIVELOAD=Live
            Load, PRELOADED=Pre-Loaded, DRIVERLOAD=Driver Load, DRIVERUNLOAD=Driver
            Unload, LIVEUNLOAD=Live Unload, DROP=Drop'
          enum:
            - LIVELOAD
            - PRELOADED
            - DRIVERLOAD
            - DRIVERUNLOAD
            - LIVEUNLOAD
            - DROP
        consignee:
          $ref: '#/components/schemas/Consignee'
        externalAppointmentNumber:
          type: string
        taxId:
          type: string
          description: Tax ID of any stop in the shipment
        taxType:
          type: string
          description: "Tax type. Examples of tax types are Employer Identification\
            \ Number, Domain Name System, Foreign Goods Notification"
          enum:
          - EIN
          - DNS
          - FGN
        comments:
          type: array
          description: Customer Comments, Max single comment length is 2000
          items:
            type: string
        taxEffectiveDate:
          type: string
          description: Effective date of Tax Id
        taxExpirationDate:
          type: string
          description: Expiration date of Tax Id
        isResidential:
          type: string
          description: Identifies if the stop is a residential location
          enum:
          - "TRUE"
          - "FALSE"
        carrierComments:
          type: array
          description: Carrier Comments
          items:
            type: string
        operationalComments:
          type: array
          description: Operational Comments
          items:
            type: string
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
        references:
          type: array
          items:
            $ref: '#/components/schemas/Reference'
        supportInfos:
          type: array
          items:
            $ref: '#/components/schemas/SupportInfo'
      description: Stop
    DocumentDetails:
      type: object
      properties:
        internationalDocumentType:
          type: string
          description: "The customs document type to be generated. Examples include\
            \ COMMERCIAL_INVOICE, CERTIFICATE_OF_ORIGIN, EEI, etc."
          enum:
          - COMMERCIAL_INVOICE
          - CERTIFICATE_OF_ORIGIN
          - NAFTA_USMCA_COMMERCIAL_INVOICE
          - NAFTA_USMCA_CERTIFICATE_OF_ORIGIN
          - PACKING_LIST
          - AIR_FREIGHT_PACKING_LIST
          - CN22_CN23_FORM
          - EEI_EXPORT_DECLARATION
        documentRefId:
          type: string
          description: The reference Id of the document generated by shipper/carrier.
        documentResponsibleParty:
          type: string
          description: "The party responsible to generate the document. Example :\
            \ Shipper, Carrier, Uber Freight"
          enum:
          - SHIPPER
          - CARRIER
          - UBER_FREIGHT
        docGenInstructions:
          type: string
          description: The instructions provided by shipper to generate a document.
      description: documentsDetails
    IntlAttributes:
      type: object
      properties:
        invoiceDate:
          type: string
          description: The commercial invoice date
          example: 2020-12-31 23:59
        invoiceLineTotal:
          type: number
          description: "The total monetary value of all goods included in a shipment,\
            \ excluding packaging costs"
          format: double
        invoiceLineTotalUOM:
          type: string
          description: "Currency Unit of Measure. Possible values: ALL=Albanian Lek,\
            \ AMD=Armenian Dram, AZN=Azerbaijan Manat, BAM=Bosnia-H. Conv. Mark, BGN=Bulgarian\
            \ Lev, BYN=Belarusian Ruble, CAD=Canadian Dollar, CHF=Swiss Franc, CZK=Czech\
            \ Koruna, DEM=Deutsche Mark, DKK=Danish Krone, EUR=Euro Currency, GBP=British\
            \ Pound, GEL=Georgian Lari, GGP=Guernsey Pound, GIP=Gibraltar Pound, HRK=Croatian\
            \ Kuna, HUF=Hungarian Forint, IMP=Manx Pound, INR=Indian Rupee, ISK=Icelandic\
            \ Krona, JEP=Jersey Pound, JPY=Japanese Yen, KZT=Kazakhstani Tenge, MDL=Moldovan\
            \ Leu, MKD=Macedonian Denar, MXN=Mexican Pesos, NOK=Norwegian Krone, PLN=Polish\
            \ Zloty, RON=Romanian Leu, RSD=Serbian Dinar, RUB=Russian Ruble, SEK=Swedish\
            \ Krona, TRY=Turkish Lira, UAH=Ukrainian Hryvnia, USD=US Dollar."
          enum:
          - CAD
          - DEM
          - EUR
          - GBP
          - INR
          - JPY
          - MXN
          - USD
        totalWeight:
          type: number
          description: Total weight of the Freight
          format: double
        totalWeightUOM:
          type: string
          description: "Weight Unit Unit of Measure. Possible values: GR=Grams, HW=Hundred\
            \ Weight, KG=Kilograms, LBS=Pounds, OZ=Ounces, TONE=Tonnes, TONL=Long\
            \ Ton (British Ton), TONS=Tons"
          enum:
          - KG
          - LBS
          - TONS
          - HW
          - OZ
          - GR
          - TONE
          - TONL
        commercialInvNumber:
          type: string
          description: The Unique identifier assigned to a commercial invoice by the
            shipper or exporter. It is used by customs.
        scheduleBNumber:
          type: string
          description: The 10 digit code to classify the physical goods exported from
            US. It is used by customs.
        marksAndNumbers:
          type: string
          description: The special Code/Mark/Number that may appear on package
        sedTotalValue:
          type: number
          description: The combined value of goods being exported from US.
          format: double
        sedTotalValueUOM:
          type: string
          description: "Currency Unit of Measure. Possible values: ALL=Albanian Lek,\
            \ AMD=Armenian Dram, AZN=Azerbaijan Manat, BAM=Bosnia-H. Conv. Mark, BGN=Bulgarian\
            \ Lev, BYN=Belarusian Ruble, CAD=Canadian Dollar, CHF=Swiss Franc, CZK=Czech\
            \ Koruna, DEM=Deutsche Mark, DKK=Danish Krone, EUR=Euro Currency, GBP=British\
            \ Pound, GEL=Georgian Lari, GGP=Guernsey Pound, GIP=Gibraltar Pound, HRK=Croatian\
            \ Kuna, HUF=Hungarian Forint, IMP=Manx Pound, INR=Indian Rupee, ISK=Icelandic\
            \ Krona, JEP=Jersey Pound, JPY=Japanese Yen, KZT=Kazakhstani Tenge, MDL=Moldovan\
            \ Leu, MKD=Macedonian Denar, MXN=Mexican Pesos, NOK=Norwegian Krone, PLN=Polish\
            \ Zloty, RON=Romanian Leu, RSD=Serbian Dinar, RUB=Russian Ruble, SEK=Swedish\
            \ Krona, TRY=Turkish Lira, UAH=Ukrainian Hryvnia, USD=US Dollar."
          enum:
          - CAD
          - DEM
          - EUR
          - GBP
          - INR
          - JPY
          - MXN
          - USD
        exportLicenseNumber:
          type: string
          description: The Unique identifier assigned by the relevant government authority
            when an export license is issued. It is used by customs
        inbondCode:
          type: string
          description: The code assigned when an in-bond application is submitted
            electronically through systems like the Automated Commercial Environment.
        portOfExport:
          type: string
          description: "The CBP seaport, airport, or border crossing where goods are\
            \ loaded onto the transportation mode (aircraft, vessel, or vehicle) that\
            \ takes them out of the United States."
        portOfUnloading:
          type: string
          description: "The location where cargo is physically removed from a vessel,\
            \ aircraft, or other modes of international transport."
        certBlanketStartDate:
          type: string
          description: The start date of the blanket certificate of origin issued
            to all shipments shipped during the blanket period.
        certBlanketEndDate:
          type: string
          description: The end date of the blanket certificate of origin issued to
            all shipments shipped during the blanket period.
        intlDocuments:
          type: array
          description: Details of the documents that are to be generated by Shipper/Uber
            Freight/Carrier.
          items:
            $ref: '#/components/schemas/DocumentDetails'
        partiesToTransaction:
          type: array
          description: "Contact Information related to the parties involved in the\
            \ shipping/purchase of a shipment. Examples include Applicant/Exporter,\
            \ Purchaser, End user, Authorised Agent, etc."
          items:
            $ref: '#/components/schemas/Contact'
      description: intlAttributes
    Freight:
      required:
        - action
        - destinationStopSequence
        - originStopSequence
      type: object
      properties:
        action:
          type: string
          description: 'The action to be taken. Possible values: ADD=new freight,
            UPDATE=update existing freight, CANCEL=cancel/remove existing freight'
          enum:
            - ADD
            - UPDATE
            - CANCEL
        originStopSequence:
          type: integer
          format: int64
        destinationStopSequence:
          type: integer
          format: int64
        orderType:
          type: string
          description: The Order Type. Must be configured in Transplace TMS. Example,
            OUTBOUND, INBOUND, TRANSFER, CPU, RETURN, CUSTOMER RETURN, RETURN TO VENDOR
        businessUnit:
          type: string
          description: The Business Unit. Must be configured in Transplace TMS.
        description:
          type: string
        hot:
          type: string
          description: Values are case-sensitive. Refer to allowed values below.
          enum:
            - "TRUE"
            - "FALSE"
        vendor:
          $ref: '#/components/schemas/Vendor'
        nonProgramVendor:
          type: string
        customerGroupId:
          type: string
        orderCreatedDateTime:
          type: string
          description: Order Created date and time in yyyy-MM-dd HH:mm format
          example: 2020-12-31 23:59
        mustShipByDateTime:
          type: string
          description: Must Ship By date and time in yyyy-MM-dd HH:mm format
          example: 2020-12-31 23:59
        mustArriveByDateTime:
          type: string
          description: Must Arrive By date and time in yyyy-MM-dd HH:mm format
          example: 2020-12-31 23:59
        requestedEarliestPickupDateTime:
          type: string
          description: Requested Earliest Pickup date and time in yyyy-MM-dd HH:mm
            format
          example: 2020-12-31 23:59
        requestedLatestPickupDateTime:
          type: string
          description: Requested Latest Pickup date and time in yyyy-MM-dd HH:mm format
          example: 2020-12-31 23:59
        requestedEarliestDeliveryDateTime:
          type: string
          description: Requested Earliest Delivery date and time in yyyy-MM-dd HH:mm
            format
          example: 2020-12-31 23:59
        requestedLatestDeliveryDateTime:
          type: string
          description: Requested Latest Delivery date and time in yyyy-MM-dd HH:mm
            format
          example: 2020-12-31 23:59
        shippingLength:
          type: number
          format: double
        shippingLengthUOM:
          type: string
          description: 'Shipping Length Unit of Measure. Possible values: CM=Centimeter,
            FT=Feet, IN=Inch, KM=Kilometer, LC=Linear Centimeter, LF=Linear Feet,
            LI=Linear Inch, LM=Linear Meter, M=Meter, MI=Mile, YD=Yard'
          enum:
            - LF
            - KM
            - MI
            - LC
            - LI
            - LM
            - M
            - FT
            - IN
            - YD
            - CM
        shippingWidth:
          type: number
          format: double
        shippingWidthUOM:
          type: string
          description: 'Shipping Width Unit of Measure. Possible values: CM=Centimeter,
            FT=Feet, IN=Inch, KM=Kilometer, LC=Linear Centimeter, LF=Linear Feet,
            LI=Linear Inch, LM=Linear Meter, M=Meter, MI=Mile, YD=Yard'
          enum:
            - LF
            - KM
            - MI
            - LC
            - LI
            - LM
            - M
            - FT
            - IN
            - YD
            - CM
        shippingHeight:
          type: number
          format: double
        shippingHeightUOM:
          type: string
          description: 'Shipping Height Unit of Measure. Possible values: CM=Centimeter,
            FT=Feet, IN=Inch, KM=Kilometer, LC=Linear Centimeter, LF=Linear Feet,
            LI=Linear Inch, LM=Linear Meter, M=Meter, MI=Mile, YD=Yard'
          enum:
            - LF
            - KM
            - MI
            - LC
            - LI
            - LM
            - M
            - FT
            - IN
            - YD
            - CM
        glCode:
          type: string
          description: General Ledger Code. Max length 128.
        foodInspectionRequired:
          type: string
          description: Indicate if food inspection is required. Values are case-sensitive. Refer to allowed values below.
          enum:
            - "TRUE"
            - "FALSE"
        changeReasonCode:
          type: string
          description: "The reason for updating the freight (action=UPDATE). Possible\
            \ values: A1=Missed Delivery, A2=Incorrect Address, A3=Indirect Delivery,\
            \ A4=KDC Not Ready, A5=Unable to Locate, A6=Address Corrected - Delivery\
            \ Attempted, A7=Alternate Carrier Failure Carrier Related, A8=KDC No Appointment\
            \ Available, A9=KDC VAS not ready, AA=Mis-sort, AB=Carrier Capacity, AC=Alternate\
            \ Carrier Failure, AD=Customer Requested Future Delivery, AE=Restricted\
            \ Articles Unacceptable, AF=Accident, AG=Consignee Related, AH=Driver\
            \ Related, AI=Mechanical Breakdown, AJ=Other Carrier Related, AK=Damaged,\
            \ Rewrapped in Hub, AL=Previous Stop, AM=Shipper Related, AN=Holiday -\
            \ Closed, AO=Weather or Natural Disaster Related, AP=Awaiting Export,\
            \ AQ=Recipient Unavailable - Delivery Delayed, AR=Improper International\
            \ Paperwork, AS=Hold Due to Customs Documentation Problems, AT=Unable\
            \ to Contact Recipient for Broker Information, AU=Civil Event Related\
            \ Delay, AV=Exceeds Service Limitations, AW=Past Cut-off Time, AX=Insufficient\
            \ Pick-up Time, AY=Missed Pick-up, AZ=Alternate Carrier Delivered, B1=Consignee\
            \ Closed, B2=Trap for Customer, B4=Held for Payment, B5=Held for Consignee,\
            \ B8=Improper Unloading Facility or Equipment, B9=Receiving Time Restricted,\
            \ BA=Buffered Arrival, BB=Held per Shipper, BC=Missing Documents, BD=Border\
            \ Clearance, BE=Road Conditions, BF=Carrier Keying Error, BG=Other, BH=Insufficient\
            \ Time to Complete Delivery, BI=Cartage Agent, BJ=Customer Wanted Earlier\
            \ Delivery, BK=Prearranged Appointment, BL=Held for Protective Service,\
            \ BM=Flatcar Shortage, BN=Failed to Release Billing, BO=Railroad Failed\
            \ to Meet Schedule, BP=Load Shifted, BQ=Shipment Overweight, BR=Train\
            \ Derailment, BS=Refused by Customer, BT=Returned to Shipper, C1=Waiting\
            \ for Customer Pick-up, C2=Credit Hold, C3=Suspended at Customer Request,\
            \ C4=Customer Vacation, C5=Customer Strike, C6=Waiting Shipping Instructions,\
            \ C7=Waiting for Customer Specified Carrier, C8=Collect on Delivery Required,\
            \ C9=Cash Not Available From Consignee, CA=Customs (Import or Export),\
            \ CB=No Requested Arrival Date Provided by Shipper, CC=No Requested Arrival\
            \ Time Provided by Shipper, CD=Customer Changed, CF=Customer First Available,\
            \ CI=CARP Issue - Edit/Cancel ISA, CX=CARP Technical Issue, CY=24/48 Hour\
            \ Pickup Appt Required, CZ=CARP Issue - ISA Confirmation Not Received,\
            \ D1=Carrier Dispatch Error, D2=Driver Not Available, DD_BD=Border Delay,\
            \ DD_CA=Amazon Cancelled Shipment, DD_CC=Did Not Receive ISA Confirmation,\
            \ DD_CI=CARP Portal Would Not Accept ARN, DD_CP=Capacity, DD_TD=Transit\
            \ Delay, DD_TR=Traffic, DD_TT=Insufficient Transit Times, DD_VD=Vendor\
            \ Caused: Vendor Delay, DD_XF=Traffic Caused By FC, DO=DOT Inspection,\
            \ DP_AM=Vendor Requested Pickup Reschedule, DP_CA=Amazon Cancelled Shipment,\
            \ DP_CT=Capacity Issue, DP_DC=Shipped Via Different Carrier, DP_DI=DSP\
            \ Coordination of ISAs Between FCs, DP_DS=Non Daily Service Area, DP_FR=FC\
            \ Rescheduled Appointment, DP_LD=Vendor Loading Delay, DP_NF=No Freight\
            \ at Pickup, DP_RR=Delay in Receiving Tender, DP_SC=Delay Submitting CARP\
[...]
