openapi: 3.0.0
info:
  title: Wristband
  version: 1.0.0
servers:
  - url: https://workhub.dashboard.wristband.dev
paths:
  /api/auth/login:
    get:
      tags:
        - General
      summary: login
      parameters:
        - name: accept
          in: header
          schema:
            type: string
          example: >-
            text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-GB,en-US;q=0.9,en;q=0.8
        - name: dnt
          in: header
          schema:
            type: integer
          example: '1'
        - name: priority
          in: header
          schema:
            type: string
          example: u=0, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://dashboard-wristband.us.wristband.dev/
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Not(A:Brand";v="8", "Chromium";v="144", "Google Chrome";v="144"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"Windows"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: document
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: navigate
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-site
        - name: sec-fetch-user
          in: header
          schema:
            type: string
          example: '?1'
        - name: upgrade-insecure-requests
          in: header
          schema:
            type: integer
          example: '1'
        - name: user-agent
          in: header
          schema:
            type: string
          example: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36
        - name: Cookie
          in: header
          schema:
            type: string
          example: >-
            _hp5_event_props.1777419944=%7B%7D; _clck=1rz674r%5E2%5Eg39%5E0%5E2225;
            _clsk=glh592%5E1770103834770%5E1%5E1%5En.clarity.ms%2Fcollect;
            crisp-client%2Fsession%2F5d9c651e-6a02-41be-9102-aa164316299e=session_0dc92a78-8014-4473-a729-1c2fce4ebb7d;
            _ga=GA1.1.795788936.1770103833;
            _hp5_meta.1777419944=%7B%22userId%22%3A%221739846396665832%22%2C%22sessionId%22%3A%223796667519898240%22%2C%22sessionProperties%22%3A%7B%22time%22%3A1770103836818%2C%22id%22%3A%223796667519898240%22%2C%22utm%22%3A%7B%22source%22%3A%22%22%2C%22medium%22%3A%22%22%2C%22term%22%3A%22%22%2C%22content%22%3A%22%22%2C%22campaign%22%3A%22%22%7D%2C%22initial_pageview_info%22%3A%7B%22time%22%3A1770103836818%2C%22id%22%3A%223821784984825956%22%2C%22title%22%3A%22Wristband%22%2C%22url%22%3A%7B%22domain%22%3A%22www.wristband.dev%22%2C%22path%22%3A%22%2F%22%2C%22query%22%3A%22%22%2C%22hash%22%3A%22%22%7D%7D%2C%22search_keyword%22%3A%22%22%2C%22referrer%22%3A%22%22%7D%7D;
            _ga_G395TWPSMP=GS2.1.s1770103833$o1$g0$t1770104049$j60$l0$h0; _hp5_let.1777419944=1770106191131
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /home:
    get:
      tags:
        - General
      summary: home
      parameters:
        - name: accept
          in: header
          schema:
            type: string
          example: >-
            text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-GB,en-US;q=0.9,en;q=0.8
        - name: dnt
          in: header
          schema:
            type: integer
          example: '1'
        - name: priority
          in: header
          schema:
            type: string
          example: u=0, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://dashboard-wristband.us.wristband.dev/
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Not(A:Brand";v="8", "Chromium";v="144", "Google Chrome";v="144"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"Windows"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: document
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: navigate
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-site
        - name: sec-fetch-user
          in: header
          schema:
            type: string
          example: '?1'
        - name: upgrade-insecure-requests
          in: header
          schema:
            type: integer
          example: '1'
        - name: user-agent
          in: header
          schema:
            type: string
          example: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36
        - name: Cookie
          in: header
          schema:
            type: string
          example: >-
            _hp5_event_props.1777419944=%7B%7D; _clck=1rz674r%5E2%5Eg39%5E0%5E2225;
            _clsk=glh592%5E1770103834770%5E1%5E1%5En.clarity.ms%2Fcollect;
            crisp-client%2Fsession%2F5d9c651e-6a02-41be-9102-aa164316299e=session_0dc92a78-8014-4473-a729-1c2fce4ebb7d;
            _ga=GA1.1.795788936.1770103833;
            _hp5_meta.1777419944=%7B%22userId%22%3A%221739846396665832%22%2C%22sessionId%22%3A%223796667519898240%22%2C%22sessionProperties%22%3A%7B%22time%22%3A1770103836818%2C%22id%22%3A%223796667519898240%22%2C%22utm%22%3A%7B%22source%22%3A%22%22%2C%22medium%22%3A%22%22%2C%22term%22%3A%22%22%2C%22content%22%3A%22%22%2C%22campaign%22%3A%22%22%7D%2C%22initial_pageview_info%22%3A%7B%22time%22%3A1770103836818%2C%22id%22%3A%223821784984825956%22%2C%22title%22%3A%22Wristband%22%2C%22url%22%3A%7B%22domain%22%3A%22www.wristband.dev%22%2C%22path%22%3A%22%2F%22%2C%22query%22%3A%22%22%2C%22hash%22%3A%22%22%7D%7D%2C%22search_keyword%22%3A%22%22%2C%22referrer%22%3A%22%22%7D%7D;
            _ga_G395TWPSMP=GS2.1.s1770103833$o1$g0$t1770104049$j60$l0$h0; _hp5_let.1777419944=1770106191131;
            session=AQAAAZwijRSzW%2F0qK2Ky82jS3lm9UvhFSYTWQs5MzRmoclFb%2Bkc76NyyL9Mxhm6lY6TJ4OZOuDEDYv9lt87iF5z5TPIOQ0%2BjcEmNs1PEgYY%2BI71bFP9l%2BFzFw76Wm1gnYmyWqgB2r6IeOBvxZ%2Fj0DUALKbGG25Mock7VP%2FXoXsDiunNWE5fiGBtHe60DukEFxNeKz3sDOYjw3b1MVohTkU6fZPkmbKvYBq2BZzAw1bj7Hk4PhOv3qVD0k9ifFhKvS%2F%2Bbn4qY%2BNDGC6CCxeXu%2BbdmMRsuJ6lM7R7HDHPP3WisrlwLdCl%2BIXouswT%2BjeeYTUI8PZIKEMDliiiCHqudbEiwr0NQUh7dHFbeejekB1cNFHPYylcp2IVXRG5NfOGwz%2BXWKz%2FSZ8mHl6w59oo4MtXrr8iHK%2BCe0B4mI8zJLuKGdEoxjD2KMmbNgi8BX8kmGJPdWlb9Z%2FBh9GFW6G%2BgjC0Pp5v5eloBfPrXQkBbe7Yc%2FE1rSmJGYk3Jpy%2FabU0afCXrm1DHxqgpJkbwDMxxCFAhbBJkxOfBkNS2zn7tSb4tZdnH3EndExVKW8LIJNUKNQfw7yfsj9Tfs1zLmXZ5Dlk88ILwWFEKD5DGHRsTaMCT3zsusIfeo2gEUD3m28TeHmhzSuEKz031dB51UptUt8L45G4ftp1528w%2FYmfaP5oZsY9xPTSnVRye1Kdzs96DS20OTqQiWvotOauuHrWU1ZZoKBCkjSoE2t37RLUl3bblkC%2Bt8009Kerw%2BRpYHrCCO%2Blt6ti5W1KtYqPXbcGK8O8Gbrr6j4p6qDkUHs%2FKGuQlbRbdJkWmEJAnOse9HJBaEzTarx2TREi4jqMQovIFDFc3kiMxBFvB7wddQ9kfP0IuYIktIMd1yI2VrU%2BW5RHrl%2BEqV6xMKG50P0tz79Ohbwr4E33xOB6e3SRrnc%2BYSmEGr4ceIb3Vf6qTNzp6bJEyp5XkvcHzLxpzuchjJs5dmhrwnA1XhqQ9wDWa61Zzdt%2BD2Ggol%2F43sss4QEUEvOUifpymGjEvJjILJFcd%2FlXB5wtF361T3WGyd0U3xBw3HrtBSdTo4noyauax6RELII38cxUAqh6km8aeY2%2BVfMux3hyySEGvNjeG2YS2jqX1lhcLz17zTz3oi65elV3CIaPA1%2BrNSW%2B6RTX0fdYJ3fbOJhnEuVM6EHDj%2FZrfEMxbgo8KggxJ%2Fv4uhY2Ow5mGj4w8MWNi9QDRw37BsRDEn3ZloAthCFVTTrKP%2BDN7y2a1%2FpWAOpSYXCCYvpRpT2llukmsIj2AWnFr6y0a8urqqxBnhhuabO%2F%2F832RjMgM1AJwim62DGkBrFUeQKH%2Fkl7LQdG83zh3n9DG%2BXBzLDk20OkJls9iBFUU4HmaYvSuXHSUf5Od%2BEJ1kohTBbrQsMN%2BgKYdJcV3dKgMsBG1Fkpjpn7OeqvXF7TYRSLKlDXI17ASLNag74Z9jiTvpsDF0DOEKCy58y0xGs67pFBiYGTCGztQfT0OpXAzybHZObSikPzAfq5%2FafMRbFAlCDYGdIReZ%2BE04A%2B%2BKIXH9lRY5pJi3ZUk9bt66SyvsV48pwFSefdL6HR9eFM6n9bA1gxepqW6opFe3vvyVLn13qCspJAHUXzInhWJag9wFL%2BvEMqrJtiTZD6dKePHB9brD4MGPddfQI%2FFLUSoLj%2BvLU3Lr8ynpOc%2FHik%2F9yWwRiWdhAtdkaU32mQeZtSAlXayHLF5j1ZdeMq7RPmkmxt%2FR6BSwEYG76rT5GmCplu%2BnWQM9wldX0TwTJWp5clwj2TyaA1glWiI4vDm3%2FnTRHhCgLg%2FnUzJ5ygecKly3nE0JnZqYemRklDXcGX3pDK5e4a405XwCMz%2BboYBRrf0vk6dWmU5UNS%2BOBH8b3UvDCKvBKG9Uj4KEU%2FXWpWo52Bm7C9jcUdFWzJYKeOOvGNnK4endFbLVpp%2FMbGAmn2mfPymiZxKlo5ba0v9%2Fezrd7y5c2JfAMIBr8hOFgnWhhsjPOI4%2B08pImJto83ZnkYHoIq%2BcxNovtbaTU6UjOZpfVvsMHtkaTdOAUdJWGhAQbPV6GpGidPUE7YJf0pMvnNxrmVHRWl0BfVnWjKaMttJ8S8B3wymVWt%2FGKJlwMnUVSVoE87lY3IcajYQtgBeH5nV86kVLGN5xrU4v2VjoXnsx2ASu2779gj%2FVbluHSkxYHGUbmeiTK5%2FdfV4hmYaPd46wU3aalKByPfB9sHj0cVAPZrho1Jm%2BqBt0ZHli%2FgfZpVexz4wS3wCrwRpqHX6M3%2BDUgYmAZtWBu4ab7foTfHsTbNaaBAgCXcUZSgDRB908%2F6dWyF8LjYwuKyphuJwsyG5Eo9dKL%2FAuSDY3GRSuDkbb4RRx430%2B1F0pjI6%2BkU%3D;
            CSRF-TOKEN=16862c5bd77a61b2b483347d47972371ffb492e904426842af25e526554ac073
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/session-data:
    get:
      tags:
        - General
      summary: session-data
      parameters:
        - name: accept
          in: header
          schema:
            type: string
          example: application/json
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-GB,en-US;q=0.9,en;q=0.8
        - name: content-type
          in: header
          schema:
            type: string
          example: application/json
        - name: dnt
          in: header
          schema:
            type: integer
          example: '1'
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://workhub.dashboard.wristband.dev/home
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Not(A:Brand";v="8", "Chromium";v="144", "Google Chrome";v="144"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"Windows"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-origin
        - name: user-agent
          in: header
          schema:
            type: string
          example: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36
        - name: x-csrf-token
          in: header
          schema:
            type: string
          example: 16862c5bd77a61b2b483347d47972371ffb492e904426842af25e526554ac073
        - name: Cookie
          in: header
          schema:
            type: string
          example: >-
            _hp5_event_props.1777419944=%7B%7D; _clck=1rz674r%5E2%5Eg39%5E0%5E2225;
            _clsk=glh592%5E1770103834770%5E1%5E1%5En.clarity.ms%2Fcollect;
            crisp-client%2Fsession%2F5d9c651e-6a02-41be-9102-aa164316299e=session_0dc92a78-8014-4473-a729-1c2fce4ebb7d;
            _ga=GA1.1.795788936.1770103833;
            _hp5_meta.1777419944=%7B%22userId%22%3A%221739846396665832%22%2C%22sessionId%22%3A%223796667519898240%22%2C%22sessionProperties%22%3A%7B%22time%22%3A1770103836818%2C%22id%22%3A%223796667519898240%22%2C%22utm%22%3A%7B%22source%22%3A%22%22%2C%22medium%22%3A%22%22%2C%22term%22%3A%22%22%2C%22content%22%3A%22%22%2C%22campaign%22%3A%22%22%7D%2C%22initial_pageview_info%22%3A%7B%22time%22%3A1770103836818%2C%22id%22%3A%223821784984825956%22%2C%22title%22%3A%22Wristband%22%2C%22url%22%3A%7B%22domain%22%3A%22www.wristband.dev%22%2C%22path%22%3A%22%2F%22%2C%22query%22%3A%22%22%2C%22hash%22%3A%22%22%7D%7D%2C%22search_keyword%22%3A%22%22%2C%22referrer%22%3A%22%22%7D%7D;
            _ga_G395TWPSMP=GS2.1.s1770103833$o1$g0$t1770104049$j60$l0$h0; _hp5_let.1777419944=1770106191131;
            session=AQAAAZwijRSzW%2F0qK2Ky82jS3lm9UvhFSYTWQs5MzRmoclFb%2Bkc76NyyL9Mxhm6lY6TJ4OZOuDEDYv9lt87iF5z5TPIOQ0%2BjcEmNs1PEgYY%2BI71bFP9l%2BFzFw76Wm1gnYmyWqgB2r6IeOBvxZ%2Fj0DUALKbGG25Mock7VP%2FXoXsDiunNWE5fiGBtHe60DukEFxNeKz3sDOYjw3b1MVohTkU6fZPkmbKvYBq2BZzAw1bj7Hk4PhOv3qVD0k9ifFhKvS%2F%2Bbn4qY%2BNDGC6CCxeXu%2BbdmMRsuJ6lM7R7HDHPP3WisrlwLdCl%2BIXouswT%2BjeeYTUI8PZIKEMDliiiCHqudbEiwr0NQUh7dHFbeejekB1cNFHPYylcp2IVXRG5NfOGwz%2BXWKz%2FSZ8mHl6w59oo4MtXrr8iHK%2BCe0B4mI8zJLuKGdEoxjD2KMmbNgi8BX8kmGJPdWlb9Z%2FBh9GFW6G%2BgjC0Pp5v5eloBfPrXQkBbe7Yc%2FE1rSmJGYk3Jpy%2FabU0afCXrm1DHxqgpJkbwDMxxCFAhbBJkxOfBkNS2zn7tSb4tZdnH3EndExVKW8LIJNUKNQfw7yfsj9Tfs1zLmXZ5Dlk88ILwWFEKD5DGHRsTaMCT3zsusIfeo2gEUD3m28TeHmhzSuEKz031dB51UptUt8L45G4ftp1528w%2FYmfaP5oZsY9xPTSnVRye1Kdzs96DS20OTqQiWvotOauuHrWU1ZZoKBCkjSoE2t37RLUl3bblkC%2Bt8009Kerw%2BRpYHrCCO%2Blt6ti5W1KtYqPXbcGK8O8Gbrr6j4p6qDkUHs%2FKGuQlbRbdJkWmEJAnOse9HJBaEzTarx2TREi4jqMQovIFDFc3kiMxBFvB7wddQ9kfP0IuYIktIMd1yI2VrU%2BW5RHrl%2BEqV6xMKG50P0tz79Ohbwr4E33xOB6e3SRrnc%2BYSmEGr4ceIb3Vf6qTNzp6bJEyp5XkvcHzLxpzuchjJs5dmhrwnA1XhqQ9wDWa61Zzdt%2BD2Ggol%2F43sss4QEUEvOUifpymGjEvJjILJFcd%2FlXB5wtF361T3WGyd0U3xBw3HrtBSdTo4noyauax6RELII38cxUAqh6km8aeY2%2BVfMux3hyySEGvNjeG2YS2jqX1lhcLz17zTz3oi65elV3CIaPA1%2BrNSW%2B6RTX0fdYJ3fbOJhnEuVM6EHDj%2FZrfEMxbgo8KggxJ%2Fv4uhY2Ow5mGj4w8MWNi9QDRw37BsRDEn3ZloAthCFVTTrKP%2BDN7y2a1%2FpWAOpSYXCCYvpRpT2llukmsIj2AWnFr6y0a8urqqxBnhhuabO%2F%2F832RjMgM1AJwim62DGkBrFUeQKH%2Fkl7LQdG83zh3n9DG%2BXBzLDk20OkJls9iBFUU4HmaYvSuXHSUf5Od%2BEJ1kohTBbrQsMN%2BgKYdJcV3dKgMsBG1Fkpjpn7OeqvXF7TYRSLKlDXI17ASLNag74Z9jiTvpsDF0DOEKCy58y0xGs67pFBiYGTCGztQfT0OpXAzybHZObSikPzAfq5%2FafMRbFAlCDYGdIReZ%2BE04A%2B%2BKIXH9lRY5pJi3ZUk9bt66SyvsV48pwFSefdL6HR9eFM6n9bA1gxepqW6opFe3vvyVLn13qCspJAHUXzInhWJag9wFL%2BvEMqrJtiTZD6dKePHB9brD4MGPddfQI%2FFLUSoLj%2BvLU3Lr8ynpOc%2FHik%2F9yWwRiWdhAtdkaU32mQeZtSAlXayHLF5j1ZdeMq7RPmkmxt%2FR6BSwEYG76rT5GmCplu%2BnWQM9wldX0TwTJWp5clwj2TyaA1glWiI4vDm3%2FnTRHhCgLg%2FnUzJ5ygecKly3nE0JnZqYemRklDXcGX3pDK5e4a405XwCMz%2BboYBRrf0vk6dWmU5UNS%2BOBH8b3UvDCKvBKG9Uj4KEU%2FXWpWo52Bm7C9jcUdFWzJYKeOOvGNnK4endFbLVpp%2FMbGAmn2mfPymiZxKlo5ba0v9%2Fezrd7y5c2JfAMIBr8hOFgnWhhsjPOI4%2B08pImJto83ZnkYHoIq%2BcxNovtbaTU6UjOZpfVvsMHtkaTdOAUdJWGhAQbPV6GpGidPUE7YJf0pMvnNxrmVHRWl0BfVnWjKaMttJ8S8B3wymVWt%2FGKJlwMnUVSVoE87lY3IcajYQtgBeH5nV86kVLGN5xrU4v2VjoXnsx2ASu2779gj%2FVbluHSkxYHGUbmeiTK5%2FdfV4hmYaPd46wU3aalKByPfB9sHj0cVAPZrho1Jm%2BqBt0ZHli%2FgfZpVexz4wS3wCrwRpqHX6M3%2BDUgYmAZtWBu4ab7foTfHsTbNaaBAgCXcUZSgDRB908%2F6dWyF8LjYwuKyphuJwsyG5Eo9dKL%2FAuSDY3GRSuDkbb4RRx430%2B1F0pjI6%2BkU%3D;
            CSRF-TOKEN=16862c5bd77a61b2b483347d47972371ffb492e904426842af25e526554ac073
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/applications:
    post:
      tags:
        - General
      summary: applicationsPost
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                workspaceId: hkkvgouwjrf6tc3nuysncuqjr4
                domainName: democzURd9xZOCuDRr0t
                displayName: ASP.NET (C#) backend, React frontend Demo
                loginUrl: http://localhost:6001/api/auth/login
                logoutUrls:
                  - http://localhost:6001
                allowedOrigins:
                  - http://localhost:6001
                environmentType: DEVELOPMENT
                isMultiTenant: true
                tenantClassifier: COMPANY
                signupEnabled: true
            example:
              workspaceId: hkkvgouwjrf6tc3nuysncuqjr4
              domainName: democzURd9xZOCuDRr0t
              displayName: ASP.NET (C#) backend, React frontend Demo
              loginUrl: http://localhost:6001/api/auth/login
              logoutUrls:
                - http://localhost:6001
              allowedOrigins:
                - http://localhost:6001
              environmentType: DEVELOPMENT
              isMultiTenant: true
              tenantClassifier: COMPANY
              signupEnabled: true
      parameters:
        - name: accept
          in: header
          schema:
            type: string
          example: application/json
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-GB,en-US;q=0.9,en;q=0.8
        - name: content-type
          in: header
          schema:
            type: string
          example: application/json
        - name: dnt
          in: header
          schema:
            type: integer
          example: '1'
        - name: origin
          in: header
          schema:
            type: string
          example: https://workhub.dashboard.wristband.dev
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://workhub.dashboard.wristband.dev/home
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Not(A:Brand";v="8", "Chromium";v="144", "Google Chrome";v="144"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"Windows"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-origin
        - name: user-agent
          in: header
          schema:
            type: string
          example: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36
        - name: x-csrf-token
          in: header
          schema:
            type: string
          example: 4928daf3a2afffd7b77aacc284fb3edff67d64d17fa9b1f10bcd88cccca1fca8
        - name: Cookie
          in: header
          schema:
            type: string
          example: >-
            _hp5_event_props.1777419944=%7B%7D; _clck=1rz674r%5E2%5Eg39%5E0%5E2225;
            _clsk=glh592%5E1770103834770%5E1%5E1%5En.clarity.ms%2Fcollect;
            crisp-client%2Fsession%2F5d9c651e-6a02-41be-9102-aa164316299e=session_0dc92a78-8014-4473-a729-1c2fce4ebb7d;
            _ga=GA1.1.795788936.1770103833; _ga_G395TWPSMP=GS2.1.s1770103833$o1$g0$t1770104049$j60$l0$h0;
            CSRF-TOKEN=4928daf3a2afffd7b77aacc284fb3edff67d64d17fa9b1f10bcd88cccca1fca8;
            _hp5_meta.1777419944=%7B%22userId%22%3A%224595148980499723%22%2C%22sessionId%22%3A%227893512723086369%22%2C%22sessionProperties%22%3A%7B%22id%22%3A%227893512723086369%22%2C%22time%22%3A1770125793151%2C%22referrer%22%3A%22https%3A%2F%2Fdocs.wristband.dev%2Fdocs%2Fquick-start-choose-your-framework%22%2C%22utm%22%3A%7B%22source%22%3A%22%22%2C%22medium%22%3A%22%22%2C%22term%22%3A%22%22%2C%22content%22%3A%22%22%2C%22campaign%22%3A%22%22%7D%2C%22initial_pageview_info%22%3A%7B%22time%22%3A1770125793151%2C%22id%22%3A%22%22%2C%22url%22%3A%7B%22domain%22%3A%22docs.wristband.dev%22%2C%22path%22%3A%22%2Fdocs%2Faspnet-quick-start-guide%22%2C%22query%22%3A%22%22%2C%22hash%22%3A%22%22%7D%7D%7D%2C%22identity%22%3A%22workhubconnect77%40gmail.com%22%7D;
            session=AQAAAZwju1D7QnqAFAo3gjGaECoY6s9F6%2FRr7sjlgnZjuoHf1ji080yeDDdEhfDwpe1OEpfwhdLsAjWo4EwzBGYxiA7qcD1C4zumw%2FOHxSHoyd55H9SliUH9xOfW5iotHvwfIYVBGsbQ2ZMoGRLsWLmy%2BXWe1ecxbcjsPLqE34EFc2CPvLCcKxPTCg5D05sbPlEv7SFtdE4KzAeiMrOLprpkTzeph2%2B%2BMU0MxBnXvtafsctVv84YOqIoKZM7mwEMUZ3OysaV0CxD9%2BxvcPA7jReL%2BUSmMJeVY7%2FWlKl%2Fp1QXLhcA1G5uvZ8qv4Y29akllKVVzSmvIFPklse%2FQj4bJbmZ0Lhd00ob3TLxEM8p48kVibaty1x%2Fbbmr7dGutfDpFSVlDGtcm0atunsAy7rkQm%2BN9tDMFRPacHTF7FkZhf4dzVPXhLHCHP7%2BPkn7CjNlyjAnriFKEpajBua7UaD5cHykUUQMkuPL70hX%2BOIu1Czh6JNnX6I%2FfEYPTO4moJwjTqtY3vZUan3tZvxRPZD%2FP%2FW46wQfh%2Fobbj%2BarXMvmc40kbk6emRJZDX4QgPSOzCvfTr6DfmioJwC6J4YL9dYsrG0VBXhHHa97EczW%2BCf5BtXOPBTHl%2FKYk25crPMUijeK%2FAURZD4rBhOssihy0N6DBqKz1wfYEZiHNLdHrfy9Y28oCDrbdQjG%2B2nTeV%2B0RvY3UVpVLvT6xYUovKctdTKGDh5EvsEmqYKDbPebWgbxhEm%2BInapC1Ua1I59ElEBRDAhuTLbIdyjmVWUjGUTCN8%2BjtDsNuzbbGnoa3ncTtqdExXrRhKDKMHQEQ5qSvjfnItXJLREX1TjoaFw1BJP5CiGVZsLsuJJg%2BFlsC%2F0Dn8eTOgBMAcvBnNxg7puWw%2BjmTKAx5zMv4RbcaYBE2sLT1uh9BkmN8jzjZWbHrF9C%2Bz9Pds1Ma9R0lQeWGGRhloR0Hoilbz%2BbOmZFVOWI4BfheW9Ue4yKfiVudXecyjIiR8zF0iYKtbl7Y%2FnwW%2BrRzPyVLflhQHKQ%2FEUTwoGyfAER%2BpnLrSUGoSKyPhpNrT4TJewGgasHcMfvMZo5rtdmZWA5c%2FwfsaHcjw5aiA53TZTyueIKdLhg7vCQBYzl6NPwVpEt3FhrT95T5Z6YxD%2BuzG6nlzctYStAiu9UY91mxr2UaVtDkyuLNvUfQFJd9t8SiJM2YNHB5RImd1Vj%2F8IPz777ChBLMoLUTi7%2By1BLzCWBKdy1T7nq%2BzXUvvB3MyW4%2FsKX%2Fv7y15wV%2BTIDj7EL0u2cxHLfFc50HR44FJqi7x4D3zvx5RloXiyoW20AUzmmJ3QVZqc3EmSNrFmDdK7qoX9PNvbH4cnvsKcPR6q3fMq%2FkRszI%2Biog0R12VFUilSB5M2UR7CSQiCRfWfqF1nMTCghzMjb6v%2FWWZlrh5peVpLzcjn5IR9PJeRZdn1WiECKbYqSb4SBsWEdTNo6OxDRVsFXWJ3OXcMlIEbwHSbSBQk8yWZ3yfUxyV41Lq5Z6vKVMjdG6kiBKjut6ZMJtv0X0fDJLyJtLkrJciaI5iQ4nhokk4jBbg3u7HPdh3ecb969aoi%2BhQZjzQ23e3mwoSULR3yD1dbcjwbz4p24yXb5yObYu1Dwvc4lswlrcOh6QCeqHhyLNXXJpdiGng84oM3wuwjhORf1Z5QhpugbNkEJoL86mJ6dC1oche5r6O%2BLn7rgMnjTL2qStQSFtS%2BbdjZqcNZqzEEqLOVzJMg1i7m1vqHt09deKtkof7P7SmdK5TC9OuILkS0lghyCD4KtXUmipe%2B%2FSNVTXWEs2qf0m5hclTlidBokPHmeEWkLZ2MM0BKp4VOrMGcn99UCUHxP18sA1HontlWYqfR93M9%2Ff4KkUKcnF7OglrmZmE4ImOSy2mbNwYmBOfMn%2BFaR43m3G%2FxE5Nx5rRfN%2BPXZrzEb5YIHXG7Y6sgp7rAPx%2FzXkcDpAyVF1UqqRspSk3n6x7KT00dmbe9oAZXkysQ0PHycy%2BBBp%2BgwHom9l0SO%2FJAtQF6stxu9UMD7%2BzAvv7MCbl16nKU8N7SE%2FCoTEbIyfA1EjtTSgc297dIdrdeOOvF818DMllq2dEbLRI8CWle3R9Msor1TfQSz2dHoiiW4yfujLxxvmbiPAl%2BdeFtlClJjpuqQHBjaLhqMzejvcNxWALOOd%2BLvGOLLXqrnRKur2qYPvVYqT%2ByIqOJKIYp50fvRqCkVx%2FK1jyys%2FmHgUMPksNagtPr3JnLoMU%2BfdTBbQRCJVOkJDxbTntV140LTPg88%2BK47R4Dub%2B6JaZWEHVtJvA8%2BCxpA8AvYd8%2BwZlYAH9xCWPZTZdbmh6Tmzw0Cf8N7IfDWHSsFMwvVJBg%2FNlzg%3D%3D;
            _hp2_ses_props.1777419944=%7B%22r%22%3A%22https%3A%2F%2Fdocs.wristband.dev%2Fdocs%2Ffrequently-asked-questions-faq%22%2C%22ts%22%3A1770126020140%2C%22d%22%3A%22docs.wristband.dev%22%2C%22h%22%3A%22%2Freference%2Fcreateuserv1%22%7D;
            _hp2_id.1777419944=%7B%22userId%22%3A%223551247669436664%22%2C%22pageviewId%22%3A%228817729317968442%22%2C%22sessionId%22%3A%225703468499937817%22%2C%22identity%22%3Anull%2C%22trackerVersion%22%3A%224.0%22%7D;
            _hp5_let.1777419944=1770126237773
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/profile-settings-data/wwh4i2hsv5eynglrdhl43omrfy:
    get:
      tags:
        - General
      summary: profile-settings-data
      parameters:
        - name: accept
          in: header
          schema:
            type: string
          example: application/json
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-GB,en-US;q=0.9,en;q=0.8
        - name: dnt
          in: header
          schema:
            type: integer
          example: '1'
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://workhub.dashboard.wristband.dev/settings/profile
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Not(A:Brand";v="8", "Chromium";v="144", "Google Chrome";v="144"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"Windows"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-origin
        - name: user-agent
          in: header
          schema:
            type: string
          example: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36
        - name: x-csrf-token
          in: header
          schema:
            type: string
          example: e903b77dbc0344d92538f7a51abfc9c4be0b595f270b29ca8a8d5563511ade85
        - name: Cookie
          in: header
          schema:
            type: string
          example: >-
            _hp5_event_props.1777419944=%7B%7D; _clck=1rz674r%5E2%5Eg39%5E0%5E2225;
            crisp-client%2Fsession%2F5d9c651e-6a02-41be-9102-aa164316299e=session_0dc92a78-8014-4473-a729-1c2fce4ebb7d;
            _ga=GA1.1.795788936.1770103833; _ga_G395TWPSMP=GS2.1.s1770103833$o1$g0$t1770104049$j60$l0$h0;
            _hp5_meta.1777419944=%7B%22userId%22%3A%228240551021397845%22%2C%22sessionId%22%3A%225645348011799256%22%2C%22sessionProperties%22%3A%7B%22id%22%3A%225645348011799256%22%2C%22time%22%3A1770358001987%2C%22referrer%22%3A%22https%3A%2F%2Fworkhub.dashboard.wristband.dev%2F%22%2C%22utm%22%3A%7B%22source%22%3A%22%22%2C%22medium%22%3A%22%22%2C%22term%22%3A%22%22%2C%22content%22%3A%22%22%2C%22campaign%22%3A%22%22%7D%2C%22initial_pageview_info%22%3A%7B%22time%22%3A1770358001987%2C%22id%22%3A%22%22%2C%22url%22%3A%7B%22domain%22%3A%22docs.wristband.dev%22%2C%22path%22%3A%22%2Fdocs%2Fquick-start-create-a-wristband-application%22%2C%22query%22%3A%22%22%2C%22hash%22%3A%22%22%7D%7D%7D%2C%22identity%22%3A%22workhubconnect77%40gmail.com%22%7D;
            CSRF-TOKEN=e903b77dbc0344d92538f7a51abfc9c4be0b595f270b29ca8a8d5563511ade85;
            session=AQAAAZwxldmkzRasSuZmeQGgDsyK6glbR5kkuwpurcEUxQn9poEFQKdfoQgmdNQpU21YMzSteA7lBTqxrBt6lRU5QXbngBaa8x0DeMuTSCVC2kq%2BNLyE%2F0WnI0JKnE4DkggM3myBV9fbdZJ1ZnASNxWCJm6kcbuFH9helnxu5AGQ5nQADpQ2soaVrQ33IiopLjAMGn8fHmkE8dPGMrFIFgozPijFBrwCWA7RWH9h81afQ5AZqZap5s8Vc8wH9whiY6iFMvvPpOqn%2Bcf6LMhQ4bda9Jj8GTW2qrKAbzXZDNuC32%2B8OQDqDePP4AMujouq5GBOyjZDtNEqIOQzT8bkj8u%2FG09GkGpHBh6c89mfhvnnlYyLZV1g%2Byz5AzQdxb0wLhGFuZkMo1ndIUHar1%2FCKtz0UpMfPmxPvdHEK9u9jp%2FaUKYk61Xx5zfeZZ6S8CnL3PBlPwbYq2%2FnjijVooIUkHbOzBop%2FPymOBeFqXoo35t0tFFOm2zm53QHU7W4U4%2Be%2Fnn9rdEN7SYjyu96qpbSHrgh2rVmXPDgr2JgyxSlQslywaftH6eSLNtrqMuAyvmwB2pel02%2FQJv75cJpSQBOqZcvEVDGTzZEolbcT4L1OVO3O%2FKs2voETHzv2EFa%2FFBMJTPvdjFlNJch%2FvYjMUjvzh21aHdlMAN1fkPBh5cK3I3xiBk6PZEBm%2BZehZnmGJT2QaQkaSZ5sjgdwMk6%2Fy1BIw69%2BU6cYw%2BMJn%2FI9lLGGJ1W0cMvoFTTOPbgi90VCsC6Tmg8hDtADnL5zbvQb6Rkzqe7GbOREQ1f19EBT%2BPorkN6NFU9wQAqrDhBci%2BEzigdy%2FGJ8sKzIPvbXdwGX%2FW75dZncGQeso2JG7x3MG%2BX3StAm6aFwgjmXf%2FqRoAujxBNc9BT7sw2Vz7hpw0s8qwSe36rKwmRk6dg3QTkfFIFTY%2FnrXVKpbJJvgJ9VLaBaMaFpn77TW9zcYrP8HjY7NKP0OhjSOiPyLfDq5duA8Lh9bZDcCte75Bs15mA6XJAd18h2s%2B1s2%2FBjTnjUOPgJWacD7XJxd5KBIu%2BRVEfxeTj0XZPwAXWqgq67FyRcRVtmYE37tfK2aPrLZm%2BIVP9Zf%2FsjbLfH8j%2FuVjJL6gwZ1byoIDemFhAvFST6BHpgqI%2BSuTUNr3nRSxlrX4%2BB%2BR4L%2FdZyXSsw%2BFjYpVtn235VHAnTTDMwrjWoE%2BMj8qBakJ9EnDmDM6hdk86yB9YuPkbiGhQTCe3TZLvut5d3E%2Fc7n2CUdFaDGffm5bUmmu4vhSLS%2FSv0y1ECcbHi%2BABOp3JnNTHflFMml1nkmlOuJ4BUOMlrIiOJl2KKGQUuAi2IY5S09wLrJ1CTcSRHOHDRqCc5H24J1mhzAAbd4%2BImeO4VZeZI6ves%2F8iE5ejE1%2Fgovg3ubag404tcYqLZpgdBd2mTRUGzJxmArFSty%2FbYdkaRSLzlip1VC5xPvdDw6cPkCh1SkFEAOtP97%2Bg1UJJf4SXqF1c7xqUrCW1%2B29GD44kpnWphiglbfxBABYg5d3z%2BRvTxtqCCdIVr8Ne9AYab7luuqrSTmHxgUDJVABAcaTb9s%2FD5wLy8g3jfGQdSN4LHk9U46%2B1F4n1dYayrqou2hpLSeFU6HuATKM1eq7EH5lMXKIqkhaPOenguv7WIv436uHkh1%2BQZiwEJx%2Bnx2Vv3ManVoRYFS2pzKsIkAP6C5AkFrveKhcGUqsZkFU2gIVDTIuzfBkgmn8htAqYk3wIjRk%2Fp%2BRMbOAsbaKGSnSSZSl6IIATA1IiNtkDqFYD4YcOueeozeoTe3d3h4HoFUagemuHHZpYmgTKxPQSNwSJwe6Kkp4YpGKUZ2oKOQRkFf2yrAV12Rba%2Buf75g0gne4Y%2B10YZwM4j5N4IbQdgvE1YaRJAnX%2B66WD0D9vnVOQ4D6vlXSK8v2j7Pvl77uS%2BWg5%2FIwG6FAduWXxmTL897TauSGZA4s1DNtT6ecndkbbs6khA0whiVpIhxu7ivq6x%2BHHtjFZMx62aID%2FuWvJg9Czp2mGvxqVsgj1HoZ0oemLrmxT0pMPcit4%2BGlLGsI9o46KdglJTGwYYVVk3V6PY6Tj%2FrSNDdOGh%2BA9BdZ%2FBcHrxsZ%2FgC3KUDBmciRVrtU4rMd7IynvCRGVaudMHIT8sLF3sn%2BTWHn8DFM%2BN6pgJNTr3i0%2FQ94jN63BflECMjOf9cXH2UMGv8Z9ZG8bJuRLK6w3Rb8HwmgSBrESfvIlFy4zRXr7pHLP5FHBiKHnGrNwPJTuM4Jorw%2FshzNeFdR41ZdLbxM8FxA0A2%2FozLLzuIlOL7VczQPZRiUiiF6vvhVTUjK7revoSemHoK5mHFQ5pJgu8BjTLR8qNrBinej%2B4g%3D%3D;
            _hp5_let.1777419944=1770358569946
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/users/wwh4i2hsv5eynglrdhl43omrfy:
    patch:
      tags:
        - General
      summary: usersPatch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                givenName: Workhub
                middleName: ''
                familyName: support
                honorificPrefix: Mr
                honorificSuffix: Jr
                nickname: ''
                phoneNumber: ''
            example:
              givenName: Workhub
              middleName: ''
              familyName: support
              honorificPrefix: Mr
              honorificSuffix: Jr
              nickname: ''
              phoneNumber: ''
      parameters:
        - name: accept
          in: header
          schema:
            type: string
          example: application/json
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-GB,en-US;q=0.9,en;q=0.8
        - name: content-type
          in: header
          schema:
            type: string
          example: application/json
        - name: dnt
          in: header
          schema:
            type: integer
          example: '1'
        - name: origin
          in: header
          schema:
            type: string
          example: https://workhub.dashboard.wristband.dev
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://workhub.dashboard.wristband.dev/settings/profile
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Not(A:Brand";v="8", "Chromium";v="144", "Google Chrome";v="144"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"Windows"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-origin
        - name: user-agent
          in: header
          schema:
            type: string
          example: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36
        - name: x-csrf-token
          in: header
          schema:
            type: string
          example: e903b77dbc0344d92538f7a51abfc9c4be0b595f270b29ca8a8d5563511ade85
        - name: Cookie
          in: header
          schema:
            type: string
          example: >-
            _hp5_event_props.1777419944=%7B%7D; _clck=1rz674r%5E2%5Eg39%5E0%5E2225;
            crisp-client%2Fsession%2F5d9c651e-6a02-41be-9102-aa164316299e=session_0dc92a78-8014-4473-a729-1c2fce4ebb7d;
            _ga=GA1.1.795788936.1770103833; _ga_G395TWPSMP=GS2.1.s1770103833$o1$g0$t1770104049$j60$l0$h0;
            _hp5_meta.1777419944=%7B%22userId%22%3A%228240551021397845%22%2C%22sessionId%22%3A%225645348011799256%22%2C%22sessionProperties%22%3A%7B%22id%22%3A%225645348011799256%22%2C%22time%22%3A1770358001987%2C%22referrer%22%3A%22https%3A%2F%2Fworkhub.dashboard.wristband.dev%2F%22%2C%22utm%22%3A%7B%22source%22%3A%22%22%2C%22medium%22%3A%22%22%2C%22term%22%3A%22%22%2C%22content%22%3A%22%22%2C%22campaign%22%3A%22%22%7D%2C%22initial_pageview_info%22%3A%7B%22time%22%3A1770358001987%2C%22id%22%3A%22%22%2C%22url%22%3A%7B%22domain%22%3A%22docs.wristband.dev%22%2C%22path%22%3A%22%2Fdocs%2Fquick-start-create-a-wristband-application%22%2C%22query%22%3A%22%22%2C%22hash%22%3A%22%22%7D%7D%7D%2C%22identity%22%3A%22workhubconnect77%40gmail.com%22%7D;
            CSRF-TOKEN=e903b77dbc0344d92538f7a51abfc9c4be0b595f270b29ca8a8d5563511ade85;
            session=AQAAAZwxmAKY4PvQMDSDz7hOVLnHFLkjXKZGnFHh0XxOQyMKeZ5S2NljGaTUDlWUEjeXEU8Cmu0D07KjltZGbK9sgJYbiP%2BLLzVCu2MiZ9AmpW6m0z6wZp6oTk3esRIgpOztqXJpB0CrAmPpilacGtuhXpB1HWY0knhBy3QHZoPlYaIA5LVW0F%2BDl%2BdxcN0usQBxHgkBZ2Y3H2peZeGbwKLpnkM6UnuvvE29L7hEpOdnMr1Tpi%2BprE%2FH8rTSXap9x5Ld1r4dJyoDhxSxJYX0inljpOopJI3E%2FTJS3vFRDERf5yIFie0knkk45O1tq8f0lUzlemdN%2Fz4moJjnDQr6LO0ToEar9EbAyQ2PB0ZHwscAKWwHy8BFeRRA9lCGTZVNkgJtJ2AF4%2B18xHKWwGUi94fIB%2BC94pt%2BNaVh4iMCx4EnnlU6Ly9nxy5juio0n1tGNX7YHf794W2PNga8JISsodoIwNTUE8nw21K4xMKpRCqIWcm7XL6xZnoBtQU0UEKt8SreX0B4mSSrnVHb0VLCwuKGROSDeeN%2FCgJ5UPY8n9B1WFuS11G4TElo%2BG5Ac8Pf7Z4Q7a7tIA4BVjUkXtYhpDfvjH7PmcEwNHq%2B3LIFogckr%2FjDxnrqaghv87difu8xPNLS6yyC96OENduS%2FnjeYIgpLCbNoWQ1eFjGURaxrZ4g0NdOnQq0c66jPEPtL5VA9e83%2BWegxOrMWUqqEGtQrCRZFFuj6BCzcC8qffgednvEU9dJ3oSNZ6YTp30IKa47%2FAvM%2BMjWy9vfF3xVftg5VtU2FVySWdFEranFKw9jeuEK59p5%2Bde%2B3ppErfGzrvG3feO01QXT2UuU%2BKfiDJX58PBNnQe25jt1AlOwSjNhyC3qvMNsiEPARzWt4oVspfRV2x1eihl01VzweeK%2F71r6i0lVcxsgAAvkYCnSu115RiDmCuazUoGl7qFOVy50esGUwoDPY2tZAyq54spobf9enL6AVfWHiQPLnYrBvsa6HKA%2B0L79x4svPvdRkSpnedaU%2FHMAxE2uYzKYvCeOUhytlgud54WVPBdoTGI3D4cWtg4p79IB91jExq%2B03qnqvqtIpR%2BKTpKZqXFm4D3sb9YGcPNIv0Qp5ff5R0i4XrG5KgnEP%2BsNQBCA8Ck8aiGFZEtPEhWWFOXlAR%2B1KxV8%2FnjjhcY%2FNe6hMAxQqlYUi0lpWLVHwO%2FMkVXyzzrySl6iMAAU7DvCJYL7HnPqWoNWAPrM54Q376XOg%2FEkYbxitNaZ2qZnVot%2F06GfNWCBJr1eL32ocARdsqbibCMezracAA%2BtpvUMoYdXAYfPx2x1iX3a8kErhncBMwBBGd1BbYh9kQzTuJiabs%2FgeDcP%2Bm3Zyp3VRxjcTbVaCxCJg8e7vp3X8KLYC%2FmYlVzqZS51btLg4AAGLhjD7aAKpHoWlW3%2F20eUG%2FEcjQEYt9VrJ9SxsNpcEUK8KkpUpFkhvSdN1KR3WczmcGCO0huuB8%2FUwGEV9lDi0WGd3jsv2SIMfD61p%2F8SCCZynAlNrd%2FkxSLRY9t8QMVphkbSP4YG1Q1FHH%2B5nwxhCnCHzPGujrXZg1COKGRuKi%2FvY5YG%2BfOgRLoEkCQ%2FahZ1nbMOwn0t0RO7JQPW5sOB4%2FhR%2FDjSeLzp2Q5lya%2F5bbW1wNuqFj1pTbN%2FEgPY5PjYZEemdlnX9REsu7xDzuzriG7cBTA1jjO2xPI7N9bgfpe9CKt0zydUtbIBAvVYiKUaBbb6YDN2onmmapFpS3NOwpcbfcro0hJXF33QgMpJ8Fb8mkMPl8R43vuOIUn6c6dsFttCctH4e2GFmsZEw7mWpLvrJQ1gdOUD3hhcz683061Ju%2FJeuVFPXSii%2Bkru79YJ%2FDyLcIiyn7Sokt0MpGSYKghyVNCPnYPWsGdn1vWGrMuXbQ0c8XGMXWnnaHWxCBKoOthQzXCYCqQ1ZiNKZ96FoJ5ybzu8Gy2q0A5RxCwhds%2BSt72LzEaUomTzfZu453Gg58PnRHxTGhGYBAP4q9ZJA9KIOuuKa14MK8n43nn652n72JnEkLYzH4K2SxLDnRYdeCAqIHfe%2FLVyk9z7TzftM35MAKDmiolVZEbwoCtRBFq8teH6KRCIdaWwZnVN5OxjU1sHtwr670EyoGYjcrXwCkC43gZXk5MVA5EEu021qMl7LYmnvbKIO932KZTdBtLFJFB4iJmtI%2FAXduLZz0S%2Bhoe59vyytTDpVQI9FvpzEbbTzcpxITC1PpSlgSYnjABUotBatH%2FtImOUoUT7QXhcibp48tT23jbyUwGjLpqeQxOFB%2FpTS6Fgm%2FmoyMWmgq90tr9LoshbEZtqZKXgOVAjOehbqiZQC5QONWCm4r1ViyZO66UuIQ%3D%3D;
            _hp5_let.1777419944=1770358623476
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/tenants/il7ntkwdwndoxclxjs3sq6d2uq:
    patch:
      tags:
        - General
      summary: tenantsPatch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                displayName: Workhub
                description: ''
                logoUrl: ''
            example:
              displayName: Workhub
              description: ''
              logoUrl: ''
      parameters:
        - name: accept
          in: header
          schema:
            type: string
          example: application/json
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-GB,en-US;q=0.9,en;q=0.8
        - name: content-type
          in: header
          schema:
            type: string
          example: application/json
        - name: dnt
          in: header
          schema:
            type: integer
          example: '1'
        - name: origin
          in: header
          schema:
            type: string
          example: https://workhub.dashboard.wristband.dev
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://workhub.dashboard.wristband.dev/settings/tenant/account
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Not(A:Brand";v="8", "Chromium";v="144", "Google Chrome";v="144"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"Windows"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-origin
        - name: user-agent
          in: header
          schema:
            type: string
          example: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36
        - name: x-csrf-token
          in: header
          schema:
            type: string
          example: e903b77dbc0344d92538f7a51abfc9c4be0b595f270b29ca8a8d5563511ade85
        - name: Cookie
          in: header
          schema:
            type: string
          example: >-
            _hp5_event_props.1777419944=%7B%7D; _clck=1rz674r%5E2%5Eg39%5E0%5E2225;
            crisp-client%2Fsession%2F5d9c651e-6a02-41be-9102-aa164316299e=session_0dc92a78-8014-4473-a729-1c2fce4ebb7d;
            _ga=GA1.1.795788936.1770103833; _ga_G395TWPSMP=GS2.1.s1770103833$o1$g0$t1770104049$j60$l0$h0;
            _hp5_meta.1777419944=%7B%22userId%22%3A%228240551021397845%22%2C%22sessionId%22%3A%225645348011799256%22%2C%22sessionProperties%22%3A%7B%22id%22%3A%225645348011799256%22%2C%22time%22%3A1770358001987%2C%22referrer%22%3A%22https%3A%2F%2Fworkhub.dashboard.wristband.dev%2F%22%2C%22utm%22%3A%7B%22source%22%3A%22%22%2C%22medium%22%3A%22%22%2C%22term%22%3A%22%22%2C%22content%22%3A%22%22%2C%22campaign%22%3A%22%22%7D%2C%22initial_pageview_info%22%3A%7B%22time%22%3A1770358001987%2C%22id%22%3A%22%22%2C%22url%22%3A%7B%22domain%22%3A%22docs.wristband.dev%22%2C%22path%22%3A%22%2Fdocs%2Fquick-start-create-a-wristband-application%22%2C%22query%22%3A%22%22%2C%22hash%22%3A%22%22%7D%7D%7D%2C%22identity%22%3A%22workhubconnect77%40gmail.com%22%7D;
            CSRF-TOKEN=e903b77dbc0344d92538f7a51abfc9c4be0b595f270b29ca8a8d5563511ade85;
            session=AQAAAZwxmObZf7Oh7QHerctwjEQYEepazD9QWWSG32OWxJFVHSDWvWpgBhrXaqBpOwTs0rsr5ST7%2FT8pn9Zb7axf0rNjrqOuOLZNxbV7FQcL1JkEc8xTny8Vh3c1ZgmTucJUqx2gPqiNoO2%2BWgcQF5GULACEe1QX94E7DckvfAVq3ED6IKc8prJZ7%2BF9vSau9lY4sPvljy%2BhorZaLFzoGOf5dN5YH6Ckk%2FdZfvdIGTut49ghGfMUhW3uNCf618TtSLlcd3NaskAltyqAh6RDBFAvuVBdiSYBX0hrDKB1dRU3PcesIQRfT312jQKU7t5%2Fy4PFuhW7mxzAcwGXHa6FCGmoQjm%2FmtiL14JSDt1GPgWHnZwRReYRv5Wc%2B9SyC3FjDy1Q0OxrcBDSPJO1cQmLprf%2FcZ9btTBUZ1ZKiywV5L8vBPgjAZAGx4NjaRZSaNOo%2FqJ446TQXehuFmi3uVztHieKMfFm9DBRN%2FBa1cSPODbJTmiHklfBkgutuifwGkVWKb92O2r5XiHqvyLZorIv8wGBKc2DOPOfWDa0fpQiGlgk7D%2F%2B3H7Z8azqarlepDhqlQgz%2BvOxJRVMms4IVm77stTPliJLrgc9LwW05r3J3rK0TgQQJLpj2RLYy7cfYqOQoTCab0AEHRHfYBhUxDE3RyByUNd9Lg9lBgdjVTly99fYETPcqFCVAudpvWBDcuBDOMBDLShy%2FvFJSfxyZcrxcmFFtgvyaVub%2BscauPYlIB%2FyQoX564kbKfvCC24SW%2FCGDh12CHhqBmaWmKsjEnWLBJY1DimJ21iSbNf6r0b324zIEpeVHMEMMirtlluDsUohTyI12nRAfkx1f4R6lE8jYIegradoX%2FFCCOIV9t3yLitBykA0MRZzJlG3XSVKqkcRE0dI8V%2BFnU96Ze0tyDDiUC3klmh5voRtXcsgyosF%2Br4W2sbVfytyZtIky4tfsCr%2Fe%2BjuemDX0lhQFPXbszWN%2F6A%2F2IN6VJ1sY2jd%2B5C%2F40QVzfCj3hDIFT7EQ2llFAcCLjHjSBAWULzRfi3yh8MGcRHGo65LPkYoLR224XwwdckWYTCPGYZggtxS8O7jD4eqOwkBPC%2BUMClr3sWTwRZjiIIbhqHoAZ1fBpRHlsSvFfwquMZQkGzdUErAxlrCLckiDHRTGYUkZlCTzGAKWrLbFEvCm3vNvWou%2Fg60UqV51SAdWJOGeRnIDbbxx5RAjWeVl%2FtEEHHmwHn4IUakFOBdtGjnBKnrSpMHQjuOqNytsnuMLnAk36y66LRLnPDoQ%2BoGlstX4XAkjS7TC54oTq7PQXrG0jbEsN87ovnF3AYbxP1IZMAFe3psA4hnYhiRYw23SlnObVb7WlBECRwHvSxSjT95NgHPS%2B3OMX1mB%2FQxvnSDkE3oDPMWiLbcblMJH6nYm6BpUYRjRZuiBPm25eKsNRh4Fb44BqT838yu9LVABP0CA8bO%2BazE%2BGW8v0%2F%2FyZq%2FTe%2F%2FNR7bknvVjHgRn87%2FJZ%2B1vXupVhIzILf2FY%2FCne58Gk6Jm0GQYBtIgrD%2FAOtsW%2BEDYesFmaXqH718p7gpfJ8dZZU3ggsosLXAdvP%2BZAAmpAgsBNGXzNpGlRkK%2FX1yUqPFCHTcYAwVRi3zfXpUir6bauFia%2FUB4SN9gWRDjldnbi%2F%2BCw8y2ob%2BhIXkTD9bNBJUWtVTsnwOe%2BJ5TMtrAjhDnkOjgMI7OwD4nzvcyIlLRKEi5AduP36ecL8El5RUhdd%2BRyytkaUBrkjJEGKnUAg60Y%2B1yilibhcCtB3c9buv9g2FnR847FnLX1btM1lPR3hzr2a6YU6qXX3%2Bkyh%2Fl31aYU8S5YTvw8M9hrqoqoyyCv7%2FUzB4Soy7yyBtaMgzmKLSIaL1EL0vZDP9VMJxPmuGOoqO2CHdACizn5ecIUDVJPxdu0A%2BANs4oeSDSqgndfUqM%2B9BhNrrNbKentL9JRfpz99l1p8uM1L89sXrOVP6XgnUPGeZmNmt6OZVO6v0VtokqdBQxVANOiP4rvUEZk5HCI54Trm%2BMb8CRy7gofC2EhLQlyRK0C%2Fiw3qeYxHIfU1j34%2FoZ89rsJ2lmUC5zM2euMI1NFrHragUjwFESMkk72v1Ekfmf0FXHmzSI7mqA2nA9eeO3ZKqg%2BEng9blRYc0YXIb%2Fivu5qlQ2qEBUWBlN5N84Gd3LFLn9yz3rJL7krkrS7FGbGZVftz971q%2FizPViV3dJ0D88CfMlOORmGCyKAk4BbO8RYt2TrG%2B3TNg459emhKUZ03%2BGZLqhKwhDkSTXM9lzyXfVpMgbEKSLS4ohYEQ4vkPepyq3WGGguT0BwftM6gnSjcEbu1iTK6YYwrSHlW30kEOSmhSq6FEMjIA4JZQag%3D%3D;
            _hp5_let.1777419944=1770359086882
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/tenants/il7ntkwdwndoxclxjs3sq6d2uq/tenant-admins-table-data:
    get:
      tags:
        - General
      summary: tenant-admins-table-data
      parameters:
        - name: accept
          in: header
          schema:
            type: string
          example: application/json
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-GB,en-US;q=0.9,en;q=0.8
        - name: dnt
          in: header
          schema:
            type: integer
          example: '1'
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://workhub.dashboard.wristband.dev/settings/tenant/users
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Not(A:Brand";v="8", "Chromium";v="144", "Google Chrome";v="144"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"Windows"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-origin
        - name: user-agent
          in: header
          schema:
            type: string
          example: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36
        - name: x-csrf-token
          in: header
          schema:
            type: string
          example: e903b77dbc0344d92538f7a51abfc9c4be0b595f270b29ca8a8d5563511ade85
        - name: Cookie
          in: header
          schema:
            type: string
          example: >-
            _hp5_event_props.1777419944=%7B%7D; _clck=1rz674r%5E2%5Eg39%5E0%5E2225;
            crisp-client%2Fsession%2F5d9c651e-6a02-41be-9102-aa164316299e=session_0dc92a78-8014-4473-a729-1c2fce4ebb7d;
            _ga=GA1.1.795788936.1770103833; _ga_G395TWPSMP=GS2.1.s1770103833$o1$g0$t1770104049$j60$l0$h0;
            _hp5_meta.1777419944=%7B%22userId%22%3A%228240551021397845%22%2C%22sessionId%22%3A%225645348011799256%22%2C%22sessionProperties%22%3A%7B%22id%22%3A%225645348011799256%22%2C%22time%22%3A1770358001987%2C%22referrer%22%3A%22https%3A%2F%2Fworkhub.dashboard.wristband.dev%2F%22%2C%22utm%22%3A%7B%22source%22%3A%22%22%2C%22medium%22%3A%22%22%2C%22term%22%3A%22%22%2C%22content%22%3A%22%22%2C%22campaign%22%3A%22%22%7D%2C%22initial_pageview_info%22%3A%7B%22time%22%3A1770358001987%2C%22id%22%3A%22%22%2C%22url%22%3A%7B%22domain%22%3A%22docs.wristband.dev%22%2C%22path%22%3A%22%2Fdocs%2Fquick-start-create-a-wristband-application%22%2C%22query%22%3A%22%22%2C%22hash%22%3A%22%22%7D%7D%7D%2C%22identity%22%3A%22workhubconnect77%40gmail.com%22%7D;
            CSRF-TOKEN=e903b77dbc0344d92538f7a51abfc9c4be0b595f270b29ca8a8d5563511ade85;
            session=AQAAAZwxpCPcVDssp2gQRdUKxQ9ZAOZfXiAIE8kf35sVN3Vza%2BsMAyt2iS45lDwuM%2FbC9UnS%2FHs5BZpSKNkWOZmBCGDfHwucJ74XeH6CmD14S4Naa%2Fd8itGTqwyM7eAxJPl6an0Vps1qCkP8WR%2BWuEKBJcqX6qbkNn%2FPFMGs1ib4Wb7yV7BISPklAc%2Bd6cI4vO2S%2Bvgw1%2FGoKcfFc0ofqKP74Jw%2FK58PeL%2BfPQMdyHtkV9rqUE%2BEJgBmnhp%2FpXepN6F9vUm9o8xNahYbflobfTnRiseK4tdvozJWxwXqIgVOgG51t6pR4rtL%2FjJd9D%2BDboIzPvJzbrqrRJYLifjmcPsMA25zCoFvDAnqDWEnZdvLS6inz5C73nmuyxHrpKOnJo116frE%2FZPx%2F7XNyJgNiAHjLpb9gWIAY8ZGuqskMQ0YfCQdI5IK4w6%2FNu9eROlCDYAh8sfZZ1lZ071ZLyc85owOlDbsGtraW3lsAT8PdijDYs6h4byjGkNiP%2Bqlxmub003xHTkNq3bJdc5CenPUCmSIHKoYeBE7f3EHEQcEnBw0gUzH9%2B%2BaDPDLYr9qYmYEUoyiaMlsUrEbPk8Ak7k8lBq9%2FFpJD0%2FkidGOJq2NELd%2BMhNpFRhHYM2Xo65LnbKKeYNLD5g4XLZJCj0xu%2F9NC%2BGrvhDKCNtqGLmi7NjNgbPfha42rm3voCvlNoTNrsn9ikzoKEeeUOsL26MbiLi%2BBRiw5FUPjUU0A26ZIb757CUW%2FXhWXc%2BVrV%2B8GT4MrC5IiIcMjtrsYL4wPHn0AP37%2BRw330AgQLmS0buBGizi4EpeWt17VFZ84oKklr%2F3%2F8QyOqyFn7nvaqSqCS3b7%2BYhcJ8kIqzbVsTlfPZ6%2F8R9xsItVlCp74bsatxWlb8dlxuw7tch%2FUlCJbCEe0a%2BjJshh7LT1bYdSwT4oaC4E0XjhZsj3tl%2FHvXm1GFbnTMywYj6ruQlwJC0ieHKSo3glCTAX4yGU02%2FUfTUT9BMYpJ%2FtVuB3j2BmP4WV4rxq9pGuqVmpFPC5WmH%2Fyb0tWYMx9WuTCPTMKI%2F7NSyWgXwgyeZrvPTTY5qhEU0V40jbr7hhwc%2BLwNyVC%2FjFjlqQPKM7D0uoNsYPsOSl%2Bw8zeB3WiQ3qt27lgYdLQ381pN5lmKrwAFlugV8AjWv%2Bf72vZsBLqlvUvaFoMLwYigNh0ue%2FRtEtnV3HRg%2BFzbxkOiR2ehKRIRHtZd13c6IirsyfjmW38hQOejbvfhy6rHtDOvJeGva%2FgZ1nsk2xN0efMkPihvMZWYuN0jjsvFgYM9E5H1Az8VIUsvkJd96g8WNIQXnNs97Nc2NufF5PBwdY5cP1fh0PSz%2B8xq2TULF9heIIgvX%2BH6AV%2FjWdG7%2BXGqdKvoNNDibSmKrcp2FC4AYQ1ZmP3REEoDSK0dIIH0K9%2BNmR053ddybPYPxaCwTkqdaaZvg7Ruv6MNA%2F%2FUrpDwtVB4zwjCgQC1yIp%2Fjk8ke0LdAeJ4CLGM43Ge5YFjTYWMNINCjxq%2FaIbJ3PY6ptVppQOgBBNBXx7OmHcI2YX6G7vc3T4pHO9x3LF%2BrCdAhTXSyEJ3zNdlOJPvYIMAQtBbXyzRQCD2u7qjG5piyWHxbrcDkNT1N%2F7SnPb%2BuV4ui%2FfPlETkTgyVwQUrNgFgQLpbtKWoMZs67LAYe4fZvbRPQ6lpR8bsk0B%2FHht8vfGFxbLhiRdiL3PXWs0%2BegW%2FBPDu5LpdSZTGICE4I6M42puB0qyf%2FJrRTSL30fTUt17GIte6n4ns95B6YupYACWoS5d4ZxX3%2FZCrHAEjqNiAZJEgNmfM4LJlF1VYbNxnv1YMPm62%2BFgJlIOqQd1GbMwBTZoctNcerDTxUVpkOKGtOwJ6VK24dGdpjty8DQo%2FJEtAT5uU2uTruXdFNHuvp9JxNH91xLCU1JeBgo4ATKOxOsNYKdh5lNOHZwt%2FDf%2FqAypHbrds45wy4Sk8E550%2Bub5yYkVrBBkHhebq%2FQFE9kxg45BjXiVPRfn%2FEyW1PbQBc%2FvRbQEUaShU%2FXc8NaQMfu4dDfMhFcOh4mcsU1Nl%2BbNPlAXPOp5NIBFchu%2FuJy5Ppro7l7WhTKJL%2Fk3nqMgQkJUEKdixdj5VzC2btJeD0uqngU2ybvGeiIBzYh7825gv8%2FYt%2F8MGFYabOpK9O5Pwqhy7%2FGjMiJmLbY6fINR0sLiVwJKM%2FFZPCPiq%2BggVHS1N9kzv47VOAnxhmQQGXNu03lN%2Brfzc8ZB4Y2XylLxzPiFPIxZJbJE98LrzLY3QFWWx35O6JHq2tIFl4WGPAoEUHy5YxqiuTYaslcIhjz7auQ8E25CERcKH5%2FkXqkbzTwxWBa3sG3Rt%2FcwEb2LYTp0rKhvVpw%3D%3D;
            _hp5_let.1777419944=1770359380679
        - name: start_index
          in: query
          schema:
            type: integer
          example: '1'
        - name: count
          in: query
          schema:
            type: integer
          example: '10'
        - name: fields
          in: query
          schema:
            type: string
          example: id,tenantId,applicationId,identityProviderType,givenName,familyName,email,pictureUrl,status
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/tenants/il7ntkwdwndoxclxjs3sq6d2uq/admin-invitation-requests:
    get:
      tags:
        - General
      summary: admin-invitation-requests-link
      parameters:
        - name: accept
          in: header
          schema:
            type: string
          example: application/json
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-GB,en-US;q=0.9,en;q=0.8
        - name: dnt
          in: header
          schema:
            type: integer
          example: '1'
        - name: if-none-match
          in: header
          schema:
            type: string
          example: W/"3e-af5tAVNmHccu7G3W8SPNNT4rcvg"
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://workhub.dashboard.wristband.dev/settings/tenant/users
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Not(A:Brand";v="8", "Chromium";v="144", "Google Chrome";v="144"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"Windows"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-origin
        - name: user-agent
          in: header
          schema:
            type: string
          example: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36
        - name: x-csrf-token
          in: header
          schema:
            type: string
          example: e903b77dbc0344d92538f7a51abfc9c4be0b595f270b29ca8a8d5563511ade85
        - name: Cookie
          in: header
          schema:
            type: string
          example: >-
            _hp5_event_props.1777419944=%7B%7D; _clck=1rz674r%5E2%5Eg39%5E0%5E2225;
            crisp-client%2Fsession%2F5d9c651e-6a02-41be-9102-aa164316299e=session_0dc92a78-8014-4473-a729-1c2fce4ebb7d;
            _ga=GA1.1.795788936.1770103833; _ga_G395TWPSMP=GS2.1.s1770103833$o1$g0$t1770104049$j60$l0$h0;
            _hp5_meta.1777419944=%7B%22userId%22%3A%228240551021397845%22%2C%22sessionId%22%3A%225645348011799256%22%2C%22sessionProperties%22%3A%7B%22id%22%3A%225645348011799256%22%2C%22time%22%3A1770358001987%2C%22referrer%22%3A%22https%3A%2F%2Fworkhub.dashboard.wristband.dev%2F%22%2C%22utm%22%3A%7B%22source%22%3A%22%22%2C%22medium%22%3A%22%22%2C%22term%22%3A%22%22%2C%22content%22%3A%22%22%2C%22campaign%22%3A%22%22%7D%2C%22initial_pageview_info%22%3A%7B%22time%22%3A1770358001987%2C%22id%22%3A%22%22%2C%22url%22%3A%7B%22domain%22%3A%22docs.wristband.dev%22%2C%22path%22%3A%22%2Fdocs%2Fquick-start-create-a-wristband-application%22%2C%22query%22%3A%22%22%2C%22hash%22%3A%22%22%7D%7D%7D%2C%22identity%22%3A%22workhubconnect77%40gmail.com%22%7D;
            CSRF-TOKEN=e903b77dbc0344d92538f7a51abfc9c4be0b595f270b29ca8a8d5563511ade85; _hp5_let.1777419944=1770360500284;
            session=AQAAAZwxtXYly0sHhjRQRjrIsvCg67sRav%2FgcoDh4F75Naaob9zPSWx4tmXIiokdL9Jv97kcQFZ0lX4Uhbq5AQRh%2BIv7cGsoqd%2FGG2rltJURDBLFZmxjP%2BqgKC5sIAZJ423cDTbibtPr1zppsTx04pgIHaj4H0hh%2B5g554piY%2Fj%2B23S54Uwa7UOvwtKHhWK9ksrNoij%2F12Zkw9DDRlb8E%2BvmATF7wHmcHbi9lK1Q99RouwNXWKuvqnhDaBoWSoKbfoZBwJM2f%2BYKmWqxO7SiYryFKkEGBDPby9htTaS%2BoEYsTnaaxG7tBQGQ0%2BmCy0fLmuaBr%2FUfbng9hX6q7znfMc1lcvzHruD9fLHpDBtz1IzBkOYcf7z0e45FP6qIdnLQQn6CdLcne0nBHHdoJuJTyzE0rZ6c%2FA00GxwHvmt8KkckVWVLAXldscmOVuGP%2BUHMAea12P2Y7CjNORhsqlIM7eRhTHvYJXncenZNZX9z23eyV8RY4Tyd4k50QNSi2FftTOq2YhgepHhXi8turWeJaHDysz5p8mpMsfpjB501O1qyqtE4%2B3SlSp%2BXK3Q0mN5Mfv6DgmE%2FZE0tLH%2B%2BXqsea54qmqDwahU1IE0GIN2tx%2BCFzAgmOSA7BOQfBIPAwBpx9qhmRlNF8vrskvHlYs%2B4HZ%2BbTUyrkgxvYKRY1XZHdnCHmz9BCVxkK%2BdM68l2A1gU0nCC4U5i3ehZXNgMayJ0Ps3K%2BqCSFKDMBC0Kk5%2B7w6OIQ7x6zbvbMYGQYmJaJNn7KwqbINVWpd2mxyyadv6D%2FmC95OpgwrUsNCljgiU9ZpHGKzbRRt1mwXSGfNp4W94120KRgxK0YS4EQy9kBlNC7LhNBxaHVx6rTmPBL3iBH4j1QhCXijg9%2BdNgb9D3ALTGIdoYVZMoB1smlXT5OQi%2FMGUzk3fXz5Tr7zW8Lt%2B4yS9AYG%2FpC2uCcyKnOjzG5UUAN5vzY5VITnXE8Ecwbb0Cv7GUHSzxpZJU2ThYAD2pDeGbrnzGN49W9Xl625AwCK81hU1quUPTTIb%2FVIic7mGJNa1lcq6xeHIdtvm%2BF7w%2Fa9Vl%2BWzpWWHcEqayBgv0AL7GcIbkKFd%2BQ%2BDG%2FN0SJKz6ikd7Wqg1oPjEDicpDSkdZRGAOoT6xe%2FG9xhRTneMKxg4Ns7dqSxPKYvXm%2BO2O3ktSInyiHD7lqSW9SNLSI39leaEtkAE2vNibdfGSO02Jrm0bQlerlV0BquFDmKbbLNsvpOQK8X6wEMs4j%2FewgERdC%2FKRgBhdwcZhI%2FSqwUWPgxlEyVfAVG%2BVC1Crl8QN10lHaHhgSI%2B9zLvhJyeMmmtxvVklIQ%2B%2FhmkRq1o40AHf5tCsEbapvmyWQva3j4OoAbDY1nZtbIej2Xd7Y%2BFRy3w8rJXe%2BoUmH7tdju%2BUwB8yT1SRncdBYuRCTrxC4rk2YvpLVm0eqYHHUAipo0Zccb6CFtEZh5i5RUbZ23QkPypRblIG%2B8xgn1ufr5ZGQ8lKX07UmOU3VeP9YFTjW%2ByvhZgN3Cl%2B93NDWSjN%2BP8VmGTkJjfVfIkJPZW1m8RdDz0YkK3XgwSYPDwOsaFs5wC8nN3ANK20jheH9hUrqCD1B5ue9S8ElvYUFswtLsZ%2B3G%2FU6qbcbdZBAEyIYrV1nVVDMzwwEftSHZDTdtb5La0Syo5iU6asP7Gtkt5OnVs4bgPx3gQoBvx8MxQJBfxPcbf2JTeiBZqMC28uEyc12mFWk601G7p9CujbAPeXqpfoDhRJMKAvm7kTkhVA%2F6sgjHlm2DeqoXAyRdBVxP%2Fu2eY1kCF1k%2FPlen0LrfhYOg61ZorvKIqYwr5cBDIPPcl39Bv1EfskpfIlfXiL4Gpul2xReH6yMMubYa%2FOafPwo6Q3EPyiSk994O2%2B3bS0q%2FQX1%2BBcUwUys5bhKwy52%2FscI0bZw2bKCHrVdWaSPp8eWBjmIpbkCxrZECRLE5Ra7s6Qn9hey2SjuEWeL7dOJbT77a4VZ8coUVZ9vyuc%2F51PLzANXoxTNuz8Jy%2F4s1u6Dub0Z4fkZagkv%2B8u%2Bo3dROSfcmH0yDWLS8%2FkzSXDv0oqW4gAZTWQjmgBNSUbhZYCGgRqQL2OxKGGGdL4daVpuz0pDkjgKjIyJl7%2B2wpWv1wv8MMk7J8TXxrnzasS0%2B7YxwypbshcW9oZ1cZjHRCyxk7haFK3AfGasEgr2Ljo3jkXMaq1ImADnNIpJl4sW7FwQzmjtMG9CdfQgOXxaT2K%2FNpxRrXf6gZloleA6QHDuqkpc4qYCNJnsRTDldNSxKkX4jw6xzOQEZqXIERzg6sk5nBCrKAZMbGJwtIL3%2BzbZAa1Tkwi6pZSNtEzUewb3%2B8%2BN1lyUtAswZKQL5WASv6TA%3D%3D
        - name: fields
          in: query
          schema:
            type: string
          example: id,email,inviteeName,invitationType,tenantId,rolesToAssign
        - name: start_index
          in: query
          schema:
            type: integer
          example: '1'
        - name: count
          in: query
          schema:
            type: integer
          example: '10'
        - name: query
          in: query
          schema:
            type: string
          example: invitationType%20eq%20%22LINK%22%20and%20status%20eq%20%22PENDING_INVITE_ACCEPTANCE%22
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/tenants/il7ntkwdwndoxclxjs3sq6d2uq/assignable-role-select-options:
    get:
      tags:
        - General
      summary: assignable-role-select-options
      parameters:
        - name: accept
          in: header
          schema:
            type: string
          example: application/json
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-GB,en-US;q=0.9,en;q=0.8
        - name: dnt
          in: header
          schema:
            type: integer
          example: '1'
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://workhub.dashboard.wristband.dev/settings/tenant/users
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Not(A:Brand";v="8", "Chromium";v="144", "Google Chrome";v="144"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"Windows"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-origin
        - name: user-agent
          in: header
          schema:
            type: string
          example: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36
        - name: x-csrf-token
          in: header
          schema:
            type: string
          example: e903b77dbc0344d92538f7a51abfc9c4be0b595f270b29ca8a8d5563511ade85
        - name: Cookie
          in: header
          schema:
            type: string
          example: >-
            _hp5_event_props.1777419944=%7B%7D; _clck=1rz674r%5E2%5Eg39%5E0%5E2225;
            crisp-client%2Fsession%2F5d9c651e-6a02-41be-9102-aa164316299e=session_0dc92a78-8014-4473-a729-1c2fce4ebb7d;
            _ga=GA1.1.795788936.1770103833; _ga_G395TWPSMP=GS2.1.s1770103833$o1$g0$t1770104049$j60$l0$h0;
            _hp5_meta.1777419944=%7B%22userId%22%3A%228240551021397845%22%2C%22sessionId%22%3A%225645348011799256%22%2C%22sessionProperties%22%3A%7B%22id%22%3A%225645348011799256%22%2C%22time%22%3A1770358001987%2C%22referrer%22%3A%22https%3A%2F%2Fworkhub.dashboard.wristband.dev%2F%22%2C%22utm%22%3A%7B%22source%22%3A%22%22%2C%22medium%22%3A%22%22%2C%22term%22%3A%22%22%2C%22content%22%3A%22%22%2C%22campaign%22%3A%22%22%7D%2C%22initial_pageview_info%22%3A%7B%22time%22%3A1770358001987%2C%22id%22%3A%22%22%2C%22url%22%3A%7B%22domain%22%3A%22docs.wristband.dev%22%2C%22path%22%3A%22%2Fdocs%2Fquick-start-create-a-wristband-application%22%2C%22query%22%3A%22%22%2C%22hash%22%3A%22%22%7D%7D%7D%2C%22identity%22%3A%22workhubconnect77%40gmail.com%22%7D;
            CSRF-TOKEN=e903b77dbc0344d92538f7a51abfc9c4be0b595f270b29ca8a8d5563511ade85;
            session=AQAAAZwxpCPcVDssp2gQRdUKxQ9ZAOZfXiAIE8kf35sVN3Vza%2BsMAyt2iS45lDwuM%2FbC9UnS%2FHs5BZpSKNkWOZmBCGDfHwucJ74XeH6CmD14S4Naa%2Fd8itGTqwyM7eAxJPl6an0Vps1qCkP8WR%2BWuEKBJcqX6qbkNn%2FPFMGs1ib4Wb7yV7BISPklAc%2Bd6cI4vO2S%2Bvgw1%2FGoKcfFc0ofqKP74Jw%2FK58PeL%2BfPQMdyHtkV9rqUE%2BEJgBmnhp%2FpXepN6F9vUm9o8xNahYbflobfTnRiseK4tdvozJWxwXqIgVOgG51t6pR4rtL%2FjJd9D%2BDboIzPvJzbrqrRJYLifjmcPsMA25zCoFvDAnqDWEnZdvLS6inz5C73nmuyxHrpKOnJo116frE%2FZPx%2F7XNyJgNiAHjLpb9gWIAY8ZGuqskMQ0YfCQdI5IK4w6%2FNu9eROlCDYAh8sfZZ1lZ071ZLyc85owOlDbsGtraW3lsAT8PdijDYs6h4byjGkNiP%2Bqlxmub003xHTkNq3bJdc5CenPUCmSIHKoYeBE7f3EHEQcEnBw0gUzH9%2B%2BaDPDLYr9qYmYEUoyiaMlsUrEbPk8Ak7k8lBq9%2FFpJD0%2FkidGOJq2NELd%2BMhNpFRhHYM2Xo65LnbKKeYNLD5g4XLZJCj0xu%2F9NC%2BGrvhDKCNtqGLmi7NjNgbPfha42rm3voCvlNoTNrsn9ikzoKEeeUOsL26MbiLi%2BBRiw5FUPjUU0A26ZIb757CUW%2FXhWXc%2BVrV%2B8GT4MrC5IiIcMjtrsYL4wPHn0AP37%2BRw330AgQLmS0buBGizi4EpeWt17VFZ84oKklr%2F3%2F8QyOqyFn7nvaqSqCS3b7%2BYhcJ8kIqzbVsTlfPZ6%2F8R9xsItVlCp74bsatxWlb8dlxuw7tch%2FUlCJbCEe0a%2BjJshh7LT1bYdSwT4oaC4E0XjhZsj3tl%2FHvXm1GFbnTMywYj6ruQlwJC0ieHKSo3glCTAX4yGU02%2FUfTUT9BMYpJ%2FtVuB3j2BmP4WV4rxq9pGuqVmpFPC5WmH%2Fyb0tWYMx9WuTCPTMKI%2F7NSyWgXwgyeZrvPTTY5qhEU0V40jbr7hhwc%2BLwNyVC%2FjFjlqQPKM7D0uoNsYPsOSl%2Bw8zeB3WiQ3qt27lgYdLQ381pN5lmKrwAFlugV8AjWv%2Bf72vZsBLqlvUvaFoMLwYigNh0ue%2FRtEtnV3HRg%2BFzbxkOiR2ehKRIRHtZd13c6IirsyfjmW38hQOejbvfhy6rHtDOvJeGva%2FgZ1nsk2xN0efMkPihvMZWYuN0jjsvFgYM9E5H1Az8VIUsvkJd96g8WNIQXnNs97Nc2NufF5PBwdY5cP1fh0PSz%2B8xq2TULF9heIIgvX%2BH6AV%2FjWdG7%2BXGqdKvoNNDibSmKrcp2FC4AYQ1ZmP3REEoDSK0dIIH0K9%2BNmR053ddybPYPxaCwTkqdaaZvg7Ruv6MNA%2F%2FUrpDwtVB4zwjCgQC1yIp%2Fjk8ke0LdAeJ4CLGM43Ge5YFjTYWMNINCjxq%2FaIbJ3PY6ptVppQOgBBNBXx7OmHcI2YX6G7vc3T4pHO9x3LF%2BrCdAhTXSyEJ3zNdlOJPvYIMAQtBbXyzRQCD2u7qjG5piyWHxbrcDkNT1N%2F7SnPb%2BuV4ui%2FfPlETkTgyVwQUrNgFgQLpbtKWoMZs67LAYe4fZvbRPQ6lpR8bsk0B%2FHht8vfGFxbLhiRdiL3PXWs0%2BegW%2FBPDu5LpdSZTGICE4I6M42puB0qyf%2FJrRTSL30fTUt17GIte6n4ns95B6YupYACWoS5d4ZxX3%2FZCrHAEjqNiAZJEgNmfM4LJlF1VYbNxnv1YMPm62%2BFgJlIOqQd1GbMwBTZoctNcerDTxUVpkOKGtOwJ6VK24dGdpjty8DQo%2FJEtAT5uU2uTruXdFNHuvp9JxNH91xLCU1JeBgo4ATKOxOsNYKdh5lNOHZwt%2FDf%2FqAypHbrds45wy4Sk8E550%2Bub5yYkVrBBkHhebq%2FQFE9kxg45BjXiVPRfn%2FEyW1PbQBc%2FvRbQEUaShU%2FXc8NaQMfu4dDfMhFcOh4mcsU1Nl%2BbNPlAXPOp5NIBFchu%2FuJy5Ppro7l7WhTKJL%2Fk3nqMgQkJUEKdixdj5VzC2btJeD0uqngU2ybvGeiIBzYh7825gv8%2FYt%2F8MGFYabOpK9O5Pwqhy7%2FGjMiJmLbY6fINR0sLiVwJKM%2FFZPCPiq%2BggVHS1N9kzv47VOAnxhmQQGXNu03lN%2Brfzc8ZB4Y2XylLxzPiFPIxZJbJE98LrzLY3QFWWx35O6JHq2tIFl4WGPAoEUHy5YxqiuTYaslcIhjz7auQ8E25CERcKH5%2FkXqkbzTwxWBa3sG3Rt%2FcwEb2LYTp0rKhvVpw%3D%3D;
            _hp5_let.1777419944=1770359380679
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/invite-new-user:
    post:
      tags:
        - General
      summary: invite-new-user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                tenantId: il7ntkwdwndoxclxjs3sq6d2uq
                email: afranaaz91@gmail.com
                rolesToAssign:
                  - mji4lwbr6jgdvftrawxnuobjie
            example:
              tenantId: il7ntkwdwndoxclxjs3sq6d2uq
              email: afranaaz91@gmail.com
              rolesToAssign:
                - mji4lwbr6jgdvftrawxnuobjie
      parameters:
        - name: accept
          in: header
          schema:
            type: string
          example: application/json
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-GB,en-US;q=0.9,en;q=0.8
        - name: content-type
          in: header
          schema:
            type: string
          example: application/json
        - name: dnt
          in: header
          schema:
            type: integer
          example: '1'
        - name: origin
          in: header
          schema:
            type: string
          example: https://workhub.dashboard.wristband.dev
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://workhub.dashboard.wristband.dev/settings/tenant/users
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Not(A:Brand";v="8", "Chromium";v="144", "Google Chrome";v="144"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"Windows"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-origin
        - name: user-agent
          in: header
          schema:
            type: string
          example: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36
        - name: x-csrf-token
          in: header
          schema:
            type: string
          example: e903b77dbc0344d92538f7a51abfc9c4be0b595f270b29ca8a8d5563511ade85
        - name: Cookie
          in: header
          schema:
            type: string
          example: >-
            _hp5_event_props.1777419944=%7B%7D; _clck=1rz674r%5E2%5Eg39%5E0%5E2225;
            crisp-client%2Fsession%2F5d9c651e-6a02-41be-9102-aa164316299e=session_0dc92a78-8014-4473-a729-1c2fce4ebb7d;
            _ga=GA1.1.795788936.1770103833; _ga_G395TWPSMP=GS2.1.s1770103833$o1$g0$t1770104049$j60$l0$h0;
            _hp5_meta.1777419944=%7B%22userId%22%3A%228240551021397845%22%2C%22sessionId%22%3A%225645348011799256%22%2C%22sessionProperties%22%3A%7B%22id%22%3A%225645348011799256%22%2C%22time%22%3A1770358001987%2C%22referrer%22%3A%22https%3A%2F%2Fworkhub.dashboard.wristband.dev%2F%22%2C%22utm%22%3A%7B%22source%22%3A%22%22%2C%22medium%22%3A%22%22%2C%22term%22%3A%22%22%2C%22content%22%3A%22%22%2C%22campaign%22%3A%22%22%7D%2C%22initial_pageview_info%22%3A%7B%22time%22%3A1770358001987%2C%22id%22%3A%22%22%2C%22url%22%3A%7B%22domain%22%3A%22docs.wristband.dev%22%2C%22path%22%3A%22%2Fdocs%2Fquick-start-create-a-wristband-application%22%2C%22query%22%3A%22%22%2C%22hash%22%3A%22%22%7D%7D%7D%2C%22identity%22%3A%22workhubconnect77%40gmail.com%22%7D;
            CSRF-TOKEN=e903b77dbc0344d92538f7a51abfc9c4be0b595f270b29ca8a8d5563511ade85;
            session=AQAAAZwxpGE7U15zkxaZFjQ3agzaaoAdNsHaqVx71JFXznERGS3yZPGQC7nBrmNRr31qnzhXw2aLZvuWO8Gz6bCxzvAvuVnAvLxXZbljqOrTog5XRlOBxTpCeCOgcToocjsc1TeY%2FmqWF08i2vTcHkTYsb8jYrEeuzIOcQ2RWW%2BUrm7ZjG9iw1WsBwCLEzqizByQE721CJXC0DJ1it0tXGOceSLLfYz%2Bfnv2csD5Qs2egOmNySNK3G5MgNHBruaHPuOHhpKsTxTMXP0vT%2B5c8lAyt8ClTIwwChsjR7D%2FHf%2BwrKURbL7FO7u4Ea54AeTj0zHu7j%2FT14XGhwXvG0r5REBsxeJc2S80fjNJFbHX%2BXMrA6zbvRLB46mmfU%2Fc07ilD5VuEz1Oq2ex91SdgUQQAQcNVqHDTT%2FrmcxoxgqD1%2BHqE9FrQQo%2Fk%2FSjlD7lTqaW7ne9ZlmPTZFblKpRlwY%2Fj1XvT8BlbZIXY3Wqs6nC6dHsp3lVMhGAs%2BZ4FMlok0pmnpM8qM8MbJOYQEUQj9kbJQmcNR%2Be4pD1fOUo11tbYQe9M%2FHdPeCrsC75PHs2EsKdriWpyX2MzlOyROXexW%2FW4ul%2B4Wig64ZKTwqdkAOCV7FGhsTek8vDckbN%2Bs5bcRA6cbjoPh5rhG7P%2BYF5QwyiP%2B8ioAxDk3hia5yoS2uPEz0Ww07hv3r7wghrPxnkpP2vbCGcW%2FI5Dbl9fdek8g%2Fjbv9Xjxn9poBwJVV29R07E8vVo%2Bduz%2FiwG8VwQWCj0wVcn6uL1yi8LUarMyiPTD1ZQC0%2BW5nE%2F629plAlswuv2GvEh%2FwZKau%2Ff%2FcFxtyR9Y0P1%2BZVywyNTglCFCgGCeTFXVs3xgZNk2M1CDITfOlPmFeRCWi8bwze46ADZbXwID5lQ59R%2FRZoFOxop0PctG3aPUSDEVyCstnawAQFW8GFmrHveVWVlKB9hDemfhsgArkoFLHhjOoGpCgHC5a2oT2BH2N6%2B6SSN87wjZPa2ykV9zDGtJlQ%2FXBH%2B5FzteMbEhYg8iMvfEQErhtjwKq1dk%2BKjowq2B%2FaQTZZzdkZ5wrFXFpV4Cberw35atJB2w6%2FRbzOVgaKxQyuHHuSlh3lLnVeUB%2FbI311hdtwsBMZNWLdwUr0H59rNVWk6yBWOWs2ujLkK3m9neltXA0eg43tW%2BVskwdTKSlKUN%2BjiR3A0DRyu6P9jwzL5VvFjWlBKAaqn0wBG4UsRGbaf4iJdd%2FwT14InsIkcmZPgED4YopElit5l9lyqesd0tz%2BOlu86iekF9NXVZC%2BK4Xzu25xrept5h2KFHEvj4F%2BCGNntbYdYy5R7e8JxrgeW2kINOKfDGPVoGAdaVI4Q%2F7eNOd5DPNEFno5MyrlMtowA1SBes1GA3NI%2Fy4NAnIqRHLS6SYi9Og4TnL1%2B5P8JVRK44UH3xhDYIKD%2Bcrs9GXeVULnxKOXdufjGXAPWbB1x2%2Fmeu6A0%2Fdr3iALIaMUoiUak3jUtLfps6W9t16IqJxom8OwoeunjcNz0%2BJdh1LocV5ZAKDushwJVRlMnJBmOjRbu3%2BchbO32xbkGCmCai8a7tAZDJe4mE7vwmUZBC2MWae97mi9OTCtWou5Mm90Js7RHBGW%2Bq06ghjrYbYpFlQegKwAPT4lbO9orSGOm%2BffgGILu7JqpYRQGdCKDnIxixk%2BYtM7sFR1QSWcvxaEa41P%2Fx%2BDc%2FvV%2Bm5ptub1tmBaDuxC7g2bAiZceDJ3GpUTFCDR7L9iD37RgmifeEk1SmzroGUTOBaYRQJ11f5GCny2imT1S4SoM5W5s0ldyGBrhpfiQ18TT6xtMr7B%2FysDPB9LPSxEbudtS5dSw3vy6cd6cjEIxfE8dJxWwmI7phY%2BLW2mB7Cw6lx7zOREW2Biiyu%2FMlNHLWbZ6ms49aDC7cihuOBcdSS7N9be5eM5skxmYjNua5jmSrRAP5JsTMfZ%2FNPXET5iZfDuOqPlJ2K2stQnD7rS%2B0PnMOQxq6l5GY7zWaDp%2BCazCqB405aQ4yacc9cxTy%2BAzYvN%2FbNjAeFLAqCMsqXg9Lty6a6xH5x6oX7Rk5Yy5cMcXau19jf2Kcg0SaOumJ%2FmQftFLqFaT1%2FeaUHoCmpMDiTIWJXvPGaiPXCqXa5%2FratKXY%2BDIKShjjLt9H5dAt63dgtbEu0Dpbz%2FYpBDfZ9BriP8MYPkkA38vlCj%2F6RvzQZY9RIJLYeK%2Bqu6vFTIwNN3vurQUIuKsE7EZABgC7xG4RtkYVXVBNwLS5juwfj08fJ9YFfsnWWafZor%2FmTfC4arJZwlpcMANiJP6f47XIYHtxIOADNKVWM2FXKiYD8pcNBfTXk%2Frs08RpC6I7zuUahYRnMUpBH89DkQvDw89A%3D%3D;
            _hp5_let.1777419944=1770359928361
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/new-user-invitation/create-invite-link:
    post:
      tags:
        - General
      summary: create-invite-link
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                tenantId: il7ntkwdwndoxclxjs3sq6d2uq
                inviteeName: asdfgh
                rolesToAssign:
                  - mji4lwbr6jgdvftrawxnuobjie
            example:
              tenantId: il7ntkwdwndoxclxjs3sq6d2uq
              inviteeName: asdfgh
              rolesToAssign:
                - mji4lwbr6jgdvftrawxnuobjie
      parameters:
        - name: accept
          in: header
          schema:
            type: string
          example: application/json
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-GB,en-US;q=0.9,en;q=0.8
        - name: content-type
          in: header
          schema:
            type: string
          example: application/json
        - name: dnt
          in: header
          schema:
            type: integer
          example: '1'
        - name: origin
          in: header
          schema:
            type: string
          example: https://workhub.dashboard.wristband.dev
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://workhub.dashboard.wristband.dev/settings/tenant/users
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Not(A:Brand";v="8", "Chromium";v="144", "Google Chrome";v="144"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"Windows"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-origin
        - name: user-agent
          in: header
          schema:
            type: string
          example: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36
        - name: x-csrf-token
          in: header
          schema:
            type: string
          example: e903b77dbc0344d92538f7a51abfc9c4be0b595f270b29ca8a8d5563511ade85
        - name: Cookie
          in: header
          schema:
            type: string
          example: >-
            _hp5_event_props.1777419944=%7B%7D; _clck=1rz674r%5E2%5Eg39%5E0%5E2225;
            crisp-client%2Fsession%2F5d9c651e-6a02-41be-9102-aa164316299e=session_0dc92a78-8014-4473-a729-1c2fce4ebb7d;
            _ga=GA1.1.795788936.1770103833; _ga_G395TWPSMP=GS2.1.s1770103833$o1$g0$t1770104049$j60$l0$h0;
            _hp5_meta.1777419944=%7B%22userId%22%3A%228240551021397845%22%2C%22sessionId%22%3A%225645348011799256%22%2C%22sessionProperties%22%3A%7B%22id%22%3A%225645348011799256%22%2C%22time%22%3A1770358001987%2C%22referrer%22%3A%22https%3A%2F%2Fworkhub.dashboard.wristband.dev%2F%22%2C%22utm%22%3A%7B%22source%22%3A%22%22%2C%22medium%22%3A%22%22%2C%22term%22%3A%22%22%2C%22content%22%3A%22%22%2C%22campaign%22%3A%22%22%7D%2C%22initial_pageview_info%22%3A%7B%22time%22%3A1770358001987%2C%22id%22%3A%22%22%2C%22url%22%3A%7B%22domain%22%3A%22docs.wristband.dev%22%2C%22path%22%3A%22%2Fdocs%2Fquick-start-create-a-wristband-application%22%2C%22query%22%3A%22%22%2C%22hash%22%3A%22%22%7D%7D%7D%2C%22identity%22%3A%22workhubconnect77%40gmail.com%22%7D;
            CSRF-TOKEN=e903b77dbc0344d92538f7a51abfc9c4be0b595f270b29ca8a8d5563511ade85;
            session=AQAAAZwxtUUi1D7P4BUUV4zLgFn9k29iiObUrVlO0UkC0Z8hYl8lS6QD44zvzZishYEDlYfJBGHvpZ3mxb4Onm1jf3Bdge1%2FztaRsUcKpJRjIoyKOo16eornGhJ5Wh5TQTOvreq0Twpy7eZTdNuH5fVa1%2FMG7F6%2BYqZuThNhwUbJAYAMo9DrX%2FQdg7A8nNlAyd5lbcUQLRGPeuR9jxr0mCDLbqOCUCC2SQmEi0AB7gogsz8B4HX75nWKtsX0ITPo2caULsl4fVY3bi%2FchWifHzhzYkLCU%2BqqEVMR4DDn39O6COGAz0QAL6i%2BCil%2BkoTaJ4VguvTGHgKTubYnPjDI1tTtS12TTaiPmzW93p7BJXM98ig02%2BuZU5H7l3bbb8YV03reU605oWo3XYumbofR2MaVB%2BLsmHe22OOf5aSZHpOXT8WExwbG%2BbjhIxtwnrqmqRBncLTVW5WcOZYUzKVveynXzt9%2B178vlXny64zAJtoVk9%2BpGRZH0OeOqEeFV99yTxB%2FqBNxK7RCAy5n6TEBKb0%2Fa%2FtBSI6fkBlRtoiBOCr2e%2B5Icw9nuOmUn3tClrBlQjc4qCcTjQ2t5FH3PaciTVz1ifOR6g033NN1O2qnsX7zEC9zagrg0qCWfwSkj6aOR%2FmTGlr5Y5WgpCEJ5BpEaphj%2B7IY8Te0d8KaJQ7M8O5UlqZSBdSixYu8p6BJsGoWsBxAOyHE2KkN0bwOSNTlDGpZTj8W06Y8xSEs9una%2BBGY0W%2FbN0Dt5rFVH5CenZuMK3vICcif30DgaWjGPm6p5BXeMnvAZMNvZifKdm33StiLiMzjlKjJTYKD93ASsUKTnvKNzQnhDw416IrL5sfkrQJtymNV3rRuKrzQq99UKtuHJY1nzG8HDWVQGehWpm1yQi%2BfSTMv3Do90Lr2CFSiW6fQCfQZDHWttaGaIS4JR1bYflU8kSZCcfzgc414wsGASAuRXzcd6Mch7PnIA927As77s6KRdDwjMHw1tELHEniqw1pDbRgtRVEEaCJRb4L0nDEEPrV7DjFZ4xTq6%2B8tRTCfHraYU%2FRo1zinzq100nR9tnHFMC9RVua7%2FlmIl%2FeswarH2%2FCtSGo%2FIQktoSU%2FfTlaNBDN%2Bo5GmK1Ryn3e2HXzDq9zLtnJxyAVfIXW2cLSA2uOAMjLi2cjhIGsYNQUWlu7Us%2Bc4RtuHI16fJmfcf6Mcs9YBEeUDZvdb8tjY0TS664%2Fz8wTXF5kmG19%2F5U32aipwl1OJrGpSa8vyRsg6jd2MY%2FoHaEVjO9xtklAcoTKy1F9HiVgtPAkGV2xC5DN6ieFw5Fr9NnuEEhZVSEiVpJ4Vq1f%2BZ1Ai0jJdz2LgxfQ8Nyoh%2FDWPWaK00HfKQnxWEDNekH9E7e8xdVg94nWSP1o7vwCAnOL8gC7m7%2FkUdh%2BJy6h%2BL7EcHFQagkw09zMiwBnvNLl0KuK0eEpoaG2ZakOIFR0%2F12y8%2BA4dg4Ip0683kXcWadtA10m1RGrbRFkmqQ9taKa43XuJh6oCeSmPWGhElLDm%2FZkHP1WyFO6SaLZaHxcHoxcsLyj%2FzIBUVRlVSGCntiU6seX5FqJdqv7zojiT6SJB4%2Bk7l1kT1BCtyfAQmgRqwCPDZ02kHGNhz%2FkUn%2BsgHdr3cdmMoIr9smzlmOQqU7sDDFGt1cR7KiDEIgZdG8tNCfGKNS%2BU6FwSY6Kb%2BJ7INwp8g1bdwYOYh4zYbZAjLcGx13UVMb%2FbJk5WDdr4kedwbQDn9z69mnZ6fxGu0QGXer5sEDJp6rBrls4eO%2BLgdqTwOSQHI2idMeBa7a6Nndft65bYv6KWHdmzcFgyKfvsZGYvZdzXmHIGzlCTBbwArctie%2Fp18N7sNKuf2LCSLVHLalw12pyeQiuMx2S3bjlcFqU6qiB7KfCqGTmsB14%2BFpYlveRR%2BeY%2F2vEJqUHeMCecEQq0wbaVRnL1PoROtOd3HQp%2Fsw28Zxhz%2Bfm6RCFYVqyu3v5yMF2QvI3ywK3XdUAVwnBKCc%2B6XtGjgiSw3yXaVm1nYCHTk7o6Ql5jVX1zau2McZZYo3aQLWOCyFil0Cvcs2XlQtSsax%2F06B3nuOu9eRqrQ9Pr11LAe4vffULI8UBdJR4kNE5qNOAj%2BJkwVr9wEmrjgHlgF7X5nMRpyQ3FO8nb1tvaiUD4KU03gQDXdgAQVWyjSU4ALW5NJZiktQqX3XHnSVbVtSoFuXVRvgBqergWVnkgqnBOtd4D9%2BL0MrcsOfQx7d1Ca7UqyiDhRBP35fFVsPHI4n%2BO1dMVHcYK48hfNa4BnEkm6BcyisNwNrGOd7%2FElyJekpYedgNZi9m23d%2BrCIemeb9%2BMVJv07lIAF5eR%2FOcohzhq3SXW4aPMSizQ%3D%3D;
            _hp5_let.1777419944=1770360495677
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/workspaces/hkkvgouwjrf6tc3nuysncuqjr4/application-usage-select-options:
    get:
      tags:
        - General
      summary: application-usage-select-options
      parameters:
        - name: accept
          in: header
          schema:
            type: string
          example: application/json
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-GB,en-US;q=0.9,en;q=0.8
        - name: dnt
          in: header
          schema:
            type: integer
          example: '1'
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://workhub.dashboard.wristband.dev/settings/account-usage
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Not(A:Brand";v="8", "Chromium";v="144", "Google Chrome";v="144"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"Windows"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-origin
        - name: user-agent
          in: header
          schema:
            type: string
          example: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36
        - name: x-csrf-token
          in: header
          schema:
            type: string
          example: e903b77dbc0344d92538f7a51abfc9c4be0b595f270b29ca8a8d5563511ade85
        - name: Cookie
          in: header
          schema:
            type: string
          example: >-
            _hp5_event_props.1777419944=%7B%7D; _clck=1rz674r%5E2%5Eg39%5E0%5E2225;
            crisp-client%2Fsession%2F5d9c651e-6a02-41be-9102-aa164316299e=session_0dc92a78-8014-4473-a729-1c2fce4ebb7d;
            _ga=GA1.1.795788936.1770103833; _ga_G395TWPSMP=GS2.1.s1770103833$o1$g0$t1770104049$j60$l0$h0;
            _hp5_meta.1777419944=%7B%22userId%22%3A%228240551021397845%22%2C%22sessionId%22%3A%225645348011799256%22%2C%22sessionProperties%22%3A%7B%22id%22%3A%225645348011799256%22%2C%22time%22%3A1770358001987%2C%22referrer%22%3A%22https%3A%2F%2Fworkhub.dashboard.wristband.dev%2F%22%2C%22utm%22%3A%7B%22source%22%3A%22%22%2C%22medium%22%3A%22%22%2C%22term%22%3A%22%22%2C%22content%22%3A%22%22%2C%22campaign%22%3A%22%22%7D%2C%22initial_pageview_info%22%3A%7B%22time%22%3A1770358001987%2C%22id%22%3A%22%22%2C%22url%22%3A%7B%22domain%22%3A%22docs.wristband.dev%22%2C%22path%22%3A%22%2Fdocs%2Fquick-start-create-a-wristband-application%22%2C%22query%22%3A%22%22%2C%22hash%22%3A%22%22%7D%7D%7D%2C%22identity%22%3A%22workhubconnect77%40gmail.com%22%7D;
            CSRF-TOKEN=e903b77dbc0344d92538f7a51abfc9c4be0b595f270b29ca8a8d5563511ade85;
            session=AQAAAZwxtXqCoyiQ8hn06aryPHFU0%2Fby931fI2O%2B2hVNzNtTSb9pVVOxp%2BH3o01E%2FPkTBwggeuqfGLhmvWJBaESmAdpnKEsKKIzYI0fhG52vv7DA4LmBsME053zn8S4Vy3yJKnU0oD1kYNLtXckpV%2Bl%2FDyXRBBGB%2B84%2BWE3SlTuTGNeD18kIFPPS2jJ7hb8DCJB%2F5zNg7mjkDWvqzacU7%2FmBNolOp5uqIe8EeBCccCt3sSLuGiaa8uwQztLlOu7gQlvYekEEI4c%2B0J3aYTclwHC%2BPB5PxLK66ZBh3U3asP997ZmzMFg%2Bcx36GjpNscHe6tjj5c9S9YBqBCvJu9zFbNdfPBPplh3QTCu2QHczRuS4XUKrgHPJJm4zvoIx4W%2B05KUbJgenWIWbXeCrubj3EYZEv1nc5zrB9KVgjyCdkWVYCWXf%2FBXvqPCchoetf%2FlGNONIa%2BIiDIEzel0H5LslOPOVfbLbWkvTwC9laS9zhEd0k9l60xFRSxjuc89s4IFpiZRZ7k0OsktOhBomaNPlbv7kdfQilzhXNXPx8ga%2BUi9I6g%2FaTFuvk9vw1OmJk0zgfp50TPp6n0gLjov2QJTjRT%2BIkARUT8jsgM0lZAdOYJgKrGbwtUnFctisS3Y3hwismxTdcRvwf%2FlRHucF9IUewdJM0GO1IUCpg25vJCclllO6DYB01YSnARMD2QVLID7fzzx%2BNGp19qkDyLtPvXYZJWKsoXIGaRDcoa8WT2TNNB4Zd3jQ3k84Ai5GH1OdpP5%2B1EcJwjc6la8NGGASRLoF2MrHKJO6fjJxduYY1FzhZQzWtsPRQMJuB7IJZS24vnDUMaOhBWLxTRP0jj%2FmdOH%2BaxKeyPp6tVmcaaRdALDxBSEG02Xy2JuiBybAMYEjfjLgDijPlLTWFq5ZNfmmu4fT7WQ8ynT8ihv9R5uZMsnxaEgGTHcYS9TpSFLT8D4BjBF4r0CncK3MuJ3PK086xyPa8vSvRBJ%2BmgjwF8wqN6fNHFnVNq8MDQPB6SO8KArFW%2BDyQEWC9Z3oK4GcvimJdTDplCTW739T0YxbKaBJJDY70rQ2LM7awl6zjKFT%2FJkgTW38hSB5BclPOAxa2bxNHEoO0fjCEWwTX1nz30sSShuP7dKLM4ylw%2BMBaVjdpu%2F2pgW2PDKYZp34tmo8bA5t6DRkJFj9beeNJ2fzRt1BDKbWKfKMIUK8q63ihkVd4ejZPECz2Sg9Lhqmixt8Bj%2BIsmJ9MQc%2B8A3mG4UP8TDvRS5QUNqTQwkluknAbGtL7dU8ok5jU2QPCXOxPxvJZXWPO0vh%2FJRUVaWNSDiGseENqp9E5DdxUWjwPUBjyrlTsSDvUppVhm66P%2BB6j%2F0IEh3gEuFIzubZPNcq%2FE12o40Wbznq%2FAokHueqaYw5j6E5Cgt0MTZFI9uGWw%2FzP0sK3JwDwLj102%2FeXUlmLNAqS%2BWaNBs%2B0x4O5XuzxpP935x7BEr1DzNDfivcbrybmBiTIoFKUcKvrB%2F%2B%2BFW00v5w897G4aRqZH32RMmgRlrU60qpFRyRie4X7tBWql78aAD0BE%2B9v4RJ7hHSHsVLnA51KeRBh443dK2X5p0%2BmYDg8VM2YvgI0XmafGLWqJ7hsc%2Ft2EyFRx79Um6eaVNDo1xz3lpIbYkev4cBYx6Yb2cSJhds7y2h%2BY2uVnqIMfAGSpSieTmxFFRDF%2FVDxqHySp5CqPi6HA2GGW%2BB8sOKyXx%2BviYRgTNIf5F0OOeXlIWHcr77IZlzPTSbkSmL7qmcfQf8mzAJGcm5MISlCUkVoAhTrfV3EpmLXMXke%2FEh4uIlsufYSHq1ObD8HHcnq5MuPtXngLrMqGrrigC4PwW%2BtRu%2ByO2rblmDz7gPQ1A0a9C%2FhhEosbI3Z0s5ZsF5v8A2pdFoAk9rZb5epSAQLvHPR2wdAg5XfHYsqicEj7%2FA2v7R8W%2F6o%2FcTtIahdR9Qj%2F1xiSj67PznD7XfpFZ6ZkdmVoXXJfuQ9C6d3XV9bWm30dOn7Wf%2BBpA0hqYcfvK93y15LsXbgk9ln38KlL0Xtef9YvzSQfO2jeiHocHQRAD7lViEYhmiQRpHFZmZt3XOzRchBCF2rapPpLfuZTkbVRh0dKAjuySEdHJ7Kn4i1%2FSm6LJtTyARpIZNqWN%2BL0qYhD9WyEGnvVhuHLjVNQCDw8Vq1Wcr%2FtlaQvERRdryeEVZIV0alyBPtjE%2BOK75Ma1sdNkhE89Wue4GLvhV4ESug%2FuMmQ0cxGJR7aOOod9b2Rwx2Xe7i9xhxwqZjXPdmZERcrTLkQeRDVUna03hOUJ7jngGFYjlS0qLN2ZLfRfxgUgM5J%2By%2FUK60u78YMlN0GLFAi2h4DBQOFar%2B7nEW7xIMC%2Buog%3D%3D;
            _hp5_let.1777419944=1770360624067
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/workspaces/hkkvgouwjrf6tc3nuysncuqjr4/resolve-account-usage:
    post:
      tags:
        - General
      summary: resolve-account-usage
      requestBody:
        content: {}
      parameters:
        - name: accept
          in: header
          schema:
            type: string
          example: application/json
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-GB,en-US;q=0.9,en;q=0.8
        - name: content-type
          in: header
          schema:
            type: string
          example: application/json
        - name: dnt
          in: header
          schema:
            type: integer
          example: '1'
        - name: origin
          in: header
          schema:
            type: string
          example: https://workhub.dashboard.wristband.dev
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://workhub.dashboard.wristband.dev/settings/account-usage
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Not(A:Brand";v="8", "Chromium";v="144", "Google Chrome";v="144"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"Windows"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-origin
        - name: user-agent
          in: header
          schema:
            type: string
          example: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36
        - name: x-csrf-token
          in: header
          schema:
            type: string
          example: e903b77dbc0344d92538f7a51abfc9c4be0b595f270b29ca8a8d5563511ade85
        - name: Cookie
          in: header
          schema:
            type: string
          example: >-
            _hp5_event_props.1777419944=%7B%7D; _clck=1rz674r%5E2%5Eg39%5E0%5E2225;
            crisp-client%2Fsession%2F5d9c651e-6a02-41be-9102-aa164316299e=session_0dc92a78-8014-4473-a729-1c2fce4ebb7d;
            _ga=GA1.1.795788936.1770103833; _ga_G395TWPSMP=GS2.1.s1770103833$o1$g0$t1770104049$j60$l0$h0;
            _hp5_meta.1777419944=%7B%22userId%22%3A%228240551021397845%22%2C%22sessionId%22%3A%225645348011799256%22%2C%22sessionProperties%22%3A%7B%22id%22%3A%225645348011799256%22%2C%22time%22%3A1770358001987%2C%22referrer%22%3A%22https%3A%2F%2Fworkhub.dashboard.wristband.dev%2F%22%2C%22utm%22%3A%7B%22source%22%3A%22%22%2C%22medium%22%3A%22%22%2C%22term%22%3A%22%22%2C%22content%22%3A%22%22%2C%22campaign%22%3A%22%22%7D%2C%22initial_pageview_info%22%3A%7B%22time%22%3A1770358001987%2C%22id%22%3A%22%22%2C%22url%22%3A%7B%22domain%22%3A%22docs.wristband.dev%22%2C%22path%22%3A%22%2Fdocs%2Fquick-start-create-a-wristband-application%22%2C%22query%22%3A%22%22%2C%22hash%22%3A%22%22%7D%7D%7D%2C%22identity%22%3A%22workhubconnect77%40gmail.com%22%7D;
            CSRF-TOKEN=e903b77dbc0344d92538f7a51abfc9c4be0b595f270b29ca8a8d5563511ade85; _hp5_let.1777419944=1770360624117;
            session=AQAAAZwxt1pMBZ9ns5JhBwtSvZ9q1ZokA4XqLVdbvWclj8SGsJaGkDpMEePcdymXQ8tD6cwf4QF3TBBE%2FPTUU5DZltSSQKZwURfiXYzw07gehTuhqysl07sRljcLpsBfQRg83yM25MqyHwxpwgNhktJdtV8q0ZmpimN5motUN7zLpCqqUsfFHTIJa56uk05q2uYTUmj6X527s3gSxRdJB87RveCo%2FNSoaQPcHvIRzLIcrUg03j8Y0122SXTT2lpI6W4DZcBfKFNVcbQ4ct1pry5YernrcYlVWsvRNUJZqlRBvmNV3KmuBB0HlGUDoxaJdPFzjgz%2FUZbDytIaXpp8CsLjvC2fKptNfIU69edL%2BpEfROeA%2BJJisYJYqWYD%2F41dEhzzREQZGKBcrwFh26yGMTeMfzQr4EoTTNh8VZyZnOeooIkCXPhpLOiXL883BKL6%2Bk0iVrEktPZUOZ6vK4wxJt2ig3NF7JcNIYnFoqx8ekJf1exuDWrQFE7SDLBYrj0G6EKiLzbBZAatbLR7y8VrM801o5IysobpsEmOpxjqJLnNUYQwA8oZi%2BCtC5At2DfRASQMqK8BOrls%2BftTTsqnkkoi65J1KH0rmrR5caUDnIiUhXheWOe6Sl0y%2BjAT7w0Dv8lvY4tFfhbA9E7VvwpHbXTPfEPeGj3kMBvBsFwnoGQ3qJzX%2FtKRXhz%2Bl4twEw7z3kR8iIMPjD2bi79mrlKt40RU%2BuZya8T04JSsBR8O0BojjPqffcyqrc478FtiL17MFzn622%2BISSvxsKp9O76BYLwehWFpHxoUfAeVz13QEs0FnN8%2BdJJtHU%2F7PwULUi7u6KFWf%2Fg5MR6beWcWjgFB95P248CY9wKl6ZI1WUI2784Vs1Dgjf8bPYxp8OuHTd%2FU2mNZ8NzkvG%2FXMf48nKDWjXe0rKIRH5B8pqBNVFmuAh2DAwh%2BdJjb57TV4I4yhtnXnn%2BXhFmIvOgnC6e18p9BSrCVXzOdAYAuhKUmg8xFEWcjmKRozx2EWWZbew5FrrcZt%2B%2BZ9KLC9L09om9%2BV3XgTwELnSFBNwxwYO6QIqSBGcdDitZgrwYrcfSi1FHoCBpTtedJH5JUQ%2FwLernpMDEQzR86ZCgwLNQCr8sehJVYye9vUjSz7t5y5WzAfdnEv2Q1JRcBVEDnTFOVm9tlkVi4t2boLzWSpNaaT0KN%2BEGHGjyy41NROEw9TNoPe5qJNgsnm1MxJ3ZenVpCMWv%2FqCPciqGU0xV0zQsBjzv5gUeK%2FzILXxY5IXHXGhYgi8CikETXObfGsnFiRQ9nZ3nheJ1Bh68awYxNoBKevaA7YYzOPC9lw18GP6rvc9iFHAchrpfLn4aJuHjFcneiVTioapabPdFDCNf1Dnpuean5hYrXH%2FN7Jq2cFi9c3E6zS35Szf4G5xvkRq5hVBpEk4m4rRWLQvZig19%2BQsgw3iGkye2YpSJILuas%2FbMX3v4oZkx74XSiC09rwVd09guA1xCpgE%2FjiTyAuX7otiyGS9ZAEfTyzmji3IIhtJIWQvUUw3umR8F9%2BwDZTpkJQUIJRFgQypcRRCtW9YReQtKGmAb1yrg5vTYBPV4OkyKeJ5H1yxWI5dHvxcAgNtZGVjvewtXFnZbU4QjkULSyqEl7LI8lrorIQ%2B3CeZIdmDX9eVB%2Fgl2Yz5MnclLusTnNWkXTOgzXdFN%2BBn8cQXWgh4rvC90G%2F%2BmNSZbSepBfooQfcm3M695mpKCub0OJnj72Bx6gUOLZp%2Bu6XwiqY%2BGgsmcGrNHZDwJqeDdq7nZBRvnvWrz5n8RjOFAFcuXi0LLtMviRE4SotRca7XuFPTcaRVOmOLHoni%2FHLwlCL1QjaSRVBG59Ud770nFKoA6Py1A7aWiUxLjvjz1jEAeSM6qC4PXD%2B2EFbU6MFi5vli4PlxNGfMOksAxCkZH5TCvffoOPypaHpIekPq5OY%2FAaYKeohedQTONrVs2%2BbXN6ajlG961FK%2BZ1Uo54FJrzkOD1Yi7Ar%2FQ28AvNsHGJ%2FaaVEybUg%2BQqgy1KlSkDkzg5NAcZUrm7fST5sG7896fLgC2UM%2FySK6mjPMbzwLB2pVFHQ8mLVV9muHaWaKFevf7zVjzhS9KCS5A6CM2nyey7u6pu8Uv%2F9BBKMo4tE911nEr2G1jbVIA9WHCuL1BiC%2FgqwJLvMbNQEAG6ynzxRbEdIYvVaTVKJtSl2ZnQP5lqIMemsZKaGh24YOoGggTWrYcYItzZW%2FtjhItKy%2B%2BPj1hgWo8hDSOHSSoQ4H3yI%2BtY4LNmBq%2FW37gcl3ZKN2fE1Mhx9%2FJhWkZxLdqPxcvlmLJ1AbGfa%2FJCvCijcad8jErqH0k34f9KFtbtn0o5ilsBSnB4EEadCw%3D%3D
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/workspaces/hkkvgouwjrf6tc3nuysncuqjr4/applications:
    get:
      tags:
        - General
      summary: applicationsGet
      parameters:
        - name: accept
          in: header
          schema:
            type: string
          example: application/json
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-GB,en-US;q=0.9,en;q=0.8
        - name: dnt
          in: header
          schema:
            type: integer
          example: '1'
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://workhub.dashboard.wristband.dev/home
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Not(A:Brand";v="8", "Chromium";v="144", "Google Chrome";v="144"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"Windows"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-origin
        - name: user-agent
          in: header
          schema:
            type: string
          example: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36
        - name: x-csrf-token
          in: header
          schema:
            type: string
          example: e903b77dbc0344d92538f7a51abfc9c4be0b595f270b29ca8a8d5563511ade85
        - name: Cookie
          in: header
          schema:
            type: string
          example: >-
            _hp5_event_props.1777419944=%7B%7D; _clck=1rz674r%5E2%5Eg39%5E0%5E2225;
            crisp-client%2Fsession%2F5d9c651e-6a02-41be-9102-aa164316299e=session_0dc92a78-8014-4473-a729-1c2fce4ebb7d;
            _ga=GA1.1.795788936.1770103833; _ga_G395TWPSMP=GS2.1.s1770103833$o1$g0$t1770104049$j60$l0$h0;
            _hp5_meta.1777419944=%7B%22userId%22%3A%228240551021397845%22%2C%22sessionId%22%3A%225645348011799256%22%2C%22sessionProperties%22%3A%7B%22id%22%3A%225645348011799256%22%2C%22time%22%3A1770358001987%2C%22referrer%22%3A%22https%3A%2F%2Fworkhub.dashboard.wristband.dev%2F%22%2C%22utm%22%3A%7B%22source%22%3A%22%22%2C%22medium%22%3A%22%22%2C%22term%22%3A%22%22%2C%22content%22%3A%22%22%2C%22campaign%22%3A%22%22%7D%2C%22initial_pageview_info%22%3A%7B%22time%22%3A1770358001987%2C%22id%22%3A%22%22%2C%22url%22%3A%7B%22domain%22%3A%22docs.wristband.dev%22%2C%22path%22%3A%22%2Fdocs%2Fquick-start-create-a-wristband-application%22%2C%22query%22%3A%22%22%2C%22hash%22%3A%22%22%7D%7D%7D%2C%22identity%22%3A%22workhubconnect77%40gmail.com%22%7D;
            CSRF-TOKEN=e903b77dbc0344d92538f7a51abfc9c4be0b595f270b29ca8a8d5563511ade85;
            session=AQAAAZwxuwfZx2qW%2BK7r3O4xBwTmoLcK7ZcG0NKjJrcK6Yr5pOOdgYs7SctTTuiJlUKiRq14nb%2Bq8FGzRdMqThDzBA3rHZLQe12YPUlu2HShtA%2FH78iRyctvmIUqCV3Sig7%2BNjtvpy23G9mMS%2Fpc64lESVs0z23DJtte5Q7yQ6ZaLGGDnIrP0uvYfc4iQDJ%2FArLEC5XFdEg48ZCjv1SD1ETi3UTbTLr3vYfIs%2BVlT%2BC2ZgWJoAIgcoAt7fRDcetc3Q6Uz3SJvtYOruiLCfTnBPF%2F7QUL1FsWQxkA3mrmyqlCigqPoolGbv4pIOEfwd%2FwOEezbucDxP92TcxegxBs5rsCuZPGkRaQM9u289ec5DPFmw%2BzFZHmAlUbLc6KByiEy9LcFoz%2BjROex0wXe50hBk%2F5U8eiFPdePNstXAe8FfuyG5yCLFDyM6qthueJpUby68EtpLasjInJwLbfFgQOrO%2FAUkdNsQEMhReedEl07QnE7Wz7chQSiV30CDHD9eQktSdq%2F0Uf1VLswzHjs8Y95WhUiqSb02MzvfQL4KrUw0bk25%2B2gMQTo%2FFJVQLB75yJurHKXrud4sO8SJ3a4yXm2h9T0kHeERJXpLvrc54jkHOmmtC8%2FpkF0BsSWM7hqKGJzAgir8RkpmtZhUo8vsrPKi9s49sUOvIj6nsR3gC0jxv2eTBpQ0u%2By%2FdDndGGMeH794S%2BnTGyrevegAk5euUtdEHZwDu5CxNWzNxpM2m41pG%2FHDPQEhmRQAfMfGqyv6LeE2%2BPoEMMAqyridYyMbMg3tEm8up0CdGfHdyVQhiOCRHOE%2BaH0Nt%2BuFdPgmMYZuDakPwQCM0c032ghm7%2Byqq8Pb5nw8v7SSBARTBJDAfEJwgKcZ%2FbLWqqTvPSi82qXW98tDa2%2Fw5woG5fLQEUb9BbUNt0UjrlfhZsswQMrse6jDm7xbyD3hBX9e%2BJpwaGS0PTwKYQD2LBlH%2FVYezMeacMlh%2FfJNN9q2WqRA%2FRwJwLuHK0vNrYTOepit%2FQIQaRPtORpdJ0W2PdudtQISdDTYH2gMivhcMIDOa3JgGw9mLSjuqPOhZqrm34%2FNRavocyGMkbiuEABrgUQY8lq30%2Fe6wvxX87NFO1JWvXClX5%2FA5vdUzAkQ2hIra8rPPkWVJDrRsgK0ceJhr0IhGOltu4TlscO7btz1SknN99dHnsNgYlsJBFQWZ0iN%2Bh1Wp75pDCwrrjGiSoNJzPQLBtWkk3QArNhkTiwY8JzfRjuY4o7cdUrnM0yLjtViWWE1ZLfxz3RKcL3r0FJ7FEIhviOIvNNqtPw8ZTxOBY1l5%2FeFTKGDGvvkulWDUnBLTxQrLjzEYE4x829fDfCVFOQhGm6pRILoGAvxxtrOZ6pSO3cW2kfkZ8yKGiGFqrEkfDvQv94usUHSdL3ZMRDOP6yQHPauk%2FV3mxKsKubuvYbIc29k0%2FbpcIyLfSQIzssNZqbD%2B3%2BIpHu9P3gPMU6JHedmFal3fNn5Gm29QcIgo8%2BD5mMQxsxCK8r388kGPxAXkN5vxwvgVLzx9fnemQatwegXX37k9ayYeMhidggbvNl036XM3Em4SqDTjAY1X%2BerUwOjqkyXQQzIjwD6oRQtbKa5uqNZu3%2B5y14L9%2BaczcmO%2F%2BU4gQbAt%2FOFyH35zsHK4U9tJxLnS5cCw8WGFlFzAptxAkWM%2BfyD3vohzL6vd0txwL4%2BHRpH7u8UopK3%2FhBtpV3MtitJkkPQjcbrpEI7vNlHoHym2sazz78EGbL%2FHW%2FQNT%2FmjxxmXZ4d4CnWsFPyfSKNuIbEl5qkBt8EBpPZ0UuH2oKMpGd0eeS%2FBJ9KFT6f5KhM8Kh5sWrgPOCpWjWCfBlSDYhdYmYy5SkNVVoJIJgae3cASORqTR7OghXxMlJcoK4gIbu5SKO6KwA%2F3UEboNMQwf7C%2Bk116QFZpWJa7tea1dMqqHby%2BaOF2M%2B%2Fx33uY1fOP%2F%2Fo94MzAnR6d7V%2BztMkUYseRK%2FIuPtTiQ%2FKjtSVsmq1Uztm22vsH3pGLBuVLfP%2FuJB%2FTZIq3t5PJK3aQG%2F1GMTR1xIbJ%2BRcclzp0x8Ngkf5haqSImhqcj5%2F9PLA9h91Mf8dqb1QtgZyitmRfa%2B%2BiEBGMm%2B6gOQlBXpw%2B8enzik6JAq9fsxu7MI17hGWOEB%2Bvg4%2BB6%2B1Ec%2B%2FcaP7vCcicXMpU7PhZ2jlYiz5Vbi%2BmO3TwpR3%2Fxl8X4d2nClWJ10%2BJ6WgwkxFSYd%2Fboksla9GsDCVhdc3sGEuNU7SF9VzJUHJ2BxqKfF9RyshNNqd4Z6sWo2jihSwD%2BPDAVVOGr8jnuzmLTxuyxjzgP604vezKTAbs7dBd3SMLRsQfgeyHFUsMgHXx9Rxb1ZeZwSQ%3D%3D;
            _hp5_let.1777419944=1770360889454
        - name: fields
          in: query
          schema:
            type: string
          example: id,domainName,vanityDomain,displayName,isMultiTenant,environmentType,status,metadata.creationTime
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/applications/sr7bkh6oqbdjlezsmgbyeodxem/application-context:
    get:
      tags:
        - General
      summary: application-context
      parameters:
        - name: accept
          in: header
          schema:
            type: string
          example: application/json
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-GB,en-US;q=0.9,en;q=0.8
        - name: dnt
          in: header
          schema:
            type: integer
          example: '1'
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://workhub.dashboard.wristband.dev/application/sr7bkh6oqbdjlezsmgbyeodxem/settings
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Not(A:Brand";v="8", "Chromium";v="144", "Google Chrome";v="144"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"Windows"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-origin
        - name: user-agent
          in: header
          schema:
            type: string
          example: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36
        - name: x-csrf-token
          in: header
          schema:
            type: string
          example: e903b77dbc0344d92538f7a51abfc9c4be0b595f270b29ca8a8d5563511ade85
        - name: Cookie
          in: header
          schema:
            type: string
          example: >-
            _hp5_event_props.1777419944=%7B%7D; _clck=1rz674r%5E2%5Eg39%5E0%5E2225;
            crisp-client%2Fsession%2F5d9c651e-6a02-41be-9102-aa164316299e=session_0dc92a78-8014-4473-a729-1c2fce4ebb7d;
            _ga=GA1.1.795788936.1770103833; _ga_G395TWPSMP=GS2.1.s1770103833$o1$g0$t1770104049$j60$l0$h0;
            _hp5_meta.1777419944=%7B%22userId%22%3A%228240551021397845%22%2C%22sessionId%22%3A%225645348011799256%22%2C%22sessionProperties%22%3A%7B%22id%22%3A%225645348011799256%22%2C%22time%22%3A1770358001987%2C%22referrer%22%3A%22https%3A%2F%2Fworkhub.dashboard.wristband.dev%2F%22%2C%22utm%22%3A%7B%22source%22%3A%22%22%2C%22medium%22%3A%22%22%2C%22term%22%3A%22%22%2C%22content%22%3A%22%22%2C%22campaign%22%3A%22%22%7D%2C%22initial_pageview_info%22%3A%7B%22time%22%3A1770358001987%2C%22id%22%3A%22%22%2C%22url%22%3A%7B%22domain%22%3A%22docs.wristband.dev%22%2C%22path%22%3A%22%2Fdocs%2Fquick-start-create-a-wristband-application%22%2C%22query%22%3A%22%22%2C%22hash%22%3A%22%22%7D%7D%7D%2C%22identity%22%3A%22workhubconnect77%40gmail.com%22%7D;
            CSRF-TOKEN=e903b77dbc0344d92538f7a51abfc9c4be0b595f270b29ca8a8d5563511ade85;
            session=AQAAAZwxvUi5tDdoBxJQm6ZF6GNm2nCK6C9Jhhy37WhCB5AOehUTig%2F4Zc4FT2cPGntgYaUbPR3vb7nWCGyjgG9my0DS25EDLXHtLE5MT5jVTMMxOWUV83h9OkFlOhUBv%2B69DF4fI5697bkJONi7ao0tLwEMfYcUEPLDP0xzNR%2BXWOE97nK%2Bn0%2BQnefi3NxBBKHFmnTLR4Pf6%2B5hftiC9feXeL6%2FM5gYejyZjg2tCKhulhqkXyUKTPd7IuZ3UjC9zDRMsKImMUAyDxATh0g1F62xGrb3tM10vmpvGEH9ssoB%2F%2FaAAnHvbf2yBatc5w%2Fq1Mz%2FozR%2FLrMdWHm%2BnqzNUkFUvTX5768MXOFS3NIC2vZEoAr0qKTbsiVuerJWvgN4gey8phmUQianS8vgbl7x7L7n%2F4wOlCm7lMuKhlpeGKALkUw3vR6HfeGR1vwPSwFq%2FTkoE%2FS0khsxX5aET9YI87jDcs4YWhlulW%2Faxh8sZyhrYVtxfl%2Fj%2Bt1enlUgmxKGzd94Ij%2BaO62uxc8HEAd0CeRq8P2ysK9O1gVKGOLOuW4THeSTVTEYNeZz5EbVAOvgyM6LknR09wDRQAl9LN8ZXX%2FieTjQebWP7ZjYGtt4a3K%2FCl7KzTW4HtGY5jKZImHs3KmLJ3jPIV8tyflkhLRCmpD%2BL%2BYCBRDKotow1eHFM6AYrRZjbs82N5CgEIbkHRT2qTrSA4%2FgDjZITYYyT1KGtauUllJEEs9oOpxmPWltr9%2B60LaQeg70NTTestwZAYSgiLWyn%2B1k3CiQ7jkZAvg7GP6TxEo0KW17kgai06qaeuZH6GeGrYXqsSzmE%2F4i1HMblFI8l1fZfNKvAkLTdjGzNyFqzrlScpB1rNVnEibTTEs4rKXQuXX8dtyXcprQgSOYxlfZaPhxL6D8iclcEIwLAApqH7sYI%2FHYxCT7ehtPgiM6m6GgwFXWwlJEV7FTtn3J6KSBvVh8VbSrUt8w3MIrqBa0HVD3vDysrGygI9lSt4bSNNu6FpmqTovzP4PYO2Mf4TeTqLZ4v1MD78j9hYJBWSG%2Bi%2FbZRiOtXZbbCQKP2zd%2FMewVKq82NPeTkJdAAL%2FpTqUKf86jc6gh%2BQXF4oBDGl9HuuHyRG5dzKCXZhkphHtP8vBRKDlTJCmXJO1ygo97b5VcKfx04rBBGzC%2ByKS%2BhpIPR5N5YOLudtD0XCYYH3vDHNF2SaslK7Vd%2B%2Bx4mw%2FYRJYVDgBXUCqI045EoF7ae7l%2Fr5bHRqCWeOwXXB1tHF1x7ADcI1dQczIyYtk6LYE4ZQp8W%2FRWURutrEmy7sQeUEntwFbNfH5Xcw0U7EJyThOHtssL%2FcJ%2Fo7V0u36Q5897KPWZvbJ0mSQx%2FDQs0w9Pkq85IMvo8TtwPmUz5i7wTHaTJw%2BJrBL5TQQOFf22PDMpINxUhWexk%2FoAmXEO%2ByuRRwlbR5hqN%2Fw8hTL0uvsYSgtvXiulIc0ZLyEoLkjEUjMm%2B%2F5%2FNGdZTutZkQLtUAUSgM763rFOd%2FCq79gg27tFkGs5n5GQefJ4lJysIqz41PbL6vX9B3ssHEyyy%2BF6CQd%2FcDKIoluLYJMcU8HSy8zsajx7YHqPbxAq%2Bpscbf3veE0U3e9%2BuSaNC3s2l4cYbbkj0phBn4PtVClMigLWdJHRy6TU0xBTEb40AxXX9cGFUVd6Wf7CQJpxjYfrVl9pvNqTcazu0hTzp35DJtwcbHsFwc4L1SHe0XZCfca7BD7hYVbhCTQ7ZKzDzaDekXzG6SfWwj5kWvuIcPNSZPXCTUM%2BIHGrhWIcGtNEi8QHp%2BYwIH2dsoiLLaPDw9bWd2EHyaIkyu7ZRC00JhmYph%2FITwgABHI8T3O55ZbFLAVr14SAKGHno1PD422mfSokM8j%2BatlAnAHInaBlY%2BD3%2BUZKSEPi%2B5vn49Bj7yFlufY9gSGfpcDDoNaarh3t89W%2FYULS1vdbp6Oh9pvExW9x%2BWRZkJFwCCz5CTF%2FpzG%2FmUqZyLOlOoINXnWqk8ntdM48XbSsm%2Fov4sTl%2BNu9WifaiZEAJdzYdFg8b8z4kYNwlsVS5qV%2BMtTnNvY4mEzm9E7dMcpPRNJmkqqpJnk1xG9rZEc9sfaajKmuQq3TetBbKMgBATcIqpN9QOvGB5R6jr7zRl4dJ49Dj0eVgheub1n%2B45QeXPrdFGs5qi6RRZ8LTKgc6HQ%2Br%2FZrXyC49Jp8Bt%2BCcr%2Fz9MO0kIVsMAS7F91hZ6kCj1G2f88IsOtQillY5NeoIa72lOc%2BY18ft9A3Pakxcy0lXobCbcOJfx6MteG9hQ8FNBSiwzJYfvbQwoVC9tL7mkC7txe1jHb%2Fv3itNhqAXxqNZ9AKah54e2wxgJhJ8ChLLgiJzMBJsL8Ggg%3D%3D;
            _hp5_let.1777419944=1770361032703
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/applications/sr7bkh6oqbdjlezsmgbyeodxem:
    get:
      tags:
[...]
